<modal #informationDialog [ngClass]="params.dialogClass" data-crlat="d.info">
  <ng-template #modalHeader>
    <span data-crlat="dTitle" data-uat="popUpTitle" [textContent]="params.caption"></span>
  </ng-template>
  <ng-template #modalBody>
    <div [innerHtml]="params.text" data-crlat="popUpText"></div>
    <div class="btn-list">
      <ng-container *ngIf="params.buttons?.length">
        <button *ngFor="let btn of params.buttons; trackBy: trackByFn"
                class="btn"
                [ngClass]="btn.cssClass || 'btn-style2'"
                [textContent]="btn.caption"
                (click)="handleBtnClick(btn)"
                [attr.data-crlat]="'button.' + btn.caption">
        </button>
      </ng-container>
      <button *ngIf="!params.buttons?.length"
              class="btn btn-style2"
              [textContent]="'ok'"
              (click)="closeDialog()"></button>
    </div>
  </ng-template>
</modal>
