<div class="quickbet-panel" id="quickbet-panel" data-crlat="quickbetPanel"
     [ngClass]="{'quickbet-slide-up': slideUpAnimation, 'quickbet-panel-receipt': isState('receipt')}">
  <div [ngClass]="{'hidden': showIFrame}">
    <header class="quickbet-header" data-crlat="header" *ngIf="!isState('deposit')">
      <div class="title-section">
        <svg *ngIf="isFiveASideBet" class="qb-header-5-a-side-logo">
          <use xlink:href="#icon-logo-five-a-side"></use>
        </svg>
        <h3 class="qb-header-title" [textContent]="title" data-crlat="header.title"></h3>
      </div>
      <div *ngIf="showCloseIcon" class="qb-header-close-btn" (click)="closePanel($event)" data-crlat="closeButton">
        <svg>
          <use xlink:href="#close-icon"></use>
        </svg>
      </div>
    </header>

  <!-- Quickbet MS unavailable panel -->
  <div *ngIf="selection && selection.error">
    <request-error *ngIf="!selection.error.selectionUndisplayed"
                   [loadFailed]="selection.error"
                   (reloadFn)="reuseSelection()">
    </request-error>
    <div class="selection-undisplayed-error"
         *ngIf="selection.error.selectionUndisplayed"
         [i18n]="'quickbet.betPlacementErrors.' + selection.error.selectionUndisplayed"
         data-crlat="selectionUndisplayed"></div>
    <div class="quickbet-controls">
      <button class="qb-left-cta-btn"
              [disabled]="selection.error.selectionUndisplayed"
              (click)="addToBetslipFnHandler()"
              [i18n]="'quickbet.buttons.addToBetslip'"
              data-crlat="addToBetslipButton">
      </button>
      <button class="qb-right-cta-btn"
              [disabled]="true"
              [i18n]="'quickbet.buttons.placeBet'"
              data-crlat="placeBetButton">
      </button>
    </div>
  </div>
  <!-- Quick Bet Information Panel -->
  <quickbet-info-panel *ngIf="isState('initial')"
                       [qdIsShown]="true"
                        data-crlat="infPan.msg"
                       (externalLinksFn)="closeFnHandler()">
  </quickbet-info-panel>

    <quickbet-selection *ngIf="isState('initial') && !showIFrame"
                        [isLogAndQuickBetPending]="loginAndPlaceBets"
                        [selection]="selection"
                        [placeBetPending]="placeBetPending"
                        [ycOddsValue]="ycOddsValue"
                        [quickDepositFormExpanded]="quickDepositFormExpanded"
                        [showIFrame]="showIFrame"
                        (placeBetFn)="placeBet()"
                        (closeFn)="closePanel()"
                        (addToBetslipFn)="addToBetslipFnHandler()"
                        [leftBtnLocale]="leftBtnLocale"
                        (openQuickDepositFn)="quickDepositFormExpanded = true"
                        data-crlat="quickbet.selection">
      <ng-content select="your-call-body" ngProjectAs="your-call-body-details"></ng-content>
    </quickbet-selection>

    <quickbet-receipt *ngIf="isState('receipt')"
                      [selection]="selection"
                      [betReceipt]="betReceipt"
                      [ycOddsValue]="ycOddsValue"
                      [winAlertsEnabled]="sysConfig.winAlerts && sysConfig.winAlerts.enabled && device.isWrapper"
                      data-crlat="quickbetReceipt">
      <ng-content select="your-call-receipt" ngProjectAs="your-call-body-receipt-details"></ng-content>
    </quickbet-receipt>
  </div>

  <lazy-component *ngIf="quickDepositFormExpanded"
                  class="qb-quick-deposit-iframe"
                  moduleUri="@quickDepositModule/quick-deposit.module#QuickDepositModule"
                  [inputs]="{
                        showPriceChangeNotification: showPriceChangeMessage,
                        priceChangeBannerMsg: priceChangeText,
                        estimatedReturnAfterPriceChange: estimatedReturnAfterPriceChange,
                        placeSuspendedErr: placeSuspendedErr,
                        showSuspendedNotification: showSuspendedNotification,
                        stake: getTotalStake(),
                        estimatedReturn: +selection.potentialPayout
                        }"
                  [outputs]="['openIframeEmit', 'closeWindow', 'closeIframeEmit']"
                  (event)="onQuickDepositEvents($event)"
                  entryComponent="QuickDepositIframeComponent"
                  data-crlat="quickDepositPanel">
  </lazy-component>
</div>
