@import 'global.variables.less';

/*******************************************************/
/*** New design for betslip ***/
/*******************************************************/
@bs-default-font-size: 12px;
@bs-title-font-size: 14px;

@bs-input-border-color: rgba(65, 73, 78, 0.25);
@bs-input-border-color-focus: rgba(65, 73, 78, 0.8);
@bs-color-gray: rgb(65, 73, 78);
@bs-color-button-gray: #e3e4e5;
@bs-stake-body-basis: 180px;

.bs-remove-outline() {
  outline: transparent 0;
  box-shadow: none;
}

/* To fix space when deposit form is present */
.full-height {
  height: 100%;
}

.sidebar-container-full-height,
.bs-wrapper-block,
.bs-receipt-wrapper {
  position: relative;
  height: 100%;

  free-bets-notification {
    margin: 5px;
  }
}

.bs-content {
  .display-flex();
  .flex-direction(column);
  overflow: hidden;
  height: 100%;
  font-size: 12px;

  &.bs-content-height {
    height: 100%;

    .bs-selections-wrapper {
      max-height: 440px;
      overflow: auto;
    }
  }

  &:not(.bs-content-height):not(.bs-content-quick-deposit-vanilla) {
    /* For betslip widget */
    @media only screen and (min-width: @tabletPoint) {
      max-height: @bs-content-max-height;
    }
  }

  .row {
    padding: 3px 0 0;
  }

  .item-inner > .row {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      bottom: 0;
    }
  }
}

.bs-selections-wrapper {
  .flex(1, 1, auto);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  @media @mqTabletAndDesktop {
    padding-top: @bs-content-margin-top;
  }

  accordion {
    padding: 0;
    margin: 0;
  }
}

.bs-footer-anchoring {
  margin-top: auto;
  .flex(0, 0, auto);
  position: relative;
  z-index: 4;
  width: 100%;
  .bs-notification {
    padding: 10px 15px;
  }
}

.bs-wrapper-block {
  .bs-footer-anchoring {
    .bs-notification {
      &:after {
        display: none;
      }
    }
  }
}

.is-drawer-shown {
  .bs-wrapper-block {
    min-height: 470px;
  }

  .drawer-body {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.bs-footer {
  .display-flex();
  .flex-direction(column);
  font-family: @base-font-family;
  background-color: @color-gray-light;
  &.with-shadow {
    box-shadow: 0 -2px 3px 0 rgba(148, 147, 147, 0.5);
  }
  &.keyboard-shown digit-keyboard {
   padding: 12px 12px 7px;
  }
}

.multiples-header {
  background-color: @color-gray-light;
  margin: 0 5px;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 12px;
  color: @brand-color-dark;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1px;

  @media (min-width: @tabletPoint) {
    margin: 8px 0 0;
  }
}

.multiples-header ~ .stakes-wrapper {
  padding: 0 5px;

  @media (min-width: @tabletPoint) {
    padding: 0;
  }
}

.stakes-wrapper {
  &:first-of-type {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 5px;
  }

  .container-header {
    margin: 0;
    min-height: 30px;
    max-height: 25px;
    font-family: @base-font-family;
    font-weight: bold;
    font-size: @bs-default-font-size;

    &.toggle-header {
      background: @color-gray-light;
      color: @color-gray-dark;

      &:after {
        left: 15px;
        width: 10px;
      }

      &:before {
        left: 19px;
        height: 10px;
        margin-top: -5px;
      }
    }
  }

  .page-container.is-expanded {
    .container-header {
      background: @color-blue-lighter;
      color: @color-white;
    }
  }
}

.bs-all-stakes {
  .bs-stake-info {
    .display-flex();
    .align-items(center);
    padding: 0;
  }
}

.all-stakes-title {
  font-size: 14px;
  color: @color-gray-dark;
  text-transform: capitalize;
}

.stakes-wrapper {
  padding: 5px;
   @media @mqTabletAndDesktop {
    padding: 0;
  }
}

.bs-stake-actions {
  flex: 0 0 22px;
  z-index: 1;

  .bs-stake-delete-button {
    position: absolute;
    left: 12px;
    top: 16px;

    svg {
      fill: rgba(65, 73, 78, 0.85);
      width: 12px;
      height: 12px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.bs-stake-info {
  padding-top: 5px;
  flex: 1 1;
  word-break: break-word;
  .clearfix();

  .bs-stake-title {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: @color-gray-dark;
  }

  .bs-stake-subtitle {
    .bs-stake-type {
      display: inline;
      vertical-align: middle;
      margin-right: 4px;
    }
    .bs-stake-info-button {
      vertical-align: middle;
      display: inline-block;
      height: 14px;
      width: 14px;
      .info-button {
        height: 100%;
        width: 100%;
      }
    }
  }

  .bs-stake-title-lines {
    font-weight: 400;
  }

  .bs-stake-type {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: rgba(65, 73, 78, 0.65);
    font-weight: 400;
    margin-bottom: 4px;
    margin-right: 5px;
  }

  .bs-stake-event-name {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: @color-gray-dark;
    font-weight: 400;
  }
}

.bs-stake-content {
  .display-flex();
  position: relative;
  flex-wrap: wrap;
  padding: 12px 16px 13px;
  .bs-stake-row {
    display: flex;
    width: 100%;
  }
  .promo-labels-row {
    padding-left: 22px;
  }
}

.bs-stake {
  position: relative;
  width: 100%;
  font-family: @base-font-family;
  font-weight: 400;
  background: @color-white;
  margin-bottom: 1px;
  max-height: 100%;

  .non-multiplelegs-outcomes {
    .stake-type {
      font-size: 11px;
      text-transform: lowercase;
      color: @color-gray-dark;
    }
  }

  .tote-race-details {
    margin-top: 6px;
    .stake-description {
      margin: 0;
      line-height: 13px;
    }
    .race-date {
      font-weight: normal;
    }
  }

  .multiple-legs-pool {
    font-family: @base-font-family;
    .leg-item {
      border-bottom: solid 1px @color-gray;
      padding: 10px 0;
      &:last-child {
        border-bottom: none;
      }
    }
    .leg-item-title {
      font-size: @bs-default-font-size;
      font-weight: bold;
      color: @color-gray-dark;
    }
    .outcome-item {
      padding-top: 5px;
    }
    .outcome-item-title {
      font-size: 10px;
      font-weight: normal;
    }
  }

  .bs-stake-body {
    .display-flex();
    .flex-direction(column);
    .align-items(flex-end);

    .bs-stake-body-row {
      .display-flex();
      .align-items(center);
      .justify-content(flex-end);
    }

    .estimated-returns-ew {
      .display-flex();
      .flex-direction(column);
      .align-items(flex-end);
      margin-top: 10px;
    }

    .stake-est-return {
      line-height: 14px;
      font-size: 12px;
      color: @color-gray-dark;
      text-align: right;
      padding-left: 10px;
      white-space: nowrap;
      span {
        white-space: nowrap;
      }
      .stake-est-return-number {
        font-weight: bold;
        margin-left: 3px;

        &.offered {
          color: @color-green;
        }
      }
    }

    .stake-input {
      position: relative;
      overflow: hidden;
      padding: 1px;
      margin: -1px;
    }

    .stake-input > input {
      @shadow-color: rgba(162, 162, 162, 0.06);

      width: 80px;
      height: 35px;
      padding: 10px;
      border: 1px solid @bs-input-border-color;
      font-size: 14px;
      line-height: 30px;
      color: @brand-color-dark;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      background: transparent;
      position: relative;
      z-index: 1;
      margin: 0;
      font-weight: 400;
      box-shadow: inset 4px 4px 7px 0 @shadow-color;

      .appearance(none);
      .custom-placeholder({ color: @bs-input-border-color-focus });

      &:focus {
        .bs-remove-outline();
      }

      &.dk-active-input {
        border: @bs-stake-input-border-focused;
        box-shadow: @bs-stake-input-shadow-focused-out, @bs-stake-input-shadow-focused-in;
      }
    }

    // tote stake only
    .currency-label {
      .display-flex();
      .justify-content(center);
      .align-items(center);
      position: absolute;
      left: 2px;
      right: 2px;
      top: 0;
      bottom: 0;
      padding: 10px;
      text-align: center;
      z-index: 0;
      color: transparent;
      font-size: 14px;
      overflow: hidden;

      &:before {
        content: attr(data-currency);
        color: @brand-color-dark;
        display: none;
      }
    }

    .stake-input.tote-stake > input {
      width: 95px;
    }

    // tote stake only
    .stake-input.show-currency {
      & > input {
        &[data-currency-length="1"] {
          padding-left: 15px;
        }
        &[data-currency-length="2"] {
          padding-left: 20px;
        }
        &[data-currency-length="3"] {
          padding-left: 40px;
        }
      }

      .currency-label:before {
        display: block;
      }
    }

    .stake-input.offered {
      input {
        color: @color-green;
        -webkit-text-fill-color: @color-green;
      }
    }

    .stake-input > select {
      padding: 0 15px 0 0;
      border: none;
      border-radius: 3px;
      .appearance(none);
      background: none;
      color: @color-gray-dark;
      font-size: 14px;
      font-weight: bold;
      &:focus {
        .bs-remove-outline();
      }
    }

    .stake-input .stake-input-arrow {
      position: absolute;
      top: 1px;
      right: 0;
      pointer-events: none;

      svg {
        width: 10px;
        height: 6px;
      }
    }

    .stake-input > select.offered {
      color: @color-green;
    }

    .stake-odd-number {
      color: @color-gray-dark;
      font-size: 14px;
      font-weight: bold;
      vertical-align: middle;
      &.offered {
        color: @color-green;
      }
      &.boosted {
        font-size: 11px;
        font-weight: normal;
        text-decoration: line-through;
        color: @color-gray-dark;
        opacity: 0.75;
      }
    }

    odds-boost-price {
      margin-right: 8px;
      vertical-align: middle;
    }

    .stake-odds {
      text-align: right;
    }

    .stake-odd-container {
      display: inline-block;
      vertical-align: middle;
      margin: 8px;
      &.no-odds-boost {
        display: flex;
      }
    }
  }

  .bs-notification {
    &.overask:before {
      content: attr(title) ': ';
      font-weight: bold;
      white-space: pre;
    }
  }

  &.forecast-errors {
    margin-bottom: 25px;
  }

  form + .bs-notification {
    margin-top: 6px;
  }

  &.suspended {
    .stake-odds,
    .estimated-returns-ew {
      display: none;
    }

    .bs-multiple-part-and,
    .bs-declined-stake-content > *,
    betslip-offered-data {
      opacity: 0.4;
    }

    .bs-stake-info {
      .bs-stake-title,
      .bs-stake-event-name {
        color: fade(@bs-color-gray, 40%);
      }

      .bs-stake-type {
        color: rgba(125, 125, 125, 0.4);
      }
    }

    .bs-stake-delete-button {
      z-index: 1;
    }

    .bs-declined-stake-content:after,
    .bs-stake-content:after {
      .display-flex();
      .justify-content(center);
      .align-items(center);
      content: 'SUSPENDED';
      font-size: 13px;
      font-weight: bold;
      position: absolute;
      color: @bs-color-gray;
      background: fade(@bs-color-gray, 8%);
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }

    form,
    input,
    select {
      pointer-events: none;
    }

    select {
      opacity: .5;
      cursor: default;
    }

    .bs-stake-body {
      .currency-label:before,
      .stake-input > input {
        color: @bs-color-gray;
      }

      .stake-input > input {
        background: @color-white;
        z-index: 0;
      }
    }

    .non-multiplelegs-outcomes,
    .tote-race-details {
      opacity: 0.33;
    }
  }
}

.bs-tote-container, .uktote-receipt {
  .bs-stake {
    &-info {
      .stake-type {
        text-transform: none;
      }
      .runner-number {
        &:after {
          content: '.';
        }
      }
    }

    .bs-stake-content {
      flex-wrap: nowrap;
    }
  }
}

.bs-stake-each-way {
  margin-top: 8px;

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    color: rgba(65, 73, 78, 0.75);
  }

  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    display: inline-flex;
    float: right;
    width: 20px;
    height: 20px;
    border: 1px solid @color-gray;
    border-radius: 2px;
    background: @color-white;
    box-shadow: none;
    margin-left: 5px;
    margin-top: -2px;
    background: rgba(65, 73, 78, 0.05);
  }

  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    width: 12px;
    height: 6px;
    border: 0;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: rgba(65,73,78,.7);

    .transform(skewX(0) rotate(-45deg));
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: @color-gray;
    background-color: @color-gray;
  }

  [type="checkbox"]:disabled:checked + label:after {
    border-color: lighten(@color-gray-dark, 50%);
  }
  [type="checkbox"]:disabled + label {
    color: lighten(@color-gray-dark, 50%);
  }

  form.offered {
    [type=checkbox] + label {
      color: @color-green;
    }
  }
}

.bs-checkbox-wrapper {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  margin: 6px 0 0;

  input[type=checkbox] {
    width: 12px;
    height: 12px;
    opacity: 0;
  }

  .bs-overask-bet-remove-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    fill: @color-gray-dark;
  }
}

.bs-offered {
  color: @color-green;
}

.bs-changed-selections-info {
  padding-top: 10px;
  font-size: @bs-default-font-size;
  line-height: 16px;
}

.bs-selection-info {
  & + .bs-selection-info {
    margin-top: 10px;
  }
}

.center-text {
  padding: 15px;
  color: @color-black;
  text-align: center;
  line-height: 10px;
}

// ************

// *** Layout ***
// Layout specific CSS

// **************

// *** Module ***
// Individual modules, buttons

.bs-notification {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 0;
  min-height: 35px;

  .display-flex();
  .justify-content(center);
  .align-items(center);

  color: @color-blue-dark;
  font-size: 12px;
  text-align: center;
  z-index: 1;

  &:focus {
    .bs-remove-outline();
  }

  .bs-notification-message {
    line-height: 14px;
    font-weight: bold;
  }

  i.bs-close-notification {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;

    cursor: pointer;
  }

  a {
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  a, a:hover {
    margin: 0;
    color: @color-blue-light;
    text-decoration: none;
  }

  &.top {
    border-radius: 0 0 3px 3px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -2px;

      border-style: solid;
      border-width: 0 4px 4px 4px;

      z-index: 99;
    }
  }

  &.bottom {
    border-radius: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 10px 0 10px;
      z-index: 99;
      bottom: -7px;
      margin-left: -10px;
    }
  }

  &.default {
    background-color: @color-gray-light;
    color: @color-gray-dark;

    &.top:after {
      border-color: transparent transparent @color-gray-light transparent;
    }

    &.bottom:after {
      border-color: @color-gray-light transparent transparent transparent;
    }
  }

  &.information {
    background-color: @color-blue-lighter;
    color: @color-white;

    &.top:after {
      border-color: transparent transparent @color-blue-lighter transparent;
    }

    &.bottom:after {
      border-color: @color-blue-lighter transparent transparent transparent;
    }
  }

  &.success {
    background-color: @color-yellow-light;

    &.top:after {
      border-color: transparent transparent @color-yellow-light transparent;
    }

    &.bottom:after {
      border-color: @color-yellow-light transparent transparent transparent;
    }
  }

  &.warning {
    background-color: @color-yellow;
    color: @color-gray-dark;

    &.top:after {
      border-color: transparent transparent @color-yellow transparent;
    }

    &.bottom:after {
      border-color: @color-yellow transparent transparent transparent;
    }
  }

  &.error {
    background-color: @color-yellow-light;
    color: @brand-color-dark;
    min-height: 30px;
    font-weight: bold;

    &.top:after {
      border-color: transparent transparent @color-yellow-light transparent;
    }

    &.bottom:after {
      border-color: @color-yellow-light transparent transparent transparent;
    }
  }

  &.danger {
    background-color: @color-red;

    &.top:after {
      border-color: transparent transparent @color-red transparent;
    }

    &.bottom:after {
      border-color: @color-red transparent transparent transparent;
    }
  }

  .bs-notification-message:first-letter,
  span:first-letter {
    text-transform: uppercase;
  }
}

// Bet receipt
.bs-receipt-wrapper {
  .bs-receipt-subheader {
    .justify-content(space-between);
  }
}

// **************

// Quick deposit

.betslip-deposit {
  background-color: @color-white;

  .info-panel.error-panel:after {
    display: none;
  }

  .deposit-header-content {
    padding: 8px 0 15px;

    .betslip-deposit-header {
      position: relative;
      padding: 0 3px 20px;

      h3.bs-header-title {
        height: 100%;
        margin: 0;
        text-transform: capitalize;
        color: @lGray;
        letter-spacing: -0.1px;
        line-height: 21px;
        font-size: 17px;
        text-align: left;
        font-weight: bold;
      }

      .deposit-close {
        position: absolute;
        right: 5px;
        top: 5px;

        svg {
          height: 12px;
          width: 12px;
          fill: @color-gray-dark;
        }
      }
    }

    .deposit-info-msg {
      .display-flex();
      .align-items(center);
      svg {
        width: 15px;
        height: 15px;
      }
      span {
        margin: 0 10px;
        font-size: 12px;
        letter-spacing: -0.2px;
        color: @color-gray-dark;
      }
    }
  }

  .pay-fields {
    margin-left: 0;
    margin-right: 0;
  }
  .item-inner {
    padding: 12px 12px 15px;
  }

  form .item-inner {
    padding: 0 12px 15px;

    .pay-fields {
      .display-flex();
      .justify-content(space-between)
    }

    .row-cvv-error {
      .display-flex();
      .justify-content(space-between);
    }

    &.cards-inner {
      padding: 15px 12px 3px 12px;
      position: relative;
    }

    &.item-inner-byb {
      padding-bottom: 12px;
    }
  }

  .cards-inner-wrap {
    .display-flex();
    .flex-wrap(wrap);
    .justify-content(space-between);
  }

  .deposit-limits-link {
    .display-flex();
    .align-items(center);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: -0.2px;

    .deposit-external-link {
      color: @brand-color-main;
      opacity: 0.8;
    }
  }

  .cvv-row {
    .error-block {
      max-width: 100px;
      text-align: left;
      margin-top: 5px;
    }
  }

  .cvv-row {
    .display-flex();
    .flex-direction(column);
    .align-items(flex-start);
  }

  .cvv-row {
    label {
      font-size: 12px;
      color: @color-gray-dark;
      margin-bottom: 8px;
      font-weight: bold;
    }
  }

  .cvv-row {
    label {
      text-transform: uppercase;
    }
  }

  .input-field {
    .display-flex();

    &.cvv,
    &.custom-input-container {
      height: 35px;

      &.dk-active-input {
        border-color: @color-gray-silver;
      }
    }

    &.cvv {
      width: 80px;

      input {
        padding: 10px;
        color: @color-blue-dark;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
      }

      .custom-input-container {
        &.dk-active-input {
          box-shadow: 0 0 1px 1px rgba(8, 77, 141, 0.08), inset 4px 4px 7px 0 rgba(162, 162, 162, 0.06);
          border: solid 1px rgba(65, 73, 78, 0.5);
        }
      }
    }

    .custom-input-container {
      border: 1px solid @color-gray-silver;
      border-radius: 2px;
      background: @color-white;
      width: 80px;

      input {
        background: @color-white;
      }
    }
  }
}

// **************

// *** State ***
// // Media queries, links

// fix to not overlap with Iphone X bottom software button.
@supports (padding-bottom: constant(safe-area-inset-top)) {
  .bs-buttons-wrapper {
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    padding-bottom: var(--safe-area-inset-bottom);
  }
}

@supports (padding-bottom: env(safe-area-inset-top)) {
  .bs-buttons-wrapper {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: var(--safe-area-inset-bottom);
  }
}

.bs-buttons-wrapper {
  @betnow-disabled-color: #b3ca99;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .base-btn {
    height: 45px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: @color-white;
    float: left;
  }

  .betnow-btn {
    width: 100%;
    background: @color-green;

    .bs-countdown-timer {
      position: relative;
      bottom: 1px;
    }
  }

  .betnow-btn,
  .overask-btn1 {

    &[disabled] {
      background-color: @color-green-light;
      color: @betnow-disabled-color;
      opacity: 1;
    }
  }

  .wide-btn {
    width: 100%;
    background: @color-green;
  }

  .reuse-selection-btn {
    width: 50%;
    background: @color-yellow;
    color: @color-gray-dark;
  }

  .overask-btn1 {
    width: 67%;
    background: @color-green;
  }

  .overask-btn2 {
    width: 33%;
    color: @color-gray-dark;
    background: @bs-color-button-gray;
  }

  .done-btn {
    width: 50%;
    background: @color-green;
  }

  .betnow-spinner {
    .animation(loader 1.2s infinite linear);
  }
}

// *************

// Browser issues

// *************

// After iOS 10, -webkit-overflow-scrolling with touch parameter have a bug.
// When you dynamically add content to a div with -webkit-overflow-scrolling: touch
// that exceeds the div in height, it becomes broken.
// We can fix this by forcing browser to rebuild scrollable content
.bs-scrolling-fix-ios {
  -webkit-transform: translate3D(0, -1px, 0);
  .container-header {
    -webkit-transform: translate3D(0, 1px, 0);
  }
}

.bs-anchoring-fix-ios {
  position: -webkit-sticky;
  left: 0;
  bottom: -1px;
}

.uktote-receipt .stakes-wrapper {
  padding: 5px 0;
}

.uktote-receipt .bs-stake-header .bs-stake-title {
  margin-bottom: 0;
}

.uktote-receipt .bs-single-receipt .bs-stake-header .bs-stake-info {
  .stake-type {
    margin-bottom: 0;
    &.mb-5 {
      margin-bottom: 5px;
    }
  }
}

.bs-notification a {
  cursor: pointer;
}

.forecast-tricast-est-return .stake-est-return {
  padding-top: 8px;
}

free-bet-select-dialog {
  .modal-header {
    display: none;
  }
}

.bs-selection-info-dialog {
  .btn-list {
    .display-flex();
    .justify-content(flex-end);
  }

  .btn-style2  {
    min-width: 100px;
  }
}

.bs-overaks-undo-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  margin: -12px 0 0;
  width: 52px;
  height: 23px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: @color-blue-dark;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;

  &:hover {
    color: #fff;
    background: @color-blue-dark;
    text-decoration: none;
  }
}

.bs-overask-bet-removed-note {
  margin: 0 10px 0 0;
}

.multiple-bet-part {
  .bs-multiple-part-and {
    position: absolute;
    bottom: 0;
    left: 6px;
    right: 6px;
    border-top: 1px solid #e0e2eb;
    height: 0;
    overflow: visible;
    font-size: 0;
    line-height: 0;
    text-align: center;
    opacity: 0.75;

    .bs-multiple-part-and-text {
      position: relative;
      top: -6px;
      height: 12px;
      padding: 0 4px;
      display: inline-block;
      color: #41494e;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 12px;
      background: @color-white;
    }
  }

  &:last-child {
    .bs-multiple-part-and {
      left: 0;
      right: 0;
    }

    .bs-multiple-part-and-text {
      position: absolute;
      border: 1px solid #e0e2eb;
      left: 50%;
      top: 50%;
      margin: -8px 0 0 -8px;
      border-top: 0;
      border-left: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
      .transform(rotate(45deg));
      font-size: 0;
      text-indent: 2000px;
    }
  }

  .bs-stake-content {
    flex-wrap: nowrap;
    padding-bottom: 16px;
  }
}

.bs-stake.suspended .multiple-bet-part .bs-stake-content:after {
  content: '';
}

.bs-overask-bet-removed {
  .bs-stake-actions {
    display: none;
  }

  .multiple-bet-part {
    .bs-multiple-part-and,
    .bs-stake-body {
      .overask-offer-removed();
      z-index: 1;
      flex-basis: @bs-stake-body-basis;
    }
  }

  .bs-stake-notifications {
    .overask-offer-removed();
  }

  .bs-stake-info {
    .bs-stake-title {
      pointer-events: none;
      cursor: default;
    }

    .bs-stake-title > *:not(.bs-overask-bet-removed-note),
    > *:not(.bs-stake-title),
    .free-bet-toggle {
      .overask-offer-removed();
    }
  }

  .bs-stake-body {
    position: relative;
    flex-basis: 110px;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
  }
}

.bs-overask-offers {
  betslip-subheader,
  .bs-all-stakes,
  .multiples-header {
    display: none;
  }

  .stakes-wrapper:not(:last-child) {
    padding-bottom: 0;
  }
}

.overask-offer-removed() {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.bs-overask-offers .bs-stake.suspended {
  .bs-stake-actions,
  .bs-overaks-undo-btn {
      display: none;
  }
}
