@import 'global.variables.less';

.build-card-top {
  padding: 15px;
  height: 70px;
  background: @color-white;
  margin-bottom: @componets-edge-gap;
  .display-flex();
  .align-items();

  .build-card-button {
    .align-items();
    .flex-grow(1);
    .justify-content(flex-end);
    text-transform: uppercase;
    background: @color-blue-lighter;
    color: @color-white;
    font-size: 12px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 10px;
    min-width: 150px;
    height: 40px;
    border: none;
    border-radius: 2px;
    &.exit-builder {
      color: @color-gray-dark;
      background: transparent;
      text-decoration: underline;
      font-size: 12px;
      padding: 0;
      text-align: right;
      svg {
        width: 10px;
        height: 10px;
        margin-left: 10px;
      }
    }
  }
}

.featured-racing-tab {
  position: relative;
}

.build-card-description {
  .flex-grow(1);
  color: @color-gray-dark;
  .build-card-text {
    font-size: 16px;
    margin: 0;
    .build-card-text-highlighted {
      color: @color-blue-lighter;
      font-weight: bold;
    }
  }
  .build-card-additional-text {
    font-size: 13px;
    margin: 0 10px 0 0;
  }
}

.build-card-limit-message {
  padding: 10px;
  background: @color-yellow;
  font-size: 12px;
  color: @color-gray-dark;
}

.build-card-buttons-bottom {
  .display-flex();
  height: 50px;
  padding: 10px;
  background: @brand-color-dark;
}

.build-card-bottom {
  margin-bottom: 10px;
  z-index: 11;
  &.sticky-on {
    position: fixed;
  }
  &.sticky-on-hidden {
    display: none;
  }

  .build-card-button-bottom {
    .flex(1,1,50%);
    .align-items();
    text-transform: uppercase;
    height: 30px;
    border: none;
    background: transparent;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    cursor: default;
    &.active {
      cursor: pointer;
      color: @color-white;
    }
  }

  .build-card-button-bottom-right {
    background: lighten(@color-green, 20%);
    color: @chalet-green;
    margin-left: 5px;
    &.active {
      background: @color-green;
    }
  }
}
