<accordion
  [isExpanded]="true"
  [headerClass]="'secondary-header'">
  <left-side>
    <svg class="watch-free-svg">
      <use xlink:href="#watch-free"></use>
    </svg>
    <span class="watch-free-text" [i18n]="'sbdesktop.watchFreeHeader'"></span>
  </left-side>
  <accordion-body>
    <div class="racing-post-container">
      <svg class="watch-free-logo" data-crlat="wFLogo">
        <use xlink:href="#watch-free-logo"></use>
      </svg>
      <div class="r-post-text">
        <p>
          <strong [i18n]="'sbdesktop.watchFreeContentTitle'"></strong>
        </p>
        <p [i18n]="'sbdesktop.watchFreeContentP1'"></p>
        <p [i18n]="'sbdesktop.watchFreeContentP2'"></p>
        <p [i18n]="'sbdesktop.watchFreeContentP3'"></p>
        <p [i18n]="'sbdesktop.watchFreeContentP4'"></p>
        <p [i18n]="'sbdesktop.watchFreeContentP5'"></p>
        <p class="popup-footer-text">
          <strong [i18n]="'sbdesktop.watchFreeFooter'"></strong>
        </p>
      </div>
    </div>
  </accordion-body>
</accordion>
