@import 'global.variables.less';
@toggle-switch-label-background: #c6c5c5;
@toggle-switch-label-active-background: #c4dd99;
@toggle-switch-active-background: #8bbd23;

.toggle-switch {
  float: right;
  height:15px;
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 34px;
    height: 14px;
    background: @toggle-switch-label-background;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    transition: all 250ms ease;
    &:after{
      transition: all 250ms ease;
      content: '';
      position: absolute;
      top: -3px;
      left: -1px;
      width: 20px;
      height: 20px;
      background: @color-white;
      border-radius: 50%;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    }
  }

  input:checked + label {
    background: @toggle-switch-label-active-background;
    &:after {
      background: @toggle-switch-active-background;
      left: calc(100% + 1px);
      .transform(translateX(-100%));
    }
  }
}
