@import 'global.variables.less';

.co-header {
  .display-flex();
  .align-items();

  background-color: @light-blue;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  color: @color-gray-dark;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;

  .co-header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.co-left-header {
  .display-flex();
  overflow: hidden;
}

.co-right-header {
  margin-left: 5px;
}
.co-outrights-label {
  height: 12px;
  margin-left: 5px;
  width: 26px;
  min-width: 26px;
}

.co-container {
  .display-flex();
  .flex-wrap(wrap);
  background-color: @color-gray;
}

.co-wrapper {
  .display-flex();
  .flex(1, 1, 100%);
  .flex-wrap(wrap);

  background-color: @color-white;
  margin-top: 5px;
  max-width: 100%;

  &:first-child{
    margin-top: 0px;
  }
}
.co-status-header {
  .display-flex();
  .align-items();
  .justify-content(space-between);
  .flex(1, 1, 100%);

  white-space: nowrap;
  max-width: 100%;
  height: 27px;
  background-color: @color-gray-light;
  padding: 0px 10px;
  border-top: 1px solid @color-gray;
  border-bottom: 1px solid @color-gray;
  font-size: 10px;
  text-transform: uppercase;
  color: @color-gray-dark;

  .co-name-title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.co-each-way {
  margin-left: 5px;
}
.co-odds-card-container {
  .display-flex();
  .flex();
  .flex-wrap(wrap);
  .word-break();
  margin-bottom: 5px;
  max-width: 100%;

  &:last-child {
    margin-bottom: 0px;
  }
}
.co-odds-card-wrapper {
  width: 50%;
  background-color: @color-white;
  border-bottom: 1px solid @color-gray;
}

.co-odds-card {
  .display-flex();
  .align-items();
  .justify-content(space-between);
  .flex();
  background-color: @color-white;
  height: 50px;
  padding: 10px 10px 10px 15px;
  border-right: 1px solid @color-gray;

  &.co-card-odd{
    border-right: none;
  }

  &.co-card-even-last {
    margin-bottom: -1px;
    .flex(0, 0, 50%);
  }

  .co-outcome-name {
    margin-right: 10px;
    color: @color-gray-dark;
    font: bold 12px @base-font-family;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
