.header-panel {
  width: 100%;
  background: @lGrayLight;
  color: @lGray;
  padding: 10px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: @base-font-family;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0;
  white-space: nowrap;
  .display-flex();
  .align-items();
  .user-select();
}

