@import './components/cahout-icon.less';
@import './components/odds-boost-page.less';
@import './global.variables.less';
@import '../../bf/assets/styles/main.less';

@import '../../promotions/assets/styles/main.less';
@import '../../../ladbrokesMobile/assets/styles/components/racing-event.less';
@import '../../../ladbrokesMobile/racing/assets/styles/spotlight-panel.less';
@import '../../../ladbrokesMobile/assets/styles/modules/race-card.less';

// Default styles for bma app
#page-wrapper {
  line-height: normal;
  color: @color-black;
}

#content {
  margin: 0 5px;
  padding: 0 5px;
  background: @lGray-bg;
  overflow: hidden;
  width: 100%;

  .yourcall-bs-opened & {
    z-index: 5;
  }
}

.split-header {
  padding: 12px 8px;
  font-size: 12px;
  font-family: @alt-font-family;
  color: @lBlack-light;
}
