/* Overrides to be applied when portal route is opened */
.vn-scope {
  bma-main {
    & > *:not(#page-wrapper) {
      display: none;
    }

    #page-wrapper {
      & > *:not(#page-content) {
        display: none;
      }
    }

    #page-content {
      width: 100%;
      min-height: 100vh;
      display: flex;

      #content {
        width: 100%;
      }

      & > *:not(#content) {
        display: none;
      }
    }
  }
}
