<div class="outright-container">
  <grid-view-widget *ngIf="market.viewType === 'GRID'"
                    [eventEntity]="market.data"
                    [market]="market.data.markets[0]"
                    [maxDisplay]="market.maxDisplay"
                    [gtmModuleTitle]="gtmModuleTitle"></grid-view-widget>

  <card-view *ngIf="market.viewType === 'CARD'"
             [eventEntity]="market.data"
             [market]="market.data.markets[0]"
             [maxDisplay]="market.maxDisplay"
             [gtmModuleTitle]="gtmModuleTitle"></card-view>

  <list-view-widget *ngIf="market.viewType === 'LIST'"
                    [eventEntity]="market.data"
                    [market]="market.data.markets[0]"
                    [maxDisplay]="market.maxDisplay"
                    [gtmModuleTitle]="gtmModuleTitle"></list-view-widget>
</div>
