@import 'global.variables.less';

@highlightcard-shadow: rgba(162, 162, 162, 0.4);
@odds-card-border-color: rgba(185, 185, 185, 0.6);

.odds-hightlight-card {
  box-shadow: 0 3px 7px 0 @highlightcard-shadow;
  border: 1px solid @odds-card-border-color;
  border-radius: 3px;
  padding: 8px;
  width: 211px;
  height: auto;

  &.odds-card {
    box-shadow: 0 3px 7px 0 @highlightcard-shadow;
    border: 1px solid @odds-card-border-color;
  }

  .odds-header {
    .display-flex();
    margin: 0;
    padding: 0 4px 8px 4px;

    .watch-live-wrapper + .odds-label,
    .watch-live-wrapper + live-clock {
      margin-left: 8px;
    }

    .watch-live-wrapper {
      display: inline-flex;
      border-radius: 1px;
      overflow: hidden;
    }

    .odds-label {
      font-size: 11px;
      line-height: 15px;
      font-family: @alt-font-family;
    }

    .odds-live-clock {
      font-family: @alt-font-family;
      color: @color-gray-darkest;
      font-size: 11px;
      line-height: 15px;
      padding: 0 5px;
    }
  }

  .odds-header:after {
    content: '';
    position: relative;
    top: 4px;
    right: 2px;
    height: 8px;
    width: 8px;
    border: solid @color-blue-alt;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    .transform(rotate(-45deg));
  }

  .odds-header.tennis-scores:after {
    top: 3px;
    right: 0;
  }

  .odds-content {

    .odds-names {
      font-weight: normal;
      line-height: 18px;

      .odds-name-row {
        .display-flex();
        padding: 0;

        & + .odds-name-row {
          padding-top: 8px;
        }

        .odds-name {
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: @alt-font-family;
          font-size: 13px;
        }

        .team-kit-icon {
          width: 21px;
          height: 15px;
          margin-right: 6px;
          overflow: hidden;

          ::ng-deep svg {
            width: 21px;
            height: 21px;
          }
        }

        .green-ball-icon {
          display: inline-block;
          background-color: @color-green;
          width: 6px;
          height: 6px;
          margin: 5px 3px 3px 6px;
          border-radius: 50%;
        }
      }
    }

    .odds-score {
      font-weight: bold;
      font-family: @alt-font-family;
      font-size: @font-size-tablet;
      padding: 0;

      li > span + span {
        padding-top: 8px;
      }

      .wide-column {
        max-width: initial;
      }

      .tennis-score-column {
        display: block;
        position: relative;

        .odds-tennis-score {
          color: @color-gray-dark;
          text-align: center;
          line-height: 16px;
          padding: 3px 0;
          width: 16px;
        }

        .sgp-tennis-header {
          position: absolute;
          top: -23px;
          color: @color-gray-mid;
          font-family: @base-font-family;
          font-weight: normal;
          font-size: 11px;
        }
      }
    }

    .odds-score.odds-tennis {
      max-width: 75px;
      padding: 0 0 0 5px;

      li {
        max-width: 20px;
      }

      li:last-child{
        padding-right: 5px;
      }
    }

    .odds-btn-content {
      display: flex;
      margin-left: 0;
      width: 100%;

      price-odds-button {
        flex-basis: 100%;
        margin-left: 6px;
        flex-flow: initial;
      }

      price-odds-button:first-child {
        margin-left: 0;
      }

      ::ng-deep {
        .btn-bet,
        .btn.btn-bet {
          width: 100%;
          flex-basis: 100%;
          min-width: 0;
          padding: 0;

          .odds-head {
            color: @lGray;
            display: block;
            white-space: nowrap;
            width: 100%;
            font-size: 10px;
            line-height: 13px;
            padding-bottom: 2px;
          }

          .odds-price {
            font-size: 14px;
          }
        }
      }
    }
  }

  .odds-outcomes {
    margin-top: 8px;
  }

  .odds-content.odds-names-scores {
    height: auto;
    padding: 0 4px;
  }
}

.odds-right-initial-align {
  & .odds-score, & .odds-score > li {
    max-width: initial;
  }
}
