.match-widget-container {
  .display-flex();
  .justify-content();

  div {
    max-height: 317px;
    min-height: 317px;
  }

  iframe {
    max-width: 500px;
    min-width: 500px;
    max-height: 317px;
    min-height: 317px;
  }
}
