/* Show All Button */
.show-all-button {
  border-top: 1px solid @color-gray;
  background: @color-gray-light;
  height: 35px;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  color: @color-gray-dark;
}

