@import 'global.variables.less';

.market-columns {
  width: 100%;

  @media screen and (min-width: @md-point) {
    .display-flex();
    .flex-flow(row);
  }

  .market-column {
    width: 100%;

    &:empty {
      display: none;
    }

    @media screen and (min-width: @md-point) {
      .flex(1,1,50%);
      width: 50%;
      overflow: hidden;

      + .market-column {
        padding: 0 0 0 10px;
      }
    }
  }
}

.teams-group .team-col .custom-select select,
.custom-select--scorecast-goalscorer .custom-select select,
.correct-score-container .custom-select select,
.correct-score-team-label,
.scorecast-subcontainer .scorecast-select-scorer-label {
  font-size: 13px;
}
