@import 'global.variables.less';

.action-arrow {
  .display-flex();
  .justify-content(center);
  .align-items(center);
  user-select: none;
  background-color: @color-gray-dark;
  opacity: 0.6;
  z-index: 9999;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 20px;
  cursor: pointer;
}

.action-arrow:hover {
  opacity: 0.85;
}

.action-arrow.left {
  left: 0px;
}

.action-arrow.right {
  right: 0px;
}

.arrow-icon {
  width: 5px;
  height: 10px;
  fill: @color-white;
}
