/* *********************************************************************************************************************

  OBJECTS:
  So called “cosmetic free design patterns” such as a grid system

********************************************************************************************************************* */
.next-races,
.horseracing {
  .container-content {
    margin-top: @page-container-header-bottom-margin;
  }
}

.extra-place-carousel-section {
  .extra-place-carousel {
    .carousel-slides {
      .flex-wrap(wrap);

      .slide {
        width: 100%;
        .flex-direction(column);

        @media (min-width: @st-point) and (max-width: 1279px) {
          & {
            width: 50%;
            border-bottom: 1px solid @color-gray;
            &:nth-child(odd) {
              border-right: 1px solid @color-gray;
              &:last-of-type {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }

  .slide-label {
    border-radius: 0;
  }

  .selection-title {
    padding: 5px 10px;

    .race-timer .label {
      font-size: 11px;
    }
    .meeting-name {
      font-size: 14px;
    }
  }

  .extra-place-carousel-slide {
    margin: 1px 0 0;
    .extra-place-slide-header, .extra-place-slide-body {
      border-radius: 0;
    }
    .extra-place-slide-header {
      padding: 5px 10px;
      .timer, .title {
        height: 15px;
        line-height: 15px;
      }
      .title {
        font-size: 10px;
      }
    }
  }
}

.antepost-container {
  .events-container {
    .container-content {
      padding: 0;
    }
  }

  .antepost-events-container {
    .grid-row();
    border-top: 1px solid @color-gray;
    margin: 0;
  }

  .antepost-category-wrapper {
    overflow: hidden;

    @media screen and (min-width: 1026px) {
      .flex(1, 1, 33%);
    }

    @media screen and (max-width: 1025px) {
      .flex(1, 1, 34%);
    }
  }

  .antepost-category {
    .flex();
    margin: 1px;
    background: @color-white;
  }
  .three-cell {
    display: none;
    @media screen and (min-width: 1026px) {
      .display-flex();
    }
  }
  .two-cell {
    .display-flex();
    @media screen and (min-width: 1026px) {
      display: none;
    }
  }
  .three-cell,
  .two-cell {
    pointer-events: none;
  }

  .event-link {
    .display-flex();
    .justify-content(flex-start);
    .flex-direction(column);
    min-height: 60px;
    padding: 12px 0 12px 15px;
    text-decoration: none;
    color: @color-gray-dark;
    &:hover {
      cursor: pointer;
      background: @color-gray-light;
    }
  }

  .event-date {
    display: block;
    font-size: 12px;
  }

  .event-name {
    display: block;
    font-size: 13px;
    color: @color-gray-dark;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.top-event-panel {
  background: transparent;
}

.racing-content {
  .page-segment {
    .container-content {
      background: none;

      .terms-before-market {
        .align-items(center);
        text-transform: uppercase;
        min-height: 27px;
        padding: 7px 10px 8px;
        background-color: @color-gray-light;
        > div {
          line-height: 1;
          color: @color-gray-dark;
        }

        .term-value, .class-value {
          font-size: 10px;
        }
      }
    }
  }

  .race-event-info {
    .display-flex();
    .align-items(baseline);
    min-height: 45px;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 15px 10px;
    background: @color-white;
    font-size: 12px;
    font-weight: 700;

    .race-market-label {
      font-weight: normal;
    }

    .race-market-event-title {
      padding-left: 5px;
    }
  }

  .race-card.odds-card.active {
    background: @color-gray-light;

    .toggle-icon {
      svg {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  .racing-post-container {
    padding: 15px;

    .r-post-text {
      padding: 0;
    }
  }

  .bet-builder .odd {
    .label {
      font-size: 12px;
    }
  }

  .r-post-header {
    padding: 0 2px 0 3px;

    .r-post-logo {
      width: 145px;
      height: 15px;
    }
  }

  .race-details-container {
    margin-bottom: 10px;
    min-height: 45px;
    padding: 10px;
    .event-title,
    .race-details-container-l,
    .race-details-container-r {
      line-height: 25px;
    }
    .race-details-container-r {
      .value,
      .label {
        display: inline-block;
      }
    }
  }

  .media-area-container {
    border: none;
  }

  .tabs-panel .scroll-container .scroll-inner li .tab.time-ribbon {
    font-size: 12px;
  }

  .tabs-panel .scroll-container.single-element {
    cursor: auto;
  }

  .watch-free-svg {
    width: 28px;
    height: 18px;
    fill: @color-white;
    margin-right: 5px;
  }

  .watch-free-text {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
  }

  .watch-free-logo {
    height: 41px;
    width: 200px;
    margin-bottom: 5px;
  }

  .racing-post-container {
    text-align: center;
  }

  .r-post-text {
    text-align: left;
    font-size: 13px;
  }

  .popup-footer-text {
    text-transform: uppercase;
  }

  .silk-img.has-img div {
    width: 30px;
  }

  .odds-card .odds-content .odds-small {
    font-size: 11px;
  }
}

// Styles for Desktop player errors
.video-js {
  &.vjs-error {
    height: 100% !important; //need to override videojs player;
    width: 100%;
    padding: 0;
  }
  .vjs-error-display {
    &.vjs-modal-dialog {
      position: relative;
      text-align: center;
      background: @color-white;
      .vjs-modal-dialog-content {
        color: @color-gray-dark;
        font-size: 13px;
        width: 100%;
        position: relative;
        display: inline-block;
      }
    }
    &:before {
      content: ' '!important; //need to override videojs player error content 'X'
    }
  }
}

// Styles for Desktop video stream
.racing-content {
  .eventVideoStream,
  .i-game-media {
    .error-message {
      height: 62px;
      .display-flex();
      .justify-content(center);
      .align-items(center);
      font-size: 13px;

    }
  }
  .media-buttons {
    background: @brand-color-secondary;
    &.v2-media-buttons {
      margin-bottom: 10px;
      &.live-stream-active {
        margin-bottom: 0;
      }
    }
  }
  .media-buttons.v2-media-buttons.group-buttons .group-btn .group-col:not(.group-default) {
    &:first-child {
      margin-right: 20px;
    }
    .btn {
      background: @brand-color-secondary;
      color: @color-gray;
      padding: 14px 0 13px;
      line-height: 1.25;
      &.active {
        background: @brand-color-secondary;
        color: @color-white;
        border-bottom: 3px solid @color-red;
        &:after {
          content: '';
          border: 0;
        }
      }
      &:hover {
        color: @color-white;
      }
      &.toggled {
        font-size: 11px;
        font-weight: 700;
      }
      svg {
        display: none;
      }
    }
  }
  #QL_goingDown #QL_Result {
    border-radius: 0;
  }
  .group-buttons {
    .group-btn {
      display: block;
      width: 100%;
      padding: 0 10px;
    }
    .group-col {
      display: inline-block;
      width: auto;
    }
  }
  .media-area-container {
    display: block;
    background: none;
    .media-area {
      margin-bottom: 10px;
    }
    .horseracing-info-icon {
      width: 13px;
      height: 13px;
      top: 0;
    }
  }
}

.racing-event-desktop {
  .subheader {
    background: @brand-color-dark;
    .subheader-inner {
      padding: 0;
    }
  }
  .prom-icons-wrap {
    padding-top: 10px;
    .extra-place-label-wrapper {
      margin-right: 8px;
    }
  }
  .meeting-selector {
    .top-title {
      position: relative;
      height: 40px;
      padding: 0;
      background: @brand-color-dark;
      width: 85px;
      &:hover,
      &.active {
        background: @brand-color-dark;
      }
      &.active {
        .coupon-selector {
          .dropdown-up-arrow {
            top: 13px;
          }
          .dropdown-down-arrow {
            top: 24px;
          }
        }
      }
      .coupon-selector {
        padding-left: 0;
        .coupon-selector-title {
          padding: 12px 20px 13px 15px;
          text-decoration: none;
          height: 40px;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
        }
        svg {
          height: 3px;
          width: 5px;
          fill: @light-blue;
          position: absolute;
          right: 10px;
        }
        .dropdown-up-arrow {
          top: 16px;
        }
        .dropdown-down-arrow {
          top: 22px;
        }
      }
    }
    .coupons-list.active {
      position: absolute;
      width: 100%;
      right: 0;
      left: auto;
      background: @brand-color-dark;
      transition: all .3s linear;
      margin: 0;
      padding: 0;
      max-width: 220px;
      height: auto;
    }
    .links-list-panel {
      background-color: @brand-color-dark;
      .list-item {
        border-bottom: 1px solid @brand-color-secondary;
        cursor: pointer;
        &:hover {
          background: @brand-color-dark;
        }
        &:last-child .list-item-link {
          border-bottom: none;
        }
      }
      .list-item-link {
        padding: 8px 15px 8px 10px;
        margin: 0;
        background-color: @brand-color-dark;
        font-family: @base-font-family;
        font-weight: normal;
        color: @light-blue;
        text-shadow: none;
        border-bottom: none;
        transition: all .3s linear;
        &:hover {
          color: @color-white;
          background: @brand-color-secondary;
        }
        .item-name {
          line-height: 1.2;
        }
      }
    }
  }
}
