/* *********************************************************************************************************************

  SETTINGS:
  Contains the variables used across your project, e.g. color defaults, grid settings etc

********************************************************************************************************************* */

@base-font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;

/* Default breakpoints */
@st-point      : 970px;
@sm-point      : 1024px;
@md-point      : 1280px;
@lg-point      : 1600px;
@xl-point      : 1920px;

/* Color palette */
@light-blue: #84a5c3;
@light-grey: #dcdcdc;
@dark-slate-blue-two: #1b3a57;
@color-gray-light-two: #e2e5f0;
@color-gray-darker-two: #cccfd9;
@denim: #3a6083;
@green: #09ac00;
@chalet-green: #506b32;
@gold-level-text: #494f66;
@menu-items-color: #c3e6ff;

// Components blocks aliments
@componets-edge-gap: 10px;

// Price odd button
@price-odd-btn-max-width-1599: 50px;
@price-odd-btn-min-width-1600: 110px;

// Accordion settings
@accordion-header-height: 40px;
@accordion-yourcall-icon: 18px;
@accordion-header-icon-size: 12px;
@accordion-freebets-icon-size: 25px;

// Odds buttons
@odds-button-small-size: 1599px;
@odds-button-big-size: 1600px;
// Fonts
@font-size: 12px;
@font-size-sm: 10px;
