@import 'global.variables.less';

:host(.removed) {
  .cashout-odds-content {
    width: calc(100% - 45px);
  }
}

::ng-deep {
  .cashout-odds-score {
    display: block;

    .live-score-points {
      vertical-align: top;
    }
  }
}

.cashout-odds-content.suspended,
.cashout-odds-content.void {
  .cashout-odds-names,
  .cashout-odds-score {
    color: @color-gray-dark;
    opacity: @cashout-odds-opacity;
  }

  .cashout-odds-date {
    opacity: @cashout-odds-opacity;
  }

  .cashout-odds-names {
    color: @event-header;
  }
}

.cashout-odds-content {
  align-items: center;
  .display-flex();
  .flex-wrap(wrap);
  line-height: 1;
}

.cashout-odds-names {
  white-space: normal;
  word-break: break-word;
}

.cashout-odds-names,
.cashout-odds-score {
  color: @event-header;
}

.cashout-odds-score {
  .cashout-live-scores {
    .live-score-points {
      height: 16px;
    }
  }
}

live-clock {
  color: @live-clock-color;
  font-size: 11px;
}

.cashout-odds-date {
  .display-flex();
  color: @cashout-odds-date-color;
  font-family: @odds-date-font;
  white-space: nowrap;
  margin-right: 8px;
}

.odds-label {
  font-size: @odds-date-font-size;
}

.cashout-odds-stream {
  display: inline-block
}

.odds-stream-icon {
  width: 12px;
  height: 12px;
  vertical-align: top;
  margin-right: 5px;

  &.watch-live {
    fill: @color-orange;
  }
}

.label-container {
  display: inline;
  live-label {
    height: 15px;
  }

  watch-label + live-label {
    margin-left: 5px;
  }
}

.each-way-place {
  color: @color-gray-dark;
  font-size: @font-size;
  margin-right: 8px;
  font-weight: bold;
}
