@import 'global.variables.less';

// overrides Chrome border-radius for buttons (after release 62, all buttons have border-radius: 4px)
button {
  border-radius: 0;
}

/*General styles*/
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

// clearfix
.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

//label
.label-text {
  color: lighten(@color-gray-dark, 20%);
  font-size: 12px;
}

//Grid padding
@grid-gutter-width: 10px;

//pull left/right
.pull-left {
  float: left!important;
}
.pull-right {
  float: right!important;
}

//full width
.full-width {
  width: 100%!important;
}

.text-bold {
  font-weight: bold;
}

//box-sizing
*, :after, :before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

a {
  background-color: transparent;
  color: @color-blue-light;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:hover,
button:focus{
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: @color-yellow;
  color: @color-black;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

p {
  margin: 0 0 5px;
}

/* Embedded content
   ========================================================================== */

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

figure {
  margin: 0;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=search],
input[type=number],
input[type=tel] {
  &:not(.form-control) {
    background: @color-gray-light;
    border: none;
    border-radius: 3px;
    color: @color-black-soft;
    display: block;
    font-weight: normal;
    font-size: 13px;
    height: 30px;
    padding: 3px 5px;
    .input-placeholder(lighten(@color-gray-dark, 50%));
    .transition(all,.15s);
    width: 100%;
  }
}

button[disabled], input[disabled] {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid lighten(@color-gray-dark, 50%);
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.row-panel {
  background: @color-white;
}

.bet-stake-type {
  margin-left: 10px;
  white-space: nowrap;
}

.center-message {
  color: lighten(@color-gray-dark, 50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.left-title-text {
  float: left;
  display: block;
  margin-right: 5px;
  white-space: normal;
}

//streaming icon
.stream-link {
  color: @brand-color-main;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 22px;

  &.stream-link-up {
    margin: -4px 5px 0;
  }

  &.bottom {
    top: 0;
    margin-top: 10px;
  }

  &.stream-link-inline {
    height: 13px;
  }

  .stream-link-icon {
    height: 22px;
    width: 22px;
    fill: @color-gray-dark;
    right: 0;
    position: absolute;
    top: 0;
  }

  &.white-stream {
    color: @color-white;

    .stream-link-icon {
      fill: @color-white;
    }
  }

  &.stream-disabled {
    pointer-events: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.eventVideoStream {
  .error-message {
    position: relative;
    padding: 15px;
    color: @color-white;
    background-color: @color-blue-light;
    font-size: 12px;

    .info-icon {
      width: 12px;
      height: 12px;
      fill: @color-gray-dark;
      position: relative;
      top: 2px;
      margin-right: 3px;
    }
  }
}

.racing-content {
  .eventVideoStream, .i-game-media {
    .error-message {
      padding: 0 5px;
      font-size: 11px;
      font-family: @base-font-family;
      color: @color-gray-dark;
      background-color : @color-white;
    }
  }


  .media-area-space {
    padding: 10px 10px 0;
    background: @color-white;
  }

}

#splash-screen {
  &.home-screen-connect {
    position:absolute;
    left:0;
    right:0;
  }
}

.native-video-player-placeholder {
  transition: height 300ms ease;
  width: 100%;
  display: block;
  background-color: @brand-color-main;
  z-index: 7;
}
