/*checkbox styled*/
.check-styled {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;

  form {
    height: 20px;
    width: 20px;
  }

  label {
    box-shadow: inset 0 -1px 0 @color-white;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 3px;
    background: @color-gray-light;

    &[disabled] {
      opacity: .5;
      pointer-events: none;
      cursor: default;
    }

    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 10px;
      height: 6px;
      background: transparent;
      top: 50%;
      left: 50%;
      margin: -4px 0 0 -5px;
      border: 3px solid @color-black-soft;
      border-top: none;
      border-right: none;
      .transform(rotate(-45deg));
    }
  }

  input[type=checkbox] {
    visibility: hidden;
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    z-index: 2;

    &:checked + label:after {
      opacity: 1;
    }
  }

  &.check-reversed {
    .flex(0,0,auto);
    height: 18px;
    width: 20px;
    label {
      border: 1px solid lighten(@color-gray-dark, 50%);
      background: @color-white;
      border-radius: unset;
      box-shadow: none;
      width: 18px;
      height: 18px;
    }
    input[type=checkbox]:checked + label {
      background: @color-gray-dark;
      border-color: @color-gray-dark;
      &:after {
        border-color: @color-white;
      }
    }
  }
}
