//
// Grid system
//----------------------------------------------------------------------

// Requires mixin: grid-mixin.less

// Define the breakpoints at which your layout will change, adapting to different screen sizes.
@screen-xs: @mobileSmallPoint;  // Extra small screen / phone
@screen-sm: @mobilePoint;  // Small screen / tablet
@screen-md: @tabletPoint;  // Medium screen / desktop
@screen-lg: @landscapeTabletPoint;  // Small screen / wide desktop
@screen-xl: @desktopPoint; // Large screen / wide desktop
@screen-xxl: @desktopLargePoint; // Extra Large screen / wide desktop

@grid-types: sm md lg; // Grid Types (add or remove to build needed grid)

.row {
  //----------------------------------------------------------------------
  // Row
  //
  // Build Grid Rows.

  .grid-row();

  //----------------------------------------------------------------------
  // Columns
  //
  // Common styles for all columns

  .make-grid-columns(xs); // Default Column xs
  .grid-row-vertical(xs); // Default Row xs

  .for(@grid-types); .-each(@type) {
    @screen: 'screen-@{type}';
    @media (min-width: @@screen) {
      .make-grid-columns(@type);
    }
    // Row (Support old browser)
    @media screen and (max-width: @@screen) {
      .grid-row-vertical(@type);
    }
  }
}
