/* Button style*/
.group-buttons {
  padding: 15px 10px;

  &.group-buttons-toggle {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &.group-btm-pad {
    padding-bottom: 0;
  }

  &.group-bg {
    background: @color-gray-light;
  }

  .group-caption {
    padding: 5px;
  }

  &.btn-align-right {
    padding: 15px 0 5px;
    .group-btn {
      .justify-content(flex-end);
      .group-col {
        padding: 0;
        min-width: 100px;
        width: auto;
        .flex(0, 1, 0)
      }
    }
  }

  .group-btn {
    .display-flex();
    .flex-flow();
    .align-items(stretch);
    .justify-content();
    .flex-flow();

    @media (min-width: @desktopPoint) {
      max-width: @landscapeTabletPoint;
      .justify-content(flex-start);
    }

    &.group-btn-part {
      .group-col {
        width: 75%;

        @media only screen and ( max-width: 480px ) {
          width: 70%;
        }

        &:first-child {
          width: 25%;

          @media only screen and ( max-width: 480px ) {
            width: 30%;
          }
        }
      }
    }

    .group-col {
      padding: 0 5px;
      .display-flex();
      .flex();
      width: 50%;

      @media (min-width: @desktopPoint) {
        .flex-grow(0);
      }

      .btn, a {
        width: 100%;
        display: block;

        &.full-width {
          margin: 0;
        }
      }

      &:not(.group-default) {
        .btn {
          background: @color-gray-light;
          color: @color-black-soft;
          font-size: 10px;
          font-weight: bold;
          line-height: 12px;
          text-shadow: none;
          white-space: normal;
          position: relative;
          overflow: initial;

          &.active {
            background: @color-green;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 15px 15px rgba(255, 255, 255, .15), 0 1px 0 rgba(0, 0, 0, .2);
            color: @color-white;
            text-shadow: 0 1px 2px rgba(0, 0, 0, .4);

            &.toggled {
              pointer-events: auto;
            }
          }
        }
        &.btn-players-bet {
          white-space: nowrap;
        }
      }
    }

    .group-col-toggle {
      .display-flex();
      .flex();
      width: 50%;

      .btn, a {
        width: 100%;
        display: block;
        border-radius: 0;
        border-left: 1px solid @color-gray;
        color: @color-gray-dark;
        font-weight: normal;

        &.full-width {
          margin: 0;
        }

        &.active {
          color: @color-white;
          background: @color-orange;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        }
      }

      &:first-child {
        .btn {
          border: none;
          border-radius: 3px 0 0 3px;
        }
      }

      &:last-child {
        .btn {
          border-radius: 0 3px 3px 0;
        }
      }

    }
  }
}

.small-group-buttons {
  .display-flex();
  .flex-flow();
  .align-items(flex-start);
  .justify-content(flex-start);

  .group-col {
    padding: 5px;

    .btn {
      font-size: 10px;
    }

    @media only screen and (max-width: 380px) {
      .flex();
      text-align: center;

      .btn {
        width: 100%;
        padding: 8px 3px;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
