.list-panel {
  margin: 0;
  padding: 0;
  list-style: none;

  &.user-menu {
    text-transform: uppercase;

    .reactivation-link {
      color: @color-red;
    }
  }

  .list-item {
    .display-flex();
    .flex-flow();
    .align-items();
    position: relative;
    color: @color-black-soft;
    background: @color-gray-light;
    border-bottom: 1px solid @color-gray;
    min-height: 45px;
    padding: 5px 15px;
    text-shadow: 0 1px 0 @color-white;
    box-shadow: inset 0 1px 0 @color-white;

    &:hover {
      background: @color-gray-light;
      text-decoration: none;
    }

    .item-icon {
      margin-right: 10px;
      width: 16px;
      height: 16px;
      fill: @color-black;
    }

    &.disabled {
      pointer-events: none;
      opacity: .5;
    }
  }
}

.plus-minus-icon {
  margin: -3px 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;

  &.icon-minus.icon-plus {
    width: 16px;
    height: 16px;
  }

  &.icon-minus:after {
    background-color: @color-gray-dark;
    width: 8px;
    height: 2px;
    position: absolute;
    content: "";
  }

  &.icon-plus:before {
    background-color: @color-gray-dark;
    width: 2px;
    height: 8px;
    position: absolute;
    top: -3px;
    left: 3px;
    content: "";
  }

  &.icon-plus:after {
    background-color: @color-gray-dark;
    width: 8px;
    height: 2px;
    position: absolute;
    content:"";
  }
}
