@import 'global.variables.less';

@animation-time: .22s;
@ico-close-size: 24px;
@ico-close-pos: 16px;
@iphoneXSafeHeight: 72px;

.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  box-sizing: border-box;
}

.ngdialog {
  left: 0;
  bottom: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: @ngdialog-zindex;
  padding-top: 60px;
  // Fix IE 11 issue with blinking/flickering ng-dialog overlays
  -ms-transform: translateZ(0px);

  .container {
    min-width: 0;
    width: 100%;
  }

  .ngdialog-overlay {
    .animation(ngdialog-fadein 0.5s);
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .ngdialog-content {
    .animation(ngdialog-fadein 0.5s);
    border-radius: 3px;
    margin: 0 auto;
    max-width: 380px;
    z-index: 1010;
    position: relative;
    width: 95%;

    .page-container {
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .4);
      overflow: hidden;

      .container-header {
        background: @brand-color-main;
        color: @color-white;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .3);
        padding-right: 40px;
      }

      .container-content {
        background: @page-bg;
      }
    }
  }

  &.ngdialog-closing {
    .ngdialog-overlay, .ngdialog-content {
      .animation(ngdialog-fadeout 0.5s);
    }
  }
}

.new-dialog {
  &.dialog-no-overlay {
    padding: 0;

    .modal-dialog {
      padding: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      overflow-y: auto;
    }

    .modal-content {
      overflow: initial;
      .modal-header {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }
  }
  &.jackpot-dialog {
    .modal-body {
      padding: 70px 25px 40px 25px;
    }
  }
  .ngdialog-content {
    border-radius: 0;
  }
  .modal-content {
    position: relative;
    min-height: 100%;
    font-family: @base-font-family;
    font-size: @font-size-lg;

    .modal-header {
      position: relative;
      width: 100%;
      margin: 0;
      background: @brand-color-main;
      font-size: 15px;
      color: @color-white;
      padding-top: 14px;
      padding-bottom: 13px;
      justify-content: center;
    }

    .btn-close svg {
      fill: @color-white;
      width: 14px;
      height: 14px;
    }

    .dialog-close {
      position: absolute;
      top: 50%;
      left: 10px;
      margin-top: -16px;
      height: @ico-close-size;
      width: @ico-close-size;
      cursor: pointer;
      padding: @ico-close-size 0 0 0;
      color: @color-white;
      font-size: 8px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      border: none;
      background: none;
      outline: none;

      &:hover {
        text-decoration: none;
      }

      &:before, &:after {
        height: 2px;
        margin-top: -2px;
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        left: 1px;
        background: @color-white;
        .transform(rotate(0deg));
        .transition(transform, @animation-time, ease-out);
      }

      &:before {
        .transform(rotate(45deg));
        .bg-gradient(@color-green 50%, @color-green 50%, left);
      }

      &:after {
        .transform(rotate(-45deg));
        .bg-gradient(@color-yellow 52%, @color-red 48%, left);
      }
    }

    .dialog-btn {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
}

.solid-overlay {
  .ngdialog-overlay {
    @media @mqMobile {
      background: none;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 52px;
        background: @brand-color-dark;
        @media @mqIphoneX {
          bottom: @iphoneXSafeHeight;
        }
      }
    }
  }
}

.btn-close {
  cursor: pointer;
  margin: -7px 0 0;
  position: absolute;
  right: 15px;
  top: 50%;
  outline: none;

  svg {
    fill: @popup-header-color;
    width: @popup-header-close-size;
    height: @popup-header-close-size;
  }
}

//key frames
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
