/*Scrolled panel*/
.scroll-container {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  position: relative;
  .user-select;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
   display: none;
  }

  .scroll-inner {
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    position: relative;
    white-space: nowrap;

    &--no-padding {
      padding: 0;
    }

    li {
      .inline-flex();
      list-style: none;
      text-align: center;
      margin: 0;
      vertical-align: top;
    }
  }
}
