.seo-static-block {
  padding: 20px 0;
  background: @brand-color-darkest;
}
.seo-static-block-content {
  background: @brand-color-darkest;
  padding: 14px 16px;
  color: @color-white;

  .container-content {
    color: @color-black;
  }
}

