.table-panel {

  td, th {
    border: 1px solid @color-gray;
    padding: 7px;
    text-align: left;
    font-size: 12px;
  }

  td {
    &:first-child {
      min-width: 85px;
      word-break: break-all;
    }
  }

  th {
    background: @color-gray-light;
    color: lighten(@color-gray-dark, 50%);
    text-shadow: 0 1px 0 @color-white;
    font-weight: normal;
  }
}
