@import 'global.variables.less';

::ng-deep .video-stream-error-dialog {
  .modal-dialog {
    width: 295px;

    .modal-content {
      padding: 26px 24px;
      background-color: @color-white;

      .modal-header {
        padding: 0;
        min-height: auto;
        margin-bottom: 10px;
        background-color: @color-white;
      }

      .modal-body {
        font-size: 13px;
        padding: 0;

        .race-count-down-text {
          color: @color-gray-darkest;
        }

        .race-count-down-counter {
          color: red;
        }
      }
    }
  }
}
