<div class="desktop-race-grid race-grid horserace" data-crlat="race.raceGrid">
  <switchers *ngIf="isHR"
             [filter]="filter"
             [switchers]="switchers"
             [noPaddings]="true">
  </switchers>
  <section class="rg-section"
           *ngFor="let racesGroup of groupedRaces; trackBy: trackByGroupName"
           data-crlat="raceGrid.meeting">
    <header class="rg-header">
      <span class="rg-title" [textContent]="racesGroup.groupName" data-crlat="raceGrid.meeting.name"></span>
      <cashout-label *ngIf="racesGroup.cashoutAvailable"
        [mode]="'md'"></cashout-label>
      <div class="bog-signposting">
        <promotion-icon [isGpAvailable]="racesGroup.bogAvailable" [bogIconStyle]="true"></promotion-icon>
      </div>
      <svg class="rg-stream-icon" *ngIf="racesGroup.liveStreamAvailable" data-crlat="raceGrid.iconStream">
        <use xlink:href="#stream"></use>
      </svg>
    </header>
    <div class="tabs-panel tabs-bottom" data-crlat="panel.tabs">
      <action-arrows>
        <action-arrows-content>
          <div class="scroll-container" [scrollable-racing]>
            <ul class="scroll-inner">
              <li [attr.data-eventid]="eventEntity.id"
                  *ngFor="let eventEntity of racesGroup.events; trackBy: trackById"
                  data-crlat="raceGrid.event"
                  [ngClass]="{'race-resulted': eventEntity.isResulted,
                   'build-card-enabled': isEnabledCardState && racingGroupFlag !== 'VR',
                   'race-on': !eventEntity.isResulted && (!eventEntity.isStarted || eventEntity.isLiveNowEvent)}">
                <div *ngIf="isEnabledCardState && racingGroupFlag !== 'VR' && !isRaceOffOrResulted(eventEntity)" class="build-card-box">
                  <div class="check-styled" data-crlat="checkBox">
                    <input [attr.id]="eventEntity.id"
                           class="form-control"
                           [disabled]="isLimitReached && !cardState?.eventsList[eventEntity.id]"
                           [value]="cardState?.eventsList[eventEntity.id]"
                           [checked]="!!cardState?.eventsList[eventEntity.id]"
                           (change)="toggle(eventEntity.id)"
                           type="checkbox">
                    <label [for]="eventEntity.id"></label>
                  </div>
                </div>
                <a class="tab no-hover"
                   [routerLink]="genEventDetailsUrl(eventEntity)"
                   [click-link] data-crlat="tab">
                  <span class="race-time" [textContent]="eventEntity.localTime"
                        [ngClass]="{'text-bold': isLpAvailable(eventEntity)}"
                        data-crlat="raceGrid.raceTime">
                  </span>
                  <racing-status [event]="eventEntity"
                    *ngIf="eventEntity.isStarted || eventEntity.isLiveNowEvent || eventEntity.isResulted">
                  </racing-status>
                </a>
                <div class="prom-icons-wrap no-hover">
                  <promotion-icon [type]="'event'"
                                  [display]="eventEntity.drilldownTagNames" data-crlat="promotionIcons">
                  </promotion-icon>
                </div>
              </li>
              <!-- Tote pools indicators -->
              <racing-pool-indicator *ngIf="showUKToteIndicators()"
                                     class="pool-indicators-container"
                                     [events]="racesGroup.events"
                                     data-crlat="poolIndicatorsContainer">
              </racing-pool-indicator>
            </ul>
          </div>
        </action-arrows-content>
      </action-arrows>
    </div>
    <footer class="rg-footer"></footer>
  </section>
</div>
