@import '../tabs.component.less';

.prev-quizzes {
  .answers-summary-item {
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.show-more-btn {
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  display: block;
  margin: 20px auto 0;
  position: relative;
  background: transparent;
  border: none;
  padding:0 25px;
  &:after {
    content: "";
    position: absolute;
    top: 2px;
    margin-left: 10px;
    border-right: 2px solid @color-white;
    border-bottom: 2px solid @color-white;
    width: 9px;
    height: 9px;
    display: inline-block;
    transform: rotate(45deg);
    transition: all .1s linear;
  }
}
