@import 'global.variables.less';

@mobilePointAlt: 360px;
@line-height-alt: 17px;

.bf-results {
  color: @color-gray-dark;
  font-family: @base-font-family;

  .odds-card {
    padding: 12px;
  }
  .silk-img {
    width: 40px;
    margin-right: 10px;
  }
  .bf-result-title {
    font-size: 12px;
    font-weight: bold;
    padding: 15px 10px;
  }

  .bf-results-number {
    padding: 13px 12px;
    background: @lGray-bg;
    font: @font-size @alt-font-family;
    text-transform: uppercase;
    font-weight: normal;
    color: @lBlack-light;
    border-top: 1px solid @color-gray;
  }

  .bf-results-container {
    .race-card {
      .odds-content .odds-side {
        width: 28px;
        margin-left: -7px;
        font: @font-size-lg / @line-height-alt @base-font-family;
      }
    }
  }
}
.bf-top-bar {
  .top-bar-side {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .top-bar-inner {
    > div {
      width: 100%;
    }
  }
}
.bf-results-header {
  color: @color-white;
  font-size: @font-size;
  line-height: @line-height-sm;
  text-transform: uppercase;

  .bf-results-filter {
    text-transform: uppercase;
    cursor: pointer;

    &.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  @media screen and (max-width: @mobilePointAlt) {
    .sortby-text,
    .divider {
      display: none;
    }
  }
}
