<div class="free-bet-tooltip" *ngIf="visible">
  <div class="tooltip-body" #tooltipBody data-crlat="fbTooltip">
    <div class="tooltip-arrow"></div>
    <span [i18n]="'bs.useFreeBetTooltip'" data-crlat="value"></span>
  </div>
</div>
