@import 'global.variables.less';

.free-bet-tooltip {
  position: relative;
}
.tooltip-body {
  position: absolute;
  top: 10px;
  left: 0;
  width: 240px;
  background-color: @lGray;
  color: @color-white;
  padding: 14px;
  font-size: 14px;
  z-index: 10;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 5px;
}
.tooltip-arrow {
  position: absolute;
  left: 25px;
  top: -17px;
  border: 9px solid transparent;
  border-bottom-color: @lGray;
}