@import 'global.variables.less';

.dropdown {
  color: @color-gray-dark;
  font-size: 14px;
  font-weight: bold;
  position: relative;

  .dropdown-selected {
    display: flex;
    align-items: center;
  }

  &-arrow {
    margin-left: 5px;

    svg {
      display: block;
      width: 10px;
      height: 6px;
    }
  }

  &.secondary {
    font-size: 11px;

    .dropdown-selected {
      color: @color-gray-dark;

      .odds-value {
        opacity: 0.75;
        text-decoration: line-through;
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    .dropdown-arrow svg {
      width: 7px;
    }
  }
}

.dropdown-list {
  font-size: 14px;
  position: absolute;
  background: @color-white;
  box-shadow: 0 0 4px rgba( 162, 162, 162, 0.45);
  min-width: 106px;
  z-index: 2;
  border-radius: 2px;
  overflow: hidden;
  display: none;
  right: 0;
  top: 0;

  &-open {
    display: block;
  }

  &-item {
    .justify-content(center);
    .align-items(center);
    height: 35px;
    display: flex;

    &-selected {
      background: @color-gray;
    }
  }
}
