@import 'global.variables.less';

.breadcrumbs__container {
  height: 30px;
  background-color: @color-white;
  padding: 0 10px;
  margin-bottom: @componets-edge-gap;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.breadcrumb__item {
  display: inline-block;
  padding-right: 15px;
  position: relative;

  &:after {
    content: '\203A';
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 5px;
  }

  &:last-child {
    overflow: hidden;
    &:after {
      display: none;
    }
    .breadcrumb__link {
      cursor: default;
      font-weight: bold;
    }
  }
}

.breadcrumb__link {
  display: block;
  font-size: 12px;
  font-family: @alt-font-family;
  color: @color-gray-darkest;
  line-height: 30px;
  letter-spacing: -0.2px;
  &:first-letter {
    text-transform: capitalize;
  }
}
