@import 'global.variables.less';

//----------------------------------------------------------------------
// Filter buttons
//
//   Today   Tomorrow   Future
//  ________

.filter-buttons {
  background: @brand-color-dark;
  height: 40px;
  position: relative;
  padding: 0 5px;
  margin: 0 0 @componets-edge-gap;
  .display-flex();

  .filter-btn {
    position: relative;
    border: none;
    background: transparent;
    outline: none;
    color: @color-gray;
    text-transform: uppercase;
    font: bold 11px @base-font-family;
    cursor: pointer;
    margin: 0 5px;
    .display-flex();
    .align-items();
    .justify-content();

    &:after {
      height: 2px;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: none;
    }

    &:hover {
      text-decoration: none;
      color: @color-white;
    }

    &.active {
      text-shadow: none;
      color: @color-white;

      &:after {
        background: @color-red;
      }
    }
  }
}
