@import 'global.variables.less';

coupons-list:host {
  display: block;
  margin-bottom: 10px;

  .links-list-panel {
    margin: 0;
  }

  .list-header {
    font-size: @font-size;
    padding: 15px 10px;
    color: @color-gray-dark;
    background: @color-gray-light;
    text-transform: uppercase;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .15), inset 0 -1px 2px 0 rgba(0, 0, 0, .15);
  }

  .coupon-new-badge {
    width: 27px;
    height: 12px;
    margin-left: 10px;
  }

  new-label {
    margin-left: 10px;
  }
}
