<button id="bet-{{outcome.id}}"
        [priceOddsDisabled]="[outcome, outcome.outcomeStatusCode, market.marketStatusCode,
        event.eventStatusCode, event.displayed, market.priceTypeCodes, outcome.prices[0]]"
        [last-made-bet]
        [priceOddsClass]="[outcome, cssClass, outcome.prices[0]?.liveShowTimer?.type]"
        (click)="onPriceOddsButtonClick($event)"
        class="btn-bet"
        data-crlat="betButton">
  <span class="odds-head" [innerHTML]="head" *ngIf="head"></span>
  <span *ngIf="showHandicapValue" class="handicap-btn">{{handicapVal}}</span>
  <span class="odds-price"
        [priceOddsValue]="[outcome, outcome.prices[0]?.priceDen, outcome.prices[0]?.priceNum,
        market.priceTypeCodes]"
        [(oddsPrice)]="oddsPrice"
        [textContent]="oddsPrice"
        data-crlat="oddsPrice">
  </span>
</button>
<historic-prices class="historic-prices"
                 [outcome]="outcome"
                 [hasWasLabel]="hasWasLabel"
                 *ngIf="isShowHistoricPrices && oddsPrice !== 'SP' && outcome.prices?.length > 1 && !nonRunner">
</historic-prices>
