@import 'global.variables.less';

.race-details-container {
  .value, .label {
    display: inline-block;
  }
  &.build-your-racecard.racing-event-model {
    background: @brand-color-dark;
    padding-top: 0;
    padding-bottom: 0;
    .display-flex();
    .align-items(center);

    .value, .label {
      color: @color-white;
    }
    .race-timer {
      .value, .label {
        color: @color-white;
        display: inline-block;
      }
    }
    .race-going, .race-distance {
      margin: 0 0 0 16px;
    }

    .race-details-container-l {
      line-height: inherit;
      & > div {
        .display-flex();
      }
    }
  }
}

.race-market {
  margin: 0 0 10px 0;
}

.backdown {
  margin-bottom: 10px;
}
