@import '../../../assets/styles/general.less';
@import '../../../../../ladbrokesMobile/questionEngine/components/questionsPage/questionsCarousel/questions-carousel.component.less';

.questions-carousel {
  margin: 0 -16px;

  .swiper-container {
    min-height: 100%;
    width: calc(100% + 8px);
    overflow-y: auto;
    padding-top: 0;
    box-sizing: border-box;

    .carousel-slides {
      position: initial;
    }
  }

  .slide {
    text-align: center;

    &-wrap {
      padding: 0 24px 0 16px;
      box-sizing: border-box;
    }

    &-btn {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
      margin-top: 17%;
      z-index: 9;

      &.inactive {
        opacity: .5;
      }

      &.prev {
        left: 10%;
      }

      &.next {
        right: 10%;
      }

      &:hover {
        text-decoration: none;
      }

      .btn-back-svg {
        width: 22px;
        height: 17px;
        margin-bottom: 10px;
      }
    }
  }

  &-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
    white-space: normal;
    text-align: center;
    font-weight: bold;
  }

  &-signposting {
    white-space: normal;
    text-transform: uppercase;
    font-size: 14px;
  }

  &-text {
    white-space: normal;
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;
  }

  &-btn {
    min-height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    white-space: normal;
    padding: 0 5px;
    background: rgba(0,0,0,0.30);
    border-radius: 50px;
    text-transform: uppercase;
    color: @color-white;
    margin: 0 auto 10px;
    z-index: 9;
    width: calc(100% - 12px);
    &:hover, &.active {
      color: @color-white;
      .bg-gradient(@color-green, @color-green-grass, bottom);
    }
  }
}

.qe-progress-bar {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-bottom: 30px;

  &-list {
    padding: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(92, 148, 184, 0.3);
    position: absolute;
  }

  &-item {
    display: inline-block;
    height: 2px;
    position: absolute;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;

    &:before {
      content: "";
      position: absolute;
      background-color: hsla(0, 0%, 100%, .1);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &.qe-progress-status {
      &:before {
        background-color: @color-yellow;
      }
    }
  }
}

/*
* Style for swipeTutorialDialog
*/
.qe-swipe-tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  box-sizing: border-box;
  margin: auto;

  &-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 9;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
  }

  &-svg {
    display: block;
    margin: 0 auto 20px;
    fill: white;
    width: 100%;
    height: 76px;
  }

  &-text {
    color: white;
    text-align: center;
    font-size: 14px;
  }
}
/*
* Styles for > 1600px
 */

@media @mqDesktopLarge {
  .questions-carousel {
    .slide-btn {
      margin-top: 15%;

      &.prev {
        left: 15%;
      }

      &.next {
        right: 16%;
      }
    }
  }
}
