@import 'global.variables.less';

:host-context(.next-races) {
  .race-card-carousel {
    ::ng-deep .race-timer {
      .label {
        font-size: 11px
      }
      .value {
        color: @blue;
        font-size: 11px
      }
    }
  }
}
