<section class="left-column-menu" data-crlat="leftColumnSection">
  <h1 class="left-column-title" [i18n]="'sbdesktop.AZSports'" data-crlat="columnTitle"></h1>
  <nav *ngIf="menuItems && menuItems.length">
    <ul class="left-menu-items">
      <ng-container *ngFor="let menuItem of menuItems; trackBy: trackById" >
        <li *ngIf="!menuItem.hidden" data-crlat="menuItem">
          <a [linkHref]
             [link]="menuItem.targetUri"
             [attr.rel]="menuItem.relUri ? 'nofollow' : ''"
             [activeLinkClass]
             (click)="navigationService.openUrl(menuItem.targetUri, menuItem.inApp)"
             [attr.title]="menuItem.alt"
             class="left-menu-item"
             data-crlat="menuItem.link">
            <svg class="left-menu-item-icon">
              <use [attr.xlink:href]="'#' + (menuItem.svgId || 'icon-generic')"></use>
            </svg>
            <span class="left-menu-item-title" data-crlat="menuItemTitle" [textContent]="menuItem.imageTitle"></span>
          </a>
        </li>
      </ng-container>
    </ul>
  </nav>
</section>
