@import 'global.variables.less';

.forecast-tricast-market {
  margin-top: -10px;
  border-bottom: 1px solid @color-gray-lighter;
  width: 100%;
  .terms-before-market {
    .align-items(center);
  }
  .add-to-betslip-btn {
    margin-top: 5px;
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    &[disabled] {
      background: @color-green-light;
      color: @color-green-dark;
    }
  }
  .odds-right .suspended-label {
    padding-right: 19px;
  }
}
