<div class="event-title-bar football-events" *ngIf="showNewTitleBar" [ngClass]="{'switch-to-outright-styles': isOutright, 'fallback-paddings': isFallbackScoreboards}" data-crlat="sbBar">
  <fallback-scoreboard
    *ngIf="isFallbackScoreboards"
    [event]="event"
    [score]="parseScores(event.originalName, fallbackScoreboardType)"
    [scoreType]="fallbackScoreboardType">
  </fallback-scoreboard>
  <div class="reverse-flex-items" *ngIf="!isFallbackScoreboards" data-crlat="defBar">
    <div class="event-date-container">
      <svg *ngIf="event.eventIsLive" class="live-label" data-crlat="liveLabel">
        <use xlink:href="#live-label"></use>
      </svg>
      <span [textContent]="eventStartDate" data-crlat="eventEntity.filteredTime"></span>
    </div>
    <h1 class="event-name"
        [textContent]="event.name"
        data-crlat="eventEntity.name">
    </h1>
  </div>
  <div class="icon-wrapper">
    <a *ngIf="freeBetVisible" [routerLink]="['/freebets']" data-crlat="showFreeBetsIcon">
      <svg class="free-bet-ico" data-crlat="freeBetIcon">
        <use [attr.xlink:href]="'#free-bet'"></use>
      </svg>
    </a>
  </div>
</div>
<div class="event-title-bar" *ngIf="!showNewTitleBar" [ngClass]="{'switch-to-outright-styles': isOutright, 'fallback-paddings': isFallbackScoreboards}">
  <fallback-scoreboard
    *ngIf="isFallbackScoreboards"
    [event]="event"
    [score]="parseScores(event.originalName, fallbackScoreboardType)"
    [scoreType]="fallbackScoreboardType">
  </fallback-scoreboard>
  <div class="match-info" *ngIf="!isFallbackScoreboards" data-crlat="defBar">
    <h1 class="event-name"
        [textContent]="event.name"
        data-crlat="eventEntity.name"></h1>
    <div class="event-date-time">
      <span [textContent]="eventStartDate" data-crlat="eventEntity.filteredTime"></span>
      <svg *ngIf="event.eventIsLive" class="live-label" data-crlat="liveLabel">
        <use xlink:href="#live-label"></use>
      </svg>
    </div>
  </div>
  <div class="icon-wrapper">
    <a *ngIf="freeBetVisible" [routerLink]="['/freebets']" data-crlat="showFreeBetsIcon">
      <svg class="free-bet-ico" data-crlat="freeBetIcon">
        <use [attr.xlink:href]="'#free-bet'"></use>
      </svg>
    </a>
  </div>
</div>
