@import 'global.variables.less';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  margin-right: -8px;
  position: relative;
  order: 1;

  &:before {
    content: '';
    position: absolute;
    opacity: .8;
    border: 1px solid @red4;
    bottom: -5px;
    left: 0;
    height: 45px;
  }

  &:after {
    content: 'BETSLIP';
    margin-top: 3px;
    font-size: @font-size-xs;
    line-height: @font-size-xs;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
  }
}
