<div *ngIf="eventsBySports" [ngClass]="{'single-sport' : !inner}">
  <div *ngIf="!inner" class="in-play-header-counter in-play-single-header">
    <div class="in-play-count"><span [i18n]="filter === 'livenow' ? 'inplay.byLiveNow' : 'inplay.upcomingEvents'"
        [attr.data-crlat]="'inplay.' + filter"></span>&nbsp;
      <span class="live-now-label" data-crlat="inplayCountLabel"
        [textContent]="'(' + (eventsBySports.eventCount || 0) +')'"></span>
    </div>
  </div>
  <lazy-component *ngIf="isMarketSelectorAvailable" class="sticky-market-selector"
    [hidden]="!eventsBySports.eventsByTypeName?.length"
    moduleUri="@sharedModule/components/marketSelector/market-selector.module#MarketSelectorModule"
    data-crlat="marketSelectorModule" entryComponent="LadbrokesInplayMarketSelectorComponent" [inputs]="{sportId: eventsBySports.categoryId, 
                          eventDataSection: eventsBySports,
                          marketSelectorOptions: eventsBySports.marketSelectorOptions,sticky:false,
                          selectorType:'sportInplay'}" [outputs]="['reloadData','selectedMarketName']"
    (event)="handleOutput($event)">
  </lazy-component>
  <accordion *ngFor="let competitionSection of eventsBySports.eventsByTypeName; trackBy: trackByTypeId; let i = index;"
    [accordionTitle]="getSectionTitle(competitionSection)" [inner]="inner" [card]="true" data-crlat="accordion"
    [isExpanded]="expandedFlags[competitionSection.typeId]"
    (function)="toggleCompetitionSection(competitionSection, eventsBySports.eventsByTypeName)" [isHeaderHidden]="inner"
    [isShowAll]="expandedFlags[competitionSection.typeId]" [ngClass]="{'inner-accordion' : !inner}"
    class="single-accordion">
    <right-side *ngIf="expandedFlags[competitionSection.typeId]">
      <see-all-link *ngIf="competitionsAvailability[competitionSection.classId]"
        [link]="goToCompetition(competitionSection)"></see-all-link>
    </right-side>
    <accordion-body>
      <odds-card-header *ngIf="competitionSection.events && competitionSection.events.length"
        [sportConfig]="sportInstance?.sportConfig" [events]="competitionSection.events"
        data-crlat="section.header.league" [isHeaderAlwaysVisible]="inner"
        [dateTitle]="inner ? getSectionTitle(competitionSection) : ''">
      </odds-card-header>
      <sticky-virtual-scroller
        *ngIf="inner && virtualScroll && competitionSection.events && competitionSection.events.length"
        [scrollUniqueId]="scrollSportUId" [items]="competitionSection.events" [stickyHeaderTag]="'header'"
        [stickyHeaderLevel]="6" [stickyContainerTag]="'ACCORDION'" [stickyContainerLevel]="7"
        [scrollableElementLevel]="2" [scrollableHeaderSelector]="'.sport-card-header'"
        (preFetchNext)="prefetchNext(eventsBySports.eventsByTypeName[i+1])"
        (toggleVisibility)="handleLiveUpdatesSubscriptions($event, competitionSection)">
        <odds-card-component
          *ngFor="let eventEntity of competitionSection.events; trackBy: trackByEventId; let i = index;"
          [sportConfig]="sportInstance?.sportConfig" [showLocalTime]="true" [event]="eventEntity"
          [selectedMarket]="(eventEntity.markets[0] ? eventEntity.markets[0].name : '')" [gtmModuleTitle]="'event card'"
          data-crlat="eventEntity">
        </odds-card-component>
      </sticky-virtual-scroller>
      <ng-container *ngIf="inner && !virtualScroll || !inner">
        <odds-card-component
          *ngFor="let eventEntity of competitionSection.events; trackBy: trackByEventId; let i = index;"
          [sportConfig]="sportInstance?.sportConfig" [showLocalTime]="true" [event]="eventEntity"
          [selectedMarket]="(eventEntity.markets[0] ? eventEntity.markets[0].name : '')" [gtmModuleTitle]="'event card'"
          data-crlat="eventEntity">
        </odds-card-component>
      </ng-container>
    </accordion-body>
  </accordion>
  <div class="spinner-loader spinner-dark small-loader" *ngIf="inner && virtualScroll && isLoading"></div>
  <div *ngIf="inner && !isAllExpanded && eventsBySports.eventsByTypeName.length > expandedLeaguesCount"
    (click)="showMoreSport(eventsBySports.eventsByTypeName)" class="show-more-leagues" data-crlat="showMoreLeagues">
    <div><span [i18n]="'sb.showAll'"></span><span
        [textContent]="eventsBySports.categoryName + ' (' + eventsBySports.eventCount + ')'"></span></div>
  </div>
</div>