<div class="retail-page">
  <top-bar [title]="'retail.title'"></top-bar>
  <banners-section class="lobby-banners" [page]="CONST.bannersPage"></banners-section>
  <retail-menu *ngIf="showRetailMenu" [showDescription]="true" [trackingLocation]="CONST.trackingLocation"></retail-menu>
</div>
