<div class="spinner-loader spinner-dark" *ngIf="!isLoaded" data-crlat="spinner.loader"></div>
<ng-container *ngIf="isLoaded && eventsByCategory && filteredMatches.length">
  <lazy-component *ngIf="isMarketSelectorAvailable && isMarketSwitcherConfigured && inner"
    moduleUri="src/platforms/coralDesktop/shared/components/marketSelector/market-selector.module#MarketSelectorModule"
    data-crlat="marketSelectorModule" entryComponent="MatchesMarketSelectorComponent" [inputs]="{
      sportId: sportId, 
        eventDataSection: eventsByCategory,
        sticky:isMarketSelectorSticky,
     selectorType:'sportCompetition'}" [outputs]="['filterChange']" (event)="filterEvents($event)">
  </lazy-component>
  <ng-container *ngFor="let groupedBy of filteredMatches; trackBy:trackByTypeId">
    <div *ngIf="!groupedBy.deactivated" class="container-inner-content" data-crlat="competitionLeague.item">
      <odds-card-header *ngIf="groupedBy.events.length" [sportConfig]="sport?.sportConfig" [events]="groupedBy.events"
        [selectedMarket]="selectedMarket(eventsByCategory)" [isFilterByTemplateMarketName]="true"
        [undisplayedMarket]="undisplayedMarket" [dateTitle]="groupedBy.title">
      </odds-card-header>
      <odds-card-component *ngFor="let eventEntity of groupedBy.events" data-crlat="eventEntity" [event]="eventEntity"
        [sportConfig]="sport?.sportConfig" [selectedMarket]="selectedMarket(eventsByCategory)"
        [isFilterByTemplateMarketName]="true" [isMarketSwitcherConfigured]="isMarketSwitcherConfigured"
        (marketUndisplayed)="reinitHeader($event)" [markets]="eventEntity.markets">
        <promotions-body>
          <!-- Promotional signposting -->
          <promotion-icon class="odds-card-promotions-icon" [type]="'event'" [display]="eventEntity.drilldownTagNames"
            data-crlat="promotionIcons">
          </promotion-icon>
        </promotions-body>
      </odds-card-component>
    </div>
  </ng-container>
</ng-container>
<no-events *ngIf="isLoaded && !(eventsByCategory && filteredMatches.length)"></no-events>