<accordion [accordionTitle]="moduleConfig.name" [isExpanded]="true">
  <accordion-body>
    <competition-specials-view [openMarketTabs]="openMarketTabs" [initialData]="initialData" [showLimit]="showLimit"
      [inner]="true" [viewAllUrl]="viewAllUrl" [eventsBySections]="eventsBySections">
    </competition-specials-view>
  </accordion-body>
</accordion>
