<!-- silk for virtual races -->
<virtual-silk class="virtual-silk"
              *ngIf="isVirtual"
              [event]="eventEntity" [outcome]="outcomeEntity">
</virtual-silk>
<div
  *ngIf="isGeneric"
  class="silk-img" data-crlat="raceCard.silk"></div>
<gh-silk
    *ngIf="isGreyhound"
    [outcome]="outcomeEntity"
    [event]="eventEntity"
    data-crlat="raceCard.silk">
</gh-silk>
<uk-or-ire-silk
    *ngIf="isUKorIRE"
    [outcomeEntity]="outcomeEntity"
    [eventEntity]="eventEntity"
    data-crlat="raceCard.silk">
</uk-or-ire-silk>
