<div class="container" data-crlat="accordionsList" [ngClass]="{ 'sk-container': shouldDisplayLoader,
                       'sk-loading': showLoader}">
  <loading-screen [displayed]="showLoader"  [longRenderView]="true" [templateType]="'GENERIC'"></loading-screen>
  <ng-container *ngFor="let module of featuredModuleData?.modules; index as i; trackBy: trackByModules">
    <lazy-component *ngIf="showRpg(module)"
                    moduleUri="src/app/lazy-modules/rpg/rpg.module#RpgModule"
                    [inputs]="{rpgConfig: module.data[0]}">
    </lazy-component>
    <surface-bets-carousel *ngIf="module['@type'] === 'SurfaceBetModule'"
                           class="featured-surface-bets-carousel"
                           [sportName]="sportName" [module]="module"></surface-bets-carousel>
    <featured-quick-links *ngIf="isSportsQuickLinksEnabled && module['@type'] === 'QuickLinkModule'"
                          [sportName]="sportName" [quickLinks]="module"></featured-quick-links>
    <featured-highlight-carousel *ngIf="isHighlightCarouselEnabled && module['@type'] === 'HighlightCarouselModule'"
                                 [sportName]="sportName" [highlightsCarousel]="module"></featured-highlight-carousel>
    <featured-inplay *ngIf="isInplayModuleEnabled && module['@type'] === 'InplayModule'"
                     [sportName]="sportName"
                     [module]="module"
                     [eventsCount]="module.totalEvents">
    </featured-inplay>

    <featured-aem *ngIf="module['@type'] === 'AEM_BANNERS'" [aem]="module"></featured-aem>

    <ng-container *ngIf="module.isWoEw">
      <featured-race-card-home class="featured-race-card"
                      [raceData]="module.data"
                      [raceIndex]="0"
                      [showTimer]="true"
                      [raceNewStyleCard]="true"
                      [selectionsLimit]="module.maxRows"
                      [gtmModuleTitle]="'Featured Racing Market'"
                      [isFeaturedRaceCard]="true"
                      [hideNonRunners]="true"
                      [hideFavourite]="true">
      </featured-race-card-home>
    </ng-container>

    <ng-container *ngIf="module['@type'] === 'EventsModule' && !module.isWoEw">
      <accordion *ngIf="isModuleHidden(module)"
                 [accordionTitle]="module.title"
                 [card]="!isRace(module).racing"
                 [isExpanded]="module.showExpanded"
                 [ngClass]="{'has-carousel': module.dataSelection.selectionType == 'RaceTypeId' && module.showExpanded,
                             'racing-card': isRace(module).racingCard }"
                 (function)="manageSocketSubscription(module, $event)"
                 data-crlat="accordion">
        <right-side *ngIf="badges[module._id]">
          <span class="pc-badge" [ngClass]="badges[module._id].className" data-crlat="badge.label" *ngIf="badges[module._id]">{{ badges[module._id].label }}</span>
        </right-side>

        <right-side *ngIf="isRace(module).racingCard">
          <span (click)="seeAllRaces(module)" [i18n]="'sb.seeAll'">
          </span>
          <svg *ngIf="module.showExpanded" class="race-see-all-arrow">
            <use xlink:href="#next-arrow"></use>
          </svg>
        </right-side>

        <accordion-body *ngIf="module.showExpanded">
          <div *ngIf="module.showModuleLoader"
               class="spinner-loader small-loader spinner-dark"
               data-crlat="spinner.loader">
          </div>

          <!-- Outrights Event Market -->
          <ng-container *ngIf="module.dataSelection && module.dataSelection.selectionType === 'Market' && module.isOutright">
            <featured-event-markets class="featured-markets"
                           [eventEntity]="module.data[0]"
                           [panelType]="'outright'"
                           [selectionsLimit]="module.maxRows"
                           [isFeaturedMarkets]="true">
            </featured-event-markets>
          </ng-container>

          <ng-container *ngIf="module.data.length > 0 && !module.isOutright && !module.isWoEw">
            <odds-card-header
              [events]="module.data"
              *ngIf="isOddsCardHeaderShown(module)">
            </odds-card-header>
            <ng-container *ngFor="let event of module.data; trackBy: trackByModuleData">
              <odds-card-component [featured]="{ isSelection: module.dataSelection.selectionType === 'Selection' }"
                                   [eventType]="getEventType(event)"
                                   [gtmModuleTitle]="'featured bet'"
                                   *ngIf="!isRace(module).racing && event.isDisplayed !== false"
                                   [event]="event"
                                   [attr.data-crlat]="'featured.type.oddsCard.' + module.dataSelection.selectionType">
              </odds-card-component>
            </ng-container>
          </ng-container>

          <race-card *ngIf="isRace(module).racingCard && module.showExpanded && module?.data && module?.data?.length"
                     [raceData]="module.data"
                     [raceIndex]="i"
                     [showTimer]="true"
                     [raceMaxSelections]="module.maxSelections"
                     [gtmModuleTitle]="'featured races'"
                     data-crlat="featured.type.raceCard">
          </race-card>

          <racing-grid *ngIf="isRace(module).racingGrid"
                       [sportId]="module.dataSelection.selectionId"
                       [raceGridRaces]="raceGridRaces"
                       data-crlat="featured.type.racingGrid">
          </racing-grid>

          <a class="show-more" data-crlat="showMore" *ngIf="module.footerLink?.url"
             [routerLink]="[module.footerLink.url]"
             [ngClass]="{'rounded-more' : isRace(module).racing}">
            <span>{{ getShowMoreText(module) }}</span>
            <svg>
              <use xlink:href="#next-arrow"></use>
            </svg>
          </a>
        </accordion-body>
      </accordion>
    </ng-container>
  </ng-container>

  <no-events *ngIf="noEventFound && (hubIndex !== undefined || sportId === 0)"></no-events>
  <request-error *ngIf="sportId === 0 && (ssDown || !isConnectSucceed)"
                 [loadFailed]="ssDown || !isConnectSucceed"
                 (reloadFn)="reloadComponent()">
  </request-error>
</div>
