<top-bar [title]="'lotto.lotto'"
         [iconId]="svgId"
         [iconSvg]="svg"
         data-crlat="topBar"></top-bar>

<banners-section [page]="'lotto-results'" data-crlat="lottoResults"></banners-section>

<!-- switcher for lotto -->
<switchers class="lotto-results-switchers"
           data-crlat="switchers"
           [filter]="filter"
           [switchers]="switchers">
</switchers>

<router-outlet></router-outlet>
