<div class="odds-card-header" [hidden]="!isHeaderAlwaysVisible && !showOddsCardHeader" data-crlat="eventOddsHeader">
  <div class="odds-left" *ngIf="dateTitle">
    <span class="odds-header-title" [textContent]="dateTitle" data-crlat="dateTitle"></span>
  </div>
  <div class="odds-right" *ngIf="!hideOddsTitles && showOddsCardHeader || isHeaderAlwaysVisible">
    <span class="odds-header-score" *ngIf="scoreHeaders" data-crlat="scoreHeader">
      <span *ngFor="let scoreHeader of scoreHeaders" [textContent]="scoreHeader" data-crlat="scoreHeader.item"></span>
    </span>
    <span class="odds-header-col" *ngFor="let title of headTitles" [textContent]="title" data-crlat="headTitles"></span>
  </div>
</div>
