<div>
    <div class="spinner-loader spinner-dark small-loader"
         *ngIf="raceGridRaces && raceGridRaces.data && !raceGridRaces.data.groupedRacing"
         data-crlat="spinner.loader"></div>
    <ng-container *ngIf="raceGridRaces && raceGridRaces.data && raceGridRaces.data.groupedRacing">
      <ng-container *ngFor="let group of raceGridRaces.data.groupedRacing; trackBy: trackByGroupedRacing">
        <race-grid *ngIf="isRaceGridGroup(group) && raceGridRaces.data.groupedRacing"
                    [eventsData]="raceGridRaces.data"
                    [sportName]="sportName"
                    [eventsOrder]="eventsOrder"
                    [racingGroupFlag]="group.flag"
                    [raceType]="'race'"
                    [racingGroup]="group.data"
                    data-crlat="raceGrid">
        </race-grid>
      </ng-container>
    </ng-container>
  </div>
  