<div class="empty-betslip-container" [ngClass]="{'desktop-container' : !showButton}">
  <span class="title" [i18n]="'bs.noSelectionsTitle'" data-crlat="noSelTitle"></span>
  <span *ngIf="showButton" class="msg" [i18n]="'bs.noSelectionsMsg'" data-crlat="noSelMsg"></span>
  <button *ngIf="showButton" class="button btn-secondary" (click)="goToHomePage()" [i18n]="'bs.startBetting'" data-crlat="startBetting"></button>
</div>
