@import 'global.variables.less';

.empty-betslip-container {
  .display-flex();
  .flex-direction(column);
  .align-items(center);
  background: @color-white;
  padding: 24px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-family: @alt-font-family;

  @media @mqTablet {
    padding: 34px 0;
  }

  .title {
    font-weight: bold;
    font-size: 14px;
    color: @color-gray-darkest;
  }

  .msg {
    font-size: 12px;
    padding: 8px 0;
    color: @color-gray-darkest;
  }

  button {
    width: 100px;
    height: 35px;
    margin-top: 8px;
    border-radius: 0;
    color: @lGray;
    font-size: 13px;
    background-color: @color-yellow-alt;
    font-family: @base-font-family;
  }

  &.desktop-container {
    padding: 12px 0;
    margin-top: 0px;
    box-shadow: 0 1px 0 0 #dddde4;
    background-color: @lGrayLight;

    .title {
      font-weight: normal;
      font-size: 13px;
    }
  }
}
