@import 'global.variables.less';

@bet-builder-color1: @color-white;
@bet-builder-color2: @caribbean-green;
@bet-builder-light-grey: lighten(@color-gray-dark, 50%);

@bet-builder-icon-size: 15px;
@bet-builder-font-size: 13px;
@bet-builder-font-size-m: 11px;
@bet-builder-font-size-xs: 7px;
@bet-builder-font-size-sm: @font-size-xs;

@bet-builder-header-size: 35px;
@bet-builder-tab-height: 30px;
@bet-builder-tab-width: 22px;
@bet-builder-tab-default-text-color: @color-gray-dark;
@bet-builder-section-color: @color-gray;
@bet-builder-inner-header-size: 25px;
@bet-builder-list-item-size: 30px;

@bet-builder-carousel-link-bg-color: @color-gray-light;
@bet-builder-carousel-text-color: @color-gray-dark;
@bet-builder-carousel-slide-width: 50%;

@bet-builder-select-stat-value-width: 90px;
@bet-builder-player-bets-select-border-rtadius: 2px;

@bet-builder-spinner-light-color: @color-white;
@bet-builder-spinner-dark-color: lighten(@color-gray-dark, 50%);


@bet-builder-height: 55px;
@bet-builder-odd-width: 80px;
@bet-builder-background: @color-white;
@bet-builder-button-bg-color: @color-green-alt;
@bet-builder-disabled-button-bg-color: #cce6a0;
@bet-builder-color: @color-white;
@bet-builder-selections-background: @color-white;
@bet-builder-selections-even-background: @color-gray-light;
@bet-builder-selections-odd-background: @color-gray-light;
@bet-builder-selections-error-background: lighten(@color-yellow, 70%);
@bet-builder-selection-color: @color-gray-dark;
@bet-builder-selection-value-color: @color-gray-dark;
@bet-builder-selection-height: 180px;

@bet-builder-counter-color: @caribbean-green;
@bet-builder-counter-size: 17px;
@bet-builder-counter-height: 22px;

@bet-builder-open-width: 10px;
@bet-builder-open-height: 5px;

@bet-builder-item-size: 40px;
@bet-builder-cta-icon-width: 14px;
@bet-builder-cta-icon-height: 17px;

@bet-builder-alert-background: @color-yellow;
@bet-builder-error-background: @color-red;

@bet-builder-odds-spinner-size: 17px;
@bet-builder-odds-spinner-border-dark-color: lighten(@color-green, 20%);
@bet-builder-odds-spinner-border-light-color: @color-white;
@bet-builder-receipt-is-color: lighten(@color-gray-dark, 50%);

@bet-builder-grey-color: lighten(@color-gray-dark, 50%);

@bet-builder-close-btn-height: 14px;
@bet-builder-close-btn-color: @color-gray-dark;

@mobile-small-point-alt: 360px;

:host {
  bet-builder {
    display: block;
  }

  .bet-builder {
    font-family: @alt-font-family;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: @color-gray-darkest;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .2);
    z-index: 1005;
    transition: transform .5s ease;
    transform: translateY(100px);

    @media only screen and (min-width: @tabletPoint) {
      transition: none;
      position: relative;
      transform: none;
      display: none;
    }

    &.visible {
      transform: translateY(0);
      display: block;

      @media @mqMobile {
        background: @bet-builder-color1;
      }
    }

    .selections {
      height: 0;
      max-height: @bet-builder-selection-height;
      background: @bet-builder-selections-background;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow-y: scroll;

      .selection {
        .value {
          text-transform: none;
        }

        .flex(1, 1, auto);
        font-size: @bet-builder-font-size;
        font-weight: normal;
        color: @bet-builder-selection-value-color;
        padding: 0 10px;
        .display-flex();
        .align-items(center);

        .value {
          text-transform: none;
        }

        .label {
          margin-right: 5px;
        }

        svg {
          width: 12px;
          height: 10px;
          margin-right: 10px;
          fill: @bet-builder-selection-value-color;
        }
      }

      .action {
        width: @bet-builder-item-size;
        max-width: @bet-builder-item-size;
        height: @bet-builder-item-size;
        text-align: center;
        padding: 11px;
        cursor: pointer;

        svg {
          width: @bet-builder-cta-icon-width;
          height: @bet-builder-cta-icon-height;
        }
      }

      .remove svg {
        fill: @color-red;
      }
    }

    .alert {
      position: absolute;
      top: -@bet-builder-header-size;
      min-height: @bet-builder-header-size;
      width: 100%;
      padding: 10px 12px;
      background-color: @lGray;
      color: @color-white;
      font-size: 12px;

      .display-flex();
      .align-items(center);

      svg {
        height: 15px;
        width: 17px;
        fill: @color-white;
        margin-right: 8px;
      }

      &.error {
        background-color: @bet-builder-error-background;
        color: @color-white;

        span {
          text-align: center;
          width: 100%;
        }
      }
    }

    .close {
      position: absolute;
      right: 14px;
      top: 0;
      bottom: 0;
      width: @bet-builder-close-btn-height;
      height: @bet-builder-close-btn-height;
      margin: auto;
      cursor: pointer;
    }

    .close:before, .close:after {
      position: absolute;
      left: 10px;
      content: ' ';
      height: @bet-builder-close-btn-height;
      width: 2px;
      background: @color-white;
    }

    .close:before {
      transform: rotate(45deg);
    }

    .close:after {
      transform: rotate(-45deg);
    }


    header {
      background-color: @bet-builder-background;
      height: @bet-builder-height;
      .display-flex();
      .align-items(center);
      .justify-content(space-between);
    }

    .odd {
      width: @bet-builder-odd-width;
      max-width: @bet-builder-odd-width;

      &.extendable {
        width: 100%;
        max-width: none;
      }

      .add-button {
        .display-flex();
        .flex-direction(column);
      }

      height: @bet-builder-height;
      font-size: @font-size-md;
      text-align: center;
      font-weight: normal;
      padding: 0 10px;
      line-height: normal;
      cursor: pointer;
      background-color: @bet-builder-button-bg-color;
      color: @color-white;

      .display-flex();
      .align-items(center);
      .justify-content(center);
      .flex(0, 0, @bet-builder-odd-width);

      .label {
        display: block;
        text-transform: uppercase;
        font-weight: normal;
        color: @color-white;
        font: @font-size @base-font-family;
      }

      .stake-value {
        font-size: @font-size-lg;
        white-space: nowrap;
      }

      .stake-label-top {
        display: block;
        text-transform: uppercase;
        font-size: @bet-builder-font-size-sm;
        font-weight: normal;
        white-space: nowrap;
      }

      .stake-label {
        display: block;
        font-size: @bet-builder-font-size-xs;
        text-transform: uppercase;
        white-space: nowrap;
      }

      &.disabled {
        background: @bet-builder-disabled-button-bg-color;
        pointer-events: none;

        .label {
          color: @color-white;
        }
      }

      .spinner-loader {
        margin-left: 0;
        margin-right: 0;

        .display-flex();
        width: @bet-builder-odds-spinner-size;
        height: @bet-builder-odds-spinner-size;

        &:before {
          border-color: @bet-builder-odds-spinner-border-light-color;
          border-top-color: @bet-builder-odds-spinner-border-dark-color;
          border-left-color: @bet-builder-odds-spinner-border-dark-color;
          background-color: transparent;
        }
      }
    }

    .summary {
      height: @bet-builder-height;
      width: 100%;
      .flex(1);
      .display-flex();
      .align-items(center);
      .justify-content(space-between);
    }

    .description {
      .display-flex();
      .flex(1);
      font-weight: normal;
      overflow: hidden;
      padding-left: 12px;

      .title {
        font-size: @bet-builder-font-size;
        font-weight: bold;

        &:first-child {
          min-width: 38px;
          width: 100%;
          display: block;
        }
      }

      &.info {
        text-transform: none;
        font-weight: normal;
      }

      .info-block {
        height: 34px;
        .display-flex();
        .align-items(center);
        padding-left: 10px;

        &:first-child {
          display: block;
          border-right: 1px @input-border-color solid;
          padding-left: 0;
          padding-right: 10px;
          white-space: nowrap;
        }

        &:nth-child(2) {
          align-items: flex-start;

          .title:first-child {
            max-width: 48px;
          }
        }
      }

      .input-wrapper {
        position: relative;
      }

      .input-label {
        &::after {
          content: '£';
          display: flex;
          align-items: center;
          height: 100%;
          position: absolute;
          left: 6px;
          line-height: 30px;
          z-index: 1;
          font-family: @alt-font-family;
          font-size: @font-size-md;
          font-weight: 700;
          color: @bet-builder-grey-color;
        }

        &.dark::after {
          color: @bet-builder-carousel-text-color;
        }
      }

      input {
        font-family: @alt-font-family;
        display: inline-block;
        width: 60px;
        height: 30px;
        line-height: 30px;
        border-radius: 2px;
        font-weight: normal;
        color: @color-gray-darkest;
        padding-left: 13px;
        border: 1px solid @input-border-color;
        background: none;
      }
    }

    .close-open-switcher {
      .display-flex();
      .align-items(center);
    }

    .summary {
      .open {
        .display-flex();
        .align-items(center);
        .align-content(flex-end);
        font-size: @font-size-md;
        margin: 0 12px;
        cursor: pointer;

        span {
          text-decoration: underline;
        }

        svg {
          position: relative;
          fill: @color-gray-darkest;
          transform: none;
          width: @bet-builder-open-width;
          height: @bet-builder-open-height;
          margin-left: 7px;
        }
      }
    }

    &.expanded {
      .selections {
        height: auto;
      }

      .summary {
        .open svg {
          transform: rotate(180deg);
        }
      }
    }

    @media screen and (min-width: 450px) {
      .description {
        input {
          width: 65px;
        }

        .info-block {
          padding-left: 20px;

          &:first-child {
            .display-flex();
            padding-right: 20px;
            padding-left: 0;

            .title:first-child {
              padding-right: 3px;
            }
          }

          &:nth-child(2) {
            align-items: center;

            .title:first-child {
              max-width: none;
            }
          }
        }
      }

      .open {
        svg {
          top: 1px;
        }
      }
    }
    @media screen and (max-width: @mobile-small-point-alt) {
      .description {
        padding-left: 10px;

        .info-block {
          padding-left: 5px;

          &:first-child {
            padding-right: 5px;
          }
        }

        .title {
          font-size: @font-size-md;
        }
      }

      .odd {
        flex: 0 0 70px;
      }
    }
  }

  @supports (padding-bottom: constant(safe-area-inset-bottom)) {
    .bet-builder {
      &.visible {
        --safe-area-inset-bottom: constant(safe-area-inset-bottom);
        padding-bottom: var(--safe-area-inset-bottom);
      }
    }
  }

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    .bet-builder {
      &.visible {
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        padding-bottom: var(--safe-area-inset-bottom);
      }
    }
  }
}
