<top-bar *ngIf="mode !== BET_HISTORY" [title]="'retail.betTracker'" data-crlat="topBar"></top-bar>
<div class="spinner-loader spinner-dark" *ngIf="!isBetTrackerLoaded"></div>
<div id="main-app" *ngIf="isBetTrackerLoaded">
  <bet-tracker-app *ngIf="mode !== BET_HISTORY"></bet-tracker-app>
  <bet-tracker-history *ngIf="mode === BET_HISTORY"></bet-tracker-history>
</div>
