<div class="free-bet-notification" data-crlat="fbNtf" [ngClass]="{ 'tablet': isTablet }">
  <span class="notification-content" [textContent]="message" data-crlat="text"></span>
  <span class="close-icon" (click)="closeNotification()" data-crlat="closeIcon">
    <svg><use xlink:href="#close-icon"></use></svg>
  </span>
</div>
