@import 'global.variables.less';

:host {
  display: block;
}

.free-bet-notification {
  background: @color-yellow-alt;
  position: relative;
  border-radius: 3px;
  padding: 10px 30px 10px 10px;
  box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.5);
  font-size: 12px;
  letter-spacing: 0;
  color: @lGray;
  font-family: 'Helvetica Neue';

  &.tablet {
    width: 100%;
  }

  .close-icon {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    right: 0;
    padding: 10px;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
