<ng-container *ngIf="!state.loading && !state.error">
  <div #betTracker></div>
</ng-container>

<outlet-status [state]="state">
  <request-error [errorMsg]="errorMsg"
                 [loginNeed]="!userStatus"
                 [insertedPlace]="'in-shop-bets'"
                 [reloadMethods]="['SUCCESSFUL_LOGIN']"
                 (reloadFn)="reloadComponent()">
  </request-error>
</outlet-status>
