@import '../../../assets/styles/general.less';

@color-light-gray: #e8e8e8;
@color-red: #ec1d24;
@color-green: #88b923;

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.answers-summary {
  background: @color-white;
  border-radius: 9px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  color: @color-blue-dark;
  position: relative;
  &__kit {
    margin-bottom: 10px;
    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      display: inline-block;
    }
  }
  &-info {
    display: inline-flex;
    align-items: center;
    margin-bottom: 16px;

    &__item {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      padding: 2px 7px;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      border: 1px solid @color-yellow;
      color: @color-blue;
      &.top-left-header {
        background: @color-yellow;
      }

    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.team-score {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  &__item {
    font-size: 23px;
    display: flex;
    line-height: 26px;
    text-transform: uppercase;
    justify-content: space-between;
    &.won{
      font-weight: bold;
    }
  }
}

.game-summary {
  &.show {
    .game-summary__content {
      display: block;
      animation: fadeIn .5s;
    }
    .game-summary__label:after {
      top: 1px;
      transform: rotate(45deg);
    }
  }
  &__label {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 3px;
      margin-left: 7px;
      background-color: white;
      border-right: 2px solid @color-blue-dark;;
      border-bottom: 2px solid @color-blue-dark;;
      width: 7px;
      height: 7px;
      display: inline-block;
      transform: rotate(-135deg);
      transition: all .4s linear;
    }
  }
  &__content {
    margin-top: 15px;
    display: none;
  }
  &__list {
    margin:0 -20px 10px;
    .item {
      padding: 10px 16px;
      border-top: 1px solid @color-light-gray;
      display: flex;
      &:last-child {
        border-bottom: 1px solid @color-light-gray;
      }
    }
    .rez-svg {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin-right: 10px;
      &.lose {
        fill: @color-red;
      }
      &.won {
        fill: @color-green;
      }
    }
    .question {
      font-size: 11px;
    }
    .answer {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }
  }
  &__descr {
    font-size: 12px;
  }
}

.answers-summary__price {
  position: absolute;
  border-top-right-radius: 9px;
  overflow: hidden;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 95px;
  height: 65px;
  z-index: 1;
  transition: border-color 0.1s ease;
  border-color: @color-yellow;

  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 0 solid transparent;
    border-right: 95px solid transparent;
    border-bottom: 65px solid transparent;
    border-left: 0 solid transparent;
    border-right-color: inherit;
    transition: border-color 0.1s ease;
  }

  .label {
    font-size: 18px;
    font-weight: bold;
    top: 5px;
    right: 10px;
    position: absolute;
    z-index: 1;
    color: @color-blue-dark;
  }

  .lose-svg {
    display: none;
  }

  &.lose {
    border-color: @color-red;
    .lose-svg {
      width: 20px;
      height: 20px;
      fill: white;
      display: flex;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .label {
      display: none;
    }
  }
  &.won {
    border-color: @color-green;
    .label {
      color: @color-white;
    }
  }
}


/* MEDIA STYLES */
@media @mqTabletAndDesktop {
  .answers-summary__price {
    width: 110px;
    height: 75px;
    border-color: @color-yellow;
    &:after {
      border-right-width: 110px;
      border-bottom-width: 75px;
    }
    .label {
      font-size: 22px;
    }
  }

  .game-summary {
    &__label {
      font-size: 12px;
    }
    &__list {
      .answer {
        font-size: 15px;
      }
      .question {
        font-size: 12px;
      }
    }
  }

  .answers-summary {
    &__kit {
      margin-bottom: 10px;
      img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
      }
    }
    &-inf {
      margin-bottom: 20px;
      &__item {
        font-size: 12px;
      }
    }
  }
}
