<div class="yourcall-tab-content sk-container" [ngClass]="{'sk-loading': !isLoaded}">
  <loading-screen [displayed]="!isLoaded" [templateType]="'GENERIC'" [longRenderView]="true"></loading-screen>
  <your-call-static-block [staticType]="staticType"
                          [showIcon]="showIcon"
                          data-crlat="yourcallStaticBlock">
  </your-call-static-block>
  <div *ngIf="isLoaded">
    <div *ngIf="showMarkets" data-crlat="accordionsList">
      <ng-container *ngFor="let market of markets; index as i; trackBy: trackByMarket">
        <accordion
          *ngIf="market.available"
          [accordionTitle]="market.title"
          [isChevronToLeft]="true"
          [isExpanded]="expandCollapseMap[i]"
          (function)="expandCollapse(market, i)"
          data-crlat="ycAccordion">
          <right-side *ngIf="market.type !== 'playerBets'">
            <cashout-label></cashout-label>
          </right-side>
          <accordion-body>
            <yourcall-market *ngIf="expandCollapseMap[i]"
                             [game]="game"
                             [limit]="6"
                             [market]="market"
                             data-crlat="yourcallMarket"></yourcall-market>
          </accordion-body>
        </accordion>
      </ng-container>
    </div>
    <div class="yourcall-default-text" *ngIf="!showMarkets">
      <p class="yourcall-tab-info-text">
        <span class="yourcall-hash" [i18n]="'yourCall.yourcallHash'"></span>
        <span [i18n]="'yourCall.yourcallNoMarkets'"></span>
      </p>
      <p class="yourcall-add-text" [i18n]="'yourCall.yourcallStaticText'">
      </p>
    </div>
  </div>
  <yourcall-dashboard></yourcall-dashboard>
  <yourcall-betslip [eventEntity]="eventEntity"></yourcall-betslip>
</div>
