<div class="mini-games-container">
  <iframe class="mini-games-iframe" *ngIf="!isError"
          [src]="miniGamesUrl"
          [hidden]="!showContent">
  </iframe>
  <div class="mini-games-error" *ngIf="isError">
    <span [i18n]="'bma.miniGamesError'"></span>
  </div>
  <div *ngIf="showLoadingSpinner"
       class="mini-games-spinner spinner-loader spinner-dark"
       data-crlat="spinner.loader">
  </div>
</div>
