@import 'global.variables.less';
@import '../../../../../app/questionEngine/assets/styles/general.less';

@color-bright-yellow: #fdf001;
@color-dark-red: #a4161c;
@tabSwitcherBorder: rgba(0, 0, 0, 0.15);

.tab-content-latest, .tab-content-previous {
  .no-game-wrapper {
    .no-game-title {
      text-transform: uppercase;
      color: @color-black;
      opacity: 0.3;
      font-size: 26px;
    }
    .no-game-subtitle {
      font-weight: normal;
    }
  }
}
.qe-header {
  .logo {
    height: 20px;
    margin: 0 auto 30px;
  }
}

.qe-btn-back {
  .inline-flex();
  .align-items();
  height: 45px;
  min-width: 45px;
  margin-top: 0;
  margin-bottom: 15px;
}
