@import 'global.variables.less';

.race-market {
  position: relative;
  overflow: hidden;

  .race-market-header {
    .header-wrapper {
      .display-flex();
      .justify-content(flex-end);
      .align-items(center);
      margin: 0;
      padding: 0 10px 0 0;
      background-color: @color-gray-light;
      min-height: 35px;

      @media (min-width: @tabletPoint) {
        min-height: 27px;
      }
      li {
        min-width: 60px;
        list-style-type: none;
        text-align: center;
        font-size: @font-size-sm;
        font-family: @base-font-family;
        color: @color-gray-dark;
        text-transform: uppercase;
        margin-left: 6px;
      }
    }
  }
  .btn.btn-bet,
  .btn-bet {
    width: 50px;
    //disabled
    &.active[disabled],
    &.bet-up[disabled],
    &.bet-down[disabled],
    &.bet-dis[disabled],
    &[disabled] {
      width: 50px;
    }
  }
  .price-odds-wrapper {
    margin-left: 6px;
  }
  .odds-card {
    .odds-left,
    .odds-content {
      .align-items(center);
    }
    .odds-right {
      .align-items(start);

      .toggle-icon {
        margin-top: 30px;
      }
    }
  }
  ::ng-deep .previous-prices {
    .display-flex();
    .align-items(center);
    .justify-content(center);
    width: 50px;
    font-size: 9px;
    margin-top: 3px;

    &.prev-long-prices {
      width: 33px;
    }
  }
}

.sort-by-enabled .race-market {
  margin-top: 0;
}
