<div class="odds-card-header odds-card-pad"
     [ngClass]="{'odds-card-pad-fav': isFavorite}"
     [hidden]="!showOddsCardHeader"
     data-crlat="eventOddsHeader">
  <div class="odds-left" *ngIf="dateTitle">
    <span class="odds-header-title" [textContent]="dateTitle" data-crlat="dateTitle"></span>
  </div>
  <div class="odds-right">
    <span class="odds-header-col" *ngFor="let title of headTitles" [textContent]="title" data-crlat="headTitles"></span>
  </div>
</div>
