<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [skeletonType]="'GENERIC_FULL'" [state]="state">
    <div class="container">
      <div class="center-text">
        <span [i18n]="'lotto.serverError'"></span>
      </div>
      <div class="center-text">
        <span [i18n]="'lotto.errorServiceDepartmentMessage'"></span>
        <span>
        <a [routerLink]="['/contact-us']" [i18n]="'lotto.errorServiceDepartmentLink'"></a>
      </span>
      </div>
    </div>
  </outlet-status>
  <ng-container *ngIf="!state.loading && !state.error">
    <div class="lotto-segment">
      <section class="page-container">
        <header class="container-header no-flex" data-crlat="containerHeader">
          <div class="segment-title">
            <strong>
              <span data-crlat="currentLotto.name" [textContent]="currentLotto.name"></span>&nbsp;
              <span [i18n]="'lotto.lottery'" data-crlat="lotto.lottery"></span>&nbsp;
            </strong>
            <span [i18n]="'lotto.upto'"></span>&nbsp;
            <span data-crlat="betUntillTime" [textContent]="currentLotto.shutAtTime | date:'dd/MM/yyyy HH:mm'"></span>
          </div>
          <a [attr.href]="helpSupportUrl"
             target="_blank"
             class="help-icon"
             data-crlat="infoButton">
            <svg>
              <use xlink:href="#info-icon"></use>
            </svg>
          </a>
          <span *ngIf="days !== 0">
          <span class="days">{{ days }}</span>&nbsp;
          <span [i18n]="'lotto.days'" *ngIf="days !== 1"></span>
          <span [i18n]="'lotto.day'" *ngIf="days === 1"></span>&nbsp;
        </span>
          <span *ngIf="hours !== 0">
          <span>{{ hours }}</span>&nbsp;
          <span [i18n]="'lotto.hours'" *ngIf="hours !== 1"></span>
          <span [i18n]="'lotto.hour'" *ngIf="hours === 1"></span>&nbsp;
        </span>
          <span>
          <span>{{ minutes }}</span>&nbsp;
          <span [i18n]="'lotto.minutes'" *ngIf="minutes !== 1"></span>
          <span [i18n]="'lotto.minute'" *ngIf="minutes === 1"></span>
        </span>
        </header>
        <tabs-panel [tpTabs]="lottoTabs" [tpActiveTab]="activeTab"></tabs-panel>
        <div *ngIf="!tab" class="container-content row-panel">
          <div class="group-buttons top-btn-row">
            <div class="group-btn" data-crlat="buttonGroup">
              <div class="group-col"></div>
              <div class="group-col"></div>
              <div class="group-col">
                <button (click)="resetNumbers()"
                        class="btn" [i18n]="'lotto.reset'"
                        [disabled]="!selected"
                        data-crlat="resetNumberButton">
                </button>
              </div>
            </div>
          </div>
          <number-selector [numbersSelected]="numbersSelected"
                           [numbersData]="numbersData"
                           [luckyDipArr]="luckyDipArr"
                           [selected]="selected"
                           (selectNumbers)="selectNumbers($event)"
                           (resetSelected)="resetSelected($event)"
                           (luckyDip)="luckyDip($event)"
                           (resetNumbers)="resetNumbers()"
                           (doneSelected)="doneSelected()"></number-selector>
          <div class="group-buttons" data-crlat="lotto.luckyDip">
            <div class="group-caption" [i18n]="'lotto.luckydip'"></div>
            <div class="group-btn" data-crlat="buttonGroup">
              <div class="group-col group-default" *ngFor="let lucky of luckyDipArr;">
                <button (click)="luckyDip(lucky); doneSelected();" class="btn btn-style1"
                        data-crlat="luckyButton">{{ lucky | callBack : getDipTranslations : this }}</button>
              </div>
            </div>
          </div>
          <div class="item-inner">

            <!-- Accumulator section (name, odds, amount field)-->
            <div class="row row-middle">
              <div class="col-xs-6">
                <!-- Booster ball section -->
                <div class="check-styled" *ngIf="currentLotto['boosterBall'] && currentLotto['normal']">
                  <input type="checkbox" id="boosterBall" data-crlat="checkbox.bonusBall" [(ngModel)]="boosterBall"
                         (ngModelChange)="setLotto(currentLotto, boosterBall);"/>
                  <label for="boosterBall"></label>
                </div>
                <label for="boosterBall" class="check-title label-text" data-crlat="lotto.bonusBallLabel"
                       *ngIf="currentLotto['boosterBall'] && currentLotto['normal']" [i18n]="'lotto.boosterBall'">
                </label>
              </div>
              <strong class="col-xs-3 text-right" data-crlat="odd">{{ accumulatorPrices }}</strong>
              <div class="col-xs-3">
                <form name="stakeForm" class="custom-input-container bet-stake-value-container" data-crlat="betInput">
                  <span class="currency" data-crlat="currency">{{ currencySymbol }}</span>
                  <input type="text" [disabled]="ballPicks.length < 1"
                         [ngClass]="{'kr-currency' : currencySymbol ==='Kr'}"
                         (ngModelChange)="setTotalStake()"
                         name="amount"
                         step="0.01"
                         placeholder="0.00"
                         pattern="^(\d{0,12}(\.\d{0,2})?)?$"
                         [(ngModel)]="accumulatorAmount"
                         [patternRestrict]="'^(\\d{0,12}(\\.\\d{0,2})?)?$'" [patternToFixed]="true"
                         data-money-validate="true" data-crlat="betAmount"/>
                </form>
              </div>
            </div>

          </div>
          <accordion [isExpanded]="isExpended" data-crlat="lotto.options">
            <left-side>
              <span class="left-title-text" [i18n]="'lotto.options'" data-crlat="headerTitle.leftMessage"></span>
            </left-side>
            <accordion-body class="lotto-body">
              <p class="label-text" [i18n]="'lotto.draw'"></p>
              <div class="row draw-row" data-crlat="selectDrawRow">
                <div *ngFor="let draw of orderedDraws; let i = index;" class="col-xs-6">
                  <!-- <div class="col-xs-6"> -->
                  <div class="check-styled">
                    <input [attr.name]="draw.id"
                           [attr.id]="draw.id"
                           class="form-control"
                           type="checkbox"
                           [(ngModel)]="draw.checked"
                           (ngModelChange)="updateDraws()"
                           data-crlat="chkBox"/>
                    <label [attr.for]="draw.id"></label>
                  </div>
                  <label [attr.for]="draw.id" class="check-title" data-crlat="label">
                    <strong data-crlat="value">{{ draw.description }}</strong>
                  </label>
                  <!-- </div> -->
                  <div *ngIf="(i + 1) % 2 === 0" class="clearfix"></div>
                </div>
              </div>
            </accordion-body>
          </accordion>
          <ng-info-panel *ngIf="lottoError" [message]="lottoError.msg" [type]="lottoError.type"></ng-info-panel>
          <div class="item-inner item-bordered-top">
            <button class="btn btn-style1 full-width"
                    *ngIf="!confirm"
                    (click)="confirmation($event);"
                    [disabled]="draws.length < 1 || ballPicks.length < 1 || !(totalStake > 0) || placeBetPending"
                    data-crlat="placeBetButton">
              <span [i18n]="'lotto.placeBet'"></span>
              <span data-crlat="totalStake">{{ totalStakeGetter }}</span>
            </button>
            <!-- Confirm Button-->
            <button class="btn btn-style3 full-width"
                    *ngIf="confirm"
                    type="submit"
                    [disabled]="draws.length < 1 || ballPicks.length < 1 || !(totalStake > 0) || placeBetPending"
                    (click)="placeLottoBet()" data-crlat="confirmButton">
              <span [i18n]="'lotto.confirm'"></span>
            </button>
          </div>
        </div>
        <div *ngIf="tab === 'combo'" class="container-content text-section">Combo</div>
        <div *ngIf="tab === 'results'" class="container-content text-section">Results</div>
      </section>
    </div>
  </ng-container>
</div>
