@import 'global.variables.less';

:host {
  .clearfix();
}

.heuristic-container :host, greyhounds-tabs :host {
  display: block;
  margin-right: -@platform-padding;
  margin-left: -@platform-padding;
}

.skeleton-inner {
  padding: 8px 12px;
  overflow: hidden;
  background: @color-gray;
  width: 100%;
  height: @sk-min-height;
}

.fade-out-screen:not(.banner) {
  .skeleton-inner {
    height: @sk-min-height;
    &.tablet {
      height: @sk-tablet-min-height;
    }
  }
}

.scoreboard :host {
  .fade-out-screen .skeleton-inner {
    &:not(.tablet) {
      padding: 14px;
      height: @sk-scoreboard-height;
    }

    &.tablet {
      padding: 12px;
      height: @sk-tablet-scoreboard-height;
    }
  }
}

.simple-content {
  background: @color-gray-alabaster;
  display: flex;
  height: 61px;
  padding: 8px;
  overflow: hidden;
}

* + .aem-banner-container {
  margin-top: 8px;
}

.aem-banner-container {
  background: @color-gray-alabaster;
  padding: 12px;
  height: 130px;
  display: block;
}

.aem-banner {
  background: @color-gray-athens;
  height: 106px;
  overflow: hidden;
}

* + .aem-banner-container {
  margin-top: 8px;
}

.scoreboard-container {
  .display-flex();
  .justify-content();
  .align-items();
  height: 100%;
  background: @color-white;

  svg {
    width: 268px;
    height: 159px;
  }
}

.tabs-container, .second-tabs-container {
  background: @color-gray-alabaster;
  height: 40px;
  padding: 9px;
  overflow: hidden;
  display: flex;
  margin-top: 10px;
  .tab {
    flex-shrink: 0;
    width: 70px;
    height: 22px;
    margin-right: 8px;
    background: @color-gray-athens;
  }
}

.second-tabs-container {
  margin-bottom: 10px;
  background: @color-gray;
  padding: 0;
  .tab {
    padding: 15px 26px;
    flex-shrink: 0;
    width: 138px;
    height: 43px;
    margin-right: 8px;
    background: @color-gray-alabaster;
  }
  .tab-line {
    width: 86px;
    height: 13px;
    background: @color-gray-athens;
  }
}

.simple-content {
  margin-bottom: 10px;
  height: 112px;
  flex-wrap: wrap;
  padding: 12px 9px;

  .simple-content-line {
    margin-bottom: 8px;
    flex-shrink: 0;
    background: @color-gray-athens;
    height: 24px;
    width: 100%;
  }
}

.coral-content-block {
  padding: 0 9px;
  background: @color-gray-alabaster;

  .generic-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.content-container {
  background: @color-gray-athens;
}

.line {
  padding-top: 2px;
}
.generic-content {
  padding: 16px 9px 12px;
  .display-flex();
  .justify-content(space-between);
  .flex-flow(row wrap);
  background: @color-gray-alabaster;

  & + & {
    margin-top: 3px;
  }

  .generic-content-line {
    flex-shrink: 0;
    margin-bottom: 8px;
    background: @color-gray-athens;
    height: 12px;
    width: 114px;
  }

  .generic-content-price {
    width: 69px;
    height: 35px;
    flex-shrink: 0;
    background: @color-gray-athens;
  }
}

.home-content-block {
  height: 219px;
  margin-top: 10px;
  margin-bottom: 26px;
  background: @color-gray-alabaster;

  .generic-header {
    width: 100%;
    height: 32px;
    background: @color-gray-athens;
  }

  .generic-content {
    padding: 16px 9px 12px;
    .generic-content-price {
      width: 45px;
      height: 35px;
      margin-left: 8px;
    }
    .generic-content-line {
      width: 107px;
    }
    .prices {
      display: flex;
    }
  }
}

.tablet {
  padding: @sk-tablet-padding;

  .aem-banner-container {
    padding: 10px;
    height: 158px;
  }

  .aem-banner {
    height: 138px;
  }

  .tabs-container {
    height: 49px;
    padding: 10px;
    .tab {
      width: 86px;
      height: 29px;
    }
  }

  .home-content-block {
    height: 487px;
    margin: 12px 0 44px;
    .generic-header {
      height: 39px;
    }
    .generic-content {
      padding: 20px 20px 12px;
      .generic-content-price {
        width: 55px;
        height: 43px;
        margin-left: 10px;
      }
      .generic-content-line {
        width: 131px;
        height: 14px;
        margin-bottom: 10px;
      }
      .prices {
        display: flex;
      }
    }
  }

  .second-tabs-container {
    height: 53px;
    .tab {
      padding: 18px 32px;
      width: 170px;
      height: 53px;
      margin-right: 12px;
    }
    .tab-line {
      width: 106px;
      height: 17px;
    }
  }

  .aem-banner-container {
    padding: 10px;
    height: 158px;
  }

  .aem-banner {
    height: 138px;
    overflow: hidden;
  }
  .simple-content {
    height: 138px;
    padding: 12px;
    margin-bottom: 8px;
    .simple-content-line {
      margin-bottom: 13px;
      height: 30px;
    }
  }

  .generic-header {
    width: 100%;
    height: 39px;
  }

  .coral-content-block {
    height: 207px;
    margin-bottom: 20px;
    padding: 0;
    .generic-content {
      padding: 20px 12px;
    }
    .generic-content-line {
      height: 15px;
      width: 140px;
    }
    .generic-content-price {
      width: 85px;
      height: 43px;
    }
  }

  .scoreboard-container {
    svg {
      width: 157px;
      height: 94px;
    }
  }
}

.banner {
  .aem-banner-container,
  .aem-banner {
    height: 100%;
  }

  .skeleton-inner {
    &:not(.tablet) {
      padding: @sk-mobile-padding;
    }

    &.tablet {
      padding: @sk-tablet-padding;
    }
  }

  @media (min-width: @tabletPoint) {
    .skeleton-container {
      padding-top: @banner-min-height * 1%;
    }

    .skeleton-inner {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  @media (max-width: @tabletPoint) {
    .skeleton-inner {
      height: @banner-min-height * 1vw;
    }
  }
}


// ANIMATION RELATED STYLES START

.animate {
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(8.6px);
    filter: blur(8.6px);
    background-image: linear-gradient(237deg,
    rgba(255, 255, 255, 0.15) 5%,
    rgba(255, 255, 255, 0.8) 13%,
    rgba(255, 255, 255, 0.15) 22%,
    rgba(255, 255, 255, 0.8) 36%,
    rgba(255, 255, 255, 0.15) 46%,
    rgba(255, 255, 255, 0.8) 58%,
    rgba(255, 255, 255, 0.15) 69%,
    rgba(255, 255, 255, 0.8) 80%,
    rgba(255, 255, 255, 0.15) 90%);
    background-size: 300%;
    background-position: 0 100%;
    animation: diagonal 12s ease infinite;
  }
}

@keyframes diagonal {
  50% {
    background-position: 100% 0
  }
}

// ANIMATION RELATED STYLES END
