@import 'global.variables.less';

.cashout-label-wrapper {
  background: @color-blue-lightest;
  text-transform: none;

  .cashout-label-text {
    color: @brand-color-main;
  }

  &.big-icon {
    .flex-direction(column);
    .cashout-label {
      width: 17px;
      height: 17px;
      margin: 0 0 3px;
    }

    .cashout-label-text {
      font-size: 7px;
      line-height: 5px;
    }
  }

  &.middle-icon {
    .flex-direction(row);
    .cashout-label {
      width: 17px;
      height: 17px;
      margin: 0;
    }
    .cashout-label-text {
      display: none;
    }
  }

  &.small-icon {
    .flex-direction(row);
    .cashout-label {
      width: 11.3px;
      height: 11.3px;
    }
    .cashout-label-text {
      height: 16px;
      line-height: 16px;
      text-transform: uppercase;
      font-size: 8px;
      margin-left: 3px;
      font-weight: 900;
    }
  }

  &.mini-icon {
    .small-icon();
    .cashout-label-text {
      display: none;
    }
  }
}
