<ng-container *ngIf="!state.loading && !state.error">
  <div class="tote">

    <!--- Top Bar -->
    <top-bar [title]="'tt.toteTitle'"
             [iconSvg]="icon.svg"
             [iconId]="icon.svgId"
             (titleFunc)="goToDefaultPage()"
             data-crlat="topBar"></top-bar>

    <!--- Banners Section-->
    <banners-section [page]="bannerCategory"
                      data-crlat="bannersSection"></banners-section>

    <!--- Tabs -->
    <tabs-panel [tpTabs]="tabs"
                [tpActiveTab]="activeTab"></tabs-panel>

    <router-outlet></router-outlet>
  </div>
  <quick-links class="quick-links-container"></quick-links>
</ng-container>
<outlet-status [state]="state">
  <request-error (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
