<div>
  <top-bar [title]="'bf.betFinder'"
           [innerContent]="true">
    <top-bar-body class="top-bar-side" data-crlat="topBarContent">
      <div class="bf-top-header">
        <div class="bf-reset" (click)="onReset()" data-crlat="reset">
          <svg class="refresh-icon" [ngClass]="{'rotate-icon': refreshRotate}" data-crlat="refreshIcon">
            <use xlink:href="#refresh-icon"></use>
          </svg>
          <span class="bf-reset-text" [i18n]="'bf.reset'"></span>
        </div>
      </div>
    </top-bar-body>
  </top-bar>
  <div class="bet-finder-container">
    <div class="bf-header">
      <div class="bf-header-title" [i18n]="'bf.bfHeaderTitle'" data-crlat="title"></div>
      <div class="bf-header-text" [i18n]="'bf.bfHeaderText'" data-crlat="text"></div>
      <div class="bf-header-message" [i18n]="'bf.bfHeaderMessage'" data-crlat="headerMessage"></div>
    </div>
    <section class="page-container page-inner-container">
      <div class="container-content">
        <div #bfFormContainer class="bf-form-container">
          <form>

            <!-- Meetings -->
            <div class="bf-form-part bf-no-pb">
              <div class="bf-form-title" [i18n]="'bf.meetings'"></div>
              <div class="row">
                <div class="col-xs-12">
                  <custom-select>
                    <select name="country"
                            id="country"
                            class="form-control bf-btn-large"
                            [(ngModel)]="filters.meetingShort"
                            (change)="onSelectChange()"
                            data-crlat="country">
                      <option *ngFor="let meeting of meetings"
                              [selected]="meeting.courseShort === filters.meetingShort"
                              [ngValue]="meeting.courseShort"
                              [textContent]="meeting.course"></option>
                    </select>
                  </custom-select>
                </div>
              </div>
            </div>

            <!-- Odds Buttons -->
            <div class="bf-form-part bf-no-pb">
              <div class="bf-form-title" [i18n]="'bf.odds'"></div>
              <div class="row">
                <div class="col-xs-6" *ngFor="let item of oddsButtons">
                  <div class="btn btn-primary full-width bf-btn bf-btn-large"
                       [ngClass]="{active: filters[item]}"
                       (click)="selectButton(item)"
                       data-crlat="oddsFilterButtons">
                    <div data-crlat="filterName" [i18n]="'bf.' + item"></div>
                    <svg class="check-icon">
                      <use xlink:href="#check-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <!-- Form Buttons -->
            <div class="bf-form-part bf-no-pb">
              <div class="bf-form-title" [i18n]="'bf.form'"></div>
              <div class="row">
                <div class="col-xs-6"
                     *ngFor="let item of formButtons; let btnsIndex = index;"
                     [ngClass]="{'col-xs-12': btnsIndex === 0}">
                  <div class="btn btn-primary full-width bf-btn bf-btn-large"
                       [ngClass]="{active: filters[item]}"
                       (click)="selectButton(item)"
                       data-crlat="formFilterButtons">
                    <div data-crlat="filterName" [i18n]="'bf.' + item"></div>
                    <svg class="check-icon">
                      <use xlink:href="#check-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <!-- Going Button -->
            <div class="bf-form-part bf-no-pb">
              <div class="bf-form-title" [i18n]="'bf.goingGroundType'"></div>
              <div class="row">
                <div class="col-xs-12" *ngFor="let item of provenButtons">
                  <div class="btn btn-primary full-width bf-btn bf-btn-large"
                       [ngClass]="{active: filters[item]}"
                       (click)="selectButton(item)"
                       data-crlat="goingFilterButtons">
                    <div data-crlat="filterName" [i18n]="'bf.' + item"></div>
                    <svg class="check-icon">
                      <use xlink:href="#check-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <!-- Supercomputer Buttons -->
            <div class="bf-form-part">
              <div class="bf-form-title" [i18n]="'bf.supercomputerFilters'"></div>
              <div class="row">
                <div class="col-xs-12 group-buttons-indent">
                  <toggle-buttons
                    [buttons]="computerButtonsSelector.values"
                    [selectedBtn]="selectedButton"
                    (toggleData)="selectRadioButton($event)">
                  </toggle-buttons>
                </div>
              </div>
            </div>

            <!-- Stars Rating -->
            <div class="bf-form-part grey-form-part bf-form-last">
              <div class="bf-form-title star-title" [i18n]="'bf.selectStarRating'"></div>
                <div class="bf-stars" data-crlat="bfStars">
                  <svg class="star-icon"
                       *ngFor="let star of stars; trackBy: trackByIndex; let starsIndex = index;"
                       [ngClass]="{'active': filters.starSelection > starsIndex}"
                       (click)="selectStar(starsIndex + 1)"
                       data-crlat="stars">
                    <use xlink:href="#star"></use>
                  </svg>
                </div>
            </div>

            <!-- Bottom Buttons -->
            <div class="row bf-buttons fixed" [style.width.px]="bfWidth" >
              <div class="col-xs-6">
                <div class="button btn-secondary full-width bf-btn"
                     [ngClass]="{disabled: disableSelectionButton}"
                     [i18n]="'bf.saveSelection'"
                     (click)="onSaveSelection()"
                     data-crlat="saveSelection"></div>
              </div>
              <div class="col-xs-6">
                <div class="button btn-primary full-width bf-btn"
                     [ngClass]="{disabled: disableSaveButton}"
                     (click)="onFindBets()"
                     data-crlat="findBets">
                  <div class="bf-found-button" [i18n]="'bf.findBets'"></div>
                  <div class="bf-found" [textContent]="foundResult" data-crlat="foundResultText"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
