@import 'global.variables.less';

::ng-deep .football-content-overlay {
  /* disable scrolling on mobile devices */
  overflow: hidden;
  /* required thing for ios */
  position: relative;
  max-height: 100%;
  height: auto;

  body {
    /* disable scrolling on mobile devices */
    overflow: hidden;
    /* required thing for ios */
    position: relative;
    max-height: 100%;
    height: auto;
  }
}

#football-tutorial-overlay {
  display: none;
  .rgba-color(@body-bg, .75);
  background: @result;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030;
  overflow: scroll;
  color: @color-white;

  .odds-fav-icon {
    margin: 2px 0 0 2px;
  }

  &.active {
    display: block;
  }

  &.landscape{
    .arr-panel {
      margin-top: 50px;

      .arr-div {
        margin: 15px 0;

        &.arr2 {
          svg {
            .transform(rotate(230deg));
            left: 110px;
            top: 52px;
          }
        }

        &.arr3 {
          svg {
            .transform(rotate(40deg));
            right: 92px;
            top: 0;
          }
        }
      }
      @media (min-height: 200px) and (max-height:300px ) {
        font-size: 10px;
      }
      @media (min-width: 310px) and (max-width:400px ) {
        .arr-div {
          &.arr2 {
            svg {
              .transform(rotate(180deg));
              left: 10px;
              top: 85px;
            }
          }

          &.arr3 {
            svg {
              .transform(rotate(-20deg));
              right: 25px;
              top: 6px;
            }
          }
        }
      }
      @media (min-width: 400px) and (max-width:480px ) {
        .arr-div {
          &.arr2 {
            svg {
              .transform(rotate(210deg));
              left: 65px;
              top: 30px;
            }
          }

          &.arr3 {
            svg {
              .transform(rotate(15deg));
              right: 60px;
              top: 77px;
            }
          }
        }
      }
    }

    .text-panel {
      margin-bottom: 0;
    }

    .favicons-area .header-panel {
      top: -10px;
    }
  }

  //Animation
  .animate{
    .transition(0.2s);
    opacity: 0;
  }
  .show-block{
    opacity: 1 !important;
  }
  .star-animation {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    .transition(all, .5s, ease);
  }

  .arr-panel {
    position: relative;
    margin-top: 125px;
    line-height: 16px;
  }

  .text-panel {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;


    .btn {
      padding: 8px 50px;
      margin: 10px 0;
    }
  }

  .favicons-area{
    position: absolute;
    width: 100%;

    .header-panel{
      position: absolute;
      top: -68px;
      right: 5px;
      background: @brand-color-main;
      border-radius: 50%;
      width: 40px;
      height: 35px;
      text-align: center;
      padding: 10px 3px 0 0;
      box-shadow: 0 0 13px rgba(76,156,255,.6);
      opacity: 0;

      .fav-icon {
        margin-top: -4px;
      }
    }
    .main-panel {
      top: 210px;
      left: 9px;
      position: absolute;
      background: @color-white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 4px 3px 0 0;
      box-shadow: 0 0 30px rgba(76, 156, 255, 0.8);
      opacity: 0;
    }
  }
  .arr-div {
    color: @color-yellow;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;

    span {
      color: @color-white;
      font-weight: normal;
    }
    &.arr2 {
      svg {
        position: absolute;
        .transform(rotate(180deg));
        left: 16px;
        top: 128px;
        height: 67px;
        width: 56px;
      }
    }

    &.arr3 {
      svg {
        position: absolute;
        right: 10px;
        top: -25px;
        height: 189px;
        width: 41px;
      }
    }
  }
}
