@color-blue-cornflower: #4a90e2;
@color-blue: #084D8D;
@color-blue-principal: #1E466C;
@color-blue-dark: #07294B;
@color-blue-darker: #203e5d;
@color-blue-darkest: #062745;
@color-blue-alt: #4a90e2;
@color-green: #78BE20;
@color-green-dark: #659e1d;
@color-green-light: #D3E6BC;
@color-orange: #F56B23;
@color-orange-dark: #d45e20;
@color-orange-darker: #d65b1b;
@color-orange-darkest: #c2541a;
@color-red: #EF3340;
@color-yellow: #FFCD00;
@color-yellow-dark: #ffac00;
@color-yellow-light: #fff270;
@color-gray-regular: #858585;
@color-gray-dark: #41494E;
@color-gray-ghost: #c7c7cc;
@color-matterhorn: #4E4E4E;
@color-gray-mid: #9da4a8;
@color-gray-darker: #D7D7D7;
@color-gray-saturated: #3f494f;
@color-gray: #E0E2EB;
@color-gray-athens: #eceef3;
@color-gray-alabaster: #f9f9f9;
@color-gray-secondary: #8e919f;
@color-gray-alt: #40494d;
@color-gray-light: #F9FAFE;
@color-gray-lighter: #d1d6e3;
@color-gray-lightest: #EBEDF2;
@color-gray-rich: #C0C4CD;
@color-gray-darkest: #2b2b2b;
@color-gray-disabled: #aaaaaa;
@color-white: #FFFFFF;
@color-snow: #e8eaf2;
@color-black: #000000;
@color-black-soft: #333333;
@color-pink: #E766E2;
@color-tealish: #31AED0;
@gold-level-text: #494f66;
@color-cobalt: #004696;
@color-violet-light: #c1c9db;
@color-snow: #e8eaf2;

@brand-color-main: @color-blue;
@brand-color-secondary: @color-blue-principal;
@brand-color-dark: @color-blue-dark;
@brand-color-darkest: @color-blue-darkest;

// ADDED
@color-blue-light: #0062a9;
@color-blue-lighter: #5e95c9;
@color-blue-lightest: #d7eaff;
@color-blue-gray: #3b6893;
@color-blue-cornflower: #4da2f9;
@color-orange-light: #E5B800;
@color-bronze: #B78A37;
@color-platinum: #596e7b;
@madison: #093864;
@color-red-lightest: #ebe8e8;
@color-nevada: #646668;
@rock-blue: #9CB3CB;
@caribbean-green : #0abfa1;
@pink-trendy: #8d5ba1;
@rb-link-color: #5da3ec;
@color-gray-shadow: #a2a2a2;
@color-gray-silver: #cccccc;
@light-grey: #DCDCDC;
@color-glacier-white: #E9E9E9;
@color-green-grass: #4EA11B;
@color-green-disabled: #b3ca99;
@blue: @color-blue-dark;

/*******ladbrokes colors*******/
@lGray-bg: #f9f9f9;
@lGrayLight: #efeff3;
@lGrayDark: #dddde4;
@redDarkest: #4f0b0c;
@color-yellow-alt: #FAC031;
@lBlack-light: #777;
@lGray: #252835;
@red: #f01e28;
@red4: #d01b23;
@link-color: @red;
@btn-bg-green-color: @color-green;

/***** Digital Keyboard *****/
@dk-border-color: rgba(65, 73, 78, 0.18);
@dk-button-color: #3a3d49;
@dk-font-size: 19px;

/***** Fallback Scoreboards *****/
@fb-scorebox-bg: #072a4b;
@fb-scorebox-bg-alt: @fb-scorebox-bg;
@fb-score-color: @color-yellow;
@fb-scorebox-border: #1e466c;
@fb-home-team-label: #fbc400;
@fb-away-team-label: #60a4e9;

/***** Banners Section Background *****/
@banners-section-color: @color-gray;
/*****Five-A-Side Colors*****/
@color-green-tropical: #028862;
@color-green-watercourse: #006742;
@color-eden: #10624f;
@color-green-observatory: #009d64;
@color-green-sea: rgba(0, 100, 77, 0.9);
@color-green-forest: #026850;
@color-yellow-gorse: #fff137;
@color-havelock-blue: #4871C3;
@color-rariner: #3159a7;
@color-green-sulu: #C2DB8F;
@color-green-deap: #028d5a;
@color-green-rain: #40bb98;
@color-shadow: rgba(0, 0, 0, 0.09);
@color-blue-selected: #007aff;
@color-very-light-gray: #c7c7c7;
@warning-msg-color: #cff2f8;
@color-pantone: #3bb589;
@color-dunn-edwards: #017a5e;
@color-cyprus: #1b7c59;
@color-brand-background: @color-blue-selected;
@color-table-header-bg: #eaeaea;
@color-horse-form-table-bg: #f7f7f7;