.aspect-ratio (@width, @height) {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .content-ratio {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

//word breaking
.word-break () {
  -ms-word-break: break-all;
  word-break: break-word; // Non standard for webkit
  word-wrap: break-word;
}

.rgba-color (@color, @opacity: 1) {
  @result: rgba( red(@color), green(@color), blue(@color), @opacity );
}

.bg-gradient (@top-gr, @btm-gr, @position: bottom ) {
  background-color: @top-gr;
  background-image: linear-gradient(to @position, @top-gr, @btm-gr);
  background-image: -moz-linear-gradient(@position, @top-gr, @btm-gr);
  background-image: -webkit-linear-gradient(@position, @top-gr, @btm-gr);
  background-image: -ms-linear-gradient(@position, @top-gr, @btm-gr);
}

.bg-tri-gradient (@top-gr, @mid-gr, @btm-gr, @position: bottom ) {
  background-color: @top-gr;
  background-image: -moz-linear-gradient(@position, @top-gr, @mid-gr, @btm-gr);
  background-image: -webkit-linear-gradient(@position, @btm-gr, @mid-gr, @top-gr);
  background-image: -ms-linear-gradient(@position, @top-gr, @mid-gr, @btm-gr);
  background-image: linear-gradient(to @position, @top-gr, @mid-gr, @btm-gr);
}

.bg-deg-gradient (@angle: 0deg, @col1, @col2) {
  background-image: -moz-linear-gradient(@angle, @col1, @col2);
  background-image: -webkit-linear-gradient(@angle, @col2, @col1);
  background-image: -ms-linear-gradient(@angle, @col1, @col2);
  background-image: linear-gradient(@angle, @col1, @col2);
}

.animation (@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

.transition (@name: all, @duration: 500ms, @timing: ease, @delay: 0s) {
  -webkit-transition: @name @duration @timing @delay;
  -moz-transition: @name @duration @timing @delay;
  transition: @name @duration @timing @delay;
}

.user-select () {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-placeholder (@color) {
  .placeholder() {
    color: @color;
    opacity: 1;
    .transition(opacity,.3s,ease);
  }

  .placeholder-focus() {
    opacity: 0;
    .transition(opacity,.3s,ease);
  }

  &::-webkit-input-placeholder {.placeholder()}
  &::-moz-placeholder          {.placeholder()}
  &:-moz-placeholder           {.placeholder()}
  &:-ms-input-placeholder      {.placeholder()}

  &:focus::-webkit-input-placeholder {.placeholder-focus()}
  &:focus::-moz-placeholder          {.placeholder-focus()}
  &:focus:-moz-placeholder           {.placeholder-focus()}
  &:focus:-ms-input-placeholder      {.placeholder-focus()}
}

.custom-placeholder(@rules) {
  &::placeholder {
    @rules();
  }
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
}

.appearance (@val) {
  appearance: @val;
  -moz-appearance: @val;
  -webkit-appearance: @val;

  &::-ms-expand {
    display: none;
  }
}

.transform (@string) {
  -webkit-transform: @string;
  -ms-transform:     @string;
  transform:         @string;
}

.transform-origin (@string) {
  -webkit-transform-origin: @string;
  -ms-transform-origin:     @string;
  transform-origin:         @string;
}

.transform-style (@style) {
  -webkit-transform-style: @style;
  -ms-transform-style: @style;
  transform-style: @style;
}

.clearfix () {
  *zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
