@import './colours.variables.less';
@import './media-queries.variables.less';
@import './fonts.variables.less';

// OXYGEN APP STYLES
//----------------------------------------------------------------------

@platform-padding: 4px;
@platform-paddings: 0px @platform-padding;
@clock-svg-color: #c3e6ff;
@app-header-height: 56px;

//----------------------------------------------------------------------
// Top Bar
//  _______________________________________
// |     |                                 |
// |  <  | (icon) Title Text        (icon) |
// |_____|_________________________________|
@top-bar-wrap-bg : lighten(@brand-color-dark, 5%);    // Top Bar Wrapper Background
@top-bar-bg      : @brand-color-dark;                  // Top Bar Background
@top-bar-color   : @color-white;                     // Top Bar Text Color

@btn-back-color   : @color-white;                    // Back Button Color
@top-bar-back-bg  : @brand-color-dark;                 // Back Button Background Color

@title-icon-color : @color-white;                    // Title Icon Color

@top-bar-height: 40px;

//----------------------------------------------------------------------
// Pop-ups
//
@popup-header-padding: 12px 40px 12px 12px; // Pop-up header padding - 40px for close btn
@popup-padding: 12px;                       // Pop-up padding
@popup-header-bg: @color-gray-light;        // Pop-up header Background color
@popup-header-color: @brand-color-dark;     // Pop-up header text color
@popup-header-font-size: @font-size;        // Pop-up header font-size
@popup-header-min-height: 40px;             // Pop-up header min-height
@popup-header-margin-bottom: 1px;           // Pop-up header margin-bottom
@popup-header-text-transform: uppercase;    // Pop-up header text-transform
@popup-header-box-shadow: none;             // Pop-up header box-shadow
@popup-header-close-size: @popup-header-font-size; // Pop-up header button-close size

@popup-content-border-radius: @border-radius-sm; // Pop-up content border-radius
@popup-overlay-color: rgba(0, 0, 0, .4);

//----------------------------------------------------------------------
// Favourites/Leagues
//  _____
//  \___/    _|_ (counter)
//   _|_     / \

@counter-color   : @color-orange-light;    // Favourites Counter Font Color
@fav-icon-color  : @color-white;           // Favourites Icon Fill Color
@leag-icon-color : @color-white;         // League Icon Fill Color

//----------------------------------------------------------------------
// Tabs Panel
//  _____________________________
// |         |         |         |
// |  tab 1  |  tab 2  |  tab 3  |
// |_________|_________|_________|

@tabs-front-clr   : @color-white;
@tabs-back-clr    : @page-bg;
@tabs-active-clr  : @brand-color-dark;
@tabs-shadow-color: @page-bg;
@tabs-font-color  : @color-gray-dark;

//col-name
.col-name() {}

//----------------------------------------------------------------------
// Odds Card
//
@card-h-bg        : @color-gray-light;
@card-h-font-color: @color-gray-dark;
@card-border-clr  : @color-gray;
@card-font-clr    : @color-gray-dark;
@card-text-color: @color-gray-dark;
@live-icon-width: 11px;
@live-icon-height: 11px;
@card-padding: 10px 12px;
@card-l-side-width: 20px;
@card-font-size: 13px;
@card-score-font-size: 12px;
@card-score-padding: 0 12px;
@card-footer-height: 25px;
@card-watch-live-font-size: 9px;
@card-footer-height: 17px;
@card-odd-wrapper-width: 56px;

//----------------------------------------------------------------------
// My Bets Sport Event Card
//
@event-card-font:       @base-font-family;
@single-selection-name: @color-gray-dark;
@single-selection-name-font-size: @font-size-lg;
@cashout-odds-names-font-family: @base-font-family;
@cashout-odds-opacity: 0.35;
@cashout-odds-date-color: @event-header;
@cashed-out-mark-size: 22px;
@live-clock-color: rgba(65, 73, 78, 0.75);
@single-selection-odds: rgba(65, 73, 78, 0.65);
@single-selection-odds-font-weight: bold;
@single-selection-odds-crossed: #82888c;
@live-score-points-font-size: @font-size-tablet;
@live-score-points-font-family: @base-font-family;
@single-market-name:    rgba(65, 73, 78, 0.65);
@event-header:          @color-gray-dark;
@odds-date-font:        @base-font-family;
@odds-date-font-size:   12px;
@suspended-color:       @color-gray-dark;
@single-selection-odds-suspended: @suspended-color;
@single-market-name-suspended: @suspended-color;
.leg-status() {
  color: @color-gray-dark;
  font-size: @font-size-md;
}
@arrow-icon-width:      13px;
@arrow-top-width:       60%;
@losing-color:          #EC2D2D;
@losing-indentation:    8px;
@event-card-shadow:     none;
@odds-content-height:   18px;
@event-card-padding: 14px 20px 14px 12px;
@event-card-silk-margin: 10px;
@event-card-silk-space: 38px;
@event-market-name-margin: 6px 0 3px;

//----------------------------------------------------------------------
// Bet receipt info (bethistory module)
//

@bet-receipt-info-font-family: @base-font-family;
@bet-receipt-info-font-size: @font-size;
@bet-receipt-info-font-color: @color-gray-dark;
@bet-receipt-info-opacity: .75;
@bet-receipt-info-date-color: @color-gray-dark;

//----------------------------------------------------------------------
// Stake and returns (bethistory module)
//

@cashout-stake-and-returns-font-family: @base-font-family;
@cashout-stake-and-returns-font-size: @font-size-tablet;
@cashout-stake-and-returns-color: @color-gray-dark;

//----------------------------------------------------------------------
// Links List Panel
//
@list-item-border-clr: @color-gray;

//----------------------------------------------------------------------
// Bet Button
//  _________
// |        |
// |  2/20  |
// |________|

@bet-btn-bg: linear-gradient(-188deg, #F7F8FB 0%, #DBDEE7 100%);
@bet-btn-bg-disabled: linear-gradient(-188deg, #F5F6FA 0%, #E7E9EF 100%);
@bet-btn-font-size: 12px;

//----------------------------------------------------------------------
// Super Button

@sup-btn-bg: @color-white;
@nav-point-padding: 0 10px 0;
@sup-btn-color: @color-yellow;
@sup-btn-padding: 12px 0 12px;
@sup-btn-font: @color-gray-dark;
@sup-btn-font-size: 12px;

//----------------------------------------------------------------------
// Show All Button
//  _____________________
// |                     |
// |      Show All       |
// |_____________________|

@show-all-bg: @page-bg;

// Background color for `<body>`.
@body-bg      : #00142c;
@page-bg      : @color-gray;
@event-bar-bg : @brand-color-secondary;
@media-btns-bg: @brand-color-secondary;

// Other
@border-radius: 3px;
@border-radius-sm: 2px;
@border-color: @color-gray-darker;
@custom-select-height: 30px;

@ngdialog-zindex: 1020;

//----------------------------------------------------------------------
// no-bets-section
@no-bets-button-margin: 12px;
@no-bets-button-size: @font-size-md;
@no-bets-button-color: #07294b;
@no-bets-button-font: @base-font-family;

//----------------------------------------------------------------------
// <see-all-link></see-all-link> (SEE ALL >)

@see-all-color: @brand-color-dark;

//----------------------------------------------------------------------
// <list-card></list-card>

@list-card-color: @color-gray-dark;
@list-card-border-color: @color-gray;
@list-card-arrow-color: @color-gray-dark;
@list-card-font: @base-font-family;

//----------------------------------------------------------------------
// <live-label></live-label>

@live-label: {
  color: @color-orange;
  font-size: @font-size-pre-xs;
  font-weight: bold;
  padding-left: 14px;
  margin-right: 8px;
  position: relative;
  line-height: 15px;
  min-height: 15px;
  &::before {
    content: '';
    height: 9px;
    width: 9px;
    background: @color-orange;
    border: 2px solid @color-white;
    box-shadow: 0 0 0 1px @color-orange;
    border-radius: 100%;
    margin-right: 5px;
    position: absolute;
    left: 0;
  }
}

//----------------------------------------------------------------------
// terms-block
@terms-block-color: #000;
@terms-block-font: @base-font-family;

//----------------------------------------------------------------------
// forecast-tricast-checkboxes

@checkbox-color: @color-gray-dark;
@checkbox-font: @base-font-family;
@checkbox-bg: @color-gray-light;
@checkbox-checked: @color-green;
@checkbox-disabled: @color-snow;
@checkbox-border: @color-gray-lighter;
@checkbox-font-size: @font-size-tablet;

//----------------------------------------------------------------------
// <home-screen></home-screen>

@home-screen-logo: '../../../../assets/images/svg/coral-logo.svg';
@home-screen-bg: @madison;

//----------------------------------------------------------------------
// Goal / Correction animation

@goal-label-bg: @brand-color-dark;
@goal-label-color: @color-white;
@correction-label-bg: @color-gray;
@correction-label-color: @color-gray-dark;
@goal-label-height: 17px;

/***** Promo Labels *****/
@pl-cashout-bg-color: @color-blue-lightest;
@pl-cashout-color: #084d8d;
@pl-label-font-size: 8px;
@pl-label-font-family: @base-font-family;

/***** BS Subheader *****/
@bs-subheader-height: 36px;
@bs-subheader-color: rgba(255, 255, 255, .75);
@bs-subheader-active-color: @color-white;
@bs-subheader-active-border-color: @color-white;
@bs-subheader-bg-color: @color-blue-dark;
@bs-content-margin-top: 8px;
@bs-content-padding-bottom: 1px;
@bs-widget-bg: @color-gray;
@bs-content-bg: @color-white;
@bs-content-max-height: 60vh;

//----------------------------------------------------------------------
// <surface-bets-carousel></surface-bets-carousel>

@surface-bet-pad: 4px 0;

// Show history button
@show-history-button-color: @color-blue;
@show-history-button-font-size: @font-size-md;
@show-history-button-letter-spacing: normal;
@show-history-button-font-stretch: normal;


// Bet History Terms and Conditions
@bh-terms-and-conditions-min-height: 45px;
@bh-terms-and-conditions-letter-spacing: 0px;
@bh-terms-and-conditions-padding-top-bottom: 14px;
@bh-terms-and-conditions-text-color: @color-gray-dark;
@bh-terms-and-conditions-border-color: @color-gray;
@bh-terms-and-conditions-box-shadow: none;
@bh-terms-and-conditions-margin-top: 12px;
@bh-terms-and-conditions-info-padding: 16px;
@bh-terms-and-conditions-info-font-size: 11px;
@bh-terms-and-conditions-info-margin-bottom: 0;
@bh-terms-and-conditions-info-line-height: 15px;
@bh-terms-and-conditions-info-color: @color-black;
@bh-terms-and-conditions-font-family: @base-font-family;

// Regular bet header
@bh-bet-header-bg-color: @color-gray-light;
@bh-bet-header-text-color: @color-blue-dark;
@bh-bet-header-font-size: @font-size;
@bh-bet-border-color: @color-gray;
@bh-bet-border-top-size: 0;
@bh-bet-min-height: 40px;
@bh-bet-dark-triangle-margin-top: 2px;
@bh-bet-light-triangle-margin-top: 3px;

// Bet history top success message
@bh-top-success-message-font: @base-font-family;
@bh-top-success-message-color: @color-gray-dark;
@bh-top-success-message-margin: 9.4px 0 0 4px;

// Byb history
@byb-progress-bar-background-color: rgba(60, 123, 195, 0.3);
@byb-stats-unavailable-tooltip-background: @color-blue-dark;
@byb-tooltip-padding: 12px;
@byb-tooltip-margin-top: 3px;

//----------------------------------------------------------------------
// <lotto-bets></lotto-bets>

@lotto-border-color: #e0e2eb;
@lotto-font-color: #41494e;
@lotto-bet-margin: 0 0 8px;
@lotto-stake-pad: 0 0 5px;
@lotto-font-family: @base-font-family;
.lotto-bet {
  margin: @lotto-bet-margin;
  &:last-child {
    margin-bottom: 12px;
  }
}
.lotto-header() {
  min-height: 40px;
  padding: 8px 12px;
  color: #07294b;
  background: #f9fafe;
  border-bottom: 1px solid #e0e2eb;
}
.lotto-draw-time() {}
.lotto-ball() {
  .rgba-color(#e0e2eb, .5);
  background: @result;
  color: #3d4a4f;
}

//-------------------------------------------------------------------------
// <bet-promotions></bet-promotions>

@bet-promos-padding: 8px;
@bet-promos-extra-padding: 0;
@bet-promos-line-height: 24px;
@bet-promos-color: @color-gray-dark;
@bet-promos-font-size: @font-size-tablet;

.bet-promos-after() {
  &:after {
    position: absolute;
    bottom: -7px;
    left: calc(50% - 8px);
    width: 11px;
    height: 11px;
    border-bottom: 1px solid @color-gray-darker;
    border-right: 1px solid @color-gray-darker;
    background-color: @color-white;
    content: '';
    transform: rotate(45deg);
    z-index: 5;
  }
}

.bet-promos-boosted() {
  width: 14px;
  padding: 4px 2px;

  .icon-svg {
    width: 10px;
    height: 15px;
  }
}

.bet-promos-money-back() {
  height: 21px;
  padding: 1px 0;
  margin: 0 8px 0 4px;

  .icon-svg {
    width: 24px;
    height: 21px;
    fill: @color-blue;
  }
}

//----------------------------------------------------------------------
// <over-ask-offer-notification></over-ask-offer-notification>

@bs-oversask-notification-margin: 5px 5px 0;
@bs-oversask-notification-padding: 14px 14px 12px 32px;;
@bs-oversask-notification-border: 1px solid @color-gray;
@bs-oversask-notification-icon-size: 14px;
@bs-oversask-notification-icon-left: 10px;
@bs-oversask-notification-icon-top: 15px;
@bs-oversask-notification-background: @color-gray-light;
@bs-oversask-notification-color: @color-blue-dark;
@bs-overask-trader-offer-expires-margin: 2px 0 0;
@bs-overask-trader-offer-message-font-size: 13px;
@bs-oversask-notification-timer-weight: bold;
@bs-oversask-notification-message-opacity: 0.75;
//----------------------------------------------------------------------
// Edit my acca history
@cashout-history-item-font-family: @base-font-family;
@cashout-history-item-font-size: @font-size-tablet;
@cashout-used-msg-font-family: @base-font-family;
@cashout-history-color: @color-gray-dark;
@ema-stake-value-font-weight: normal;
@ema-bet-container-shadow: none;
@ema-edited-acca-bet-header-color: @color-gray-dark;
@ema-history-bet-header-min-height: 57px;
@ema-edited-acca-bet-header-padding: 12px;
@ema-history-header-line-height: 15px;
@ema-button-font-size: 11px;
@ema-button-padding: 9px;
@ema-history-drawer-header-padding: 11px 40px 12px;
@ema-history-background: @color-gray;
@ema-stake-and-returns-bottom-padding: 5px;
@ema-undo-button-color: @color-black-soft;

.bet-item-outer-space(){
  &.outer-space {
    margin: 5px 4px 8px 5px;

    &.collapsed {
      margin-bottom: 5px;
    }
  }
}

.ema-bet-history-label() {
  opacity: 0.75;
  color: @color-gray-dark;
  margin-top: 3px;
}

.cashout-history-header-text() {
  font-size: @font-size-md;
  margin-bottom: 12px;
}
@ema-history-dialog-width: 740px;
@ema-history-list-height: 504px;


// Cash Out panel and range slider
@cashout-button-height: 40px;
@cashout-btn-border-radius: 0;
@cashout-btn-margin: 0;
@partial-cashout-btn-text-top: 8px;
@partial-cashout-btn-margin-left: 0;
@close-partial-icon-cashout-width-height: 12px;
@close-partial-area-width: 12%;
@partial-cashout-activate-btn-width: 25%;
@full-cashout-normal-color: @color-orange;
@partial-cashout-normal-color: @color-orange-darker;
@partial-cashout-active-color: @partial-cashout-normal-color;
@slider-color: @color-orange-darker;
@slider-underline-color: rgba(65, 73, 78, 0.25);
@slider-round-color: @color-orange-darkest;
@cashout-success-color: @color-green;
@cashout-btn-font-size: @font-size;
@cashout-btn-font-stretch: normal;
@cashout-btn-letter-spacing: normal;
@partial-cashout-btn-font-size: @font-size-md;
@partial-cashout-letter-spacing: -0.1px;
@partial-cashout-value-font-size: @font-size-tablet;
@partial-cashout-value-line-height: @font-size-tablet;
@cashout-slider-margin-top: 0;
@partial-cashout-activate-margin-top: 0;
@cashout-timer-height: 17px;
@cashout-timer-font-weight: bold;
@cashout-progress-spinner-border-width: 2px;
@cashout-progress-spinner-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);

@cashout-disabled-btn-oberlay-display: block;
@cashout-disabled-btn-bg-color: @full-cashout-normal-color;

// <cashout-error-message></cashout-error-message>
@cashout-error-message-background: rgba(65, 73, 78, 0.08);
@cashout-error-message-padding: 10px 8px;
@cashout-error-message-color: @color-gray-dark;
@cashout-error-font-family: @base-font-family;
@cashout-error-letter-spacing: normal;

// Promo icons
.icon-label-styles() {
  .display-flex();
  .justify-content(center);
  .align-items(center);
  border-radius: 2px;
  margin-left: 1px;
}

.big-icon-styles() {
  height: 38px;
  width: 35px;
  .icon-label-styles();
}

.small-icon-styles() {
  padding-right: 5px;
  padding-left: 5px;
  height: 16px;
  .icon-label-styles();
}

.middle-icon-styles() {
  width: 24px;
  height: 26px;
  .icon-label-styles();
}

.mini-icon-styles() {
  .small-icon-styles();
}

//race
@race-header-height: 30px;
@race-footer-height: @race-header-height;
@race-card-h-padding: 0 10px;
@label-line-height: 15px;
@race-carousel-button-width: 20px;
@race-card-width: 275px;
@race-card-delimiter: 5px;
@race-number-width: 30px;
@race-silk-horseracing-width: 30px;
@race-silk-horseracing-height: @race-silk-horseracing-width;
@race-silk-greyhound-width: 30px;
@race-silk-greyhound-height: @race-silk-greyhound-width;
@race-card-btn-width: 60px;
@race-card-horseracing-btn-height: @race-card-btn-width;
@race-card-greyhound-btn-height: 70px;
@page-container-header-bottom-margin: 2px;

@bs-stake-input-border-focused: 1px solid fade(@color-gray-dark, 70%);
@bs-stake-input-shadow-focused-out: 0 0 1px 1px fade(@brand-color-main, 8%);
@bs-stake-input-shadow-focused-in: inset 4px 4px 7px 0 fade(@color-gray-shadow, 6%);

//modal-dialog
@modal-dialog-width: 280px;
@modal-dialog-btn-list-align: center;
@modal-dialog-btn-style4-color: @color-gray-dark;
@modal-dialog-btn-list-height: 38px;

//pc-badge icons
@pc-badge-color: @color-white;
@pc-badge-font-size: @font-size-xs;
@pc-badge-height: 12px;
@pc-badge-line-height: @pc-badge-height;
@pc-badge-enhanced-background: @color-blue-lighter;
@pc-badge-specials-background: @color-pink;

//skeleton
@sk-min-height: 915px;
@sk-tablet-min-height: 1400px;
@sk-widget-height: 380px;
@sk-scoreboard-height: 265px;
@sk-tablet-scoreboard-height: 162px;
@sk-mobile-padding: 12px;
@sk-tablet-padding: 8px;

@quick-deposit-notification-bg: @color-yellow;

//Gaming Overlay
@gaming-overlay-bg: linear-gradient(90deg, #084d8d, #093863);
@gaming-splash-overlay: {
  background-position: 101% 101%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5NDkiIGhlaWdodD0iNTU3LjciPjxwYXRoIGQ9Ik0wIDU1Ni40N1Y0OC42UzExNy4zOS04LjI1IDIyNy42OCAxYzAgMCA3MC4zMyA1LjU2IDEyNyAyNi4zYTkzMy4xIDkzMy4xIDAgMDExMTUgNDYuMzhTNTQ3IDEwNiA2MDAgMTE0YzAgMCAxNTkuOTEgMjkuMDkgMzQ5LTUzLjd2NDk3LjR6IiBmaWxsPSIjZWYzMzQwIi8+PC9zdmc+);
  &:before, &:after {
    background-position: 101% 101%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDM2IiBoZWlnaHQ9IjcyMCI+PHBhdGggZD0iTTAgNzIwVjBzMTUzLjg0IDIzLjQ3IDM0MC45MiAxMjUuMjRjMCAwIDEzOS4zNiA3My4zNCAyMTcuMjIgMTI4LjU1IDAgMCAxMjIuODYgNzYuMjEgMjEwLjM2IDEyMi4yMVMxNDM2IDcyMCAxNDM2IDcyMHoiIGZpbGw9IiNmZmNkMDAiLz48L3N2Zz4=);
  }
  &:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NTUuODUiIGhlaWdodD0iNTYwLjE2Ij48cGF0aCBkPSJNMCA1NTkuMTh2LTUuOTFzOTYuOTQtNzEuMzUgMjIwLTEwNC44MmMwIDAgMTM1LjgyLTQ2Ljc1IDIxMC4xMi0xMTQuMTcgMCAwIDYzLjE1LTQ1LjkzIDEwNi4xMy0xMjguNlM1NzkuMTkgNjYuOTIgNTg5IDBsMTY2Ljg1IDQxOC4yOHYxNDEuODh6IiBmaWxsPSIjNzhiZTIwIi8+PC9zdmc+);
  }
}

// accordion
@accdn-margin-bottom: 4px;

//odds boost page
@odds-boost-icon-width: 42px;
@odds-boost-info-content-icon-width: 24px;
@odds-boost-info-content-icon-scale: 1;

//Five-A-Side
@branding-padding: 0 8px;

//AEM inline promos
@promo-background-color: rgba(0, 70, 150, 0.55);

// banners
@banner-min-height: 40;
@banner-shadow-height: 2px;
@offer-terms-bg: rgba(red(@color-cobalt), green(@color-cobalt), blue(@color-cobalt), 0.7);
@offer-terms-color: @color-white;

// slider
@slide-dots-color: @color-gray-rich;
@slide-dots-color-active: @brand-color-main;
