.freebets.page-inner-container .container-content {
  background-color: inherit;
}

.freebets {
  .container-header {
    padding: 5px 10px 5px 30px;
  }
}

.freebets-label {
  color: @color-red;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.freebets-label-svg {
  width: 25px;
  height: 25px;
}

.left-panel {
  position: relative;
  width: 65%;
  color: lighten(@color-gray-dark, 50%);

  .freebet-name{
    font-size: 14px;
    line-height: 1.5;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  .freebet-date{
    span.black-text{
     color: @color-black;
    }
  }
}
.right-panel {
  position: relative;
  width: 35%;

  .freebets-logo-icon {
    display: inline-block;
    width: 25px;
    position: absolute;
    height: 25px;
    margin-top: -5px;
    left: -35px;
  }
  .freebets-arrow-icon {
    right: 0;
    position: absolute;
    height: 14px;
    width: 10px;
    fill: @color-blue-light;
  }

  .total-freebets {
    .freebets-label;
    position: relative;
    width: 85px;
    float: right;

    &:before{
      left: -35px;
    }
  }
}

.total-info-block {
  font-size: 14px;
  line-height: 20px;
  color: lighten(@color-gray-dark, 20%);

  b {
    color: @color-black;
  }
}

/*Freebet Details page*/
.freebet-details{
  display: block;
  border: 1px solid @color-gray-darker;
  margin: 15px;
  padding: 20px;

  .freebet-icon-container {
    height: 0;
    position: relative;
    padding: 0;
    padding-bottom: 17%;
    width: 17%;
    display: inline-block;
  }

  .freebet-icon{
    width: 100%;
    position: absolute;
    max-height: 100%;
  }

  .freebet-info{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 15px;
    margin-top: -10px;

    .freebet-name {
      color: @color-red;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4;
      word-break: break-word;
    }

    .freebet-date {
      color: lighten(@color-gray-dark, 25%);

      .black-text {
        color: @color-black;
      }
    }
  }

  .btn {
    height: 40px;
    line-height: 24px;
    margin-top: 25px;
  }
}

