// Base styles for the page
// =============================================================================
@widget-column-width: 350px;

.page-inner {
  @media screen and (min-width: @md-point) {
    .display-flex();
    .flex-flow(row);
  }
}

.page-segment {
  width: 100%;

  @media screen and (min-width: @md-point) {
    .flex(1,1,60%);
    width: 60%;
    min-width: 60%;
  }

  @media screen and (min-width: @xl-point) {
    .flex(1,1,55%);
    width: 55%;
  }
}

.widget-column {
  .flex(0,0,100%);
  max-width: 100%;

  @media screen and (min-width: @md-point) {
    .flex(0,0,40%);
    max-width: @widget-column-width;
    padding-left: 10px;
  }

  @media screen and (min-width: @xl-point) {
    .flex(0,0,45%);
  }

  &:empty {
    display: none;
  }
}
