/* Loader */
.spinner-loader {
  margin: 10px auto;
  border-radius: 50%;
  position: relative;
  width: 22px;
  height: 22px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  &.spinner-dark:before,
  &.spinner-dark:after {
    border-top-color: rgb(13,48,100);
  }
  &.spinner-dark:after {
    border: 3px solid rgba(13,48,100, 0.5);
  }

  &:before {
    border: 3px solid transparent;
    border-top-color: rgb(255,255,255);
    .animation(loader 1.2s infinite linear);
  }
  &:after {
    // Was applied here  box-shadow property instead of border due to issues with OptimizeCssAssetsPlugin.
    // For some reasons this plugin changes rgba color function to hsla, but without percentage sign with second argument.
    // As a result browser reads this values is invalid.
    // rgba(255,255,255,0.5) => hsla(0,0,100%,.5);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  }

  &.small-loader {
    width: 15px;
    height: 15px;
    margin: 10px auto;
    &:before,
    &:after {
      border-width: 2px;
    }
  }

  &.abs-pos {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -11px 0 0 -11px;
  }
}

.btn-spinner {
  .spinner-loader;
  z-index: 1;
  width: 12px;
  margin: 0 5px 0 0;
  height: 12px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  left: -6px;
  &:before,
  &:after {
    border-width: 2px;
  }
}

@-webkit-keyframes loader {
  0% { webkit-transform: rotate(0deg); }
  100% { webkit-transform: rotate(360deg); }
}

@-moz-keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-ms-keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-o-keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
