@import 'global.variables.less';

.settings-row {
  padding: 10px 0;
  display: table;
  width: 100%;

  // Temporary solution, discussed with the designer
  .switchers {
    background: @page-bg;
  }

  .lh-col, .rh-col {
    display: table-cell;

  }

  .lh-col {
    vertical-align: middle;
    width: 40%;

    label {
      color: lighten(@color-gray-dark, 20%);
    }
  }

  .rh-col {
    width: 60%;
    text-align: right;

    .group-buttons {
      padding: 0;
    }
  }
  .report-btn {
    padding: 0 5px;
    a {
      width: 100%;
      font-size: 10px;
      background: @color-green;
      box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 15px 15px rgba(255,255,255,.15), 0 1px 0 rgba(0,0,0,.2);
      color: @color-white;
      text-shadow: 0 1px 2px rgba(0,0,0,.4);
    }
  }
}
