@rightColumnWidthLow: 330px;

.widgets-column {
  .transform(translateZ(0));

  @media @mqTablet {
    margin-top: 10px;
  }
}

/*Right Column*/
#page-content {
  min-height: 100%;
  min-width: 320px;
  position: relative;

  @media @mqMobile {
    background: @page-bg;
  }

  .evergage-tooltip-page {
    position: fixed !important;
  }

  #page-wrap-content {
    margin: 0;
    min-height: 100vh;
    position: relative;
    background: @color-gray;
    .display-flex();
    .flex-flow();

    & > div {
      .flex(1, 2);
      width: 50%;
    }

    .page-wrap-inner {
      .display-flex();
      .flex-flow();
      width: 100%;

      & > div {
        .flex(1, 3, auto);
        min-width: 0;
      }
    }

    .home-text {
      background: lighten(@body-bg, 5%);
      color: lighten(@color-blue-light, 55%);
      margin: 15px 0 0;
      padding: 15px;
      font-size: 11px;
      line-height: 14px;
    }

  }
}

.widget-column {
  .page-container {
    overflow: visible;
    margin: 0 0 10px;
    .page-container {
      margin: 0;
    }
  }

  .tab-content > .page-container .container-content {
    margin-top: 2px;
  }
}

#right-column {
  width: @rightColumnWidthLow;
  padding-left: 10px;
  flex-shrink: 0;

  @media @mqMobile {
    display: none;
  }

  .small-group-buttons .group-col {
    .flex();
    text-align: center;

    .btn {
      width: 100%;
      padding: 8px 3px;
    }
  }

  .bet-slip-tabs-container {
    position: relative;

    .event-panel {
      padding: 10px 0 0;

      .btn-bet {
        min-width: 60px;
      }
    }

    .no-event {
      padding-bottom: 40px;
    }
  }
}

#offers-widget {
  margin: 0;

  .offers-carousel {
    .carousel-slides {
      position: relative;
      min-height: 100px;
    }
  }
}
