@import 'global.variables.less';
.action-arrows {
  position: relative;
}

.action-arrow {
  .display-flex();
  .justify-content(center);
  .align-items(center);
  user-select: none;
  background-color: fade(@color-black, 60%);
  z-index: 99999;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  cursor: pointer;
}

.action-arrow:hover {
  background-color: fade(@color-black, 80%);
}

.action-arrow.left {
  left: 0px;
}

.action-arrow.right {
  right: 0px;
}

.arrow-icon {
  width: 8px;
  height: 14px;
  fill: @color-white;
}
