.outright-container {
  padding: 5px;
  background: @color-gray;
}

.competition-view {
  .page-container.page-inner-container .container-content {
    overflow: hidden;
  }

  .all-selections-container {
    border-top: 1px solid @color-gray;
    padding: 10px 0;
    background: @color-white;
    a {
      text-align: center;
      display: block;
      font-size: 9px;
      text-transform: uppercase;
    }
  }

  .see-all-selections {
    font-size: 10px;
    letter-spacing: -0.4px;
    color: @color-gray-dark;
    text-decoration: none;
    .label {
      text-decoration: underline;
    }
  }

  .competition-term-value {
    color: @color-gray-dark;
    font-size: 9px;
    height: 11px;
    display: block;
  }

  .competition-terms-before-market {
    border-bottom: 1px solid @color-gray;
    min-height: inherit;
    padding: 7px 10px 6px;
    background-color: @color-gray-light;
  }
}

.competition-view-container {
  .display-flex();
  .flex-wrap(wrap);
  overflow: hidden;

  .odds-card.competition-view {
    .flex-grow(1);
    width: 33%;
    margin: 0;
    padding: 0;
    border-left: 1px solid @color-gray;
    border-top: 1px solid @color-gray;
    box-shadow: none;
    margin-left: -1px;
    margin-top: -1px;
    &.list-view {
      width: 100%;
      height: 55px;
    }
    .odds-content {
      text-align: center;
      padding: 10px 10px 15px;
      min-height: 55px;
      display: block;

      &.list-view {
        .display-flex();
      }

      .list-view-participants {
        .inline-flex();
        margin-left: 10px;
        .flag {
          margin: 4px 5px 0 0;
        }
        .vs {
          margin: 4px 10px;
        }
      }

      .odds-names {
        margin-bottom: 9px;
        font-size: 12px;
        white-space: nowrap;
      }

      .list-view-participants .odds-names {
        margin-bottom: 0px;
      }
      .btn-bet {
        margin: 0 auto;
        min-width: 45px;
      }
    }

    .flag {
      margin-bottom: 3px;
      display: inline-block;
      width: 15px;
      height: 10px;
    }

  }
  &.two-columns {
    .odds-card.competition-view {
      width: 50%;
    }
    .odds-content {
      .flag {
        float: left;
        margin: 0 5px 0 0;
        height: 35px;
      }
      .odds-names {
        float: left;
        line-height: 35px;
      }
      .odds-btn {
        position: absolute;
        right: 10px;
        .btn-bet {
          min-width: 45px;
        }
      }
    }
  }
}

// styles for outright card view
.card-view-container {
  width: 100%;

  .scroll-container .scroll-inner {
    background: @color-gray;
    padding: 0;
    border: none;

    .card-view {
      display: inline-block;
      width: 120px;
      height: 90px;
      text-align: center;
      border-right: 1px solid @color-gray;
      padding: 15px 10px 10px;
      background: @color-white;

      price-odds-button {
        .align-items(center)
      }
      .odds-name {
        display: block;
        font-family: @base-font-family;
        font-size: 12px;
        font-weight: bold;
        color: @color-gray-dark;
        margin-bottom: 10px;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .btn-bet {
        display: inline-block;
        min-width: 45px;
      }

      .next-items {
        color: lighten(@color-gray-dark, 50%);
        font-size: 11px;
        line-height: 13px;
      }

      .next-items,
      .items {
        text-transform: uppercase;
      }

      .next-items,
      .items-quantity,
      .items {
        display: block;
      }

      .items-quantity,
      .items {
        color: @color-gray-dark;
        font-weight: bold;
        font-family: @base-font-family
      }

      .items-quantity {
        line-height: 36px;
        font-size: 30px;
        margin-bottom: 3px;
      }

      .items {
        font-size: 9px;
        line-height: 11px;
      }
    }

    .card-view:first-child {
      border-radius: 2px 0 0 2px;
    }

    .card-view:last-child,
    .show-next-items {
      border-radius: 0 2px 2px 0;
    }

    .show-next-items {
      padding-top: 12px;
    }
  }
}
