.free-bet-toggle {
  margin-top: 6px;
  font-size: 12px;
}
.label {
  color: #2c82c9;
  font-weight: bold;
  cursor: pointer;
  &.inactive {
    color: rgba(65, 73, 78, 0.35);
    cursor: not-allowed;
  }
}
