<ng-container *ngFor="let group of racing.groupedRacing">
  <accordion *ngIf="group.data && group.data.length"
             [isExpanded]="accordionsState[group.flag]"
             (function)="trackModule(group.flag, sportName)"
             data-crlat="outerAccordion">
  <left-side><span class="left-title-text" [textContent]="titleMap[group.flag]" data-crlat="headerTitle.leftMessage"></span></left-side>
    <accordion-body>
      <horse-race-grid [eventsData]="racing"
                        [racingGroupFlag]="group.flag"
                        [raceType]="sportName"
                        [sportName]="sportName"
                        [eventsOrder]="eventsOrder"
                        [racingGroup]="group.data">
      </horse-race-grid>
    </accordion-body>
  </accordion>
</ng-container>
