<div class="sk-container" [ngClass]="{'sk-loading': state.loading || isLazyComponentLoading}">
  <outlet-status [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <loading-screen [displayed]="isLazyComponentLoading" [templateType]="'GENERIC'"></loading-screen>

  <ng-container *ngIf="!state.loading && !state.error" [ngSwitch]="display">
    <div id="tab-inplay"
         *ngSwitchCase="'live'"
         data-crlat="inplaySportTab">
      <lazy-component
        moduleUri="@inplayModule/inplay.module#InplayModule"
        [inputs]="{
          id: sportId,
          singleSport: true
        }"
        (init)="initLazyHandler()"
        entryComponent="InplayTabComponent">
      </lazy-component>
    </div>

    <lazy-component
    id="tab-competitions"
    *ngSwitchCase="'competitions'"
    [inputs]="{ sport: sport }"
    (init)="initLazyHandler()"
    data-crlat="accordionsList"
    moduleUri="@lazy-modules-module/competitionsSportTab/competitionsSportTab.module#CompetitionsTabModule"></lazy-component>

    <coupons-list-sport-tab id="tab-coupons"
                            *ngSwitchCase="showSportTab('coupons', true)"
                            [sport]="sport"
                            data-crlat="accordionsList">
    </coupons-list-sport-tab>

    <coupons-content-sport-tab id="tab-coupons"
                               *ngSwitchCase="showSportTab('coupons', false)"
                               [sport]="sport"
                               data-crlat="couponsSportTab">
    </coupons-content-sport-tab>

    <outrights-sport-tab id="tab-outrights"
                         *ngSwitchCase="'outrights'"
                         [sport]="sport"
                         [display]="display"
                         data-crlat="accordionsList">
    </outrights-sport-tab>

    <jackpot-sport-tab id="tab-jackpot"
                       *ngSwitchCase="showSportTab('jackpot', true)"
                       [sport]="sport"
                       data-crlat="accordionsList">
    </jackpot-sport-tab>

    <specials-sport-tab id="tab-specials"
                        *ngSwitchCase="'specials'"
                        [sport]="sport"
                        [display]="display"
                        data-crlat="accordionsList">
    </specials-sport-tab>
  </ng-container>
</div>
