:host {
  ::ng-deep {
    .inner-container {
      &myBetsTab {
        bet-leg-item {
          .single-selection-name {
            white-space: normal;
            overflow: visible;
          }
        }
      }
    }
  }
}
