@import 'global.variables.less';

.bs-receipt-container {
  padding: 13px 12px;
  box-shadow: 0 1px 0 0 @lGrayLight;

  .receipts-counter {
    font-family: @alt-font-family;
    color: @color-gray-darkest;
    font-size: 12px;
    line-height: 14px;
  }

  .fav-icon-svg {
    opacity: 1;
  }
}
