@import 'global.variables.less';

@yourcall-dashboard-height: 50px;
@yourcall-dashboard-odd-width: 70px;
@yourcall-dashboard-background: @brand-color-dark;
@yourcall-dashboard-disabled-button-color: lighten(@color-green, 20%);
@yourcall-dashboard-disabled-font-color: lighten(@color-green, 10%);
@yourcall-dashboard-color: @color-white;
@yourcall-dashboard-selections-background: @color-white;
@yourcall-dashboard-selections-even-background: @color-gray-light;
@yourcall-dashboard-selections-odd-background: @color-gray-light;
@yourcall-dashboard-selections-error-background: lighten(@color-yellow, 70%);
@yourcall-dashboard-selection-color: @color-gray-dark;
@yourcall-dashboard-selection-value-color: @color-gray-dark;
@yourcall-dashboard-selection-height: 180px;

@yourcall-dashboard-counter-color: @caribbean-green;
@yourcall-dashboard-counter-size: 17px;
@yourcall-dashboard-counter-height: 22px;

@yourcall-dashboard-open-width: 10px;
@yourcall-dashboard-open-height: 5px;

@yourcall-dashboard-item-size: 40px;
@yourcall-dashboard-cta-icon-width: 14px;
@yourcall-dashboard-cta-icon-height: 17px;

@yourcall-dashboard-alert-background: @color-yellow;
@yourcall-dashboard-error-background: @color-red;

@yourcall-odds-spinner-size: 17px;
@yourcall-odds-spinner-border-dark-color: lighten(@color-green, 20%);
@yourcall-odds-spinner-border-light-color: @color-white;

@yourcall-carousel-text-color: @color-gray-dark;
@yourcall-section-color: @color-gray;

.truncate-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

yourcall-dashboard {
  display: block;
}

.yourcall-dashboard {
  font-family: @base-font-family;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: @yourcall-dashboard-color;
  box-shadow: 0 -2px 10px 0 rgba(0,0,0,.2);
  z-index: 1005;
  transition: transform .5s ease;
  transform: translateY(100px);

  @media only screen and (min-width: @tabletPoint) {
    transition: none;
    position: relative;
    transform: none;
    opacity: 0;
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }

  .alert {
    min-height: 30px;
    padding: 10px;
    background-color: @yourcall-dashboard-alert-background;
    color: @yourcall-dashboard-selection-value-color;
    font-size: 11px;
    .display-flex();
    .align-items(center);
    svg {
      height: 15px;
      width: 17px;
      fill: @yourcall-dashboard-selection-value-color;
      margin-right: 10px;
    }

    &.error {
      background-color: @yourcall-dashboard-error-background;
      color: @color-white;

      span {
        text-align: center;
        width: 100%;
      }
    }
  }

  header {
    background-color: @yourcall-dashboard-background;
    height: @yourcall-dashboard-height;
    .display-flex();
    .align-items(center);
    .justify-content(space-between);
  }

  .odd {
    width: @yourcall-dashboard-odd-width;
    max-width: @yourcall-dashboard-odd-width;
    height: @yourcall-dashboard-height;
    background-color: @color-green;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
    line-height: 13px;
    .display-flex();
    .align-items(center);
    .justify-content(center);
    .flex(0, 0, @yourcall-dashboard-odd-width);
    .label {
      display: block;
      text-transform: uppercase;
      font-size: 8px;
      font-weight: normal;
    }
    &.disabled {
      background-color:@yourcall-dashboard-disabled-button-color;
      color: @yourcall-dashboard-disabled-font-color;
      opacity: 1;
      pointer-events: auto;
    }
    .spinner-loader {
      margin-left: 0;
      margin-right: 0;

      .display-flex();
      width: @yourcall-odds-spinner-size;
      height: @yourcall-odds-spinner-size;
      &:before {
        border-color: @yourcall-odds-spinner-border-light-color;
        border-top-color: @yourcall-odds-spinner-border-dark-color;
        border-left-color: @yourcall-odds-spinner-border-dark-color;
        background-color: transparent;
      }
    }
  }

  .summary {
    height: @yourcall-dashboard-height;
    width: 100%;
    .flex(1);
    .display-flex();
    .align-items(center);
    .justify-content(space-between);

  }

  .description {
    .flex(1);
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    .title {
      font-size: 11px;
    }
    .brief {
      font-size: 9px;
      color: @color-gray;
      .truncate-text();
    }
  }

  .open {
    .display-flex();
    .align-items(center);
    .align-content(flex-end);
    font-size: 10px;
    margin: 0 10px 0 20px;
    span {
      margin-right: 5px;
      text-decoration: underline;
    }
    svg {
      fill: @yourcall-dashboard-color;
      transform: none;
      width: @yourcall-dashboard-open-width;
      height: @yourcall-dashboard-open-height;
    }
  }

  .counter {
    position: relative;
    margin: 0 20px 0 10px;
    height: @yourcall-dashboard-counter-height;
    svg {
      width: @yourcall-dashboard-counter-size;
      height: @yourcall-dashboard-counter-height;
      fill: @yourcall-dashboard-color;
    }
    div {
      background: @yourcall-dashboard-counter-color;
      width: @yourcall-dashboard-counter-size;
      height: @yourcall-dashboard-counter-size;
      text-align: center;
      position: absolute;
      top: -7px;
      left: 11px;
      border-radius: 50%;
      font-size: 9px;
      font-weight: bold;
      padding: 0 3px;
      border: 2px solid @yourcall-dashboard-background;
      span {
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 10px;
        transform: translate(-50%, -50%);
      }
    }
  }

  .selections {
    height: 0;
    max-height: @yourcall-dashboard-selection-height;
    background: @yourcall-dashboard-selections-background;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    .transition();
    li {
      .display-flex();
      .align-content(space-between);
      .align-items(center);
      min-height: @yourcall-dashboard-item-size;
      background-color: @yourcall-dashboard-selections-odd-background;
      &:nth-of-type(even) {
        background-color: @yourcall-dashboard-selections-even-background;
      }
      &.error {
        background-color: @yourcall-dashboard-selections-error-background;
      }

      .dash-item {
        .display-flex();
        .align-content(space-between);
        .align-items(center);
        width: 100%;

        .custom-select {
          margin: 0;
        }
      }

      .edit-section {
        .display-flex();
        .align-content(space-between);
        .align-items(center);
        .flex-direction(column);
        width: 100%;

        .dash-item {
          .display-flex();
          .align-content(space-between);
          .align-items(center);
          .flex-direction(row);
          width: 100%;

          .done {
            color: @yourcall-carousel-text-color;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: underline;
            width: @yourcall-dashboard-item-size;
            max-width: @yourcall-dashboard-item-size;
            height: @yourcall-dashboard-item-size;
            text-align: center;
            padding: 11px 0 11px 0;
            margin: 0 10px 0 10px;

            &.disabled {
              color: @yourcall-section-color;
              opacity: 1;
            }
          }
        }

        yourcall-market-player-bets {
          background-color: @color-white;
          .display-flex();
          .align-content(space-between);
          .flex-direction(column);
          form {
            width: 100%
          }

          li {
            .display-flex();
            .align-content(space-between);
            .align-items(flex-start);
            .flex-direction(column);
            background-color: @color-white;
            color: @yourcall-carousel-text-color;
            custom-select, .select-static-container {
              width: 100%;
            }
          }
        }
      }
      &.player-bets .selection .value {
        text-transform: none;
      }
    }
    .selection {
      .flex(1, 1, auto);
      font-size: 11px;
      font-weight: bold;
      color: @yourcall-dashboard-selection-color;
      padding: 0 10px;
      .truncate-text();
      .display-flex();
      .align-items(center);
      .value {
        color: @yourcall-dashboard-selection-value-color;
        text-transform: uppercase;
      }
      .label {
        margin-right: 5px;
      }
      svg {
        width: 12px;
        height: 10px;
        margin-right: 10px;
        fill: @yourcall-dashboard-selection-value-color;
      }
    }
    .action {
      width: @yourcall-dashboard-item-size;
      max-width: @yourcall-dashboard-item-size;
      height: @yourcall-dashboard-item-size;
      text-align: center;
      padding: 11px;
      svg {
        width: @yourcall-dashboard-cta-icon-width;
        height: @yourcall-dashboard-cta-icon-height;
      }
    }
    .remove svg {
      fill: @color-red;
    }
    .edit svg {
      fill: @color-gray-dark;
    }
  }

  &.expanded {
    .selections {
      height: auto;
    }
    .open svg {
      transform: rotate(180deg);
    }
  }

  .total-goals, .total-corners, .total-booking-points {
    .label {
      text-transform: capitalize;
    }
  }

}
