<a class="list-card-name" [linkHref] [link]="link" [textContent]="title || item.name" data-crlat="couponName"></a>
<div class="list-card-date" [textContent]="date" *ngIf="date" data-crlat="event.date"></div>
<ng-content></ng-content>
