@import 'global.variables.less';

.login-splash-screen {
  height: 100vh;
  .display-flex();
  flex-direction: column;
  padding: 40px 20px;
  background-color: @color-red;
  color: white;
  img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .splashPage-content {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    font-family: @alt-font-family;
  }
  .btn-wrapper {
    margin-top: 35px;
    .otf-btn {
      display: block;
      margin: 0 auto;
      font-size: 15px;
      border-radius: 2px;
      font-family: @base-font-family;
      text-transform: uppercase;
      transition: all 0.2s;
      outline: none;
      border: 0 solid black;
      padding: 12px 70px;
      font-weight: 700;
      width: 100%;
      &.otf-login-btn {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
        background-image: linear-gradient(to bottom, @color-green, @color-green-dark);
        &:hover, &:focus {
          background-image: linear-gradient(to top, @color-green, @color-green-dark);
          box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
        }
        &[disabled] {
          opacity: 0.8;
        }
      }
      &.btn-disabled {
        cursor: not-allowed;
      }
      &.otf-cancel-login-btn {
        margin-top: 18px;
        background: none;
        padding: 0;
        font-weight: normal;
      }
    }
  }
}

@media (min-width: @tabletPoint) {
  .login-splash-screen {
    img {
      height: 79px;
    }
  }
}
