<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <ng-container *ngIf="!state.loading && !state.error">
    <div class="tote">

      <!--- Top Bar -->
      <top-bar [title]="'tt.toteTitle'"
               [iconSvg]="icon.svg"
               [iconId]="icon.svgId"
               (titleFunc)="goToDefaultPage()"></top-bar>

      <!--- Banners Section-->
      <banners-section [page]="bannerCategory"
                        data-crlat="bannersSection"></banners-section>

      <!--- Tabs -->
      <tabs-panel [tpTabs]="tabs"
                  [tpActiveTab]="activeTab"></tabs-panel>

      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>
