competitions-categories {
  display: block;

  yourcall-icon {
    display: block;
    margin-left: auto;
    margin-right: 15px;
    .byb-label-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 22px;
      margin: auto;
    }
  }
  .sk-container {
    .split-header {
      margin: 12px 0;
    }
  }
}
