<div class="sk-container" [ngClass]="{'sk-loading': isLoading}" >
  <loading-screen [displayed]="isLoading" [templateType]="'GENERIC'"> </loading-screen>
  <ng-container *ngIf="isTierOne">
    <div class="competitions-categories heuristic-container"  [ngClass]="{'tennis-competitions' : categoryId === '34'}" *ngIf="isLoaded && !isResponseError && (currentMatchCategories.length || allCategories.length)">
      <!--- Initial categories -->
      <competitions-categories data-crlat="compCats"
                               [competitionsClasses]="'competitions-categories-accordion'"
                               [categories]="currentMatchCategories"
                               [isAzCategories]="false"
                               [showLoader]="false"
                               (pageLoaded)="childComponentLoadedHandler()"
                               [categoryId]="categoryId"></competitions-categories>

      <competitions-categories data-crlat="azCompCats"
                               [competitionsClasses]="'competitions-categories-accordion'"
                               *ngIf="allCategories?.length"
                               [categories]="allCategories"
                               [isAzCategories]="true"
                               [showLoader]="false"
                               [categoryId]="categoryId"></competitions-categories>
    </div>
  </ng-container>
  <div class="heuristic-container" *ngIf="!isTierOne">
    <competitions-future-sport-tab (updateLoadingState)="updateLoadingState($event)" [sport]="sport"></competitions-future-sport-tab>
  </div>
  <request-error *ngIf="isLoaded && isResponseError"
                 (reloadFn)="loadCompetitionsData(categoryName)"
                 [loadFailed]="isResponseError">
  </request-error>
  <no-events *ngIf="isLoaded && !isResponseError && (!eventsBySectionsLength && isNoCategories)"></no-events>
</div>

