<div class="sk-container" [ngClass]="{'sk-loading': showLoader && loading}">
  <loading-screen [displayed]="showLoader && loading" [skeletonOnly]="true"></loading-screen>
  <header *ngIf="isShowAz" class="split-header" [i18n]="'sb.azCompetitions'"></header>
  <accordion
    *ngFor="let category of categories; trackBy: trackByIndex; let i = index"
    [accordionTitle]="category.class?.name"
    [isExpanded]="isExpanded[i]"
    [className]="competitionsClasses"
    [isHeaderHidden]="isTennis()"
    (function)="goToTypes(i)"
    data-crlat="accordionComp">
    <accordion-body *ngIf="isExpanded[i]">
      <div class="spinner-loader small-loader spinner-dark" *ngIf="category.loading" data-crlat="spinner.loader"></div>
      <list-card *ngFor="let typeItem of category.types; trackBy: trackByIndex;"
                 (click)="closeChangeCompetition()"
                 [item]="typeItem" [link]="typeItem.link" data-crlat="linkListItem">
      </list-card>
      <no-events *ngIf="!category.loading && !(category.types && category.types.length)"></no-events>
    </accordion-body>
  </accordion>
</div>
