<section class="page-container" [ngClass]="{'is-expanded' : isExpanded, 'page-inner-container' : inner || card, 'no-header' : !accordionTitle}"
         data-crlat="accordion">
  <header class="container-header" (click)="toggled($event)"
          *ngIf="!isHeaderHidden"
          [ngClass]="headerClasses"
          data-crlat="containerHeader">
    <div *ngIf="isChevronToLeft" class="chevron"
         [ngClass]="{'chevron-up' : isExpanded && !isShowAll,
                     'chevron-down' : !isExpanded,
                     'chevron-right' : isShowAll && isExpanded,
                     'left' : isChevronToLeft}"
         data-crlat="chevronArrow">
    </div>
    <div class="accordion-left-side">
      <ng-content select="left-side"></ng-content>
    </div>
    <span [textContent]="accordionTitle" *ngIf="accordionTitle" data-crlat="headerTitle.centerMessage"></span>
    <div class="accordion-right-side">
      <ng-content select="right-side"></ng-content>
    </div>
    <div *ngIf="!isChevronToLeft" class="chevron"
         [ngClass]="{'chevron-up' : isExpanded,
                     'chevron-down' : !isExpanded,
                     'right' : !isChevronToLeft}"
         data-crlat="chevronArrow">
    </div>
  </header>
  <article class="container-content"
           [ngClass]="{'text-section': pcTextBlock}"
          *ngIf="isExpanded" data-crlat="containerContent">
    <ng-content select="accordion-body"></ng-content>
  </article>
</section>
