<div id="home-betslip-tabs" class="w-betslip full-height">
  <div class="w-betslip-tabs-wrapper" data-crlat="bsTabsWrapper">
    <div class="w-betslip-tab" [ngClass]="{'active' : activeView === 'betslip'}" (click)="setActiveView('betslip')" [i18n]="'bma.betslip'" data-crlat="bsTab"></div>
    <div class="w-betslip-tab" [ngClass]="{'active' : activeView === 'myBets' }" (click)="setActiveView('myBets')" [i18n]="'bma.myBets'" data-crlat="bsTab"></div>
  </div>

  <div class="container bet-slip-tabs-container {{activeView}}"
       [ngClass]="{'quick-deposit-iframe-opened': quickDepositIFrameOpened}"
       id="bs-tabs-container"
       data-crlat="bsTabsContainer"
       [ngSwitch]="activeView"
       *ngIf="!mobile">
    <ng-container *ngSwitchCase="'betslip'">
      <lazy-component
        moduleUri="@betslipModule/betslip.module#BetslipModule"
        entryComponent="BetslipContainerComponent"
        class="slide-content"
        data-crlat="slideContent.betslip">
      </lazy-component>
    </ng-container>

    <div *ngSwitchCase="'myBets'" class="my-bets-content">
      <switchers
        [type]="'scrollable'"
        [switchers]="betslipTabs.slice(1)"
        [activeTab]="activeTab"
        [switchIdPropertyName]="'id'"
        (switchAction)="handleTabClick($event)"
        [noPaddings]="true"
        [preventRouteChange]="true">
      </switchers>

      <div [ngSwitch]="activeTab.id" *ngIf="userService.status" class="my-bets-content">
        <div #cashOutPage *ngSwitchCase="1" data-crlat="slideContent.cashOut"></div>
        <div #openBets *ngSwitchCase="2" data-crlat="slideContent.openBets"></div>
        <div #betHistoryPage *ngSwitchCase="3" data-crlat="slideContent.betHistory"></div>
        <div #inShopBetsPage *ngSwitchCase="4" data-crlat="slideContent.inshopBets"></div>
      </div>
      <request-error *ngIf="!userService.status" [errorMsg]="errorMsg"
                     [loginNeed]="!userService.status"
                     [insertedPlace]="'open-bets'"
                     [attr.data-crlat]="'slideContent.' + activeTab.id"
                     [reloadMethods]="['SUCCESSFUL_LOGIN']">
      </request-error>
    </div>
  </div>
</div>
