@import 'global.variables.less';

.w-betslip {
  background: @bs-widget-bg;
}

:host {
  ::ng-deep {
    .bs-selections-wrapper {
      max-height: 360px;
    }
    .bs-content-quick-deposit-vanilla {
      .bs-selections-wrapper {
        max-height: 250px;
      }
    }
    .bs-content-quick-deposit {
      .bs-selections-wrapper {
        max-height: 125px;
      }
    }
  }
}

.my-bets-content {
  background: @bs-content-bg;
  padding-bottom: @bs-content-padding-bottom;
  margin-top: @bs-content-margin-top;
}

.w-betslip-tabs-wrapper {
  .display-flex();
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background: @bs-subheader-bg-color;
  position: relative;
  z-index: 1;

  .w-betslip-tab {
    .display-flex();
    .justify-content(center);
    .align-items(center);
    .flex-grow(1);
    height: @bs-subheader-height;
    color: @bs-subheader-color;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;

    &.active {
      border-bottom: 2px solid @bs-subheader-active-border-color;
      color: @bs-subheader-active-color;
      font-weight: bold;
    }
  }
}

.bet-slip-tabs-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-height: @bs-content-max-height;

  // ios scroll fix
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  &.quick-deposit-iframe-opened {
    max-height: none;
  }
  &.myBets {
    overflow-y: auto;
    ::ng-deep .switchers {
      margin-bottom: 10px;
    }
  }
}
