@import 'global.variables.less';

.race-card-carousel {
  margin: 12px 0 0;
  .race-carousel {
    padding: 0 4px 4px;
    .carousel-slides {
      width: 273px;
    }
    .slide {
      padding-right: 8px;
    }
  }

  &.carousel-one-slide {
    .slide {
      padding-right: 0;
    }
  }
}

:host-context(.next-races) {
  .race-card-carousel {
    .race-carousel {
      padding: 0;
    }
  }
  .race-footer {
    .race-next-link {
      color: @color-gray-dark;
      width: auto;
      padding: 0 10px;
      -webkit-box-flex: 0;
      flex: 0 1 auto;
      margin-left: auto;
      font-family: @base-font-family;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: right;
    }
  }
}
