<ng-container *ngIf="!state.loading && !state.error">
    <div class="lotto-results-page" *ngIf="filter === 'byLotto'">
      <div class="page-container-wrapper">
        <accordion [accordionTitle]="lotto.lotteryName"
                   [isExpanded]="false"
                   [card]="true"
                   *ngFor="let lotto of lottoResultsArr"
                   data-crlat="lotteryName">
          <accordion-body>
            <div class="lotto-results-container">
              <div *ngFor="let draw of lotto.resultedDraw" class="lotto-results-draw-wrapper">
                <lotto-results [draw]="draw" [filter]="filter"></lotto-results>
              </div>

              <div class="load-more-link" (click)="loadMoreByLotto(lotto)" data-crlat="loadMoreByLottoLink">
                <div class="load-more-link-inner" [i18n]="'lotto.loadMore'" *ngIf="!isResultsLoading"></div>
                <div class="load-more-spinner-wrapper" *ngIf="isResultsLoading">
                  <div class="spinner-loader spinner-dark abs-pos" data-crlat="spinner.loader"></div>
                </div>
              </div>
            </div>
          </accordion-body>
        </accordion>
      </div>
    </div>

    <div class="lotto-results-page" *ngIf="filter === 'byTime'">
      <div class="page-container-wrapper">
        <accordion [accordionTitle]="date[0].date"
                   [isExpanded]="false"
                   [card]="true"
                   *ngFor="let date of lottoResultsArr">
          <accordion-body>
            <div class="lotto-results-container" data-crlat="lottoResults">
              <div *ngFor="let draw of date" class="lotto-results-draw-wrapper">
                <lotto-results [draw]="draw" [filter]="filter"></lotto-results>
              </div>
            </div>
          </accordion-body>
        </accordion>
      </div>

    <div class="load-more-link" (click)="loadMoreByDate()" data-crlat="loadMoreByDate">
      <div class="load-more-link-inner" [i18n]="'lotto.loadMore'" *ngIf="!isResultsLoading"></div>
      <div class="load-more-spinner-wrapper" *ngIf="isResultsLoading">
        <div class="spinner-loader spinner-dark abs-pos" data-crlat="spinner.loader"></div>
      </div>
    </div>
  </div>
</ng-container>

<outlet-status [state]="state">
  <request-error (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
