@import 'global.variables.less';

.empty-betslip-container {
  .display-flex();
  .flex-direction(column);
  .align-items(center);
  background: #fff;
  padding: 18px 0;

  @media screen and (max-width: @tabletPoint) {
    margin: 4px;
  }
  @media @mqTablet {
    padding: 16px 0;
  }

  .title {
    font-weight: bold;
    font-size: 14px;
    color: @color-gray-dark;
  }

  .msg {
    font-size: 12px;
    padding: 4px 0 10px;
    color: @color-gray-dark;
    opacity: 0.75;
  }

  button {
    width: 120px;
    height: 38px;
    border-radius: 0;
    font-size: 12px;
    color: @brand-color-dark;
  }
}
