@import 'global.variables.less';

.show-more-leagues {
  .justify-content(center);
  .display-flex();
  height: 38px;
  margin-top: 1px;
  align-items: center;
  background: @color-white;
  font-size: 11px;
  color: @madison;
  text-transform: uppercase;

  span {
    margin: 2px;
  }
}



