@import "global.variables.less";

@mobileMenuHeight: 64px;
@carouselMenuHeight: 90px;

:host {
  &.sticky-carousel {
    position: -webkit-sticky;
    position: sticky;
    top: @app-header-height;
    display: block;
    z-index: 5;
    will-change: top;
    .transition(top, .2s, ease-in-out);
    transform: translate3d(0, 0, 0);

    &.menu-hide {
      pointer-events: none;
      top: @app-header-height - @carouselMenuHeight;
      @media (max-width: @mobilePoint) {
        top: @app-header-height - @mobileMenuHeight;
      }
    }
  }

  .carousel-menu {
    padding: 0;
    position: relative;
    color: @color-white;
    height: @mobileMenuHeight;
    background: @top-bar-wrap-bg;

    .scroll-container {
      width: 100%;
      background: @top-bar-wrap-bg;

      .scroll-inner {
        padding: 0;
      }
    }

    li {
      text-align: center;

      height: @mobileMenuHeight;
      width: auto;
      min-width: 60px;
      max-width: 70px;
    }

    .menu-item {
      padding: 9px 0;
      border-bottom: none;

      display: inline-block;
      color: inherit;
      position: relative;
      text-decoration: none;
      height: 100%;
      width: 100%;
    }

    .submenu-list-title {
      font-family: @alt-font-family;
      font-weight: normal;

      text-align: center;
      text-transform: none;
      font-size: @font-size-sm;
      line-height: @font-size-md;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      padding: 0 4px;

      display: block;
      max-width: 70px;
    }

    .submenu-list-icon {
      height: 28px;
      width: 28px;
      margin-bottom: 6px;

      fill: @color-white;
    }

    .submenu-list-svg {
      display: none;
    }
  }

  &.inplay-carousel {
    li:not(:first-child) {
      &.is-live {
        .menu-item {
          &:after {
            content: 'LIVE';
            position: absolute;
            top: 5px;
            right: 8px;
            font-family: @base-font-family;
            font-weight: bold;
            font-size: 8px;
            line-height: 13px;
            color: @lGray;

            height: 12px;
            vertical-align: baseline;
            padding: 0 3px;
            border-radius: 1px;
            background: @color-yellow-alt;
          }
        }
      }

      &.active {
        .menu-item {
          &:after {
            background: @lGray;
            color: @color-yellow-alt;
          }
        }
      }
    }

    li {
      &.active {
        .menu-item {
          color: @color-yellow-alt;

          svg {
            fill: @color-yellow-alt;
          }
        }
      }

      .menu-item {
        .count-label {
          display: none;
        }
      }
    }
  }
}
