@import "global.variables.less";

@highlightcard-shadow: rgba(162, 162, 162, 0.4);
@highlightcard-border-color: rgba(185, 185, 185, 0.6);

.odds-hightlight-card {
  box-shadow: 0 3px 7px 0 @highlightcard-shadow;
  border: 1px solid @highlightcard-border-color;
  border-radius: 3px;
  padding: 6px;
  height: auto;

  &.odds-card {
    box-shadow: 0 3px 7px 0 @highlightcard-shadow;
    border: 1px solid @highlightcard-border-color;

    .odds-outcomes {
      margin-top: 5px;
      .odds-btn-content {
        margin-left: 0;
      }
    }
  }

  .odds-header {
    margin: 0;
    padding-bottom: 5px;
    height: 16px;

    .odds-watch-live,
    .odds-watch,
    .odds-live {
      margin-right: 6px;
    }

    .odds-live-icon {
      margin-right: 6px;
    }

    .live-clock,
    .odds-label {
      font-size: 10px;
      padding-right: 5px;
    }
  }

  .odds-content {
    .odds-names {
      font-weight: normal;
      line-height: 16px;
      padding: 0;

      .odds-name-row {
        .display-flex();
        padding: 2px 3px 1px 0;

        .odds-name {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          font-weight: normal;
          line-height: 16px;
          padding: 0;
        }

        .team-kit-icon {
          height: 15px;
          width: 21px;
          margin-right: 5px;
          overflow: hidden;

          ::ng-deep svg {
            width: 21px;
            height: 21px;
          }
        }

        .green-ball-icon {
          display: inline-block;
          background-color: @color-green;
          width: 6px;
          height: 6px;
          margin: 5px 3px 3px 6px;
          border-radius: 50%;
        }
      }
    }

    .odds-score {
      font-weight: bold;

      .wide-column {
        max-width: initial;
      }

      .tennis-score-column {
        display: block;
        position: relative;

        .odds-tennis-score {
          color: @color-gray-dark;
          text-align: center;
          line-height: 16px;
          padding: 3px 0;
          width: 16px;
        }

        .sgp-tennis-header {
          position: absolute;
          top: -22px;
          color: @color-gray-mid;
          font-weight: normal;
          font-size: 11px;
        }
      }
    }

    .odds-score.odds-right-carousel-aligned {
      max-width: initial;
      margin-left: auto;
      padding-right: 0;

      & > li {
        max-width: initial;
      }
    }

    .odds-score.odds-tennis {
      max-width: 63px;
      padding: 0 0 0 5px;

      li {
        max-width: 20px;
      }

      li:last-child {
        padding-right: 5px;
      }
    }

    .odds-btn-content {
      display: flex;
      margin-left: 0;
      width: 100%;

      price-odds-button {
        flex-basis: 100%;
        margin-left: 6px;
        min-height: 40px;
      }

      price-odds-button:first-child {
        margin-left: 0;
      }

      ::ng-deep {
        .btn-bet,
        .btn.btn-bet {
          width: 100%;
          flex-basis: 100%;
          min-width: 0;
          padding: 0;

          .odds-head {
            color: @color-gray-dark;
            display: block;
            white-space: nowrap;
            width: 100%;
            font-size: 9px;
            line-height: 11px;
            font-weight: bold;
            padding-bottom: 3px;
          }
        }
      }
    }
  }

  .odds-content.odds-names-scores {
    height: 44px;
  }
}
