  <div class="odds-card odds-hightlight-card"
       (click)="goToEvent(false, $event)"
       [attr.data-eventid]="event.id"
       data-crlat="oddsCard.sportTemplate">

    <div class="odds-header" data-crlat="oddsHeader">
      <div class="odds-left" data-crlat="oddsLeft">
        <!-- Live label -->
        <div class="odds-live" *ngIf="!isStream && isEventStartedOrLive">
          <svg class="odds-live-icon"  data-crlat="liveLabel">
            <use xlink:href="#live-icon"></use>
          </svg>
          <span [i18n]="'sb.live'"></span>
        </div>
        <!-- Stream icon -->
        <svg class="odds-icon-stream"
             data-crlat="oddsIconStream"
             *ngIf="isStream"
             [ngClass]="{'watch-live': isEventStartedOrLive}">
          <use xlink:href="#stream"></use>
        </svg>
        <span class="odds-watch-live"
              [i18n]="'sb.watchLive'"
              *ngIf="isStream && isEventStartedOrLive"
              data-crlat="watchLive">
        </span>
        <span class="odds-watch"
              [i18n]="'sb.watch'"
              *ngIf="isStream && !isEventStartedOrLive">
        </span>

         <!--Live clock -->
        <live-clock *ngIf="isClockAllowed()"
              [event]="event"
              data-crlat="liveClock">
        </live-clock>
         <!--Odds label for HT/FT or tennis set -->
        <span *ngIf="isLabelShown"
              [textContent]="oddsLabel"
              class="odds-label"
              data-crlat="oddsCardLabel">
        </span>
      </div>
    </div>

    <div class="odds-content odds-names-scores" [ngClass]="{'odds-wrap': widget}" data-crlat="oddsContent">
      <div class="odds-left" data-crlat="oddsNamesRow">
        <!-- Two teams template -->
        <div class="odds-names odds-names-list" *ngIf="(!event.outcomeStatus && eventSecondName)" data-crlat="oddsNames">
          <!-- svg-team-kit component should be added to carousel template -->
          <div class="odds-name-row">
            <span class="team-kit-icon" data-crlat="firstTeamKit" *ngIf="isKitsAvailable">
              <svg-team-kit (isTeamKitAvailable)="checkKits($event)" [fileName]="teamKit(eventFirstName)"></svg-team-kit>
            </span>
            <span [textContent]="eventFirstName" class="odds-name" data-crlat="EventFirstName"></span>
            <span><span [ngClass]="{'green-ball-icon': isTennis}"
                        *ngIf="isTennis && isPlayerActive(1)"></span></span>
          </div>
          <div class="odds-name-row">
            <span class="team-kit-icon" data-crlat="secondTeamKit" *ngIf="isKitsAvailable">
              <svg-team-kit (isTeamKitAvailable)="checkKits($event)" [fileName]="teamKit(eventSecondName)"></svg-team-kit>
            </span>
            <span [textContent]="eventSecondName" class="odds-name" data-crlat="EventSecondName"></span>
            <span><span [ngClass]="{'green-ball-icon': isTennis}"
                        *ngIf="isTennis && isPlayerActive(2)"></span></span>
          </div>
        </div>
      </div>
      <div class="odds-right" data-crlat="oddsOutcomesRow">

        <!--TODO deprecated, use <odds-card-score>-->
        <ul *ngIf="hasEventScores()"
            class="odds-score odds-right-carousel-aligned"
            [ngClass]="{ 'odds-tennis' : isTennis || isBadminton }">

          <!-- Sport Score(Set) -->
          <ng-container *ngIf="!isBadminton && !isTennis">
            <ng-container *ngIf="boxScore">
              <li>
                <span [textContent]="boxScore.home.inn1"></span>
                <span [textContent]="boxScore.away.inn1"></span>
              </li>
              <li *ngIf="eventComments?.teams.home">
                <b [textContent]="boxScore.home.inn2"></b>
                <b [textContent]="boxScore.away.inn2"></b>
              </li>
            </ng-container>

            <li *ngIf="eventComments.teams.home && !boxScore" class="wide-column">
              <span [textContent]="oddsScores.home"></span>
              <span [textContent]="oddsScores.away"></span>
            </li>
            <li *ngIf="isEventHasCurrentPoints && !isCricket">
              <span [textContent]="eventComments?.teams.home.currentPoints"></span>
              <span [textContent]="eventComments?.teams.away.currentPoints"></span>
            </li>
          </ng-container>
          <!-- Tennis & Badminton Scores with SGP headers design -->
          <ng-container *ngIf="isTennis">
            <li>
              <span class="tennis-score-column">
                <span class="odds-tennis-score sgp-tennis-header">S</span>
                <span class="odds-tennis-score"
                      [textContent]="eventComments.teams.player_1.score || 0"></span>
                <span class="odds-tennis-score"
                      [textContent]="eventComments.teams.player_2.score || 0"></span>
              </span>
            </li>
            <li>
              <span class="tennis-score-column">
                <span class="odds-tennis-score sgp-tennis-header">G</span>
                <span class="odds-tennis-score"
                      [textContent]="periodScores.home">
                </span>
                <span class="odds-tennis-score"
                      [textContent]="periodScores.away">
                </span>
              </span>
            </li>
            <li>
            <span class="tennis-score-column">
              <span class="odds-tennis-score sgp-tennis-header">P</span>
              <span class="odds-tennis-score"
                    [textContent]="currentScores.home">
              </span>
              <span class="odds-tennis-score"
                    [textContent]="currentScores.away">
              </span>
            </span>
            </li>
          </ng-container>
          <ng-container *ngIf="isBadminton">
            <li>
          <span class="tennis-score-column">
              <span class="odds-tennis-score sgp-tennis-header">G</span>
              <span class="odds-tennis-score"
                    [textContent]="eventComments?.teams.home.currentPoints || 0">
              </span>
              <span class="odds-tennis-score"
                    [textContent]="eventComments?.teams.away.currentPoints || 0">
              </span>
            </span>
            </li>
            <li>
            <span class="tennis-score-column">
              <span class="odds-tennis-score sgp-tennis-header">P</span>
              <span class="odds-tennis-score"
                    [textContent]="oddsScores.home">
              </span>
              <span class="odds-tennis-score"
                    [textContent]="oddsScores.away">
              </span>
            </span>
            </li>
          </ng-container>
        </ul>


      </div>
    </div>
    <div class="odds-content odds-outcomes" *ngIf="selectedMarketObject?.outcomes?.length">
        <!-- Sport Odds Buttons -->
      <div class="odds-btn-content"
           data-crlat="oddsBtnContent"
           (click)="$event.stopPropagation()"
           *ngIf="selectedMarketObject.outcomes.length"
           [ngClass]="{ 'outcomes-two': selectedMarketObject.outcomes.length == 2 }" >
        <ng-container *ngFor="let outcome of correctedOutcomes; let i = index">
            <price-odds-button *ngIf="outcome"
                               [event]="event"
                               data-crlat="event"
                               [market]="selectedMarketObject"
                               [outcome]="outcome"
                               [head]="outcomeColumnsHeaders[i] | uppercase"
                               [gtmModuleTitle]="'highlights carousel'">
            </price-odds-button>
        </ng-container>
      </div>
    </div>
  </div>

