@import 'global.variables.less';
#banner-section {
  background: @banners-section-color;
  max-height: 410px;

  &:not(:empty) {
    @media (max-width: @desktopPointLow) {
      padding: 8px 0;
    }
  }
}
