<ng-container *ngFor="let group of moduleConfig.results; trackBy: trackByGroup">
  <accordion [inner]="true" [isExpanded]="true" *ngIf="isGroupVisible(group)">
    <left-side>
      <span class="left-title-text" [textContent]="group.date | date:'dd MMM yyyy'"></span>
    </left-side>
    <accordion-body>
      <ng-container *ngFor="let event of group.matches; trackBy: trackByEvent">
        <ng-container *ngIf="isEventVisible(event)">
          <odds-card-result-component [event]="event"></odds-card-result-component>
        </ng-container>
      </ng-container>
    </accordion-body>
  </accordion>
</ng-container>
<show-all-button (click)="showMore()" *ngIf="showMoreAvailable" [showMoreMode]="true"></show-all-button>
<no-events *ngIf="!moduleConfig?.results?.length" [message]="'bigcompetitions.noEvents'"></no-events>
