<div id="agreements"></div>

<!--- Slide-out Betslip -->
<sidebar *ngIf="device.isMobile"
         [sideClass]="'slide-out-betslip'"
         [sideHideClose]="true"
         [sidePosition]="'bottom'"
         [sideId]="'slide-out-betslip'"
         data-crlat="betslipSidebar">
  <div class="bs-lazy-container">
    <div #slideOutBetslip></div>
    <div *ngIf="!betslipLoaded" class="spinner-loader spinner-dark" data-crlat="spinner.loader"></div>
  </div>
</sidebar>

<!-- Gaming Overlay -->
<lazy-component *ngIf="isGamingOpen"
                moduleUri="src/app/lazy-modules/gamingOverlay/gaming-overlay.module#GamingOverlayModule"
                [inputs]="{ url: sysConfig.GamingEnabled.overlayUrl }">
</lazy-component>


<!-- Quiz dialog component -->
<lazy-component moduleUri="src/app/lazy-modules/quiz/quiz-dialog.module#QuizDialogModule"
                [inputs]="{user: user}">
</lazy-component>

<tutorial-overlay *ngIf="user.status && !device.isDesktop"></tutorial-overlay>

<div class="side-page" [ngClass]="{'skeleton': !device.isDesktop && sysConfig?.FeatureToggle.skeletonLoadingScreen}" scroll-fix>
  <!--- Content -->
  <div id="page-content" data-crlat="pageContent">
    <!--- Menu Carousel-->
    <carousel-menu class="sticky-carousel"
                   *ngIf="menuItems && isHomeURL"
                   [menuItems]="menuItems"
                   [isSticky]="true"
                   [isTopScroll]="true"
                   data-crlat="menuCarousel">
    </carousel-menu>

    <div id="page-wrap-content">
      <!--- Left Side -->
      <left-column></left-column>

      <div class="page-wrapper">
        <div class="page-wrap-inner">

          <div data-uat="pageContent" id="content">
            <router-outlet></router-outlet>
          </div>

          <!--- Right Side -->
          <right-column-widget-wrapper *ngIf="showRC" id="right-column" data-crlat="rightColumn"></right-column-widget-wrapper>

          <button class="btn-bet bet-animation animate" *ngIf="betSlipAnimation === 'On'" data-crlat="betSlipAnimation"></button>

        </div>
        <seo-static-block></seo-static-block>
      </div>
    </div>
  </div>

  <!--- Footer -->
  <footer-section data-crlat="footer"></footer-section>
</div>

<!-- SVG ICONS -->
<svg-list id="iconsSprite_cmsInitial" *ngIf="initialIcons" [list]="initialIcons" [keepFill]="true"></svg-list>
<svg-list id="iconsSprite_cmsFeatured" *ngIf="featuredIcons" [list]="featuredIcons" [keepFill]="true"></svg-list>
<svg-list id="iconsSprite_cmsAdditional" *ngIf="additionalIcons" [list]="additionalIcons" [keepFill]="true"></svg-list>

<live-serv-iframe><!-- LiveServ integration iframe --></live-serv-iframe>

<loading-overlay data-crlat="loadingOverlay"></loading-overlay>

<oxygen-dialog></oxygen-dialog>
<oxygen-notification></oxygen-notification>

<quickbet-panel-wrapper></quickbet-panel-wrapper>

<promotion-footer></promotion-footer>

<ng-container *ngIf="sysConfig?.Connect?.overlay">
  <retail-overlay></retail-overlay>
</ng-container>
