<accordion *ngIf="data.verdict"
           [isExpanded]="true"
           [headerClass]="'secondary-header'">
  <left-side>
    <racing-post-verdict-label></racing-post-verdict-label>
  </left-side>
  <accordion-body>
    <racing-post-verdict [data]="data" [showMap]="true"></racing-post-verdict>
  </accordion-body>
</accordion>
