@import 'global.variables.less';

racing-status:host {
  font-size: @font-size-sm;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-black;
  display: block;
  margin-top: 5px;

  .race-off {
    color: @red;
  }

  .live {
    color: @color-yellow-alt;
    background: @lGray;
    font-weight: normal;
    padding: 1px 5px;
  }

  .racing-icon {
    height: 8px;
    width: 8px;
    margin-right: 3px;
  }
}
