<svg *ngIf="event.isResulted" class="racing-icon" data-crlat="raceGrid.iconRace">
  <use xlink:href="#icn_race-finished"></use>
</svg>
<span [className]="status.class" [textContent]="status.title" [attr.data-crlat]="status.class"></span>
