<div class="event-title-bar">
  <fallback-scoreboard
    [event]="event"
    [score]="parseScores(event.originalName, fallbackScoreboardType)"
    [scoreType]="fallbackScoreboardType" *ngIf="isFallbackScoreboards" data-crlat="sbBar">
  </fallback-scoreboard>
  <div class="match-info" *ngIf="!isFallbackScoreboards" data-crlat="defBar">
    <h1 class="event-name"
        [textContent]="event.name"
        data-crlat="eventEntity.name"></h1>
  </div>
</div>
