<div class="bet-leg-inner">
  <!-- Winning/Losing indicators -->
  <div *ngIf="winLosIndicator && !showRemovedLabel"
       [class]="'leg-indicator ' + winLosIndicator"
       [ngClass]="{'removing': leg.removing}">
    <div class="icon">
      <div class="arrow-icon"></div>
    </div>
  </div>

  <!-- Leg status -->
  <div *ngIf="leg.part.length >= 1 && statusName && !showRemovedLabel && !isBuildYourBet && !shouldShowFiveASideIcon"
       class="leg-status-container"
       data-crlat="legStatusContainer"
       [ngClass]="statusName">
    <span class="leg-status" [attr.data-crlat]="'leg.status.' + statusName" [textContent]="statusName"></span>
  </div>

  <div *ngIf="!isMultiples && shouldShowSilk"
       class="silk-container single {{statusName}}"
       data-crlat="silks"
       [ngClass]="{'removed': showRemovedLabel || leg.removing}">

    <div *ngIf="isGenericSilk(leg)"
         class="silk-img"
         data-crlat="silk.generic"></div>

    <div *ngIf="isSilkAvailable(leg)"
         class="silk-img" [ngClass]="isUKorIRE ? 'with-default': 'inter-silk'"
         data-crlat="silk.image">

      <div [ngStyle]="getSilkStyle(leg)"
           data-crlat="silk.image.style">
      </div>

    </div>
  </div>

  <div [attr.eventid]="leg.eventEntity?.id"
       class="single-item-inner"
       [ngClass]="getClasses(leg)"
       data-crlat="cashout.betLegItem">

    <div *ngIf="!isBuildYourBet" class="select-market-header top"
         data-crlat="section.marketHeader">
      <div class="single-left"
           data-crlat="marketHeader">
      <span *ngIf="showRemovedLabel || leg.removing" class="leg-remove-marker" [i18n]="'ema.legRemoved'"
            data-crlat="legRemoveMarker"></span>

        <div *ngIf="!isMultiples" class="selection-name"
             data-crlat="outcomeInfo">
        <span class="single-selection-name"
              [textContent]="filterPlayerName(outcomeNames[0])"
              data-crlat="selectionName"
              data-uat="selectionName"></span>

          <ng-container *ngIf="displayBogPrice && startingOddsCaption">
            <span class="single-selection-odds single-selection-odds-plain single-selection-odds-bog"
                  [textContent]="startingOddsCaption"></span>
            <span class="selection-odds-separator"></span>
          </ng-container>
          <span class="single-selection-odds"
                [ngClass]="{'single-selection-odds-plain': !(displayBogPrice && startingOddsCaption), 'single-selection-odds-crossed': displayBogPrice && startingOddsCaption}"
                [textContent]="takenOddsCaption"
                data-crlat="oddsValue"
                data-uat="odds"></span>
        </div>

        <!-- Outcome names -->
        <div class="selection-names" *ngIf="isMultiples">
          <div *ngFor="let name of outcomeNames; trackBy: trackByOutcomeName; index as i;"
               class="selection-name"
               data-crlat="outcomeInfo">

            <div *ngIf="shouldShowSilk"
                 class="silk-container"
                 data-crlat="outcome.silk">

              <div *ngIf="isGenericSilk(leg, i)"
                   class="silk-img"
                   data-crlat="silk.generic"></div>

              <div *ngIf="isSilkAvailable(leg, i)"
                   class="silk-img" [ngClass]="isUKorIRE ? 'with-default': 'has-img'"
                   data-crlat="silk.image">

                <div [ngStyle]="getSilkStyle(leg, i)"
                     data-crlat="silk.image.style">
                </div>

              </div>

            </div>
            <span class="single-selection-name"
                  [textContent]="name | callBack : filterPlayerName : this"
                  data-crlat="selectionName"
                  data-uat="selectionName"></span>
          </div>
        </div>
      </div>
    </div>

    <lazy-component *ngIf="isBuildYourBet"
                    moduleUri="@bybHistoryModule/byb-history.module#LazyBybHistoryModule"
                    [inputs]="{leg: leg, bet: bet.eventSource, isUsedFromWidget: isUsedFromWidget}"
                    entryComponent="LadbrokesBybSelectionsComponent">
    </lazy-component>

    <div *ngIf="!leg.removing && !leg.isEventEntity && !leg.noEventFromSS"
         class="spinner-loader small-loader spinner-dark"
         data-crlat="spinner.loader"></div>

    <!-- Event info -->
    <div class="event-info" [ngClass]="{'silk-space': silkSpace, 'arrowed-item': isBuildYourBet}">
      <div *ngIf="shouldShowFiveASideIcon" class="fiveASideIcon">
        <svg>
          <use xlink:href="#icon-logo-five-a-side"></use>
        </svg>
      </div>
      <div>
        <!-- Byb suspended label -->
        <div *ngIf="isBuildYourBet && leg.status === 'suspended'"
          class="byb-suspended-label" [i18n]="'bethistory.suspended'"></div>

        <!-- Single market name-->
        <div class="single-market-name"
             *ngIf="!showRemovedLabel && !leg.removing">
          <span [textContent]="filterAddScore(eventMarketDescription, outcomeNames[0])"
                data-crlat="marketName"
                data-uat="marketName"></span>
          <ng-container *ngIf="displayBogPrice && startingOddsCaption && isMultiples">
            <span class="single-selection-odds single-selection-odds-plain single-selection-odds-bog"
                [textContent]="startingOddsCaption"></span>
            <span class="selection-odds-separator"></span>
          </ng-container>

          <span class="single-selection-odds"
                *ngIf="isMultiples"
                [ngClass]="{'single-selection-odds-plain': !(displayBogPrice && startingOddsCaption), 'single-selection-odds-crossed': displayBogPrice && startingOddsCaption}"
                [textContent]="takenOddsCaption"
                data-crlat="oddsValue"
                data-uat="odds"></span>
        </div>

        <!-- Event header -->
        <event-header
          *ngIf="eventEntity"
          [event]="eventEntity"
          [result]="leg.part[0].result"
          [place]="leg.part[0]?.outcome[0]?.result?.places"
          [status]="leg.status"
          [legType]="legType"
          [homeScore]='eventEntity.comments?.teams?.home?.score'
          [awayScore]='eventEntity.comments?.teams?.away?.score'
          [matchTime]='eventEntity.clock?.matchTime'
          [runningSetIndex]='eventEntity.comments?.runningSetIndex'
          [ngClass]="{removed: leg.removing}"
          data-crlat="legItem">
        </event-header>

        <promo-labels
          *ngIf="eventEntity && !isFCTC"
          [event]="eventEntity"
          [marketId]="leg.part[0].marketId"
          [mode]="'bet-history-mode'"
          [exclude]="excludedDrilldownTagNames"
          class="my-bets-promo-labels">
        </promo-labels>

        <bog-label *ngIf="!isFCTC && leg.part[0].isBog" [bogLabelStyle]="false"></bog-label>

        <!-- Rule 4 message for Horse racing events -->
        <div *ngIf="ruleFourDeduction"
             class="rule-four-message">
          <span [i18n]="'bethistory.ruleFourMessageFirstPart'"></span>
          <span class='highlight'
                [textContent]="ruleFourDeduction + 'p'"></span>
          <span [i18n]="'bethistory.ruleFourMessageSecondPart'"></span>.
          <a
            class='link'
            [attr.href]='RULE_FOUR_URL'
            target='_blank'
            [i18n]="'bethistory.ruleFourMessageThirdPart'">
          </a>
        </div>
      </div>
    </div>

    <edit-my-acca-remove-icon *ngIf="bet.eventSource.isAccaEdit" [bet]="bet" [leg]="leg"></edit-my-acca-remove-icon>
  </div>
</div>
