@import 'global.variables.less';

// Standart icon
@prom-icon-size: 17px;
@prom-icon-pad: 10px 6px;
// Small icon
@small-prom-icon-size: 12px;
@small-prom-icon-pad: 6px 4px;

// Mid icon
@mid-prom-icon-pad: 9px 4px;

:host {
  .promotion-icons-wrapper, .prom-icons {
    .display-flex();
    .align-items(center);
  }
  .prom-icon {
    float: right;
    text-align: center;
    padding: @prom-icon-pad;
    cursor: pointer;
    &.big-icon {
      background: @color-yellow-alt;
    }

    .prom-icon-container {
      .display-flex();
      .align-items(center);
      height: 100%;
    }

    svg {
      width: @prom-icon-size;
      height: @prom-icon-size;
      margin: 0 auto;
      fill: #000000;

      &.MB {
        width: 16px;
        height: 16px;
      }

      &.PB {
        width: 16px;
        height: 18px;
      }

      &.EPR {
        width: 13px;
        height: 11px;
      }
    }
  }
}

:host.odds-card-promotions-icon {
  .promotion-icons-wrapper {
    margin-right: 3px;
  }
  .promotion-icon-container {
    margin: 0 2px 0 0;
  }
  .prom-icon {
    padding: @small-prom-icon-pad;
    svg {
      width: @small-prom-icon-size;
      height: @small-prom-icon-size;
    }
  }
}

:host.tabs-panel-promotion-icon {
  .prom-icons {
    .display-flex();
  }

  .prom-icon {
    padding: @mid-prom-icon-pad;
    margin: 0px 5px 0 0px;
    &:first-child {
      margin-left: -10px;
    }
  }
}

:host.race-card-promotion-icon {
  .prom-icons {
    .prom-icon {
      padding: 6px 2px;
      margin: 0 5px 0 0;

      svg {
        width: @small-prom-icon-size;
        height: @small-prom-icon-size;
      }
    }
  }
}

:host.racing-event-promotion-icon {
  position: relative;
  right: 4px;

  .extra-place-label-wrapper {
    margin-top: 7px;
  }

  .prom-icon {
    margin: 3px 5px 0 0;
    padding: @mid-prom-icon-pad;
  }
}

:host.racing-icons-list-promotion-icon {
  .prom-icons {
    .display-flex();
  }

  .prom-icon {
    margin: 0;
    padding: 0;

    svg {
      margin: 0 0 0 10px;
    }
  }
}

:host.align-left {
  .event-card-label-wrapper:first-child {
    margin-left: 0;
  }

  .promotion-icon-container + .prom-icons {
    .event-card-label-wrapper:first-child {
      margin-left: 4px;
    }
  }
}

// Race card, Sport EDP
.event-card-label-wrapper {
  background-color: @color-yellow-alt;
  fill: black;
  .event-card-text {
    color: @lGray;
    font-weight: bold;
    white-space: nowrap;
  }
  &.middle-icon {
    .event-card-label {
      width: 18px;
      height: 14px;
    }
    .event-card-text {
      display: none;
    }
  }

  &.bog-promotion {
    width: auto;
    height: 15px;
    padding:0 4px;
    .inline-flex();
    .align-items(center);
    border-radius: 1px;
    cursor: pointer;

    .event-card-label.bog-text {
      width: 13px;
      height: 11px;
      margin: 0;
    }
  }

  &.small-icon {
    padding-left: 4px;
    padding-right: 4px;

    .event-card-label {
      width: 10.5px;
      height: 10.5px;

      &.MB {
        width: 11px;
        height: 11px;
      }

      &.PB {
        width: 8px;
        height: 11px;
      }

      &.EPR {
        width: 13px;
        height: 11px;
      }
    }
    .event-card-text {
      text-transform: uppercase;
      font-family: @base-font-family;
      font-size: 10px;
      margin-right: 0;
      margin-left: 4px;
      font-stretch: condensed;
    }
  }

  &.mini-icon {
    .small-icon();
    .event-card-text {
      display: none;
    }
  }
}
