:host {
  .market-column {
    flex: unset;
  }

  .is-horizontal .col-vertical, ::ng-deep .is-horizontal .col-bordered .col-inner.col-vertical {
    height: 100%;

    price-odds-button {
      margin-top: auto;
    }
  }
}
