<div>
  <div class="spinner-loader spinner-dark" data-crlat="spinner.loader" *ngIf="applyingParams"></div>

  <div class="page-inner" data-crlat="accordionsList">
    <!--- Sorting Panel -->

    <div class="page-segment">
      <switchers *ngIf="!applyingParams && isRacingPanel && display === 'future'" [filter]="filter" data-crlat="switchers" [switchers]="switchers"></switchers>

      <!-- Today/Tomorrow events -->
      <lazy-component *ngIf="display === 'today' || display === 'tomorrow'"
                      moduleUri="src/platforms/ladbrokesDesktop/lazy-modules/racingFeatured/racing-featured.module#RacingFeaturedModule"
                      [hidden]="applyingParams"
                      [inputs]="{
                        sportId: categoryId,
                        racing: racing,
                        sectionTitle: sectionTitle,
                        sportName: sportName,
                        eventsOrder: eventsOrder,
                        filter: filter,
                        responseError: responseError,
                        display: display
                      }"
                      data-crlat="racing.greyhound">
      </lazy-component>
      <!-- Future events -->
      <div *ngIf="!applyingParams && display === 'future'" data-crlat="racing.future">
        <div *ngIf="!responseError && racing.events?.length" data-crlat="racing.futureEvents">
          <accordion *ngIf="filter === 'by-time'"
                     [isExpanded]="isExpanded"
                     [card]="true">
            <left-side>
              <span class="left-title-text" [i18n]="'sb.events'" data-crlat="headerTitle.leftMessage"></span>
            </left-side>
            <accordion-body>
              <a [attr.data-eventid]="eventEntity.id" class="odds-card" [routerLink]="formEdpUrl(eventEntity)"
                 *ngFor="let eventEntity of orderedEvents; trackBy: trackById;"
                 data-crlat="racing.futureEvent">
                <div class="odds-content">
                  <div class="odds-names">
                    <div data-crlat="racing.futureEventName" [textContent]="eventEntity.localTime+' '+eventEntity.name"></div>
                    <div class="odds-small" data-crlat="racing.futureEventTime"
                         [textContent]="filteredTime(eventEntity.startTime, 'EEEE d\'th\' LLLL yyyy')"></div>
                  </div>
                  <promotion-icon [type]="'event'"
                                  [display]="eventEntity.drilldownTagNames"
                                  data-crlat="promotionIcons">
                  </promotion-icon>
                </div>
              </a>
              <div class="spinner-loader spinner-dark" [hidden]="!itemLoad" data-crlat="spinner.loader"></div>
            </accordion-body>
          </accordion>

          <div *ngIf="filter === 'by-meeting'">
            <accordion [accordionTitle]="classesTypeName.name"
                       [isExpanded]="isPanelExpanded"
                       [card]="true"
                       *ngFor="let classesTypeName of filteredTypeNames; trackBy: trackById; let index = index;">
              <accordion-body>
                <a [attr.data-eventid]="eventEntity.id" class="odds-card" [routerLink]="formEdpUrl(eventEntity)"
                   *ngFor="let eventEntity of orderedEventsByTypeNames[index]; trackBy: trackById;"
                   data-crlat="racing.futureEvent">
                  <div class="odds-content">
                    <div class="odds-names">
                      <div data-crlat="racing.futureEventName">{{eventEntity.localTime}} {{eventEntity.name}}</div>
                      <div class="odds-small" data-crlat="racing.futureEventTime"
                           [textContent]="filteredTime(eventEntity.startTime, 'EEEE d\'th\' LLLL yyyy')"></div>
                    </div>
                    <promotion-icon [type]="'event'"
                                    [display]="eventEntity.drilldownTagNames"
                                    data-crlat="promotionIcons"></promotion-icon>
                  </div>
                </a>
              </accordion-body>
            </accordion>
          </div>
        </div>

        <request-error *ngIf="responseError"
                       [loadFailed]="responseError"
                       (reloadFn)="reloadComponent()"></request-error>

        <!-- Show only when no events -->
        <no-events *ngIf="!responseError && !racing.events?.length"></no-events>
      </div>

      <!-- Special tab -->
      <greyhound-specials-tab *ngIf="!applyingParams && !responseError && display === 'specials'"
                              [racing]="racing"
                              [eventsOrder]="eventsOrder"
                              [responseError]="responseError">
      </greyhound-specials-tab>
    </div>

    <div class="widget-column" *ngIf="!applyingParams && !responseError && display === 'today'">
      <!--- Next 4 race module -->
      <next-races-module *ngIf="nextRacesWidgetVisible && nextRacesComponentEnabled"
                         [moduleType]="sportModule"
                         [fluid]="true"
                         [headerVisible]="true">
      </next-races-module>
    </div>
  </div>
</div>
