<div class="select-market-header regular-bet-header"
  [class.edited-acca-bet-header]="bet.eventSource.accaHistory">
  <span class="regular-bet-item-header-text single-left"
        data-crlat="cashout.item.header">
    <span class="bet-type-container">
      <span [textContent]="fullBetType" data-crlat="betType"></span>

      <span *ngIf="bet.eventSource.accaHistory" class="bet-history-label">
        <span
          [i18n]="bet.eventSource.accaHistory.isOriginal ? 'ema.history.originalBet' : 'ema.history.editedBet'" data-crlat="histLbl"></span>
        &nbsp;
        <span [textContent]="accaTime" data-crlat="time"></span>
      </span>
    </span>

    <!-- Each Way label-->
    <span *ngIf="bet.eventSource.legType === 'E'"
          class="each-way-label">
      (<span [i18n]="'bethistory.EWE'"
             data-crlat="label.EW"></span>)
    </span>

    <span *ngIf="bet.eventSource.sortType">
      &nbsp;- <span [textContent]="bet.eventSource.sortType"></span>
    </span>
  </span>

  <div *ngIf="bet.eventSource.totalStatus && !bet.eventSource.accaHistory && showStatus"
       class="regular-bet-item-header-text regular-bet-item-status">
      <span
        [textContent]="bet.eventSource.totalStatus"
        data-crlat="cashout.totalStatus"></span>
  </div>

  <div *ngIf="showArrow" class="chevron chevron-down"></div>
  <edit-my-acca-button *ngIf="showEditAccaButton()" [bet]="bet.eventSource" [gtmLocation]="gtmLocation"></edit-my-acca-button>
</div>
