@import 'global.variables.less';
@import './../../assets/styles/modules/show-history-button.less';

.partial-cashout-history-container {
  border-top: 1px solid @color-gray;
  ::ng-deep {
    .expand-panel {
      margin: 0;
    }
    .expand-panel-heading {
      .show-history-button();
      border: 0;
      svg {
        display: none;
      }
      &.active {
        svg {
          display: inline-block;
        }
      }
    }

    .expand-panel-body {
      background: none;
      border: none;
    }
  }
}
