<drawer [show]="true"
        [showCloseButton]="false"
        (hide)="hide()"
        [position]="false"
        [removeBodyClassOnClose]="false"
        [showOverlay]="false"
        [contentClass]="'five-a-side'"
        [showFallbackMessage]="!optaStatisticsAvailable">
  <div header header="true" class="head text-left">
    <button class="btn-back" [i18n]="'bma.back'" (click)="hide()"></button>
    <div class="title">
      <h1 class="title-text"><span [i18n]="'yourcall.add'"></span> {{item.position || 'Player'}}</h1>
      <h2 class="subtitle" [i18n]="'yourcall.statsSubTitles.'+item.stat"></h2>
    </div>
  </div>
  <div fallbackMessage class="stats-unavailable">
    <span class="stats-unavailable-text" [i18n]="'yourcall.statsUnavailableText'"></span>
  </div>
  <div body class="five-a-side-body">
    <switchers
        class="five-a-side-switcher"
        [filter]="filter"
        [switchers]="switchers"
        [noPaddings]="true"
    ></switchers>
    <div class="event-name text-center" [textContent]="eventEntity.name"></div>
    <div class="player-list" data-crlat="playerList">
      <player-card *ngFor="let player of playersList; trackBy: trackById"
        [player]="player" [eventEntity]="eventEntity"></player-card>
    </div>
  </div>
</drawer>
