.top-event-panel .race-details-container {
  .notification-icon-wrapper {
    width: 17px;
    height: 19px;
    margin-left: auto;
    margin-right: 0;
    svg {
      fill: @lGray;
    }
  }

  .event-title {
    .notification-icon-wrapper {
      float: right;
    }
  }
}

.top-event-panel {
  .racing-post-media-btns-container{
    justify-content: space-between;
    &.no-watch{
      justify-content: flex-end;
    }
  }
}
