<div class="container-content jackpot-receipt">
  <ng-container *ngIf="poolHistory">
    <div class="bet-item"
         *ngFor="let poolEntity of poolHistory; trackBy: trackByBet"
         data-crlat="cashout.betItems">
      <div class="bet-container" [ngClass]="poolEntity.status">
        <!-- Header -->
        <div class="my-bets-item-header">
          <span class="my-bets-item-header-text">
            <span [textContent]="poolEntity.betTitle" data-crlat="cashout.item.header"></span>
            <span
              *ngIf="poolEntity.showLegsNumberInTitle"
              [textContent]="poolEntity.numLegs"
              data-crlat="numLegs">
            </span>
          </span>
          <span
            *ngIf="poolEntity.status"
            [textContent]="poolEntity.status"
            class="my-bets-item-status"
            [ngClass]="poolEntity.status"
            data-crlat="cashout.totalStatus">
          </span>
        </div>

        <!-- Football jackpot pool bet card -->
        <jackpot-pool-leg-list
          *ngIf="poolEntity.isFootballJackpotBetModel"
          [pool]="poolEntity"
          data-crlat="poolType.jackpot">
        </jackpot-pool-leg-list>

        <!-- Tote One Leg pool bet card -->
        <tote-pool-bet-card
          *ngIf="poolEntity.isTotePoolBetBetModel"
          [pool]="poolEntity"
          data-crlat="poolType.oneLeg">
        </tote-pool-bet-card>

        <!-- Tote Multiple Legs pool bet card -->
        <tote-pot-pool-bet-card
          *ngIf="poolEntity.isTotePotPoolBetBetModel"
          [pool]="poolEntity"
          data-crlat="poolType.multipleLegs">
        </tote-pot-pool-bet-card>

        <!-- Stake and lines or estimated returns-->
        <div
          class="cashout-stake-and-returns">
          <div class="select-market-header unit-stake-row">
            <div class="single-left" data-crlat="stake">
              <span class="stake-label"
                    [i18n]="'bethistory.stakePerLine'"
                    data-crlat="label">
              </span>
              <span class="stake-label stake-value"
                    [textContent]="poolEntity.totalStake"
                    data-crlat="value">
              </span>
            </div>

            <div *ngIf="poolEntity.showStakeAndLines"
                 class="single-right"
                 data-crlat="showStakeAndLines">
              <span class="stake-label" [i18n]="'bethistory.infoLinesNum'" data-crlat="label"></span>
              <span class="stake-label stake-value lines-number" [textContent]="poolEntity.lines"></span>
              <span class="stake-label win-lines-label" [i18n]="'bethistory.infoWinLinesNum'"></span>
              <span class="stake-label stake-value"
                    [ngClass]="{'win-lines-number': poolEntity.status === 'won'}"
                    [textContent]="poolEntity.winLines" data-crlat="label">
              </span>
            </div>

            <div class="single-right"
                 *ngIf="poolEntity.showEstimatedReturns"
                 data-crlat="estimatedReturns">
            <span *ngIf="!poolEntity.isSettled"
                  class="stake-label"
                  [i18n]="'bethistory.totalReturn'"
                  data-crlat="label">
            </span>
              <span *ngIf="poolEntity.isSettled"
                    class="stake-label"
                    [i18n]="'bethistory.totalReturns'"
                    data-crlat="label">
              </span>
              <span class="stake-label stake-value"
                    [textContent]="poolEntity.totalReturns || 'N/A'"
                    data-crlat="value">
              </span>
            </div>
          </div>
        </div>

        <!--Bet receipt-->
        <bet-receipt-info
          datePattern="HH:mm - dd MMM"
          [receipt]="poolEntity.receipt"
          [date]="poolEntity.date"
          data-crlat="betReceiptInfo">
        </bet-receipt-info>
      </div>
    </div>
    <!-- No lotto bets error message -->
  </ng-container>

  <no-bets-section
    *ngIf="!poolHistory.length"
    [noBetsMessage]="noBetsMessage"
    [showStartGamingButton]="!isUsedFromWidget"
  ></no-bets-section>
</div>
