<home-screen data-crlat="homeScreen"></home-screen>

<ng-container *ngIf="!isProduction">
  <lazy-component moduleUri="src/app/lazy-modules/devLog/dev-log.module#DevLogModule"></lazy-component>
</ng-container>

<bma-main class="vn-bma"></bma-main>
