.show-all-button-competitions-results {
  background: #fff;
  height: 36px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  font-size: 11px;
  font-weight: 700;
  color: @color-blue-alt;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
