@import 'global.variables.less';

.spinner-loader {

  &.spinner-dark:before {
    border: 3px solid @red;
    border-bottom-color: transparent;
    box-shadow: none;
  }

  &.spinner-dark:after {
    display: none;
  }
}
