<div *ngIf="enabled" class="terms-and-conditions-container">
  <article class="container-content terms-links-container">
    <a class="terms-link arrowed-item"
       [i18n]="'ema.terms.retail'"
       *ngIf="shopBetHistory"
       [routerLink]="'/in-shop-bets'">
    </a>
    <a class="terms-link arrowed-item"
       [i18n]="'ema.terms.cashout'"
       [routerLink]="'/static/cashout-terms-conditions'">
    </a>
    <a class="terms-link arrowed-item"
       [i18n]="'ema.terms.ema'"
       [routerLink]="'/static/ema-terms-conditions'">
    </a>
  </article>
  <p class="info-container" [i18n]="'ema.terms.inPlayScoreInformation'"></p>
</div>
