@import 'global.variables.less';

@virtualMenuItemHeight: 35px;
@virtualMenuItemWidth: 55px;
@virtualIconSize: 17px;

.virtual-carousel-menu {
  color: @color-white;
  background-color: @brand-color-dark;
}

.vc-item {
  text-align: center;
  background: @brand-color-dark;
  text-decoration: none;
  height: @virtualMenuItemHeight;
  width: @virtualMenuItemWidth;
  position: relative;
  color: @color-white;
  .display-flex();
  .align-items(center);
  .justify-content(center);

  &.active {
    background-color: @brand-color-main;
    border-bottom: 2px solid @color-red;
  }

  &:hover {
    text-decoration: none;
  }

  .vс-icon {
    fill: @color-white;
    height: @virtualIconSize;
    width: @virtualIconSize;
    .display-flex();

    .vс-svg {
      width: 100%;
      height: 100%;
    }
  }
}

.vc-timer,
.vc-live {
  font-size: @font-size-xs;
  line-height: 1;
  text-align: right;
  display: block;
  position: relative;
  color: @lGray;
  font-weight: normal;
}
.vc-live {
  text-transform: uppercase;
  width: auto;
  margin: 0;
  background: transparent;
}
