<top-bar [title]="'lotto.lotto'" [iconId]="svgId" [iconSvg]="svg" data-crlat="topBar"></top-bar>
<breadcrumbs></breadcrumbs>
<div class="banner-block" data-crlat="bannerBlock">
  <banners-section [page]="'lotto'"></banners-section>
</div>

<ng-container *ngIf="!state.loading && !state.error">
  <carousel-menu
    [menuItems]="menuItems"
    id="lotto-menu"
    [activeMenuItem]="activeUrl"
    [isTopScroll]="true">
  </carousel-menu>
  <ng-info-panel [message]="lottoMessage.msg" [type]="lottoMessage.type"></ng-info-panel>
  <div id="lotto" data-crlat="tabContent">
    <router-outlet></router-outlet>
    <quick-links class="quick-links-container"></quick-links>
  </div>
</ng-container>

<outlet-status [state]="state">
  <request-error (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
