@import 'global.variables.less';

:host {
  padding: 4px;
  display: block;
}

.odds-card {
  .odds-time {
    font-size: @font-size-md;
    font-family: @alt-font-family;
  }

  .odds-content .odds-names {
    font-family: @alt-font-family;
  }

  .odds-select {
    font-family: @alt-font-family;
    font-size: @font-size-lg;
  }
}

.league-container {
  margin: 8px 0;
  box-shadow: 0 -1px 0 0 @lGrayDark, 0 1px 0 0 @lGrayDark, 0 -1px 2px 0px rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0, 0.15);
}

.league-header {
  background-color: @lGrayLight;
  font-size: @font-size-tablet;
  color: @lGray;
}

.odds-card-header {
  background-color: @color-white;
}

.coupon-container {
  overflow: initial;
}

::ng-deep {
  .odds-card {
    box-shadow: none;
  }
}
