<div class="footer-wrapper">
  <footer id="footer" *ngIf="showFooter">

    <!-- Footer Menu-->
    <footer-menu class="footer-menu" [ngClass]="{'hide': !showFooterMenu, 'hidden': !footerMenuVisible}"></footer-menu>

    <!-- data-crlat="footerNotification" used for SSR -->
    <div class="footer-notification" [ngClass]="{'hide': !showFooterMenu, 'hidden': !footerMenuVisible}">
      <acca-notification *ngIf="isMobile"></acca-notification>
    </div>
  </footer>
</div>
