<static-block class="quick-links-title"
              *ngIf="quickLinks.length"
              [service]="'quick-links'">
</static-block>

<div class="quick-links-area">
  <a *ngFor="let quickLink of quickLinks; trackBy: trackByQuickLink"
     [attr.title]="quickLink.title"
     [routerLink]="quickLink.target"
     [routerLinkActive]="['active']">
    <span [textContent]="quickLink.title"></span>
  </a>
</div>
