@import 'global.variables.less';

:host.quick-links-container {
  background: @color-white;
  display: block;
  width: 100%;
  margin-bottom: @componets-edge-gap;
  margin-top: 5px;
  .quick-links-title {
    color: @color-gray-dark;
    text-align: center;
    display: block;
    padding: 25px 10px 22px;
    font-weight: bold;
    ::ng-deep p {
      font-size: 11px;
      margin: 0;
    }
  }
}

.quick-links-area {
  .display-flex();
  .flex-flow(row, wrap);
  .align-items(center);
  .justify-content(flex-start);

  padding: 0 5px;
  a {
    .display-flex();
    .align-items();
    .justify-content();
    font-weight: bold;
    font-size: 11px;
    max-width: ~"calc((100% - 71px) / 7)";
    min-width: ~"calc((100% - 71px) / 7)";
    height: 40px;
    background: @color-gray-light;
    padding: 10px;
    color: @color-gray-dark;
    margin: 0 5px 10px;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: (@md-point - 1px)) {
      max-width: ~"calc((100% - 50px) / 5)";
      min-width: ~"calc((100% - 50px) / 5)";
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background: @color-gray-light-two;
    }
    &.active {
      pointer-events: none;
    }
  }
}
