@import "global.variables.less";

.timeline-post {
  position: relative;
  width: 100%;

  border-bottom: 1px solid @lGrayLight;
  background-color: @color-white;
  padding: 12px 16px;
  &.first {
    border-radius: 11px 11px 0 0;
  }
  &.header-icon {
    padding-left: 40px;
  }
  &.red-line {
    background-color: @color-gray-alabaster;
    border-left: 2px solid @red;
  }
  &-time {
    font-family: @alt-font-family;
    font-size: @font-size-sm;
    letter-spacing: 0px;
    color: @lBlack-light;
    margin-bottom: 4px;
  }
  &-header {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
  }
  &-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    background-size: 100%;
    right: calc(100% + 12px);
    top: 0;
  }
  &-watch{
    margin-right: .5rem;
    height: 15px;
    width:67px;
  }
  &-label {
   margin-right: .5rem;
   display: inline;
  }
  &-title {
    font-family: @base-font-family;
    font-size: @font-size-tablet;
    font-weight: bold;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    color: @color-black;
    display: inline;
    margin-right: 8px;
  }
  &-racing-post {
    display: inline-flex;
    .align-items(center);
    .icon {
      height: 10px;
      width: 83px;
    }
    &::before {
      content: "";
      display: inline-block;
      height: 11px;
      width: 1px;
      background-color: @lGray;
      margin-right: 8px;
    }
  }
  &-verdict,
  &-spotlight {
    font-family: @base-font-family;
    font-size: @font-size-md;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.01px;
    color: @color-gray-darkest;
    text-transform: uppercase;
    margin-left: 4px;
  }
  &-subheader {
    font-family: @alt-font-family;
    font-size: @font-size;
    color: @color-black;
    margin: 1px 0;
  }
  &-title,
  &-label,
  &-subheader {
    &.yellow {
      color: @color-black;
      background-color: @color-yellow-alt;
      font-family: @base-font-family;
      padding: 0 4px;
      border-radius: @border-radius-sm;
      text-transform: uppercase;
      font-weight: bold;
      width: fit-content;
      font-size: @font-size-md;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
  .promo-img {
    .align-items(center);
    .inline-flex();
    padding: 0 10px;
    img {
      width: 46px;
    }
  }

  .redirect-arrow {
    .inline-flex();
    position: absolute;
    top: calc(50% - 5px);
    right: 12px;
    margin-left: 10px;
    width: 7px;
    height: 7px;
    border: solid @color-gray-darkest;
    border-width: 0 2px 2px 0;
    .transform(rotate(-45deg));
  }
}

:host .timeline-post-description ::ng-deep p ,
:host .timeline-post-description ::ng-deep pre {
      font-family: @alt-font-family;
      font-size: @font-size-md;
      font-style: normal;
      line-height: 1.18;
      color: @lBlack-light;
      margin: 0;
}

.bet-text {
  display: flex;
  align-items: center;
  color: @lBlack-light;
}

.price-odd-container {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  width: 100%;

  .btn-bet-na {
    &[disabled] {
      background-image: @bet-btn-bg-disabled;
      color: @color-gray-dark;
      border-color: @color-gray-darker;
    }
  }
}
