<div *ngIf="!hidden" class="sk-container" [ngClass]="{'sk-loading': !loadFailed && !loadComplete,
    'widget': isTablet, 'is-drawer-shown': overask.isOnTradersReview}">

  <loading-screen [displayed]="!loadFailed && !loadComplete || !userService.userFinishedLogin"
                  data-crlat="bsLoad"
                  [templateType]="'GENERIC_BET'"
                  [isUsedFromWidget]="isTablet"></loading-screen>

  <div *ngIf="loadComplete && !loadFailed && !hidden && userService.userFinishedLogin"
      class="bs-wrapper-block" [ngClass]="{'bs-overask-offers': overask.userHasChoice}">
    <div class="container bs-content full-height"
      [ngClass]="{'bs-content-quick-deposit-vanilla': showIFrame}"><div #scrollWrapper class="bs-selections-wrapper scrollable-content" id="bs-selections-wrapper"
          data-crlat="bsCont">
        <betslip-subheader *ngIf="!isNoSelections"
                          (clear)="cleanBetslip(true, true)">
        </betslip-subheader>

        <free-bets-notification *ngIf="freeBetAvailable && !hideAvailableFreeBetsMessage && !overask.hasTraderMadeDecision"
                                [isBetslip]="true"
                                (hide)="hideFreeBetNotification()"></free-bets-notification>

        <lazy-component *ngIf="!isNoSelections && isBoostEnabled"
                        token="DYNAMIC_ODDS_BOOST_BS_HEADER"
                        [hidden]="overask.userHasChoice"
                        [inputs]="{ boostDisabled: placeBetsPending }">
        </lazy-component>

        <bs-notification
          *ngIf="betslipMessage.msg"
          [bsIsClosable]="true"
          [bsType]="betslipMessage.type"
          [bsPosition]="'top'"
          [bsMessage]="betslipMessage.msg"
          data-crlat="bs.ntfErr">
        </bs-notification>

        <empty-betslip [showButton]="isMobile" *ngIf="isNoSelections && !hideEmptyBetslip"></empty-betslip>

        <over-ask-offer-notification *ngIf="overask.userHasChoice"
                                    [isTimerShown]="isOveraskCanBePlaced"></over-ask-offer-notification>

        <!-- Betslip singles -->
        <div class="stakes-wrapper" *ngIf="betSlipSingles?.length">

          <!-- All stakes -->
          <div class="bs-all-stakes"
              *ngIf="betSlipSingles?.length > 1"
              data-crlat="betslip.allStakesContainer">

            <div class="bs-stake">
              <div class="bs-stake-content" data-crlat="stakeContent">
                <div class="bs-stake-info">
                  <span class="all-stakes-title" data-crlat="label.allStakes">All single stakes</span>
                </div>
                <div class="bs-stake-body">
                  <form class="stake-input" data-crlat="stake.amountInputForm" novalidate>
                    <input id="allSingleStakes"
                          name="allSingleStakes"
                          placeholder="Stake"
                          autocomplete="off"[disabled]="overask.isInProcess"
                          [(ngModel)]="allStakes.value"
                          (ngModelChange)="setStakes()"
                          [isInit]="onDidigitKeyboardInit()"
                          [digit-keyboard-input]
                          [componentId]="'slide-out-betslip'"
                          [showDecimalPoint]="true"
                          [showQuickDepositButtons]="true"
                          [eventAction]="'betslip'"
                          [patternRestrict]="'^(\\d{0,12}(\\.\\d{0,2})?)?$'"
                          [patternToFixed]="true"
                          data-money-validate="true"
                          data-crlat="value"/>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="single-stakes-wrapper" data-crlat="singles">
            <div class="single-stake bs-stake"
                *ngFor="let betslipStake of betSlipSingles; trackBy: trackByIndex; let stakeIndex = index;"
                [class.suspended]="betslipStake.disabled"
               [class.bs-overask-bet-removed]="!betslipStake.isSelected && betslipStake.isOfferRemovable"
                [hidden]="overask.userHasChoice && !betslipStake.isTraderOffered && !betslipStake.isTraderDeclined && !betslipStake.isTraderAccepted"
                data-crlat="betslip.stake">

              <div class="bs-stake-notifications" *ngIf="!betslipStake.isSuspended">
                <bs-notification
                  *ngIf="betslipStake.handicapErrorMsg"
                  [bsPosition]="'bottom'"
                  [bsType]="'error'"
                  [bsMessage]="betslipStake.handicapErrorMsg">
                </bs-notification>

                <bs-notification
                  *ngIf="betslipStake.errorMsg"
                  [bsPosition]="'bottom'"
                  [bsType]="'error'"
                  [bsMessage]="betslipStake.errorMsg"
                  [bsNoScroll]="autoScrollOff(betslipStake.error)">
                </bs-notification>

                <bs-notification
                  *ngIf="!betslipStake.isFCTC && overask.isNotInProcess && getPriceChangeMessage(betslipStake) as message"
                  [bsPosition]="'bottom'"
                  [bsType]="'error'"
                  [bsNoScroll]="true"
                  [bsMessage]="message">
                </bs-notification>
              </div>

              <div *ngIf="!betslipStake.isTraderDeclined; else declinedBet"
                  class="bs-stake-content"data-crlat="stakeContent">
                  <div class="bs-stake-row">
                <div *ngIf="!(betslipStake.children && overask.userHasChoice)" class="bs-stake-actions">
                  <div class="bs-stake-delete-button"
                      *ngIf="!betslipStake.isOfferRemovable"
                      [ngClass]="{'button-disabled': overask.isInProcess}"
                      (click)="overask.isNotInProcess && removeFromBetslip(stakeIndex)"
                      data-crlat="stake.deleteButton">
                    <svg><use xlink:href="#close-icon"></use></svg>
                  </div>

                  <label *ngIf="betslipStake.isOfferRemovable && !isBetCheckboxDisabled()"
                        for="check-bet-{{stakeIndex}}"
                        class="bs-checkbox-wrapper">
                    <svg class="bs-overask-bet-remove-icon"><use xlink:href="#close-icon"></use></svg>
                    <input type="checkbox"
                          id="check-bet-{{stakeIndex}}"
                          [(ngModel)]="betslipStake.isSelected"
                          [ngModelOptions]="{standalone: true}"
                          [disabled]="isBetCheckboxDisabled()"
                          (ngModelChange)="removeFromOffer(betslipStake.id)"
                          data-crlat="selectStakeCheckbox"/>
                  </label>
                </div>

                <div class="bs-stake-info">
                  <span class="bs-stake-title"
                        (click)="openSelectionInfoDialog(betslipStake)"
                        data-uat="selectionName">
                    <span *ngIf="!betslipStake.isSelected && betslipStake.isOfferRemovable"
                          class="bs-overask-bet-removed-note"
                          [i18n]="'bs.overaskElements.removed'">
                    </span>

                    <span *ngIf="!betslipStake.isFCTC" [textContent]="betslipStake.outcomeName"></span>

                    <betslip-fctc-list *ngIf="betslipStake.isFCTC"
                                      [outcomes]="betslipStake.outcomes"
                                      [lines]="betslipStake.Bet.lines">
                    </betslip-fctc-list>
                  </span>

                  <span class="bs-stake-type"
                        data-uat="marketName"
                        [textContent]="betslipStake.isFCTC ? betslipStake.Bet.betComplexName : betslipStake.marketName">
                  </span>

                  <div class="bs-stake-event-name">
                    <span data-uat="eventName">
                    <span *ngIf="isRacingOrVirtual(betslipStake)" [textContent]="getEventTime(betslipStake)"></span>
                    <span [textContent]="betslipStake.eventName"></span>
                    </span>
                  </div>

                  <ng-container *ngIf="isFreebetButtonShown(betslipStake)">
                    <lazy-component
                      moduleUri="@freebetsModule/freebets.module#FreebetsModule"
                      [inputs]="{freeBets: betslipStake.availableFreeBets, selected: betslipStake.selectedFreeBet}"
                      [outputs]="['selectedChange']"
                      (event)="handleFreebetOutput($event, betslipStake)"
                      entryComponent="FreeBetToggleComponent">
                    </lazy-component>
                    <lazy-component
                      *ngIf="betslipStake.freeBetTooltipAvailable"
                      moduleUri="@freebetsModule/freebets.module#FreebetsModule"
                      entryComponent="FreeBetTooltipComponent">
                    </lazy-component>
                  </ng-container>


                </div>

                <div *ngIf="!betslipStake.isTraderOffered && !betslipStake.isTraderAccepted"
                    class="bs-stake-body">
                  <div class="bs-stake-body-row">
                    <div class="stake-odds">
                      <div class="stake-odd-container"
                        [class.no-odds-boost]="!betslipStake.Bet.oddsBoost && isBoostEnabled && isBoostActive">
                        <!-- Boost not available icon -->
                        <lazy-component *ngIf="!betslipStake.Bet.oddsBoost && isBoostEnabled && isBoostActive"
                                        token="DYNAMIC_ODDS_BOOST_INFO_ICON">
                        </lazy-component>

                        <ng-container *ngIf="!betslipStake.isFCTC">
                          <!-- Odds number - LP -->
                          <span class="stake-odd-number"
                                  *ngIf="!betslipStake.isSP && !betslipStake.isSPLP"
                                  [ngClass]="getStakeOddClass(betslipStake)"
                                  [textContent]="odds(betslipStake)"
                                  data-uat="odds"
                                  data-crlat="odds">
                          </span>

                          <!-- Odds number - SP -->
                          <span class="stake-odd-number"
                                  *ngIf="betslipStake.isSP || (betslipStake.isSPLP && !betslipStake.pricesAvailable)"
                                  [i18n]="'bs.SP'"
                                  data-uat="odds"
                                  data-crlat="odds">
                          </span>

                          <!-- Odds select - SP/LP -->
                          <lazy-component
                            *ngIf="betslipStake.isSPLP && betslipStake.pricesAvailable"
                            moduleUri="@freebetsModule/freebets.module#FreebetsModule"
                            [ngClass]="{'offered': betslipStake.traderChangedStake}"
                            [inputs]="{
                              options: getStakeOptions(betslipStake),
                              selectedValue: betslipStake.price.priceType,
                              disabled: betslipStake.disabled || overask.isInProcess,
                              mode: isStakeBoostAvailable(betslipStake) ? 'secondary' : 'default'
                            }"
                            [outputs]="['valueChange']"
                            (event)="setPriceType($event, stakeIndex)"
                            entryComponent="LpSpDropdownComponent">
                          </lazy-component>
                        </ng-container>
                      </div>

                      <!-- Boosted price for Single stake -->
                      <lazy-component *ngIf="isStakeBoostAvailable(betslipStake)"
                                      token="DYNAMIC_ODDS_BOOST_PRICE"
                                      [inputs]="{
                        oldPrice: getBoostedOldPrice(betslipStake, 'single'),
                        newPrice: getBoostedNewPrice(betslipStake, 'single')
                      }">
                      </lazy-component>
                    </div>

                    <div class="stake-field">
                      <form class="stake-input"
                            [ngClass]="{'offered': betslipStake.traderChangedStake}"
                            data-crlat="stake.amountInputForm"
                            novalidate>
                        <input id="singleStake-{{stakeIndex}}"
                              name="amount"
                              placeholder="Stake"
                              autocomplete="off"(click)="setFocusIndex(betslipStake.isFCTC ? 'tri-four' : 'singles')"
                              [disabled]="betslipStake.disabled || overask.isInProcess"
                              [(ngModel)]="betslipStake.stake.perLine"
                              (ngModelChange)="setAmount(betslipStake, betslipStake.stake.perLine)"
                              [digit-keyboard-input]
                              [componentId]="'slide-out-betslip'"
                              [showDecimalPoint]="true"
                              [showQuickDepositButtons]="true"
                              [eventAction]="'betslip'"
                              [patternRestrict]="'^(\\d{0,12}(\\.\\d{0,2})?)?$'"
                              [patternToFixed]="true"
                              data-crlat="value"/>
                      </form>
                    </div>
                  </div>

                  <free-bet-label *ngIf="isFreebetButtonShown(betslipStake) && betslipStake.selectedFreeBet"
                                  [selected]="betslipStake.selectedFreeBet.freeBetValue"
                                  [margin]="true">
                  </free-bet-label>

                  <div  class="estimated-returns-ew">
                    <ng-container *ngIf="!betslipStake.isFCTC">
                      <span class="stake-est-return">
                      <span [i18n]="'bs.estimatedResults'" data-crlat="estReturn.label"></span>
                      <span class="stake-est-return-number"
                            [ngClass]="{'offered': betslipStake.traderChangedStake || betslipStake.traderChangedOdds}"
                            [textContent]="calculateEstReturns(stakeIndex)"
                            data-crlat="estReturn">
                      </span>
                    </span>

                      <div class="bs-stake-each-way" *ngIf="!!betslipStake.isEachWayAvailable">
                        <form name="eachWayForm"
                              [ngClass]="{'offered' : betslipStake.traderChangedLegType}"
                              novalidate
                              data-crlat="eachWayForm">
                          <input data-uat="eachWay" [id]="getStakeId('winOrEach', stakeIndex)"
                                [name]="getStakeId('winOrEach', stakeIndex)"
                                type="checkbox"
                                [checked]="betslipStake.Bet.isEachWay"
                                [disabled]="betslipStake.disabled || overask.isInProcess"
                                (click)="winOrEachWay(betslipStake, $event)"/>
                          <label [for]="getStakeId('winOrEach', stakeIndex)" [i18n]="'bs.EWE'"
                                data-crlat="label.eachWay"></label>
                        </form>
                      </div>
                    </ng-container>

                    <span *ngIf="betslipStake.isFCTC" class="stake-est-return">
                      <span [i18n]="'bs.estimatedResults'" data-crlat="estReturn.label"></span>
                      <span class="stake-est-return-number"
                            [textContent]="calculateEstReturns(stakeIndex)"
                            data-crlat="estReturn">
                      </span>
                    </span>
                  </div>
                </div>

                <betslip-offered-data *ngIf="betslipStake.isTraderOffered || betslipStake.isTraderAccepted"
                                      [price]="odds(betslipStake)"
                                      [oldPrice]="betslipStake.oldLegs"
                                      [isSp]="betslipStake.isSP || (betslipStake.isSPLP && !betslipStake.pricesAvailable)"
                                      [eachWay]="betslipStake.Bet.isEachWay"
                                      [isTraderChangedLegType]="betslipStake.traderChangedLegType"
                                      [currencySymbol]="currencySymbol"
                                      [isStakeChanged]="betslipStake.traderChangedStake"
                                      [isOddsChanged]="betslipStake.traderChangedOdds"
                                      [isOddsTypeChanged]="betslipStake.traderChangedPriceType"
                                      [stake]="betslipStake.stake.perLine">
                </betslip-offered-data>

                <a *ngIf="!betslipStake.isSelected && betslipStake.isOfferRemovable"
                  class="bs-overaks-undo-btn" data-crlat="oUndoBtn"
                  [i18n]="'bs.overaskElements.undo'"
                  (click)="undoOveraskBetRemove(betslipStake)">
                </a>
              </div>

              <promo-labels class="promo-labels-row"
                  [cashoutValue]="betslipStake.isCashoutAvailable"
                  [event]="betslipStake.Bet?.legs[0]?.parts[0]?.outcome?.details"
                  [mode]="'betslip'"
                  [marketId]="betslipStake.marketId"
                  [exclude]="promoLabelsFlagsExcluded">
              </promo-labels>
              </div>

              <ng-template #declinedBet>
                <declined-bet data-crlat="declinedBet" [selectionName]="!betslipStake.isFCTC ? betslipStake.outcomeName : ''"
                              [fctcData]="betslipStake.isFCTC ? {outcomes: betslipStake.outcomes, lines: betslipStake.Bet.lines} : null"
                              [marketName]="betslipStake.isFCTC ? betslipStake.Bet.betComplexName : betslipStake.marketName"
                              [eventName]="(betslipStake.isRacingSport ? betslipStake.localTime + ' ' : '') + betslipStake.eventName">
                </declined-bet>
              </ng-template>
            </div>
          </div>
        </div>

        <!-- Multiples Header -->
        <div class="multiples-header" data-crlat="multiplesHeader" *ngIf="betSlipMultiples?.length > 0">
          <span data-crlat="bsHeadMsg" [i18n]="'bs.multiples'"></span>&nbsp;<span data-crlat="bsHeadCount" [textContent]="multiplesSectionCount"></span>
        </div>

        <!-- ACCA -->
        <div class="stakes-wrapper acca-bets" *ngIf="accaBets?.length" data-crlat="acca">
          <div *ngFor="let betslipStake of accaBets; trackBy: trackByIndex; let stakeIndex = index;">
            <div class="bs-stake"
                [class.suspended]="betslipStake.disabled && overask.userHasChoice"
                [class.bs-overask-bet-removed]="!betslipStake.isSelected && betslipStake.isOfferRemovable"
                [hidden]="overask.userHasChoice && !betslipStake.isTraderOffered && !betslipStake.isTraderDeclined && !betslipStake.isTraderAccepted"
                data-crlat="betslip.stake">

              <betslip-multiple-bet-parts *ngIf="betslipStake.oldLegs"
                                          [oldLegs]="betslipStake.oldLegs">
              </betslip-multiple-bet-parts>

              <div class="bs-stake-notifications">
                <!-- Errors -->
                <bs-notification
                  *ngIf="betslipStake.error"
                  [bsIsClosable]="true"
                  [bsPosition]="'bottom'"
                  [bsType]="'error'"
                  [bsMessage]="getErrorMsgLocale(betslipStake)">
                </bs-notification>

                <bs-notification
                  *ngIf="betslipStake.errorMsg"
                  [bsPosition]="'bottom'"
                  [bsType]="'error'"
                  [bsMessage]="betslipStake.errorMsg">
                </bs-notification>

                <bs-notification
                  *ngIf="betslipStake.Bet.errorMsg"
                  [bsIsClosable]="true"
                  [bsPosition]="'bottom'"
                  [bsType]="'error'"
                  [bsMessage]="betslipStake.Bet.errorMsg">
                </bs-notification>

                <div class="bs-notification bottom information"
                    [ngClass]="{'error': isSuccess(betslipStake.potentialPayout, betslipStake.Bet.betOffer.additionalLegsCount)}"
                    *ngIf='betslipStake.Bet.betOffer.offer && betslipStake.Bet.betOffer.isAccaValid'>
                  <static-block
                    *ngIf="betslipStake.Bet.betOffer.offer && betslipStake.Bet.betOffer.isAccaValid"
                    [service]="accaTemplate(betslipStake.potentialPayout, betslipStake.Bet.betOffer.additionalLegsCount)"
                    [params]="[betslipStake.Bet.betOffer.additionalLegsCount, betslipStake.Bet.betOffer.offer.freebetTriggerMaxBonus]"
                    [removeContainer]="true"
                    data-crlat="accaContainer">
                  </static-block>
                </div>
              </div>

              <div *ngIf="!betslipStake.isTraderDeclined; else declinedAcca"
                  class="bs-stake-content" data-crlat="stakeContent">
                <div class="bs-stake-row">
                  <div class="bs-stake-actions" *ngIf="betslipStake.isOfferRemovable && !isBetCheckboxDisabled()">
                    <label for="getStakeId('check-acca-bet', stakeIndex)"
                          class="bs-checkbox-wrapper"
                          data-crlat="selectStakeCheckbox">
                      <svg class="bs-overask-bet-remove-icon"><use xlink:href="#close-icon"></use></svg>
                      <input type="checkbox"
                            id="getStakeId('check-acca-bet', stakeIndex)"
                            [(ngModel)]="betslipStake.isSelected"
                            [ngModelOptions]="{standalone: true}"
                            [disabled]="isBetCheckboxDisabled()"
                            (ngModelChange)="removeFromOffer(betslipStake.id)"
                            data-crlat="selectStakeCheckbox"/>
                    </label>
                  </div>
                  <div class="bs-stake-info">
                    <span class="bs-stake-title"
                          (click)="openSelectionMultiplesDialog(stakeIndex, true)">
                      <span *ngIf="!betslipStake.isSelected && betslipStake.isOfferRemovable"
                            class="bs-overask-bet-removed-note"
                            [i18n]="'bs.overaskElements.removed'">
                      </span>
                      <span [textContent]="getAccatype(betslipStake)" data-uat="selectionName"></span>
                      <span class="bs-stake-title-lines" data-crlat="stakeMultiplier"
                          *ngIf="betslipStake?.stakeMultiplier"
                          [textContent]="' (x' + betslipStake?.stakeMultiplier + ')'">
                      </span>
                    </span>

                    <div class="bs-stake-subtitle">
                      <span class="bs-stake-type" data-uat="marketName" [i18n]="'bs.ACC_info'"></span>
                      <i class="bs-stake-info-button" data-crlat="stakeInfoButton"
                          *ngIf="!showMultipleRemoveLink(betslipStake) && !betslipStake.isOfferRemovable"
                          (click)="openSelectionMultiplesDialog(stakeIndex, true)">
                        <svg class="info-button">
                          <use xlink:href="#icn_info-icon-bg"></use>
                        </svg>
                      </i>
                    </div>

                    <ng-container *ngIf="isFreebetButtonShown(betslipStake)">
                      <lazy-component
                        moduleUri="@freebetsModule/freebets.module#FreebetsModule"
                        [inputs]="{freeBets: betslipStake.availableFreeBets, selected: betslipStake.selectedFreeBet}"
                        [outputs]="['selectedChange']"
                        (event)="handleFreebetOutput($event, betslipStake)"
                        entryComponent="FreeBetToggleComponent">
                      </lazy-component>
                      <lazy-component
                        *ngIf="betslipStake.freeBetTooltipAvailable"
                        moduleUri="@freebetsModule/freebets.module#FreebetsModule"
                        entryComponent="FreeBetTooltipComponent">
                      </lazy-component>
                    </ng-container>
                  </div>

                  <div *ngIf="!betslipStake.isTraderOffered && !betslipStake.isTraderAccepted"
                      class="bs-stake-body">
                    <div class="bs-stake-body-row">
                      <div class="stake-odds">
                        <div class="stake-odd-container">
                          <!-- Acca odds -->
                          <span *ngIf="!betslipStake.isSP && !betslipStake.isSPLP && betslipStake.stakeMultiplier === 1 && oddsACCA(betslipStake)"
                                  class="stake-odd-number"
                                  [class.boosted]="isStakeBoostAvailable(betslipStake)"
                                  [textContent]="oddsACCA(betslipStake)"
                                  data-uat="odds"
                                  data-crlat="odds">
                          </span>

                          <ng-container
                            *ngIf="betslipStake.isSP || (betslipStake.isSPLP && !betslipStake.pricesAvailable) && betslipStake.stakeMultiplier === 1">
                            <!-- Boost not available icon -->
                            <lazy-component *ngIf="!betslipStake.Bet.oddsBoost && isBoostEnabled && isBoostActive"
                                            token="DYNAMIC_ODDS_BOOST_INFO_ICON">
                            </lazy-component>
                            <span class="stake-odd-number" data-crlat="odds">N/A </span>
                          </ng-container>
                        </div>

                        <!-- Boosted price for ACCA stake -->
                        <lazy-component *ngIf="isStakeBoostAvailable(betslipStake)"
                                        token="DYNAMIC_ODDS_BOOST_PRICE"
                                        [inputs]="{
                            oldPrice: getBoostedOldPrice(betslipStake, 'acca'),
                            newPrice: getBoostedNewPrice(betslipStake, 'acca')
                          }">
                        </lazy-component>
                      </div>

                      <div class="stake-field">
                        <form class="stake-input"
                              [ngClass]="{'offered': betslipStake.traderChangedStake}"
                              data-crlat="stake.amountInputForm"
                              novalidate>
                          <input [attr.id]="getStakeId('accaMultipleStake', stakeIndex)"
                                name="amountMultiple"
                                placeholder="Stake"
                                autocomplete="off"(click)="setFocusIndex('multiples')"
                                [disabled]="betslipStake.disabled || overask.isInProcess"
                                [(ngModel)]="betslipStake.stake.perLine"
                                (ngModelChange)="setAmount(betslipStake, betslipStake.stake.perLine)"
                                [digit-keyboard-input]
                                [componentId]="'slide-out-betslip'"
                                [showDecimalPoint]="true"
                                [showQuickDepositButtons]="true"
                                [eventAction]="'betslip'"
                                [patternRestrict]="'^(\\d{0,12}(\\.\\d{0,2})?)?$'"
                                [patternToFixed]="true"
                                data-money-validate="true"
                                data-crlat="value"/>
                        </form>
                      </div>
                    </div>
                    <free-bet-label *ngIf="isFreebetButtonShown(betslipStake) && betslipStake.selectedFreeBet"
                                    [selected]="betslipStake.selectedFreeBet.freeBetValue"
                                    [margin]="true">
                    </free-bet-label>
                    <div class="estimated-returns-ew">
                      <span class="stake-est-return">
                            <span [i18n]="'bs.estimatedResults'" data-crlat="estReturn.label"></span>
                            <span class="stake-est-return-number"
                                  [ngClass]="{'offered': betslipStake.traderChangedStake || betslipStake.traderChangedOdds}"
                                  [textContent]="calculateEstReturnsMultiples(stakeIndex, accaBets)"
                                  data-crlat="estReturn">
                            </span>
                      </span>
                      <div class="bs-stake-each-way" *ngIf="isMultiplesEachWay()">
                        <form name="eachWayForm"
                              [ngClass]="{'offered' : betslipStake.traderChangedLegType}" novalidate
                              data-crlat="eachWayForm">
                          <input data-uat="eachWay" [id]="getStakeId('winOrEachMult', stakeIndex)"
                                [name]="getStakeId('winOrEachMult', stakeIndex)"
                                type="checkbox"
                                [checked]="betslipStake.Bet.isEachWay"
                                [disabled]="betslipStake.disabled || overask.isInProcess"
                                (click)="winOrEachWay(betslipStake, $event)"/>
                          <label [for]="getStakeId('winOrEachMult', stakeIndex)" [i18n]="'bs.EWE'"
                                data-crlat="label.eachWay"></label>
                        </form>
                      </div>
                    </div>
                  </div>

                  <betslip-offered-data *ngIf="betslipStake.isTraderOffered || betslipStake.isTraderAccepted"
                                        [currencySymbol]="currencySymbol"
                                        [returns]="calculateEstReturnsMultiples(stakeIndex, accaBets)"
                                        [isStakeChanged]="betslipStake.traderChangedStake"
                                        [eachWay]="betslipStake.Bet.isEachWay"
                                        [isTraderChangedLegType]="betslipStake.traderChangedLegType"
                                        [stake]="betslipStake.stake.perLine">
                  </betslip-offered-data>

                  <a *ngIf="!betslipStake.isSelected && betslipStake.isOfferRemovable"
                    class="bs-overaks-undo-btn" data-crlat="oUndoBtn"
                    [i18n]="'bs.overaskElements.undo'"
                    (click)="undoOveraskBetRemove(betslipStake)">
                  </a>
                </div>
              </div>

              <ng-template #declinedAcca>
                <declined-bet data-crlat="declinedBet" [selectionName]="getAccatype(betslipStake)"
                              [stakeMultiplier]="betslipStake.stakeMultiplier ? ' (x' + betslipStake.stakeMultiplier + ')' : ''"
                              [marketName]="betslipStake.typeInfo ? betslipStake.typeInfo : ''">
                </declined-bet>
              </ng-template>
            </div>
          </div>
        </div>

        <!-- Betslip multiples -->
        <div class="stakes-wrapper" *ngIf="betSlipMultiples?.length" data-crlat="multiples">
          <div *ngFor="let multipleBetslipStake of notAccaBets; trackBy: trackByIndex; let stakeIndex = index;"
              class="bs-stake"
              [class.suspended]="multipleBetslipStake.disabled && overask.userHasChoice"
              [class.bs-overask-bet-removed]="!multipleBetslipStake.isSelected && multipleBetslipStake.isOfferRemovable"
              [hidden]="overask.userHasChoice && !multipleBetslipStake.isTraderOffered && !multipleBetslipStake.isTraderDeclined && !multipleBetslipStake.isTraderAccepted"
              data-crlat="betslip.stake">

            <betslip-multiple-bet-parts *ngIf="multipleBetslipStake.oldLegs"
                                        [oldLegs]="multipleBetslipStake.oldLegs">
            </betslip-multiple-bet-parts>

            <div class="bs-stake-notifications">
              <!-- Errors -->
              <bs-notification
                *ngIf="multipleBetslipStake.error"
                [bsIsClosable]="true"
                [bsPosition]="'bottom'"
                [bsType]="'error'"
                [bsMessage]="getErrorMsgLocale(multipleBetslipStake)">
              </bs-notification>

              <bs-notification
                *ngIf="multipleBetslipStake.errorMsg"
                [bsPosition]="'bottom'"
                [bsType]="'error'"
                [bsMessage]="multipleBetslipStake.errorMsg">
              </bs-notification>

              <bs-notification
                *ngIf="multipleBetslipStake.Bet.errorMsg"
                [bsPosition]="'bottom'"
                [bsType]="'error'"
                [bsMessage]="multipleBetslipStake.Bet.errorMsg">
              </bs-notification>

              <div class="bs-notification bottom information"
                  [ngClass]="{'error': isSuccess(multipleBetslipStake.potentialPayout, multipleBetslipStake.Bet.betOffer.additionalLegsCount)}"
                  *ngIf="multipleBetslipStake.Bet.betOffer.offer && multipleBetslipStake.Bet.betOffer.isAccaValid">
                <static-block
                  *ngIf="multipleBetslipStake.Bet.betOffer.offer && multipleBetslipStake.Bet.betOffer.isAccaValid"
                  [service]="accaTemplate(multipleBetslipStake.potentialPayout, multipleBetslipStake.Bet.betOffer.additionalLegsCount)"
                  [params]="[multipleBetslipStake.Bet.betOffer.additionalLegsCount, multipleBetslipStake.Bet.betOffer.offer.freebetTriggerMaxBonus]"
                  [removeContainer]="true"
                  data-crlat="accaContainer">
                </static-block>
              </div>
            </div>

            <div *ngIf="!multipleBetslipStake.isTraderDeclined; else declinedMultiple"
                class="bs-stake-content"

                data-crlat="stakeContent">

              <div class="bs-stake-actions" *ngIf="multipleBetslipStake.isOfferRemovable && !isBetCheckboxDisabled()">
                <label for="getStakeId('check-multiple-bet', stakeIndex)"
                      class="bs-checkbox-wrapper"
                      data-crlat="selectStakeCheckbox">
                  <svg class="bs-overask-bet-remove-icon"><use xlink:href="#close-icon"></use></svg>
                  <input type="checkbox"
                        id="getStakeId('check-multiple-bet', stakeIndex)"
                        [(ngModel)]="multipleBetslipStake.isSelected"
                        [ngModelOptions]="{standalone: true}"
                        [disabled]="isBetCheckboxDisabled()"
                        (ngModelChange)="removeFromOffer(multipleBetslipStake.id)"
                        data-crlat="selectStakeCheckbox"/>
                </label>
              </div>

              <div class="bs-stake-info">
                <span class="bs-stake-title"
                      (click)="openSelectionMultiplesDialog(stakeIndex)">

                  <span *ngIf="!multipleBetslipStake.isSelected && multipleBetslipStake.isOfferRemovable"
                      class="bs-overask-bet-removed-note"
                      [i18n]="'bs.overaskElements.removed'">
                  </span>

                  <span [textContent]="getTypeLocale(multipleBetslipStake)" data-uat="selectionName"></span>
                  <span class="bs-stake-title-lines" data-crlat="stakeMultiplier"
                        *ngIf="multipleBetslipStake?.stakeMultiplier && !SSDSType(multipleBetslipStake.type)"
                        [textContent]="' (x' + multipleBetslipStake?.stakeMultiplier + ')'">
                  </span>
                </span>

                <div class="bs-stake-subtitle">
                  <span *ngIf="multipleBetslipStake.typeInfo"  class="bs-stake-type" data-uat="marketName"
                    [textContent]="multipleBetslipStake.typeInfo"></span>
                  <i *ngIf="!showMultipleRemoveLink(multipleBetslipStake) && !multipleBetslipStake.isOfferRemovable && SSDSType(multipleBetslipStake.type)"
                      class="bs-stake-info-button" data-crlat="stakeInfoButton" (click)="openSelectionMultiplesDialog(stakeIndex)">
                    <svg class="info-button">
                      <use xlink:href="#icn_info-icon-bg"></use>
                    </svg>
                  </i>
                </div>

                <ng-container *ngIf="isFreebetButtonShown(multipleBetslipStake)">
                  <lazy-component
                    moduleUri="@freebetsModule/freebets.module#FreebetsModule"
                    [inputs]="{freeBets: multipleBetslipStake.availableFreeBets, selected: multipleBetslipStake.selectedFreeBet}"
                    [outputs]="['selectedChange']"
                    (event)="handleFreebetOutput($event, multipleBetslipStake)"
                    entryComponent="FreeBetToggleComponent">
                  </lazy-component>
                  <lazy-component
                    *ngIf="multipleBetslipStake.freeBetTooltipAvailable"
                    moduleUri="@freebetsModule/freebets.module#FreebetsModule"
                    entryComponent="FreeBetTooltipComponent">
                  </lazy-component>
                </ng-container>
              </div>

              <div class="bs-stake-body"
                  *ngIf="!multipleBetslipStake.isTraderOffered && !multipleBetslipStake.isTraderAccepted">
                <div class="bs-stake-body-row">
                  <div class="stake-odds">
                    <div class="stake-odd-container">
                      <!-- Multiple stake odds  -->
                      <span class="stake-odd-number"
                              *ngIf="!multipleBetslipStake.isSP && !multipleBetslipStake.isSPLP && (multipleBetslipStake.stakeMultiplier === 1) && oddsACCA(multipleBetslipStake)"
                              [class.boosted]="isStakeBoostAvailable(multipleBetslipStake)"
                              [textContent]="oddsACCA(multipleBetslipStake)"
                              data-uat="odds"
                              data-crlat="odds">
                      </span>

                      <ng-container
                        *ngIf="(multipleBetslipStake.isSP || (multipleBetslipStake.isSPLP && !multipleBetslipStake.pricesAvailable)) && multipleBetslipStake.stakeMultiplier === 1">
                        <!-- Boost not available icon -->
                        <lazy-component *ngIf="!multipleBetslipStake.Bet.oddsBoost && isBoostEnabled && isBoostActive"
                                        token="DYNAMIC_ODDS_BOOST_INFO_ICON">
                        </lazy-component>
                        <span class="stake-odd-number" data-uat="odds" data-crlat="odds">N/A</span>
                      </ng-container>
                    </div>

                    <!-- Boosted price for Multiple stake -->
                    <lazy-component *ngIf="isStakeBoostAvailable(multipleBetslipStake)"
                                    token="DYNAMIC_ODDS_BOOST_PRICE"
                                    [inputs]="{
                        oldPrice: getBoostedOldPrice(multipleBetslipStake, 'multiple'),
                        newPrice: getBoostedNewPrice(multipleBetslipStake, 'multiple')
                      }">
                    </lazy-component>
                  </div>

                  <div class="stake-field">
                    <form class="stake-input"
                          [ngClass]="{'offered': multipleBetslipStake.traderChangedStake}"
                          data-crlat="stake.amountInputForm"
                          novalidate>
                      <input [id]="getStakeId('accaMultipleStake', stakeIndex)"
                            name="amountMultiple"
                            placeholder="Stake"
                            autocomplete="off"(click)="setFocusIndex('multiples')"
                            [disabled]="multipleBetslipStake.disabled || overask.isInProcess"
                            [(ngModel)]="multipleBetslipStake.stake.perLine"
                            (ngModelChange)="setAmount(multipleBetslipStake, multipleBetslipStake.stake.perLine)"
                            [digit-keyboard-input]
                            [componentId]="'slide-out-betslip'"
                            [showDecimalPoint]="true"
                            [showQuickDepositButtons]="true"
                            [eventAction]="'betslip'"
                            [patternRestrict]="'^(\\d{0,12}(\\.\\d{0,2})?)?$'"
                            [patternToFixed]="true"
                            data-money-validate="true"
                            data-crlat="value"/>
                    </form>
                  </div>
                </div><free-bet-label *ngIf="isFreebetButtonShown(multipleBetslipStake) && multipleBetslipStake.selectedFreeBet"
                              [selected]="multipleBetslipStake.selectedFreeBet.freeBetValue"
                              [margin]="true">
              </free-bet-label>
                <div class="estimated-returns-ew">
                  <span class="stake-est-return">
                    <span [i18n]="'bs.estimatedResults'" data-crlat="estReturn.label"></span>
                    <span class="stake-est-return-number"
                          [ngClass]="{'offered': multipleBetslipStake.traderChangedStake || multipleBetslipStake.traderChangedOdds}"
                          [textContent]="calculateEstReturnsMultiples(stakeIndex, notAccaBets)"
                          data-crlat="estReturn">
                    </span>
                  </span>

                  <div class="bs-stake-each-way" *ngIf="isMultiplesEachWay()">
                    <form name="eachWayForm"
                          [ngClass]="{'offered' : multipleBetslipStake.traderChangedLegType}"
                          novalidate data-crlat="eachWayForm">
                      <input data-uat="eachWay" [id]="getStakeId('winOrEachMultiple', stakeIndex)"
                            [name]="getStakeId('winOrEachMultiple', stakeIndex)"
                            type="checkbox"
                            [checked]="multipleBetslipStake.Bet.isEachWay"
                            [disabled]="multipleBetslipStake.disabled || overask.isInProcess"
                            (click)="winOrEachWay(multipleBetslipStake, $event)"/>
                      <label [for]="getStakeId('winOrEachMultiple', stakeIndex)"
                            [i18n]="'bs.EWE'"
                            data-crlat="label.eachWay">
                      </label>
                    </form>
                  </div>
                </div>
              </div>

              <betslip-offered-data *ngIf="multipleBetslipStake.isTraderOffered || multipleBetslipStake.isTraderAccepted"
                                    [currencySymbol]="currencySymbol"
                                    [returns]="calculateEstReturnsMultiples(stakeIndex, notAccaBets)"
                                    [isStakeChanged]="multipleBetslipStake.traderChangedStake"
                                    [eachWay]="multipleBetslipStake.Bet.isEachWay"
                                    [isTraderChangedLegType]="multipleBetslipStake.traderChangedLegType"
                                    [stake]="multipleBetslipStake.stake.perLine">
              </betslip-offered-data>

              <a *ngIf="!multipleBetslipStake.isSelected && multipleBetslipStake.isOfferRemovable"
                class="bs-overaks-undo-btn" data-crlat="oUndoBtn"
                [i18n]="'bs.overaskElements.undo'"
                (click)="undoOveraskBetRemove(multipleBetslipStake)">
              </a>
            </div>

            <ng-template #declinedMultiple>
              <declined-bet data-crlat="declinedBet" [selectionName]="getTypeLocale(multipleBetslipStake)"
                            [stakeMultiplier]="multipleBetslipStake.stakeMultiplier > 1 && !SSDSType(multipleBetslipStake.type) ? ' (x' + multipleBetslipStake.stakeMultiplier + ')' : ''"
                            [marketName]="multipleBetslipStake.typeInfo ? multipleBetslipStake.typeInfo : ''">
              </declined-bet>
            </ng-template>
          </div>
        </div>

        <!-- Betslip Totes -->
        <div class="stakes-wrapper bs-tote-container" *ngIf="areToteBetsInBetslip()" data-crlat="singles">
          <div class="single-stake bs-stake" data-crlat="betslip.stake" [class.suspended]="toteBetSuspendedError">
            <div class="bs-stake-notifications">
              <bs-notification *ngIf="toteError"
                [bsPosition]="'bottom'"
                [bsType]="'error'"
                [bsMessage]="toteError"
                [bsNoScroll]="true">
              </bs-notification>
            </div>

            <div class="bs-stake-content" data-crlat="stakeContent">

              <div class="bs-stake-actions">
                <div class="bs-stake-delete-button"
                    (click)="removeToteBet()"
                    data-crlat="stake.deleteButton">
                  <svg>
                    <use xlink:href="#close-icon"></use>
                  </svg>
                </div>
              </div>

              <div class="bs-stake-info">
                <span class="bs-stake-title" [textContent]="toteBetSlip.poolName" data-uat="selectionName"></span>
                <span class="bs-stake-type" [textContent]="toteBetSlip.betTitle" data-uat="marketName"></span>

                <div *ngIf="!toteBetSlip.isPotBet" data-crlat="toteBetOutcomes">
                  <div *ngFor="let item of toteBetSlip.orderedOutcomes; trackBy: trackByIndex; let outcomeIndex = index;"
                      class="non-multiplelegs-outcomes" data-crlat="stake.outcome">
                    <span *ngIf="toteBetSlip.toteBet.toteBetDetails.showOrderPosition"
                          class="stake-type runner-number" [textContent]="outcomeIndex + 1"
                          data-crlat="outcome.number"></span>
                    <span *ngIf="!toteBetSlip.toteBet.toteBetDetails.showOrderPosition && item.runnerNumber !== '0'"
                          class="stake-type runner-number" [textContent]="item.runnerNumber"
                          data-crlat="outcome.number"></span>
                    <span>&nbsp;</span>
                    <span class="stake-type"
                          [textContent]="item.name"
                          data-crlat="outcome.name">
                    </span>
                  </div>
                  <div class="tote-race-details">
                    <span class="stake-description" [textContent]="toteBetSlip.eventTitle" data-uat="eventName"></span>
                    <div class="stake-description race-date" [i18n]="toteBetSlip.correctedDay" data-crlat="eventDate"></div>
                  </div>
                </div>
                <div *ngIf="toteBetSlip.isPotBet" class="multiple-legs-pool"
                    data-crlat="toteBetSlip.multipleLegs">
                  <div *ngFor="let leg of toteBetSlip.orderedLegs; trackBy: trackByIndex"
                      class="leg-item" data-crlat="toteBetSlip.leg">
                    <div class="leg-item-title"
                        [textContent]="toteBetSlip.getLegTitle(leg)"></div>
                    <div class="outcome-item" *ngFor="let outcome of leg.outcomes">
                      <div class="outcome-item-title"
                          [textContent]="toteBetSlip.getSelectionName(outcome)"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bs-stake-body">
                <div class="bs-stake-body-row">
                  <div class="stake-odds"></div>
                  <div class="stake-field">
                    <form class="stake-input tote-stake"
                          [showCurrency]="{ currency: toteBetSlip.poolCurrencySymbol,
                                            value: toteBetSlip.toteBet.poolBet.stakePerLine,
                                            limit: 8 }"
                          data-crlat="stake.amountInputForm"
                          novalidate>
                      <label class="currency-label"
                            [attr.data-currency]="toteBetSlip.poolCurrencySymbol"
                            [textContent]="+toteBetSlip.toteBet.poolBet.stakePerLine ? '$ ' + toteBetSlip.toteBet.poolBet.stakePerLine : ''">
                      </label>
                      <input id="toteBet"
                            name="amount"
                            [disabled]="toteBetSuspendedError"
                            placeholder="Stake"
                            [(ngModel)]="toteBetSlip.toteBet.poolBet.stakePerLine"
                            (ngModelChange)="toteBetSlip.setStakePerLine()"
                            [digit-keyboard-input]
                            [componentId]="'slide-out-betslip'"
                            [showDecimalPoint]="true"
                            [showQuickDepositButtons]="true"
                            [eventAction]="'betslip'"
                            [patternRestrict]="'^(\\d{0,12}(\\.\\d{0,2})?)?$'"
                            [patternToFixed]="true"
                            [attr.data-currency-length]="toteBetSlip.poolCurrencySymbol.length"
                            autocomplete="off"
                            data-money-validate="true"
                            data-crlat="value"/>
                    </form>
                  </div>
                </div>
                <div class="estimated-returns-ew">
                  <div *ngIf="areToteBetsInBetslip()">
                    <span class="stake-est-return">
                      <span [i18n]="'bs.estimatedResults'" data-crlat="estReturn.label"></span>
                      <span class="stake-est-return-number"
                            [textContent]="'N/A'"
                            data-crlat="estReturn">
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="bs-scrolling-fix-ios bs-footer-anchoring"
          *ngIf="betSlipSingles?.length > 0 || areToteBetsInBetslip()">

        <div *ngIf="showPriceChangeNotification()" class="bs-notification bottom warning"
             data-crlat="bs.ntfErr">
          <span [textContent]="priceChangeBannerMsg"></span>
        </div>

        <div *ngIf="!hasErrors() && !!placeStakeErr" class="bs-notification bottom warning">
          <span [textContent]="placeStakeErr"></span>
        </div>

        <div class="scrollable-content prevented-container" data-crlat="bsFoot">
          <div [hidden]="showIFrame">
            <div class="bs-notification warning"
                *ngIf="overask.errorMessage"
                [textContent]="overask.errorMessage"
                data-crlat="overaskErrorMessage"></div>
            <div class="bs-notification warning"
                *ngIf="overask.stateMessage && overask.isNotInProcess"
                [textContent]="overask.stateMessage"
                data-crlat="stateMsg"></div>
            <div class="bs-notification bottom warning"

                *ngIf="placeSuspendedErr.msg || toteBetSuspendedError"
                [textContent]="getFooterWarningMsg()"
                data-crlat="bs.Err">
            </div>

            <div class="bs-notification bottom warning"
                *ngIf="countDownClock">
              <span [i18n]="'bs.countDownTimerMessage'" data-crlat="countDownTimerMessage"></span>
            </div>

            <ng-info-panel *ngIf="toteBetGeneralError" class="container" [message]="toteBetGeneralError.msg"
                          [type]="toteBetGeneralError.type"
                          [withArrowBottom]="true" [noHide]="true"
                          [noScroll]="true"
                          data-crlat="betslipDeposit.textMsg"></ng-info-panel>

            <div *ngIf="isAmountNeeded() && !showIFrame" data-crlat="neededAmountForPlaceBet">
              <ng-info-panel class="container"
                [quickDepositPanel]="true"
                [align]="'center'"
                [message]="amountNeededErrorMessage"
                [type]="'error'"
                [noHide]="true"
                [noScroll]="true"
                data-crlat="betslipDeposit.textMsg"></ng-info-panel>
            </div>
          </div>

          <lazy-component *ngIf="quickDepositIFrameFormExpanded" class="qb-quick-deposit-iframe"
            moduleUri="@quickDepositModule/quick-deposit.module#QuickDepositModule"
            [inputs]="{
              showPriceChangeNotification: false,
              priceChangeBannerMsg: priceChangeBannerMsg,
              placeSuspendedErr: placeSuspendedErr,
              showSuspendedNotification: isShowSuspendedNotification(),
              stake: currentStake,
              estimatedReturn: totalEstReturns(),
              estimatedReturnAfterPriceChange: estimatedReturnAfterPriceChange
            }"
            [outputs]="['openIframeEmit', 'quickDepositStakeChange', 'closeWindow', 'closeIframeEmit']"
            (event)="onQuickDepositEvents($event)"
            entryComponent="QuickDepositIframeComponent"
            data-crlat="QD">
          </lazy-component>

          <div class="bs-footer with-shadow" data-crlat="bsFoot"
              [hidden]="showIFrame"
              [ngClass]="{
              'keyboard-shown': isDigitKeyboardShown
            }">

            <digit-keyboard
              [hidden]="!loadComplete"
              [componentId]="'slide-out-betslip'"
              [currency]="currencySymbol"
              [betslip-digit-keyboard]>
            </digit-keyboard>
            <betslip-total-wrapper
              [totalStake]="((totalStakeWithOutFreeBets() || '0.00') | currency:currencySymbol:'code')"
                                   [totalFreeBetsStake]="(totalFreeBetsStake())"
              [totalReturns]="(totalEstReturns() | currency:currencySymbol:'code') || 'N/A'">
            </betslip-total-wrapper>

            <div *ngIf="isUpgradeVisible()" class="bs-buttons-wrapper">
              <button class="base-btn wide-btn" data-crlat="upgradeAccountBtn"
                      (click)="navigateToUpgrade()">
                <span [i18n]="'bs.upgradeAccount'"></span>
              </button>
            </div>

            <!-- Footer buttons -->
            <div *ngIf="!isUpgradeVisible()" class="bs-buttons-wrapper">
              <!-- Place bet -->
              <button *ngIf="showBetNowBtn()"
                      class="base-btn betnow-btn"
                      (click)="templatePlaceBet();"
                      [disabled]="disableBetNowBtn()"
                      data-uat="betNowBtn">
                <spinner *ngIf="placeBetsPending && overask.isNotInProcess || quickDeposit.quickDepositPending"
                         data-crlat="spinner.loader"></spinner>
                <span *ngIf="placeBetsPending || quickDeposit.quickDepositPending"
                      class="bs-countdown-timer"
                      data-crlat="timer">
                  {{ countDownCurrentValue }}
                </span>
                <span *ngIf="isPlaceButtonShown()" [i18n]="bsButtonTitle"></span>
              </button>

              <!-- Open quick deposit -->
              <button *ngIf="isShowQuickDepositBtnShown()"
                      class="base-btn betnow-btn"
                      [disabled]="iframeLoadingInProgress || multiplesShouldBeRebuilded ||
                      (isZeroBalanceWithExistingBets && totalStake() === '0.00')"
                      (click)="loadQuickDepositIFrame()"
                      data-crlat="makeQD">
                <spinner *ngIf="isIFrameLoadingInProgress()" data-crlat="spinner.loader"></spinner>
                <span *ngIf="isDepositAndPlaceBets()" [i18n]="'bs.betslipMakeQuickDepositBtn'"></span>
              </button>

              <!-- Overask confirm/cancel offer-->
              <ng-container *ngIf="overask.userHasChoice">
                <button class="base-btn overask-btn2"
                        (click)="rejectOffer()"
                        data-crlat="ovCancel"
                        [i18n]="'bs.overaskElements.cancelTradersOffer'">
                </button>
                <button class="base-btn overask-btn1"
                        [disabled]="!isBetsSelected"
                        (click)="acceptOffer()"
                        data-crlat="ovAccept"
                        [i18n]="'bs.betNow'">
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <request-error *ngIf="loadFailed"
                   [loadFailed]="loadFailed"
                   (reloadFn)="reloadComponent()">
    </request-error>

    <overask-holding-drawer
      *ngIf="overask.isOnTradersReview && overaskDrawerIsConfigured"
      [relativeToParent]="!isMobile"
      [title]="overaskProcessingTitle"
      [topMessage]="overaskProcessingTopMessage"
      [bottomMessage]="overaskProcessingBottomMessage"
      [currencySymbol]="currencySymbol"
    ></overask-holding-drawer>
</div>
