@import 'global.variables.less';

.betnow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner-loader {
    margin: 0 15px 0;
    .transform(translateX(-50%));
  }
  .bs-countdown-timer {
    bottom: 0;
    margin: 0;
  }
}

betslip:host {
  .sk-container {
    height: 100%;
  }
}

// fix to not overlap with Iphone X bottom software button.
@supports (padding-bottom: constant(safe-area-inset-top)) {
  .bs-buttons-wrapper {
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    padding-bottom: var(--safe-area-inset-bottom);
  }
}

@supports (padding-bottom: env(safe-area-inset-top)) {
  .bs-buttons-wrapper {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: var(--safe-area-inset-bottom);
  }
}
