@import 'global.variables.less';

@spinner-border-color: rgba(13,48,100, 0.5);
@spinner-border-accent-color: rgb(13,48,100);
@box-shadow-color: rgba(0, 0, 0, 0.15);
@spinner-size: 15px;
@small-text-size: 13px;

.free-bets-panel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  @media (max-width: @desktopPoint) {
    padding: 0 4px;
  }
}

.total-info-block{
  background: @color-white;
  font-family: @alt-font-family;
  margin-bottom: 12px;
  line-height: 17px;
  box-shadow: 0 2px 4px 0 @box-shadow-color;
  b{
    color: @color-gray-darkest;
  }
  .free-bet-available,
  .free-bet-total{
    width: 50%;
    display: inline-block;
  }
  .free-bet-available{
    font-size: @small-text-size;
    color: @color-gray-darkest;
  }
}

.free-bet-item {
  padding: 12px;
  margin-bottom: 1px;
  box-shadow: 0 2px 4px 0 @box-shadow-color;
  font-size: @font-size-md;
  background: @color-white;
  .display-flex();
  .justify-content(space-between);
  .align-items(center);
  p{
    font-size: @font-size-md;
  }

  @media (min-width: @tabletPointLow) {
    padding: 14px 12px;
  }
}

.free-bet-item__value {
  display: inline-block;
  background: @color-yellow-alt;
  border-radius: 1px;
  color: @lGray;
  text-transform: uppercase;
  font-family: @base-font-family;
  font-weight: bold;
  padding: 4px 8px;
  margin-bottom: 1px;
  height: 18px;
  line-height: 12px;
}

.free-bet-item__expiration {
  margin-bottom: 0;
  color: @lBlack-medium;
  font-family: @alt-font-family;

  span:first-child {
    text-transform: capitalize;
    font-weight: 500;
  }
}

.free-bet-item__bet-type {
  color: @lBlack-light;
  margin-bottom: 1px;
  font-family: @alt-font-family;
  display: inline-block;

  & > * {
    vertical-align: middle;
  }

  svg {
    cursor: pointer;
    margin-left: 5px;
    width: 14px;
    height: 14px;
  }
}

.free-bet-item__go-betting {
  position: relative;
  color: @color-blue-alt;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 15px;
  font-weight: bold;
  font-family: @base-font-family;
  border: none;
  background: none;

  &:not([disabled])::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 6px;
    .transform(scaleY(1.1) rotate(45deg));
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: @color-blue-alt;
  }

  &[disabled] {
    color: @lGray-bg;
    opacity: 1;
    &::before, &::after {
      content: '';
      position: absolute;
      width: @spinner-size;
      height: @spinner-size;
      border-radius: 50%;
      border-width: 2px;
      left: calc(50% - calc(@spinner-size/2));
    }
    &::after {
      border: 2px solid @spinner-border-color;
    }
    &:before {
      border: 2px solid transparent;
      .animation(loader 1.2s infinite linear);
      border-top-color: @spinner-border-accent-color;

    }
  }
}
