<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <ng-container *ngIf="!state.loading && !state.error">
    <!--- Page Header -->
    <top-bar [title]="'bma.freeBetTitle'"></top-bar>

    <div class="item-inner total-info-block" data-crlat="freebetBalance">
      <span class="free-bet-available">
        <span [i18n]="'bma.freeBetsAvailable'"></span>
        (<span [textContent]="freebets.length"></span>)
      </span>
      <span class="free-bet-total text-right">
        <b [i18n]="'bma.totalBalance'"></b>
        <b data-crlat="totalBalance" [textContent]="totalFreeBets"></b>
      </span>
      <no-events *ngIf="!freebets.length" [message]="'bma.noFreeBetsFound'"></no-events>
    </div>

    <ul data-crlat="myFreebets" class="free-bets-panel"
        (click)="stopOuterAction($event)">
      <ng-container *ngFor="let item of freebets; trackBy: trackByTokenId;">
        <li class="free-bet-item" data-crlat="fbItem">
          <div>
            <p class="free-bet-item__value" data-crlat="value">{{ freeBetText + ': ' + user.currencySymbol + item.freebetTokenValue }}</p>
            <p class="free-bet-item__expiration">
              <span [i18n]="'bma.useBy'"></span>
              <span data-crlat="usedBy" [textContent]="item.freebetTokenExpiryDate.replace(' ', 'T') |  date: 'dd/MM/yyyy - HH:mm'"></span>
            </p>
            <div class="free-bet-item__bet-type">
            <span *ngIf="item.tokenPossibleBet"
                  [textContent]="item.freebetOfferName" data-crlat="fbDesc"
            ></span>
              <svg (click)="showInfoDialog(item)" data-crlat="infoButton">
                <use xlink:href="#free-bet-info"></use>
              </svg>
            </div>
          </div>
          <button class="free-bet-item__go-betting"
                  [disabled]="item.pending"
                  [i18n]="'bma.goBetting'"
                  (click)="navigateToEvent(item)"
                  data-crlat="fbLink">
          </button>
        </li>
      </ng-container>
    </ul>

  </ng-container>
</div>
