<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [skeletonType]="'GENERIC_FULL'" [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <div *ngIf="!state.loading && !state.error" class="tab-content promotion-container grouped" data-crlat="tabContent">
    <!-- Display as list -->
    <ng-container *ngIf="validPromotions">
      <ng-container *ngTemplateOutlet="listTpl; context: { items: validPromotions }"></ng-container>
      <div *ngIf="!validPromotions.length" class="item-inner text-center text-bold"
        [i18n]="'promotions.noPromotionsFound'" data-crlat="noPromotion">
      </div>
    </ng-container>

    <!-- Display as groups with lists -->
    <ng-container *ngIf="groupedPromotions">
      <ng-container *ngFor="let group of groupedPromotions.promotionsBySection; trackBy: trackGroupBy">
        <div class="promotion-group" *ngIf="group.availablePromotions?.length">
          <div class="promotion-group-header">
            <span *ngIf="group.unassigned" [i18n]="'promotions.unassignedGroup'"></span>
            <span *ngIf="!group.unassigned" [textContent]="group.name"></span>
          </div>
          <ng-container *ngTemplateOutlet="listTpl; context: { items: group.availablePromotions }"></ng-container>
          <div *ngIf="!group.availablePromotions.length" class="item-inner text-center text-bold"
               [i18n]="'promotions.noPromotionsFound'" data-crlat="noPromotion">
          </div>
        </div>
      </ng-container>
      <div *ngIf="!availableGroupedPromotions" class="item-inner text-center text-bold"
        [i18n]="'promotions.noPromotionsFound'" data-crlat="noPromotion">
      </div>
    </ng-container>
  </div>

  <!-- List template -->
  <ng-template #listTpl let-items="items">
    <section class="promotion-item" *ngFor="let promotion of items; trackBy: trackPromotionBy" data-crlat="promotion">
      <img *ngIf="promotion.uriMedium" [attr.src]="promotion.uriMedium" data-crlat="uriMedium"/>
      <h3 [innerHTML]="promotion.title" class="promotion-title" data-crlat="promotion.title"></h3>
      <div class="promotion-content" data-crlat="promotion.content">
        <p class="clamp-lines" [innerHTML]="promotion.shortDescription" data-crlat="shortDescription"></p>
        <a class="flat-btn" [routerLink]="'/'+promotion.targetUri" [i18n]="'promotions.footerMore'" (click)="sendGTM(promotion, $event)"
            data-crlat="moreInfo"></a>
      </div>
    </section>
  </ng-template>
</div>
