@import 'global.variables.less';
@import '../../../../app/promotions/assets/styles/main.less';

.promotion {
  &-item {
    h3 {
      padding: 0 12px;
      color: @color-gray-dark;
      background: @color-white;
      font-weight: normal;
      border-bottom: 0;
    }
  }
  &-content {
    .display-flex();
    .justify-content(space-between);
    .align-items(center);
    background: @color-white;
    padding: 6px 12px;
  }
}
