@import 'global.variables.less';

.vertical-menu {
  .links-list-panel {
    .list-item-link {
      .item-name {
        width: 100%;
        white-space: nowrap;
      }
      .item-description {
        display: block;
        text-overflow: ellipsis;
        white-space: normal;
      }
    }
  }
}
