<div class="quickbet-content" [ngClass]="{'suspended': selection.disabled}" data-crlat="quickbet.content">
  <div class="quickbet-sectionwrap">
    <section class="qb-content-info" [ngClass]="{ 'odd-boost-active': canBoostSelection }"
             *ngIf="selection.outcomeId">
      <p class="outcome-name" [textContent]="selection?.outcomeName | callBack : filterPlayerName : this" data-crlat="selectionName"></p>
      <p class="market-name" [textContent]="filterAddScore(selection.marketName, selection.outcomeName)" data-uat="marketName"></p>
      <p class="event-name" [textContent]="selection.eventName" data-uat="eventName"></p>
    </section>
    <section class="yc-content-info" *ngIf="!selection.outcomeId" data-crlat="section.selections">
      <ng-content select="your-call-body-details"></ng-content>
    </section>
    <section class="qb-stake-section" data-crlat="section.stake">
      <div class="qb-odds-stake-wrapper">
        <div class="odds">
        <span *ngIf="selection.hasLP"
              class="odds-value"
              [ngClass]="{'crossed': (canBoostSelection && selection.isBoostActive) }"
              [textContent]="selection.newOddsValue || selection.oldOddsValue" data-crlat="odds"></span>
          <span *ngIf="selection.hasSP" class="odds-value" [i18n]="'quickbet.isSP'" data-crlat="odds"></span>
          <label *ngIf="selection.hasSPLP" class="odds-select-label" data-crlat="odds">
            <lazy-component
              moduleUri="@freebetsModule/freebets.module#FreebetsModule"
              [inputs]="{
              options: selection.oddsSelector,
              selectedValue: selection.isLP ? 'LP' : 'SP',
              disabled: selection.disabled,
              mode: canBoostSelection && selection.isBoostActive ? 'secondary' : 'default'
            }"
              [outputs]="['valueChange']"
              (event)="priceTypeChange($event)"
              entryComponent="LadbrokesLpSpDropdownComponent">
            </lazy-component>
          </label>

          <!-- Boosted price -->
          <lazy-component *ngIf="canBoostSelection && selection.isBoostActive"
                          token="DYNAMIC_ODDS_BOOST_PRICE"
                          class="quickbet-boosted-price"
                          data-crlat="boostedPr"
                          [inputs]="{ oldPrice: boostOldPrice, newPrice: boostNewPrice }">
          </lazy-component>
        </div>
        <div class="stake" data-crlat="stake.amountInputForm">
          <label [ngClass]="selectionAmountClasses"
                 class="input-stake-label"
                 [attr.data-currency]="selection.currency">
            <input id="stake-input"
                   class="stake-input"
                   placeholder="Stake"
                   [digit-keyboard-input]
                   [patternRestrict]="'^(\\d{0,12}(\\.\\d{0,2})?)?$'"
                   [patternToFixed]="true"
                   [componentId]="'quickbet-panel'"
                   [showDecimalPoint]="true"
                   [value]="selection.stake"
                   [(ngModel)]="selection.stake"
                   (ngModelChange)="onStakeChange()"
                   [disabled]="selection.disabled || isLogAndQuickBetPending"
                   [eventAction]="'quickbet'"
                   data-money-validate="true"
                   data-crlat="value">
          </label>
          <div class="freebet-stake">
            <free-bet-label *ngIf="freebetsList?.length > 0 && selectedFreeBet"
                            [selected]="selectedFreeBet.freebetTokenValue"
                            [margin]="true">
            </free-bet-label>
          </div>
        </div>
      </div>
      <div class="each-way" *ngIf="selection.isEachWayAvailable" data-crlat="eachWayForm">
        <span class="each-way-label" [i18n]="'quickbet.eachWayLabel'" data-crlat="label.eachWay"></span>
        <input id="each-way-checkbox"
               class="each-way-checkbox"
               type="checkbox"
               placeholder="0.00"
               [disabled]="selection.disabled"
               (change)="onStakeChange()"
               [(ngModel)]="selection.isEachWay"
               data-uat="eachWay"/>
        <label for="each-way-checkbox"></label>
      </div>
    </section>
  </div>

  <!-- Use Free Bet -->
  <ng-container *ngIf="freebetsList && freebetsList.length > 0 && !selection.disabled">
    <lazy-component
      moduleUri="@freebetsModule/freebets.module#FreebetsModule"
      [inputs]="{freeBets: freebetsList, selected: selectedFreeBet}"
      [outputs]="['selectedChange']"
      (event)="onFreebetChange($event)"
      entryComponent="LadbrokesFreeBetToggleComponent">
    </lazy-component>
    <lazy-component
      moduleUri="@freebetsModule/freebets.module#FreebetsModule"
      entryComponent="LadbrokesFreeBetTooltipComponent"
      [inputs]="{isQuickbet: true}">
    </lazy-component>
  </ng-container>

  <div class="promos-boost">
    <!-- Promo labels -->
    <promo-labels
      *ngIf="selection?.markets?.length"
      [cashoutValue]="selection.markets[0].isCashoutAvailable"
      [event]="selection"
      [marketId]="selection.marketId"
      [mode]="'quickbetslip'"
      [exclude]="promoLabelsFlagsExcluded">
    </promo-labels>

    <!-- Boost button -->
    <div *ngIf="canBoostSelection" class="quickbet-boost-button">
      <lazy-component token="DYNAMIC_ODDS_BOOST_BUTTON"
                      (click)="onBoostClick()"
                      [inputs]="{ enabled: selection.isBoostActive, reboost: selection.reboost, disabled: placeBetPending.state }">
      </lazy-component>
    </div>
  </div>
</div>

<digit-keyboard
  [componentId]="'quickbet-panel'"
  [currency]="selection.currency"
  [hideKeyboardFlag]="false"
  (keyboardShown)="onKeyboardToggle(false)"
  (keyboardHidden)="onKeyboardToggle(true)">
</digit-keyboard>

<quick-stake
  [hidden]="!quickStakeVisible"
  [disabled]="selection.disabled || placeBetPending.state || isLogAndQuickBetPending"
  (quickStakeSelect)="onQuickStakeSelect($event)"
  data-crlat="quickStakePanel">
</quick-stake>

<div class="deposit-info-msg" *ngIf="showMessage()" data-crlat="infoMessage">
  <svg data-crlat="infoIcon">
    <use xlink:href="#icn_info"></use>
  </svg>
  <div>
    <p *ngFor="let infoMessage of infoMessages" [innerHTML]="infoMessage | safe: 'html'" data-crlat="message"></p>
  </div>
</div>

<bet-summary class="quick-german" [selection]="selection" data-crlat="betSummary"></bet-summary>

<div class="quickbet-controls">
  <button *ngIf="addToBetslipFn"
          class="qb-left-cta-btn"
          (click)="addToBetslipFnHandler()"
          [textContent]="leftBtnText"
          [disabled]="selection.disabled || showPendingSpinner() || isLogAndQuickBetPending"
          data-crlat="addToBetslipButton">
  </button>
  <button *ngIf="!addToBetslipFn"
          class="qb-left-cta-btn"
          (click)="closeFnHandler()"
          [disabled]="selection.disabled"
          [i18n]="'quickbet.buttons.back'"
          data-crlat="quickbet.back">
  </button>
  <button *ngIf="!isMakeQuickDeposit()"
          class="qb-right-cta-btn"
          [disabled]="disablePlaceBet || isLogAndQuickBetPending"
          (click)="placeBetFnHandler()"
          data-crlat="placeBetButton">
    <spinner *ngIf="showPendingSpinner()"></spinner>
    <span *ngIf="!showPendingSpinner() && isUserLoggedIn"
          [i18n]="getPlaceBetText"></span>
    <span *ngIf="!showPendingSpinner() && !isUserLoggedIn"
          [i18n]="'quickbet.buttons.loginPlaceBet'"></span>
  </button>
  <button *ngIf="isMakeQuickDeposit()"
          class="qb-right-cta-btn"
          [disabled]="!selection.stake || selection.disabled"
          (click)="openQuickDepositFnHandler()"
          data-crlat="quickDepositButton">
    <spinner *ngIf="showSpinnerOnQuickDeposit()"></spinner>
    <span [i18n]="'quickbet.buttons.makeQuickDeposit'"></span>
  </button>
</div>
