@import 'global.variables.less';
@import '../../../../../app/quickbet/components/quickbetSelection/quickbet-selection.component.less';

.quickbet-content {
  padding: 16px;

  .qb-content-info {
    &.odd-boost-active {
      width: 50%;
    }
    .outcome-name {
      font-size: 15px;
      font-family: inherit;
      color: @lBlack-medium;
      text-overflow: ellipsis;
    }
  }

  .market-name {
    color: @lBlack-light;
    margin-bottom: 4px;
    font-family: inherit;
  }

  .event-name {
    color: @lBlack-medium;
    font-family: inherit;
  }

  .qb-stake-section {
    .flex-direction(column);

    .qb-odds-stake-wrapper {
      .display-flex;
      .justify-content(flex-end);
      .align-items(baseline);
      width: 100%;
    }

    .odds-value {
      font-size: 15px;
      font-weight: normal;
      color: @lBlack-medium;
      &.crossed {
        font-family: @alt-font-family;
        font-size: @qb-medium-font-size;
        color: @color-gray-disabled;
      }
    }

    .stake {
      margin-bottom: 11px;

      .stake-input {
        color: @lBlack-medium;
        &.dk-active-input,
        &:focus {
          border: @bs-stake-input-border-focused;
          box-shadow: @bs-stake-input-shadow-focused-out, @bs-stake-input-shadow-focused-in;
        }
      }
    }
  }

  .each-way {
    .display-flex;
    .justify-content(flex-end);
    margin-top: 0;
    margin-bottom: 15px;
    width: 100%;

    .each-way-label {
      color: @lBlack-light;
      margin-right: 6px;
    }

    .each-way-checkbox:checked + label,
    .each-way-checkbox:not(:checked) + label {
      padding-left: 20px;
      right: 0;
      top: -3px;
      margin: 0;
    }

    .each-way-checkbox:not(:checked) + label:before,
    .each-way-checkbox:checked + label:before {
      background: @lGray-bg;
      border: 1px solid @color-gray-silver;
    }
  }

  .quickbet-sectionwrap {
    ::ng-deep {
      p.yourcall-selection span {
        color: @lBlack-light;
        font-family: @alt-font-family;
        font-size: 12px;
        strong {
          color: @color-gray-darkest;
          font-size: @font-size-bit-lgr;
        }
      }
    }
  }
}

.deposit-info-msg {
  padding: 10px 16px 11px;
  border-bottom: 1px solid @lGrayLight;
  border-top: 1px solid @lGrayLight;
  .display-flex();
  .align-items(center);
  .justify-content(center);

  svg {
    .flex-shrink(0);
    width: 16px;
    height: 16px;
  }

  p {
    margin: 0 0 4px 6px;
    font-size: 12px;
    color: @color-gray-darkest;
    line-height: normal;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
