@import 'global.variables.less';

.uk-tote-event {
  .pool-header {
    height: 35px;
    width: 100%;
    padding: 12px 10px;
    background-color: @color-gray-light;
    font-size: 10px;
    color: @color-gray-dark;
    .display-flex();
    .justify-content(space-between);
    .pool-size-value {
      font-weight: bold;
    }
    .what-is {
      text-decoration: underline;
    }
    .pool-size-label {
      margin-right: 3px;
    }
  }

  .leg-switchers-wrapper {
    border-top: 1px solid @color-gray;
  }

  .pool-headers {
    height: 35px;
    background-color: @color-gray-light;
    margin-bottom: 0;
    font-family: @base-font-family;
    .display-flex();
    .justify-content(flex-end);
    .align-items();
    border-top: 1px solid @color-gray;
    border-bottom: 1px solid @color-gray;

    .pool-sub-header {
      display: inline-block;
      width: 100%;
      padding-left: 10px;
      font-size: @font-size-sm;
      text-align: left;
      font-weight: bold;
      color: @color-gray-dark;
    }

    li {
      width: 42px;
      list-style: none;
      display: inline-block;
      font-size: @font-size-sm;
      text-transform: uppercase;
      color: @color-gray-dark;
      text-align: center;
      @media screen and (min-width: 450px) {
        width: 60px;
      }
    }
  }
  .page-inner-container {
    .toggle-icon {
      > span {
        display: none;
      }
    }
  }
}
