@import 'global.variables.less';

@virtualMenuItemHeight: 63px;
@virtualMenuItemWidth: 62px;
@brand-color-main: @lGray;

.virtual-carousel-menu.vc-menu {
  margin-bottom: 4px;
  color: @color-white;
  background-color: @brand-color-main;

  .vc-item {
    .display-flex();
    .justify-content(space-evenly);
    .align-items(center);
    .flex-direction(column);
    background: @lGray;
    text-decoration: none;
    height: @virtualMenuItemHeight;
    max-width: @virtualMenuItemWidth;
    width: 100%;
    min-width: 45px;
    position: relative;
    margin: 0 11px;
    padding: 10px 0 6px;
    color: @color-white;

    &.active {
      background-color: transparent;
      border-bottom: none;
      color: @color-yellow-alt;

      .vc-icon { fill: @color-yellow-alt; }
    }

    &:hover {
      text-decoration: none;
    }
    .sport-name {
      font-family: @alt-font-family;
      font-size: @font-size-pre-xs;
    }

    .vc-icon {
      fill: @color-white;
      height: 100%;
      width: auto;
      max-height: 30px;
      max-width: 30px;
      position: static;
      margin-left: 0;

      .vc-svg {
        width: 100%;
        height: 100%;
        max-height: inherit;
      }
    }
  }
}
