.bs-multiple-receipt {
  .eachway-terms-multiple {
    margin-top: 5px;
    padding: 0 15px;
  }
  .bs-stake {
    margin-bottom: 0;
  }
  .bs-stake-info {
    padding-top: 8px;
  }
  .bs-single-receipt-odds {
    margin-bottom: -18px;
    padding-top: 0;
  }
  .bs-stake-footer {
    margin-top: 15px;
  }
  .bet-id-number {
    margin: 6px 0 20px;
  }
  .bs-single-receipt {
    .stake-row {
      padding: 0 15px;

      &:first-child {
        padding-top: 15px;
      }
    }
  }
  .stake-column {
    &.alert-column, &.multiple-column {
      align-items: center;
    }
    &.favourites-column {
      width: 27px;
    }
  }
  .promo-multiples {
    padding: 0 15px;
  }
}
