<nav data-uat="mainNav" class="carousel-menu" *ngIf="isAvailable">
  <div class="scroll-container"
       [scrollable] [rescrollOnChange]="activeMenuItem">
    <ul class="scroll-inner">
      <li *ngFor="let item of menuItems;trackBy: trackByFn"
          [ngClass]="{active: (item.targetUriCopy === activeMenuItem && item.targetUri !== '/')}"
          data-crlat="carouselMenu.item">
        <a (click)="buttonAction($event, item)"
           class="menu-item"
           [attr.href]="item.targetUri"
           [attr.rel]="item.relUri ? 'nofollow' : ''"
           [attr.title]="item.imageTitle"
           data-crlat="menu.item"
           [click-link]>
          <svg class="submenu-list-icon"
               data-crlat="submenuListIcon"
               [disable-dragging]>
            <use [attr.xlink:href]="'#' + (item.svgId || 'icon-generic')"></use>
          </svg>
          <span class="submenu-list-title"
                [innerHtml]="item.imageTitle"
                data-crlat="menuItem.title"
                [disable-dragging]>
          </span>
          <span *ngIf="isLiveCounter && eventCount(item)"
                class="count-label"
                [innerHtml]="eventCount(item)"
                data-crlat="eventCount">
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
