<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [state]="state" *ngIf="!state.loading && state.error">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <ng-container *ngIf="!state.loading && !state.error">
    <tabs-panel *ngIf="!isSpecialEvent && eventEntity?.markets?.length"
                [tpTabs]="eventTabs"
                [tpActiveTab]="activeTab"
                [typeId]="typeId"
                [detectGTMLocation]="'location'"
                (tpFunction)="recalculateExpandedMarkets()"></tabs-panel>

    <edp-surface-bets-carousel *ngIf="showSurfaceBets" [eventId]="eventEntity.id"></edp-surface-bets-carousel>

    <!--- Sport Event Page -->
    <div *ngIf="!isSpecialEvent && !showFiveASideContent && !showYourCallContent"
        class="tab-content heuristic-container top-padding"
        data-crlat="accordionsList">
      <ng-container *ngFor="let market of filteredMarketGroup; trackBy: getTrackByValue; let index = index">
        <accordion data-crlat="accordion"
                 *ngIf="!isYourCallMarket(market)"
                 [isChevronToLeft]="true"
                 [hidden]="market.hidden"
                 [headerClass]="'secondary-header'"
                 [isHeaderHidden]="isHeaderHidden(market)"
                 [isExpanded]="isExpanded(index, market)"
                 (function)="changeAccordionState(index, $event)"
                 [ngClass]="{'accordion-margin': isHeaderHidden(market)}"
                 [accordionTitle]="market.name">
        <right-side>
          <!-- Promotional signposting -->
          <promotion-icon [type]="'market'"
                          [mode]="'big'"
                          [cashoutAvailable]="market.cashoutAvail === 'Y'"
                          [display]="market.drilldownTagNames"
                          data-crlat="promotionIcons">
          </promotion-icon>
        </right-side>

        <accordion-body *ngIf="isExpanded(index, market)">
          <div *ngIf="!market.marketsGroup" data-crlat="containerContent">
            <div class="container-inner-content" *ngIf="market.viewType === 'columns-1'" data-crlat="containerInnerContent">
              <div class="odds-card" *ngFor="let outcomeEntity of market.outcomes; trackBy: getTrackById" data-crlat="oddsCard">
                <div class="odds-content">
                  <div class="odds-left">
                    <div class="odds-names odds-names-wrap" data-crlat="oddsNames">{{ outcomeEntity.name }}</div>
                  </div>
                  <div class="odds-right">
                    <price-odds-button [event]="eventEntity"
                                       class="one-row-btn"
                                       [market]="market"
                                       [outcome]="outcomeEntity">
                    </price-odds-button>
                  </div>
                </div>
                <div class="odds-footer" *ngIf="market.isSmartBoosts && outcomeEntity.wasPrice">
                  <div class="odds-right">
                    <div class="was-price">
                    <span [i18n]="'sb.wasPrice'"></span>
                    <strike [textContent]="outcomeEntity.wasPrice"></strike>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-inner-content" *ngIf="market.viewType === 'columns-2'" data-crlat="containerInnerContent">
              <div class="row row-center row-no-gutter row-last row-pad">
                <div class="col-xs col-bordered" *ngFor="let outcomeEntity of market.outcomes; trackBy: getTrackById" data-crlat="oddsCard">
                  <div class="col-inner">
                    <strong class="col-name" data-crlat="outcomeEntity.name">{{ outcomeEntity.name }}</strong>
                    <price-odds-button [event]="eventEntity"
                                       [market]="market"
                                       [outcome]="outcomeEntity"
                                       class="one-row-btn"></price-odds-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-inner-content" *ngIf="market.viewType === 'columns-3' || market.viewType === 'columns-2-3'"
                 data-crlat="containerInnerContent">
              <div class="row row-center row-no-gutter row-col-last row-pad"
                   [equal-column]="market.viewType !== 'columns-3'" [class.is-horizontal]="market.viewType === 'columns-3'">
                <div class="col-xs col-bordered" *ngFor="let set of market.groupedOutcomes" data-crlat="market.outcomes">
                  <div *ngFor="let outcomeEntity of set; trackBy: getTrackById" class="col-inner col-vertical" data-crlat="oddsCard">
                    <strong class="col-name">
                      <span *ngIf="outcomeEntity.alphabetName"
                            data-crlat="outcomeEntity.name">{{ outcomeEntity.alphabetName }}</span>
                      <span>{{ outcomeEntity.numbersName }}</span>
                    </strong>
                    <price-odds-button [event]="eventEntity"
                                           [market]="market"
                                           [outcome]="outcomeEntity"
                                           class="one-row-btn"></price-odds-button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let config of marketConfig; trackBy: getTrackById">
            <markets-group-component
              *ngIf="config && market.marketsGroup &&
                marketAvailable[config.localeName] &&
                market.localeName === config.localeName"
              [markets]="marketGroup"
              [marketsGroup]="config"
              [isExpanded]="isExpanded(index)"
              [eventEntity]="eventEntity">
            </markets-group-component>
          </div>

          <correct-score *ngIf="market.viewType === 'correctScore'"
                         [market]="market"
                         [marketGroup]="marketGroup"
                         [eventEntity]="eventEntity"
                         [isExpanded]="isExpanded(index)"
                         data-crlat="correctScoreMarket"></correct-score>

          <scorecast
            *ngIf="hasScorecastMarket(market)"
            [markets]="marketGroup"
            [eventEntity]="eventEntity"
            [isExpanded]="isExpanded(index)">
          </scorecast>
          <your-call-player-stats [marketsGroup]="market"
                                  [isExpanded]="isExpanded(index)"
                                  [eventEntity]="eventEntity"
                                  *ngIf="market.localeName === 'playerStats' && isEnabledOnCms()">
          </your-call-player-stats>
        </accordion-body>
      </accordion>

        <ng-container *ngIf="isYourCallMarket(market)">
          <accordion
            [isChevronToLeft]="true"
            [accordionTitle]="market.name"
            [isExpanded]="isExpanded(index)"
            data-crlat="accordion">
            <right-side>
              <cashout-label *ngIf="market.cashoutAvail === 'Y'"></cashout-label>
            </right-side>
            <accordion-body>
              <div class="odds-card odds-single"
                   *ngFor="let outcomeEntity of market.outcomes | slice:0:showLimit(market); trackBy: getTrackById"
                   data-crlat="oddsCard">
                <div class="odds-content">
                  <div class="odds-left">
                    <div class="odds-names odds-names-wrap" data-crlat="oddsNames">{{ outcomeEntity.name }}</div>
                  </div>
                  <div class="odds-right">
                    <price-odds-button [event]="eventEntity"
                                       [market]="market"
                                       [outcome]="outcomeEntity"
                                       [gtmModuleTitle]="[market.name, market.name].join('. ')">
                    </price-odds-button>
                  </div>
                </div>
              </div>
              <show-all-button
                (click)="toggleShowYourCallMarket(market)"
                *ngIf="market.outcomes.length > market.showLimit"
                [allShown]="market.isAllShown">
              </show-all-button>
            </accordion-body>
          </accordion>
        </ng-container>
      </ng-container>
    </div>
    <div class="heuristic-container sk-container"
      [ngClass]="{'sk-loading': !initialized}"
      *ngIf="showFiveASideContent || showYourCallContent">
      <loading-screen
        [displayed]="(showYourCallContent || showFiveASideContent) && !initialized"
        [templateType]="'GENERIC'">
      </loading-screen>
      <lazy-component *ngIf="showFiveASideContent" moduleUri="@yourCallModule/your-call.module#YourCallModule"
        [inputs]="{eventEntity: eventEntity}" entryComponent="FiveASideTabContentComponent"
        (init)="childComponentLoaded()"
        (failed)="childComponentLoaded()">
      </lazy-component>
      <lazy-component *ngIf="showYourCallContent" moduleUri="@yourCallModule/your-call.module#YourCallModule"
        [inputs]="{eventEntity: eventEntity}" entryComponent="YourCallTabContentComponent"
        (init)="childComponentLoaded()"
        (failed)="childComponentLoaded()">
      </lazy-component>
    </div>
  </ng-container>
</div>
