@import 'global.variables.less';
:host {
  display: block;

  &.market-selector-sticky-margin {
    padding-top: 47px;
  }

  .is-horizontal .col-vertical, ::ng-deep .is-horizontal .col-bordered .col-inner.col-vertical {
    height: 100%;

    price-odds-button {
      margin-top: auto;
    }
  }

  .col-inner:first-child {
    margin-top: 0;
  }

  tabs-panel {
    position: -webkit-sticky;
    position: sticky;
    top: @app-header-height + @top-bar-height;
    z-index: 6;
    display: block;
  }
}
