@import 'global.variables.less';

.bog {
  &-block {
    .display-flex();
    .align-items(center);
    white-space: nowrap;
    margin: 0 4px 4px 0;
  }
  &-bg {
    background-color: @color-yellow-alt;
    padding: 1px 4px;
    box-sizing: border-box;
    .flex-wrap(wrap);
    .inline-flex();
    .align-items(baseline);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 15px;

    .bog-label {
      color: @color-gray-darkest;
      font-family: @base-font-family;
      line-height: normal;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &-label {
    font-family: @alt-font-family;
    font-size: 10px;
    padding-left: 2px;
    color: @lBlack-light;
    .inline-flex();
  }

  &-icon {
    width: 13px;
    height: 8px;
    margin-right: 2px;
    .inline-flex();
  }
}
