<div #moduleRibbon id="module-ribbon" class="module-ribbon" data-crlat="moduleRibbon">
  <switchers
    *ngIf="moduleList.length"
    [type]="'scrollable'"
    [switchers]="moduleList"
    [activeTab]="activeTab"
    [noPaddings]="true"
    [detectGTMLocation]="'location'"
  ></switchers>

  <lazy-component moduleUri="src/app/lazy-modules/superButton/super-button.module#SuperButtonModule"
                  [inputs]="{
                          type: 'homeTabs',
                          homeTabUrl: homeTabUrl
                        }">
  </lazy-component>
</div>
