@import 'global.variables.less';

.wrap {
  padding: 8px 6px 6px;

  .header {
    position: relative;
    padding-right: 20px;

    .header-text {
      font-weight: bold;
      color: @brand-color-dark;
    }

    .close-icon {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      fill: @color-gray-dark;
      cursor: pointer;
    }
  }

  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 410px;
    overflow: auto;

    .option {
      position: relative;
      cursor: pointer;
      padding-left: 27px;
      display: inline-block;
      word-break: break-word;
      font-size: 13px;

      &.selected .option-circle:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #3a3d49;
      }
    }

    .option-circle {
      position: absolute;
      top: calc(50% - 10px);
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #cccccc;
      border-radius: 100%;
      background-color: #f8f8f8;
      padding: 3px;
    }

    .option-text {
      color: @color-gray-dark;
      opacity: 0.75;
    }

    li {
      margin-top: 15px;

      &:last-child {
        margin-bottom: 5px;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 0;

    .btn-add {
      height: 35px;
      width: 100px;
      color: @color-blue-dark;
      background-color: @color-yellow;
    }
  }
}
