<accordion *ngIf="racingPostSummary"
           [isExpanded]="true"
           [headerClass]="'secondary-header'">
  <left-side>
    <div class="r-post-header">
      <svg class="r-post-logo" data-crlat="racingPost.logo">
        <use xlink:href="#racing-post-widget"></use>
      </svg>
    </div>
  </left-side>
  <accordion-body>
    <div class="racing-post-container">
      <div class="r-post-text">
        <span [textContent]="racingPostSummary" data-crlat="racingPost.text"></span>
      </div>
    </div>
  </accordion-body>
</accordion>
