<div class="sk-container" [ngClass]="{'sk-loading': state.loading}">
  <outlet-status [skeletonType]="'GENERIC_FULL'" [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <top-bar *ngIf="eventEntity"
           class="edp-top-bar"
           [title]="eventEntity.typeName"
           [innerContent]="true" (titleFunc)="goToCompetition()">
    <top-bar-body class="top-bar-side" data-crlat="topBarContent" *ngIf="!isOutRight">
      <div (click)="playStream($event)" class="play-close-stream"
           [hidden]="!eventEntity.liveStreamAvailable" data-crlat="tab.tpTabs">
        <div class="live-stream-btn" data-crlat="liveStream" [ngClass]="{'active': streamShown}">
          <svg *ngIf="!streamShown" class="odds-icon-stream" data-crlat="oddsIconStream">
            <use xlink:href="#watch-live-icon"></use>
          </svg>
          <span *ngIf="!streamShown" draggable="false" [i18n]="'sb.watch'" data-crlat="tab"></span>
          <span *ngIf="streamShown" draggable="false" [i18n]="'sb.done'" data-crlat="tab"></span>
        </div>
      </div>

      <div *ngIf="footballAlertsVisible" (click)="onFootballBellClick()"
           class="notification-icon-wrapper fav-icon">
        <svg *ngIf="!footballBellActive">
          <use xlink:href="#bell-icon-off-header"></use>
        </svg>
        <svg *ngIf="footballBellActive">
          <use xlink:href="#bell-icon-on-header"></use>
        </svg>
      </div>
    </top-bar-body>
  </top-bar>

<ng-container *ngIf="!state.loading && !state.error">
  <no-events *ngIf="!eventEntity" [message]="'sb.noMarketsAvailable'"></no-events>

  <div *ngIf="eventEntity" class="sport-event-tabs">
    <div class="native-video-player-placeholder" #nativeVideoPlayerPlaceholder></div>
    <div class="sk-container scoreboard"
         [ngClass]="{'sk-loading': isLoading(),
                     'tablet': deviceService.isTablet,
                     'br-mob-scoreboard': brScoreboardConfig.available && !streamShown}">
      <loading-screen [displayed]="isLoading()"
                      [skeletonOnly]="true"
                      templateType="SCOREBOARD"></loading-screen>
      <event-title-bar
        *ngIf="isEventTitleBarAvailable() && !streamShown"
        [event]="eventEntity"
        data-crlat="eventEntity"
        [fallbackScoreboardType]="fallbackScoreboardType"
        [isFallbackScoreboards]="isFallbackScoreboards"
        [sportname]="sportName"
        [isSpecial]="isSpecialEvent"
        [isOutright]="isOutRight"
        [isFootball]="isFootball">
      </event-title-bar>

      <bet-genius-scoreboard
        *ngIf="bgScoreboardConfig.available && !streamShown"
        [config]="bgScoreboardConfig">
      </bet-genius-scoreboard>

      <lazy-component *ngIf="brScoreboardConfig.available && !streamShown"
        moduleUri="@lazy-modules-module/betRadarProvider/bet-radar.module#BetRadarLadbrokesModule"
        [inputs]="{betRadarMatchId: betRadarMatchId}">
      </lazy-component>

      <visualization-container
        *ngIf="eventsWithVisualizationParams.length"
        [hidden]="streamShown"
        [visType]="'slider'"
        [visParams]="eventsWithVisualizationParams"
        [eventId]="eventId"
        [expandable]="false"
        data-crlat="visualizationContainer">
      </visualization-container>

      <vis-pre-match-widget
        *ngIf="preMatchWidgetAvailable"
        [hidden]="streamShown"
        [eventId]="eventId">
      </vis-pre-match-widget>

      <scoreboard
        *ngIf="gpScoreboardAvailable"
        id="scoreboard-panel"
        [ngClass]="{'hidden-scoreboard': streamShown}"
        [eventId]="eventId"
        (isLoaded)="isLoadedHandler($event)"
        [scoreboardUrl]="scoreboardUrl">
      </scoreboard>

      <opta-scoreboard
        *ngIf="optaScoreboardAvailable"
        [hidden]="streamShown"
        [event]="eventEntity"
        (isLoaded)="isLoadedHandler($event)"
        [toggleScoreboard]="streamShown">
      </opta-scoreboard>
    </div>

      <div>
        <!-- Video Stream lazy component -->
        <lazy-component *ngIf="eventEntity.liveStreamAvailable"
                        moduleUri="src/platforms/ladbrokesMobile/lazy-modules/eventVideoStream/event-video-stream.module#LazyEventVideoStreamModule"
                        [inputs]="{eventEntity: eventEntity, colorSchema: 'white-stream'}"
                        [outputs]="['playStreamError']"
                        (event)="onPlayLiveStreamError()">
        </lazy-component>

      <div *ngIf="activeUserTab === 'markets'" data-crlat="tabContent">
        <no-events *ngIf="!eventEntity?.markets?.length" [message]="'sb.noMarketsAvailable'"></no-events>
        <edp-surface-bets-carousel *ngIf="(isOutRight || isEnhanceMultiples) && eventEntity?.id" [eventId]="eventEntity.id"></edp-surface-bets-carousel>
        <!-- Outrights Event Page -->
        <div *ngIf="isOutRight" class="tab-content">
          <event-markets [eventEntity]="eventEntity" [panelType]="'outright'" data-crlat="accordionsList"></event-markets>
        </div>

          <!-- Enhanced Multiples Event Page -->
          <div *ngIf="isEnhanceMultiples" class="tab-content" data-crlat="enhanceMultiplesMarket">
            <event-markets [eventEntity]="eventEntity"
                           [panelType]="'enhancedMultiple'"
                           data-crlat="enhancedMultiple"></event-markets>
          </div>
          <sport-event-page *ngIf="!isEnhanceMultiples && !isOutRight"></sport-event-page>
        </div>
      </div>
    </div>
  </ng-container>
</div>
