// Global styles
@import 'global.variables.less';

.play-close-stream {
  .live-stream-btn {
    padding: 4px 0;
    min-height: 20px;
    min-width: 52px;
    text-align: center;
    background: @color-yellow-extra;
    border-radius: 1px;
    border: 1px solid @color-yellow-extra;
    color: @lGray;
    text-transform: uppercase;
    font-size: @font-size-sm;
    font-weight: bold;
    line-height: 1;

    &.active {
      background: transparent;
      color: @color-yellow-extra;
    }

    .odds-icon-stream {
      width: 7px;
      height: 8px;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
}

.notification-icon-wrapper {
  margin-left: 12px;

  svg {
    display: block;
    width: 27px;
    height: 21px;
  }
}
