@import '../../../../assets/styles/general.less';
@import '../tabs.component.less';

@quiz-summary-blue: #1d61a3;

.tab-content-latest {
  .qe-summary-title {
    text-transform: uppercase;
    font-size: 14px;
    color: @color-white;
  }
  .qe-summary-list {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;

    .qe-summary-item {
      margin-bottom: 8px;
      background-color: @quiz-summary-blue;
      border-radius: 1px;
      padding: 13px 14px;
      display: flex;
      align-items: center;
      font-size: 13px;

      &-index {
        height: 24px;
        width: 24px;
        background-color: @color-yellow;
        color: @quiz-summary-blue;
        border-radius: 2px;
        padding: 0 8px;
        margin-right: 7px;
        line-height: 24px;
        font-weight: bold;
      }

      p {
        margin: 2px 0 0;
      }

      &-question {
        font-size: 10px;
        text-transform: uppercase;
        line-height: 14px;
      }

      &-answer {
        font-weight: bold;
        line-height: 18px;
      }
    }
  }

  .qe-generic-upsell {
    margin-top: 28px;
    img {
      width: 100%;
      cursor: pointer;
    }
  }
}
