<oxygen-dialog></oxygen-dialog>

<div id="page-wrapper">
  <!--- Header -->
  <header-section></header-section>
  <!--- Page Content -->
  <div id="page-content" data-crlat="pageContent">
    <!--- Left Column -->
    <aside id="left-column">
      <left-menu data-crlat="leftColumn"></left-menu>
    </aside>

    <!--- Content -->
    <div id="content" data-uat="pageContent">
      <router-outlet></router-outlet>
    </div>

    <!--- Right Column -->
    <right-column-widget-wrapper
      *ngIf="showRC"
      id="right-column" data-crlat="rightColumn">
    </right-column-widget-wrapper>

    <back-to-top></back-to-top>
  </div>

  <seo-static-block></seo-static-block>

  <!-- SVG ICONS -->
  <svg-list id="iconsSprite_cmsInitial" *ngIf="initialIcons" [list]="initialIcons" [keepFill]="true"></svg-list>
  <svg-list id="iconsSprite_cmsAdditional" *ngIf="additionalIcons" [list]="additionalIcons" [keepFill]="true"></svg-list>

  <live-serv-iframe><!-- LiveServ integration iframe --></live-serv-iframe>
</div>

<!-- Quiz dialog component -->
<lazy-component moduleUri="src/app/lazy-modules/quiz/quiz-dialog.module#QuizDialogModule"
                [inputs]="{user: user}">
</lazy-component>

<oxygen-notification></oxygen-notification>

<promotion-footer></promotion-footer>
