@import 'global.variables.less';

:host.featured-surface-bets-carousel .surface-bets-container  {
  margin: 0 -4px 8px;
}

.surface-bets-carousel .carousel-slides .slide {
  min-height: 90px;
  margin-right: 0;
  padding-left: 8px;
}

