<ng-container *ngFor="let receipt of multiReceipts; trackBy:trackByIndex; let multiIndex = index;">
  <div data-crlat="isMultiples" class="bs-scrolling-fix-ios bs-container">
    <div class="stakes-wrapper bs-multiple-receipt" data-crlat="declinedMultBet">
      <div class="bs-stake bs-single-receipt" [ngClass]="{'is-canceled': isStakeCanceled(receipt)}">
        <div *ngIf="isStakeCanceled(receipt)" class="bs-canceled-stake-message" data-crlat="stakeMsg"
             [i18n]="'bs.overaskMessages.betIsDeclined'"></div>
        <div class="bs-stake-boost" *ngIf="receipt.oddsBoosted" data-crlat="boostSect">
          <svg class="boost-icon" data-crlat="boostIcon">
            <use xlink:href="#odds-boost-icon-dark"></use>
          </svg>
          <span [i18n]="'bs.boostedMsg'" data-crlat="boostText"></span>
        </div>
        <div class="stake-row">
          <div class="stake-column multiple-column">
            <div class="bs-single-receipt-odds bs-stake-info" data-crlat="betType">
              <strong class="selection-type" [i18n]="'bs.' + (receipt.betType)" data-crlat="multipleType"></strong>&nbsp;
              <strong class="selection-type" [textContent]="'(x' + (receipt.numLines) + ')'" data-crlat="multiplier"></strong>&nbsp;
              <span *ngIf="showOddsAcca(receipt)">
                <strong class="bs-receipt-odds" [textContent]="'@'"></strong>
                <strong class="bs-receipt-odds" [textContent]="oddsACCA(receipt)"></strong>
              </span>
              <div class="bet-id-number">
                <span class="bet-id" [i18n]="'bs.betId'"></span>
                <span class="bet-id" [textContent]="receipt.receipt" data-uat="betId" data-crlat="betId.value"></span>
              </div>
            </div>
          </div>
          <div class="stake-column alert-column">
            <div class="bs-win-alerts-wrapper" *ngIf="winAlertsEnabled">
              <div class="bs-win-alerts-content">
                <div class="bs-win-alerts-info">
                  <svg class="win-alerts-info-icon" data-crlat="infoButton" [tooltip]="'winAlerts'"
                    [showTooltip]="showWinAlertsTooltip() && !multiIndex">
                    <use xlink:href="#win-alert-icon"></use>
                  </svg>
                  <span [i18n]="'bs.winAlerts'"></span>
                </div>
                <toggle-switch [initialState]="winAlertsActive" [componentId]="setToggleSwitchId(receipt)"
                  [disabled]="!nativeBridge.pushNotificationsEnabled"
                  (switcherControl)="toggleWinAlerts(receipt, $event)"
                  (clickIfDisabled)="nativeBridge.showNotificationSettings()" data-crlat="allowQuickBetSwitc">
                </toggle-switch>
              </div>
            </div>
          </div>
        </div>
        <div class="stake-row" *ngFor="let item of receipt.leg; trackBy:trackByIndex;" data-crlat="receiptLeg">
          <div class="stake-column">
            <div class="bs-stake-header">
              <div class="bs-stake-info">
                <strong class="bs-stake-title" [textContent]="item.part[0].description"
                  data-uat="selectionName"></strong>
                <span class="stake-type" [textContent]="item.part[0].eventMarketDesc + ' / ' "
                  data-uat="marketName"></span>
                <span class="stake-description" [textContent]="item.part[0].eventDesc" data-uat="eventName"></span>
                <div class="eachway-terms-block" *ngIf="receipt.legType === 'E'" data-crlat="eachWay">
                  <span class="eachway-terms" [textContent]="getEWTerms(item.part[0])"></span>
                </div>
                <!-- Promo labels -->
                <promo-labels
                  [mode]="'betslip'"
                  [event]="item.part[0].event"
                  [marketId]="item.part[0].marketId"
                  [isBogEnabled]="item.part[0].isBog"
                  [exclude]="item.excludedDrillDownTagNames">
                </promo-labels>
              </div>
            </div>
          </div>
        </div>
        <span *ngIf="receipt.legType === 'E'" class="eachway-terms eachway-terms-multiple"
          [textContent]="getLinesPerStake(receipt)"></span>
        <div class="promo-multiples">
          <!-- Promo labels -->
          <promo-labels *ngIf="!isStakeCanceled(receipt)"
                        [mode]="'betslip'"
                        [cashoutValue]="receipt.cashoutValue"
                        [accaInsurance]="!!receipt.claimedOffers">
          </promo-labels>
        </div>
        <div class="bs-stake-footer" data-crlat="singleStakeFooter">
          <div class="line">
            <strong [i18n]="'bs.stakeForThisBet'"></strong>
            <free-bet-label *ngIf="receipt.tokenValue > 0"
                            [selected]="receipt.tokenValue"
                            [plus]="receipt.stakeValue > 0">
            </free-bet-label>
            <span *ngIf="receipt.stakeValue > 0" [textContent]="receipt.stakeValue | currency:currencySymbol:'code'"
              data-crlat="receiptStakePerLineMulti"></span>
          </div>
          <div class="line">
            <strong [i18n]="'bs.potentialReturns'"></strong>
            <span
              [textContent]="(+receipt.potentialPayout && receipt.potentialPayout | currency:currencySymbol:'code') || 'N/A'"
              data-uat="estReturns"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
