//Global styles
@import 'global.variables.less';

@qb-content-side-padding: 15px;
@qb-small-font-size: 11px;
@qb-large-font-size: 14px;
@qb-outcome-name-height: 13px;
@qb-medium-font-size: 12px;
@qb-input-with: 80px;
@qb-input-border-radius: 2px;
@qb-default-input-border: 1px solid fade(@color-gray-dark, 35%);

/* Quickbet content */
.quickbet-content {
  background: @color-white;
  .display-flex();
  .flex-direction(column);
  padding: 15px @qb-content-side-padding;

  &.suspended {
    select {
      opacity: .5;
    }

    form,
    input,
    select {
      pointer-events: none;
    }

    .qb-stake-section {
      .stake span,
      .odds-label,
      .odds-value {
        font-weight: 700;
        color: lighten(@color-gray-dark, 50%);
      }

      .each-way .each-way-label {
        color: lighten(@color-gray-dark, 50%);
        font-weight: normal;
      }
    }
  }

  .quickbet-sectionwrap {
    width: 100%;
    .display-flex();

    .yc-content-info {
      .flex(1);
      max-height: 250px;
      margin-right: 0;

      @media @mqDesktop {
        max-height: 350px;
      }

      & + .qb-stake-section {
        width: auto;
      }
    }
  }

  /*// if quick bet is for racing:*/
  .qb-stake-section .odds-select {
    color: @color-gray-dark;
    font-size: @qb-small-font-size;
  }
  .qb-content-info{
    width: 50%;
    &.odd-boost-active {
      width: 40%;
      @media @mqSmallMobile {
        width: 30%;
      }
    }
    .outcome-name {
      overflow: hidden;
    }
  }

  .qb-stake-section {
    .display-flex;
    .align-items(baseline);
    .justify-content(flex-end);
    .align-self(baseline);
    text-align: right;
    font-weight: normal;
    font-size: @qb-medium-font-size;
    width: 60%;
    @media @mqSmallMobile {
      width: 75%;
    }
  }
  .outcome-name,
  .market-name,
  .event-name {
    margin: 0 0 6px;
    color: @color-gray-dark;
    line-height: normal;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .outcome-name {
    font-weight: bold;
    font-size: @qb-large-font-size;
  }
  .market-name {
    font-size:  @qb-medium-font-size;
    color: fade(@color-gray-dark, 65%);
    margin-bottom: 3px;
    font-weight: normal;
  }
  .event-name {
    font-weight: normal;
    font-size:  @qb-medium-font-size;
  }

  .each-way {
    margin-top: 8px;

    .each-way-label {
      font-size: @qb-medium-font-size;
      color: fade(@color-gray-dark, 75%);
      text-transform: capitalize;
    }
    .each-way-checkbox:not(:checked),
    .each-way-checkbox:checked {
      position: absolute;
      left: -9999px;
    }
    .each-way-checkbox:not(:checked) + label,
    .each-way-checkbox:checked + label {
      position: relative;
      padding-left: 19px;
      padding-top: 4px;
      cursor: pointer;
      font-size: @qb-medium-font-size;
      font-weight: 400;
      color: @color-gray-dark;
      top: 2px;
      right: -5px;
    }
    .each-way-checkbox:not(:checked) + label:before,
    .each-way-checkbox:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: @qb-default-input-border;
      border-radius: @qb-input-border-radius;
      background: fade(@color-gray-dark, 5%);
      box-shadow: inset 4px 4px 7px 0 fade(@color-gray-shadow, 6%);
    }
    .each-way-checkbox:not(:checked) + label:after,
    .each-way-checkbox:checked + label:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 3px;
      width: 12px;
      height: 9px;
      border: 0;
      border-left-width: 2px;
      border-bottom-width: 2px;
      border-style: solid;
      border-color: fade(@color-gray-dark, 70%);
      .transform(skewX(-12deg) rotate(-51deg));
    }
    .each-way-checkbox:not(:checked) + label:after {
      opacity: 0;
    }
    .each-way-checkbox:checked + label:after {
      opacity: 1;
    }
    .each-way-checkbox:disabled:not(:checked) + label:before,
    .each-way-checkbox:disabled:checked + label:before {
      box-shadow:none;
      border-color: @color-gray;
      background-color: @color-gray;
    }
    .each-way-checkbox:disabled:checked + label:after {
      border-color: lighten(@color-gray-dark, 50%);
    }
    .each-way-checkbox:disabled + label {
      color: lighten(@color-gray-dark, 50%);
    }
  }

  .qb-stake-section {

    odds-boost-price {
      margin-left: 4px;
    }

    .stake-label,
    .odds-label {
      color: @color-gray-dark;
      text-transform: capitalize;
      font-weight: normal;
      font-size: @qb-small-font-size;
    }

    .odds-label {
      color: lighten(@color-gray-dark, 50%);
    }

    .input-stake-label {
      position: relative;

      &.filled-input:before {
        color: @color-gray-dark;
        font-size: @qb-small-font-size;
      }
    }
    .odds {
      font-weight: normal;
      font-size: @qb-medium-font-size;
      margin-bottom: 10px;
      .display-flex();
      .align-items(baseline);
      .justify-content(flex-end);
      margin-right: 5px;
      @media @mqSmallMobile {
        margin-right: 0;
      }
    }

    .odds-value {
      color: @color-gray-dark;
      font-weight: bold;
      font-size: @qb-large-font-size;

      &.crossed {
        text-decoration: line-through;
        font-family: @base-font-family;
        font-size: @qb-small-font-size;
        font-weight: normal;
        color: lighten(@color-gray-dark, 25%);
        margin-right: 6px;
      }
    }

    .stake {
      position: relative;
      display: inline-block;
    }
    .stake span {
      font-weight: normal;
      font-size: @qb-small-font-size;
      text-transform: capitalize;
    }

    .odds-select {
      height: auto;
      font-size: @qb-large-font-size;
      padding: 0 23px 0 0;
    }

    .stake-input {
      display: inline-block;
      outline: none;
      height: 35px;
      width: @qb-input-with;
      border-radius: @qb-input-border-radius;
      background: @color-white;
      font-weight: normal;
      font-size: @qb-large-font-size;
      margin-left: 5px;
      .appearance(none);

      line-height: 30px;
      padding: 0 9px;
      border: @qb-default-input-border;
      text-align: center;
      color: @color-gray-dark;
      box-shadow: inset 4px 4px 7px 0 fade(@color-gray-shadow, 6%);
      .custom-placeholder({ font-size: @qb-large-font-size; color: @color-gray; text-align: center; font-weight: normal; });

      &.dk-active-input,
      &:focus {
        border: @bs-stake-input-border-focused;
        box-shadow: @bs-stake-input-shadow-focused-out, @bs-stake-input-shadow-focused-in;
      }
      &.invalid {
        border-color: @color-red;
      }
    }

    .odds-select-label {
      color: @color-gray-dark;
    }
  }

  .freebet-input {
    width: 100%;
    margin-top: 10px;
    position: relative;
    &>select {
      width: 100%;
      height: 30px;
      border: 1px solid @color-gray;
      padding: 0 10px;
      border-radius: 3px;
      color: @color-gray-dark;
      font-size: 11px;
      font-weight: 700;
      .appearance(none);
      background: none;
      &:focus {
        outline: 0 transparent;
        box-shadow: none;
      }
    }
  }
  .stake-input-arrow {
    position: absolute;
    top: 7px;
    right: 10px;
    pointer-events: none;
    svg {
      width: 10px;
      height: 6px;
    }
  }

  .promos-boost {
    display: flex;
    justify-content: space-between;
  }

}
.reboost-info {
  padding: 0 10px;
  background: @color-white;
  .display-flex();
  .justify-content(center);
  .align-items(center);
  .alert-icon {
    fill: @color-red;
    margin: 6px;
    width: 16px;
    min-width: 16px;
    height: 16px;
  }
  span {
    font-size: 12px;
    color: @color-gray-darkest;
  }
}

.quickbet-boosted-price {
  margin-left: 5px;
}

.quickbet-boost-button {
  text-align: right;
  margin-top: 4px;
}

/* Quickbet controls */
.quickbet-controls {
  .qb-quick-deposit-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
