@import 'global.variables.less';

.arrowed-item {
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 12px;
    border: solid @color-gray-dark;
    border-width: 0 2px 2px 0;
    padding: 3px;
    border-radius: 1px;
    transform: rotate(-45deg);
  }
}
