@import 'global.variables.less';

.history-bets .history-loader .loader-spinner-container{
  margin-top: 50px;
}

.bet-container {
  margin-bottom: 8px;
  background-color: @color-white;
  font-family: @base-font-family;
  box-shadow: @event-card-shadow;
}

.tote-leg-status-container {
  position: absolute;
  right: 0;
  bottom: -22px;
}

.tote-leg-status {
  height: 12px;
  width: 29px;
  &.suspended {
    width: 56px;
  }
}

.container-content.jackpot-receipt {
  .tote-leg-status {
    position: absolute;
    right: 4px;
    bottom: 0px;
  }
  .cashout-stake-and-returns {
    padding-bottom: @ema-stake-and-returns-bottom-padding;
    .unit-stake-row {
      padding: 0;
    }
  }
  .bordered-row {
    padding: 15px 10px;
    border-top: 1px solid @color-gray;
  }

  .item-inner {
    padding: 5px;
  }

  .win-lines-label {
    margin-left: 5px;
  }
  .win-lines-number {
    color: @color-green;
  }

  .carousel-slides {
    .bordered-row {
      padding: 15px;
    }
  }
  .my-bets-item-header {
    padding: 7px 40px 7px 10px;
  }
  .leg-info, .adjusted-result {
    font-weight: bold;
    color: @color-gray-dark;
  }

  .leg-info {
    font-size: 12px;
    .leg-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .single-left {
    .display-flex();
    .align-items();
    .flex(1, 1, 100%);
  }

  .single-right {
    .display-flex();
    .align-items();
    .flex(1, 0, auto);
    .justify-content(flex-end);
    position: relative;
  }

  .start-time {
    margin-left: 5px;
    font-weight: normal;
  }

  .full-time {
    margin-left: 3px;
  }

  .adjusted-result {
    font-size: 14px;
  }

  .default-mark{
    display:inline-block;

    &:after{
      content: '\2014';
      display: block;
      width: 8px;
      height: 14px;
    }
  }

  .not-resulted {
    color: lighten(@color-gray-dark, 50%);
  }

  .check-mark{
    display:inline-block;

    &:after{
      content: '';
      display: block;
      width: 8px;
      height: 14px;
      position: absolute;
      right: 14px;
      bottom: 2px;
      border: solid @color-green;
      border-width: 0 2px 2px 0;
      .transform(rotate(45deg));
    }
  }

  .text-result {
    text-align: right;
    padding-right: 20px;
    bottom: 10px;
  }

  .x-mark {
    position: absolute;
    width: 0;
    height: 20px;
    bottom: 0;
  }

  .x-mark:before, .x-mark:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    left: 0;
    background-color: @color-red;
  }
  .x-mark:before {
    .transform(rotate(45deg));
  }
  .x-mark:after {
    .transform(rotate(-45deg));
  }
}

.items-list {
  list-style: none;
  margin: 5px 0;
  padding: 0 20px;
  color: @color-black;

  &.game-list {
    padding: 0;
    margin: 15px 0 5px;

    &:first-child {
      margin: 0 0 15px;
    }
  }

  li {
    margin: 3px 0 0 0;

    &.head-list {
      margin: 0;
      padding: 5px 0 0;
      font-weight: bold;
    }

    &.btm-list {
      margin: 5px 0 0;
      color: lighten(@color-gray-dark, 50%);
      font-size: 10px;
      padding: 5px 0 0;
    }

    .status-label {
      font-size: 9px;
      border-radius: 2px;
    }
  }
}

.bet-history-page {
  .select-panel {
    margin: 0 auto;
    width: 100%;
  }
  .track-name {
    margin-left: 7px;
  }
}

.status-label {
  padding: 3px 5px 2px;
  color: @color-white;
  font-size: 12px;
  display: inline;
  line-height: 13px;
  background: lighten(@color-gray-dark, 50%);

  &.status-Cashed.Out, &.status-Won, &.status-win {
    background: @color-green;
  }

  &.status-Open {
    background: @color-yellow;
  }
}

.win-text {
  color: @color-green;
}

.open-text {
  color: @color-yellow;
}

.digital-sport-bets {
  margin-top: 15px;
}
.ox-datepicker-container {
  border-right: 1px solid @color-gray-light;
}

.datepickers-section {
  width: 100%;
  height: 55px;
  background: @color-white;

  .list-view {
    .display-flex();
    .justify-content(flex-end);
    width: 100%;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 10px;

    span {
      margin-top: 3px;
    }

    .list-view-icon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
}

.my-bets-lotto-receipt {
  .display-flex();
  .justify-content(space-between);
  font-size: 10px;
  background: @color-gray;
  color: @color-gray-dark;
  padding: 5px 10px;
}

.won {
  .cashout-stake-and-returns .single-right .stake-label.stake-value {
    color: @color-green;
  }
}

.ema-stake-and-returns {
  .stake-value {
    font-weight: @ema-stake-value-font-weight;
  }
}

.account-history {
  .tabs-panel .scroll-inner {
    .display-flex();
  }
}

.transaction-history-warnings {
  padding-bottom: 15px
}

.ema-history-dialog {
  .modal-dialog {
    width: @ema-history-dialog-width;
    max-width: @ema-history-dialog-width;
  }
}

.ema-error-container {
  text-align: center;
  padding: 5px 0 10px;

  .message-icon {
    fill: red;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
  }
}
