@import 'global.variables.less';

.bet-history-page.history-bets {
  .datepickers-section {
    height: 55px;
    width: 100%;
    background-color: @color-white;
    display: flex;
  }
}

.cashout-header {
  overflow: hidden;
  zoom: 1;
  padding: 5px 10px 16px;
  line-height: 1.2;
  background-color: @color-white;
  border-bottom: 1px solid @color-gray;
}
.heuristic-container {
  .cashout-header {
    padding: 10px;
    line-height: 1;
  }
}
//  for my bets on EDP
.sport-event-tabs .cashout-header {
  padding-top: 15px;
}
.cashout-question-icon {
  width: 12px;
  height: 12px;
  fill: @color-gray-dark;
  margin-right: 3px;
  vertical-align: middle;
}
.cashout-header-link-text {
  font-size: @font-size-md;
  font-family: @base-font-family;
  color: @color-gray-dark;
  text-decoration: underline;
  vertical-align: middle;
}
.cashout-header-btn {
  font-size: @font-size-xs;
  font-family: @base-font-family;
  color: @color-gray-dark;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.cashout-header-btn-text {
  display: inline-block;
  vertical-align: middle;
}
.cashout-header-icon {
  display: inline-block;
  vertical-align: middle;
}

.my-bets-item-header {
  padding: 6px 40px 6px 10px;
  background-color: @color-gray-dark;
  line-height: 1;
  position: relative;
}

.my-bets-item-header-text {
  font-family: @base-font-family;
  font-size: @font-size-sm;
  font-weight: bold;
  color: @color-white;
  text-transform: uppercase;
}
.my-bets-item-status {
  text-align: center;
  color: @color-white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 40px;
  font-family: @base-font-family;
  font-size: @font-size-xs;
  text-transform: uppercase;
  padding: 7px 5px 0;

  &.lost {
    background: @color-gray-dark;
  }
  &.won, &.cashed {
    background: @color-green;
  }
  &.void {
    color: @color-gray-dark;
    background: @color-yellow;
  }
  &.open, &.pending {
    display: none;
  }
}

.select-market-header {
  .display-flex();
  .align-items();

  &.top {
    .align-items(flex-start);
  }

  .single-left {
    .display-flex();
    .align-items();
    .flex(1, 1, 100%);
    width: 50%;

    &.column {
      .flex-direction(column);
      .align-items(flex-start);
    }
  }

  .single-right {
    .display-flex();
    .align-items();
    .flex(1, 0, auto);
    .justify-content(flex-end);
    position: relative;
  }

  &.unit-stake-row {
    padding-bottom: 5px;
  }
}

.cashout-odds-content {
  .cashout-odds-title {
    display: inline-block;
    padding-right: 6px;
    font-size: @bs-title-font-size;
    color: lighten(@color-gray-dark, 50%);
    font-weight: bold;
    & + .cashout-odds-names {
      font-weight: normal;
    }
  }

  .odds-icon-stream {
    margin-left: 5px;
  }

  &.cashout-odds-wrap {
    .flex-flow(row, wrap);
  }
}

.cashout-odds-names {
  font-family: @cashout-odds-names-font-family;
  font-size: @font-size;
  margin-right: 8px;
}

.cashout-odds-score {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;

  li {
    display: inherit;
    margin-right: 8px;
    font-weight: bold;
    font-family: @base-font-family;
    font-size: @font-size-tablet;
    color: lighten(@color-gray-dark, 50%);

    + li &:last-child {
      padding-left: 8px;
      border-left: 1px solid lighten(@color-gray-dark, 50%);
    }

    &:last-child {
      color: @color-gray-dark;
      padding-right: 0;
      padding-left: 0;
      border-left: none;
    }
  }

  // LIVE SCORES ANIMATION
  .live-score-points {
    position: relative;
    white-space: nowrap;
    font-size: @live-score-points-font-size;
    font-family: @live-score-points-font-family;
    display: inline-block;
    vertical-align: text-bottom;
    height: 14px;
    line-height: @live-score-points-font-size;
    overflow: hidden;
    -webkit-text-size-adjust: none;

    &.gray {
      color: lighten(@color-gray-dark, 50%);
    }

    .digit-loop(@counter) when (@counter < 10) {
      .digit-@{counter} {
        top: -@live-score-points-font-size * @counter;
      }
      .digit-loop((@counter + 1));
    }

    .digit-loop(0);
  }

  .home-current-points {
    margin-left: 5px;
  }

  .away-current-points {
    margin-right: 5px;
  }

  .score-change {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5px;
    background: @goal-label-bg;
    border-radius: 2px;
    z-index: 1;
    .transition(opacity, .5s, ease);
    .transform(translateZ(0));

    .score-change-text {
      display: block;
      transform-origin: center;
      font-size: 10px;
      line-height: @goal-label-height;
      font-weight: bold;
      font-family: @base-font-family;
      color: @goal-label-color;
    }

    &.correction {
      background: @correction-label-bg;
      padding: 0 4px;

      .score-change-text {
        color: @correction-label-color;
      }
    }
  }
}

.goal-change {
  .score-change.goal {
    opacity: 1;

    .score-change-text {
      animation-name: goal-scale;
      animation-duration: 0.5s;
      animation-delay: 0.1s;
      animation-timing-function: ease-out;
    }
  }
  .live-scores {
    opacity: 0;
  }
}

.correction-change {
  .score-change.correction {
    opacity: 1;

    .score-change-text {
      animation-name: correction-scale;
      animation-duration: 0.5s;
      animation-delay: 0.1s;
      animation-timing-function: ease-out;
    }
  }
  .live-scores {
    opacity: 0;
  }
}

@keyframes goal-scale {
  0% {
    .transform(scale(1));
  }
  50% {
    .transform(scale(1.25));
  }
  100% {
    .transform(scale(1));
  }
}

@keyframes correction-scale {
  0% {
    .transform(scale(1));
  }
  50% {
    .transform(scale(1.095));
  }
  100% {
    .transform(scale(1));
  }
}

.bet-card-bottom-block {
  border-top: 1px solid @color-gray;
  padding-top: 12px;
  min-height: 40px;
  padding-bottom: 8px;

  &.ema-history-bottom {
    min-height: 0;
    padding-bottom: @ema-stake-and-returns-bottom-padding;
  }
}

.cashout-stake-and-returns {
  background-color: @white;
  padding: 0 12px 0;
  .delimiter {
    margin: 0 5px;
    color: @color-gray;
  }
  .stake-label {
    font-family: @cashout-stake-and-returns-font-family;
    font-size: @cashout-stake-and-returns-font-size;
    color: @cashout-stake-and-returns-color;
    line-height: 1;

    &.stake-value {
      color: @cashout-stake-and-returns-color;
      padding-left: 2px;
    }
    &.estimated-returns {
      font-weight: bold;
    }
  }
}

.cashout-odds-stream {
  .display-flex();
}
