@import 'global.variables.less';

.summary-section {
  font-family: @base-font-family;
  color: @color-gray-dark;
  background-color: @color-white;
  padding: 12px 10px;
  border-bottom: 1px solid @color-gray;

  .summary-section-header {
    font-size: @font-size-sm;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid @color-gray;
  }
  .summary-items {
    .display-flex();
    .justify-content(space-between);
    margin: 0 0 10px 0;
  }
  .summary-item {
    min-width: 70px;
    .summary-item-title {
      font-size: @font-size-xs;
      text-transform: uppercase;
      margin-bottom: 3px;
    }
    .summary-item-value {
      font-size: @font-size;
      font-weight: bold;
    }
    .question-image {
      float: right;
      width: 12px;
      height: 12px;
      margin: -22px -5px 0 0;
    }
  }
}

.empty-section {
  height: 9px;
  background-color: @color-white;
}
