//Global styles
@import 'global.variables.less';

.correct-score-container {
  background: @color-white;
  margin: 2px 0px 4px;
}

.teams-group {
  padding: 10px 10px;
  .display-flex();
  .flex-flow();
  .flex();
  .justify-content(flex-start);
  .align-items(flex-end);

  &:first-child + .teams-group {
    padding-top: 10px;
  }

  .team-col {
    font-size: 11px;
    color: @color-gray-dark;

    .display-flex();
    .flex-direction(column);
    .align-items(flex-start);
    .justify-content(flex-start);
    min-width: 90px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    .word-break;

    &:first-child + .team-col {
      min-width: 27px;
      width: 27px;
      .align-items(center);
      .flex-direction(column-reverse);
    }

    .custom-select {
      width: 90px;
      margin: 9px 0 0 0;

      select {
        border: 1px solid @color-gray;
        border-radius: 4px;
      }
    }

    &.odd-right {
      .justify-content(flex-end);
      .align-items(flex-end);
      margin-left: auto;
    }

    button[disabled] {
      text-shadow: none;
    }
  }

  .team-col-divider {
    width: 7px;
    height: 1px;
    border-top: 1px solid @color-gray;
    margin-bottom: 15px;
    display: inline-block;
  }
}

@media @mqLandscapeAndDesktop {
  .correct-score {
    .row-pad .col-bordered:first-child .col-inner {
      padding-left: 0;
    }
  }
}
