<accordion [isExpanded]="isExpanded"
           [isChevronToLeft]="true"
           [headerClass]="'secondary-header'"
           [memoryId]="memoryId"
           [memoryLocation]="memoryLocation"
           (function)="changeAccordionState($event)"
           [accordionTitle]="market.name">
  <right-side>
    <cashout-label *ngIf="market.cashoutAvail === 'Y'"></cashout-label>
  </right-side>

  <accordion-body *ngIf="isExpanded">
    <div class="correct-score">
      <div class="correct-score-container">
        <div class="teams-group">
          <div class="team-col">
            <div class="correct-score-team-label" [textContent]="teamsObg.teams.teamH.name" data-crlat="homeTeam.name"></div>
            <custom-select>
              <select class="form-control ng-pristine ng-valid"
                      data-crlat="maxValues.homeTeam"
                      [disabled]="isMarketOrEventSuspended()"
                      (change)="onScoreChange($event.target.value, 'teamH')">
                <option *ngFor="let score of teamHScores; trackBy: trackByIndex">{{ score }}</option>
              </select>
            </custom-select>
          </div>
          <div class="team-col"><span class="team-col-divider"></span></div>
          <div class="team-col">
            <div class="correct-score-team-label" [textContent]="teamsObg.teams.teamA.name" data-crlat="awayTeam.name"></div>
            <custom-select>
              <select class="form-control ng-pristine ng-valid"
                      data-crlat="maxValues.awayTeam"
                      [disabled]="isMarketOrEventSuspended()"
                      (change)="onScoreChange($event.target.value, 'teamA')">
                <option *ngFor="let score of teamAScores; trackBy: trackByIndex">{{ score }}</option>

              </select>
            </custom-select>
          </div>
          <div class="team-col odd-right">
            <button *ngIf="isButtonDisabled()"
                    [disabled]="true"
                    class="btn col-btn btn-bet"
                    data-crlat="betButton">
              <span>N/A</span>
            </button>
            <price-odds-button *ngIf="!isButtonDisabled()"
                               data-crlat="combinedOutcome"
                               [event]="eventEntity"
                               [market]="market"
                               [outcome]="combinedOutcome.outcome" class="col-btn">
            </price-odds-button>
          </div>
        </div>
      </div>

      <show-all-button *ngIf="groupedOutcomes?.length"
                       data-crlat="showAllButton"
                       (click)="toggleShow()"
                       [allShown]="allShown">
      </show-all-button>

      <div class="container-inner-content" data-crlat="containerInnerContent">
        <div [equal-column]
             class="row row-center row-no-gutter row-col-last row-pad"
             *ngIf="filterValueType === 'all'"
             data-crlat="eventsTable">
            <div class="col-xs col-bordered"
                 *ngFor="let set of groupedOutcomes; trackBy: trackByIndex"
                 data-crlat="market.outcomes">
                <div *ngFor="let outcomeEntity of set; trackBy: trackByIndex" class="col-inner col-vertical" data-crlat="oddsCard">
                  <strong class="col-name">
                    <span *ngIf="outcomeEntity?.prices[0]?.rawHandicapValue">
                      (<span [textConent]="outcomeEntity.prices[0].rawHandicapValue"></span>)
                    </span>
                    <br *ngIf="outcomeEntity?.prices[0]?.rawHandicapValue" />
                    <span [textContent]="filteredName(outcomeEntity.name)" data-crlat="outcomeNameDigits"></span>
                  </strong>
                  <price-odds-button data-crlat="priceOddsButton"
                                     [event]="eventEntity"
                                     [market]="market"
                                     [outcome]="outcomeEntity">
                  </price-odds-button>
                </div>
            </div>
          </div>
        </div>
      </div>
  </accordion-body>
</accordion>
