<div [class]="'inner-container ' + betLocation" data-crlat="accordionsList">
  <div *ngIf="bets?.length">
    <div class="bet-item tooltip-container"
         *ngFor="let bet of bets; trackBy: trackByBet;"
         data-crlat="cashout.betItems">
      <div class="bet-container" data-uat="betDetails">
        <regular-bet-header [bet]="bet" [gtmLocation]="'cashout'"></regular-bet-header>

        <bet-promotions *ngIf="bet.eventSource.leg" [betEventSource]="bet.eventSource"></bet-promotions>

        <top-success-message
          *ngIf="bet.eventSource.isCashOutedBetSuccess"
          [messageTranslateValue]="'bethistory.cashedOutLabel'"
          [value]="bet.eventSource.cashoutValue"
          [currencySymbol]="bet.eventSource.currencySymbol">
        </top-success-message>

        <bet-leg-list [bet]="bet"
                      [betLocation]="betLocation"
                      [isUsedFromWidget]="isUsedFromWidget">
        </bet-leg-list>

        <edit-my-acca-warning *ngIf="bet.eventSource.isAccaEdit"
                              [bet]="bet.eventSource"></edit-my-acca-warning>

        <div class="bet-card-bottom-block">
          <stake-and-returns-header [stake]="bet.eventSource.stake"
                                    [legType]="bet.eventSource.legType"
                                    [stakePerLine]="bet.eventSource.stakePerLine"
                                    [estimatedReturns]="bet.eventSource.potentialPayout"
                                    [settled]="bet.eventSource.settled"
                                    [currencySymbol]="bet.eventSource.currencySymbol"
                                    [isEdit]="bet.eventSource.isAccaEdit"
                                    [initialReturns]="bet.eventSource.initialReturns === bet.eventSource.potentialPayout"
                                    data-crlat="sectionStakeAndReturns">
          </stake-and-returns-header>

          <cashout-error-message *ngIf="isCashoutError(bet)"
                                 [message]="getCashoutError(bet)"></cashout-error-message>
        </div>

        <edit-my-acca-confirm *ngIf="bet.eventSource.isAccaEdit"
                              [bet]="bet"></edit-my-acca-confirm>

        <div class="ema-error-container" *ngIf="bet.eventSource.emaPriceError">
          <svg class="message-icon">
            <use xlink:href="#info-icon"></use>
          </svg>
          <span [i18n]="'bethistory.emaError'"></span>
        </div>

        <cashout-panel *ngIf="!bet.eventSource.isAccaEdit"
                       [data]="bets"
                       [bet]="bet"
                       [isPartialCashOutAvailable]="bet.eventSource.isPartialCashOutAvailable"
                       [betLocation]="betLocation">
        </cashout-panel>

        <partial-cashout-history *ngIf="!bet.eventSource.cashoutSuccessMessage"
                                 [terms]="bet.eventSource.betTermsChange"
                                 [currencySymbol]="bet.eventSource.currencySymbol">
        </partial-cashout-history>


        <bet-history-prompt *ngIf="bet.eventSource.cashoutSuccessMessage"
                            [prompt]="'success'"
                            [mode]="'cashout'"
                            [promptText]="bet.eventSource.cashoutSuccessMessage"></bet-history-prompt>

        <bet-history-prompt *ngIf="emaService.savedAccas[bet.eventSource.betId]"
                             [prompt]="emaService.savedAccas[bet.eventSource.betId]"
                             [mode]="'ema'"></bet-history-prompt>
      </div>
    </div>
  </div>

  <no-bets-section
    *ngIf="!bets?.length"
    [noBetsMessage]="noBetsMessage"
    [showStartGamingButton]="!isUsedFromWidget"
  ></no-bets-section>
</div>
