@import 'global.variables.less';

.acca-notification {
  background: @color-blue-alt;
  color: @color-white;
  position: relative;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  margin: 10px 15px;
  height: 36px;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(58, 61, 73, 0.29);

  .label-price {
    z-index: 1;
    padding-right: 16px;
    word-break: break-word;
  }

  &.timeline-shown {
    margin-bottom: 45px;
  }

  .bet-return {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }

  svg.next-arrow {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 15px;
    height: 10px;
    width: 6px;
    fill: @color-white;
  }
}
