@import 'global.variables.less';

// Standart icon
@prom-icon-size: 17px;
@prom-icon-pad: 10px 6px;
// Small icon
@small-prom-icon-size: 12px;
@small-prom-icon-pad: 6px 4px;

// Mid icon
@mid-prom-icon-pad: 9px 4px;

:host {
  .promotion-icons-wrapper, .prom-icons {
    .display-flex();
    .align-items(center);
  }
  .prom-icon {
    float: right;
    text-align: center;
    padding: @prom-icon-pad;
    cursor: pointer;
    margin: -10px 2px;
    &.big-icon {
      height: 38px;
      width: 35px;
      margin: 0 0 0 1px;
      border-radius: 2px;
      background: @color-yellow;
    }

    .prom-icon-container {
      .display-flex();
      .align-items(center);
      height: 100%;
    }

    svg {
      width: @prom-icon-size;
      height: @prom-icon-size;
      margin: 0 auto;
      fill: @color-cobalt;

      &.PB {
        width: 20px;
        height: 18px;
      }
    }
  }
}

:host.odds-card-promotions-icon {
  .promotion-icons-wrapper {
    margin-right: 3px;
  }
  .promotion-icon-container {
    margin: 0 2px 0 0;
  }
  .prom-icon {
    padding: @small-prom-icon-pad;
    svg {
      width: @small-prom-icon-size;
      height: @small-prom-icon-size;
    }
  }
}

:host.tabs-panel-promotion-icon {
  .prom-icons {
    .display-flex();
  }

  .prom-icon {
    padding: @mid-prom-icon-pad;
    margin: 0px 5px 0 0px;
    &:first-child {
      margin-left: -10px;
    }
  }
}

:host.race-card-promotion-icon {
  .prom-icons {
    .prom-icon {
      padding: 6px 2px;
      margin: 0 5px 0 0;

      svg {
        width: @small-prom-icon-size;
        height: @small-prom-icon-size;
      }
    }
  }
}

:host.racing-event-promotion-icon {
  position: relative;
  right: 4px;

  .extra-place-label-wrapper {
    margin-top: 7px;
  }

  .prom-icon {
    margin: 3px 5px 0 0;
    padding: @mid-prom-icon-pad;
  }
}

:host.racing-icons-list-promotion-icon {
  .prom-icons {
    .display-flex();
  }

  .prom-icon {
    margin: 0;
    padding: 0;

    svg {
      margin: 0 0 0 10px;
    }
  }
}

:host.align-left {
  .event-card-label-wrapper:first-child {
    margin-left: 0;
  }

  .promotion-icon-container + .prom-icons {
    .event-card-label-wrapper:first-child {
      margin-left: 4px;
    }
  }
}

.event-card-label-wrapper {
  background-color: @color-yellow;
  fill: @brand-color-main;
  .event-card-text {
    color: @brand-color-main;
    font-weight: bold;
  }
  &.bog-promotion {
    width: 24px;
    height: 26px;
    margin-left: 1px;
    border-radius: 2px;
    .inline-flex();
    .align-items(center);
    .justify-content(center);
  }
  &.middle-icon, &.bog-promotion {
    .event-card-label {
      width: 12px;
      height: 12px;
      margin: 0;
      &.bog-text {
        width: 18px;
      }

      &.PB {
        overflow: visible;
        width: 15px;
        height: 20px;
        transform: scale(0.7);
      }
    }
    .event-card-text {
      display: none;
    }
  }

  &.small-icon {
    .event-card-label {
      width: 10.5px;
      height: 10.5px;
    }
    .event-card-text {
      height: 16px;
      line-height: 16px;
      text-transform: uppercase;
      font-size: 8px;
      margin-right: 0;
      margin-left: 3px;
    }
  }

  &.mini-icon {
    .small-icon();
    .event-card-text {
      display: none;
    }
  }
}
