<div *ngIf="isBYBChecked && isFlagChecked" class="promotion-icons-wrapper">

  <cashout-label *ngIf="cashoutAvailable"
                 class="promotion-icon-container"
                 [mode]="mode">
  </cashout-label>

  <div *ngIf="buildYourBetAvailable"
       class="promotion-icon-container">
    <byb-label [mode]="mode"></byb-label>
  </div>

  <div *ngIf="isGpAvailable && isBogCmsEnabled" class="promotion-icon-container event-card-label-wrapper"
       [ngClass]="bogIconStyle ? 'bog-promotion' : 'middle-icon'"
       (click)="bogAction($event)" data-crlat="bogIcon">
    <svg class="event-card-label bog-text"><use xlink:href="#bog-text"></use></svg>
  </div>

  <div class="prom-icons" *ngIf="isPromoSignpostingEnabled && available" data-crlat="promotionIcons">
    <ng-container *ngFor="let icon of promoIcons; trackBy: trackByPromoIcon">
      <ng-container *ngIf="icon.iconId">
        <div class="prom-icon"
             *ngIf="mode === 'big'" (click)="iconAction($event, icon)"
             [ngClass]="{ 'big-icon': mode === 'big' }">
          <div class="prom-icon-container" data-crlat="promotionIcons">
            <svg [ngClass]="icon.flagName" class="select-arrow" [attr.data-crlat]="'promotionIcon.' + icon.flagName">
              <use [attr.xlink:href]="icon.iconId"></use>
            </svg>
          </div>
        </div>

        <div *ngIf="mode !== 'big'"
             class="promotion-icon-container event-card-label-wrapper"
             [ngClass]="{ 'small-icon': mode === 'sm',
                          'middle-icon': mode === 'md',
                          'mini-icon': mode === 'mini' }"
             (click)="iconAction($event, icon)">
          <svg class="event-card-label" [ngClass]="icon.flagName" [attr.data-crlat]="'promotionIcon.' + icon.flagName">
            <use [attr.xlink:href]="icon.iconId"></use>
          </svg>
          <span class="event-card-text" [i18n]="'bma.' + icon.promoName">
          </span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
