<!-- Lotto Bet History Template -->
<ng-container *ngIf="lottoHistory">
  <div class="lotto-bet" data-crlat="cashout.betItems" *ngFor="let bet of lottoHistory; trackBy: trackByBet;">
    <!-- Header -->
    <header class="lotto-bet-header" [class.lotto-status]="bet.status !== 'open'">
      <span data-crlat="cashout.item.header" [textContent]="bet.name"></span>
      <span class="lotto-status-title" *ngIf="bet.status !== 'open'" [textContent]="bet.status" data-crlat="bet.status"></span>
    </header>
    <div class="lotto-bet-panel">
      <!-- Lotto Won Result -->
      <div class="lotto-won-panel" *ngIf="bet.status === 'won'">
        <span class="check-icon"></span>
        <span class="lotto-won-title" [i18n]="'bethistory.youWon'"></span>
        <strong [textContent]="bet.totalReturns | currency:bet.currency:'code'"></strong>
      </div>
      <!-- Lotto Balls -->
      <ul class="lotto-balls" data-crlat="balls">
        <li class="lotto-ball" *ngFor="let ball of bet.balls; trackBy: trackByBall"
            data-crlat="ball" [textContent]="ball.ballNo">
        </li>
      </ul>
      <!-- Draw Name -->
      <span class="lotto-draw-name" [textContent]="bet.drawName" data-crlat="drawName"></span>
      <span class="lotto-draw-time" [textContent]="bet.date" data-crlat="date"></span>
    </div>
    <div class="lotto-bet-panel">
      <!-- Stake and Returns -->
      <stake-and-returns-header
        [stake]="bet.stake"
        [currencySymbol]="bet.currency"
        [settled]="bet.settled"
        data-crlat="sectionStakeAndReturns">
      </stake-and-returns-header>
      <!-- Bet Receipt Info -->
      <bet-receipt-info datePattern="HH:mm - dd MMM"
                        [receipt]="bet.betReceiptId"
                        [date]="bet.betDate"
                        data-crlat="betReceiptInfo">
      </bet-receipt-info>
    </div>
  </div>
</ng-container>
<!-- No lotto bets error message -->
<no-bets-section *ngIf="!lottoHistory.length"
                 [noBetsMessage]="noBetsMessage"
                 [showStartGamingButton]="!isUsedFromWidget">
</no-bets-section>
