@import 'global.variables.less';

:host {

  .lotto-bet {
    background: #fff;
    font-size: @font-size;
    .lotto-bet();
  }

  .lotto-bet-header {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    .lotto-header();

    .lotto-status-title {
      margin-left: auto;
    }

    &.lotto-status {
      &:after, &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 0;
        height: 0;
        border-style: solid;
      }

      &:after {
        right: 18px;
        border-color: transparent transparent #fff transparent;
        border-width: 9px;
      }

      &:before {
        right: 17px;
        border-color: transparent transparent @lotto-border-color transparent;
        border-width: 10px;
      }
    }
  }

  .lotto-bet-panel {
    padding: 12px;
    border-bottom: 1px solid @lotto-border-color;
    color: @lotto-font-color;
    font-family: @lotto-font-family;

    ::ng-deep {
      .cashout-stake-and-returns {
        padding: @lotto-stake-pad;
        border: none;
        min-height: auto;
      }

      .bet-receipt-info {
        padding: 0;
        margin: 0;
      }
    }
  }

  .lotto-balls {
    padding: 0 0 12px;
    list-style: none;
    margin: 0;
    display: flex;

    .lotto-ball {
      width: 30px;
      height: 30px;
      font-size: @font-size-lg;
      line-height: 30px;
      font-weight: bold;
      margin-right: 12px;
      border-radius: 15px;
      text-align: center;
      .lotto-ball()
    }
  }

  .lotto-draw-name {
    margin-right: 8px;
  }

  .lotto-won-title {
    margin-right: 3px;
  }

  .lotto-draw-time {
    .lotto-draw-time();
  }

  .lotto-won-panel {
    font-size: @font-size-tablet;
    padding: 0 0 18px;
  }

  .check-icon {
    position: relative;
    width: 22px;
    height: 22px;
    border: solid 1px #75b91f;
    background: #78be20;
    border-radius: 15px;
    margin: 0 8px -3px 0;
    display: inline-block;
    vertical-align: bottom;
    transform: rotate(40deg);

    &:after, &:before {
      content: '';
      position: absolute;
      background: #fff;
      border-radius: 3px;
    }

    &:after {
      width: 2px;
      height: 12px;
      left: 11px;
      top: 3px;
    }

    &:before {
      width: 6px;
      height: 2px;
      left: 6px;
      top: 13px;
    }
  }
}
