@import 'global.variables.less';

@highlight-carousel-button-color: #41494E;
@highlight-carousel-box-shadow: rgba(162, 162, 162, 0.26);
@highlight-carousel-bg-color: transparent;
@highlight-carousel-card-width: 219px;

:host {
  position: relative;
}

.highlight-carousel-container {
  position: relative;
  overflow: hidden;
  background-color: @highlight-carousel-bg-color;
  min-height: 170px;
  padding: 0 4px 12px;
  margin: 0 -4px 8px;

  .highlight-carousel-header {
    .display-flex();
    position: relative;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: @color-gray-darkest;
    text-transform: uppercase;

    .svg-hidden-icon {
      display: none;
    }

    .icon {
      height: 16px;
      width: 16px;
      margin-right: 8px;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    .more-link {
      margin: 0 7px 0 auto;
      font-size: 11px;
      color: @color-blue-alt;
      white-space: nowrap;
      padding-left: 5px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .more-link:after {
      content: '';
      position: relative;
      top: -1px;
      left: 4px;
      border: solid @color-blue-alt;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      .transform(rotate(-45deg));
    }
  }
}

.highlight-carousel {
  width: auto;
  overflow: visible;

  .carousel-slides {
    overflow: visible;
    position: relative;
    width: @highlight-carousel-card-width;
  }

  .slide {
    width: auto;
    min-width: auto;
    padding-left: 8px;
    width: @highlight-carousel-card-width;
  }

  &.one-card-mode {
    .display-flex();
    .justify-content(center);
  }
}
