//Global styles
@import 'global.variables.less';

@footerMenuHeight: 51px;
@footZindex: 1002;

:host(.footer-menu) {
  .rgba-color(@top-bar-wrap-bg, .9);
  background: @result;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: @font-size-sm;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: @footZindex;
  height: auto;
  min-height: @footerMenuHeight;
  transition: all .5s ease;
  transform: translateY(0px);

  &.hide, &.hidden {
    transform: translateY(@footerMenuHeight);
    -webkit-transform: translateY(@footerMenuHeight);
    opacity: 1;
    padding-bottom: 0;
  }

  @media @mqMobile {
    @supports (padding-bottom: constant(safe-area-inset-bottom)) {
      &.hide, &.hidden {
        --safe-area-inset-bottom: constant(safe-area-inset-bottom);
        -webkit-transform: translateY(calc(@footerMenuHeight + var(--safe-area-inset-bottom)));
        transform: translateY(calc(@footerMenuHeight + var(--safe-area-inset-bottom)));
      }
    }

    @supports (padding-bottom: env(safe-area-inset-bottom)) {
      &.hide, &.hidden {
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        -webkit-transform: translateY(calc(@footerMenuHeight + var(--safe-area-inset-bottom)));
        transform: translateY(calc(@footerMenuHeight + var(--safe-area-inset-bottom)))
      }
    }
  }

  nav {
    height: auto;
    min-height: @footerMenuHeight;
  }

  .menu-items {
    width: 100%;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    height: @footerMenuHeight;
    .display-flex();

    li {
      padding: 0;
      .flex(1, 1, 20%);
      width: 20%;

      &.active {
        background: none;

        .menu-item {
          .menu-item-title {
            color: @color-white;
          }

          .menu-item-icon {
            fill: @color-white;
          }
        }
      }

      .menu-item {
        text-decoration: none;
        text-align: center;

        .display-flex();
        .flex-flow(row, wrap);
        position: relative;
        align-items: initial;
        height: 100%;
        margin: 0 auto;

        .menu-item-icon {
          fill: @lGrayDarkest;
          height: 25px;
          width: 25px;
          margin: 0 auto 4px;
        }

        .menu-item-title {
          width: 100%;
          text-align: center;
          text-transform: capitalize;
          color: @lGrayDarkest;

          line-height: 1;
          font-family: @alt-font-family;
          font-weight: normal;
          display: block;
          align-self: flex-end;
        }

        .menu-item-sub-icon {
          display: block;
          margin: 0 auto;
          height: 20px;
          width: 20px;
          line-height: 20px;
          font-size: @font-size;
          background: @red;
          border-radius: 20px;
          text-align: center;
          color: @color-white;
          position: absolute;
          top: -3px;
          left: 50%;
          font-weight: bold;
          transform: translateZ(0);
          will-change: transform;

          &.pulse {
            .animation(pulse .7s);
          }

          &.plus {
            font-size: 10px;
            text-align: left;
            padding-left: 2px;

            &:after {
              content: '+';
              display: block;
              width: 8px;
              height: 14px;
              position: absolute;
              right: -1px;
              bottom: 7px;
            }
          }
        }
      }
    }
  }

  @supports (padding-bottom: constant(safe-area-inset-bottom)) {
    .menu-items {
      height: auto;
      --safe-area-inset-bottom: constant(safe-area-inset-bottom);
      padding-bottom: calc(6 + var(--safe-area-inset-bottom));
    }
  }

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    .menu-items {
      height: auto;
      --safe-area-inset-bottom: env(safe-area-inset-bottom);
      padding-bottom: calc(6 + var(--safe-area-inset-bottom));
    }
  }
}

// fix to not overlap with Iphone X bottom software button.
@supports (padding-bottom: constant(safe-area-inset-bottom)) {
  :host(.footer-menu) {
    height: auto;
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    padding-bottom: calc(var(--safe-area-inset-bottom));
  }
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  :host(.footer-menu) {
    height: auto;
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: calc(var(--safe-area-inset-bottom));
  }
}

@-webkit-keyframes pulse {
  10% {
    transform: scale(.3) translateZ(0);
  }
  0%, 70%, 100% {
    transform: scale(1) translateZ(0);
  }
  85% {
    transform: scale(.8) translateZ(0);
  }
}

@keyframes pulse {
  10% {
    transform: scale(.3) translateZ(0);
  }
  0%, 70%, 100% {
    transform: scale(1) translateZ(0);
  }
  85% {
    transform: scale(.8) translateZ(0);
  }
}
