@import 'global.variables.less';

.forecast-tricast-market {
  margin-top: 0;

  .forecast-tricast-inner {
    width: 100%;
    box-shadow: @fortri-inner-shadow;
  }
  .terms-before-market {
    .align-items(center);
  }
  .add-to-betslip-btn {
    display: block;
    margin: @fortri-btn-margin;
    width: @fortri-btn-width;
    height: 44px;
    font-size: @font-size-lgr;
    border: 1px solid @color-green-2;
    text-transform: uppercase;
    background: linear-gradient(to bottom, @color-green-1 0, @color-green 100%);
    &[disabled] {
      background: linear-gradient(-180deg, @color-light-green-1 0, @color-light-green-2 100%);
      color: @color-white;
      border: none;
    }
  }
  .odds-right .suspended-label {
    padding-right: 12px;
  }
}

/* Terms panel */
.terms-block {
  background: #fff;
  color: @terms-block-color;
  font-size: @font-size-md;
  font-family: @terms-block-font;
  line-height: 11px;
  padding: 14px 12px;
  margin: 0;

  &.top-block {
    padding-bottom: 0;
  }
}
