@import 'global.variables.less';

.acca-notification {
  background: @color-yellow;
  color: @color-gray-dark;
  position: relative;
  font-size: 12px;
  padding: 0 15px;
  margin: 0;
  width: 100%;
  opacity: 0.95;
  height: 35px;

  @media (min-width: @tabletPoint) {
    display: none;
  }

  .label-price {
    z-index: 1;
    font-weight: bold;
    padding-right: 16px;
  }

  svg.next-arrow {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 15px;
    height: 10px;
    width: 6px;
    fill: @color-gray-dark;
  }
}
