<modal #watchFreeInfoDialog data-uat="popUpWindow" data-crlat="d.watchFreeInfo">
  <ng-template #modalHeader>
    <span [i18n]="'sb.watchFreeInformationTitle'" data-crlat="dTitle" data-uat="popUpTitle"></span>
    <a data-uat="popUpCloseButton" class="btn-close" (click)="closeDialog()">
      <svg>
        <use xlink:href="#close-icon"></use>
      </svg>
    </a>
  </ng-template>
  <ng-template #modalBody>
    <div class="text-section" data-crlat="textSection">
      <svg class="watch-free-logo" data-crlat="wFLogo">
        <use xlink:href="#watch-free-logo"></use>
      </svg>
      <p>
        <strong>
          Watch Free brings your favourite races live to your mobile or tablet.
        </strong>
      </p>
      <p>
        This exciting addition really takes you into the heart of the action with
        <strong>four unique camera angles.</strong>
      </p>
      <p>
        You’ll get a ‘so real you could be there’ <strong>Jockey view</strong>
        where you’re in the saddle, the classic <strong>trackside view</strong>
        and views from the <strong>1<sup>st</sup> Favourite and 2<sup>nd</sup> Favourite</strong> angles respectively.
      </p>
      <p>
        Race commentary is also included to fully complete the ‘live’ race experience.
      </p>
      <p>
        Watch Free even <strong>displays winning percentages</strong> so you can keep up with all the latest race betting.
      </p>
      <p></p>
      <p>
        Remember that Watch Free will activate <strong>15 minutes before each race</strong>
        so just make a note of the start time, and click on ‘Watch Free’ in that pre-race window.
      </p>

      <p class="popup-footer-text">
        <strong>Enjoy watching your chosen races live – for FREE!</strong>
      </p>
      <button data-uat="popUpButton"
              class="btn btn-style1 half-width-button text-uppercase"
              (click)="closeDialog()" [i18n]="'sb.ok'"></button>
      </div>
  </ng-template>
</modal>

