<accordion [accordionTitle]="moduleConfig.name" [isExpanded]="true" *ngIf="groupsData?.data?.length">
  <accordion-body>
    <div class="container-inner-content group-widget">
      <div class="scroll-container" [scrollable]>
        <div class="groups scroll-inner">
          <div class="group-card" *ngFor="let singleGroup of groupsData.data; trackBy: trackByTeams">
            <competition-group-card [redirectLink]="groupsData.details[singleGroup.competitionId]" [groupData]="singleGroup"
              [numberQualifiers]="groupsData.numberQualifiers"></competition-group-card>
          </div>
        </div>
      </div>
    </div>
  </accordion-body>
</accordion>
