<!-- Sport Card -->
<odds-card-sport *ngIf="!isOutrightsCard && !isEnhancedMultiplesCard && !isSpecialCard"
                 [event]="event"
                 [eventStartedOrLive]="eventStartedOrLive"
                 [sportType]="sportType"
                 [sportConfig]="sportConfig"
                 [selectedMarketObject]="selectedMarketObject"
                 [selectedMarket]="selectedMarket"
                 [featured]="featured"
                 [isFilterByTemplateMarketName]="isFilterByTemplateMarketName"
                 [eventType]="eventType"
                 [widget]="widget"
                 [gtmModuleTitle]="gtmModuleTitle"
                 (goToEventCallback)="callGoToEventCallback()"
                 (marketUndisplayed)="changeCardView($event)">
</odds-card-sport>

<!-- Outrights -->
<list-card *ngIf="isOutrightsCard"
           [item]="event"
           [link]="goToEvent(true)"
           [title]="eventName"
           (clickFunction)="goToEvent(false, $event)"
           (goToEventCallback)="callGoToEventCallback()"
           [attr.data-eventid]="event.id"
           [gtmModuleTitle]="gtmModuleTitle"
           class="sticky-virtual-scroll-item"
           data-crlat="oddsCard.outrightsTemplate">
  <div class="live-card-label" *ngIf="eventStartedOrLive">
    <live-label data-crlat="liveLabel"></live-label>
  </div>
</list-card>

<!-- Enhanced Multiples Card-->
<odds-card-enhanced *ngIf="isEnhancedMultiplesCard"
                    [attr.data-eventid]="event.id"
                    [event]="event"
                    [limitSelections]="limitSelections"
                    data-crlat="oddsCard.enhancedMultiplesTemplate"
                    [gtmModuleTitle]="gtmModuleTitle"
                    (goToEventCallback)="callGoToEventCallback()">
</odds-card-enhanced>

<!--Specials Card-->
<odds-card-specials *ngIf="isSpecialCard"
                    [event]="event"
                    data-crlat="oddsCard.specialsTemplate"
                    [gtmModuleTitle]="gtmModuleTitle"
                    (goToEventCallback)="callGoToEventCallback()"></odds-card-specials>

