<div>
  <div class="spinner-loader spinner-dark" data-crlat="spinner.loader" *ngIf="applyingParams"></div>

  <div class="page-inner" data-crlat="accordionsList">
    <!--- Sorting Panel -->

    <div class="page-segment">
      <switchers *ngIf="!applyingParams && isRacingPanel" [filter]="filter" data-crlat="switchers" [switchers]="switchers"></switchers>

      <!-- Today/Tomorrow events -->
      <lazy-component *ngIf="display === 'today' || display === 'tomorrow'"
                      moduleUri="src/platforms/coralDesktop/lazy-modules/racingFeatured/racing-featured.module#RacingFeaturedModule"
                      [hidden]="applyingParams"
                      [inputs]="{
                        sportId: categoryId,
                        racing: racing,
                        sectionTitle: sectionTitle,
                        sportName: sportName,
                        eventsOrder: eventsOrder,
                        filter: filter,
                        responseError: responseError,
                        display: display
                      }"
                      data-crlat="racing.greyhound">
      </lazy-component>

      <!-- Future events -->
      <div *ngIf="!applyingParams && display === 'future'" data-crlat="racing.future">
        <div *ngIf="!responseError && racing.events?.length" data-crlat="racing.futureEvents">
          <greyhound-future-tab [filter]="filter"
                                [isExpanded]="isExpanded"
                                [orderedEvents]="orderedEvents"
                                [orderedEventsByTypeNames]="orderedEventsByTypeNames"
                                [filteredTypeNames]="filteredTypeNames"
                                [racingEvents]="racing.events">
          </greyhound-future-tab>
        </div>

        <request-error *ngIf="responseError"
                       [loadFailed]="responseError"
                       (reloadFn)="reloadComponent()"></request-error>

        <!-- Show only when no events -->
        <no-events *ngIf="!responseError && !racing.events?.length"></no-events>
      </div>

      <!--- Daily Racing Specials GH -->
      <daily-racing-module *ngIf="!applyingParams && display === 'today' && filter === 'by-meeting'"
                           [eventsBySections]="racing.modules.dailyRacing.eventsBySections"
                           [collapsedSections]="racing.modules.dailyRacing.collapsedSections"
                           [sportName]="sportName"></daily-racing-module>
    </div>

    <div class="widget-column" *ngIf="!applyingParams && !responseError && display === 'today'">
      <!--- Next 4 race module -->
      <next-races-module *ngIf="nextRacesWidgetVisible"
                         [moduleType]="sportModule"
                         [fluid]="true"
                         [widget]="true"
                         [headerVisible]="true">
      </next-races-module>
    </div>
  </div>
</div>
