@import 'global.variables.less';
@import './../../assets/styles/modules/show-history-button.less';

:host {
  display: block;
}

.show-history {
  .show-history-button();
}

.spinner-loader {
  margin: 20px auto;
}
