<div *ngIf="isOutcomeCardAvailable" class="racing-outcome-container" [class.greyhound-card]="isGreyhoundEdp">
  <div class="odds-card race-card new-race-card"
       (click)="onExpand()"
       [ngClass]="{'active' : showSummary, 'type-tote': raceType === 'tote'}"
       data-crlat="raceCard.odds">
    <div class="odds-content">
      <div class="odds-left">
        <div class="odds-side"
             *ngIf="isNumberNeeded(eventEntity, outcomeEntity) && !outcomeEntity.isFavourite && isNotRacingSpecials">
          <strong class="runner-number" [textContent]="outcomeEntity.runnerNumber || null" data-crlat="runnerNumber"></strong><br/>
          <div class="label-text" *ngIf="outcomeEntity.racingFormOutcome?.draw" data-crlat="outcomeDraw">
            (<span [textContent]="outcomeEntity.racingFormOutcome.draw"></span>)
          </div>
        </div>
        <div class="silk-img" *ngIf="isGenericSilk(eventEntity, outcomeEntity) && !outcomeEntity.isFavourite" data-crlat="imageSilk"></div>
        <gh-silk *ngIf="isGreyhoundSilk(eventEntity, outcomeEntity) && !isGroupSilkNeeded(outcomeEntity) && isNotRacingSpecials"
          [event]="eventEntity"
          [outcome]="outcomeEntity"></gh-silk>
        <div class="silk-img grouped-silk {{getOutcomeClass(outcomeEntity)}}" *ngIf="isGroupSilkNeeded(outcomeEntity)">
          <span class="{{getOutcomeClass(outcomeEntity)}}-1"></span>
          <span class="{{getOutcomeClass(outcomeEntity)}}-2"></span>
          <span class="{{getOutcomeClass(outcomeEntity)}}-3"></span>
        </div>

        <div class="silk-img" [ngClass]="eventEntity.isUKorIRE ? 'with-default': 'inter-silk'"
             *ngIf="outcomeEntity.racingFormOutcome?.silkName" data-crlat="sectionSilkImg">
          <div [ngStyle]="getSilkStyle(marketEntity, outcomeEntity)" data-crlat="imageSilk"></div>
        </div>
        <div class="odds-names odds-names-list"
             [ngClass]="{'odds-disabled' : outcomeEntity.nonRunner, 'has-no-silk' : outcomeEntity.isFavourite}"
             data-crlat="horseInfoContainer">
          <div class="name-container">
            <span class="odds-names odds-names-wrap"
                  [class.text-normal]="isGreyhoundEdp && (!isNotRacingSpecials || isAntepostMarket)"
                  [textContent]="nameWithoutLineSymbol(outcomeEntity.name)" data-crlat="horseName"></span>
            <strong *ngIf="outcomeEntity.racingFormOutcome?.starRating && outcomeEntity.racingFormOutcome?.starRating == 5"
                    class="start-rating" data-crlat="starRating">
              <svg class="star-icon"
                   data-crlat="stars">
                <use xlink:href="#star"></use>
              </svg><span [textContent]="outcomeEntity.racingFormOutcome.starRating" data-crlat="rating"></span>
            </strong>
            <span class="racing-form" *ngIf="(outcomeEntity.racingFormOutcome)">
                <span class="course-distance"
                      *ngIf="outcomeEntity.racingFormOutcome.isBeatenFavourite"
                      [textContent]="'BF'">
                </span>
                <span *ngIf="outcomeEntity.racingFormOutcome.courseDistanceWinner">
                  <span class="course-distance" *ngFor="let courseDistanceWinner of courseDistanceWinners" [textContent]="courseDistanceWinner" data-crlat="courseDistanceWinner">
                  </span>
                </span>
            </span>
          </div>

          <span class="odds-normal" data-crlat="jockeyAndTrainer" *ngIf="outcomeEntity.racingFormOutcome">
            <span *ngIf="outcomeEntity.racingFormOutcome.jockey" [textContent]="'J: '" class="text-bold"></span>
            <span *ngIf="outcomeEntity.racingFormOutcome.jockey" [textContent]="outcomeEntity.racingFormOutcome.jockey" data-crlat="jockeyName"></span>
            <span *ngIf="outcomeEntity.racingFormOutcome.jockey && outcomeEntity.racingFormOutcome.trainer" data-crlat="jockeyName&trainerName"> / </span>
            <span *ngIf="outcomeEntity.racingFormOutcome.trainer && !isGreyhoundEdp" [textContent]="'T: '" class="text-bold"></span>
            <span *ngIf="outcomeEntity.racingFormOutcome.trainer && !isGreyhoundEdp" [textContent]="outcomeEntity.racingFormOutcome.trainer" data-crlat="trainerName"></span>
          </span>
          <span class="odds-small">
            <span class="racing-form" *ngIf="(outcomeEntity.racingFormOutcome?.formGuide)">
              <span *ngIf="outcomeEntity.racingFormOutcome.formGuide" data-crlat="racingForm">
                Form: <span class="text-bold" [textContent]="outcomeEntity.racingFormOutcome.formGuide"></span>
              </span>
            </span>

            <span class="timeform-odds-small"
                    *ngIf="outcomeEntity.timeformData?.form">
              <span [i18n]="'racing.form'" class="timeform-label"></span>
              <strong [textContent]="outcomeEntity.timeformData.form"></strong>
            </span>
            <span *ngIf="(outcomeEntity.racingFormOutcome && !outcomeEntity.isFavourite && !isGreyhoundEdp) ||
            (outcomeEntity.racingFormOutcome?.overview && !outcomeEntity.isFavourite && isGreyhoundEdp) ||
            outcomeEntity.timeformData"
                  class="toggle-icon"
                  [ngClass]="{'active' : showSummary}"
                  (click)="addTrackEvent()"
                  data-crlat="toggleIcon">
              <span *ngIf="showSummary" [textContent]="'Show less'"></span>
              <span *ngIf="!showSummary" [textContent]="'Show more'"></span>
              <svg>
                <use xlink:href="#down-arrow"></use>
              </svg>
            </span>
          </span>
          <ng-content></ng-content>
        </div>
      </div>

      <div class="odds-right">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="odds-footer" *ngIf="marketEntity.isSmartBoosts && outcomeEntity.wasPrice">
      <div class="odds-right">
        <div class="was-price">
          <span [i18n]="'sb.wasPrice'"></span>
          <strike [textContent]="outcomeEntity.wasPrice"></strike>
        </div>
      </div>
    </div>
    <lazy-component *ngIf="outcomeEntity.racingFormOutcome && showSummary"
      moduleUri="@lazy-modules-module/runnerSpotlight/runner-spotlight.module#RunnerSpotlightModule"
      [inputs]='{ outcome: outcomeEntity, isGreyhoundEdp: isGreyhoundEdp, isUKorIRE: eventEntity.isUKorIRE }'>
    </lazy-component>
    </div>

  <timeform-selection-summary [outcome]="outcomeEntity"
                              *ngIf="outcomeEntity.timeformData && showSummary">
  </timeform-selection-summary>
</div>
