@import '../../../assets/styles/general.less';

.qe-footer {
  margin-bottom: 30px;

  &-list {
    margin: 0;
    padding: 0;

    &-item {
      text-decoration: none;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.25);
    }

    &-link {
      width: 100%;
      cursor: pointer;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &:hover {
        text-decoration: none;
      }

       &.active {
         opacity: .5;
       }
    }

    &-svg {
      width: 6px;
      height: 10px;
      fill: white;
    }
  }
}
