@import 'global.variables.less';

.bs-banner {
  background: @color-gray;
  position: relative;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 15%;

  img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;
  }

  .bs-banner-terms {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    font-size: 8px;
    line-height: 10px;
    text-decoration: none;
    white-space: normal;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
  
    p {
      margin: 0;
      padding: 0;
    }
    
    u {
      text-decoration: underline;
    }
  
    @media only screen and (max-width: @tabletPoint) {
      .bs-banner__text {
        font-size: 8px;
        line-height: 10px;
      }
    }
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  @media only screen and (min-width: @tabletPoint) {
    .bs-banner-terms {
      font-size: 9px;
      line-height: 12px;
    }
  }
  
  @media only screen and (min-width: @landscapeTabletPoint) {
    .bs-banner-terms {
      font-size: 11px;
      line-height: 16px;
    }
  }
}

.bs-banner-wrapper {
  position: relative;
}
