<div class="ios-scrolling-fix bs-banner-wrapper" data-crlat="section.betslipBanner">
  <div class="bs-banner" *ngIf="info.isMobile && info.isBannerAvailable" data-crlat="betslipBanner">
    <a class="bs-banner-link"
       [title]="info.banner.title"
       (click)="trackClickInGtm(); performNavigate()"
       data-crlat="betslipBannerLink">
    <img [src]="info.banner.imgUrl"
         [alt]="info.banner.altText"
         [width]="640"
         [height]="200"
         (load)="trackViewInGtm()"
         data-crlat="betslipBannerImage">
    </a>
    <a *ngIf="info.banner.tcText"
       class="bs-banner-terms"
       data-crlat="banner-terms"
       [href]="info.banner.tcLink">
      <div [innerHTML]="info.banner.tcText" class="bs-banner__text"></div>
    </a>
  </div>
</div>
