// Global styles
@import 'global.variables.less';

.markets-active {
  border-bottom: 10px solid @color-white;
}

.event-tabs {
  .display-flex();
  background: @event-bar-bg;
  color: @color-white;
  font-family: @base-font-family;
  position: relative;
  min-height: 40px;

  .icon-block {
    .display-flex();
    margin-left: auto;
    width: 50%;
    justify-content: flex-end;
    padding-top: 9px;

    .play-close-stream {
      margin: 2px 13px 10px 0;

      .odds-icon-stream {
        width: 10px;
        height: 10px;
        vertical-align: middle;
      }

      .live-stream-btm {
        width: 62px;
        height: 20px;
        color: @color-gray-dark;
        background: @color-yellow;
        font-weight: bold;
        font-size: 10px;
        list-style: none;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        border-radius: 1px;
        margin-left: 10px;
        border: solid 1px @color-yellow;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          background: none;
          color: @color-yellow;
        }

        span {
          vertical-align: middle;
        }
      }
    }

    .fav-and-notification-btn {
      margin-bottom: 10px;
      .display-flex();

      .football-favourites {
        border-left: 1px solid rgba(35, 13, 56, .25);
        text-align: center;
        width: 37px;
        height: 24px;

        .odds-fav-icon {
          margin: 0;

          .fav-icon-svg {
            stroke: @color-white;
            width: 17px;
            height: 17px;

            &.active {
              stroke: @color-yellow;
            }
          }
        }
      }

      .notification-icon-wrapper {
        border-left: 1px solid rgba(35, 13, 56, .25);
        cursor: pointer;
        position: relative;
        text-align: center;
        width: 37px;
        height: 24px;
        z-index: 1;

        svg {
          height: 22px;
          width: 30px;
          fill: @color-white;
        }
      }
    }
  }

  .tabs-list {
    width: 50%;

    ul {
      .display-flex();
      padding: 0;
      margin: 0;

      >li {
        .display-flex();
        justify-content: center;
        align-items: center;
        width: 78px;
        height: 38px;
        text-align: center;
        color: @color-white;
        margin: 0 0 2px;
        font-size: 10px;
        list-style: none;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;

        &.active {
          border-bottom: 2px solid @color-white;
        }
      }
    }
  }
}

.hidden-scoreboard {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.sport-event-tabs {
  transition: margin-top 300ms ease; 
}