<div class="sk-container" [ngClass]="{'sk-loading': state.loading}">
  <outlet-status [skeletonType]="'GENERIC_FULL'" [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
<ng-container *ngIf="!state.loading && !state.error">
  <no-events *ngIf="!eventEntity" [message]="'sb.noMarketsAvailable'"></no-events>

  <div *ngIf="eventEntity" class="sport-event-tabs">
    <div class="native-video-player-placeholder" #nativeVideoPlayerPlaceholder></div>
    <div class="sk-container scoreboard"
         [ngClass]="{'sk-loading': isLoading(),
                     'tablet': deviceService.isTablet,
                     'br-mob-scoreboard': brScoreboardConfig.available && !streamShown}">
      <loading-screen [displayed]="isLoading()"
                      [skeletonOnly]="true"
                      templateType="SCOREBOARD"></loading-screen>
      <event-title-bar
        *ngIf="isEventTitleBarAvailable() && !streamShown"
        [event]="eventEntity"
        data-crlat="eventEntity"
        [sportname]="sportName"
        [isSpecial]="isSpecialEvent"
        [fallbackScoreboardType]="fallbackScoreboardType"
        [isFallbackScoreboards]="isFallbackScoreboards"
        [isOutright]="isOutRight"
        [isFootball]="isFootball">
      </event-title-bar>

      <bet-genius-scoreboard
        *ngIf="bgScoreboardConfig.available && !streamShown"
        [config]="bgScoreboardConfig">
      </bet-genius-scoreboard>

      <lazy-component 
        *ngIf="brScoreboardConfig.available && !streamShown"
        moduleUri="@lazy-modules-module/betRadarProvider/bet-radar.module#BetRadarCoralModule"
        [inputs]="{betRadarMatchId: betRadarMatchId}">
      </lazy-component>

      <visualization-container
        *ngIf="eventsWithVisualizationParams.length"
        [isHidden]="streamShown"
        [visType]="'slider'"
        [visParams]="eventsWithVisualizationParams"
        [eventId]="eventId"
        [expandable]="false">
      </visualization-container>

      <vis-pre-match-widget
        *ngIf="preMatchWidgetAvailable"
        [hidden]="streamShown"
        [eventId]="eventId">
      </vis-pre-match-widget>

      <scoreboard
        *ngIf="gpScoreboardAvailable"
        id="scoreboard-panel"
        [ngClass]="{'hidden-scoreboard': streamShown}"
        [eventId]="eventId"
        (isLoaded)="isLoadedHandler($event)"
        [scoreboardUrl]="scoreboardUrl">
      </scoreboard>

      <opta-scoreboard
        *ngIf="optaScoreboardAvailable"
        [hidden]="streamShown"
        [event]="eventEntity"
        (isLoaded)="isLoadedHandler($event)"
        [toggleScoreboard]="streamShown">
      </opta-scoreboard>
      </div>
    <div>
      <!-- Video Stream lazy component -->
      <lazy-component *ngIf="eventEntity.liveStreamAvailable"
                      moduleUri="src/app/lazy-modules/eventVideoStream/event-video-stream.module#LazyEventVideoStreamModule"
                      [inputs]="{eventEntity: eventEntity, colorSchema: 'white-stream'}"
                      [outputs]="['playStreamError']"
                      (event)="onPlayLiveStreamError()">
      </lazy-component>

        <div *ngIf="showNewUserTabs
                    && (isMarketsTabAvailable() || eventEntity.liveStreamAvailable || favouritesVisible)"
             class="event-tabs"
             [ngClass]="{'markets-active': activeUserTab === 'markets', 'outrights-tabs': (!isLoggedIn || !myBetsAvailable) && !favouritesVisible}">
          <div class="tabs-list" *ngIf="isMarketsTabAvailable()">
            <ul>
              <li (click)="setActiveUserTab('markets')"
                  [ngClass]="{active: activeUserTab === 'markets'}"
                  data-crlat="tab.tpTabs">
                <span draggable="false" [i18n]="'sb.tabsMarkets'" data-crlat="tab"></span>
              </li>
              <li (click)="setActiveUserTab('myBets')"
                  *ngIf="isLoggedIn && myBetsAvailable"
                  [ngClass]="{active: activeUserTab === 'myBets'}"
                  data-crlat="tab.tpTabs">
                <span draggable="false" data-crlat="tab">{{ myBets }}</span>
              </li>
            </ul>
          </div>

          <div class="icon-block" *ngIf="eventEntity.liveStreamAvailable || favouritesVisible">
            <div (click)="playStream($event)" class="play-close-stream"
                 [hidden]="!eventEntity.liveStreamAvailable" data-crlat="tab.tpTabs">
              <div class="live-stream-btm" [ngClass]="{'active': streamShown}" data-crlat="liveStream">
                <svg *ngIf="!streamShown" class="odds-icon-stream" data-crlat="oddsIconStream" >
                  <use xlink:href="#stream"></use>
                </svg>
                <span *ngIf="!streamShown" draggable="false" [i18n]="'sb.watch'" data-crlat="tab"></span>
                <span *ngIf="streamShown" draggable="false" [i18n]="'sb.done'" data-crlat="tab"></span>
              </div>
            </div>

            <div *ngIf="favouritesVisible" class="fav-and-notification-btn">
              <favourites-add-button
                class="football-favourites"
                [event]="eventEntity"
                [sportName]="sportName">
              </favourites-add-button>
              <div *ngIf="footballAlertsVisible" (click)="onFootballBellClick()"
                   class="notification-icon-wrapper fav-icon">
                <svg *ngIf="footballBellActive">
                  <use xlink:href="#bell-icon-on"></use>
                </svg>
                <svg *ngIf="!footballBellActive">
                  <use xlink:href="#bell-icon-off"></use>
                </svg>
              </div>
            </div>

          </div>
        </div>

        <ul  *ngIf="!showNewUserTabs"
          class="events-tabs" data-crlat="userTabs">
          <li (click)="setActiveUserTab('markets')"
              [ngClass]="{active: activeUserTab === 'markets'}"
              *ngIf="isMarketsTabAvailable()"
              data-crlat="tab.tpTabs">
            <span draggable="false" [i18n]="'sb.tabsMarkets'" data-crlat="tab"></span>
          </li>
          <li (click)="setActiveUserTab('myBets')" [hidden]="!isLoggedIn || !myBetsAvailable"
              [ngClass]="{active: activeUserTab === 'myBets'}"
              data-crlat="tab.tpTabs">
            <span draggable="false" data-crlat="tab">{{ myBets }}</span>
          </li>
          <li (click)="playStream($event)" [hidden]="!eventEntity.liveStreamAvailable" data-crlat="tab.tpTabs">
            <span *ngIf="!streamShown || !isLoggedIn" draggable="false" [i18n]="'sb.watchLive'" data-crlat="tab"></span>
            <span *ngIf="streamShown && isLoggedIn" draggable="false" [i18n]="'sb.watchStop'" data-crlat="tab"></span>
            <svg class="watch-live-icon">
              <use xlink:href="#watch-live-icon"></use>
            </svg>
          </li>
        </ul>

        <!-- My bets -->
        <lazy-component *ngIf="activeUserTab === 'myBets' && myBetsAvailable && isLoggedIn"
          data-crlat="placedBets" token="DYNAMIC_MY_BETS"
          [inputs]="{ placedBets: placedBets, cashoutIds: cashoutIds, cashoutBets: cashoutBets, eventId: eventId }">
        </lazy-component>

      <div *ngIf="activeUserTab === 'markets'" data-crlat="tabContent">
        <no-events *ngIf="!eventEntity?.markets?.length" [message]="'sb.noMarketsAvailable'"></no-events>
        <edp-surface-bets-carousel *ngIf="(isOutRight || isEnhanceMultiples) && eventEntity?.id" [eventId]="eventEntity.id"></edp-surface-bets-carousel>
        <!-- Outrights Event Page -->
        <div *ngIf="isOutRight" class="tab-content">
          <event-markets [eventEntity]="eventEntity" [panelType]="'outright'" data-crlat="accordionsList"></event-markets>
        </div>

          <!-- Enhanced Multiples Event Page -->
          <div *ngIf="isEnhanceMultiples" class="tab-content" data-crlat="enhanceMultiplesMarket">
            <event-markets [eventEntity]="eventEntity"
                           [panelType]="'enhancedMultiple'"
                           data-crlat="enhancedMultiple"></event-markets>
          </div>
          <sport-event-page *ngIf="!isEnhanceMultiples && !isOutRight"></sport-event-page>
        </div>
      </div>
    </div>
  </ng-container>
</div>
