<span class="odds-head" *ngIf="head" [innerHTML]="head"></span>
<span *ngIf="handicapVal" class="handicap-btn">{{handicapVal}}</span>
<span class="odds-price" [textContent]="priceNum | oddsFormat:priceDen:priceType:isRacing" data-crlat="oddsPrice"></span>
