<offers-and-featured-races *ngIf="isExtraPlaceAvailable"
                           [events]="allEvents"
                           [sectionTitle]="offersAndFeaturedRacesTitle">
</offers-and-featured-races>

<next-races-module  [moduleType]="sportModule"
                    *ngIf="displayNextRaces"
                    [hideLoader]="true"
                    (eventsLoaded)="handleNextRacesLoaded()"
                    [headerVisible]="true"
                    [trackGa]="true">
</next-races-module>

<ng-container *ngFor="let module of featuredModuleData?.modules; index as i; trackBy: trackByModules">

  <inspired-virtual-module *ngIf="!responseError && isHorseracingVirtualsEnabled
                            && module['@type'] === 'VirtualRaceModule' && (module.data[0]?.id || module.data[0]?.name === 'VRC')"
                            [virtualsTitle]="module.title"
                            [sportName]="sportName"
                            [eventsData]="module.data">
  </inspired-virtual-module>

  <lazy-component *ngIf="!responseError && isTotePoolsAvailable
                  && (module['@type'] === 'InternationalToteRaceModule' && module.data[0]?.id || module.data[0]?.name === 'ITC')"
                  moduleUri="app/tote/tote.module#ToteModule"
                  [inputs]="{
                    sport: 'horseracing',
                    sportName: sportName,
                    sectionTitle: sectionTitle['UK'],
                    moduleTitle: module.title,
                    eventsData: module.data
                  }">
  </lazy-component>

  <racing-events *ngIf="!reloadEventsModule && (module['@type'] === 'RacingEventsModule' && !responseError && module.data[0]?.id)"
                 [racing]="races[module._id]"
                 [sectionTitle]="sectionTitle"
                 [byTimeEvents]="allEvents"
                 [sportName]="sportName"
                 [moduleTitle]="module.title"
                 [eventsOrder]="eventsOrder"
                 [filter]="filter"
                 [display]="display"
                 (gaTracking)="trackModule($event[0], $event[1])">
  </racing-events>

</ng-container>
<daily-racing-module *ngIf="(display === 'today' && filter === 'by-meeting') || display === 'featured'"
                     [eventsBySections]="racing.modules.dailyRacing.eventsBySections"
                     [collapsedSections]="racing.modules.dailyRacing.collapsedSections"
                     [sportName]="sportName" data-crlat="raceGrid">
</daily-racing-module>
<request-error *ngIf="responseError"
               [loadFailed]="responseError"
               (reloadFn)="reloadComponent()">
</request-error>
<!-- Show only when no events -->
<no-events *ngIf="!responseError && noEvents" [message]="'sb.noEventsFound'"></no-events>
