<outlet-status [state]="state" *ngIf="!state.loading && state.error">
  <request-error (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
<ng-container *ngIf="!state.loading && !state.error">
  <!--- Tabs -->
  <action-arrows>
    <action-arrows-content>
      <switchers
        *ngIf="!isSpecialEvent && eventEntity?.markets?.length"
        class="tab-switchers"
        data-crlat="panel.tabs"
        [type]="'scrollable'"
        [switchers]="eventTabs"
        [activeTab]="activeTab"
        [noPaddings]="true"
        [detectGTMLocation]="'location'"
      ></switchers>
    </action-arrows-content>
  </action-arrows>

  <edp-surface-bets-carousel *ngIf="showSurfaceBets" [eventId]="eventEntity.id"></edp-surface-bets-carousel>

  <!--- Sport Event Page -->
  <div *ngIf="!isSpecialEvent && !showFiveASideContent && !showYourCallContent"
     class="market-columns"
     data-crlat="accordionsList">
    <div class="market-column" *ngFor="let column of columns; let parentIndex = index">
      <ng-container *ngFor="let market of filteredMarketGroup; trackBy: getTrackByValue; let index = index">
        <ng-container *ngFor="let config of marketConfig; trackBy: getTrackById">
          <markets-group-component
            *ngIf="isHidden(index, parentIndex) && config && market.marketsGroup && marketAvailable[config.localeName] &&
                market.localeName === config.localeName"
            [markets]="marketGroup"
            [memoryId]="getMemoryId(index, market, true)"
            [memoryLocation]="marketsStorage"
            [marketsGroup]="config"
            [eventEntity]="eventEntity"
            [isExpanded]="isExpanded(index)">
          </markets-group-component>
        </ng-container>

        <correct-score *ngIf="market.viewType === 'correctScore' && isHidden(index, parentIndex)"
                       [market]="market"
                       [marketGroup]="marketGroup"
                       [eventEntity]="eventEntity"
                       [memoryId]="getMemoryId(index, market, true)"
                       [memoryLocation]="marketsStorage"
                       [isExpanded]="isExpanded(index)"
                       data-crlat="correctScoreMarket"></correct-score>

        <scorecast
          *ngIf="hasScorecastMarket(market) && isHidden(index, parentIndex)"
          [markets]="marketGroup"
          [memoryId]="getMemoryId(index + 1, market, true)"
          [memoryLocation]="marketsStorage"
          [eventEntity]="eventEntity"
          [isExpanded]="isExpanded(index)">
        </scorecast>

        <your-call-player-stats [marketsGroup]="market"
                                [memoryId]="getMemoryId(index, market, true)"
                                [isExpanded]="isExpanded(index)"
                                [memoryLocation]="marketsStorage"
                                [eventEntity]="eventEntity"
                                *ngIf="market.localeName === 'playerStats' && isEnabledOnCms() && isHidden(index, parentIndex)">
        </your-call-player-stats>

        <accordion *ngIf="isHidden(index, parentIndex) && !isYourCallMarket(market) && !market.marketsGroup && market.viewType !== 'correctScore'"
                   [isChevronToLeft]="true"
                   data-crlat="accordion"
                   [hidden]="market.hidden"
                   [memoryId]="getMemoryId(index, market)"
                   [memoryLocation]="marketsStorage"
                   [headerClass]="'secondary-header'"
                   [isHeaderHidden]="false"
                   [isExpanded]="isExpanded(index, market)"
                   (function)="changeAccordionState(index, $event)"
                   [ngClass]="{'accordion-margin': isHeaderHidden(market)}"
                   [accordionTitle]="market.name">
          <right-side>
            <!-- Promotional signposting -->
            <promotion-icon
              [type]="'market'"
              [mode]="'big'"
              [cashoutAvailable]="market.cashoutAvail === 'Y'"
              [display]="market.drilldownTagNames"
              data-crlat="promotionIcons">
            </promotion-icon>
          </right-side>

          <accordion-body>
            <div data-crlat="containerContent">
              <div class="container-inner-content" *ngIf="market.viewType === 'columns-1'" data-crlat="containerInnerContent">
                <div class="odds-card" *ngFor="let outcomeEntity of market.outcomes; trackBy: getTrackById" data-crlat="oddsCard">
                  <div class="odds-content">
                    <div class="odds-left">
                      <div class="odds-names odds-names-wrap" [textContent]="outcomeEntity.name" data-crlat="oddsNames"></div>
                    </div>
                    <div class="odds-right">
                      <price-odds-button [event]="eventEntity"
                                         [market]="market"
                                         [outcome]="outcomeEntity"
                                         class="one-row-btn">
                      </price-odds-button>
                    </div>
                  </div>
                  <div class="odds-footer" *ngIf="market.isSmartBoosts && outcomeEntity.wasPrice">
                    <div class="odds-right">
                      <div class="was-price">
                        <span [i18n]="'sb.wasPrice'"></span>
                        <strike [textContent]="outcomeEntity.wasPrice"></strike>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-inner-content" *ngIf="market.viewType === 'columns-2'" data-crlat="containerInnerContent">
                <div class="row row-center row-no-gutter row-last row-pad">
                  <div class="col-xs col-bordered" *ngFor="let outcomeEntity of market.outcomes; trackBy: getTrackById" data-crlat="oddsCard">
                    <div class="col-inner">
                      <strong class="col-name" [textContent]="outcomeEntity.name" data-crlat="outcomeEntity.name"></strong>
                      <price-odds-button [event]="eventEntity"
                                         [market]="market"
                                         [outcome]="outcomeEntity"
                                         class="one-row-btn">
                      </price-odds-button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-inner-content" *ngIf="market.viewType === 'columns-3' || market.viewType === 'columns-2-3'" data-crlat="containerInnerContent">
                <div class="row row-center row-no-gutter row-col-last row-pad" [equal-column]="market.viewType !== 'columns-3'"
                     [class.is-horizontal]="market.viewType === 'columns-3'">
                  <div class="col-xs col-bordered" *ngFor="let set of market.groupedOutcomes" data-crlat="market.outcomes">
                    <div *ngFor="let outcomeEntity of set; trackBy: getTrackById" class="col-inner col-vertical" data-crlat="oddsCard">
                      <strong class="col-name">
                        <span *ngIf="outcomeEntity.alphabetName"
                              [textContent]="outcomeEntity.alphabetName"
                              data-crlat="outcomeEntity.name"></span>
                        <span [textContent]="outcomeEntity.numbersName"></span>
                      </strong>
                      <price-odds-button [event]="eventEntity"
                                         [market]="market"
                                         [outcome]="outcomeEntity"
                                         class="one-row-btn">
                      </price-odds-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </accordion-body>
        </accordion>

        <ng-container *ngIf="isYourCallMarket(market) && isHidden(index, parentIndex)">
          <accordion
            [accordionTitle]="market.name"
            [isChevronToLeft]="true"
            [isExpanded]="isExpanded(index)"
            [inner]="true">
            <right-side>
              <cashout-label *ngIf="market.cashoutAvail === 'Y'"></cashout-label>
            </right-side>
            <accordion-body>
              <div class="odds-card"
                   *ngFor="let outcomeEntity of market.outcomes | slice:0:showLimit(market); trackBy: getTrackById"
                   data-crlat="oddsCard">
                <div class="odds-content">
                  <div class="odds-left">
                    <div class="odds-names odds-names-wrap" [textContent]="outcomeEntity.name" data-crlat="oddsNames"></div>
                  </div>
                  <div class="odds-right">
                    <price-odds-button [event]="eventEntity"
                                       [market]="market"
                                       [outcome]="outcomeEntity"
                                       [gtmModuleTitle]="[market.name, market.name].join('. ')">
                    </price-odds-button>
                  </div>
                </div>
              </div>
              <show-all-button
                *ngIf="market.outcomes.length > market.showLimit"
                (click)="toggleShowYourCallMarket(market)"
                [allShown]="market.isAllShown">
              </show-all-button>
            </accordion-body>
          </accordion>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="heuristic-container sk-container"
    [ngClass]="{'sk-loading': !initialized}"
    *ngIf="showFiveASideContent || showYourCallContent">
    <loading-screen
      [displayed]="(showYourCallContent || showFiveASideContent) && !initialized"
      [templateType]="'GENERIC'">
    </loading-screen>
    <lazy-component *ngIf="showFiveASideContent" moduleUri="@yourCallModule/your-call.module#YourCallModule"
      [inputs]="{eventEntity: eventEntity}" entryComponent="FiveASideTabContentComponent"
      (init)="childComponentLoaded()"
      (failed)="childComponentLoaded()">
    </lazy-component>
    <lazy-component *ngIf="showYourCallContent" moduleUri="@yourCallModule/your-call.module#YourCallModule"
      [inputs]="{eventEntity: eventEntity}" entryComponent="DesktopYourCallTabContentComponent"
      (init)="childComponentLoaded()"
      (failed)="childComponentLoaded()">
    </lazy-component>
  </div>
</ng-container>
