@import 'global.variables.less';

.event-title-bar {
  box-shadow: none;
  margin-bottom: 10px;
  background-color: @footer-bg;
  .align-items();

  .live-scores-team {
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    line-height: 13px;
  }
  &__fallback-container {
    width: 100%;
  }
}
