@font-face {
  font-family: 'Lato';
  src: url('../../../../assets/fonts/lato/lato-light/lato-light.eot');
  src: local('Lato Light'),
  local('Lato-Light'),
  url('../../../../assets/fonts/lato/lato-light/lato-light.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/fonts/lato/lato-light/lato-light.woff2') format('woff2'),
  url('../../../../assets/fonts/lato/lato-light/lato-light.woff') format('woff'),
  url('../../../../assets/fonts/lato/lato-light/lato-light.ttf') format('truetype'),
  url('../../../../assets/fonts/lato/lato-light/lato-light.svg#lato') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../../assets/fonts/lato/lato-regular/lato-regular.eot');
  src: local('Lato Regular'),
  local('Lato-Regular'),
  url('../../../../assets/fonts/lato/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/fonts/lato/lato-regular/lato-regular.woff2') format('woff2'),
  url('../../../../assets/fonts/lato/lato-regular/lato-regular.woff') format('woff'),
  url('../../../../assets/fonts/lato/lato-regular/lato-regular.ttf') format('truetype'),
  url('../../../../assets/fonts/lato/lato-regular/lato-regular.svg#lato') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../../assets/fonts/lato/lato-bold/lato-bold.eot');
  src: local('Lato Bold'),
  local('Lato-Bold'),
  url('../../../../assets/fonts/lato/lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/fonts/lato/lato-bold/lato-bold.woff2') format('woff2'),
  url('../../../../assets/fonts/lato/lato-bold/lato-bold.woff') format('woff'),
  url('../../../../assets/fonts/lato/lato-bold/lato-bold.ttf') format('truetype'),
  url('../../../../assets/fonts/lato/lato-bold/lato-bold.svg#lato') format('svg');
  font-weight: 700;
  font-style: normal;
}
