@import 'global.variables.less';
/*
.yc-specials {
  margin-top: 10px;
  filter-buttons .filter-buttons {
    margin: 0;
  }
  .scroll-container {
    &:after {
      content: none;
    }
    &.desktop-scroll-container {
      line-height: 0;
    }
    .scroll-inner {
      padding: 0;
      min-width: 100%;
    }
  }
}

.yc-specials-desktop .yc-specials-content {
  margin-bottom: 10px;

  & > div {
    .display-flex();
    .flex-direction(row);
    .flex-wrap(wrap);
  }
  .odds-card {
    .flex(0, 0, 100%);
    width: 100%;
    box-shadow: none;
    background-color: @color-white;
    padding: 0;
    position: relative;
    .odds-content {
      margin: 15px 10px 15px 15px;
      .odds-right {
        padding-left: 15px;
      }
    }
  }
  @media (min-width: 1280px) {
    .odds-card {
      .flex(0, 0, 50%);
      width: 50%;
      &:nth-child(2n+1):after {
        right: 0;
        top: 0;
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        background-color: @color-gray;
      }
    }
  }
}

.racing-content {
  .odds-side {
    font-size: 12px;
    color: @color-gray-dark;
  }

  .odds-normal {
    font-size: 12px;
    color: @color-gray-dark;
  }

  .odds-small {
    font-size: 11px;
    color: lighten(@color-gray-dark, 50%);
  }

  .odds-names.odds-names-wrap {
    font-size: 13px;
    color: @color-gray-dark;
  }

  .race-card.odds-card {
    padding: 0 0 0 10px;
    margin: -1px 0 0;

    &.tote-card {
      margin: -1px 10px 0;
    }

    &.smart-boosts {
      .odds-footer {
        margin-top: 0;
        padding: 0 10px 5px;
        .was-price {
          min-width: 90px;
        }
      }
    }

    .odds-content {
      min-height: 60px;

      .label-text {
        font-size: 9px;
        color: @color-gray-dark;
      }

      .toggle-icon {
        min-width: 6px;
        height: auto;
        margin-right: 17px;

        svg {
          width: 6px;
          height: 10px;
          fill: @color-gray-dark;
          margin: -3px 0 0;
        }
      }

      .btn-bet {
        min-height: 70px;
        min-width: 90px;
        background-color: @color-gray-light;
        position: relative;
        border-radius: 0;
        &.active {
          background: @color-green;
          .odds-price {
            color: @color-white;
          }
        }
        .odds-price {
          font-size: 14px;
          font-weight: 700;
          color: @color-gray-dark;
        }

        .previous-prices {
          font-size: 9px;
          font-weight: 700;
          color: @color-gray-dark;
          bottom: 4px;
          position: absolute;
          left: 0;
          right: 0;
        }
      }
    }
  }
}*/
