<div class="silk-img" [ngClass]="eventEntity.isUKorIRE ? 'with-default': 'inter-silk'"
    data-crlat="raceCard.silk" *ngIf="outcomeEntity.racingFormOutcome?.silkName">
    <div [ngStyle]="silkClass"></div>
</div>
