@import 'global.variables.less';

:host {
  .event-title-bar {
    &__fallback-container {
      background: @footer-bg;
      color: @color-white;
      font-family: @base-font-family;
      padding: 5px 2px 8px 4px;
      position: relative;

    }

    &__default-title {
      background: @color-white;
      color: @color-gray-darkest;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      margin: 8px 4px 8px;
      padding: 10px;
      text-align: center;
      position: relative;
      display: block;
    }
  }

  .event-name {
    font-size: 16px;
    margin: 0 0 4px;
  }

  .event-date {
    font-size: 11px;
    font-family: @alt-font-family;
  }

  .free-bet-ico {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 18px;
    height: 18px;
  }
}
