@import "../../../assets/styles/general.less";

.questions-info {
  position: relative;

  .info-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(100% / 3);
        width: 100%;
        &:nth-child(2n) {
          padding: 5px 25px 0;
          box-sizing: border-box;
        }
      }
      &__title {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      &__logo {
        height: 12px;
      }
      &__date {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
        text-align: center;
      }
      &__kit {
        width: 45px;
        height: 45px;
        display: block;
        margin-bottom: 10px;
      }
  }
}
