<div class="questions-info" >
    <ul class="info-list">
      <li class="info-list__item">
        <img class="info-list__kit"
             *ngIf="qeData.defaultQuestionsDetails.homeTeamSvgFilePath"
             [src]="qeData.defaultQuestionsDetails.homeTeamSvgFilePath">
        <h3 class="info-list__title"
            *ngIf="qeData.defaultQuestionsDetails.homeTeamName"
            [textContent]="qeData.defaultQuestionsDetails.homeTeamName"
        >
        </h3>
      </li>
      <li class="info-list__item">
        <p class="info-list__date"
           *ngIf="qeData.defaultQuestionsDetails.middleHeader"
           [textContent]="qeData.defaultQuestionsDetails.middleHeader"
        >
        </p>
        <img class="info-list__logo scalable-image"
             *ngIf="qeData.defaultQuestionsDetails.channelSvgFilePath"
             [src]="qeData.defaultQuestionsDetails.channelSvgFilePath">
      </li>
      <li class="info-list__item">
        <img class="info-list__kit"
             *ngIf="qeData.defaultQuestionsDetails.awayTeamSvgFilePath"
             [src]="qeData.defaultQuestionsDetails.awayTeamSvgFilePath">
        <h3 class="info-list__title"
            *ngIf="qeData.defaultQuestionsDetails.awayTeamName"
            [textContent]="qeData.defaultQuestionsDetails.awayTeamName"
        >
        </h3>
      </li>
    </ul>
  </div>
