@import 'global.variables.less';

@competitions-header-height: 45px;

.competition-type-events {
  .dropdown-navigation {
    width: 100%;
    height: 30px;
    background-color: @color-gray;
    color: @color-gray-dark;
    padding: 9px 10px;
    font-size: 10px;
    font-weight: bold;
    .display-flex();

    .back-button {
      text-transform: uppercase;
      position: relative;
      &:before {
        content: '<';
      }
    }

    .type-name {
      width: auto;
      margin: 0 auto;
    }
  }

  .competitions-header {
    height: @competitions-header-height;
    position: -webkit-sticky;
    position: sticky;
    top: @app-header-height + @top-bar-height;
    z-index: 6;
    font-size: 11px;
    font-weight: 900;
    color: @color-white;
    background: @brand-color-secondary;
    .display-flex();

    .competitions-title {
      padding-left: 10px;
      line-height: 45px;
      .flex(1,1);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .competitions-selector {
      .display-flex();
      .align-items();
      line-height: 45px;
      padding: 0 10px;
      white-space: nowrap;
    }

    .competitions-selector-title {
      font-weight: normal;
    }

    .competitions-selector-icon {
      height: 17px;
      width: 17px;
      fill: @color-white;
      margin-right: 5px;
    }

    .competitions-selector-arrow {
      height: 4px;
      width: 8px;
      fill: @color-white;
      margin-left: 5px;
    }
  }

  .coupons-list {
    background: @color-gray;

    &.active {
      position: static;
      overflow: visible;
    }

    .coupons-wrap {
      padding: 5px 0 10px 0;
      height: auto;
    }
  }

  competitions-matches-tab {
    display: block;

    .sticky-market-selector {
      top: @app-header-height + @top-bar-height + @competitions-header-height;
    }
  }
}
