<div class="tab-content" [ngClass]="className" data-crlat="tab.showNextRacesModule" *ngIf="!isGermanUser">
  <accordion *ngIf="nextRacesModule?.storedEvents?.length && !showLoader"
             [isExpanded]="true"
             [headerClass]="headerClass"
             (function)="trackCollapse()"
             data-crlat="outerAccordion"
             [isHeaderHidden]="!headerVisible && widget"
             #nextRacesAccordion>
    <left-side>
      <span class="left-title-text" [i18n]="leftTitleText"  data-crlat="headerTitle.leftMessage"></span>
    </left-side>
    <accordion-body data-crlat="containerContent">
        <race-card
               *ngIf="nextRacesAccordion.isExpanded && nextRacesModule.storedEvents"
               [trackGa]="trackGa"
               [trackGaDesktop]="trackGaDesktop"
               data-crlat="raceCard"
               [raceIndex]="raceIndex"
               [raceOrigin]="'next-races'"
               [raceData]="nextRacesModule.storedEvents"
               [raceWidget]="widget"
               [raceMaxSelections]="nextRacesModule.limitOutcomesCount"
               [showBriefHeader]="false"
               [fluid]="fluid"
               [showTimer]="showTimer"
               [viewFullRaceText]="'racing.viewFullRace'"
               [gtmModuleTitle]="'next races'"
               [hideNonRunners]="true">
    </race-card>
    <show-more-link *ngIf="moduleAllLink"
                    [link]="showMoreLink.link" (function)="sendToGTM()"
                    [title]="showMoreLink.title" data-crlat="showMore"></show-more-link>
    </accordion-body>
  </accordion>
  <div class="spinner-loader spinner-dark" data-crlat="spinner.loader" *ngIf="showLoader"></div>
  <request-error *ngIf="ssDown && !showLoader" [loadFailed]="ssDown" (reloadFn)="reloadComponent()"></request-error>
</div>
