@import "../../../assets/styles/general.less";
@import '../../../../../../app/questionEngine/components/questionsPage/questions-info/questions-info.component.less';

.questions-info {
  .info-list {
    text-align: center;
    font-weight: bold;
    &-title {
      font-size: @font-size-tablet;
    }
    &-date {
      font-size: @font-size-md;
    }
  }
}
