@import 'global.variables.less';
.settings-container{
  padding-top: 12px;
}

.settings-block{
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom:8px;
  padding:16px;
}

.settings-row{
  padding: 0;
  .settings-title{
    font-family: @alt-font-family;
    font-size: 15px;
    color: @color-gray-darkest;
  }
  .lh-col{
    &.touch-id{
      width:60%;
    }
  }
}

.settings-sub-title{
  font-family: @alt-font-family;
  font-size: @font-size;
  color: @lBlack-light;
  padding: 6px 65px 0 0;
}


