<div class="sk-container" [ngClass]="{'sk-loading': state.loading}">
  <outlet-status [state]="state"></outlet-status>

  <div class="settings-container" *ngIf="!state.loading && !state.error">
    <!-- Touch ID Login -->
    <div class="item-inner settings-block" *ngIf="touchIDConfiguredShow">
      <div class="settings-row">
        <div class="lh-col touch-id">
          <label class="settings-title" [i18n]="'bma.userSettingsTouchIdLogin'" *ngIf="!isAndroid"></label>
          <label class="settings-title" [i18n]="'bma.userSettingsFingerprintLogin'" *ngIf="isAndroid"></label>
        </div>
        <div class="rh-col">
          <toggle-switch [initialState]="touchIdLoginLad"
                         (switcherControl)="setTouchIdLoginLad($event)"
                         [componentId]="'toggle-switch-touch-id'">
          </toggle-switch>
        </div>
      </div>
      <div class="settings-sub-title" [i18n]="'bma.userSettingsTouchIdLoginDescription'" *ngIf="!isAndroid"></div>
      <div class="settings-sub-title" [i18n]="'bma.userSettingsFingerprintDescription'" *ngIf="isAndroid"></div>
    </div>
    <!-- Quick Bet -->
    <div class="item-inner settings-block" *ngIf="allowQuickBetNotifications && !isTabletOrDesktop">
      <div class="settings-row">
        <div class="lh-col">
          <label class="settings-title" [i18n]="'bma.userSettingsQuickBet'"></label>
        </div>
        <div class="rh-col">
          <toggle-switch [initialState]="quickBetNotificationObj.status"
                         (switcherControl)="changeQuickBetSetting($event)"
                         [componentId]="'toggle-switch-quick-bet'"
                         data-crlat="allowQuickBetSwitch">
          </toggle-switch>
        </div>
      </div>
      <div class="settings-sub-title" [i18n]="'bma.userSettingsQuickBetDescription'"></div>
    </div>
    <!-- Timeline -->
    <div class="item-inner settings-block" *ngIf="config?.FeatureToggle?.Timeline && !isTabletOrDesktop">
      <div class="settings-row">
        <div class="lh-col">
          <label class="settings-title" [i18n]="'bma.userSettingsTimeline'"></label>
        </div>
        <div class="rh-col">
          <toggle-switch [initialState]="timelineObj.status"
                         (switcherControl)="changeTimelineSetting($event)"
                         [componentId]="'toggle-switch-timeline'"
                         data-crlat="allowTimelineSwitch">
          </toggle-switch>
        </div>
      </div>
      <div class="settings-sub-title" [i18n]="'bma.userSettingsTimelineDescription'"></div>
    </div>
    <!-- Odds Format -->
    <div class="item-inner settings-block">
      <div class="settings-row">
        <div class="lh-col">
          <label class="settings-title" [i18n]="'bma.userSettingsOddsFormatLabel'" data-crlat="oddsFormatLabel"></label>
        </div>
      </div>
      <div>
        <switchers [filter]="oddsFormat"
                   [switchers]="switchers"
                   [type]="'radio'"
                   data-crlat="switchers">
        </switchers>
      </div>
    </div>
    <!-- Send report -->
    <div class="item-inner settings-block" *ngIf="showDiagnostics">
      <div class="settings-row">
        <div class="lh-col">
          <label class="settings-title" [i18n]="'bma.userSettingsDiagnostics'"></label>
        </div>
        <div class="rh-col report-btn">
          <a [routerLink]="'/settings'" class="btn"
             (click)="sendReport()"
             [i18n]="'bma.userSettingsSendReport'"></a>
        </div>
      </div>
    </div>
  </div>
</div>
