<ng-container *ngIf="!state.loading && !state.error">
  <filter-buttons *ngIf="switchers.length" [items]="switchers" [position]="indexPage" data-crlat="switchers">
  </filter-buttons>
  <sport-matches-tab class="tab-content" [sport]="sport" [tab]="tab" data-crlat="accordionsList">
  </sport-matches-tab>
</ng-container>
<outlet-status [state]="state">
  <request-error (reloadFn)="reloadComponent()"></request-error>
</outlet-status>