<div class="dropdown"
     [ngClass]="{ 'expanded': showMenu }"
     (blur)="menuToggle(false)">
  <div (click)="menuToggle()" class="dropdown-header">
    <span class="label" [textContent]="formation.stat"></span>
    <svg class="dropdown-down-arrow">
      <use [attr.xlink:href]="'#down-arrow'"></use>
    </svg>
  </div>

  <div class="overlay" (click)="clickHandler($event)"></div>

  <ul class="dropdown-menu">
    <li class="menu-item"
        *ngFor="let statItem of stats; trackBy: trackByFn;"
        (click)="clickItem(statItem)"
        [ngClass]="{ 'active': statItem.id === formation.statId }">
      <span class="menu-title" [textContent]="statItem.title"></span>
    </li>
  </ul>
</div>
