<div class="bet-promotions" *ngIf="promoIcons?.length">
  <div class="icon-stake" *ngFor="let icon of promoIcons" >
    <div class="svg-wrapper" [ngClass]="icon.name">
      <svg class="icon-svg">
        <use [attr.xlink:href]="'#' + icon.svgId"></use>
      </svg>
    </div>
    <div class="icon-text" [i18n]="icon.label"></div>
  </div>
</div>
