@import 'global.variables.less';

.bet-promotions {
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid @color-gray;
  padding: @bet-promos-padding 0;
  .bet-promos-after();
  .icon-stake {
    padding: @bet-promos-extra-padding @bet-promos-padding;
    border-left: 1px solid @color-gray;
    display: flex;
    justify-content: flex-start;

    &:first-child {
      border-left: 0;
    }
    .svg-wrapper {
      width: 24px;
      height: 24px;
      margin-right: @bet-promos-padding;

      &.boosted {
        .bet-promos-boosted();
      }

      &.money-back {
        .bet-promos-money-back();
      }
    }

    .icon-svg {
      width: 24px;
      height: 24px;
    }

    .icon-text {
      font-size: @bet-promos-font-size;
      font-family: @alt-font-family;
      color: @bet-promos-color;
      line-height: @bet-promos-line-height;
      padding-left: 0;
      font-weight: normal;
    }
  }
}
