@import 'global.variables.less';

.bs-content {
  &:not(.bs-content-height) {
    @media only screen and (min-width: @tabletPoint) {
      max-height: none;
    }
  }

  .bs-selections-wrapper {
    overflow: auto;
    max-height: none;
  }
}

.bs-receipt-wrapper {
  .total-fee.total-fee-betslip {
    padding-top: 0;
    padding-bottom: 16px;
  }
}

:host {
  .sk-container {
    height: 100%;
  }
}

// ios scroll fix
.scrollable-content {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
