<div class="sk-container" [ngClass]="{'sk-loading': !loadComplete && !loadFailed, 'widget': isTablet}">

  <loading-screen [displayed]="!loadComplete && !loadFailed" [templateType]="'GENERIC_BET'" [isUsedFromWidget]="isTablet"></loading-screen>

  <div class="bs-receipt-wrapper" *ngIf="loadComplete && !loadFailed" data-crlat="betslipReceipt">
    <div class="bs-content"
        [class.bs-content-height]="isDesktop"
        [class.all-bets-declined]="isAllBetsDeclined">
      <div class="bs-selections-wrapper scrollable-content" data-crlat="betreceiptSectionsContainer">
        <ds-betslip-link></ds-betslip-link>
        <ng-container *ngIf="!isAllBetsDeclined">
          <receipt-header [betDate]="betDate"></receipt-header>

          <betslip-receipt-subheader [events]="allEvents"
                                    [isFootballAvailable]="isFootballAvailable"
                                    [counter]="receiptsCounter">
          </betslip-receipt-subheader>
        </ng-container>

        <betslip-singles-receipt *ngIf="isSingles()"
                                [singleReceipts]="allReceipts.singles"
                                (winAlertsToggleChanged)="toggleWinAlerts($event)"
                                [winAlertsActive]="winAlertsActive"
                                [winAlertsEnabled]="winAlertsEnabled">
        </betslip-singles-receipt>
        <betslip-multiples-receipt *ngIf="isMultiples()"
                                  [multiReceipts]="allReceipts.multiples"
                                  [winAlertsEnabled]="winAlertsEnabled"
                                  [winAlertsActive]="winAlertsActive"
                                  (winAlertsToggleChanged)="toggleWinAlerts($event)">
        </betslip-multiples-receipt>

        <!--- Bet Slip Footer -->
        <div class="bs-footer" data-crlat="bsFoot">
          <bs-notification *ngIf="message && message.msg" [bsType]="message.type" [bsPosition]="'bottom'" [bsMessage]="message.msg">
          </bs-notification>

          <!-- Total panel -->
          <betslip-total-wrapper *ngIf="!isAllBetsDeclined"
                                [totalFreeBetsStake] = "freeBetsStake"
                                [totalStake]="(totalStake || '0.00' | currency:currencySymbol:'code')"
                                [totalReturns]="(totalEstimatedReturns | currency:currencySymbol:'code') || 'N/A'">
          </betslip-total-wrapper>

          <div class="total-fee total-fee-betslip"
              data-crlat="taxMessage"
              *ngIf="isGermanUser"
              [i18n]="'bs.tax5'">
          </div>

          <div class="bs-buttons-wrapper">
            <button *ngIf="!overask.isInFinal"
                    class="base-btn reuse-selection-btn"
                    (click)="reuse()"
                    [disabled]="reusePending"
                    data-crlat="reuseButton">
              <spinner *ngIf="reusePending"></spinner>
              <span *ngIf="!reusePending" [i18n]="'bs.reuseSelection'"></span>
            </button>
            <button class="base-btn {{overask.isInFinal ? 'wide' : 'done'}}-btn" (click)="done()" data-crlat="doneButton">
              <span [i18n]="'bs.done'"></span>
            </button>
          </div>
        </div>
        <betslip-banner></betslip-banner>
      </div>
    </div>
  </div>

  <request-error *ngIf="loadFailed" [loadFailed]="loadFailed"></request-error>
</div>
