<div class="spinner-loader spinner-dark" *ngIf="!isLoaded" data-crlat="spinner.loader"></div>
<ng-container *ngIf="isLoaded && !isResponseError && eventsBySections.length">
  <lazy-component *ngIf="isMarketSelectorActive && isMarketSwitcherConfigured"
    moduleUri="src/platforms/coralDesktop/shared/components/marketSelector/market-selector.module#MarketSelectorModule"
    data-crlat="marketSelectorModule" entryComponent="MatchesMarketSelectorComponent" [inputs]="{sportId: sportId, 
                  multipleEventsDataSections: eventsBySections,sticky:false,
                  selectorType:'sportMatches'}" [outputs]="['filterChange','hideEnhancedSection']"
    (event)="handleOutput($event)">
  </lazy-component>
  <ng-container>
    <ng-container *ngFor="let eventsBySection of eventsBySections; trackBy:trackByTypeId; let i = index">
      <!--main sport events sections-->
      <accordion *ngIf="!eventsBySection.deactivated" [accordionTitle]="eventsBySection.sectionTitle"
        (function)="updateState($event, 'event', eventsBySection)" [isExpanded]="eventsBySection.isExpanded">
        <accordion-body *ngIf="eventsBySection.isExpanded">
          <div class="container-inner-content" data-crlat="containerInnerContent">
            <odds-card-header [events]="eventsBySection.events" [sportConfig]="sport?.sportConfig"
              [isFilterByTemplateMarketName]="true" [undisplayedMarket]="undisplayedMarket"
              [selectedMarket]="eventsBySection.defaultValue">
            </odds-card-header>
            <ng-container *ngFor="let eventEntity of eventsBySection.events; trackBy:trackById">
              <odds-card-component *ngIf="eventEntity.markets[0].outcomes.length" data-crlat="eventEntity"
                [sportConfig]="sport?.sportConfig" [event]="eventEntity"
                [isMarketSwitcherConfigured]="isMarketSwitcherConfigured"
                [selectedMarket]="eventsBySection.defaultValue" [isFilterByTemplateMarketName]="true"
                (marketUndisplayed)="reinitHeader($event)" [markets]="eventEntity.markets">
                <favourites-body>
                  <favourites-add-button data-crlat="addFavouritesButton" class="odds-side star-item"
                    [event]="eventEntity" [sportName]="'football'">
                  </favourites-add-button>
                </favourites-body>
                <promotions-body>
                  <!-- Promotional signposting -->
                  <promotion-icon class="odds-card-promotions-icon" [type]="'event'"
                    [display]="eventEntity.drilldownTagNames" data-crlat="promotionIcons">
                  </promotion-icon>
                </promotions-body>
              </odds-card-component>
            </ng-container>
          </div>
        </accordion-body>
      </accordion>
    </ng-container>
  </ng-container>
</ng-container>

<request-error *ngIf="isLoaded && isResponseError" (reloadFn)="loadMatchesData()" [loadFailed]="isResponseError">
</request-error>
<no-events *ngIf="isLoaded && !isResponseError && !eventsBySections.length"></no-events>