<div [ngClass]="{'no-margin': isBannerSectionEmpty}"
     id="banner-section"
     *ngIf="isBannersEnabled"
     data-crlat="sectionBanner" >
  <!-- Dynamic banners container -->
  <div id="aem-placeholder" *ngIf="showBanners"
       class="lc-carousel"
       [ngClass]="'lc-carousel--'+brand"
       [style.visibility]="bannersVisibility">
    <div class="swiper-container ng-carousel"
         *ngIf="offers?.length"
         [ngCarousel]
         [ngCarouselName]="carouselName"
         [ngCarouselLoop]="true"
         [ngCarouselWatch]="offers.length"
         [ngCarouselFluid]="true"
         [ngCarouselTimer]="timePerSlide"
         [slidesToScroll]="1"
         (activeSlideIndex)="handleActiveSlide($event)">
      <slidecontainer class="carousel-slides" [ngClass]="{'carousel-no-scroll': offers.length === 1 || disableScroll}">
        <slide class="slide" *ngFor="let offer of offers; let i = index; trackBy: trackByPosition" [ngClass]="offer.active ? 'swiper-slide-active': ''">
          <div class="lc-offer" [ngClass]="offer.brand ? 'lc-offer--' + offer.brand : ''">
            <a class="lc-offer__link"
               (click)="actionHandler($event, offer)"
               [href]="offer.link"
               [target]="offer.target"
               data-crlat="banner-image"
               [attr.data-title]="offer.title"
               [attr.data-personalised]="offer.personalised"
               [attr.data-position]="offer.position">
              <img *ngIf="i === 0" class="lc-offer__image"
                   (load)="onFirstImageLoaded()"
                   onerror="this.style.display='none'"
                   [attr.src]="offer.imgUrl"
                   [alt]="offer.altText"/>
              <img *ngIf="i > 0" class="lc-offer__image lc-lazy-image"
                   (error)="removeSlideOnError(i)"
                   [ngClass]="offer.imgClass ? offer.imgClass : ''"
                   [attr.src]="firstImageLoaded ? offer.imgUrl : null"
                   [attr.data-src]="!firstImageLoaded ? offer.imgUrl : null"
                   [alt]="offer.altText"/>
            </a>
            <a *ngIf="offer.tcText"
               class="lc-offer__terms"
               data-crlat="banner-terms"
               [href]="offer.tcLink">
              <div class="lc-offer__text" [innerHTML]="offer.tcText"></div>
            </a>
          </div>
        </slide>
      </slidecontainer>
    </div>

    <ng-container *ngIf="offers?.length > 1">
      <div class="lc-carousel__prev arrow-chevron" *ngIf = "isSlided" (click)="prevSlide()"></div>
      <div class="lc-carousel__next arrow-chevron" (click)="nextSlide()"></div>
    </ng-container>
  </div>
</div>
