<ng-container *ngIf="!state.loading && !state.error" data-crlat="accordionsList">

  <div class="banner-block" data-crlat="bannerBlock">
    <!--- Banners Section-->
    <banners-section [page]="'home'" *ngIf="showBanner" data-crlat="bannersSection"></banners-section>
  </div>

  <!--- Enhanced multiples section -->
  <enhanced-multiples-carousel [isHomePage]="true" data-crlat="tab.showEnhancedMultiples"></enhanced-multiples-carousel>
  <!--- private-markets section -->
  <private-markets data-crlat="tab.showPrivateMarkets"></private-markets>

  <!--- in-play-live-stream section -->
  <inplay-live-stream></inplay-live-stream>

  <!--- Next 4 race module -->
  <next-races-module [fluid]="true"
                     [moduleAllLink]="true"
                     [moduleType]="'horseracing'"
                     [hostContext]="'featured-races'"
                     [trackGaDesktop]="true"
                     [showLoader]="true"
                     data-crlat="tab.showNextRacesModuleDesktop">
  </next-races-module>

  <lazy-component *ngIf="showRibbon()" moduleUri="@yourCallModule/your-call.module#YourCallModule"
                  entryComponent="DesktopBybHomeComponent" data-crlat="tab.showBYBModule">
  </lazy-component>

  <!--- Featured Modules -->
  <lazy-component moduleUri="@featuredModule/featured.module#FeaturedModule"
                  data-crlat="tab.showFeaturedContent">
  </lazy-component>

  <quick-links class="quick-links-container"></quick-links>
</ng-container>

<outlet-status [state]="state">
  <request-error (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
