@import 'global.variables.less';

.tooltip {
  width: 185px;
  background-color: @color-blue-dark;
  color: @color-white;
  text-align: left;
  border-radius: 1px;
  position: absolute;
  transform: translateY(10px) translateX(-150px);
  z-index: 6;
  margin-top: 8px;
  padding: 10px;
  line-height: 1.2;
  font-size: 13px;
  font-weight: 100;
  white-space: normal;

  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: -15px;
    right: 35px;
    border-bottom-color: @color-blue-dark;
    border-width: 8px;
    margin-left: -10px;
  }
  
  &:before {
    display: none;
  }
}

:host-context(.bs-tooltip) {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  .tooltip {
    transform: translateX(-50%);
    top: 2px;
    left: 50%;
    width: 200px;
    font-size: 13px;
    font-weight: normal;
    background-color: @brand-color-dark;
    padding: 12px;
    border-radius: 2px;
  }
  .tooltip:after {
    top: -19px;
    right: 50%;
    transform: translateX(50%);
    border-bottom-color: @brand-color-dark;
    border-width: 10px;
  }
}
