<nav class="virtual-carousel-menu">
  <div class="scroll-container" [scrollable]>
    <ul class="scroll-inner scroll-inner--no-padding">
      <svg-list [list]="elementsInMenu"></svg-list>
      <li *ngFor="let menuElement of elementsInMenu; trackBy: trackByMenu">
        <a (click)="goToVirtual(menuElement)"
           [ngClass]="{active: menuElement.isActive}"
           target="{{menuElement.inApp ? '' : '_blank'}}"
           class="vc-item"
           data-crlat="item"
           [title]="menuElement.name"
           [linkHref]
           [routerLink]="menuElement.targetUri">
          <span class="vс-icon" data-crlat="virtualMenuCarouselItem">
            <svg data-crlat="svg" class="vc-svg" *ngIf="menuElement.svgId" [disable-dragging]>
              <use [attr.xlink:href]="'#' + menuElement.svgId"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
