<header class="accordion-header"
        *ngIf="!isHeaderHidden"
        (click)="toggled($event)"
        [ngClass]="headerClasses"
        data-crlat="containerHeader">
  <svg class="chevron-svg left" *ngIf="isChevronToLeft" data-crlat="chevronArrow"
       [ngClass]="{'chevron-up' : isExpanded && !isShowAll,
                   'chevron-down' : !isExpanded
                   }">
    <use xlink:href="#chevron-edp"></use>
  </svg>

  <div *ngIf="!accordionTitle" class="accordion-left-side">
    <ng-content select="left-side"></ng-content>
  </div>

  <div *ngIf="accordionTitle" class="accordion-left-side">
    <span class="header-title"
          [textContent]="accordionTitle"
          data-crlat="headerTitle.centerMessage"></span>
  </div>

  <div class="accordion-right-side">
    <ng-content select="right-side"></ng-content>
  </div>

  <svg class="chevron-svg" *ngIf="!isChevronToLeft" data-crlat="chevronArrow"
       [ngClass]="{'chevron-up' : isExpanded && !isShowAll,
                   'chevron-down' : !isExpanded
                  }">
    <use xlink:href="#chevron-main"></use>
  </svg>
</header>
<ng-content *ngIf="isExpanded" select="accordion-body"></ng-content>
