@import 'global.variables.less';

/* Container */
accordion {
  display: block;
  overflow: hidden;

  &.uppercase {
    & .header-title {
      text-transform: uppercase;
    }
  }

  &.is-expanded {
    box-shadow: @global-box-shadow;

    & > .accordion-header:not(.inner-header):after {
      display: none;
    }

    & > .inner-header:after {
      .transform(rotate(-135deg));
      margin-top: -3px;
    }
  }
  .virtual-accordion.accordion-header {
    min-height: 40px;
    padding: 10px 40px 10px 12px;
  }
  &.accordion-margin {
    box-shadow: none;
    border-bottom: none;
    overflow: visible;
  }

  &:last-child {
    margin-bottom: 10px;
  }

  & &:last-child {
    margin-bottom: 0;
  }

  &[hidden] {
    display: none;
  }

  &.capitalized {
    .header-title {
      font-family: @alt-font-family;
      font-size: 14px;
      line-height: @line-height-sm;
      text-transform: capitalize;
      font-weight: normal;
      display: inline-block;
    }
  }

  .accordion-header {
    font-family: @base-font-family;
    font-size: @font-size-tablet;
    line-height: @font-size-tablet;
    color: @lGray;
    background: @lGrayLight;
    font-weight: bold;
    position: relative;
    border-top: 1px solid @lGrayDark;
    border-bottom: 1px solid @lGrayDark;
    min-height: 36px;
    max-height: 36px;
    padding: 10px 31px 10px 12px;
    text-transform: uppercase;
    .display-flex();
    .align-items();

    .header-title, .left-title-text {
      line-height: @line-height-sm;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.no-text-transform {
      text-transform: none;
    }

    &.inner-header {
      .header-title, .left-title-text {
        line-height: 34px;
        max-height: 36px;
      }

      padding: 0 0 0 34px;
      font-family: @alt-font-family;
      font-size: @font-size-lg;
      line-height: 16px;
      color: @color-gray-darkest;
      font-weight: normal;
      text-transform: none;

      &:hover {
        cursor: pointer;
      }
    }

    >.header-title {
      width: 100%;
    }

    .accordion-right-side {
      flex-grow: 0;
    }
  }

  .chevron-svg {
    position: absolute;
    width: 11px;
    height: 6px;
    right: 12px;

    &.left {
      width: 12px;
      height: 8px;
      left: 10px;
      top: 13px;

      &.chevron-up {
        visibility: visible;
      }

      &.chevron-down {
        transform: rotate(-180deg);
      }
    }
  }

  accordion-body {
    display: block;
    border-bottom: 1px solid @lightest-grey;
  }

  .accordion-left-side {
    max-width: 100%;
    flex: 1;
  }

  .accordion-right-side {
    display: inline-flex;
    flex-grow: 0;
  }

  right-side {
    margin-right: -1px;
  }

  left-side {
    max-width: 100%;
  }

  accordion {
    margin: 4px 0 0;
  }

  see-all-link {
    font-size: @font-size-md;
    border-top: 1px solid transparent;
  }

  svg {
    fill: @lGray;
  }
}
