@import 'global.variables.less';

:host {
  display: block;
  font-family: @alt-font-family;
}

.header-container {
  .display-flex();
  .align-items(center);
  padding: 15px;
  background-color: @color-white;
}

.left {
  flex: 1;
  text-align: left;
}
.right {
  text-align: right;
}

.primary-header {
  font-size: 15px;
  color: @lBlack-medium;
}
.secondary-header {
  display: flex;
  align-items: center;
  color: @lBlack-light;
  font-size: 12px;
  span > {
    display: inline-block;
  }
}

.info-mark {
  display: inline-flex;
  margin: 0 8px;
  svg {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
}
