<modal #dialog data-crlat="d.freeBetSelect">
  <ng-template #modalBody>
    <div class="wrap">
      <header class="header">
        <span class="header-text" data-crlat="dTitle" [i18n]="'bs.freeBetsAvailable'" [i18nArgs]="[freeBets.length]"></span>
        <svg class="close-icon" (click)="closeDialog()" data-uat="popUpCloseButton">
          <use xlink:href="#close-icon"></use>
        </svg>
      </header>
      <ul class="list">
        <li *ngFor="let freeBet of freeBets; trackBy: trackByIndex">
          <span class="option" [class.selected]="freeBet === selected" data-crlat="freebetStakeContainer"
                (click)="freeBetClick(freeBet)">
            <span class="option-circle" data-crlat="freebetStakeCircle"></span>
            <span class="option-text" data-crlat="freebetStakeName" [textContent]="freeBet.name"></span>
          </span>
        </li>
      </ul>

      <div class="btn-group">
        <button class="btn btn-add"
                [i18n]="'bma.addFreeBet'"
                [class.disabled]="!selected"
                [disabled]="!selected"
                (click)="addFreeBet()"
                data-crlat="add"></button>
      </div>
    </div>
  </ng-template>
</modal>
