@import 'global.variables.less';

:host {
  ::ng-deep .modal {
    .modal-content {
      .modal-body {
        max-height: none;
      }
    }
  }
}

.wrap {
  padding: 24px 0 0;

  .header {
    position: relative;
    padding-right: 20px;

    .header-text {
      font-weight: bold;
      color: @lGray;
      font-size: 15px;
    }

    .close-icon {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      fill: @lGray;
      cursor: pointer;
    }
  }

  .list {
    font-family: @core-font-family;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 410px;
    overflow: auto;

    .option {
      position: relative;
      cursor: pointer;
      padding-left: 27px;
      padding-right: 5px;
      display: inline-block;
      word-break: break-word;
      font-size: 13px;

      &.selected .option-circle:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #3a3d49;
      }
    }

    .option-circle {
      position: absolute;
      top: calc(50% - 10px);
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #cccccc;
      border-radius: 100%;
      background-color: #f8f8f8;
      padding: 3px;
    }

    .option-text {
      color: @color-gray-darkest;
      opacity: 0.75;
    }

    li {
      margin-top: 15px;

      &:last-child {
        margin-bottom: 5px;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 0;

    .btn-add {
      height: 35px;
      width: 100px;
      font-family: @base-font-family;
      color: @color-white;
      background-color: @btn-bg-green-color;

      &.disabled {
        opacity: 1;
        background-color: @color-green-disabled;
      }
    }
  }
}
