.bet-filter-dialog {
  .modal-dialog {
    width: 85%;
    .modal-body {
      padding: 0px;
    }
    .modal-header {
      text-transform: uppercase;
    }
  }
  .separator-field {
    border-bottom: 1px solid @color-gray;
    margin: 0 -15px;
    position: relative;
    &>span {
      position: absolute;
      background: @color-white;
      padding: 0 3px;
      left: 50%;
      top: 0;
      margin: -8px 0 0 -8px;
      height: 20px;
      width: 20px;
      text-align: center;
    }
  }
  .btn-group {
    text-align: center;
    padding: 15px;
    .btn {
      height: 40px;
      width: 50%;
      box-shadow: initial;
      text-transform: uppercase;
      margin-top: 20px;
    }
    p {
      padding: 13px;
      margin: 0;
    }
  }
}
