@import 'global.variables.less';

:host-context(.next-races) {
  .race-card-carousel {
    ::ng-deep {
      .race-header {
        height: @race-header-height;
        min-height: auto;
        border-radius: 2px 2px 0 0;
        padding: @race-card-h-padding;
        background: @color-gray-light;
        color: @color-gray-dark;
        font-family: @base-font-family;
        font-size: @font-size;
        line-height: @label-line-height;
        font-weight: bold;
        text-transform: uppercase;

        .text-area {
          .display-flex();
          .align-items(center);
          .justify-content(left);

          strong {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .race-next-link {
      width: auto;
      padding: @race-card-h-padding;
      flex: 0 1 auto;
      margin-left: auto;
      color: @color-gray-dark;
      font-family: @base-font-family;
      font-size: @font-size-sm;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: right;

      svg {
        display: none;
      }
    }
  }
}
