<ng-container *ngFor="let market of event.markets; trackBy: trackById">
  <div class="sport-card sticky-virtual-scroll-item"
       (click)="goToEvent(false, $event)"
       [attr.data-eventid]="event.id"
       *ngIf="isSportCard(market) && eventDisplayed(market) && !market.hidden"
       data-crlat="oddsCard.sportTemplate">
    <div class="sport-card-header">
      <div class="sport-card-left" data-crlat="oddsLeft">
        <favourite-icon
          *ngIf="isFootball && !isFavouritesDisabled"
          [isActive]="isFavouriteActive"
          [isOnMatch]="isMatchSortCode"
          data-crlat="addFavouritesButton"
          (click)="favouriteClickHandler($event)"
        ></favourite-icon>
        <div *ngIf="isStream || isEventStartedOrLive" class="watch-live-wrapper">
          <watch-label *ngIf="isStream" data-crlat="oddsIconStream"></watch-label>
          <live-label *ngIf="isEventStartedOrLive" data-crlat="live"></live-label>
        </div>
        <live-clock *ngIf="ifClockAllowed" [event]="event" data-crlat="liveClock"></live-clock>
        <span *ngIf="isLabelShown" [textContent]="oddsLabel" class="sport-card-label" data-crlat="oddsCardLabel"></span>
      </div>
      <div class="sport-card-right" data-crlat="oddsRight">
        <promotion-icon class="sport-card-promotions-icon"
                        (setPromotionIconStatus)="isPromotion = $event"
                        [type]="'event'"
                        [display]="event.drilldownTagNames"
                        [typeId]="event.typeId"
                        [mode]="'sm'"
                        data-crlat="promotionIcons">
        </promotion-icon>
        <span class="sport-card-next-score"
              *ngIf="market.nextScore">{{ (market.nextScore | callBack : addOrdinalSuffix : this) + ' Goal' }}</span>
        <a *ngIf="showMarketsCount"
           class="sport-card-more-link"
           [textContent]="event.marketsCount | eventMore"
           data-crlat="marketsCount"
           [linkHref]
           [link]="linkToEventPage"></a>
      </div>
    </div>

    <div class="sport-card-content" [ngClass]="{'odds-wrap': widget}" data-crlat="oddsContent">
      <div class="sport-card-left" data-crlat="oddsLeft">
        <!-- One name template -->
        <div class="sport-card-names"
             *ngIf="!isTeamNames"
             [ngClass]="{'sport-card-names-wrap': !isOddsSports}"
             data-crlat="oddsNames">
          <a [textContent]="eventName" data-crlat="singleEventName" [linkHref] [link]="linkToEventPage"></a>
        </div>
        <!-- Two teams template -->
        <div class="sport-card-names odds-names-list" *ngIf="isTeamNames" data-crlat="oddsNames">
          <a [textContent]="eventFirstName | eventName" data-crlat="EventFirstName" [linkHref] [link]="linkToEventPage"></a>
          <a [textContent]="eventSecondName | eventName" data-crlat="EventSecondName" [linkHref] [link]="linkToEventPage"></a>
        </div>
      </div>
      <div class="sport-card-right" data-crlat="oddsRight">
        <odds-card-score *ngIf="oddsScoresData"
                         [score]="oddsScoresData"
                         [boxScore]="boxScore"
                         [showServingTeam]="showServe"
                         [servingTeams]="servingTeams"
                         [isHeaderShown]="isInternalHeaderShown"
                         [class.long-boost]="showMarketsCount && isPromotion && !isHomeDrawAwayType">
        </odds-card-score>

        <!-- Sport Odds Buttons -->
        <div class="sport-card-btn-content" data-crlat="oddsBtnContent" (click)="$event.stopPropagation()"
             *ngIf="isOddsSports && selectedMarketObject.outcomes.length">
          <ng-container *ngFor="let outcomeEntity of correctedOutcomes; index as i">
            <div *ngIf="showTemplate(i)" class="sport-card-btn-wrapper" data-crlat="oddsBtnWrapper">
              <button *ngIf="outcomeEntity"
                      id="bet-{{outcomeEntity.id}}"
                      data-crlat="betButton"
                      price-odds-button
                      [last-made-bet]
                      class="price-odds-button btn-bet"
                      (click)="onPriceOddsButtonClick($event, event, selectedMarketObject, outcomeEntity)"
                      [class.active]="outcomeEntity.active"
                      [eventStatusCode]="event.eventStatusCode"
                      [displayed]="event.displayed"
                      [marketStatusCode]="market.marketStatusCode"
                      [outcomeStatusCode]="outcomeEntity.outcomeStatusCode"
                      [isRacing]="outcomeEntity.isRacing"
                      [nonRunner]="outcomeEntity.nonRunner"
                      [handicapVal]="outcomeEntity.prices[0]?.handicapValueDec"
                      [priceNum]="outcomeEntity.prices[0]?.priceNum"
                      [priceDen]="outcomeEntity.prices[0]?.priceDen"
                      [priceDec]="outcomeEntity.prices[0]?.priceDec"
                      [priceType]="outcomeEntity.prices[0]?.priceType">
              </button>
            </div>
            <div *ngIf="isHomeDrawAwayType && !isFootball && !showTemplate(i) && !outcomeEntity" class="sport-card-btn-wrapper" data-crlat="oddsBtnWrapper"></div>
          </ng-container>
        </div>
        <div>
          <div (click)="$event.stopPropagation()">
            <button *ngIf="!isOddsSports && market?.outcomes[0]"
                    id="bet-{{market.outcomes[0].id}}"
                    price-odds-button
                    [last-made-bet]
                    class="price-odds-button btn-bet"
                    (click)="onPriceOddsButtonClick($event, event, market, market.outcomes[0])"
                    [class.active]="market.outcomes[0].active"
                    [eventStatusCode]="event.eventStatusCode"
                    [displayed]="event.displayed"
                    [marketStatusCode]="market.marketStatusCode"
                    [outcomeStatusCode]="market.outcomes[0].outcomeStatusCode"
                    [isRacing]="market?.outcomes[0].isRacing"
                    [nonRunner]="market?.outcomes[0].nonRunner"
                    [priceNum]="market.outcomes[0].prices[0]?.priceNum"
                    [priceDen]="market.outcomes[0].prices[0]?.priceDen"
                    [priceDec]="market.outcomes[0].prices[0]?.priceDec"
                    [priceType]="market.outcomes[0].prices[0]?.priceType">
            </button>
          </div>
          <div class="sport-card-was-price" *ngIf="market.isSmartBoosts && wasPrice">
            <span [i18n]="'sb.wasPrice'"></span>&nbsp;
            <span [textContent]="wasPrice"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
