@import 'global.variables.less';

@deflt-padd-val: 12px;
@small-padd-val: 6px;
@sport-card-padding: @deflt-padd-val @deflt-padd-val 8px @deflt-padd-val;
@sport-card-header-height: 15px;
@sport-card-header-content-between: 10px;
@sport-card-content-height: 40px;
@sport-card-price-button-width: 50px;

@sport-card-labels-font-size: 11px;
@sport-card-default-font-size: 13px;

// styles
.sport-card {
  display: block;
  position: relative;
  padding: @sport-card-padding;

  background: @color-white;
  color: @color-gray-darkest;
  border-top: 1px solid @lGrayLight;
  font-family: @alt-font-family;
  font-size: @sport-card-default-font-size;

  .sport-card-left {
    .display-flex();
    .align-items(center);
    .flex(1, 1, auto);
    max-width: 100%;
    overflow: hidden;
  }

  .sport-card-right {
    .display-flex();
    .align-items(center);
    .justify-content(flex-end);
    .flex(1, 0, auto);
    width: auto;

    .sport-card-was-price {
      font-family: @base-font-family;
      font-size: 14px;
      font-weight: bold;
      text-decoration: line-through;
      margin: 5px 0;
    }
  }

  .sport-card-header {
    .display-flex();
    .align-items(center);
    height: @sport-card-header-height;
    margin-bottom: @sport-card-header-content-between;
    font-size: @sport-card-labels-font-size;
    line-height: @sport-card-header-height;

    // left header side
    .watch-live-wrapper + live-clock,
    .watch-live-wrapper + .sport-card-label {
      margin-left: 8px;
    }

    .watch-live-wrapper {
      display: inline-flex;
      border-radius: 1px;
      overflow: hidden;
    }
    // right header side

    .sport-card-promotions-icon,
    .sport-card-promotions-icon div,
    .sport-card-promotions-icon svg {
      height: 15px;
    }

    .sport-card-more-link {
      font-size: @sport-card-labels-font-size;
      font-family: @base-font-family;
      color: @color-blue-alt;
      white-space: nowrap;
      font-weight: bold;
      line-height: @sport-card-header-height;
      text-transform: uppercase;
      padding: 0 5px;

      &:after {
        content: '';
        position: relative;
        top: -2px;
        left: 4px;
        border: solid @color-blue-alt;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        .transform(rotate(-45deg));
      }
    }

  }

  .sport-card-content {
    .display-flex();
    .align-items(center);
    .flex-flow(row, nowrap);
    .justify-content(space-between);
    min-height: @sport-card-content-height;
  }

  .sport-card-names {
    text-overflow: ellipsis;
    overflow: hidden;

    a {
      display: block;
      color: @color-gray-darkest;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: @sport-card-content-height / 2;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      &:hover {
        text-decoration: none;
      }
    }

    &.sport-card-names-wrap {
      white-space: normal;
      width: 100%;

      a {
        white-space: normal;
      }
    }
  }

  // TODO global styles, remove when suppressed by <odds-card-score>
  .sport-card-score {
    .display-flex();
    .justify-content(flex-end);
    padding: 0 1px;
    font-size: @card-score-font-size;

    .score-column {
      position: relative;
      min-width: 20px;
      padding: 0 3px;
      font-weight: bold;
      line-height: @sport-card-content-height / 2;

      & > div {
        height: 20px;
        text-align: center;
      }

      .column-header {
        position: absolute;
        line-height: @sport-card-header-height;
        top: -23px;
        left: -2px;
        width: 24px;
        color: @lBlack-light;
        font-family: @base-font-family;
        font-weight: normal;
      }

      &.active-ball {
        padding: 0 5px 0 12px;
        width: 21px;
      }

      &--wide {
        width: 100%;
      }
    }

    .active-ball-icon {
      display: inline-block;
      background-color: @color-yellow-alt;
      width: 4px;
      height: 4px;
      margin: 5px 0 3px 0;
      border-radius: 50%;
    }
  }

  .sport-card-btn-content {
    .display-flex();
    margin-left: 3px;
  }

  .sport-card-btn-wrapper {
    width: @sport-card-price-button-width;
    margin-left: @small-padd-val;
  }

  button.btn.btn-bet,
  button.btn-bet {
    width: @sport-card-price-button-width;
  }
}

promotion-icon + span.sport-card-next-score {
  margin-left: 10px;
}

// extra margin for signposting
odds-card-score.long-boost {
  margin-right: 15px;
}
