<div class="race-cards-controls">
  <div class="race-cards-show-option" (click)="toggleShowOption()" *ngIf="showControl && !isGreyhoundEdp">
    <span class="show-option"
          [ngClass]="{'active' : showMore}">
      <span [textContent]="toggleInfoText"></span>
    </span>
  </div>

  <lazy-component *ngIf="sortOptionsEnabled"
                  moduleUri="src/platforms/ladbrokesMobile/lazy-modules/sortByOptions/sort-by-options.module#SortByOptionsModule"
                  [inputs]="{ sortBy: sortBy }"
                  class="sort-by-section"
                  data-crlat="sortingContainer">
  </lazy-component>
</div>
