<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <ng-container *ngIf="!state.loading && !state.error">
    <!--- Page Header -->
    <top-bar [title]="'bma.freebets'" data-crlat="topBar"></top-bar>

    <div class="item-inner text-right total-info-block" data-crlat="freebetBalance">
      <span [i18n]="'bma.cashBalanceFreeBet'"></span>
      <b [textContent]="sportBalance" data-crlat="cashBalance"></b><br/>
      <span [i18n]="'bma.totalBalance'"></span>
      <b [textContent]="totalBalance" data-crlat="totalBalance"></b>
    </div>

    <accordion class="freebets"
               [isExpanded]="true"
               [card]="true"
               *ngIf="freebets"
               data-crlat="myFreebets">
      <left-side [*ngIf]="totalFreeBets">
          <span class="freebets-label"
              data-crlat="totalFreebetBalance">
            <svg class="freebets-label-svg">
              <use xlink:href="#freebets"></use>
            </svg>
          </span>
          <span class="freebets-label" [textContent]="totalFreeBets" data-crlat="totalFreeBets"></span>
          <span class="left-title-text" [i18n]="'bma.freeBetsName'"  data-crlat="headerTitle.leftMessage"></span>
        </left-side>
      <accordion-body>
        <a class="event-panel r-event-panel"
           *ngFor="let freeBet of freebets; trackBy: indexNumber"
           [routerLink]="[freeBet.redirectUrl]"
           data-crlat="freebetItem">
          <div class="left-panel">
            <span class="freebet-name" [textContent]="freeBet.freebetOfferName" data-crlat="freebetName"></span><br/>
            <div class="freebet-date" *ngIf="freeBet.usedBy">
              <span [i18n]="'bma.useBy'"></span>
              <span class="black-text" [textContent]="freeBet.usedBy" data-crlat="usedBy"></span>
            </div>
            <div class="freebet-date" *ngIf="freeBet.expires">
              <span [i18n]="'bma.expiresFreeBets'"></span>
              <span class="black-text" [textContent]="freeBet.expires" data-crlat="expires"></span>
            </div>
          </div>
          <div class="right-panel">
            <span class="total-freebets" data-crlat="amount">
              <svg class="freebets-logo-icon">
                <use xlink:href="#freebets"></use>
              </svg>
              <span [textContent]="freeBet.amount"></span>
            </span>
            <svg class="freebets-arrow-icon">
              <use xlink:href="#next-arrow"></use>
            </svg>
          </div>
        </a>
        <no-events *ngIf="!freebets.length" [message]="'bma.noFreeBetsFound'"></no-events>
      </accordion-body>
    </accordion>
  </ng-container>
</div>
