:host a {
  height: 40px;
  min-width: 50px;
  max-width: 50px;
  cursor: pointer;
  position: relative;
  color: #fff;
  padding-left: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 3px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 0;
    border: solid #fff;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
  }
}
