<div class="sk-container" [ngClass]="{'sk-loading': state.loading}">
  <outlet-status [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <div *ngIf="!state.loading && !state.error">
    <top-bar *ngIf="couponName"
             [title]="couponName"
             class="header-bar"
             (titleFunc)="goToPage('sport/football/coupons')"
             [innerContent]="true">
      <top-bar-body class="top-bar-side" data-crlat="topBarContent">
        <a [routerLink]="'/bet-filter/filters/yourTeams'" class="bet-finder-link" data-crlat="betFilterLink"
           *ngIf="isBetFilterEnable && !isEventsUnavailable">
          <svg class="bet-finder-icon">
            <use xlink:href="#bet-finder-icon"></use>
          </svg>
          <span class="bet-finder-title" data-crlat="title" [i18n]="'bf.betFinder'"></span>
        </a>
      </top-bar-body>
    </top-bar>

    <loading-screen [displayed]="applyingParams" [templateType]="'GENERIC'"></loading-screen>

    <div class="heuristic-container top-margin" data-crlat="tabContent" *ngIf="!applyingParams">
      <div class="coupons-list" (click)="showCouponsList()" [class.active]="showCoupons">
        <div class="coupons-wrap">
          <loading-screen [displayed]="applyingList" [templateType]="'GENERIC'"></loading-screen>
          <coupons-list [couponsList]="couponsList" *ngIf="!applyingList"  data-crlat="couponsListContainer"></coupons-list>
        </div>
      </div>

      <div data-crlat="accordionsList" [hidden]="showCoupons">
        <lazy-component *ngIf="!couponsDetailsService.isCustomCoupon && !isEventsUnavailable && marketOptions?.length"
          moduleUri="@sharedModule/components/marketSelector/market-selector.module#MarketSelectorModule"
          entryComponent="MatchesMarketSelectorComponent"
          class="sticky-market-selector"
          data-crlat="couponType.default"
          [inputs]="{
            selectorType: 'footballCoupons',
            multipleEventsDataSections: couponEvents,
            marketOptions: marketOptions,
            sportId: couponsDetailsService.sportId
          }"
          [outputs]="['filterChange']"
          (event)="handleMatchesMarketSelectorEvent($event)">
        </lazy-component>

        <div class="coupons-container-js">
          <goalscorer-coupon *ngIf="couponsDetailsService.isGoalscorerCoupon"
                             [couponEvents]="couponEvents"
                             [eventIdFromEDP]="eventIdFromEDP"
                             data-crlat="couponType.goalscorer">
          </goalscorer-coupon>

          <correct-score-coupon *ngIf="couponsDetailsService.isCorrectScoreCoupon"
                                [couponEvents]="couponEvents" data-crlat="couponType.goalscorer"></correct-score-coupon>

          <ng-container *ngIf="!isEventsUnavailable && marketFilter && !couponsDetailsService.isCustomCoupon">
            <accordion *ngFor="let events of couponEvents; let i = index; trackBy: trackByTypeId"
                       [accordionTitle]="events.typeName"
                       [inner]="true"
                       [isExpanded]="isExpanded[i]"
                       (function)="changeAccordionState(i, $event)"
                       class="page-card"
                       data-crlat="accordion">
              <accordion-body *ngIf="isExpanded[i]">
                <ng-container *ngFor="let groupedBy of events.groupedByDate; trackBy: trackById">
                  <div class="container-inner-content"
                       *ngIf="!groupedBy.deactivated"
                       data-crlat="eventsGroupedByDate">
                    <div class="odds-card-header"
                         *ngIf="oddsHeader && oddsHeader.length" data-crlat="eventOddsHeader">
                      <div class="odds-left" *ngIf="groupedBy.title">
                        <span class="odds-header-title" [textContent]="groupedBy.title"  data-crlat="dateTitle"></span>
                      </div>
                      <div class="odds-right">
                        <span class="odds-header-col" *ngFor="let title of oddsHeader; trackBy: trackById"
                              [textContent]="title" data-crlat="headTitles"></span>
                      </div>
                    </div>
                    <odds-card-header *ngIf="!oddsHeader"
                                      [events]="groupedBy.events"
                                      [sportConfig]="footballService?.sportConfig"
                                      [dateTitle]="groupedBy.title"
                                      [isHeaderAlwaysVisible]="true"
                                      [isFilterByTemplateMarketName]="true"
                                      [selectedMarket]="marketFilter">
                    </odds-card-header>
                    <odds-card-component *ngFor="let eventEntity of groupedBy.events; trackBy: trackById"
                                         [event]="eventEntity"
                                         [sportConfig]="footballService?.sportConfig"
                                         [class]="'coupon-event-' + eventEntity.id"
                                         data-crlat="eventEntity"
                                         [isFilterByTemplateMarketName]="true"
                                         [selectedMarket]="events.defaultValue">
                      <promotions-body>
                        <promotion-icon class="odds-card-promotions-icon"
                                        [type]="'event'"
                                        [display]="eventEntity.drilldownTagNames"
                                        data-crlat="promotionIcons">
                        </promotion-icon>
                      </promotions-body>
                    </odds-card-component>
                  </div>
                </ng-container>
              </accordion-body>
            </accordion>
          </ng-container>
          <no-events *ngIf="isEventsUnavailable"></no-events>
        </div>
      </div>
    </div>
  </div>
</div>
