@import 'global.variables.less';

:host {
  .free-bet-label {
    .free-bet-icon {
      background-color: @color-yellow-alt;

      svg {
        margin: 0 0 -2px 4px;
        height: 12px;
      }
    }

    .free-bet-value {
      padding: 0 4px;
      border-radius: 0 2px 2px 0;
      background-color: @lGrayLight;
      font-family: @base-font-family;
      font-size: @font-size-md;
      color: @lGray;
    }
  }
}
