@import 'global.variables.less';

.race-details-container {
  display: block;
}

.rules-deduction {
  .display-flex();
  .flex-direction(column);
  justify-content: space-between;
  font-family: @alt-font-family;

  .rule-value {
    font-weight: bold;
  }
}

.dividends {
  white-space: nowrap;

  .section-header {
    font-size: @font-size-md;
    font-family: @base-font-family;
    .display-flex();
  }

  .result-card {
    font-size: @font-size;
    font-family: @alt-font-family;
    .display-flex();
  }

  .name-col {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    .flex(1, 1, auto)
  }

  .value-col {
    text-align: center;
    width: 46px;
    min-width: 46px;
    margin-left: 30px;
    display: inline-block;
  }

  .bold-col {
    text-align: right;
    font-weight: bold;
  }

  .dividend-result-col {
    text-align: center;
    width: 45px;
    min-width: 45px;
    display: inline-block;
  }
}


.section-container {
  background-color: @lGray-bg;
  color: @color-gray-darkest;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  &.results-list{
    .card-bordered{
      border-top: 2px solid @lGrayLight;
      &:nth-child(2) {
        border: 0;
      }
    }
  }

  &.space-top {
    margin-top: 8px;
  }

  &.rules-deduction {
    .result-card {
      font-size: 13px;
      .name-col{
        font-weight: normal;
      }
    }
  }

  .section-header {
    background-color: @lGrayLight;
    padding: 9px 24px 9px 12px;
    font-size: @font-size-md;
    box-shadow: 0 -1px 0 0 @lGrayDark, 0 1px 0 0 @lGrayDark;
    margin-bottom: 1px;
    .display-flex();

    &.top-section {
      .justify-content(space-between)
    }

    .result-odds-col {
      width: 36px;
      text-align: center;
      font-weight: normal;
    }
  }

  .result-card {
    padding: 12px 24px 12px 12px;
    background-color: @color-white;
  }

  ::ng-deep {
    .card-bordered {
      border-top: 2px solid @lGrayLight;

      &:nth-child(2) {
        border-top: none;
      }
    }
  }

  &.each-way-text {
    .result-card {
      min-height: 40px;
      padding: 4px 4px 4px 12px;
      .display-flex();
      .align-items(center);
      .justify-content(space-between);

      .racing-result-icons {
        .display-flex();
        .align-items();
        .justify-content(flex-end);

        ::ng-deep {
          .prom-icons {
            .middle-icon {
              width: 30px;
              height: 30px;
              background-color: @color-yellow-alt;

              .event-card-label {
                width: 17px;
                height: 17px;
                fill: @lGray;
              }
            }
          }
        }
      }
    }

    .terms-before-market {
      font-family: @alt-font-family;

      .term-value {
        line-height: 30px;
      }
    }
  }
}

.race-details-container.race-result {
  color: @color-gray-darkest;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 12px;

  .race-event-container {
    font-size: @font-size-lg;

    .race-event-time {
      padding-right: 5px;
    }
  }

  .race-title {
    font-size: @font-size;
    font-weight: bold;
  }

  .value {
    font-weight: normal;
    padding: 0;
  }

  .oval {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: @color-yellow-alt;
    margin: 0 8px 1px 0;

    &.green {
      background-color: @color-green;
    }
  }

  .race-details-container-l {
    .label {
      padding-right: 5px;
    }
  }
}
