@import 'global.variables.less';

.bs-subheader {
  .display-flex();
  .align-items(center);
  padding: 12px;
  background-color: @color-white;
  margin-bottom: 5px;
  .bs-count {
    .flex(2);
    text-align: left;
    color: @brand-color-dark;
    font-size: 14px;
  }
  .bs-clear {
    .flex(1);
    text-align: right;
    text-transform: uppercase;
    color: @brand-color-main;
    font-size: 12px;
    span {
      cursor: pointer;
    }
  }
}
