<div class="quickbet-info-spot">
  <p class="qb-stake-info" data-crlat="totalStake">
    <span [i18n]="'quickbet.stakeLabel'" data-crlat="label"></span>
    <span *ngIf="!selection.freebetValue" [textContent]="getTotalStake()" data-crlat="value"></span>
    <span class="freebet-stake" data-crlat="combinedStake" *ngIf="selection.freebetValue">
      <free-bet-label [selected]="selection.freebetValue"
                      [plus]="selection.stakeAmount > 0">
      </free-bet-label>
      <span *ngIf="selection.stakeAmount > 0" [textContent]="getStake()"></span>
    </span>
  </p>
  <p class="qb-return-info">
    <span [i18n]="'quickbet.estReturns'" data-crlat="estReturnsLabel"></span>
    <span [textContent]="getPotentialPayout()" data-crlat="totalEstReturns"></span>
  </p>
</div>
