<accordion *ngIf="eventsData?.length"
           [isExpanded]="isExpanded"
           (function)="trackModule(sectionTitle, sportName)"
           data-crlat="outerAccordion">
  <left-side>
    <span class="left-title-text" [textContent]="moduleTitle"  data-crlat="headerTitle.leftMessage"></span>
  </left-side>
  <accordion-body>
    <racing-panel [title]="'tt.toteEvents'"
                  [events]="eventsData"
                  (clickFunction)="clickEvent($event)"
                  *ngIf="eventsData.length"></racing-panel>
  </accordion-body>
</accordion>
