<div class="bs-receipt-wrapper" *ngIf="loadComplete && !loadFailed" data-crlat="betslipReceipt">
  <div class="bs-content">
    <div class="bs-selections-wrapper scrollable-content" data-crlat="betreceiptSectionsContainer">
      <ds-betslip-link></ds-betslip-link>
      <receipt-header [betDate]="betDate"></receipt-header>
      <betslip-receipt-subheader [counter]="receipts.length"></betslip-receipt-subheader>
      <!--- Bet Slip Tote -->
      <tote-bet-receipt-item *ngIf="toteBetDetails"
                             [toteBet]="toteBetDetails"
                             [poolCurrencyCode]="poolCurrencyCode"
                             [receipts]="receipts">
      </tote-bet-receipt-item>
      <!--- Bet Slip Footer -->
      <div class="bs-scrolling-fix-ios bs-footer-anchoring">
        <div class="scrollable-content prevented-container">
          <div class="bs-footer" data-crlat="bsFoot">

            <!-- Total panel -->
            <betslip-total-wrapper
              [totalStake]="(totalStake || '0.00' | currency: userCurrencySymbol: 'code')"
              [totalReturns]="'N/A'">
            </betslip-total-wrapper>

            <div class="bs-buttons-wrapper">
              <button class="base-btn reuse-selection-btn" (click)="reuse()"
                      data-crlat="reuseButton">
                <span [i18n]="'bs.reuseSelection'"></span>
              </button>
              <button class="base-btn done-btn" (click)="done()" data-crlat="doneButton">
                <span [i18n]="'bs.done'"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <betslip-banner></betslip-banner>
    </div>
  </div>
</div>

<div *ngIf="!loadComplete" class="spinner-loader spinner-dark" data-crlat="spinner.loader"></div>

<request-error *ngIf="loadFailed" [loadFailed]="loadFailed"></request-error>
