<div *ngFor="let sel of selections; trackBy: trackBySelectionId" class="byb-outcome" data-crlat="bybOutcome">
  <div class="outcome-title-container">
    <div class="outcome-title" data-crlat="outcomeTitle" [textContent]="sel.title"></div>
    <div class="tooltip-container" *ngIf="!sel.status && sel.showBetStatusIndicator === false">
      <span class="info-tooltip" (click)="toggleTooltip($event, sel)">
        <svg>
          <use xlink:href="#info-icon-bg"></use>
        </svg>
      </span>
      <span *ngIf="sel.showTooltip" class="tooltip-arrow"></span>
      <span class="stats-tooltip"
            [align-tooltip]
            [infoIconXPosition]="infoTooltipIconXPosition"
            [isUsedFromWidget]="isUsedFromWidget"
            *ngIf="sel.showTooltip"
            [i18n]="'byb.statsUnavailable'"></span>
    </div>
  </div>
  <div *ngIf="sel.desc" class="outcome-desc" data-crlat="outcomeDesc" [textContent]="sel.desc"></div>
  <div class="outcome-line"></div>
  <div *ngIf="!sel.showBetStatusIndicator" class="outcome-bullet"></div>
  <bet-status-indicator class="outcome-status-indicator"
                        *ngIf="betTrackingEnabled && sel.showBetStatusIndicator"
                        [status]="sel.status"
                        [isBetSettled]="betSettled"></bet-status-indicator>

  <!-- Progress bar and stats description -->
  <div class="bet-progress" *ngIf="betTrackingEnabled && sel.progress">
    <progress-bar *ngIf="!betSettled" [min]="0" [max]="sel.progress.target" [value]="sel.progress.current"></progress-bar>
    <div class="progress-desc" [textContent]="sel.progress.desc"></div>
  </div>
</div>
