@import 'global.variables.less';

.qb-info-panel {
  color: @lGray;
  padding: 15px 15px 14px 15px;
  position: relative;
  z-index: 5;
  background: @warning-msg-color;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 15px;
}
