@import 'global.variables.less';

@import 'global.variables.less';

.coupons-top-title {
  height: 40px;
  padding: 0 22px 0 12px;
  line-height: 25px;
  font-size: @font-size;
  font-family: @alt-font-family;
  font-weight: bold;
  text-transform: capitalize;
  color: @color-white;
  width: 100%;
  background: @gray-color;
  position: static;
  .display-flex();
  .transition();

  &.active .coupon-selector .coupon-selector-arrow {
    .transform(rotateX(180deg));
  }

  .coupon-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .flex(1,1);
    .display-flex();
    .flex-direction(column);
    .align-items(flex-start);
    .justify-content(center);
  }

  .coupon-selector {
    .display-flex();
    .align-items();
    white-space: nowrap;
    padding-left: 10px;
    cursor: pointer;

    .coupon-selector-title {
      text-decoration: none;
      font-weight: normal;
    }

    .coupon-selector-icon {
      height: 17px;
      width: 17px;
      fill: @color-white;
      margin-right: 5px;
    }

    .coupon-selector-arrow {
      height: 10px;
      width: 10px;
      fill: @color-white;
      margin: 1px 0 0 5px;
    }
  }
}

.coupons-list {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 6;
  height: 0;
  overflow: hidden;
  .transition(height);

  .coupons-wrap {
    min-height: 100%;
    overflow: hidden;
    background: @color-white;
    margin: 0 10px;

    coupons-list {
      margin: 0;

      ::ng-deep {
        list-card {
          border: 1px solid #efeff3;
        }
      }
    }
  }

  &.active {
    height: 100%;
    overflow-y: auto;
  }
}

.market-selector-sticky-margin {
  .coupons-list {
    margin-top: -40px;
  }
}
