@import 'global.variables.less';

@racing-desktop-header-title-font-size: 14px;
@racing-desktop-header-title-line-height: 16px;
@item-width: 66px;

:host {
  display: block;
  padding: 1px 0;
}

section {
  background-color: @color-white;
  padding-top: 12px;
  position: relative;
}

header {
  margin: 0 12px 12px;
  letter-spacing: 0;
  font-size: @racing-desktop-header-title-font-size;
  line-height: @racing-desktop-header-title-line-height;
  color: @color-gray-darkest;
  font-family: @alt-font-family;
}

.scroll-inner {
  padding: 0;
}

li {
  position: relative;
  padding-bottom: 14px;

  .scroll-container .scroll-inner & {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .race-time {
    color: @color-gray-darkest;
    font-size: 18px;
  }

  .race-name {
    color: @color-gray-darkest;
    font-size: 10px;
    font-family: @alt-font-family;

  }
}

.race-icon {
  left: calc(50% - 6px);
}

a {
  position: relative;
  min-width: @item-width;
  padding-left: 12px;
  padding-right: 12px;
  color: @color-gray-dark;

  &:hover {
    text-decoration: none;
  }

  div {
    font-size: 15px;
    font-weight: bold;
  }
  span {
    font-size: 11px;
  }

  li:not(:last-of-type) &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    display: block;
    width: 1px;
    height: 20px;
    background: @color-red-lightest;
  }
}
