@import 'global.variables.less';

.race-cards-controls {
    background: @lGray-bg;
    box-shadow: 0 -1px 0 0 @lGrayLight, 0 1px 0 0 @lGrayLight;
    margin-bottom: 1px;
    .display-flex();

  .race-cards-show-option {
    cursor: pointer;
    width: 105px;
    padding: 6px 10px;
    font-size: 11px;
    font-weight: bold;
    color: @color-blue;
    text-transform: uppercase;
    background: @lGray-bg;
  }
}

.sort-by-section {
 cursor: pointer;
 width: 100%;
 color: @color-blue;
}
