<div class="race-cards-controls">
    <div class="race-cards-show-option" (click)="toggleShowOption()" *ngIf="showControl && !isGreyhoundEdp">
      <span class="show-option"
            [ngClass]="{'active' : showMore}">
        <span [textContent]="toggleInfoText"></span>
      </span>
    </div>
  
    <lazy-component *ngIf="sortOptionsEnabled"
                    moduleUri="src/app/lazy-modules/sortByOptions/sort-by-options.module#SortByOptionsModule"
                    [inputs]="{ sortBy: sortBy }"
                    class="sort-by-section">
    </lazy-component>
  </div>