<quick-links-header *ngIf="isFootball()"></quick-links-header>
<ng-container *ngIf="isTierOne">
  <filter-buttons [items]="switchers" [position]="position" *ngIf="switchers.length" data-crlat="switchers">
  </filter-buttons>

  <div class="spinner-loader spinner-dark" *ngIf="loader" data-crlat="spinner.loader"></div>

  <div [ngClass]="{'tennis-competitions' : isTennis()}" data-crlat="categoriesList"
    *ngIf="currentTabCategories?.length">
    <competitions-category-list [categories]="currentTabCategories" [categoryId]="categoryId">
    </competitions-category-list>
  </div>
</ng-container>
<ng-container *ngIf="!isTierOne">
  <competitions-future-sport-tab [sport]="sport">
  </competitions-future-sport-tab>
</ng-container>
<request-error *ngIf="!loader && isResponseError"
               (reloadFn)="loadCompetitionsData(categoryName)"
               [loadFailed]="isResponseError">
</request-error>

<no-events *ngIf="!loader && !isResponseError && !currentTabCategories?.length"></no-events>
