@import 'global.variables.less';

.race-timer {
  .label {
    text-transform: uppercase;
    font-size: @font-size-md;
  }
  .label:after {
    content: " ";
  }
  .value {
    font-weight: bold;
    font-size: @font-size-md;
  }
}
:host-context(race-card) {
  .race-timer {
    .label, .value {
      text-transform: none;
      font-size: @font-size-sm;
    }
  }
}

:host-context(.race-details-timer) {
  .race-timer {
    margin: 5px 0 0;

    .label, .value {
      margin: 0;
      display: inline-block;
      color: @lBlack-medium;
      font-family: @alt-font-family;
      font-size: @font-size;
      font-weight: normal;
      text-align: left;
      text-transform: none;
    }

    .label:after {
      content: ":";
      margin: 0 3px 0 0;
    }
  }
}
