<div *ngIf="!isLoaded" class="spinner-loader spinner-dark" data-crlat="spinner.loader"></div>

<ng-container *ngIf="isLoaded">
  <ng-container *ngIf="eventsByCategory && filteredMatches.length; else noEventsBlock">
    <lazy-component *ngIf="isMarketSelectorAvailable && isMarketSwitcherConfigured && inner"
      moduleUri="src/platforms/ladbrokesDesktop/shared/components/marketSelector/market-selector.module#MarketSelectorModule"
      data-crlat="marketSelectorModule" entryComponent="DesktopMatchesMarketSelectorComponent" [inputs]="{
      sportId: sportId, 
        eventDataSection: eventsByCategory,
        sticky:isMarketSelectorSticky,
     selectorType:'sportCompetition'}" [outputs]="['filterChange']" (event)="filterEvents($event)">
    </lazy-component>
    <ng-container *ngFor="let groupedBy of filteredMatches; trackBy:trackByTypeId">
      <div *ngIf="!groupedBy.deactivated" class="container-inner-content" data-crlat="competitionLeague.item">
        <odds-card-header *ngIf="groupedBy.events.length" [events]="groupedBy.events" [sportConfig]="sport?.sportConfig"
          [selectedMarket]="selectedMarket(eventsByCategory)" [isFilterByTemplateMarketName]="true"
          [undisplayedMarket]="undisplayedMarket" [dateTitle]="groupedBy.title">
        </odds-card-header>
        <odds-card-component *ngFor="let eventEntity of groupedBy.events" [event]="eventEntity"
          [sportConfig]="sport?.sportConfig" [selectedMarket]="selectedMarket(eventsByCategory)"
          [isFilterByTemplateMarketName]="true" [isMarketSwitcherConfigured]="isMarketSwitcherConfigured"
          (marketUndisplayed)="reinitHeader($event)" [markets]="eventEntity.markets" data-crlat="eventEntity">
          <promotions-body>
            <!-- Promotional signposting -->
            <promotion-icon class="odds-card-promotions-icon" [type]="'event'" [typeId]="eventEntity.typeId"
              [display]="eventEntity.drilldownTagNames" data-crlat="promotionIcons">
            </promotion-icon>
          </promotions-body>
        </odds-card-component>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noEventsBlock>
    <no-events *ngIf="!isMarketSelected"></no-events>
  </ng-template>
</ng-container>