<div class="sk-container virtual-classes-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <ng-container *ngIf="!state.loading && !state.error">
    <div class="container" *ngIf="events">
      <div class="no-requested-event"
           *ngIf="requestedEventNotFound"
           [i18n]="'vsbr.requestedEventNotFound'"></div>
      <div [ngClass]="{'no-events': !currentEvent }">
        <div class="virtual-class-frame virtual-class-frame-t"
             [ngClass]="categoryAlias"
             *ngIf="!currentEvent">
        </div>
        <div class="virtual-class-frame" data-crlat="vsVideoStream" [ngClass]="{'d': isDesktop}">
          <vs-video-stream
            [baseStreamURL]="childMenu[activeChild]?.streamUrl"
            [deviceViewType]="this.deviceService.strictViewType">
          </vs-video-stream>
        </div>

        <!--  Child menu for specific parent    -->
        <virtual-carousel-sub-menu
          *ngIf="childMenu?.length"
          [activeMenuItemUri]="childMenu[activeChild]?.targetUriSegment"
          [menuElements]="childMenu"
          data-crlat="childVirtualCarouselMenu">
        </virtual-carousel-sub-menu>
      </div>

      <tabs-panel
        [tpTabs]="events"
        [routerLinkDisable]="true"
        [tpActiveTab]="currentEvent"
        (tpFunction)="onTabClick($event)"
        [maxElementsToDisplay]="childMenu[activeChild]?.numberOfEvents">
      </tabs-panel>

      <countdown-header
        [eventName]="currentEvent.event.name"
        [startTimeUnix]="currentEvent.event.startTimeUnix">
      </countdown-header>

      <div class="heuristic-container top-padding" *ngIf="currentEvent" data-crlat="accordionsList">
        <ng-container *ngIf="hasWinOrEachWay" [ngSwitch]="filter">
          <switchers class="btm-switchers no-margin"
                     [type]="'scrollable'"
                     [noPaddings]="true"
                     [filter]="filter"
                     *ngIf="switchers.length && switchers.length > 1"
                     [switchers]="switchers">
          </switchers>
          <ng-container *ngFor="let section of sections; trackBy: trackMarketSectionById;">
            <ng-container *ngIf="filter.includes(section.template.toLowerCase()) || filter.includes(section.marketName.toLowerCase())">
              <div class="terms-block" *ngIf="terms && showTerms && section.template.toLowerCase() === 'winew'" data-crlat="terms">
                <p class="terms-block-content" [textContent]="terms"></p>
              </div>
              <div class="virtual-cards-container">
                <vs-odds-card-component
                  [eventOutcomes]="section.children"
                  [eventOngoing]="isEventOngoing()"
                  [currentEvent]="currentEvent"
                  [template]="'WinEw'"
                  [showRunnerImages]="childMenu[activeChild]?.showRunnerImages"
                  [showRunnerNumber]="childMenu[activeChild]?.showRunnerNumber"
                  [gtmModuleTitle]="section.sectionTitle"
                  data-crlat="accordion">
                </vs-odds-card-component>
              </div>
              <div class="virtual-sport-btn" *ngIf="ctaText && ctaUrl">
                <button class="btn btn-style1 button-full-width"
                        (click)="goToCtaUrl()"
                        [textContent]="ctaText"
                        data-crlat="buttonSubmit">
                </button>
              </div>
            </ng-container>
          </ng-container>

          <lazy-component *ngSwitchCase="forecastFilter"
                          isLoaderEnabled="true"
                          moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                          [inputs]="{event: event, marketEntity: market, selectedPoolType: MARKETS_CONFIG[forecastFilter], isVirtual: true }"></lazy-component>
          <lazy-component *ngSwitchCase="tricastFilter"
                          isLoaderEnabled="true"
                          moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                          [inputs]="{event: event, marketEntity: market, selectedPoolType: MARKETS_CONFIG[tricastFilter], isVirtual: true }"></lazy-component>
        </ng-container>

        <ng-container *ngIf="!hasWinOrEachWay">
          <accordion class="virtual-cards-container"
                     [card]="true"
                     [isExpanded]="i === 0 || activeStatePanel(section.id)"
                     (function)="changeStatePanel(section.id)"
                     [isChevronToLeft]="true"
                     [isShowAll]="true"
                     [headerClass]="'virtual-accordion'"
                     *ngFor="let section of sections; trackBy: trackMarketSectionById; let i = index;"
                     data-crlat="accordion">
            <left-side>
              <span class="left-title-text" [i18n]="section.sectionTitle" data-crlat="headerTitle.leftMessage"></span>
            </left-side>
            <accordion-body>
              <div class="terms-block" *ngIf="terms && showTerms" data-crlat="terms">
                <p class="terms-block-content" [textContent]="terms"></p>
              </div>
              <vs-odds-card-component
                [eventOutcomes]="section.children"
                [eventOngoing]="isEventOngoing()"
                [currentEvent]="currentEvent"
                [template]="section.template"
                [templateMarketName]="section.templateMarketName"
                [showRunnerImages]="childMenu[activeChild]?.showRunnerImages"
                [showRunnerNumber]="childMenu[activeChild]?.showRunnerNumber"
                [gtmModuleTitle]="section.sectionTitle">
              </vs-odds-card-component>
            </accordion-body>
          </accordion>
          <div class="virtual-sport-btn" *ngIf="ctaText && ctaUrl">
            <button class="btn btn-style1 button-full-width"
                    (click)="goToCtaUrl()"
                    [textContent]="ctaText"
                    data-crlat="buttonSubmit">
            </button>
          </div>
        </ng-container>
      </div>

      <!-- Current event not available  -->
      <div class="item-inner text-center" *ngIf="!currentEvent">
        <strong [i18n]="'vsbr.unavailableEvents'"></strong>
      </div>
      <!-- eof Current event not available  -->
    </div>

    <div class="no-events" *ngIf="!events && !currentEvent">
      <div class="virtual-class-frame virtual-class-frame-t" [ngClass]="categoryAlias"></div>
      <div class="item-inner text-center">
        <strong [i18n]="'vsbr.unavailableEvents'"></strong>
      </div>
    </div>
  </ng-container>
</div>
