<div class="sk-container" [ngClass]="{'sk-loading': isNotAllModulesLoaded && !state.error}">
  <outlet-status [state]="state">
    <request-error (reloadFn)="reloadPage()"></request-error>
  </outlet-status>

  <div *ngIf="!state.error" class="heuristic-container">
    <div [hidden]="isNotAllModulesLoaded">
      <!--- Featured Modules -->
      <lazy-component moduleUri="@featuredModule/featured.module#FeaturedModule"
                      [inputs]="{sportId: sportId,
                                sportName: sportName,
                                shouldDisplayLoader: false}"
                      [outputs]="['isLoadedEvent', 'featuredEventsCount']"
                      (event)="updateLoadStatus(0, $event)"
                      data-crlat="tab.showFeaturedContent">
      </lazy-component>

      <sport-matches-tab #SportMatchesTab
                        [sport]="sport"
                        [featuredEventsCount]="featuredEventsCount"
                        (isLoadedEvent)="updateLoadStatus(1, $event)"
                        data-crlat="accordionsList">
      </sport-matches-tab>
    </div>
  </div>
</div>
