@import 'global.variables.less';

top-bar:host {
  position: relative;
  top: 0;

  .subheader {
    background: @lGray;
    overflow: hidden;

    .subheader-inner {
      padding: 0 10px 0 0;
      height: 40px;
      .user-select();
      .display-flex();
      .align-items();
    }

    .subheader-title {
      display: block;
      font: normal @font-size-lg/1.4 @alt-font-family;
      margin: 0 0 0 10px;
      color: @color-white;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      white-space: nowrap;
      pointer-events: none;

      &:hover {
        text-decoration: none;
      }
    }

    //back button
    .btn-back {
      height: 100%;
      width: 40px;
      min-width: 40px;
      background-color: @color-blue-dark-2;
      cursor: pointer;
      .display-flex();
      .align-items();
      .justify-content();
      svg {
        height: 12px;
        fill: @light-blue;
        width: 7px;
      }
      &:hover {
        svg {
          fill: @color-white;
        }
      }
    }

    .flex {
      .display-flex();
      .align-items(center);
    }
    .title-side {
      .flex(1, 1, auto);
      overflow: hidden;
    }
  }

  ::ng-deep {
    .odds-fav-icon {
      display: block;
      margin-right: 0;
      margin-left: 10px;
      width: 16px;
      height: 16px;
      .fav-icon-svg {
        width: 16px;
        height: 16px;
        stroke: @color-white;
      }
    }
    .date-side {
      .justify-content(flex-end);
      padding-left: 10px;
    }
    .event-date-time {
      font-size: 11px;
      line-height: 1.1;
      color: @color-white;
      white-space: nowrap;
    }
    .live-label {
      width: 30px;
      height: 15px;
      margin-right: 5px;
    }
    .competition-type-events .subheader-title {
      margin-right: 150px;
    }
  }
}

top-bar:host(.racing-top-bar) {
  .subheader {
    ::ng-deep {
      .title-side {
        .flex(0, 1, auto);
      }

      .bet-finder-link {
        margin: 0 10px;
        min-width: auto;
        padding: 0;
        .display-flex();
        .flex(0, 1, auto);
        .bet-finder-title {
          white-space: nowrap;
        }
      }

      date-info {
        .flex(1, 1, auto);
      }

      .date-side {
        .justify-content(flex-start);
      }
    }
  }
}
