<header class="subheader" data-crlat="topBar">
  <div class="subheader-inner">
    <a class="btn-back" data-crlat="btnBack" *ngIf="!backFunc.observers.length" [back-button]>
      <svg>
        <use xlink:href="#prev-arrow"></use>
      </svg>
    </a>
    <a class="btn-back" data-crlat="btnBack" *ngIf="backFunc.observers.length" (click)="backClickHandler()">
      <svg>
        <use xlink:href="#prev-arrow"></use>
      </svg>
    </a>
    <div class="title-side flex">
      <favourites-add-button
        *ngIf="isFavourites && event"
        [event]="event"
        [sportName]="sportName">
      </favourites-add-button>
      <h2 [textContent]="titleText | eventName" *ngIf="titleText" class="subheader-title" data-crlat="topBarTitle"></h2>
    </div>
    <ng-content select="date-info"></ng-content>
    <div>
      <ng-content select="top-bar-body"></ng-content>
    </div>
    <ng-content select="meeting-selector"></ng-content>
  </div>
</header>

