@import 'global.variables.less';

.switchers {
  background: @color-white;
  padding: 5px 10px 0;
  margin-bottom: 5px;
  display: flex;
  .switch-btn {
    font-family: @base-font-family;
    font-size: 12px;
    color: @lBlack-light;
    border-bottom: 3px solid @color-white;
    &.active {
      color: @lGray;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: @red;
        bottom: -3px;
        left: 0;
      }
    }
  }
}
