<ng-container *ngIf="showPlayer">
  <csb-player *ngIf="showCSBIframe"
              [providerInfo]="providerInfo"
              [performConfig]="performConfig"
              [streamCache]="streamCache"
              [eventEntity]="eventEntity"
              (playStreamError)="onPlayLiveStreamError($event)"></csb-player>

  <ng-container *ngIf="!showCSBIframe">
    <!-- IMG, Perform, AtTheRaces, RacingUK, RPGTV stream providers-->
    <video-stream-providers *ngIf="!eventEntity.streamProviders.iGameMedia && providerInfoAvailable"
                            [ngClass]="videoStreamProvidersCssClasses"
                            [performConfig]="performConfig"
                            [eventEntity]="eventEntity"
                            [colorSchema]="colorSchema"
                            [autoPlay]="autoPlay"
                            [providerInfo]="providerInfo"
                            [streamCache]="streamCache"
                            (playStreamError)="onPlayLiveStreamError($event)"></video-stream-providers>
    <!-- iGameMedia -->
    <i-game-media *ngIf="eventEntity.streamProviders.iGameMedia && providerInfoAvailable"
                  [ngClass]="iGameMediaCssClasses"
                  [eventEntity]="eventEntity"
                  [providerInfo]="providerInfo"
                  (playStreamError)="onPlayLiveStreamError($event)"></i-game-media>
  </ng-container>
</ng-container>

<div *ngIf="errorMessage && errorMessage.length > 0 && isDesktop" data-crlat="videoStreamErrorMessage"
     class="desktop-video-err-container desktop-error-message">
  <span [textContent]="errorMessage"></span>
</div>
