<div class="questions-info" >
    <ul class="info-list">
      <li class="info-list-item">
        <img class="info-list-kit"
             *ngIf="qeData.defaultQuestionsDetails.homeTeamSvgFilePath"
             [src]="qeData.defaultQuestionsDetails.homeTeamSvgFilePath">
        <h3 class="info-list-title"
            *ngIf="qeData.defaultQuestionsDetails.homeTeamName"
            [textContent]="qeData.defaultQuestionsDetails.homeTeamName"
        >
        </h3>
      </li>
      <li class="info-list-item">
        <p class="info-list-date"
           *ngIf="qeData.defaultQuestionsDetails.middleHeader"
           [textContent]="qeData.defaultQuestionsDetails.middleHeader"
        >
        </p>
        <img class="info-list-logo"
             *ngIf="qeData.defaultQuestionsDetails.channelSvgFilePath"
             [src]="qeData.defaultQuestionsDetails.channelSvgFilePath">
      </li>
      <li class="info-list-item">
        <img class="info-list-kit"
             *ngIf="qeData.defaultQuestionsDetails.awayTeamSvgFilePath"
             [src]="qeData.defaultQuestionsDetails.awayTeamSvgFilePath">
        <h3 class="info-list-title"
            *ngIf="qeData.defaultQuestionsDetails.awayTeamName"
            [textContent]="qeData.defaultQuestionsDetails.awayTeamName"
        >
        </h3>
      </li>
    </ul>
  </div>
