@import "../../../assets/styles/general.less";

.questions-info {
  position: relative;

  .info-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(100% / 3);
        width: 100%;
        &:nth-child(2n) {
          padding: 5px 12px 0;
          box-sizing: border-box;
        }
      }
      &-title {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      &-logo {
        height: 12px;
      }
      &-date {
        font-weight: bold;
        font-size: 11px;
        margin-bottom: 5px;
        text-align: center;
      }
      &-kit {
        width: 40px;
        height: 40px;
        display: block;
        margin-bottom: 10px;
      }
  }
}

@media @mqTabletAndDesktop {
  .questions-info {
    position: relative;

    .info-list {
      margin-bottom: 35px;

      &-logo {
        height: 17px;
      }
    }
  }
}
