<div class="inplay-livestream-section" *ngIf="competitions" data-crlat="tab.showInplay">
  <!--- Module Header -->
  <header class="header-panel">In-play and live stream</header>

  <!--inPlay LiveStram Sports Ribbon-->
  <sport-carousel
    *ngIf="menuItems.length"
    [menuElements]="menuItems">
  </sport-carousel>

  <switchers data-crlat="switchers"
             [filter]="activeFilter"
             [switchers]="switchers">
  </switchers>

  <div class="in-play-live-stream"
       *ngIf="activeFilter === viewByFilters[1] && activeEvent">
    <!-- Video Stream lazy component -->
    <lazy-component moduleUri="src/app/lazy-modules/eventVideoStream/event-video-stream.module#LazyEventVideoStreamModule"
                    [inputs]="{eventEntity: activeEvent, autoPlay: true, colorSchema: 'white-stream', preloadStream: true,
                    cssClassesForStreams: cssClassesForStreams}">
    </lazy-component>
  </div>

  <in-play-sport-tab
    *ngIf="isCompetitionsPresent()"
    [activeEvent]="activeEvent"
    [liveStreamTab]="activeFilter === viewByFilters[1]"
    [gtmDataLayer]="gtmDataLayer"
    [eventsBySports]="competitions"
    [sport]="sport"
    (update)="updateActiveEvent($event)">
  </in-play-sport-tab>
  <no-events *ngIf="!loading && competitions.length === 0"></no-events>
  <div *ngIf="loading" class="spinner-loader spinner-dark" data-crlat="spinner.loader"></div>

  <show-more-link *ngIf="footer"
                  (function)="footer.action()"
                  [link]="footer.link"
                  [title]="footer.title"
                  data-crlat="showMore">
  </show-more-link>
</div>
