<div class="bs-subheader" data-crlat="bsHead">
  <div class="bs-count">
    <span [i18n]="'bs.yourSelections'" data-crlat="bsHeadMsg"></span>:
    <span [textContent]="count" data-crlat="bsHeadCount"></span>
  </div>
  <div class="bs-clear">
    <span (click)="showConfirm()" [i18n]="'bs.removeAllSelections'" data-crlat="removeAllSelections"></span>
  </div>
</div>
