@import 'global.variables.less';

.bs-subheader {
  .display-flex();
  .align-items(center);
  padding: 13px 12px;
  background-color: @lGrayLight;
  border-bottom: 1px solid @lGrayDark;
  .bs-count {
    .flex(2);
    text-align: left;
    color: @color-gray-darkest;
    font-family: @alt-font-family;
    font-size: 13px;
  }
  .bs-clear {
    .flex(1);
    text-align: right;
    text-transform: uppercase;
    color: @color-blue-alt;
    font-weight: bold;
    font-size: 11px;
    span {
      cursor: pointer;
    }
  }
}
