@import 'global.variables.less';

@virtualSubMenuActiveBg: #d5ebf8;
@virtualSubMenuActiveBr: #797979;
@virtualSubMenuItemBr: #b0b0b0;

.vc-submenu-wrap {
  position: relative;
  height: 62px;

  .tabs-panel-component {
    .scroll-container .scroll-inner {
      border-bottom: none;
      box-shadow: none;

      li {
        border-bottom: none;
        flex: none;
      }
    }
  }
}

.vc-submenu {
  .scroll-container {
    background-color: @lGray;
    padding: 12px 9px;

    .scroll-inner {
      border: none;
      box-shadow: none;
    }
  }
  .virtual-carousel-menu {
    color: @color-white;
  }
  .vc-item {
    text-align: center;
    text-decoration: none;
    height: 38px;
    width: auto;
    max-width: none;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px @virtualSubMenuItemBr;
    background-color: @color-white;
    color: @lGray;
    font-family: @base-font-family;
    font-size: @font-size-md;
    margin: 0 3px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: normal;
    .transition(text-shadow, .3s);
    .align-items(normal);

    &.active, &:hover {
      border:1px solid @virtualSubMenuActiveBr;
      background-color: @virtualSubMenuActiveBg;
      .sport-name {
        text-shadow: 0 0 .5px @lGray, 0 0 .1px @lGray;
      }
    }

    .sport-name {
      font-size: @font-size-md;
      font-family: @base-font-family;
      color: @lGray;
    }
  }
}

.vc-time {
  font-size: @font-size-xs;
  line-height: 1;
  text-align: right;
  display: block;
  position: relative;
  color: @lGray;
  font-weight: normal;
  text-transform: uppercase;
}
