@import 'global.variables.less';

:host(.live-stream-active) {
  span {
    text-align: center;
    display: block;
  }
  .label {
    margin-top: 5px;
  }
  .align-items();
  .flex(0, 0, 50px);
  .justify-content();
  .display-flex();
  .flex-direction(column);
  border: 1px solid @color-gray;
  border-top: none;
  border-left: none;
  font-size: 10px;
  .available {
    cursor: pointer;
  }

  svg {
    fill: @brand-color-dark;
    height: 21px;
    width: 21px;
    margin: 10px 0 0;
  }
}

.odds-card-component {
  .flex(1, 1, auto);
}
