<ng-container *ngIf="isTimelineAvailable">
  <slider-panel
    (stateChange)="onStateChange($event)"
    (reloadTimeline)="onTimelineReload($event)"
    (loadMore)="loadMore()"
    [displayedPosts]="posts"
    [visible]="timelineOpened"
    [allPostsLoaded]="allPostsLoaded"
    [showSkeleton]="showSkeleton"
    [isReconectedFailedMsg]="isReconectedFailedMsg"
    [priceButtonClasses]="priceButtonClasses"
  ></slider-panel>

  <timeline-tutorial-overlay
    [timelineSettings]="timelineSettings"
  ></timeline-tutorial-overlay>

  <div class="timeline-bar-container" *ngIf="this.tutorialReady && !this.timelineOpened && !this.bybShown">
    <div class="timeline-bar" (click)="onStateChange(true)">
      <div class="title" [i18n]="'timeline.title'"></div>
      <div class="new-badge" *ngIf="isNewPostIconDisplayed"></div>
    </div>
  </div>

  <svg-list
    id="iconsSprite_cmsTimeline"
    *ngIf="timelineIcons"
    [list]="timelineIcons"
    [keepStyles]="true"
  ></svg-list>

</ng-container>
