@import 'global.variables.less';

@badge-size: 3px;
@bottom-offset: 53px;

.timeline-bar-container {
  width: 100%;
  position: fixed;
  bottom: @bottom-offset;
  z-index: 1002;
  &:after{
    display:none;
    content: url(../../assets/images/phone_tlt.png);
  }
}

.timeline-bar {
  .display-flex();
  .align-items(center);
  .justify-content(center);

  cursor: pointer;
  width: 138px;
  height: 27px;
  border-radius: 14px;
  margin: 0 auto;
  text-transform: uppercase;
  background: @lGray;
  color: @color-white;

  .title {
    font-weight: bold;
    font-size: @font-size-md;
  }

  .new-badge {
    width: @badge-size;
    height: @badge-size;
    margin-left: 5px;
    border-radius: 50%;
    background-color: @red;
  }
}


// fix to not overlap with Iphone X bottom software button.
@supports (bottom: constant(safe-area-inset-bottom)) {
  .timeline-bar-container {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    bottom: calc(@bottom-offset + var(--safe-area-inset-bottom));
  }
}

@supports (bottom: env(safe-area-inset-bottom)) {
  .timeline-bar-container {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    bottom: calc(@bottom-offset + var(--safe-area-inset-bottom));
  }
}
