@import 'global.variables.less';

.tabs-panel {
  .scroll-container {
    .scroll-inner {
      border-bottom: none;
      box-shadow: none;
      .display-flex();
      li {
        .flex(1);
        .justify-content();
        .tab {
          font-family: @base-font-family;
          font-size: 12px;
          color: @lBlack-light;
          font-weight: 400;
          height: 34px;
          margin-top: 3px;
          text-transform: uppercase;
        }

        &.active {
          background: none;
          border-bottom: 3px solid @red;
          color: @lGray;
          box-shadow: none;

          .tab {
            color: @lGray;
            font-weight: bold;
          }

          &:after {
            border: none;
          }
        }
      }
      .badge-new {
        background: @red;
        color: @color-white;
        transform: skewX(-20deg);
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          transform: skewX(20deg);
        }
        width: 20px;
        height: 11px;
        font-size: 7px;
        position: absolute;
        top: 2px;
        left: auto;
        right: 2px;
      }
    }
  }
}

