@import 'global.variables.less';

view-changer-icon {
  .view-change-icon {
    width: 20px;
    height: 12px;
    fill: @color-gray-dark;
  }

  .view-change-margin {
    margin: -20px 0px -20px 10px;
    display: inline-block;
  }
}

.page-container {
  &.is-expanded {
    view-changer-icon {
      .view-change-container {
        .icon-label, .view-change-icon {
          color: @brand-color-dark;
          fill: @brand-color-dark;
        }
      }
    }
  }
  view-changer-icon {
    .view-change-container {
      white-space: nowrap;
      height: 100%;
      min-width: 78px;
      padding-top: 20px;
      padding-bottom: 20px;

      .icon-label {
        width: 45px;
        height: 10px;
        font-size: 8px;
        font-weight: 300;
        vertical-align: top;
        color: @color-gray-dark;
        line-height: 35px;

        float: right;
        text-align: center;
        padding: 0;
        height: 100%;
        margin: -10px 10px 0px 0px;
      }
    }
  }
}

