<div class="view-change-margin">
  <div class="view-change-container" (click)="viewChange($event)">
    <svg class="view-change-icon">
      <use [attr.xlink:href]="getIconName"></use>
    </svg>
    <span class="icon-label" [textContent]="name"></span>
  </div>
</div>
