<div class="tab-content">
  <!--- Racing Page -->
  <div class="container sk-container heuristic-container" [ngClass]="{'sk-loading': applyingParams || (displayNextRaces && !nextRacesLoaded) || (!featuredLoaded && display === 'featured')}">
    <loading-screen [displayed]="applyingParams || (displayNextRaces && !nextRacesLoaded) || (!featuredLoaded && display === 'featured')"
                    [templateType]="'GENERIC'"></loading-screen>

    <div class="horseracing-tabs" *ngIf="!applyingParams" data-crlat="accordionsList">

      <div *ngIf="display === 'future'">
        <racing-antepost-tab [defaultAntepostTab]="defaultAntepostTab"
                             [racing]="racing"
                             *ngIf="racing.events?.length">
        </racing-antepost-tab>

        <!-- Show only when no events -->
        <no-events *ngIf="!responseError && !racing.events?.length"></no-events>
      </div>

      <lazy-component *ngIf="display === 'featured'"
                      moduleUri="src/app/lazy-modules/racingFeatured/racing-featured.module#RacingFeaturedModule"
                      [inputs]="{
                        sportId: categoryId,
                        racing: racing,
                        sectionTitle: sectionTitle,
                        sportName: sportName,
                        eventsOrder: eventsOrder,
                        filter: filter,
                        responseError: responseError,
                        displayNextRaces: nextRacesComponentEnabled,
                        sportModule: sportModule,
                        isExtraPlaceAvailable: isExtraPlaceAvailable,
                        offersAndFeaturedRacesTitle: offersAndFeaturedRacesTitle

                      }"
                      [outputs]="['featuredLoaded', 'nextRacesLoaded']"
                      (event)="onFeaturedEvents($event)">
      </lazy-component>

      <!-- YourCall tab  -->
      <racing-tab-yourcall *ngIf="display === 'yourcall'" [racing]="racing"></racing-tab-yourcall>

      <!-- Special tab -->
      <racing-specials-tab *ngIf="display === 'specials'"
                           [racing]="racing"
                           [eventsOrder]="eventsOrder"
                           [responseError]="responseError">
      </racing-specials-tab>

      <racing-yourcall-specials *ngIf="racingSpecials.length && (display === 'featured') && featuredLoaded" [type]="'widget'" [data]="racingSpecials"></racing-yourcall-specials>

      <!-- enhanced multiples carousel -->
      <racing-enhanced-multiples *ngIf="!responseError && display === 'featured' && sportName === 'horseracing' && featuredLoaded"></racing-enhanced-multiples>
    </div>
  </div>
</div>
