<div class="inter" *ngIf="eventsData.length" [i18n]="'racing.internationalTitle'"></div>
<section class="rg-section" *ngIf="eventsData.length" data-crlat="toteEventsCarousel">
  <header [textContent]="moduleTitle" data-crlat="carouselHeader"></header>
  <action-arrows [scrollStep]="66">
    <action-arrows-content>
      <div class="scroll-container" [scrollable-racing]>
        <ul class="scroll-inner">
          <ng-container *ngFor="let event of eventsData; trackBy: trackById; ">
            <li [ngClass]="{ 'race-resulted': event.isResulted, 'race-on': !event.isResulted }"
                data-crlat="toteEvent">
              <a (click)="clickEvent(event)">
                <div [textContent]="event.localTime" data-crlat="eventTime"></div>
                <span [textContent]="event.displayName" data-crlat="eventName"></span>
              </a>
              <svg *ngIf="event.isResulted" class="race-icon">
                <use xlink:href="#icn_race-finished"></use>
              </svg>
            </li>
          </ng-container>
        </ul>
      </div>
    </action-arrows-content>
  </action-arrows>
</section>
