@import 'global.variables.less';

:host {
  display: block;
  background: @color-white;
  padding: 18px;
  text-align: center;

  .no-bets-msg {
    font-size: @font-size-lg;
    font-family: @no-bets-button-font;
    font-weight: bold;
  }

  .button {
    margin-top: @no-bets-button-margin;
    font-size: @no-bets-button-size;
    color: @no-bets-button-color;
  }
}