<div class="no-bets-msg" [textContent]="noBetsMessage" data-crlat="textMsg"></div>
<a *ngIf="showStartGamingButton"
   data-crlat="startBetting"
   routerLink="/" class="button btn-secondary btn-lg"
   [i18n]="'bethistory.startBetting'"></a>