<div class="switchers"
     data-crlat="switchers"
     *ngIf="displaySwitchers">
  <a class="switch-btn"
     data-crlat="buttonSwitch"
     *ngFor="let switcher of switchers; trackBy: trackBySwitchers; index as i;"
     [ngClass]="{'active': isActiveGroup(i)}"
     (click)="selectGroup(i)">
    <span [i18n]="switcher.name"></span>
  </a>
</div>

<yourcall-market [game]="game" *ngIf="selectedMarket" [market]="selectedMarket"></yourcall-market>
