<accordion [accordionTitle]="virtualsTitle"
           *ngIf="eventsArray?.length"
           [isExpanded]="isExpanded"
           (function)="sendCollapseGTM()"
           data-crlat="outerAccordion">
  <accordion-body>
    <div class="inspired-virtual-carousel"
         (function)="sendCollapseGTM()"
         [ngClass]="{'widget': widget}">
      <div class="virtual-carousel ng-carousel"
           [ngCarousel]
           [ngCarouselLoop]="false"
           [ngCarouselWatch]="eventsArray.length"
           [ngCarouselName]="carouselName">
        <slidecontainer class="carousel-slides" [ngClass]="{'carousel-no-scroll': eventsArray.length === 1 }">
          <slide class="slide" *ngFor="let event of eventsArray; trackBy:trackById">
            <!-- Slide with Count down timer -->
            <div *ngIf="event.countdownTimer">
              <header><span class="slide-title" [textContent]="event.name"></span></header>
              <div class="slide-body">
                <div class="start-time" [textContent]="event?.startTime | callBack : getStartTime : this"></div>
                <div class="timer">
                  <div class="starts-title" [i18n]="'racing.startsIn'"></div>
                  <span class="timer-item" [textContent]="event.countdownTimer.hours"></span>
                  <span class="timer-item" [textContent]="event.countdownTimer.minutes"></span>
                  <span class="timer-item" [textContent]="event.countdownTimer.seconds"></span>
                </div>
                <span (click)="goToLiveEvent(event)" class="bet-now-link" [i18n]="'racing.betNow'"></span>
              </div>
            </div>
            <!-- Live now slide -->
            <div *ngIf="event.liveTimer"
                 class="live-now-slide"
                 (click)="goToLiveEvent(event)">
              <header><span class="slide-title" [textContent]="event.name"></span></header>
              <div class="slide-body">
                <div class="start-time" [textContent]="event?.startTime | callBack : getStartTime : this"></div>
                <div class="live-now-label">
                  <div class="label-title" [i18n]="'racing.liveNow'"></div>
                </div>
                <span class="bet-now-link" [i18n]="'racing.betNow'"></span>
              </div>
            </div>
          </slide>
          <slide class="slide last-slide" [ngClass]="{'hide-slide': widget}">
            <!-- Last slide - view all -->
            <div class="slide-body last-title" (click)="viewAllVirtual(event)">
              <div class="part-1" [i18n]="'racing.viewAll'"></div>
              <div class="part-2" [i18n]="'racing.virtuals'"></div>
            </div>
          </slide>
        </slidecontainer>
      </div>
      <!-- Widget arrows -->
      <div class="action-arrow-wrapper">
        <div class="action-arrow left row-middle"
             (click)="prevSlide()"
             *ngIf="isPrevActionAvailable()">
          <svg class="arrow-icon prev-arrow row-center">
            <use xlink:href="#prev-arrow"></use>
          </svg>
        </div>
        <div class="action-arrow right row-middle"
             (click)="nextSlide()"
             *ngIf="isNextActionAvailable()">
          <svg class="arrow-icon next-arrow">
            <use xlink:href="#next-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div *ngIf="widget"
         class="show-all-title"
         (click)="viewAllVirtual(eventsArray[0]); viewAllGTM()"
         [i18n]="'racing.viewAllVirtuals'"></div>
  </accordion-body>
</accordion>
