@import 'global.variables.less';

:host {
  live-label {
    background: none;
    color: @color-blue-light-3;
  }
}

.selection-info-dialog-title {
  text-transform: none;
}

.event-title {
  padding: 14px 42px 14px 24px;
  border-bottom: 1px solid @lGrayLight;
  border-top: 1px solid @lGrayLight;
  position: relative;
  margin: 0 -24px;

  .event-name {
    display: inline;
  }

  .event-arrow-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -6px;
    fill: @color-gray-dark;
    opacity: .85;
  }
}

.event-details {
  margin-top: 10px;

  promo-labels {
    display: block;
    margin-bottom: 10px;
  }

  .event-detail {
    margin-bottom: 4px;
  }

  .detail-label {
    font-weight: bold;
    margin-right: 5px;
  }
}

betslip-fctc-list {
  display: inline-flex;
  .flex-direction(column);
}
