@import 'global.variables.less';

.extra-place-section {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15), 0 -1px 2px 0 rgba(0,0,0,.05);

  .extra-place-item-body {
    min-height: 46px;
    padding: 8px 12px;
  }
  .odds {
    margin-top: 2px;
    font-family: @alt-font-family;
    font-size: 11px;
    color: @color-gray-darkest;
  }

  .meeting-name {
    font-size: 11px;
  }

  .race-label {
    .display-flex();
    .align-items(center);
    background: @color-yellow-alt;
    color: @color-black-soft;
    text-transform: uppercase;
    font-size: @font-size-md;
    font-weight: 700;
    padding: 0 4px;
    max-height: 15px
  }

  .race-heading {
    .display-flex();
  }

  .race-icon {
    width: 14px;
    height: 14px;
    fill: @color-black-soft;
    margin: 0 4px 0 0;
  }

  .next-arrow {
    height: 11px;
    color: @lBlack-light;
    margin-left: 12px;
  }

}
