<div class="nav-point" *ngIf="isShowNavPoint" data-crlat="quickLink.section">
  <div *ngIf="navPoint.description" class="desctription" [innerHtml]="navPoint.description" data-crlat="description"></div>
  <button *ngIf="!isAndroidExternalUrl" class="button btn-secondary" (click)="goToUrl()" [innerHtml]="navPoint.title" data-crlat="button"></button>
  <a *ngIf="isAndroidExternalUrl" [attr.href]="navPoint.targetUri" target="_blank" [innerHtml]="navPoint.title" class="button btn-secondary" data-crlat="button"></a>
</div>
