@import 'global.variables.less';

.nav-point {
  background: @sup-btn-bg;
  padding: @nav-point-padding;
  margin: 8px 4px;
  font-family: @base-font-family;

  .desctription {
    color: @color-gray-dark;
    text-align: center;
    padding-top: 5px;
  }

  .button.btn-secondary {
    background: @sup-btn-color;
    width: 100%;
    padding: @sup-btn-padding;
    margin: 10px auto;
    color: @sup-btn-font;
    font-size: @sup-btn-font-size;
    border-radius: 2px;
  }
}
