<nav data-uat="footer" *ngIf="footerLinks">
  <ul class="menu-items">
    <li *ngFor="let link of footerLinks; trackBy: trackByIndex;"
        [ngClass]="{'active': link.isActive}">
      <a (click)="customRedirect($event, link)"
         [attr.href]="link.redirectUrl"
         [attr.rel]="link.relUri ? 'nofollow' : ''"
         [attr.target]="!link.inApp ? '_blank' : ''"
         [attr.title]="link.linkTitle"
         class="menu-item"
         data-crlat="menuItem">
        <svg class="menu-item-icon" data-crlat="menuItemIcon">
          <use [attr.xlink:href]="'#' + (link.svgId || 'icon-generic')"></use>
        </svg>
        <span class="menu-item-title" [textContent]="link.linkTitle" data-crlat="menuItemTitle"></span>
        <span *ngIf="link.targetUri.indexOf('open-bets') !== -1 && openBetsCounter"
          class="menu-item-sub-icon"
          data-crlat="itemText"
          [textContent]="openBetsCounter"
          [ngClass]="{ 'pulse': animate, 'plus': moreThanTwenty }">
        </span>
      </a>
    </li>
  </ul>
</nav>
