//Global styles
@import 'global.variables.less';

@footerMenuHeight: 55px;
@mobileHeight: 55px;
@footZindex: 1002;

:host(.footer-menu) {
  background: lighten(@brand-color-dark, 10%);
  left: 0;
  bottom: 0;
  right: 0;
  font-size: @font-size-sm;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: @footZindex;
  height: @footerMenuHeight;
  transition: all .5s ease;
  transform: translateY(0px);

  nav {
    min-height: @footerMenuHeight;
  }

  &.hide {
    transform: translateY(@mobileHeight);
    -webkit-transform: translateY(@mobileHeight);
    opacity: 1;
  }

  .menu-items {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    min-height: @footerMenuHeight;
    list-style: none;
    .display-flex();

    li {
      padding: 0;
      .flex(1, 1, 20%);
      width: 20%;

      .menu-item {
        text-decoration: none;
        height: auto;
        text-align: center;
        min-height: @footerMenuHeight;
        .display-flex();
        .flex-flow(row, wrap);
        .align-items();
        padding: 9px 5px 8px;
        position: relative;

        .menu-item-icon {
          width: 100%;
          fill: @rock-blue;
          height: 26px;
        }

        .menu-item-title {
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          color: @rock-blue;
        }
      }

      &.active {
        background-color: @brand-color-dark;

        .menu-item {
          .menu-item-icon {
            fill: @color-white;
          }

          .menu-item-title {
            color: @color-white;
          }
        }
      }

      .menu-item-sub-icon {
        display: block;
        margin: 0 auto;
        height: 20px;
        width: 20px;
        font-size: @font-size;
        text-align: center;
        position: absolute;
        top: 5px;
        left: 50%;
        font-weight: 900;
        border-radius: 20px;
        border: solid 1px @color-blue-darker;
        background-color: @color-yellow;
        color: @color-blue-darker;
        transform: translateZ(0);
        will-change: transform;

        &.pulse {
          .animation(pulse .7s);
        }

        &.plus {
          font-size: 8px;
          text-align: left;
          padding: 3px;

          &:after {
            content: '+';
            display: block;
            width: 8px;
            height: 14px;
            position: absolute;
            right: -3px;
            bottom: 1px;
          }
        }
      }
    }
  }

  @media @mqMobile {
    font-size: @font-size-xs;
    height: auto;
    min-height: @mobileHeight;

    @supports (padding-bottom: constant(safe-area-inset-bottom)) {
      &.hide {
        --safe-area-inset-bottom: constant(safe-area-inset-bottom);
        -webkit-transform: translateY(calc(@mobileHeight + var(--safe-area-inset-bottom)));
        transform: translateY(calc(@mobileHeight + var(--safe-area-inset-bottom)));
      }
    }

    @supports (padding-bottom: env(safe-area-inset-bottom)) {
      &.hide {
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        -webkit-transform: translateY(calc(@mobileHeight + var(--safe-area-inset-bottom)));
        transform: translateY(calc(@mobileHeight + var(--safe-area-inset-bottom)))
      }
    }

    nav {
      height: auto;
      min-height: @footerMenuHeight;
    }

    .menu-items {
      li {
        .menu-item {
          display: block;

          .menu-item-icon {
            height: 21px;
            width: 21px;
            margin: 4px auto;
            display: block;
          }

          .menu-item-title {
            line-height: 1;
            font-family: @base-font-family;
            font-weight: bold;
            display: block;
          }

          .menu-item-sub-icon {
            top: 8px;
          }
        }
        // fix to not overlap with Iphone X bottom software button.
        @supports (padding-bottom: constant(safe-area-inset-bottom)) {
          .menu-item {
            --safe-area-inset-bottom: constant(safe-area-inset-bottom);
            padding-bottom: calc(var(--safe-area-inset-bottom) - 8px);
          }
        }

        @supports (padding-bottom: env(safe-area-inset-bottom)) {
          .menu-item {
            --safe-area-inset-bottom: env(safe-area-inset-bottom);
            padding-bottom: calc(var(--safe-area-inset-bottom) - 8px);
          }
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  10% {
    transform: scale(.3) translateZ(0);
  }
  0%, 70%, 100% {
    transform: scale(1) translateZ(0);
  }
  85% {
    transform: scale(.8) translateZ(0);
  }
}

@keyframes pulse {
  10% {
    transform: scale(.3) translateZ(0);
  }
  0%, 70%, 100% {
    transform: scale(1) translateZ(0);
  }
  85% {
    transform: scale(.8) translateZ(0);
  }
}
