.lotto-results-switchers {
  padding-top: 10px;
}

.page-container-wrapper {
  border-bottom: 1px solid lighten(@color-gray-dark, 50%);
}

.lotto-results-page {
  .page-container {
    background: @color-white;
  }
}

.lotto-results-container {
  padding: 15px;

  .lotto-results-draw-wrapper {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lighten(@color-gray-dark, 50%);

    .lotto-results-top-row {
      font-weight: bold;
      color: @color-gray-dark;
    }

    .lotto-results-middle-row {
      font-size: 12px;
      margin-bottom: 10px;
      color: @color-gray-dark;
    }

    .lotto-results-ball-wrapper {
      .inline-flex();
      .flex();

      .lotto-results-ball {
        border-radius: 50%;
        background-color: @color-red;
        width: 30px;
        height: 30px;
        color: @color-white;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        margin: 2px auto;
      }

      &.lotto-bonus-ball {
        border-left: 1px solid lighten(@color-gray-dark, 50%);
        height: 20px;
        margin-top: 8px;

        .lotto-results-ball {
          margin-top: -6px;
        }
      }
    }
  }
}

.load-more-link {
  text-decoration: underline;
  text-align: center;
  font-size: 12px;
  color: @color-gray-dark;
  padding: 10px;
  cursor: pointer;
  background: @color-white;

  .load-more-link-inner {
    display: inline-block;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .load-more-spinner-wrapper {
    position: relative;
    display: inline-block;
    width: 30px;
  }
}
