@import './lotto-results.less';
@import './number-selector.less';

#lotto {
  .row.draw-row > div {
    margin: 3px 0;
  }

  .lotto-segment {
    margin: 0 0 10px;

    .top-btn-row {
      .btn {
        background: @color-gray;
      }
    }
  }

  .bonus-title {
    position: relative;
    top: -10px;
    margin: 0 5px;
    white-space: nowrap;
  }

  .check-title {
    padding: 10px 0 0 25px;
    font-size: 13px;
    float: left;
    line-height: 14px;
  }

  .check-styled label {
    background: @color-gray;

    &:after {
      border: 3px solid @color-green;
      border-top: 0;
      border-right: 0;
    }

    &.col-disabled {
      opacity: .5;
      pointer-events: none;
      cursor: default;
    }
  }

  .check-styled {
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -5px;
  }

  .bet-stake-value-container {
    background: @color-white;
    border: 1px solid @color-black-soft;
    border-radius: 3px;
    background: none;

    input {
      background: none;
      text-align: right;
      padding: 3px 5px 3px 15px;

      // fixes bet value cutoff on really small mobile screens (below 375px)
      @media screen and (max-width: 375px) {
        padding: 3px 2px 3px 2px;
      }
    }
  }

  .help-icon {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 5px;

    svg {
      height: 22px;
      width: 22px;
      fill: @color-white;
    }
  }

  .segment-title {
    padding-right: 30px;
  }

  .container-header{
    min-height: 35px;
    padding: 10px;
  }

  .page-container {
    margin-bottom: 10px
  }

  .group-buttons {
    padding: 15px 10px;
    .group-col {
      width: 50%;
    }
  }
}

.lotto-container {
  .invisible {
    opacity: 0;
  }
}

.lotto-content {
  .row > div {
      margin: 3px 0;
  }

  .label-text {
    color: @color-black-soft;
  }
}

.center-text span {
  line-height: normal;
}

.lotto-body {
  display: block;
  padding: 10px;
  background: #fff;
}
