#number-selector {
  padding: 15px;

  .number-picker {
    .display-flex();
    .flex-flow();
    .align-items(stretch);
    .justify-content();

    .number-col {
      padding: 0 5px;
      .display-flex();
      .flex();
      width: 50%;
    }
  }
}

.btn.btn-circle {
  max-width: none;
  background: @color-gray-light;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.9), inset 0 15px 15px rgba(255,255,255,.25), inset 0 -10px 10px rgba(0,0,0,.3);
  color: @color-black;
  text-shadow: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
  font-size: 26px;
  font-weight: normal;
  .transition();

  @media @mqSmallMobile {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  &:hover {
    box-shadow: inset 0 1px 1px rgba(255,255,255,.9), inset 0 15px 15px rgba(255,255,255,.25), inset 0 -10px 10px rgba(0,0,0,.4);
  }

  &.active {
    background: @color-green;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.3), inset 0 15px 15px rgba(255,255,255,.25), inset 0 -10px 10px rgba(0,0,0,.3);
    color: @color-white;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
    cursor: pointer;
    pointer-events: auto;
  }
}
