<race-card-home *ngIf="!showLoader && nextRacesModule?.storedEvents?.length" [trackGa]="trackGa" data-crlat="raceCard"
  [raceIndex]="'next-races'" [raceOrigin]="'next-races'" [raceData]="nextRacesModule?.storedEvents"
  [raceMaxSelections]="nextRacesModule.limitOutcomesCount" [raceNewStyleCard]="true"
  [showTimer]="showTimer" [gtmModuleTitle]="'next races'"
  [moduleType]="moduleType">
</race-card-home>
<div class="page-inner" *ngIf="!showLoader && !nextRacesModule?.storedEvents?.length">
  <div class="page-segment">
    <no-events></no-events>
  </div>
</div>
