@import 'global.variables.less';

.upcoming-boosts-header {
  border-bottom: 1px solid @color-gray-darker;
  padding: 10px;
}

.timer-label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.timer {
  color: @color-red;
  font-size: 16px;
  margin-left: 5px;
}
