<div class="upcoming-boosts-header">
  <p class="no-boosts-message" [i18n]="'oddsboost.page.noBoostsMessage'"></p>
  <div class="next-boost-timer">
    <span class="timer-label" [i18n]="'oddsboost.page.nextBoostAvailable'"></span>
    <span class="timer" [textContent]="countDown"></span>
  </div>
</div>
