@import 'global.variables.less';

.list-item-link-notification {
  background: @red;
  color: @color-white;
  min-width: 20px;
  padding: 0 5px;
  height: 20px;
  border-radius: 20px;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  justify-content: center;
  margin-left: 5px;
  font-size: 12px;
}
