<div class="tab-content sk-container {{className}}"
     [ngClass]="{'sk-loading': !hideLoader && showLoader }"
     data-crlat="tab.showNextRacesModule">
  <loading-screen [displayed]="!hideLoader && showLoader"
                  [isUsedFromWidget]="widget"
                  [templateType]="'GENERIC'"></loading-screen>
  <accordion *ngIf="nextRacesModule?.storedEvents?.length && !showLoader"
             [isExpanded]="true"
             [headerClass]="headerClass"
             (function)="trackCollapse()"
             data-crlat="outerAccordion"
             [isHeaderHidden]="!headerVisible && widget"
             #nextRacesAccordion>
    <left-side>
      <span class="left-title-text" [i18n]="leftTitleText" data-crlat="headerTitle.leftMessage"></span>
    </left-side>
    <accordion-body>
      <race-card
        *ngIf="nextRacesAccordion.isExpanded && nextRacesModule.storedEvents"
        [trackGa]="trackGa"
        [trackGaDesktop]="trackGaDesktop"
        data-crlat="raceCard"
        [raceIndex]="raceIndex"
        [raceOrigin]="'next-races'"
        [raceData]="nextRacesModule.storedEvents"
        [raceWidget]="widget"
        [raceMaxSelections]="nextRacesModule.limitOutcomesCount"
        [showBriefHeader]="showBriefHeader"
        [hostContext]="hostContext"
        [fluid]="fluid"
        [showTimer]="showTimer"
        [viewFullRaceText]="'racing.viewFullRace'"
        [gtmModuleTitle]="'next races'"
        [hideNonRunners]="true">
      </race-card>
      <show-more-link [displayed]="moduleAllLink"
                      [link]="showMoreLink.link" (function)="sendToGTM()"
                      [title]="showMoreLink.title" data-crlat="showMore"></show-more-link>
    </accordion-body>
  </accordion>
  <request-error *ngIf="ssDown && !showLoader" [loadFailed]="ssDown" (reloadFn)="reloadComponent()"></request-error>
</div>
