@import 'global.variables.less';
@import '../../../../../app/questionEngine/assets/styles/general.less';
@import '../../../../ladbrokesMobile/questionEngine/assets/styles/general.less';

@mb: 15px;
@color-bright-yellow: #fdf001;
@color-light-gray: #e8e8e8;
@color-red: #ec1d24;
@color-green: #88b923;
@color-dark-red: #a4161c;

.question-engine {
  height: calc(100% - 50px);
}
.qe-wrap {
  height: 100%;
}
.qe-main-section {
  padding-bottom: 50px;
}

.navigation-container {
  padding: 0 16px;
  width: 100%;
  margin-bottom: 10px;
  /*
    general style for back arrow btn '<--'
  */
  .qe-btn-back {
    margin-bottom: 5px;

    &-svg {
      width: 26px;
      height: 22px;
      margin-top: 15px;
    }
  }
}

.qe-container {
  padding: 0 2px;
  max-width: 460px; // max width as in design
  margin: 0 auto;
  overflow-x: hidden;
}

.links-list {
  h2 {
    font-size: 28px;
    margin-bottom: 65px;
  }
  li {
    padding-bottom: @mb;
  }
  p {
    font-size: 16px;
  }

  // TERMS AND CONDITIONS
  &.terms {
    text-align: left;
    p {
      font-size: 12px;
      line-height: 15px;
    }
  }

  // Prizes
  &.prizes {
    text-align: center;
    margin-bottom: 40px;

    li {
      padding: 0 35px 25px;

      &:last-child {
        padding-bottom: 50px;
      }
    }

    h1 {
      font-size: 52px;
    }
  }

  //FAQ
  &.faq {
    li {
      padding-bottom: 55px;
    }
    h3 {
      font-size: 22px;
      margin-top: 50px;
    }
  }
}
/*
* STYLES for load error, when no qeData
*/
.loading-error {
  &-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    width: 100%;
  }

  &-btn.main-btn {
    width: 70%;
    color: @color-blue-dark;
  }

  &-text {
    font-family: @base-font-family;
    font-size: 16px;
    color: white;
    margin-bottom: 25px;
  }

  &-no-content {
    margin-top: -80px;
  }
}

/*
* Scale SVG images class
 */
.scalable-image {
  transform: scale(1.3);
}

.qe-arrow {
  margin-top: 15px;
  display: inline-block;
  height: 18px;
  position: relative;
  width: 22px;

  &:after {
    content: '';
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 16px;
    border-color: @color-white;
  }

  &:before {
    content: '';
    bottom: 4px;
    height: 22px;
    position: absolute;
    right: 2px;
    transform-origin: bottom;
    width: 3px;
    transform: rotate(-45deg);
    border-radius: 3px;
    background-color: @color-white;
  }

  &.is-right {
    transform: rotate(315deg);
  }

  &.is-left {
    transform: rotate(135deg);
  }
}
