<ng-container *ngIf="sportName === 'horseracing'">
  <ng-container *ngFor="let group of racing.groupedRacing">
    <accordion *ngIf="group.data && racing.classesTypeNames[group.flag].length > 0"
               [isExpanded]="accordionsState[group.flag]"
               (function)="trackModule(group.flag, sportName)"
               [headerClass]="'secondary-header'"
               data-crlat="outerAccordion">
      <left-side><span class="left-title-text" [textContent]="titleMap[group.flag]" data-crlat="headerTitle.leftMessage"></span></left-side>
      <accordion-body>
        <horse-race-grid [eventsData]="racing"
                         [racingGroupFlag]="group.flag"
                         [raceType]="'horseracing'"
                         [sportName]="sportName"
                         [eventsOrder]="eventsOrder"
                         [racingGroup]="group.data">
        </horse-race-grid>
      </accordion-body>
    </accordion>
  </ng-container>
</ng-container>

<ng-container *ngIf="sportName === 'greyhound'">
  <!--- Event by Time -->
  <accordion *ngIf="filter === 'by-time'"
             [isExpanded]="true"
             data-crlat="outerAccordion">
    <left-side><span class="left-title-text" [i18n]="'sb.events'"></span></left-side>
    <accordion-body>
      <race-list [events]="byTimeEvents"
                 [expanded]="true"
                 [limit]="10"
                 [sportName]="sportName"
                 [eventsOrder]="eventsOrder">
      </race-list>
      <div class="item-inner item-legend">
        <small data-crlat="section.boldPriced">
          <strong [i18n]="'sb.bold'" data-crlat="bold"></strong>
          <span [i18n]="'sb.priced'" data-crlat="priced"></span>
        </small>
      </div>
    </accordion-body>
  </accordion>

  <!--- Event by Meeting -->
  <ng-container *ngIf="filter === 'by-meeting'">
    <ng-container *ngFor="let group of racing.groupedRacing">
        <accordion *ngIf="racing.classesTypeNames[group.flag].length > 0 && group.data && group.data.length"
                  [isExpanded]="accordionsState[group.flag]"
                  (function)="trackModule(group.flag, sportName)"
                  data-crlat="outerAccordion">
          <left-side><span class="left-title-text" [textContent]="titleMap[group.flag]"  data-crlat="headerTitle.leftMessage"></span></left-side>
          <accordion-body>
            <horse-race-grid [eventsData]="racing"
                             [racingGroupFlag]="group.flag"
                             [raceType]="'greyhound'"
                             [sportName]="sportName"
                             [eventsOrder]="eventsOrder"
                             [racingGroup]="group.data">
            </horse-race-grid>
          </accordion-body>
        </accordion>
      </ng-container>
  </ng-container>
</ng-container>
