<div class="competition-category">
  <accordion [isHeaderHidden]="isTennis()" [accordionTitle]="category.class?.name" [isExpanded]="isExpanded[i]"
    *ngFor="let category of categories; let i = index;" (function)="goToTypes(i)">
    <accordion-body>
      <div class="spinner-loader small-loader spinner-dark" *ngIf="category.loading" data-crlat="spinner.loader"></div>

      <div *ngIf="!category.loading && category?.types?.length" class="competition-category-tiles">
        <div *ngFor="let typeItem of category.types; trackBy: trackByIndex;" [ngClass]="{'third-cell':typeItem.type.grid === '3','fourth-cell':typeItem.type.grid === '4'}"
          class="competition-category-tile-wrapper">
          <ng-container *ngIf="typeItem?.type">
            <div class="competition-category-tile">
              <a data-crlat="linkListItem" *ngIf="!typeItem.type.grid" class="league-link" [routerLink]="competitionsLink(typeItem, category.class.originalName)">
                <span class="league-name"  data-crlat="event.name" [textContent]="typeItem.type.name"></span>
                <lazy-component moduleUri="@yourCallModule/your-call.module#YourCallModule"
                  [inputs]="{typeId: typeItem.type.id, display: 'general'}"
                  *ngIf="typeItem.type.id"
                  entryComponent="YourCallIconComponent">
                </lazy-component>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <no-events *ngIf="!category.loading && !(category.types && category.types.length)"></no-events>
    </accordion-body>
  </accordion>
</div>
