@width: 90px;

.your-call-player-stats {
  select {
    border: 1px solid @color-gray;
    border-radius: 4px;
    width: @width;
    height: 35px;
  }
}

.odds-card-header .odds-header-col.odds-header-ps-col {
  width: @width;
  text-align: center;
}
