@import 'global.variables.less';

@row-height: 45px;
@container-padding-horiz: 4px;
@item-padding-horiz: 12px;
@box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);

:host ::ng-deep .az-sports-page {
  .page-container {
    background-color: @lGray-bg;
  }

  .page-container > .container-header {
    height: 32px;
    min-height: 32px;
    margin: 0;
    padding: 12px 0 8px 12px;
    font-weight: normal;
    font-size: 12px;
    font-family: @alt-font-family;
    text-transform: uppercase;
    color: @lBlack-light;
    background-color: @lGray-bg;
  }

  .links-list-panel {
    margin: 4px;
    box-shadow: @box-shadow;

    .list-item-link {
      min-height: @row-height;
      margin: 0;
      padding: 0 @item-padding-horiz 0 12px;
      font-size: @font-size-lg;
      font-weight: normal;

      .item-name {
        font-size: 15px;
        font-family: @alt-font-family;

        .item-description {
          font-size: 11px;
          color: @lBlack-light;
        }
      }

      svg.item-icon {
        width: 22px;
        height: 22px;
        fill: @color-gray-dark;
        margin: -2px 12px 0 0;
      }

      svg.item-next-arrow {
        width: 7px;
        height: 11px;
        right: @item-padding-horiz;
        margin-top: -5px;
        fill: #777;
      }
    }
  }

  .top-sports {

    .links-list-panel {
      margin-top: 12px;
    }

    svg.item-icon {
      display: none;
    }
  }

  .az-sports {

    .item-next-arrow {
      display: none;
    }
  }

  retail-menu {
    .item-icon {
      display: none;
    }
  }
}
