@import 'global.variables.less';

@competitions-header-height: 45px;

:host {
  .competition-type-events {
    .dropdown-navigation {
      width: 100%;
      height: 30px;
      background-color: @color-gray;
      color: @color-gray-dark;
      padding: 9px 10px;
      font-size: 10px;
      font-weight: bold;
      display: flex;

      .back-button {
        text-transform: uppercase;
        position: relative;

        &:before {
          content: '<';
        }
      }

      .type-name {
        width: auto;
        margin: 0 auto;
      }
    }

    .competitions-header {
      height: @competitions-header-height;
      position: -webkit-sticky;
      position: sticky;
      top: @app-header-height;
      z-index: 7;
      color: @color-white;
      font-size: @font-size-lg;
      line-height: @top-bar-height;
      font-family: @alt-font-family;
      background: @top-bar-wrap-bg;
      .display-flex();

      .competitions-title {
        padding-left: 16px;
        line-height: @top-bar-height;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: normal;
      }

      .competitions-selector {
        display: flex;
        line-height: @top-bar-height;
        padding: 0 16px;
        white-space: nowrap;
      }

      .competitions-selector-title {
        font-size: @font-size-md;
        font-family: @base-font-family;
        font-weight: normal;
        color: @color-yellow-light2;
        text-transform: uppercase;
      }

      .competitions-selector-icon {
        height: 17px;
        width: 17px;
        fill: @color-white;
        margin-right: 5px;
      }

      .competitions-selector-arrow {
        height: 5px;
        width: 8px;
        fill: @color-yellow-light2;
        margin-left: 4px;
      }
    }

    .coupons-list {
      background: @color-gray;

      &.active {
        position: static;
        overflow: visible;
      }

      .coupons-wrap {
        padding: 5px 0 10px 0;
        height: auto;
      }
    }

    competitions-matches-tab {
      display: block;

      ::ng-deep {
        .sticky-market-selector {
          top: @app-header-height + @competitions-header-height;
        }
      }
    }
  }
}
