@import 'global.variables.less';

@mb: 15px;

.question-engine {
  background-color: @brand-color-main;
  font: @base-font-family;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: calc(100% - 95px);
  display: block;
}
.qe-wrap {
  height: 100%;
}

.qe-bg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.qe-main-section {
  padding-bottom: 50px;
}
ul {
  padding-left: 0;

  li {
    list-style: none;
  }
}

.navigation-container {
  padding: 0 16px;
  width: 100%;
}

.qe-container {
  padding: 0 2px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  display: block;
  color: white;
  font-size: 14px;
  font-family: @base-font-family;
  max-width: 460px; // max width as in design
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: white;
}

/*
  general style for back arrow btn '<--'
*/
.btn-back {
  display: inline-block;

  &__svg {
    width: 26px;
    height: 22px;
    fill: white;
    margin-top: 15px;
  }
}

/*
  general style for main btn in Splash Page
*/
.main-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-radius: 1px;
  background-color: @color-yellow;
  border: 1px solid @color-yellow;
  font-family: @base-font-family;
  font-size: 14px;
  color: @gold-level-text;
  text-transform: capitalize;
  margin-bottom: @mb;

  &:hover {
    text-decoration: none;
    border: 1px solid @color-yellow;
    background: lighten(@color-yellow, 15%);
    border-color: lighten(@color-yellow, 15%);
    box-shadow: 0 1px 2px rgba(65, 73, 78, .2)
  }
}

/*
* Style for LINKS PAGE
**/

.heading-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.links-list {
  h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 65px;
    text-align: left;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    border-bottom: 1px dashed white;
    padding-bottom: @mb;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  p {
    font-size: 16px;
  }

  // TERMS AND CONDITIONS
  &.terms {
    counter-reset: my-badass-counter;
    font-size: 12px;
    line-height: 16px;
    text-align: left;

    dt {
      margin-bottom: 20px;
    }

    dd {
      margin-bottom: 20px;
      line-height: 16px;

      &:before {
        content: counter(my-badass-counter) " . ";
        counter-increment: my-badass-counter;
        padding-right: 3px;
      }

      ul {
        padding-left: 35px;

        li {
          list-style: lower-alpha;
          padding-left: 0;
          border-bottom: none;
        }
      }
    }

    p {
      font-size: 12px;
      line-height: 15px;
    }
  }

  // Prizes
  &.prizes {
    text-align: center;
    margin-bottom: 40px;

    li {
      padding: 0 35px 25px;

      &:last-child {
        padding-bottom: 50px;
      }
    }

    h1 {
      font-size: 52px;
      font-weight: bold;
      text-align: center;
      color: @color-yellow;
    }

    ul {
      p {
        font-weight: bold;
      }

      & + p {
        font-size: 15px;
        padding: 0 35px;
      }
    }
  }

  //FAQ
  &.faq {
    li {
      padding-bottom: 55px;
    }
    h3 {
      font-size: 22px;
      font-weight: bold;
      color: @color-yellow;
      text-transform: uppercase;
      margin-top: 50px;
    }
  }
}

.footer-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
/*
* STYLES for spinner, when qeData is loading
*/
.qe-spinner {
  &.spinner-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

    .spinner-loader {
      margin: auto;
      width: 34px;
      height: 34px;

        &:before {
          border-width: 1px;
        }
      }
    }
}

/*
* STYLES for load error, when no qeData
*/
.loading-error {
  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    width: 100%;
  }

  &__btn.main-btn {
    width: 70%;
    color: @color-blue-dark;
  }

  &__text {
    font-family: @base-font-family;
    font-size: 16px;
    color: white;
    margin-bottom: 25px;
  }

  &__no-content {
    margin-top: -80px;
  }
}

/*
* Scale SVG images class
 */
.scalable-image {
  transform: scale(1.3);
}

.qe-arrow {
  margin-top: 15px;
  display: inline-block;
  height: 18px;
  position: relative;
  width: 22px;

  &:after {
    content: '';
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 16px;
    border-color: @color-white;
  }

  &:before {
    content: '';
    bottom: 4px;
    height: 22px;
    position: absolute;
    right: 2px;
    transform-origin: bottom;
    width: 3px;
    transform: rotate(-45deg);
    border-radius: 3px;
    background-color: @color-white;
  }

  &.is-right {
    transform: rotate(315deg);
  }

  &.is-left {
    transform: rotate(135deg);
  }
}
