// ladbrokes new test colors
@red: #f01e28;
@red2: #c81a21;
@red3: #d81b24;
@red4: #d01b23;
@redDark: #7e0f11;
@redDarkest: #4f0b0c;
@lGray: #252835;
@lGrayLighter: #e3e3e3;
@lGrayLight: #efeff3;
@lGraySemiLight: #d8d8d8;
@lGraySemiMediumLight: #e1e1e1;
@lGrayMediumLight: #3a3d49;
@lGrayMedium: #202020;
@lGrayHard: #101010;
@lGrayDark: #dddde4;
@lGrayDarkest: #bebebe;
@lGray-bg: #f9f9f9;
@lBlack-light: #777777;
@lBlack-medium: #2b2b2b;

@brand-color-main: @red;
@brand-color-secondary: @red;
@brand-color-dark: @redDark;
@brand-color-darkest: @redDarkest;

/////////////
@color-blue: #084D8D;
@color-blue-principal: #1E466C;
@color-blue-dark: #07294B;
@color-blue-darker: #203e5d;
@color-blue-darkest: #062745;
@color-green: #82b11f;
@color-green-1: #8ec025;
@color-green-2: #7dab1e;
@color-green-lighter: #c2e193;
@color-green-dark: #659e1d;
@color-green-grass: #4EA11B;
@color-green-light: #D3E6BC;
@color-light-green-1: #cce39d;
@color-light-green-2: #c5da9a;
@color-orange: #F56B23;
@color-orange-dark: #d45e20;
@color-orange-2: #f08937;
@color-red: #EF3340;
@color-red-2: #f34444;
@color-yellow: #FFCD00;
@color-yellow-dark: #ffac00;
@color-yellow-light: #fff270;
@color-yellow-alt: #FAC031;
@color-yellow-extra: #fac031;
@color-yellow-light2: #fbcc5a;
@color-bleach-white: #f0e5d8;
@lightest-grey: #d6d6da;
@light-grey: #DCDCDC;
@color-gray-alt: #40494d;
@color-gray-ebb: #f3eff0;
@color-gray-alabaster: #f9f9f9;
@color-gray-athens: #eceef3;
@color-gray-concrete: #f2f2f2;
@color-gray-alt2: #e7e7e7;
@color-gray-regular: #858585;
@color-gray-dark: #41494E;
@color-matterhorn: #4E4E4E;
@color-gray-mid: #9da4a8;
@color-gray-mid-alt: #9e9e9e;
@color-gray-dark2: #5a5a5a;
@color-gray-darker: #D7D7D7;
@color-gray-darkest: #2b2b2b;
@color-gray-saturated: #3f494f;
@color-gray-silver: #cccccc;
@color-glacier-white: #E9E9E9;
@color-gray: #E0E2EB;
@color-gray-light: #F9FAFE;
@color-gray-lighter: #d1d6e3;
@color-gray-lightest: #EBEDF2;
@color-gray-rich: #C0C4CD;
@color-gray-ghost: #c7c7cc;
@color-white: #FFFFFF;
@color-snow: #e8eaf2;
@color-black: #000000;
@color-black-soft: #333333;
@color-black-hard: #0d0d0d;
@color-pink: #E763E2;
@color-tealish: #20ACCF;
@gold-level-text: #494f66;
@color-cobalt: #004696;
@color-violet-light: #c1c9db;
@brand-color-main: @red;
@brand-color-secondary: @red2;
@brand-color-dark: @redDark;
@brand-color-darkest: @redDarkest;
@color-blue-light: @red;
@color-blue-light-2: #4480f3;
@color-blue-light-3: #0076d6;
@color-blue-lighter: @red;
@color-blue-gray: @red;
@color-blue-cornflower: #4da2f9;
@color-orange-light: #E5B800;
@color-bronze: #B78A37;
@color-blue-lightest: #d7eaff;
@color-blue-alt: #4a90e2;
@color-platinum: #596e7b;
@madison: @redDark;
@caribbean-green : #0abfa1;
@pink-trendy: #8d5ba1;
@color-red-lightest: #ebe8e8;
@color-nevada: #646668;
@list-arrow-icon-clr: #707070;
@list-title-bg-clr: #e2e2e6;
@color-gray-disabled: #aaaaaa;
@color-very-light-gray: #c7c7c7;
/* accordion colors */
@accordion-border-clr: #d6d6da;
@color-gray-shadow: #a2a2a2;
@color-grey-transparent: #CBCBD5;
@color-gray-darker-two: #cccfd9;

/***** Heuristic Designs *****/

/* Footer Menu */

@rock-blue: #9CB3CB;
@blue: #4a90e2;

/***** End Heuristic Design *****/

@rb-link-color: #5da3ec;

/***** Designs colours *****/

@btn-bg-green-color: #8bbd23;
@btn-bg-green-dark: #6a9e00;
@color-green-disabled: #b3ca99;

/***** design colors *****/
@color-green-alt: #8bbd23;
@input-border-color: #cacaca;
@color-green-racing: #43c577;

@footer-links-bg-color: #363a4d;
@color-green-disabled: #c5de91;

/***** Digital Keyboard *****/
@dk-border-color: @lGrayDark;
@dk-button-color: @lGrayMediumLight;
@dk-font-size: 21px;

/***** Fallback scoreboards *****/
@fb-scorebox-bg: @lGrayMediumLight;
@fb-scorebox-bg-alt: #2c2f40;
@fb-score-color: @color-yellow-alt;
@fb-scorebox-border: #373c52;
@fb-home-team-label: #fbc400;
@fb-away-team-label: #35cfe3;
/***** Quickbet *****/
@warning-msg-color: #cff2f8;
/***** Cashout ******/
@bh-gray-color: #f1f1f1;

@link-color: @color-blue-alt;

/***** Banners Section Background *****/
@banners-section-color: @lGray-bg;
/*****Five-A-Side Colors*****/
@color-green-tropical: #028862;
@color-green-watercourse: #006742;
@color-eden: #006742;
@color-green-observatory: #009d64;
@color-green-sea: rgba(0, 100, 77, 0.9);
@color-green-forest: #026850;
@color-yellow-gorse: #fff137;
@color-havelock-blue: #4871C3;
@color-rariner: #3159a7;
@color-green-sulu: #C2DB8F;
@color-green-deap: #028d5a;
@color-green-rain: #40bb98;
@color-shadow: rgba(0, 0, 0, 0.09);
@color-blue-selected: #007aff;
@color-pantone: #3bb589;
@color-dunn-edwards: #017a5e;
@color-cyprus: #1b7c59;
@color-brand-background: @color-white;
@color-table-header-bg: #eaeaea;
@color-horse-form-table-bg: #f7f7f7;