@import './colours.variables.less';
@import './media-queries.variables.less';
@import './fonts.variables.less';

// OXYGEN APP STYLES
//----------------------------------------------------------------------

@platform-padding: 4px;
@platform-paddings: 0px @platform-padding;
@clock-svg-color: #c3e6ff;
@app-header-height: 56px;

//----------------------------------------------------------------------
// Top Bar
//  _______________________________________
// |     |                                 |
// |  <  | (icon) Title Text        (icon) |
// |_____|_________________________________|
@top-bar-wrap-bg : #252835;                  // Top Bar Wrapper Background
@top-bar-bg      : @redDark;                  // Top Bar Background
@top-bar-color   : @color-white;                     // Top Bar Text Color

@btn-back-color   : @color-white;                    // Back Button Color
@top-bar-back-bg  : @redDarkest;                 // Back Button Background Color
@footer-primary-color: #818181;
@footer-bg           : #1d1f29;

@title-icon-color : @color-white;                    // Title Icon Color

@top-bar-height: 42px;

//----------------------------------------------------------------------
// Pop-ups
//
@popup-header-padding: 12px 40px 12px 12px; // Pop-up header padding - 40px for close btn
@popup-padding: 10px;                       // Pop-up header padding
@popup-header-bg: @red;                     // Pop-up header Background color
@popup-header-color: @color-white;          // Pop-up header text color
@popup-header-font-size: 11px;              // Pop-up header font-size
@popup-header-min-height: 35px;             // Pop-up header min-height
@popup-header-margin-bottom: 2px;           // Pop-up header margin-bottom
@popup-header-text-transform: inherit;      // Pop-up header text-transform
@popup-header-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2),
                          inset 0 1px 0 rgba(255, 255, 255, .3); // Pop-up header box-shadow
@popup-header-close-size: 16px;             // Pop-up header button-close size

@popup-content-border-radius: @border-radius; // Pop-up content border-radius
@popup-overlay-color: rgba(0, 0, 0, .8);

//----------------------------------------------------------------------
// Favourites/Leagues
//  _____
//  \___/    _|_ (counter)
//   _|_     / \

@counter-color   : @color-orange-light;    // Favourites Counter Font Color
@fav-icon-color  : @color-white;           // Favourites Icon Fill Color
@leag-icon-color : @color-white;         // League Icon Fill Color

//----------------------------------------------------------------------
// Tabs Panel
//  _____________________________
// |         |         |         |
// |  tab 1  |  tab 2  |  tab 3  |
// |_________|_________|_________|

@tabs-front-clr   : @color-white;
@tabs-back-clr    : @page-bg;
@tabs-active-clr  : @madison;
@tabs-shadow-color: @page-bg;
@tabs-font-color  : @color-gray-dark;

//col-name
.col-name() {
  font-weight: normal;
  text-transform: uppercase;
}

//----------------------------------------------------------------------
// Switchers
//
//   Today   Tomorrow   Future
//  ________==========_________

@switch-border-color    : @color-gray;
@switch-border-color-act: @brand-color-dark;
@switch-background      : @brand-color-main;
@switch-font-color      : @color-gray-dark;

@btm-switchers-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
.btm-switchers() {
  &.active:after {
    background: #000;
  }
}

//----------------------------------------------------------------------
// Page Container
//
@page-cont-bg      : @page-bg;
@header-bg-clr1    : @brand-color-secondary;
@header-bg-clr2    : @brand-color-main;
@header-font-color : @color-gray-dark;
@header-icon-bg    : @color-gray-dark;

//----------------------------------------------------------------------
// Odds Card
//

@card-h-bg        : @color-white;
@card-h-font-color: lighten(@color-gray-dark, 50%);
@card-border-clr  : @color-gray;
@card-font-clr    : @color-gray-dark;
@card-text-color: @color-gray-dark;
@live-icon-width: 11px;
@live-icon-height: 11px;
@card-padding: 10px 12px;
@card-l-side-width: 20px;
@card-font-size: 13px;
@card-score-font-size: 12px;
@card-score-padding: 0 12px;
@card-footer-height: 25px;
@card-watch-live-font-size: 9px;
@card-footer-height: 17px;
@card-odd-wrapper-width: 56px;

//----------------------------------------------------------------------
// My Bets Sport Event Card
//
@event-card-font:       @alt-font-family;
@single-selection-name: @color-gray-darkest;
@single-selection-name-font-size: @font-size-tablet;
@cashout-odds-names-font-family: @alt-font-family;
@cashout-odds-opacity: 0.4;
@cashout-odds-date-color: @lBlack-light;
@live-clock-color: @lBlack-light;
@cashed-out-mark-size: 24px;
@single-selection-odds: @lBlack-light;
@single-selection-odds-font-weight: 500;
@single-selection-odds-crossed: @lBlack-light;
@live-score-points-font-size: @font-size-lg;
@live-score-points-font-family: @alt-font-family;
@single-market-name:    @lBlack-light;
@event-header:          #252835;
@odds-date-font:        @base-font-family;
@odds-date-font-size:   11px;
@suspended-color:       @lBlack-medium;
@single-selection-odds-suspended: @single-selection-odds;
@single-market-name-suspended: @single-market-name;
.leg-status() {
  color: @color-gray-darkest;
  font-size: @font-size;
  font-family: @base-font-family;
}
@arrow-icon-width:      10px;
@arrow-top-width:       75%;
@losing-color:          @red2;
@losing-indentation:    6px;
@event-card-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
@odds-content-height:   22px;
@event-card-padding: 12px 22px 12px 12px;
@event-card-silk-margin: 12px;
@event-card-silk-space: 40px;
@event-market-name-margin: 4px 0 2px;

//----------------------------------------------------------------------
// Bet receipt info (bethistory module)
//

@bet-receipt-info-font-family: @alt-font-family;
@bet-receipt-info-font-size: @font-size;
@bet-receipt-info-font-color: @lBlack-light;
@bet-receipt-info-opacity: 1;
@bet-receipt-info-date-color: @lBlack-medium;

//----------------------------------------------------------------------
// Bet receipt info (bethistory module)
//

@cashout-stake-and-returns-font-family: @alt-font-family;
@cashout-stake-and-returns-font-size: @font-size;
@cashout-stake-and-returns-color: @lBlack-medium;

//----------------------------------------------------------------------
// Links List Panel
//
@list-item-border-clr: @color-gray;
@list-arrow-icon-clr: #707070;
@list-title-bg-clr: #e2e2e6;

//----------------------------------------------------------------------
// Bet Button
//  _________
// |        |
// |  2/20  |
// |________|

@bet-btn-bg: linear-gradient(-180deg, #F5F5F5 0%, #EEEEEE 52%, #E7E7E7 100%);
@bet-btn-bg-disabled: linear-gradient(-180deg, #F5F5F5 0%, #EEEEEE 52%, #E7E7E7 100%);
@bet-btn-font-size: 14px;

//----------------------------------------------------------------------
// Super Button

@sup-btn-bg: none;
@nav-point-padding: 0 8px 0;
@sup-btn-color: @btn-bg-green-color;
@sup-btn-padding: 15px 0 14px;
@sup-btn-font: #fff;
@sup-btn-font-size: 13px;

//----------------------------------------------------------------------
// Show All Button
//  _____________________
// |                     |
// |      Show All       |
// |_____________________|

@show-all-bg: @page-bg;

// Background color for `<body>`.
@body-bg      : #f9f9f9;
@page-bg      : @color-gray;
@event-bar-bg : @brand-color-secondary;
@media-btns-bg: @brand-color-secondary;

// Other
@border-radius: 3px;
@border-radius-sm: 2px;
@border-color: @color-gray-darker;
@custom-select-height: 30px;

@ngdialog-zindex: 1020;

//----------------------------------------------------------------------
// no-bets-section
@no-bets-button-margin: 24px;
@no-bets-button-size: @font-size-tablet;
@no-bets-button-color: @lGray;
@no-bets-button-font: @alt-font-family;

//----------------------------------------------------------------------
// <see-all-link></see-all-link> (SEE ALL >)

@see-all-color: @color-blue-alt;

//----------------------------------------------------------------------
// <list-card></list-card>

@list-card-color: @color-gray-darkest;
@list-card-border-color: @lGrayLight;
@list-card-arrow-color: @lBlack-light;
@list-card-font: @alt-font-family;

//----------------------------------------------------------------------
// <live-label></live-label>

@live-label: {
  color: @color-yellow-alt;
  background: @lGray;
  padding: 0 4px;
  font-size: @font-size-md;
  font-family: @base-font-family;
  font-weight: bold;
  line-height: 15px;
  min-height: 15px;
}

//----------------------------------------------------------------------
// terms-block
@terms-block-color: @color-gray-dark2;
@terms-block-font: @alt-font-family;

//----------------------------------------------------------------------
// forecast-tricast-checkboxes

@checkbox-color: @lGray;
@checkbox-font: @alt-font-family;
@checkbox-bg: @lGrayLight;
@checkbox-checked: @btn-bg-green-color;
@checkbox-disabled: @lGrayLight;
@checkbox-border: #e2e2e6;
@checkbox-font-size: @font-size;

//----------------------------------------------------------------------
// forecast-tricast-market
@fortri-btn-width: calc(100% - 50px);
@fortri-btn-margin: 16px 25px;
@fortri-inner-shadow: none;

//----------------------------------------------------------------------
// <home-screen></home-screen>

@home-screen-logo: '../../../../platforms/ladbrokesMobile/assets/images/svg/homepage/ladbrokes-logo.svg';
@home-screen-bg: @brand-color-dark;

//----------------------------------------------------------------------
// Goal / Correction animation

@goal-label-bg: @color-yellow-extra;
@goal-label-color: @lGray;
@correction-label-bg: @lGrayDark;
@correction-label-color: @lGray;
@goal-label-height: 15px;

/***** Promo Labels *****/
@pl-cashout-bg-color: #f0e5d8;
@pl-cashout-color: @lBlack-medium;
@pl-label-font-size: 10px;
@pl-label-font-family: @base-font-family;

/***** BS Subheader *****/
@bs-subheader-height: 36px;
@bs-subheader-color: #8e919f;
@bs-subheader-active-color: @color-white;
@bs-subheader-active-border-color: @color-white;
@bs-subheader-bg-color: @lGray;
@bs-content-margin-top: 8px;
@bs-content-padding-bottom: 0;
@bs-widget-bg: @lGray-bg;
@bs-content-bg: @lGray-bg;
@bs-content-max-height: 60vh;

//----------------------------------------------------------------------
// <surface-bets-carousel></surface-bets-carousel>

@surface-bet-pad: 4px 4px;

// Show history button
@show-history-button-color: @color-blue-alt;
@show-history-button-font-size: @font-size-tablet;
@show-history-button-letter-spacing: 0;
@show-history-button-font-stretch: condensed;

// Bet History Terms and Conditions
@bh-terms-and-conditions-min-height: 40px;
@bh-terms-and-conditions-letter-spacing: -0.3px;
@bh-terms-and-conditions-padding-top-bottom: 12px;
@bh-terms-and-conditions-text-color: @lBlack-medium;
@bh-terms-and-conditions-border-color: @lGrayLight;
@bh-terms-and-conditions-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
@bh-terms-and-conditions-margin-top: 16px;
@bh-terms-and-conditions-info-padding: 16px 16px 0;
@bh-terms-and-conditions-info-font-size: 12px;
@bh-terms-and-conditions-info-margin-bottom: 24px;
@bh-terms-and-conditions-info-line-height: 14px;
@bh-terms-and-conditions-info-color: @lBlack-medium;
@bh-terms-and-conditions-font-family: @alt-font-family;

// Regular bet header
@bh-bet-header-bg-color: @lGrayLight;
@bh-bet-header-text-color: @lGray;
@bh-bet-header-font-size: @font-size-tablet;
@bh-bet-border-color: @lGrayDark;
@bh-bet-border-top-size: 1px;
@bh-bet-min-height: 36px;
@bh-bet-dark-triangle-margin-top: 1px;
@bh-bet-light-triangle-margin-top: 2px;

// Bet history top success message
@bh-top-success-message-font: @alt-font-family;
@bh-top-success-message-color: @lBlack-medium;
@bh-top-success-message-margin: 12px 0 0 3px;

// Byb history
@byb-progress-bar-background-color: rgba(74, 144, 226, 0.1);
@byb-stats-unavailable-tooltip-background: @lGray;
@byb-tooltip-padding: 14px 12px 12px;
@byb-tooltip-margin-top: 1px;

//----------------------------------------------------------------------
// <lotto-bets></lotto-bets>

@lotto-border-color: @lGrayDark;
@lotto-font-color: @lGray;
@lotto-bet-margin: 0 0 8px;
@lotto-font-family: @alt-font-family;
@lotto-stake-pad: 0 0 8px;
.lotto-bet {
  margin: @lotto-bet-margin;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
  &:last-child {
    margin-bottom: 16px;
  }
}
.lotto-header() {
  min-height: 35px;
  padding: 8px 12px;
  color: @lGray;
  background: @lGrayLight;
  border-bottom: 1px solid @lGrayDark;
  border-top: 1px solid @lGrayDark;
  font-size: @font-size-tablet;
}
.lotto-draw-time() {
  font-size: @font-size-md;
  font-family: @base-font-family;
}
.lotto-ball() {
  background: @lGrayLight;
  color: @lGray;
  font-size: @font-size-tablet;
}

//-------------------------------------------------------------------------
// <bet-promotions></bet-promotions>

@bet-promos-padding: 12px;
@bet-promos-extra-padding: 4px;
@bet-promos-line-height: 22px;
@bet-promos-color: @lBlack-medium;
@bet-promos-font-size: @font-size-lg;

.bet-promos-after() {}

.bet-promos-boosted() {
  width: 31px;
  height: 22px;
  padding-top: 1px;

  .icon-svg {
    width: 31px;
    height: 22px;
  }
}

.bet-promos-money-back() {
  height: 24px;
  background-color: @color-yellow-alt;
  padding: 5px 4px;
  margin: 0 12px 0 0;

  .icon-svg {
    width: 16px;
    height: 14px;
    fill: @color-black;
  }
}

//----------------------------------------------------------------------
// Edit my acca history
@cashout-history-item-font-family: @alt-font-family;
@cashout-history-item-font-size: @font-size;
@cashout-used-msg-font-family: @alt-font-family;
@cashout-history-color: @color-gray-darkest;
@ema-stake-value-font-weight: bold;
@ema-bet-container-shadow: 0 1px 0 0 @lGrayDark, 0 -1px 0 0 @lGrayDark;
@ema-edited-acca-bet-header-color: @color-gray-darkest;
@ema-history-bet-header-min-height: 63px;
@ema-edited-acca-bet-header-padding: 12px 16px;
@ema-history-header-line-height: normal;
@ema-button-font-size: 12px;
@ema-button-padding: 6px;
@ema-history-drawer-header-padding: 17px 16px;
@ema-history-background: @color-white;
@ema-stake-and-returns-bottom-padding: 8px;
@ema-undo-button-color: @lGrayMediumLight;

.bet-item-outer-space(){
  &.outer-space {
    margin: 0 0 12px 0;;

    &.collapsed {
      margin-bottom: 5px;
    }
  }
  &:last-child {
    margin-bottom: 0;
    .bet-container {
      margin-bottom: 0;
    }
  }
}

.ema-bet-history-label() {
  opacity: 1;
  color: @color-gray-darkest;
  font-family: @alt-font-family;
  margin-top: 6px;
}

.cashout-history-header-text() {
  font-size: @font-size-tablet;
  font-stretch: condensed;
  font-weight: bold;
  margin-bottom: 8px;
}

@ema-history-dialog-width: 740px;
@ema-history-list-height: 425px;

//----------------------------------------------------------------------
// <over-ask-offer-notification></over-ask-offer-notification>

@bs-oversask-notification-margin: 0;
@bs-oversask-notification-padding: 12px 14px 14px 32px;
@bs-oversask-notification-border: none;
@bs-oversask-notification-icon-size: 15px;
@bs-oversask-notification-icon-left: 12px;
@bs-oversask-notification-icon-top: 12px;
@bs-oversask-notification-color: @lGray;
@bs-oversask-notification-background: #f9f9fa;
@bs-overask-trader-offer-expires-margin: 8px 0 0;
@bs-overask-trader-offer-message-font-size: 12px;
@bs-oversask-notification-timer-weight: normal;
@bs-oversask-notification-message-opacity: 1;

// Cash Out panel and range slider
@cashout-button-height: 44px;
@cashout-btn-border-radius: 2px;
@cashout-btn-margin: 2px 8px 8px;
@partial-cashout-btn-text-top: 9px;
@partial-cashout-btn-margin-left: 6px;
@close-partial-icon-cashout-width-height: 14px;
@close-partial-area-width: 14%;
@partial-cashout-activate-btn-width: 25%;
@full-cashout-normal-color: @btn-bg-green-color;
@partial-cashout-normal-color: @btn-bg-green-dark;
@partial-cashout-active-color: @full-cashout-normal-color;
@slider-color: @btn-bg-green-color;
@slider-underline-color: @lGraySemiMediumLight;
@slider-round-color: @btn-bg-green-color;
@cashout-success-color: @btn-bg-green-dark;
@cashout-btn-font-size: @font-size-bit-lgr;
@cashout-btn-font-stretch: condensed;
@cashout-btn-letter-spacing: 0.02px;
@partial-cashout-btn-font-size: @font-size;
@partial-cashout-letter-spacing: 0.02;
@partial-cashout-value-font-size: @font-size;
@partial-cashout-value-line-height: @font-size-tablet;
@cashout-slider-margin-top: 3px;
@partial-cashout-activate-margin-top: 2px;
@cashout-timer-height: 24px;
@cashout-timer-font-weight: normal;
@cashout-progress-spinner-border-width: 3px;
@cashout-progress-spinner-box-shadow: inset 0 0 0 3px #6f961c;

@cashout-disabled-btn-oberlay-display: none;
@cashout-disabled-btn-bg-color: @color-green-disabled;

// <cashout-error-message></cashout-error-message>
@cashout-error-message-background: @bh-gray-color;
@cashout-error-message-padding: 11px 12px;
@cashout-error-message-color: @color-gray-darkest;
@cashout-error-font-family: @alt-font-family;
@cashout-error-letter-spacing: 0;

// <runner-spotlight></runner-spotlight>
@runner-spotlight-font: @font-size;

// Promo icons
.icon-label-styles() {
  .display-flex();
  .justify-content(center);
  .align-items(center);
}

.big-icon-styles() {
  height: 34px;
  width: 38px;
  .icon-label-styles();
  margin-left: 1px;
}

.small-icon-styles() {
  padding-right: 5px;
  padding-left: 5px;
  height: 15px;
  .icon-label-styles();
  margin-left: 4px;
}

.middle-icon-styles() {
  width: 30px;
  height: 30px;
  .icon-label-styles();
  margin-left: 4px;
}

.mini-icon-styles() {
  .small-icon-styles();
}
//race
@race-header-height: 30px;
@race-footer-height: @race-header-height;
@race-card-h-padding: 0 10px;
@label-line-height: 15px;
@race-carousel-button-width: 20px;
@race-card-width: 275px;
@race-card-delimiter: 5px;
@race-number-width: 30px;
@race-silk-horseracing-width: 40px;
@race-silk-horseracing-height: 30px;
@race-silk-greyhound-width: 30px;
@race-silk-greyhound-height: @race-silk-greyhound-width;
@race-card-btn-width: 60px;
@race-card-horseracing-btn-height: @race-card-btn-width;
@race-card-greyhound-btn-height: 70px;
@page-container-header-bottom-margin: 2px;

//datepicker
@date-picker-height: 45px;
@date-picker-icon-color: #4b4b4b;

@bs-stake-input-border-focused: 1px solid fade(@lBlack-medium, 70%);
@bs-stake-input-shadow-focused-out: 0 0 1px 1px fade(@color-blue-alt, 30%);
@bs-stake-input-shadow-focused-in: inset 4px 4px 7px 0 fade(@color-gray-shadow, 6%);

//modal-dialog
@modal-dialog-width: 295px;
@modal-dialog-btn-list-align: right;
@modal-dialog-btn-style4-color: @lGray;
@modal-dialog-btn-list-height: 35px;

//pc-badge icons
@pc-badge-color: @lGray;
@pc-badge-font-size: @font-size-sm;
@pc-badge-height: 15px;
@pc-badge-line-height: @pc-badge-height;
@pc-badge-enhanced-background: @color-yellow-alt;
@pc-badge-specials-background: @color-yellow-alt;

//skeleton
@sk-min-height: 915px;
@sk-tablet-min-height: 1400px;
@sk-widget-height: 380px;
@sk-scoreboard-height: 227px;
@sk-tablet-scoreboard-height: 261px;
@sk-mobile-padding: 12px;
@sk-tablet-padding: 8px;

@quick-deposit-notification-bg: @warning-msg-color;

//Gaming Overlay
@gaming-overlay-bg: @brand-color-dark;
@gaming-splash-overlay: {
  background: repeating-linear-gradient(45deg,#d01017,#d01017 35%,#e20317 0,#e20317 70%);
  &:before {
    background: repeating-linear-gradient(-45deg,#e20317,#e20317 30%,transparent 0,transparent 100%);
  }
  &:after {
    background: repeating-linear-gradient(-45deg,#d01017,#d01017 5%,transparent 0,transparent 100%);
  }
};

// accordion
@accdn-margin-bottom: 8px;

//odd-boost icons
@odds-boost-icon-width: 60px;
@odds-boost-info-content-icon-width: 28px;
@odds-boost-info-content-icon-scale: -1;

//Five-A-Side
@branding-padding: 2px 8px;

//AEM inline promos
@promo-background-color: rgba(96, 0, 5);

// banners
@banner-min-height: 40;
@banner-shadow-height: 2px;
@offer-terms-bg: transparent;
@offer-terms-color: rgba(255, 255, 255, 0.5);

// slider
@slide-dots-color: @lGrayDark;
@slide-dots-color-active: @brand-color-main;
