<div class="retail-page">
  <top-bar [title]="'retail.title'"></top-bar>
  <banners-section class="lobby-banners" [page]="CONST.bannersPage"></banners-section>
  <div *ngIf="showUpgradeButton" class="upgrade-button" data-crlat="upgradeButtonContainer">
    <button class="btn btn-style1" data-crlat="upgradeButton" (click)="upgrade()" [innerHtml]="upgradeButtonContent">
    </button>
  </div>
  <retail-menu *ngIf="showRetailMenu" [showDescription]="true" [trackingLocation]="CONST.trackingLocation"></retail-menu>
</div>
