@import 'global.variables.less';

in-play-sport-tab {
  + :host {
    .show-more-link {
      margin-top: -2px;
    }
  }
}

.show-more-link {
  background: @color-white;
  height: 36px;
  text-transform: uppercase;
  padding: 0 12px;
  .display-flex();
  .align-items();
  .justify-content(flex-end);
  font-size: 11px;
  cursor: pointer;
  font-weight: bold;
  color: @blue;
  text-decoration: none;
  margin-top: -1px;
  border-top: 1px solid @lGrayLight;

  .yourcall-hash {
    color: @caribbean-green;
  }

  .arrow-icon {
    width: 5px;
    height: 8px;
    fill: @blue;
    margin-left: 5px;
  }
}
