<accordion *ngIf="filter === 'by-time'"
           [isExpanded]="isExpanded"
           [card]="true"
           data-crlat="outerAccordion">
  <left-side>
    <span class="left-title-text" [i18n]="'sb.events'"  data-crlat="headerTitle.leftMessage"></span>
  </left-side>
  <accordion-body>
    <list-card *ngFor="let event of orderedEvents; trackBy: trackById;" data-crlat="race.antepost.event"
               [item]="event" [title]="event.localTime + ' ' + event.name" [link]="event.link" [date]="event.date"
               [attr.data-eventid]="event.id" data-crlat="racing.futureEvent">
      <promotion-icon [mode]="'sm'" [type]="'event'" [display]="event.drilldownTagNames" data-crlat="promotionIcons"></promotion-icon>
    </list-card>
  </accordion-body>
</accordion>

<ng-container *ngIf="filter === 'by-meeting'">
  <accordion [accordionTitle]="classesTypeName.name"
             [card]="true"
             *ngFor="let classesTypeName of filteredTypeNames; trackBy: trackById; let index = index;"
             data-crlat="outerAccordion">
    <right-side>
      <cashout-label *ngIf="checkCacheOut(racingEvents, classesTypeName.name)"></cashout-label>
    </right-side>
    <accordion-body>
      <list-card *ngFor="let event of orderedEventsByTypeNames[index]; trackBy: trackById;" data-crlat="race.antepost.event"
                 [item]="event" [title]="event.localTime + ' ' + event.name" [link]="event.link" [date]="event.date"
                 [attr.data-eventid]="event.id" data-crlat="racing.futureEvent">
        <promotion-icon [mode]="'sm'" [type]="'event'" [display]="event.drilldownTagNames" data-crlat="promotionIcons"></promotion-icon>
      </list-card>
    </accordion-body>
  </accordion>
</ng-container>
