@import 'global.variables.less';

greyhound-future-tab:host list-card::ng-deep {
  .list-card-name {
    font-weight: bold;
    font-size: @font-size-tablet;
  }

  .list-card-date {
    font-size: @font-size-sm;
  }
}
