@import 'global.variables.less';

.surface-bet-card {
  white-space: normal;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: @color-white;
  color: @color-gray-darkest;
  letter-spacing: 0;
  font-stretch: condensed;
  font-family: @alt-font-family;

  .word-break();
  .display-flex();
  .flex-direction(row);
  .justify-content(space-between);

  .left-side {
    min-width: 0;
    .display-flex();
    .flex-direction(column);
    .align-items(start);
  }

  .surface-bet-header {
    padding: 0 12px;
    margin: 6px 0;
    min-height: 15px;
    border-radius: 1px;
    font-size: @font-size-md;
    font-weight: bold;
    position: relative;
    background-color: @color-yellow-alt;
    .display-flex();
    .justify-content(start);

    .bet-img-container {
      margin-right: 4px;
      max-width: 15px;
      max-height: 15px;
      .display-flex();
      .justify-content(center);
      .align-items(center);

      > svg {
        display: block;
        max-height: 11px;
      }
    }

    .surface-bet-title {
      text-transform: uppercase;
      line-height: 15px;
      font-family: @base-font-family;
      max-width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .header-background {
      height: 150%;
      background-color: @color-white;
      position: absolute;
      right: -7px;
      width: 10px;
      z-index: 3;
      .transform(rotate(10deg));
    }
  }

  .surface-bet-content {
    font-size: @font-size-tablet;
    padding-left: 12px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0;
  }

  .price-odd-container {
    padding: 15px 12px 8px 12px;
  }


  .old-price {
    font-family: @base-font-family;
    font-size: @font-size-lg;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
  }
}
