<loading-screen [displayed]="!isLoaded" [templateType]="'GENERIC'"></loading-screen>

<ng-container *ngIf="isLoaded && !isResponseError && (eventsBySections.length || enhancedEvents.length)">
  <lazy-component class="sticky-market-selector" *ngIf="isMarketSelectorActive && isMarketSwitcherConfigured"
    moduleUri="@sharedModule/components/marketSelector/market-selector.module#MarketSelectorModule"
    data-crlat="marketSelectorModule" entryComponent="LadbrokesMatchesMarketSelectorComponent" [inputs]="{sportId: sportId,
                      multipleEventsDataSections: eventsBySections, sticky: true,
                      selectorType:'sportMatches'}" [outputs]="['filterChange','hideEnhancedSection']"
    (event)="handleOutput($event)">
  </lazy-component>
  <!-- Enhanced Multiples Events -->
  <accordion *ngIf="isLoadedEnhanced && enhancedEvents.length && groupedByDateEnhancedEvents" data-crlat="accordion"
    [isExpanded]="isExpandedEnhanced" [trackLabel]="'expand'" [trackCategory]="'upcoming module'"
    [trackAction]="locationPath" (function)="updateState($event, 'enhanced')" [trackExpandOnly]="true"
    [class]="'matches-card'">
    <left-side>
      <span class="left-title-text" [textContent]="'Enhanced Multiples'" data-crlat="headerTitle.leftMessage"></span>
    </left-side>
    <accordion-body *ngIf="isExpandedEnhanced">
      <div *ngFor="let enhancedEventsGroup of groupedByDateEnhancedEvents.groupedByDate; trackBy: trackByDate;"
        class="container-inner-content" data-crlat="containerInnerContent">
        <odds-card-header [events]="enhancedEventsGroup.events" *ngIf="enhancedEventsGroup.events?.length"
          [sportConfig]="sport?.sportConfig" data-crlat="eventOddsHeader" [dateTitle]="enhancedEventsGroup.title"
          [isFilterByTemplateMarketName]="true" [hideOddsTitles]="true" [class]="'matches-card'">
        </odds-card-header>
        <ng-container *ngFor="let eventEntity of enhancedEventsGroup.events; trackBy:trackById">
          <odds-card-component data-crlat="eventEntity" *ngIf="eventEntity.markets[0].outcomes.length"
            [sportConfig]="sport?.sportConfig" [event]="eventEntity" [gtmModuleTitle]="'Enhanced Multiples'"
            (goToEventCallback)="trackEvent(eventEntity)">
            <favourites-body>
              <favourites-add-button data-crlat="addFavouritesButton" class="odds-side star-item" [event]="eventEntity"
                [sportName]="sportName">
              </favourites-add-button>
            </favourites-body>
            <promotions-body>
              <!-- Promotional signposting -->
              <promotion-icon class="odds-card-promotions-icon" [type]="'event'" [typeId]="eventEntity.typeId"
                [display]="eventEntity.drilldownTagNames" data-crlat="promotionIcons">
              </promotion-icon>
            </promotions-body>
          </odds-card-component>
        </ng-container>
      </div>
    </accordion-body>
  </accordion>
  <ng-container *ngFor="let eventsBySection of eventsBySections; trackBy:trackByTypeId; let i = index">
    <!--main sport events sections-->
    <accordion *ngIf="!eventsBySection.deactivated" data-crlat="accordion"
      [accordionTitle]="eventsBySection.sectionTitle" (function)="updateState($event, 'event', eventsBySection)"
      [isExpanded]="eventsBySection.isExpanded" [class]="'matches-card'" [trackLabel]="'expand'"
      [trackCategory]="'upcoming module'" [trackExpandOnly]="true" [trackAction]="locationPath">
      <right-side>
        <see-all-link *ngIf="eventsBySection.isExpanded" (click)="goToCompetition(eventsBySection)"></see-all-link>
      </right-side>
      <accordion-body
        *ngIf="eventsBySection.isExpanded && (eventsBySection.events.length > 20 && isMarketSelectorActive ? showAccordionBody: true)">
        <div *ngFor="let eventsGroup of eventsBySection.groupedByDate; trackBy: trackByDate; index as groupIndex;"
          class="container-inner-content" data-crlat="containerInnerContent">
          <ng-container
            *ngIf="isPrimaryMarket(eventsBySection) || eventsGroup.marketsAvailability[eventsBySection.defaultValue?.toLowerCase()]">
            <odds-card-header [events]="eventsGroup.events" *ngIf="eventsGroup.events?.length"
              [sportConfig]="sport?.sportConfig" data-crlat="eventOddsHeader" [dateTitle]="eventsGroup.title"
              [isFilterByTemplateMarketName]="true" [selectedMarket]="eventsBySection.defaultValue"
              [undisplayedMarket]="undisplayedMarket" [class]="'matches-card'">
            </odds-card-header>
            <ng-container *ngFor="let eventEntity of eventsGroup.events; trackBy:trackById">
              <odds-card-component *ngIf="eventEntity.markets[0]?.outcomes?.length" data-crlat="eventEntity"
                [sportConfig]="sport?.sportConfig" [event]="eventEntity" [selectedMarket]="eventsBySection.defaultValue"
                [isFilterByTemplateMarketName]="true" [isMarketSwitcherConfigured]="isMarketSwitcherConfigured"
                [markets]="eventEntity.markets" [gtmModuleTitle]="eventsBySection.sectionTitle"
                (marketUndisplayed)="reinitHeader($event)" (goToEventCallback)="trackEvent(eventEntity)">
                <favourites-body>
                  <favourites-add-button data-crlat="addFavouritesButton" class="odds-side star-item"
                    [event]="eventEntity" [sportName]="'football'">
                  </favourites-add-button>
                </favourites-body>
                <promotions-body>
                  <!-- Promotional signposting -->
                  <promotion-icon class="odds-card-promotions-icon" [type]="'event'" [typeId]="eventEntity.typeId"
                    [display]="eventEntity.drilldownTagNames" data-crlat="promotionIcons">
                  </promotion-icon>
                </promotions-body>
              </odds-card-component>
            </ng-container>
          </ng-container>
        </div>
      </accordion-body>
    </accordion>
  </ng-container>
</ng-container>

<request-error *ngIf="isLoaded && isResponseError && !featuredEventsCount" (reloadFn)="loadMatchesData()"
  [loadFailed]="isResponseError">
</request-error>
<no-events
  *ngIf="isLoaded && !isResponseError && !eventsBySections.length && !enhancedEvents.length && !featuredEventsCount">
</no-events>