<div class="spinner-loader spinner-dark small-loader" *ngIf="state.loading && isLoaderEnabled"></div>
<outlet-status *ngIf="handleError" [state]="state">
  <request-error [loadFailed]="true" (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
<ng-container #container></ng-container>
