@import 'global.variables.less';

.custom-select {
  margin: 4px;
  overflow: hidden;
  position: relative;
  min-height: @custom-select-height;

  &.select-no-margin {
    margin: 0;
  }

  .select-arrow {
    pointer-events: none;
    position: absolute;
    top: 50%;
    height: 5px;
    right: 10px;
    width: 10px;
    margin-top: -2px;
    fill: @color-gray-dark;
  }

  select {
    color: @color-gray-dark;
    font-weight: bold;
    font-size: 11px;
    padding: 0 10px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: @color-white;
    position: relative;
    height: @custom-select-height;
    .appearance(none);

    //Fix Android bug: select drop-down is displayed on landscape mode
    .mobile-overlay-active & {
      position: absolute;
    }
    &:focus {
      outline: none;
    }
  }
}

.market-selector .custom-select {
  margin: 0;
  padding: 10px;
  background: @color-white;
  font-family: @base-font-family;
  &:before {
    content: 'Market';
    font-size: 11px;
    line-height: 12px;
    color: lighten(@color-gray-dark, 50%);
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 20px;
    z-index: 1;
    pointer-events: none;
    font-weight: normal;
  }
  select {
    border: 1px solid lighten(@color-gray-dark, 50%);
    line-height: 12px;
    padding: 10px 20px 10px 50px;
    height: 35px;
  }
  .select-arrow {
    right: 20px;
  }
}
