//Global styles
@import 'global.variables.less';

@qb-content-side-padding: 15px;
@qb-small-font-size: 11px;
@qb-medium-font-size: 12px;
@qb-large-font-size: 14px;
@qb-outcome-name-height: 13px;
@qb-small-font-size: 11px;

/* Quickbet content */
.quickbet-content {
  background: @color-white;
  .display-flex();
  .flex-direction(column);
  padding: 15px @qb-content-side-padding;

  .quickbet-sectionwrap {
    width: 100%;
    .display-flex();
  }

  /*// if quick bet is for racing:*/
  .qb-content-info,
  .qb-stake-section {
    width: 50%;
  }

  .qb-stake-section {
    text-align: right;

    odds-boost-price {
      margin-left: 4px;
    }

    .odds-label {
      color: @color-gray-dark;
      text-transform: capitalize;
      font-weight: normal;
      font-size: @qb-small-font-size;
    }

    .odds-label {
      color: lighten(@color-gray-dark, 50%);
    }

    .odds {
      font-weight: normal;
      font-size: @qb-medium-font-size;
      margin-bottom: 10px;
    }

    .odds-value {
      color: @color-gray-dark;
      font-weight: bold;
      font-size: @qb-medium-font-size;
    }
  }
}

.eachway-terms-block {
  margin-top: -5px;
}
.eachway-terms {
  display: block;
  color: @color-gray-dark;
}

.qb-receipt-wrapper {
  background: #fff;
  margin: 5px 4px;
  .selection-type {
    font-size: @qb-large-font-size;
    color: @color-gray-dark;
  }
  .qb-single-receipt-odds,
  .receipt-id {
    margin: 8px 0;
    color: lighten(@color-gray-dark, 35%);
    font-size: @qb-medium-font-size;
  }
}

.qb-receipt {
  background: @color-gray;
  overflow: hidden;

  .qb-stake-boosted {
    border-bottom: 1px dashed @color-gray;
    padding: 10px 15px;
    .qb-boosted-icon {
      width: 23px;
      height: 17px;
      margin-right: 10px;
      vertical-align: middle;
    }
    .qb-boosted-text {
      vertical-align: middle;
    }
  }

  .qb-stake-header {
    max-height: inherit;
    padding: 15px;

    .line {
      display: flex;
      flex-flow: row nowrap;

      .left, .right {
        display: flex;
        align-items: center;
        flex: 0 1 auto;
        &.qb-win-alerts-wrapper {
          align-items: flex-start;
          flex: 1 1 auto;
          justify-content: flex-end;
        }
        .qb-stake-info {
          line-height: 1;
          white-space: normal;
        }
      }
    }

    .qb-stake-title {
      display: block;
      font-size: @qb-medium-font-size;
      color: @color-gray-dark;
      line-height: @qb-outcome-name-height;
      margin-top: 7px;
      margin-bottom: 5px;
    }

    .qb-stake-type,
    .qb-stake-description {
      color: @color-gray-dark;
      font-size: @qb-medium-font-size;
    }

    .qb-win-alerts-wrapper {

      .qb-win-alerts-content {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;

        .qb-win-alerts-info {
          font-size: 11px;
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          .win-alerts-info-icon {
            width: 14px;
            height: 14px;
            position: relative;
          }

          span {
            margin-left: 4px;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .qb-stake-footer {
    padding: 15px;
    background: @color-gray-light;
    border-top: 1px dashed @color-gray;
    position: relative;
    white-space: nowrap;
    &::after, &::before {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 14px;
      background: @color-gray;
      border-radius: 7px;
      top: -7px;
    }
    &::after {
      left: -7px;
    }
    &:before {
      right: -7px;
    }
    strong {
      font-weight: bold;
    }
  }

  .line {
    width: 100%;
    margin-bottom: 10px;
    line-height: 12px;
    white-space: nowrap;

    &.summary-info {
      span {
        font-size: 13px;
        color: @color-gray-dark;
      }

      strong {
        font-size: 13px;
        color: @color-gray-dark;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}

::ng-deep {
  p.yourcall-selection {
    margin: 0 0 6px;
    span {
      font-size: 12px;
      font-family: @base-font-family;
      color: fade(@color-gray-dark, 75%);
    }
    .value {
      color: @color-gray-dark;
      display: block;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}

:host ::ng-deep {
  .bog-block {
    &.bog-bg {
      margin: 4px;
    }
  }
  .promo-labels.quickbet {
    &:last-child .bog-block.bog-bg {
      margin: 0px;
    }
  }
}

.byb-event-name {
  font-size: 12px;
  color: #41494e;
  margin-top: 10px;
}
