<div class="qb-receipt">
  <lazy-component moduleUri="@lazy-modules-module/receiptHeader/receipt-header.module#ReceiptHeaderModule"
                [inputs]="{ betDate: betReceipt.date }">
  </lazy-component>
  <div class="qb-receipt-wrapper">
    <div class="qb-stake-boosted" *ngIf="betReceipt.oddsBoost">
      <svg class="qb-boosted-icon">
        <use xlink:href="#boost-icon"></use>
      </svg>
      <span class="qb-boosted-text" [i18n]="'bs.boostedMsg'"></span>
    </div>
    <div class="qb-stake-header" *ngIf="!betReceipt.selections">
        <div class="line">
            <div class="left">
              <div class="qb-stake-info">
                <strong class="selection-type" [i18n]="'bs.single'" data-crlat="selType"></strong>&nbsp;
                <strong class="qb-single-receipt-odds" [textContent]="'@ '"></strong>
                <strong class="qb-single-receipt-odds" [textContent]="odds" data-uat="odds" data-crlat="odds"></strong>
                <div class="receipt-id">
                  <span [i18n]="'quickbet.betId'" data-crlat="betId.label"></span>
                  <span [textContent]="betReceipt.receipt.id" data-uat="betId" data-crlat="betId.value"></span>
                </div>
                <strong class="qb-stake-title" [textContent]="filteredOutcomeName" data-uat="selectionName"></strong>
                <span class="qb-stake-type" [textContent]="filteredMarketName + ' / '" data-uat="marketName"></span>
                <span class="qb-stake-description" [textContent]="filteredEventName" data-uat="eventName"></span>
              </div>
            </div>

            <div *ngIf="winAlertsEnabled" class="right qb-win-alerts-wrapper">
              <ng-container *ngTemplateOutlet="winAlertsTpl"></ng-container>
            </div>
        </div>
      <div class="eachway-terms-block" *ngIf="isEachWay">
        <span *ngIf="eachEayTerms" class="eachway-terms" [textContent]="eachEayTerms" data-crlat="ewPlaces"></span>
        <span class="eachway-terms" [textContent]="linesPerStake" data-crlat="ewLines"></span>
      </div>
    </div>

    <div class="qb-stake-header" *ngIf="betReceipt.selections" data-crlat="quickbet.content">
      <div class="line">
        <div class="left">
          <div class="qb-stake-info">
            <strong class="selection-type" [textContent]="bybSelectionType" data-crlat="selType"></strong>&nbsp;
            <strong class="qb-single-receipt-odds" [textContent]="'@ '"></strong>
            <strong class="qb-single-receipt-odds" [textContent]="oddsValue" data-uat="odds" data-crlat="odds"></strong>
            <div class="receipt-id">
              <span [i18n]="'quickbet.betId'" data-crlat="betId.label"></span>
              <span [textContent]="betReceipt.receipt" data-crlat="betId.value"></span>
            </div>
            <section class="qb-content-info" data-crlat="section.selections">
              <ng-content select="your-call-body-receipt-details"></ng-content>
            </section>
            <div class="byb-event-name" [textContent]="bybEventName"></div>
          </div>
        </div>
        <div *ngIf="winAlertsEnabled" class="right qb-win-alerts-wrapper">
          <ng-container *ngTemplateOutlet="winAlertsTpl"></ng-container>
        </div>
      </div>
    </div>

    <div class="promo-line">
      <!-- Promo labels -->
      <promo-labels
        [cashoutValue]="betReceipt.bet?.cashoutValue"
        [event]="selection"
        [marketId]="selection.marketId"
        [isBogEnabled]="isBogEnabled"
        [exclude]="excludedDrillDownTagNames"
        [mode]="'quickbet'">
      </promo-labels>
    </div>

    <div class="qb-stake-footer">
      <div class="line summary-info">
        <strong [i18n]="'quickbet.totalStake'" data-crlat="totalStake.label"></strong>
        <span class="freebet-stake">
          <free-bet-label *ngIf="hasFreebet"
                          [selected]="betReceipt.stake.freebet"
                          [plus]="selection.stakeAmount > 0">
          </free-bet-label>
          <span *ngIf="selection.stakeAmount > 0"
                [textContent]="finalStake"
                data-crlat="totalStake"></span>
        </span>
      </div>
      <div class="line summary-info">
        <strong [i18n]="'quickbet.estimatedResults'" data-crlat="estimatedResults.label"></strong>
        <span [textContent]="getPotentialPayoutValue(payout)"
                data-uat="estReturns"
                data-crlat="estimatedResults.value"></span>
      </div>
    </div>
  </div>
</div>

<!-- Win alerts template -->
<ng-template #winAlertsTpl>
  <div class="qb-win-alerts-content">
    <div class="qb-win-alerts-info">
      <svg class="win-alerts-info-icon"
        data-crlat="infoButton"
        [tooltip]="'winAlerts'"
        [showTooltip]="showWinAlertsTooltip()">
        <use xlink:href="#win-alert-icon"></use>
      </svg>
      <span [i18n]="'quickbet.winAlerts'"></span>
    </div>

    <toggle-switch
      [initialState]="winAlertsActive"
      [componentId]="'toggle-switch-quick-bet'"
      [disabled]="!nativeBridge.pushNotificationsEnabled"
      (switcherControl)="toggleWinAlerts(betReceipt, $event)"
      (clickIfDisabled)="nativeBridge.showNotificationSettings()"
      data-crlat="allowQuickBetSwitch">
    </toggle-switch>
  </div>
</ng-template>
