@import 'global.variables.less';

@footZindex: 1002;

.loading-overlay {
  background: @color-black;
  content: '';
  height: 100%;
  left: 0;
  opacity: .85;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: @footZindex + 1;

  .spinner-loader {
    top: 35%;
  }
}
