@import 'global.variables.less';

#desktop-header {
  margin: 0 auto;
  font-family: @base-font-family;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 3px 0 fade(@color-black, 25%);

  .header-bottom-menu {
    height: 40px;
    background: @color-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;

    @media screen and (max-width: @md-point) {
      padding: 0 12px;
    }

    a {
      display: inline-block;
      text-transform: uppercase;
      padding: 13px 12px;
      font-size: 12px;
      color: @lBlack-light;
      height: 40px;
      transition: opacity .5s ease;

      @media screen and (max-width: @md-point) {
        padding: 15px 6px;
      }

      &:hover {
        opacity: 0.5;
        text-decoration: none;
      }

      &.active {
        color: @lGray;
        font-weight: bold;
        box-shadow: inset 0 -3px 0 @red;
        pointer-events: none;
      }
    }
  }
}
