@import 'global.variables.less';

:host {
  margin: 0;

  accordion-body {
    margin: 0 4px;
    display: block;

    .market-terms {
      background: @color-white;
      font-size: @font-size-md;
      color: @color-gray-darkest;
      padding: 12px 12px 0;
      font-family: @alt-font-family;
    }
  }
}

:host.featured-markets {
  accordion {
    margin: 0;
  }

  .odds-card {
    box-shadow: none;
    border-bottom: 1px solid @color-gray;
  }
}
