<div class="sk-container" [ngClass]="{'sk-loading': state.loading}">
  <outlet-status [state]="state">
    <request-error
      [loadFailed]="true"
      (reloadFn)="reloadComponent()">
    </request-error>
  </outlet-status>

  <ng-container *ngIf="!state.loading && !state.error">
    <top-bar [title]="competitionName"></top-bar>

    <tabs-panel [tpTabs]="competitionTabs"
                [tpActiveTab]="activeTab"
                [detectGTMLocation]="'location'"
                *ngIf="competitionTabs">
    </tabs-panel>

    <svg-list *ngIf="participantsFlags"
              [list]="participantsFlags"
              [keepStyles]="true">
    </svg-list>

    <lazy-component moduleUri="src/app/lazy-modules/superButton/super-button.module#SuperButtonModule"
                    [inputs]="{
                            type: 'bigCompetition',
                            competitionId: competition.id
                          }">
    </lazy-component>
    <router-outlet></router-outlet>
  </ng-container>
</div>
