<ng-container *ngIf="!state.loading && !state.error">
  <!--- Top Bar -->
  <top-bar *ngIf="!isDetailPage"
           [title]="'sb.' + racingName"
           [innerContent]="topBarInnerContent"
           (titleFunc)="goToDefaultPage()">
    <top-bar-body class="top-bar-side" data-crlat="topBarContent">
      <a [routerLink]="'/bet-finder'" class="bet-finder-link" *ngIf="racingName === 'horseracing' && isBetFilterLinkAvailable" data-crlat="betFinderLink">
        <svg class="bet-finder-icon">
          <use xlink:href="#bet-finder-icon"></use>
        </svg>
        <span class="bet-finder-title" data-crlat="betFinderTitle" [i18n]="'bf.betFinder'"></span>
      </a>
    </top-bar-body>
  </top-bar>
  <breadcrumbs *ngIf="!isDetailPage" [sportName]="racingName" [sportTabs]="sportTabs"></breadcrumbs>
  <div *ngIf="!isDetailPage">
    <div class="banner-block" data-crlat="bannerBlock">
      <!--- Banners Section-->
      <banners-section [page]="racingName" data-crlat="bannersSection"></banners-section>
    </div>
    <!--- Enhanced Section -->
    <racing-enhanced-multiples *ngIf="isEnhancedMultiplesEnabled && racingName === 'horseracing'"></racing-enhanced-multiples>
    <!--- Tabs -->
    <action-arrows>
      <action-arrows-content>
        <switchers
          [type]="'scrollable'"
          [switchers]="racingTabs"
          [activeTab]="activeTab"
          [noPaddings]="true"
        ></switchers>
      </action-arrows-content>
    </action-arrows>
    <!-- Show spinner if sport active tab not resolved yet -->
    <div class="spinner-loader spinner-dark" *ngIf="!activeTab" data-crlat="spinner.loader"></div>
  </div>

  <router-outlet></router-outlet>

  <quick-links class="quick-links-container"></quick-links>
</ng-container>
<outlet-status [state]="state">
  <request-error *ngIf="state.error" [loadFailed]="state.error" (reloadFn)="reloadComponent()"></request-error>
</outlet-status>

