@import '../../../assets/styles/general.less';

.qe-container {
  .links-list {
    & > h1, & > h2 {
      margin-top: 0;
    }
    li {
      padding: 0 0 15px;
      h1, h2, h3 {
        text-transform: uppercase;
        color: @color-gray-silver;
        text-align: left;
        margin-bottom: 10px;
      }
      p {
        font-weight: normal;
        text-align: left;
      }
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      &:last-child {
        border: none;
      }
    }
  }
}
