<top-bar [title]="'sb.horseracing'" data-crlat="topBar" [path]="racingDefaultPath"
  [innerContent]="true" (titleFunc)="goToDefaultPage()">
  <a [routerLink]="'/bet-finder'" class="bet-finder-link" data-crlat="betFinderLink">
    <svg class="bet-finder-icon">
      <use xlink:href="#bet-finder-icon"></use>
    </svg>
    <span class="bet-finder-title" data-crlat="betFinderTitle" [i18n]="'bf.betFinder'"></span>
  </a>
</top-bar>
<breadcrumbs [sportName]="sport"></breadcrumbs>

<div class="tab-content racing-content" data-crlat="tabContent">
  <div class="container">

    <!--- Event Top Container -->
    <div class="top-event-panel" data-crlat="eventTopContainer">
      <div class="page-inner" data-crlat="accordionsList">
        <div class="page-segment">
          <!--RACING DETAILS-->
          <racing-event-model data-crlat="racingEventModel" [onExpand]="onExpand" [ngClass]="{'antepost-event' : isAntepostMarket(event)}" *ngFor="let event of events; trackBy: trackById"
            [sport]="sport" [eventEntity]="event"></racing-event-model>
        </div>

        <div class="widget-column">
          <!-- about watch free widget -->
          <about-watch-free-widget></about-watch-free-widget>
        </div>
      </div>
    </div>
  </div>
</div>
