<ng-container *ngIf="!state.loading && !state.error">
  <top-bar [title]="competitionName" data-crlat="topBar"></top-bar>

  <tabs-panel [tpTabs]="competitionTabs"
              [tpActiveTab]="activeTab"
              *ngIf="competitionTabs">
  </tabs-panel>

  <svg-list *ngIf="participantsFlags"
            [list]="participantsFlags"
            [keepStyles]="true">
  </svg-list>
  <router-outlet></router-outlet>
</ng-container>

<outlet-status [state]="state">
  <request-error [loadFailed]="true" (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
