<div class="list-view">
  <odds-card-header [events]="events"
                    [sportConfig]="sportConfig"
                    [selectedMarket]="selectedMarket"
                    [isFilterByTemplateMarketName]="true">
  </odds-card-header>
  <ng-container *ngFor="let eventEntity of events | slice:0:limit; trackBy : trackById">
    <odds-card-component *ngIf="eventEntity.markets[0] && eventEntity.markets[0].outcomes.length"
                         [event]="eventEntity"
                         [sportConfig]="sportConfig"
                         [selectedMarket]="selectedMarket"
                         [gtmModuleTitle]="gtmModuleTitle"
                         [isFilterByTemplateMarketName]="true">
      <favourites-body>
        <favourites-add-button
          data-crlat="addFavouritesButton"
          class="odds-side star-item"
          [event]="eventEntity"
          [sportName]="'football'">
        </favourites-add-button>
      </favourites-body>
      <promotions-body>
        <!-- Promotional signposting -->
        <promotion-icon [type]="'event'" [display]="eventEntity.drilldownTagNames"
                        data-crlat="promotionIcons"></promotion-icon>
      </promotions-body>
    </odds-card-component>
  </ng-container>
  <div *ngIf="!hideShowNext()" class="next-games-block" (click)="loadChunk()">
    <div class="next-games-text">
      <div class="show-next-label" [i18n]="'bigcompetitions.showNext'"></div>
      <div class="number-label" [textContent]="maxDisplay"></div>
      <div class="upcoming-games-label" [i18n]="'bigcompetitions.upcomingGames'"></div>
    </div>
  </div>
</div>
