.list-view {
  background: @color-white;

  .next-games-block {
    .display-flex();
    .flex-direction(row);
    .justify-content();
    background: @color-white;
    text-transform: uppercase;
    padding: 9px 0;
    border-top: 1px solid @color-gray;
    color: @color-gray-dark;
    font-size: 10px;

    .next-games-text {
      .display-flex();
      border-bottom: 1px solid @color-gray-dark;

      .number-label {
        padding: 0 3px;
      }
    }
  }
}
