@import "global.variables.less";

.date-side {
  &.flex {
    .display-flex();
    .align-items(center);
  }

  .live-ico {
    width: 28px;
    height: 15px;
  }

  .event-date-time {
    line-height: 1;
    margin-left: 6px;
    color: @color-white-grey;
    font-family: @alt-font-family;
  }
}
