<div class="dropdown"
     [ngClass]="{'expanded': showMenu}"
     tabindex="-1"
     (blur)="menuToggle(false)"
     data-crlat="dropdown">
  <div (click)="menuToggle()" class="dropdown-header">
    <span class="label" [textContent]="selectedListItem" data-crlat="selected-item"></span>

    <div class="change-btn" data-crlat="open-menu-button">
      <span [i18n]="'app.change'"></span>
      <svg class="dropdown-down-arrow">
        <use [attr.xlink:href]="'#down-arrow'"></use>
      </svg>
    </div>
  </div>

  <div class="overlay" (click)="clickHandler($event)"></div>

  <ul class="dropdown-menu" data-crlat="dropdown-menu">
    <li class="menu-item"
        *ngFor="let item of menuList; trackBy: trackByFn; index as itemIndex"
        (click)="clickItem(item)"
        [ngClass]="{'active': item[nameKey] === selectedListItem}"
        data-crlat="dropdown.menuItem">
      <span class="menu-title" [textContent]="item[nameKey]" data-crlat="item-title"></span>
    </li>
  </ul>
</div>
