@import 'global.variables.less';

.greyhound-comments {
  font-family: @alt-font-family;
  font-size: 12px;
  padding-bottom: 4px;
}

.racing-outcome-container {
  .odds-card {
    border-bottom: none;

    &.active {
      background: @color-white;
    }

    .odds-content {
      .odds-left {
        .odds-side {
          .label-text {
            font-family: @alt-font-family;
            font-size: @font-size;
            color: @color-gray-darkest;
          }
        }
      }
    }
  }
}

.start-rating {
  margin-left: 8px;
  padding: 0 5px;
  letter-spacing: 1px;
  color: @color-yellow-alt;
  border: 1px solid @color-yellow-alt;
  border-radius: 2px;
  height: 15px;
  line-height: 14px;
  font-family: @base-font-family;
  font-size: @font-size;
  display: inline-block;
  .star-icon {
    width: 10px;
    height: 9px;
    fill: @color-yellow-alt;
  }
}
