<div>

  <!-- Top Bar-->
  <top-bar [title]="'tt.toteInfoTitle'" [iconSvg]="svg" [iconId]="svgId"></top-bar>

  <!--- Banners Section-->
  <banners-section [page]="bannerCategory" data-crlat="bannersSection"></banners-section>

  <static-block [service]="'internationalTote'"></static-block>

  <static-block [service]="'toteJackpot'"></static-block>

  <static-block [service]="'toteTrifecta'"></static-block>

  <static-block [service]="'toteExacta'"></static-block>

  <static-block [service]="'totePlaced'"></static-block>

  <static-block [service]="'toteWin'"></static-block>

</div>
