@import 'global.variables.less';

:host(.black-top-bar-ladbrokes) {
  .quick-nav {
    line-height: normal;
    white-space: normal;
  }
}

.quick-nav {
  font-family: @alt-font-family;
  position: fixed;
  top: 0;
  left: -9999px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: left 0s .2s linear;

  .overlay {
    transition: opacity .25s .05s linear;
    background: @popup-overlay-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
  .quick-nav-holder {
    background: @color-white;
    transition: all .3s ease-in-out;
    transform: translate3d(0, 100%, 0);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.active {
    top: 0;
    left: 0;
    transition: left 0s 0s linear;

    .overlay {
      transition: opacity .2s linear;
      opacity: 1;
    }
    .quick-nav-holder {
      transform: translate3d(0, 0, 0);
    }
  }
  .quick-nav-frame {
    max-height: calc(100vh - 167px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .links-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      + li {
        border-top: 1px solid @color-gray;
      }
    }

    .list-link {
      display: block;
      position: relative;
      color: @color-gray-darkest;
      padding: 12px 16px;
      font-size: @font-size-base;

      &.active-link {
        background: @light-grey;
        font-weight: bold;
      }
      &:hover {
        text-decoration: none;
      }
      .item-next-arrow {
        position: absolute;
        right: 13px;
        top: 50%;
        margin-top: -7px;
        width: 8px;
        height: 13px;
        fill: @color-gray-alt;
      }
    }
  }
  .quick-title {
    position: relative;
    padding: 14px 16px;
    font-size: 17px;
    color: @lGray;
    border-bottom: 1px solid @color-gray;

    strong {
      font-weight: normal;
    }
    .close-menu {
      position: absolute;
      top: 50%;
      right: 11px;
      transform: translateY(-50%);
      padding: 5px;
      background: none;
      border: 0;
      line-height: 0;

      svg {
        fill: @color-gray-darkest;
        width: 16px;
        height: 16px;
      }
    }
  }
  .quick-subtitle {
    background: @lGray-bg;
    color: @color-gray-mid-alt;
    text-transform: uppercase;
    border: solid @lGrayLight;
    border-width: 1px 0;
    font-size: @font-size;
    font-weight: normal;
    display: block;
    padding: 7px 16px;
  }
  .quick-section {
    &:first-child {
      .quick-subtitle {
        border-top: none;
      }
    }
  }
}
