<ng-container *ngFor="let market of event.markets; trackBy: trackById">
  <div class="odds-card sticky-virtual-scroll-item"
       (click)="goToEvent(false, $event)"
       [attr.data-eventid]="event.id"
       *ngIf="isSportCard(market) && (!widget || eventDisplayed(market)) && !market.hidden"
       data-crlat="oddsCard.sportTemplate">
    <div class="odds-content"
         [ngClass]="{'odds-wrap': widget}" data-crlat="oddsContent">
      <div class="odds-left" data-crlat="oddsLeft">
        <!-- One name template -->
        <div class="odds-names"
             *ngIf="(event.outcomeStatus || !eventSecondName)"
             [ngClass]="{'odds-names-wrap': !isOddsSports}"
             data-crlat="oddsNames">
          <b [textContent]="eventName" data-crlat="singleEventName"></b>
        </div>
        <!-- Two teams template -->
        <div class="odds-names odds-names-list" *ngIf="(!event.outcomeStatus && eventSecondName)"
             data-crlat="oddsNames">
          <div class="odds-name-row">
            <b [textContent]="eventFirstName" data-crlat="EventFirstName"></b>
            <span class="odds-serve" *ngIf="servingTeams[0]" data-crlat="bIcon"></span>
          </div>
          <div class="odds-name-row">
            <b [textContent]="eventSecondName" data-crlat="EventSecondName"></b>
            <span class="odds-serve" *ngIf="servingTeams[1]" data-crlat="bIcon"></span>
          </div>
        </div>
      </div>
      <div class="odds-right" data-crlat="oddsRight">
        <odds-card-score *ngIf="oddsScoresData" [boxScore]="boxScore" [score]="oddsScoresData"></odds-card-score>

        <!-- Sport Odds Buttons -->
        <div class="odds-btn-content" data-crlat="oddsBtnContent" (click)="$event.stopPropagation()"
             *ngIf="isOddsSports && selectedMarketObject.outcomes.length">
          <div *ngFor="let outcomeEntity of correctedOutcomes; index as i">
            <div *ngIf="showTemplate(i)"
                 class="odds-btn-wrapper"
                 data-crlat="oddsBtnWrapper">
              <button *ngIf="outcomeEntity"
                      id="bet-{{outcomeEntity.id}}"
                      data-crlat="betButton"
                      price-odds-button
                      [last-made-bet]
                      class="price-odds-button btn-bet"
                      (click)="onPriceOddsButtonClick($event, event, selectedMarketObject, outcomeEntity)"
                      [class.active]="outcomeEntity.active"
                      [eventStatusCode]="event.eventStatusCode"
                      [displayed]="event.displayed"
                      [marketStatusCode]="market.marketStatusCode"
                      [outcomeStatusCode]="outcomeEntity.outcomeStatusCode"
                      [isRacing]="outcomeEntity.isRacing"
                      [nonRunner]="outcomeEntity.nonRunner"
                      [handicapVal]="outcomeEntity.prices[0]?.handicapValueDec"
                      [priceNum]="outcomeEntity.prices[0]?.priceNum"
                      [priceDen]="outcomeEntity.prices[0]?.priceDen"
                      [priceDec]="outcomeEntity.prices[0]?.priceDec"
                      [priceType]="outcomeEntity.prices[0]?.priceType">
              </button>
            </div>
            <div *ngIf="isHomeDrawAwayType && !isFootball && !showTemplate(i) && !outcomeEntity" class="odds-btn-wrapper" data-crlat="oddsBtnWrapper"></div>
          </div>
        </div>
        <div (click)="$event.stopPropagation()">
          <button *ngIf="!isOddsSports && market?.outcomes[0]"
                  id="bet-{{market.outcomes[0].id}}"
                  price-odds-button
                  [last-made-bet]
                  class="price-odds-button btn-bet"
                  (click)="onPriceOddsButtonClick($event, event, market, market.outcomes[0])"
                  [class.active]="market.outcomes[0].active"
                  [eventStatusCode]="event.eventStatusCode"
                  [displayed]="event.displayed"
                  [marketStatusCode]="market.marketStatusCode"
                  [outcomeStatusCode]="market.outcomes[0].outcomeStatusCode"
                  [isRacing]="market?.outcomes[0].isRacing"
                  [nonRunner]="market?.outcomes[0].nonRunner"
                  [priceNum]="market.outcomes[0].prices[0]?.priceNum"
                  [priceDen]="market.outcomes[0].prices[0]?.priceDen"
                  [priceDec]="market.outcomes[0].prices[0]?.priceDec"
                  [priceType]="market.outcomes[0].prices[0]?.priceType">
          </button>
        </div>
      </div>
    </div>
    <div class="odds-footer" data-crlat="oddsFooter">
      <div class="odds-left" data-crlat="oddsLeft">
        <favourite-icon
          *ngIf="isFootball && !isFavouritesDisabled"
          [isActive]="isFavouriteActive"
          [isOnMatch]="isMatchSortCode"
          data-crlat="addFavouritesButton"
          (click)="favouriteClickHandler($event)"
        ></favourite-icon>
        <!-- Live label -->
        <div class="odds-live" *ngIf="isEventStartedOrLive">
          <svg class="odds-live-icon" data-crlat="liveLabel">
            <use xlink:href="#live-icon"></use>
          </svg>
          <span [i18n]="'sb.live'"></span>
        </div>
        <!-- Stream icon -->
        <svg class="odds-icon-stream"
             data-crlat="oddsIconStream"
             *ngIf="isStream"
             [ngClass]="{'watch-live': isEventStartedOrLive}">
          <use xlink:href="#stream"></use>
        </svg>
        <span class="odds-watch-live"
              [i18n]="'sb.watchLive'"
              *ngIf="isStream && isEventStartedOrLive"
              data-crlat="watchLive">
        </span>
        <span class="odds-watch"
              [i18n]="'sb.watch'"
              *ngIf="isStream && !isEventStartedOrLive">
        </span>
        <!-- Live clock -->
        <live-clock *ngIf="isClockAllowed()"
                    [event]="event"
                    data-crlat="liveClock">
        </live-clock>
        <!-- Odds label for HT/FT or tennis set -->
        <span *ngIf="isLabelShown"
              [textContent]="oddsLabel"
              class="odds-label"
              data-crlat="oddsCardLabel">
        </span>
      </div>

      <div class="odds-right" data-crlat="oddsRight">
        <promotion-icon class="odds-card-promotions-icon"
                        [type]="'event'"
                        [display]="event.drilldownTagNames"
                        [typeId]="event.typeId"
                        [eventId]="event.id"
                        [mode]="'sm'"
                        [buildYourBetAvailable]="event.buildYourBetAvailable"
                        data-crlat="promotionIcons">
        </promotion-icon>
        <span class="odds-next-score"
              *ngIf="market.nextScore"
              [textContent]=" market?.nextScore | callBack : addOrdinalSuffix : this + ' Goal'"></span>
        <a *ngIf="showMarketsCount"
           class="odds-more-link"
           [linkHref]
           [link]="goToEvent(true)"
           [textContent]="event.marketsCount | eventMore"
           data-crlat="marketsCount"></a>
        <div class="was-price" *ngIf="market.isSmartBoosts && wasPrice">
          <span [i18n]="'sb.wasPrice'"></span>
          <strike [textContent]="wasPrice"></strike>
        </div>
      </div>
    </div>
  </div>
</ng-container>
