<div *ngIf="seoStaticBlockContent" data-crlat="seoStaticBlock">
  <div class="seo-static-block" data-crlat="seoBlock">
    <div class="seo-static-block-content" [innerHtml]="seoStaticBlockContent" data-crlat="seoContent"></div>
  </div>
</div>
