<ng-container *ngIf="!state.loading && !state.error && sportsAvailable">
  <!--- Page Header -->
  <top-bar [title]="'sb.inPlay'"
           [innerContent]="activeMenuItemUri === 'football'"
           data-crlat="topBar.inPlay">
  </top-bar>

  <!--inPlay Sports Ribbon-->
  <carousel-menu *ngIf="menuItems && menuItems.data.length"
                [activeMenuItem]="activeMenuItemUri"
                [menuItems]="menuItems.data"
                [isLiveCounter]="true"
                [isTopScroll]="true"
                class="inplay-carousel"
                data-crlat="menuCarousel.inPlay">
  </carousel-menu>

  <router-outlet></router-outlet>
  <quick-links class="quick-links-container"></quick-links>
</ng-container>
<no-events *ngIf="!state.loading && !state.error && !sportsAvailable"
           [message]="'inplay.noEventsFound'">
</no-events>

<outlet-status [state]="state">
  <request-error [reloadMethods]="['RELOAD_IN_PLAY']" (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
