@import './../../../assets/styles/general.less';
@import '../../../../../../app/questionEngine/components/shared/answersSummary/answers-summary.component.less';

@color-light-gray: #e8e8e8;
@color-red: #ec1d24;

.answers-summary {
  padding: 15px;
  color: @color-black;
  overflow-x: hidden;

  &-price {
    border-color: @color-bright-yellow;

    &.lose {
      border-color: @color-dark-red;
    }

    .label {
      color: @color-black;
    }
  }
  &-info {
    border: none;
    margin-left: -20px;

    &-item {
      padding: 2px 10px;
      &.top-left-header {
        background: @color-black;
        color: @color-bright-yellow;
        padding-left: 18px;
        transform: skew(-20deg);
        span {
          transform: skew(20deg);
        }
      }
      &.top-right-header {
        background: @color-bright-yellow;
        color: @color-black;
        transform: skew(-20deg);
        span {
          transform: skew(20deg);
        }
      }

    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.team-score {
  color: @brand-color-main;
}

.game-summary {
  &-list {
    .question {
      font-size: 11px;
    }
    .rez-svg {
      &.lose {
        fill: @color-dark-red;
      }
    }
  }
}

/* MEDIA STYLES */
@media @mqTabletAndDesktop {
  .answers-summary-price {
    border-color: @color-bright-yellow;
  }
}

