@import 'global.variables.less';

@badge-size: 3px;
@header-height: 56px;
@bottom-offset: 53px;
@slider-width: 100%;
@slider-height: 100%;

.slider-panel-overlay {
  .display-flex();
  .transition(transform, .2s, ease);
  width: @slider-width;
  height: @slider-height;
  position: fixed;
  background: url("../../assets/images/logo_tile.png");
  bottom: 0;
  z-index: 1003;
  cursor: pointer;

  &.closed {
    .transform(translateY(100vh));
  }

  .slider-panel-wrapper {
    width: @slider-width;
    height: @slider-height;
    bottom: 0;

    .slider {
      &-header {
        .display-flex();
        .align-items(center);
        height: @header-height;
        color: @color-white;
        padding: 0 17px;

        .timeline-title {
          text-transform: uppercase;
          width: @slider-width;
          font-weight: bold;
          font-size: @font-size-lgr;
        }

        .minimise {
          font-weight: 300;
          font-size: @font-size;
          font-family: @alt-font-family;
        }
      }

      &-panel {
        height: calc(@slider-height - 56px);
        overflow-y: auto;
        padding: 0 17px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &-content {
        height: @slider-height;
        background: @color-white;
        border-radius: 11px 11px 0 0;
        overflow-y: initial;
      }

      &-hidden {
        visibility: hidden;
      }
    }
  }

  .bounce {
    -moz-animation: bounce 1200ms 1;
    -webkit-animation: bounce 1200ms 1;
    animation: bounce 1200ms 1;
  }

  /* we don't need custom bounce animation for ios devices since there is default one */
  @supports not (-webkit-touch-callout: none) {
    @-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-100px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-100px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }
}

.sk-container {
  position: absolute;
  width: calc(@slider-width - 34px);
}

:host ::ng-deep .slider-panel {
  .request-error {
    background: transparent;
    box-shadow: none;
  }
}
