<div class="slider-panel-overlay"
     [class.closed]="!visible"
     [overscroll-fix]
     [overscrollFix]="'always'">
  <div class="slider-panel-wrapper">
    <div class="slider-header">
      <div class="timeline-title" [i18n]="'timeline.title'"></div>
      <div class="minimise" [i18n]="'timeline.minimise'" (click)="show($event, false)"></div>
    </div>
    <div #sliderPanel class="slider-panel" [ngClass]="{'bounce': (bounce$ | async)}"
         (click)="$event.stopPropagation()">
      <div class="sk-container" *ngIf="visible" [ngClass]="{'sk-loading': state.loading}" >
        <outlet-status *ngIf="showSkeleton" [skeletonType]="'TIMELINE'" [state]="state"></outlet-status>
      </div>

      <div class="slider-content">
        <request-error *ngIf="isReconectedFailedMsg" (click)="callToReload($event)"></request-error>
        <div [ngClass]="{'slider-hidden': showSkeleton || isReconectedFailedMsg}">
          <timeline-post *ngFor="let post of displayedPosts; let first = first; trackBy:trackByPost;"
                         [post]="post"
                         [first]="first"
                         [priceButtonClass]="priceButtonClasses[post.id] || ''">
          </timeline-post>
        </div>
      </div>
    </div>
  </div>
</div>
