@import 'global.variables.less';

:host-context(.next-races) {
  .race-header {
    min-height: 44px;
    background: @color-white;
    box-shadow: inset 0 -1px 0 0 @lGrayDark, inset 0 0 0 0 @lGrayDark;
  }
  .race-card.odds-card {
    display: flex;
    align-items: center;
    min-height: 84px;

    .odds-content {
      width: 100%;

      .odds-names-list > * {
        display: block;
      }

      .odds-side {
        width: unset;
        min-width: unset;

        .label-text {
          font-size: 12px;
        }
      }
    }
  }
  .race-title {
    color: @lGray;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-container {
    margin-bottom: 2px;
    display: flex;
  }
}

:host-context( .horseracing) {
  .text-area {
    ::ng-deep .race-timer {
      .label {
        color: @lGray;
        font-size: @font-size-md;
      }
      .value {
        color: @blue;
      }
    }
  }
}

:host-context(featured-module) {
  ::ng-deep .btn-bet {
    width: 50px;
  }
}

:host-context(.featured-races) {
  .odds-side .label-text {
    font-family: @base-font-family;
  }
}

:host {
  .race-header {
    background: @lGrayLight;
    .race-distance,
    .race-going {
      color: @lGray;
      font-size: 11px;
    }
  }

  .race-header {
    .race-title {
      color: @lGray;
      font-size: @font-size;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .icons-area {
    display: flex;

    .race-next-link {
      font-size: 12px;
      color: @blue;
      svg {
        fill: @blue;
      }
    }
  }

  .watch-label {
    width: 40px;
    height: 15px;
    font-weight: bold;
    background: @color-yellow-alt;
    font-size: @font-size-md;
    text-transform: uppercase;
    color: @lGray;
    line-height: 15px;
    text-align: center;
  }

  .race-sub-header {
    color: @color-gray-darkest;
    background: @color-white;
  }

  .race-label-itv {
    color: @list-arrow-icon-clr;
  }

  .race-icon-itv {
    width: 12px;
    height: 10px;
    margin-left: 5px;
    fill: @list-arrow-icon-clr;
  }

  .race-card-content {
    margin-bottom: 0;
    .odds-card {
      &:last-of-type {
        border: none;
      }
    }
  }

  .race-card.odds-card .odds-content {
    min-height: 60px;
  }
}
