<div data-crlat="accordionsList">
  <ng-container *ngFor="let competition of eventsBySports; index as competitionIndex; trackBy: trackByCategoryId">
    <accordion [accordionTitle]="competition.categoryName"
               [card]="true"
               [isExpanded]="expandedFlags[competitionIndex]"
               *ngIf="competition.events.length"
               (function)="toggleCompetitionSection(competition.events, competitionIndex)" data-crlat="accordion">
      <accordion-body data-crlat="containerContent">
        <odds-card-header 
          [events]="competition.events"
          [sportConfig]="sport?.sportConfig">
        </odds-card-header>
        <div *ngFor="let event of competition.events; trackBy: trackById" class="event-card-container" data-crlat="eventEntity">
          <stream-button
            class="live-stream-active"
            *ngIf="liveStreamTab"
            [activeEvent]="activeEvent"
            [event]="event"
            (update)="updateActiveEvent($event)">
          </stream-button>

          <odds-card-component
            class="odds-card-component"
            [isLiveStreamTab]="liveStreamTab"
            [isActiveLiveStream]="liveStreamTab && activeEvent && userService.status && event.id === activeEvent.id"
            [gtmDataLayer]="gtmDataLayer"
            [showLocalTime]="true"
            [event]="event"
            [sportConfig]="sport?.sportConfig"
            [selectedMarket]="(event.markets[0] ? event.markets[0].name : '')">
            <promotions-body>
              <!-- Promotional signposting -->
              <!--<div oc-lazy-load="['promotions']">-->
              <promotion-icon class="odds-card-promotions-icon"
                              [type]="'event'"
                              [display]="event.drilldownTagNames"
                              data-crlat="promotionIcons">
              </promotion-icon>
              <!--</div>-->
            </promotions-body>
          </odds-card-component>
        </div>
      </accordion-body>
    </accordion>
  </ng-container>
</div>
