@import 'global.variables.less';

@import '../../../../../app/quickbet/components/quickbetReceipt/quickbet-receipt.component.less';

.qb-receipt {
  .qb-fee {
    font-family: @alt-font-family;
    text-align: left;
    padding: 0 0 6px;
    font-size: 12px;
  }
  .selection-type,
  .qb-single-receipt-odds {
    font-size: 15px;
    color: @lBlack-medium;
  }
  .qb-stake-title,
  .qb-stake-type,
  .qb-stake-description {
    color: @lBlack-medium;
  }
  .receipt-id {
    color: @lBlack-light;
  }
  .eachway-terms-block {
    margin: -5px 15px 10px;
  }
  .qb-single-receipt-odds {
    font-weight: 400;
  }
  .qb-stake-footer {
    background: @lGrayLight;
    &::after, &::before {
      content: none;
    }
    .line {
      strong, span {
        color: @lBlack-medium;
      }
    }
  }
  .qb-win-alerts-info {
    font-size: 12px;
  }
}

.qb-receipt-wrapper {
  margin: 0;
}

::ng-deep {
  p.yourcall-selection {
    line-height: 1;
    margin: 6px 0 0;
    font-size: 13px;
    span {
      font-family: @alt-font-family;
      color: @color-gray-darkest;
    }
    .value {
      line-height: 1;
      margin-bottom: 5px;
    }
  }
}

:host ::ng-deep {
  .bog-block {
    &.bog-bg {
      margin: 4px;
    }
  }
}

.byb-event-name {
  color: @color-gray-darkest;
}