@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-light/lato-light.eot');
  src: local('Lato Light'),
  local('Lato-Light'),
  url('../../fonts/lato/lato-light/lato-light.woff2') format('woff2'),
  url('../../fonts/lato/lato-light/lato-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
