<div class="sk-container" [ngClass]="{'sk-loading': applyingParams || (displayNextRaces && !nextRacesLoaded)}" >
  <loading-screen [displayed]="applyingParams || (displayNextRaces && !nextRacesLoaded)"
                  [templateType]="'GENERIC'"></loading-screen>

  <ng-container data-crlat="accordionsList">

  <!--- Next 4 race module -->
  <next-races-module [moduleType]="sportModule"
                     *ngIf="!applyingParams && displayNextRaces"
                     [hideLoader]="true"
                     (eventsLoaded)="handleNextRacesLoaded()">
  </next-races-module>

  <lazy-component *ngIf="display === 'today' || display === 'tomorrow'"
                  moduleUri="src/platforms/ladbrokesMobile/lazy-modules/racingFeatured/racing-featured.module#RacingFeaturedModule"
                  [hidden]="applyingParams"
                  [inputs]="{
                    sportId: categoryId,
                    racing: racing,
                    sectionTitle: sectionTitle,
                    sportName: sportName,
                    eventsOrder: eventsOrder,
                    filter: filter,
                    responseError: responseError,
                    display: display
                  }"
                  data-crlat="racing.greyhound">
  </lazy-component>

        <!-- Future events -->
        <ng-conatiner *ngIf="!applyingParams && display === 'future'" data-crlat="racing.future">
          <!--- Sorting Panel -->
          <switchers *ngIf="isRacingPanel"
                     class="racing-switchers"
                     data-crlat="switchers"
                     [filter]="filter"
                     [switchers]="switchers"
                     [detectGTMLocation]="'sublocation'">
          </switchers>
          <greyhound-future-tab *ngIf="!responseError && racing.events?.length"
                                data-crlat="racing.futureEvents"
                                [filter]="filter"
                                [isExpanded]="isExpanded"
                                [orderedEvents]="orderedEvents"
                                [orderedEventsByTypeNames]="orderedEventsByTypeNames"
                                [filteredTypeNames]="filteredTypeNames"
                                [racingEvents]="racing.events">
          </greyhound-future-tab>

        <request-error *ngIf="responseError"
                       [loadFailed]="responseError"
                       (reloadFn)="reloadComponent()"></request-error>

    <!-- Show only when no events -->
    <no-events *ngIf="!responseError && !racing.events?.length"></no-events>
  </ng-conatiner>

    <!-- Special tab -->
    <racing-specials-tab *ngIf="!applyingParams && display === 'specials'"
                         [racing]="racing"
                         [eventsOrder]="eventsOrder"
                         [responseError]="responseError">
    </racing-specials-tab>
  </ng-container>
</div>
