<div class="container">
    <accordion [accordionTitle]="market.name"
               [isChevronToLeft]="true"
               [headerClass]="'forced-chevron-up-and-styles'"
               [card]="true"
               [isExpanded]="i <= openMarketTabs"
               *ngFor="let market of eventEntity.markets; trackBy: trackByIndex; let i = index">
      <right-side>
        <cashout-label *ngIf="market.cashoutAvail === 'Y'"></cashout-label>
      </right-side>
      <!-- Each Way terms -->
      <accordion-body>
          <div class="terms-before-market" *ngIf="market.isEachWayAvailable && showTerms && market.isEachWayAvailable" data-crlat="terms">
            <div class="term-value" [textContent]="market.terms" data-crlat="eachWayContainer"></div>
          </div>
          <div class="odds-card" data-crlat="oddsCard" *ngFor="let outcomeEntity of market.outcomes;  trackBy: trackByIndex">
            <div class="odds-content" data-crlat="oddsContent">
              <div class="odds-left" data-crlat="oddsLeft">
                <div class="odds-names odds-names-wrap" data-crlat="oddsNames" [textContent]="outcomeEntity.name"></div>
              </div>
              <div class="odds-right" data-crlat="oddsRight">
                <price-odds-button [event]="eventEntity"
                                   [market]="market"
                                   [outcome]="outcomeEntity">
                </price-odds-button>
              </div>
            </div>
          </div>
      </accordion-body>
    </accordion>
  </div>
