@import '../../assets/styles/general.less';
@import 'global.variables.less';

.btn-back {
  margin-bottom: 0;
}
.middle {
  top: 50%
}
.qe-header {
  padding-top: 0;
  margin: 0 auto;
  text-align: center;

  .logo-small {
    display: block;
    margin: 0 auto 20px;
    height: 30px;
  }

  &-inf {
    height: 28px;
    border: solid 1px white;
    display: inline-flex;
    align-items: center;
    margin-bottom: 45px;

    &__item {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      padding: 0 20px;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      height: 28px;
      &.top-left-header {
        background: white;
        color: @color-blue;
        border: 1px solid white;
      }

      &.top-right-header {
        color: white;
      }
    }
  }
}
.questions-page {
  height: 100%;

  .qe-container {
    padding-top: 50px;
    overflow: visible;
  }
}
.back-link {
  padding: 15px 0 0 0;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
