@import 'global.variables.less';

.history-bets .history-loader .loader-spinner-container{
  margin-top: 50px;
}

.bet-history-page {
  padding: 4px 0 0;

  .datepickers-section {
    display: flex;
    justify-content: space-between;
    padding: 18px 9px 16px 8px;
    height: auto;
  }
}

.date-picker-wrapper {
  background: @color-white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  overflow: hidden;
}
