<ng-container *ngIf="eventsBySections?.length>0">
    <filter-buttons *ngIf="isMarketSwitcherConfigured" [items]="switchers" [position]="position" data-crlat="switchers">
    </filter-buttons>
    <lazy-component *ngIf="isMarketSwitcherConfigured" [ngClass]="{ 'sticky-market-selector': true }"
        moduleUri="src/platforms/ladbrokesDesktop/shared/components/marketSelector/market-selector.module#MarketSelectorModule"
        data-crlat="marketSelectorModule" entryComponent="DesktopMatchesMarketSelectorComponent" [inputs]="{sportId: categoryId, 
                   multipleEventsDataSections: eventsBySections,
                     selectorType:'sportCompetition'}" [outputs]="['filterChange']" (event)="filterEvents($event)">
    </lazy-component>
    <ng-container *ngFor="let eventsByCategory of eventsBySections; trackBy:trackByTypeId;">
        <accordion data-crlat="accordion" *ngIf="!eventsByCategory.deactivated"
            [accordionTitle]="eventsByCategory?.sectionTitle" [isExpanded]="eventsByCategory.isExpanded"
            [isShowAll]="eventsByCategory.isExpanded && limitedSections[eventsByCategory.typeId]"
            (function)="updateState($event, eventsByCategory)">
            <right-side>
                <see-all-link *ngIf="eventsByCategory.isExpanded && limitedSections[eventsByCategory.typeId]"
                    [link]="goToCompetition(eventsByCategory)"></see-all-link>
            </right-side>
            <accordion-body>
                <competitions-matches-tab [sport]="sport" [eventsByCategory]="eventsByCategory" [isLoaded]="isLoaded" [inner]="false"
                    [sportId]="categoryId">
                </competitions-matches-tab>
            </accordion-body>
        </accordion>
    </ng-container>
</ng-container>