<ng-container *ngIf="!state.loading && !state.error">
  <!--- Top Bar -->
  <ng-container *ngIf="!isSportDetailPage">
    <top-bar [title]="sportTitle || 'sb.' + sportName"
             [iconSvg]="sportIconSvg"
             [iconId]="sportIconId"
             [innerContent]="topBarInnerContent"
             data-crlat="topBar"
             (titleFunc)="goToDefaultPage()">
    </top-bar>
    <breadcrumbs [sportName]="sportName" [sportTabs]="sportTabs"></breadcrumbs>
    <!--- Banners Section-->
    <div class="banner-block" data-crlat="bannerBlock">
      <banners-section [page]="sportBanner" data-crlat="bannersSection"></banners-section>
    </div>
    <!--- Enhanced Section -->
    <enhanced-multiples-carousel *ngIf="isEnhancedMultiplesEnabled" [sportName]="sportName"></enhanced-multiples-carousel>

    <!--- Tabs -->
    <action-arrows>
      <action-arrows-content>
        <switchers
          [type]="'scrollable'"
          [switchers]="sportTabs"
          [activeTab]="sportActiveTab"
          [noPaddings]="true"
          [detectGTMLocation]="'location'"
        ></switchers>
      </action-arrows-content>
    </action-arrows>

  </ng-container>

  <div class="page-inner" data-crlat="accordionsList">
    <div class="page-segment">
      <router-outlet *ngIf="!isSportDetailPage"></router-outlet>
      <lazy-component *ngIf="isSportDetailPage"
                      moduleUri="@edpModule/edp.module#EdpModule">
      </lazy-component>
    </div>
    <!--- Widget Side -->
    <widgets data-uat="widgetColumn"
             class="widget-column"
             [params]="{categoryId: sportId}"
             [sportName]="sportName"
             [sportConfig]="sportTabs"
             [sportActiveTab]="sportActiveTab?.id"
             [sportDetailPage]="sportDetailPage"
             *ngIf="!isSportDetailPage && (sportActiveTab || sportDetailPage)">
    </widgets>
  </div>
  <quick-links class="quick-links-container"></quick-links>
</ng-container>
<outlet-status [state]="state">
  <request-error *ngIf="state.error && !state.loading" (reloadFn)="reloadComponent()"></request-error>
</outlet-status>
