<div *ngIf="eventsBySports">
  <lazy-component *ngIf="isMarketSelectorVisible() && isMarketSwitcherConfigured" class="sticky-market-selector"
    moduleUri="src/platforms/ladbrokesDesktop/shared/components/marketSelector/market-selector.module#MarketSelectorModule"
    data-crlat="marketSelectorModule" entryComponent="InplayMarketSelectorDesktopComponent" [inputs]="{sportId: eventsBySports.categoryId, 
                          eventDataSection: eventsBySports,
                          marketSelectorOptions: eventsBySports.marketSelectorOptions,sticky:false,
                          selectorType:'sportInplay'}" [outputs]="['reloadData']" (event)="handleSportData($event)">
  </lazy-component>
  <accordion *ngFor="let competitionSection of eventsBySports.eventsByTypeName; trackBy: trackByTypeId; let i = index;"
    [accordionTitle]="getSectionTitle(competitionSection)" data-crlat="accordion" [inner]="inner" [card]="true"
    [isExpanded]="expandedFlags[competitionSection.typeId]"
    (function)="toggleCompetitionSection(competitionSection, eventsBySports.eventsByTypeName)">
    <accordion-body>
      <odds-card-header *ngIf="competitionSection.events && competitionSection.events.length"
        [sportConfig]="sport?.sportConfig" [events]="competitionSection.events" data-crlat="section.header.league">
      </odds-card-header>
      <odds-card-component
        *ngFor="let eventEntity of competitionSection.events; trackBy: trackByEventId; let i = index;"
        [showLocalTime]="true" [event]="eventEntity" [isMarketSwitcherConfigured]="isMarketSwitcherConfigured"
        [sportConfig]="sport?.sportConfig"
        [selectedMarket]="(eventEntity.markets[0] ? eventEntity.markets[0].name : '')" [gtmModuleTitle]="'event card'"
        data-crlat="eventEntity">
      </odds-card-component>
    </accordion-body>
  </accordion>
</div>