@card-width: 197px;
@card-height: 129px;
@border-radius: 3px;
@odds-button-height: 35px;
@space-between-cards: 5px;

//card CAROUSEL
.next-events-container {
  font-family: @base-font-family;
  background: transparent;
  margin: 3px @space-between-cards 10px @space-between-cards;
  @media screen and (min-width: 1026px) {
    background: @color-gray;
    margin: 0;
    padding-top: 5px;
  }
}
.card-widget-carousel {
  height: @card-height;

  .action-arrow {
    display: none;
  }

  &:hover {
    .device-desktop & {
      .action-arrow {
        display: flex;
      }
    }
  }

  .card-widget-slide-container {
    width: @card-width + @space-between-cards;
  }

  .card-widget-slide-container.pagination {
    width: @card-height;
  }

  .card-widget-slide {
    margin-right: @space-between-cards;
    width: @card-width;
    font-size: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .card-widget-slide.pagination {
    width: @card-height;
  }
}

.w-sport-card {
  .display-flex();
  .flex-direction(column);
}

.card-title {
  display: block;
  .justify-content();
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding: 0 10px 0;
  margin: 0 auto;
  line-height: 17px;
  font-size: 14px;
  font-weight: bold;
  color: @color-gray-dark;

  .participants {
    .display-flex();
    .flex-direction(row);
    .justify-content();
  }

  .participant {
    .team-abbreviation {
      margin: 0 10px 0 6px;
    }

    .team-flag {
      width: 15px;
      height: 10px;
    }

    &:last-child {
      .team-abbreviation {
        margin: 0 6px 0 10px;
      }
    }
  }
}

.card-start-time {
  font-size: 11px;
  color: @color-gray-dark;
  .display-flex();
  .justify-content();
  margin-top: 5px;
  font-weight: 400;
}

//PAGINATION
.pagination-slide {
  width: @card-height;
  height: @card-height;
  border-radius: @border-radius;
  .display-flex();
  .flex-direction(column);
  .justify-content();
  text-align: center;
  background-color: @color-white;
}

.pagination-top-label {
  font-size: 12px;
  font-weight: bold;
  color: lighten(@color-gray-dark, 50%);
}

.pagination-top-label-next {
  font-size: 12px;
  font-weight: bold;
  color: lighten(@color-gray-dark, 50%);
  text-transform: uppercase;
}

.pagination-number {
  font-size: 40px;
  font-weight: bold;
  color: @color-gray-dark;
}

.pagination-bottom-label {
  font-size: 9px;
  font-weight: bold;
  color: @color-gray-dark;
  text-transform: uppercase;
}

.single-event {
  .card-title {
    font-size: 20px;
    line-height: 28px;

    .extra-markets-info {
      .match-time {
        width: 65px;
      }
    }
  }

  .participant {
    .team-abbreviation {
      margin: 0 8px 0 6px;
    }

    .team-flag {
      height: 13px;
      width: 20px;
    }

    &:last-child {
      .team-abbreviation {
        margin: 0 6px 0 8px;
      }
    }
  }
}
