<div class="competition-view">
  <!-- Each Way terms -->
  <div class="competition-terms-before-market">
    <div class="competition-term-value" [textContent]="setHeader()"></div>
  </div>

  <div class="competition-view-container">
    <div class="odds-card competition-view list-view"
         *ngFor="let outcomeEntity of limitTo(market.outcomes); trackBy: trackByFn;">
      <div class="odds-content list-view">
        <div class="list-view-participants">
          <svg class="flag" *ngIf="outcomeEntity.participants.HOME.svgId">
            <use [attr.xlink:href]="outcomeEntity.participants.HOME.svgId"></use>
          </svg>
          <div class="odds-names" [textContent]="outcomeEntity.participants.HOME.name"></div>

          <div class="vs" *ngIf="outcomeEntity.participants.AWAY"> vs </div>

          <svg class="flag" *ngIf="outcomeEntity.participants.AWAY">
            <use [attr.xlink:href]="outcomeEntity.participants.AWAY.svgId"></use>
          </svg>

          <div class="odds-names"
               *ngIf="outcomeEntity.participants.AWAY"
               [textContent]="outcomeEntity.participants.AWAY.name">
          </div>
        </div>

        <price-odds-button [event]="eventEntity"
                           [market]="market"
                           [outcome]="outcomeEntity"
                           [gtmModuleTitle]="gtmModuleTitle">
        </price-odds-button>
      </div>

    </div>
  </div>

  <div class="all-selections-container" *ngIf="outcomesCount > maxDisplay">
    <a class="see-all-selections"
       (click)="expandSelections()">
      <span class="label" [i18n]="limit ? 'bigcompetitions.showMore' : 'bigcompetitions.showLess'"></span>
    </a>
  </div>
</div>
