@import 'global.variables.less';

.featured-offer {
  background-color: @color-gray;

  &.smart-boosts {
    .offer-body {
      height: 70px;
    }
  }

  ::ng-deep .btn-bet {
    width: 230px;
    height: 40px;
  }

  .header-container {
    height: 35px;
    font-size: 12px;
    font-weight: bold;
  }
  .was-price-container {
    .display-flex();
    .justify-content(flex-end);
  }
  @media (min-width: @sm-point) {
    .was-price {
      width: 230px;
    }
  }
}

.special-offer {

  .header-container {
    border-bottom: 2px solid @pink-trendy;
  }

  .left-side {
    background-color: @pink-trendy;
  }
}

.enhanced-offer {

  .header-container {
    border-bottom: 2px solid @color-blue-lighter;
  }

  .left-side {
    background-color: @color-blue-lighter;
  }
}

.offer-flex-center {
  .display-flex();
  .align-items();
}

.offer-header {
  text-transform: uppercase;
  border-radius: 2px 2px 0px 0px;
  background-color: @color-gray-light;

  .left-side {
    .flex(0, 0, auto);
    font-weight: 700;
    height: 100%;
    color: @color-white;
    border-top-left-radius: 2px;
  }

  .right-side {
    .flex();
    .display-flex();
    .justify-content(space-between);
    .align-items();

    color: @color-gray-dark;
    margin-left: 10px;
    overflow: hidden;
    padding-right: 10px;
  }
}

.offer-body {
  height: 60px;
  cursor: pointer;

  &.featured-no-pointer {
    cursor: default;
  }
}

.offer-type {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.offer-title {
  font-size: 12px;
  font-weight: 700;
  margin: 0px 10px;
}

.offer-body {
  .display-flex();

  margin-top: 1px;
  background-color: @color-white;
}

.offer-favorite-icon {
  margin-left: 15px;

  ::ng-deep  .odds-fav-icon {
    margin: 0px;
    width: 18px;
    height: 18px;

    .fav-icon-svg {
      width: 18px;
      height: 18px;
    }
  }
}

.offer-info-container {
  .display-flex();
  .flex-direction(column);

  overflow: hidden;
  white-space: nowrap;

  margin: 10px 0 0 15px;
  .offer-info-top {
    .display-flex();

    color: @color-gray-dark;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }

  .offer-info-bottom {
    .display-flex();

    font-size: 11px;
    line-height: 12px;
    color: @color-gray-dark;

    .odds-icon-stream {
      margin-left: 10px;
      min-height: 12px;
      min-width: 12px;
    }
  }

  .offer-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.offer-odd-price-container {
  .display-flex();
  .flex-direction(column);
  .flex();
  .justify-content(center);
  .align-items(flex-end);

  margin: 0px 50px 0px 10px;
}

@media (max-width: @sm-point) {
  .featured-offer ::ng-deep .btn-bet {
    width: 50px;
  }
}
