<div class="az-sports-page"
     data-crlat="az-sports-page">
  <top-bar [title]="'sb.allSports'"></top-bar>

  <vertical-menu *ngIf="topItems"
                 class="top-sports"
                 [menuItems]="topItems"
                 data-crlat="top-sports">
  </vertical-menu>

  <vertical-menu class="az-sports"
                 [menuItems]="azItems"
                 [showHeader]="true"
                 [header]="'sb.azSports'"
                 data-crlat="az-sports">
  </vertical-menu>

  <retail-menu *ngIf="showRetailMenu"
               [showHeader]="true"
               [trackingLocation]="CONST.trackingLocation"
               data-crlat="connect">
  </retail-menu>
</div>
