<div>
  <loading-screen [displayed]="eventEntity && !eventEntity.isResulted && !specialsLoaded"
                  [skeletonOnly]="true"></loading-screen>
  <no-events *ngIf="!eventEntity" [message]="'sb.noMarketsAvailable'"></no-events>
  <div class="native-video-player-placeholder" #nativeVideoPlayerPlaceholder></div>
  <!--- Page Content -->
  <div class="tab-content racing-content" [ngClass]="{'greyhounds-event-page' : isGreyhoundEdp}" *ngIf="eventEntity" data-crlat="tabContent">
    <div class="container" [ngClass]="{'antepost-event' : isMarketAntepost, 'specials-event' : isRacingSpecialsCondition}">
      <!--- Event Top Container -->
      <div class="top-event-panel" data-crlat="eventTopContainer">
        <breadcrumbs *ngIf="eventEntity.categoryId !== HORSE_RACING_CATEGORY_ID"
                     [items]="breadcrumbsItems"
                     (navigationMenu)="showMeetingsList()"
                     [isExpanded]="showMeetings"
                     [menuItems]="quickNavigationItems">
        </breadcrumbs>
        <quick-navigation *ngIf="eventEntity.categoryId !== HORSE_RACING_CATEGORY_ID"
                          [items]="quickNavigationItems"
                          [showMenu]="showMeetings"
                          (showMeetingsListFn)="showMeetingsList()"
                          [meetingsTitle]="meetingsTitle"
                          [eventEntity]="eventEntity">
        </quick-navigation>
        <racing-panel *ngIf="!isRacingSpecialsCondition && (!isMarketAntepost || racingInMeeting.length > 0)"
                      (clickFunction)="goToEdpUrl($event)"
                      [events]="racingInMeeting"
                      [eventId]="eventEntity.id"
                      [isShowName]="isRibbonEventName"
                      class="racing-tabs-panel"></racing-panel>
        <ng-container *ngIf="!eventEntity.isResulted">
        <div *ngIf="!isMarketAntepost && isGreyhoundEdp" class="race-details-container" data-crlat="raceDetailsContainer">
          <div class="event-title" data-crlat="eventTitle">
            <span class="event-time" data-crlat="eventTitleTime">{{ isRacingSpecialsCondition ? '' : eventEntity.localTime}}</span>
            <span class="event-name" data-crlat="eventTitleName">{{ eventEntity.name }}</span>
            <div *ngIf="alertsVisible" (click)="onBellClick()"
                 class="notification-icon-wrapper">
              <svg *ngIf="!bellActive">
                <use xlink:href="#bell-icon-off"></use>
              </svg>
              <svg *ngIf="bellActive">
                <use xlink:href="#bell-icon-on"></use>
              </svg>
            </div>
          </div>
          <div class="race-event-date specials-greyhounds-event-date" *ngIf="isRacingSpecialsCondition" [textContent]="racingSpecialsDate" data-crlat="value"></div>
          <div class="race-details-container-l" *ngIf="eventEntity.timeformData">
            <div class="race-distance" data-crlat="raceDistance">
              <span class="value" [textContent]="(eventEntity.timeformData.raceDistance + 'm')" data-crlat="value"></span>
              <span class="label" [i18n]="'racing.flat'" data-crlat="label"></span>
            </div>

            <div data-crlat="raceGrade" *ngIf="!isGreyhoundEdp">
              <span class="label" [i18n]="'racing.raceGrade'" data-crlat="label"></span>
              <span class="value" [textContent]="eventEntity.timeformData.raceGradeName" data-crlat="value"></span>
            </div>
          </div>
          <div class="race-details-container-l" *ngIf="eventEntity.racingFormEvent">
            <div *ngIf="eventEntity.racingFormEvent?.distance" data-crlat="raceDistance">
              <span class="value" [textContent]="eventEntity.racingFormEvent.distance" data-crlat="value"></span>
            </div>
            <div *ngIf="eventEntity.racingFormEvent?.raceType" data-crlat="raceGrade">
              <span class="value" [textContent]='eventEntity.racingFormEvent?.raceType' data-crlat="value"></span>
            </div>
          </div>
        </div>

        <!--RACING DETAILS-->
        <div *ngIf="!isMarketAntepost && eventEntity.categoryCode === 'HORSE_RACING'" class="race-details-container" data-crlat="raceDetailsContainer">
          <div class="race-event-container" data-crlat="eventTitle">
            <div class="race-event-time" *ngIf="!isRacingSpecialsCondition" [textContent]="eventEntity.localTime" data-crlat="eventTitleTime"></div>
            <div class="race-event-name" [textContent]="eventEntity.name" data-crlat="eventTitleName"></div>
            <div *ngIf="alertsVisible" (click)="onBellClick()"
                 class="notification-icon-wrapper">
              <svg *ngIf="!bellActive">
                <use xlink:href="#bell-icon-off"></use>
              </svg>
              <svg *ngIf="bellActive">
                <use xlink:href="#bell-icon-on"></use>
              </svg>
            </div>
          </div>

          <div class="race-title" [textContent]="eventEntity.racingFormEvent?.title" data-crlat="value"></div>

          <div class="race-details-container-l" data-crlat="botCont">
            <div class="race-event-date" *ngIf="isRacingSpecialsCondition" [textContent]="racingSpecialsDate" data-crlat="specialsDate"></div>
            <div class="race-type" *ngIf="eventEntity.racingFormEvent?.raceType" data-crlat="raceType">
              <div class="value" [textContent]="raceType" data-crlat="value"></div>
            </div>
            <div *ngIf="eventEntity.racingFormEvent?.going" data-crlat="raceGoing">
              <div class="value" [textContent]="going" data-crlat="value"></div>
            </div>
            <div class="race-distance" *ngIf="eventEntity.racingFormEvent?.distance" data-crlat="raceDistance">
              <div class="value" [textContent]='eventEntity.racingFormEvent?.distance' data-crlat="value"></div>
            </div>
          </div>
          <div class="race-details-timer">
            <race-timer [event]="eventEntity" [utc]="true" [displayTime]="false"></race-timer>
          </div>
        </div>

        <!-- Media Container -->
        <div class="media-area-container" *ngIf="isNotAntepostOrSpecials">
          <div class="media-area"
               *ngIf="!isMarketAntepost && (showQuantumLeap && filter === 'showLiveSim' || eventEntity.liveStreamAvailable)">
            <quantum-leap [eventEntity]="eventEntity"
                          [spinner]="spinner"
                          *ngIf="showQuantumLeap && filter === 'showLiveSim' && isActiveRangeForQuantumLeap"
                          data-crlat="iframeWatchFree"></quantum-leap>

            <!-- Video Stream lazy component -->
            <lazy-component *ngIf="(filter === 'showVideoStream')"
                            moduleUri="src/platforms/ladbrokesMobile/lazy-modules/eventVideoStream/event-video-stream.module#LazyEventVideoStreamModule"
                            [inputs]="{eventEntity: eventEntity, preloadStream: preloadStream}"
                            [outputs]="['playStreamError']"
                            (event)="onPlayLiveStreamError()"
                            data-crlat="eventVideoStreamArea">
            </lazy-component>
          </div>
        </div>

        <!-- Racing post and Media buttons -->
        <div
          class="racing-post-media-btns-container"
          *ngIf="!isRacingSpecialsCondition && !isMarketAntepost"
          [ngClass]="{'no-watch': !eventEntity.liveStreamAvailable}"
        >
          <div class="btn-wrapper">
            <!-- WATCH BTN --->
            <a *ngIf="eventEntity.liveStreamAvailable"
               class="btn watch-btn"
               [ngClass]="{
             'active' : filter === 'showVideoStream',
             'disabled' : filter === 'showLiveSim' && !isGreyhoundEdp && eventEntity.isUKorIRE}"
               (click)="playStream($event)" data-crlat="buttonPlayStream">
              <svg class="btn-icon video-stream-icon">
                <use xlink:href="#button-arrow"></use>
              </svg>
              <span [i18n]="filter === 'showVideoStream' ? 'sb.done' : 'sb.watch'"></span>
            </a>

            <!-- Live SIM BTN --->
            <a *ngIf="sportName !== 'greyhound' && eventEntity.isUKorIRE && !shouldShowCSBIframe && isActiveRangeForQuantumLeap"
               class="btn livesim-btn"
               [ngClass]="{
               'active' : filter === 'showLiveSim',
               'disabled' : filter === 'showVideoStream'
               }"
               (click)="playLiveSim($event);" data-crlat="buttonWatchFree">
              <span class=" btn-icon btn-spinner quantum-leap" *ngIf="spinner.isActive" data-crlat="spinner.loader"></span>
              <span [i18n]="filter === 'showLiveSim' ? 'sb.done': 'sb.liveSIM'"></span>
            </a>
          </div>


          <!-- RACING POST Verdict --->
          <div *ngIf="isRacingPostVerdictAvailable"
              data-crlat="racingPostContainer"
              class="racing-post-container"
              (click)="toggleRacingPostVerdict()">
            <racing-post-verdict-label></racing-post-verdict-label>
            <svg class="racing-chevron" data-crlat="racingPost.logo">
              <use xlink:href="#racing-chevron"></use>
            </svg>
          </div>
          <racing-post-pick *ngIf="isGreyhoundEdp && eventEntity.racingFormEvent?.postPick"
                          [eventEntity]="eventEntity.racingFormEvent.postPick"></racing-post-pick>
        </div>


      <racing-specials-carousel [eventId]="eventId"
                                (eventsLoaded)="handleSpecialsLoaded()"></racing-specials-carousel>
      <switchers
        class="markets-tabs"
        *ngIf="isNotAntepostOrSpecials && marketsTabs?.length"
        [type]="'scrollable'"
        [noPaddings]="true"
        [activeTab]="{id: selectedMarket}"
        [switchers]="marketsTabs"
        [filter]="selectedMarket">
      </switchers>

      <lazy-component *ngIf="selectedMarket === forecastLabel"
                      moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                      [inputs]="{event: eventEntity, marketEntity: forecastTricastMarket, selectedPoolType: forecastLabel }"></lazy-component>

      <lazy-component *ngIf="selectedMarket === tricastLabel"
                      moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                      [inputs]="{event: eventEntity, marketEntity: forecastTricastMarket, selectedPoolType: tricastLabel }"></lazy-component>

      <!-- Totepool tab-->
          <lazy-component *ngIf="selectedMarket === toteLabel"
                          moduleUri="src/platforms/ladbrokesMobile/ukTote/uk-tote.module#UkToteModule"
                          data-crlat="UKToteEvent"
                          [inputs]="{
                            pools: pools,
                            event: poolEventEntity,
                            fixedOddsEvent: eventEntity,
                            selectedPoolType: selectedMarketType
                          }">
          </lazy-component>

      <!--- Market Container -->
      <div *ngFor="let marketEntity of eventEntity.markets; trackBy: trackById; let mIndex = index"
           class="market-container">
        <accordion [accordionTitle]="displayMarketHeader(marketEntity)"
                   [isChevronToLeft]="true"
                   [isExpanded]="!marketEntity.collapseMarket"
                   [isHeaderHidden]="!displayMarketHeader(marketEntity)"
                   *ngIf="displayMarketPanel(marketEntity)"
                   [ngClass]="{'sort-by-enabled': sortOptionsEnabledFn(selectedMarket === ewLabel)}"
                   data-crlat="marketOutcomes"
                   class="accodion-left-arrow page-inner-container">
          <right-side *ngIf="!isRacingSpecialsCondition">
            <cashout-label *ngIf="marketEntity.cashoutAvail === 'Y'" [mode]="'md'"></cashout-label>
          </right-side>
          <accordion-body>
            <!--Future/antepost event header card-->
            <div class="terms-before-market" *ngIf="isMarketAntepost && !isRacingSpecialsCondition" data-crlat="raceMarketHeader">
              <!--Market label-->
              <div class="race-market-label" data-crlat="antepost.label">Antepost</div>

              <!--Event time and title-->
              <div class="race-market-event-title">
                <span data-crlat="eventTitle" [textContent]="eventEntity.name"></span>
              </div>

              <!--Market terms-->
              <div class="race-market-terms"
                   [innerHTML]="formatAntepostTerms(marketEntity.terms)"
                   *ngIf="marketEntity.isEachWayAvailable"
                   data-crlat="eachWayContainer">
              </div>
              <span class="class-value"
                    [textContent]="eventEntity.uiClass"
                    *ngIf="eventEntity.uiClass"
                    data-crlat="termsClass">
              </span>

              <div class="horse-racing-icons">
                <span class="pull-right">
                  <cashout-label *ngIf="marketEntity.cashoutAvail === 'Y' || marketEntity.viewType === 'handicaps'"
                                 [mode]="'md'">
                  </cashout-label>
                </span>
              </div>
            </div>

            <div class="terms-before-market row row-no-gutter"
                 *ngIf="!isMarketAntepost && !isRacingSpecialsCondition && termsBeforeMarketAvailable[marketEntity.id]"
                 data-crlat="raceMarketHeader">
              <div class="col-xs-8" data-crlat="terms">
                <div class="term-value" [innerHTML]="formatAntepostTerms(marketEntity.terms)"
                     *ngIf="marketEntity.isEachWayAvailable"
                     data-crlat="eachWayContainer">
                </div>
                <span class="class-value"
                      [textContent]="eventEntity.uiClass"
                      *ngIf="eventEntity.uiClass"
                      data-crlat="termsClass">
                </span>
              </div>

              <div class="horse-racing-icons col-xs-4">
                <!-- Promotional signposting -->
                <!--todo <div oc-lazy-load="['promotions']">-->
                <promotion-icon [type]="'market'"
                                [display]="marketEntity.drilldownTagNames"
                                [cashoutAvailable]="marketEntity.cashoutAvail === 'Y' || marketEntity.viewType === 'handicaps'"
                                [mode]="'md'"
                                [isGpAvailable] = "marketEntity.isGpAvailable && !isGreyhoundEdp"
                                data-crlat="promotionIcons"></promotion-icon>
              </div>
            </div>

            <race-cards-controls class="sort-by-container race-cards-controls"
                                 [sortBy]="sortBy"
                                 [market]="marketEntity"
                                 [isInfoHidden]="isInfoHidden"
                                 [isGreyhoundEdp]="isGreyhoundEdp"
                                 [sortOptionsEnabled]="sortOptionsEnabledFn(true, marketEntity)"
                                 (toggleShowOptions)="toggleShowOptions(expandedSummary, mIndex, $event)"
                                  *ngIf="isNotAntepostOrSpecials && !isSpOnly">
            </race-cards-controls>

            <!-- Racing Event -->
            <div class="inner-container">
              <div *ngFor="let outcomeEntity of marketEntity.outcomes; trackBy: trackById; let oIndex = index"
                   data-crlat="outcomeEntity">
                <racing-outcome-card
                  [eventEntity]="eventEntity"
                  [marketEntity]="marketEntity"
                  [isGreyhoundEdp]="isGreyhoundEdp"
                  [outcomeEntity]="outcomeEntity"
                  [showSummary]="expandedSummary[mIndex][oIndex]"
                  (expand)="onExpandSection(expandedSummary, mIndex, oIndex);"
                  [isNotRacingSpecials]="!isRacingSpecialsCondition">
                  <price-odds-button (click)="stopPropagation($event)"
                                     [event]="eventEntity"
                                     [market]="marketEntity"
                                     [outcome]="outcomeEntity"
                                     [gtmModuleTitle]="'racecard'"
                                     [nonRunner]="outcomeEntity.nonRunner"
                                     [isShowHistoricPrices]="isNotAntepostOrSpecials">
                  </price-odds-button>
                </racing-outcome-card>
              </div>
            </div>
          </accordion-body>
        </accordion>
      </div>

        <!-- Grouped racing markets To Finish, Top Finish, Place Insurance -->
        <race-market-component
          *ngIf="isGroupedMarket() && !isRacingSpecialsCondition"
          [ngClass]="{'sort-by-enabled': sortOptionsEnabled}"
          [eventEntity]="eventEntity"
          [sortBy]="sortBy"
          [sortOptionsEnabledFn]="sortOptionsEnabledFn"
          [sortOptionsEnabled]="sortOptionsEnabled"
          [isGreyhoundEdp]="isGreyhoundEdp"
          [expandedSummary]="expandedSummary"
          [sm]="selectedMarket">
        </race-market-component>
      </ng-container>
      <racing-event-resulted *ngIf="eventEntity.isResulted"
                             [eventEntity]="eventEntity">
      </racing-event-resulted>
      <drawer *ngIf="isRacingPostVerdictAvailable"
              [show]="showVerdict"
              (hide)="showVerdict = false">
        <racing-post-verdict-label header header="true" class="text-left"></racing-post-verdict-label>
        <racing-post-verdict [data]="racingPostVerdictData" body></racing-post-verdict>
      </drawer>
    </div>
  </div>
</div>
</div>
