@import 'global.variables.less';

@dialog-font-size: 13px;

:host {
  ::ng-deep .modal {
    background-color: fade(@color-black, 75%) !important;
  }

  ::ng-deep .modal-dialog {
    font-family: @alt-font-family;
    padding: 0;
    .modal-content {
      padding: 0;
      margin: auto;
      background: @color-white;
      border-radius: 2px;
      .modal-header {
        background: @color-white;
        color: @lGray;
        box-shadow: none;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        padding: 24px 24px 12px;
        font-family: @alt-font-family;
        .btn-close {
          display: none;
          &.visible {
            display: block;
            margin: 0;
            top: 20px;
            right: 20px;
          }
          &.black {
            svg {
              fill: @color-black;
            }
          }
        }
      }
      .modal-body {
        padding: 0 24px 24px 24px;
        color: @lBlack-light;
        font-size: @dialog-font-size;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        max-height: 450px;
        overflow-y: auto;

        p {
          font-size: inherit;
          line-height: normal;
        }

        a:not([class]) {
          color: @color-blue-alt;
        }
        .btn, .group-buttons .btn {
          font-size: @dialog-font-size;

          &.btn-style2 {
            background: @color-yellow-alt;
          }

          &.button {
            color: @lGray;
            display: block;
            margin: 16px auto 0;
            width: 100px;
          }
        }

        .btn-list {
          .btn {
            &.btn-style4 {
              min-width: 90px;
            }
          }
        }
      }
    }
  }

  ::ng-deep .no-body-padding .modal-dialog .modal-content .modal-body {
    padding: 0;
    max-height: 425px;
  }

  ::ng-deep .centered-header .modal-dialog .modal-content .modal-header {
    justify-content: center;
    padding: 19px 0 16px 0;
    font-size: @font-size-lgst;
    font-weight: normal;
  }
}
