@import 'global.variables.less';

.see-all-link {
  font-size: @font-size-md;
}

.race-card {
  ::ng-deep {
    .accordion-header {
      .chevron-up {
        transform: rotate(90deg);

        &:before {
          width: 7px;
          left: 4px;
          transform: rotate(45deg);
        }

        &:after {
          width: 7px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
