<loading-screen [displayed]="eventEntity && !eventEntity.isResulted && !specialsLoaded"
                [skeletonOnly]="true"></loading-screen>

<no-events *ngIf="!eventEntity" [message]="'sb.noMarketsAvailable'"></no-events>

<div class="native-video-player-placeholder" #nativeVideoPlayerPlaceholder></div>
  <!--- Page Content -->
<div class="tab-content racing-content" *ngIf="eventEntity" data-crlat="tabContent">
    <div class="container" [ngClass]="{'antepost-event' : isMarketAntepost}">

      <!--- Event Top Container -->
      <div class="top-event-panel" data-crlat="eventTopContainer">
        <breadcrumbs *ngIf="eventEntity.categoryId !== HORSE_RACING_CATEGORY_ID"
                     [items]="breadcrumbsItems"
                     (navigationMenu)="showMeetingsList()"
                     [isExpanded]="showMeetings"
                     [menuItems]="quickNavigationItems">
        </breadcrumbs>
        <quick-navigation *ngIf="eventEntity.categoryId !== HORSE_RACING_CATEGORY_ID"
                          [items]="quickNavigationItems"
                          [showMenu]="showMeetings"
                          (showMeetingsListFn)="showMeetingsList()"
                          [meetingsTitle]="meetingsTitle"
                          [eventEntity]="eventEntity">
        </quick-navigation>
        <racing-panel *ngIf="!isRacingSpecialsCondition && (!isMarketAntepost || racingInMeeting.length > 0)"
                      [origin]="origin"
                      [events]="racingInMeeting"
                      [eventId]="eventEntity.id"
                      [isShowName]="isRibbonEventName"
                      class="racing-tabs-panel"></racing-panel>
        <ng-container *ngIf="!eventEntity.isResulted">
          <div *ngIf="!isMarketAntepost && eventEntity.categoryCode !== 'HORSE_RACING'" class="race-details-container" data-crlat="raceDetailsContainer">
            <span class="event-title" *ngIf="!eventEntity.timeformData && !eventEntity.racingFormEvent" data-crlat="eventTitle">{{ eventEntity.localTime }} {{ eventEntity.name }}</span>
            <div class="race-details-container-l" *ngIf="eventEntity.timeformData">
              <div class="race-distance" data-crlat="raceDistance">
                <span class="label" [i18n]="'racing.distance'" data-crlat="label"></span>
                <span class="value" [textContent]="(eventEntity.timeformData.raceDistance + 'M')" data-crlat="value"></span>
              </div>
              <div data-crlat="raceGrade">
                <span class="label" [i18n]="'racing.raceGrade'" data-crlat="label"></span>
                <span class="value" [textContent]="eventEntity.timeformData.raceGradeName" data-crlat="value"></span>
              </div>
            </div>
            <div class="race-details-container-l" *ngIf="eventEntity.racingFormEvent">
              <div class="race-distance" *ngIf="eventEntity.racingFormEvent?.distance" data-crlat="raceDistance">
                <span class="label" [i18n]="'racing.distance'" data-crlat="label"></span>
                <span class="value racing-post-distance" [textContent]="eventEntity.racingFormEvent.distance" data-crlat="value"></span>
              </div>
              <div *ngIf="eventEntity.racingFormEvent?.grade" data-crlat="raceGrade">
                <span class="label" [i18n]="'racing.raceGrade'" data-crlat="label"></span>
                <span class="value" [textContent]='eventEntity.racingFormEvent?.grade' data-crlat="value"></span>
              </div>
            </div>
            <div *ngIf="alertsVisible" (click)="onBellClick()"
                 class="notification-icon-wrapper">
              <svg *ngIf="!bellActive">
                <use xlink:href="#bell-icon-off"></use>
              </svg>
              <svg *ngIf="bellActive">
                <use xlink:href="#bell-icon-on"></use>
              </svg>
            </div>

          </div>

          <timeform-summary *ngIf="eventEntity.timeformData"
                            [summary]="eventEntity.timeformData" data-crlat="timeformContainer">
          </timeform-summary>
          <div class="race-details-container" *ngIf="isGreyhoundEdp && eventEntity.racingFormEvent?.postPick">
            <racing-post-pick [eventEntity]="eventEntity.racingFormEvent.postPick"></racing-post-pick>
          </div>
          <!--RACING DETAILS-->
          <div *ngIf="!isMarketAntepost && eventEntity.categoryCode === 'HORSE_RACING'" class="race-details-container" data-crlat="raceDetailsContainer">
            <span class="event-title" data-crlat="eventTitle">{{ eventEntity.localTime }} {{ eventEntity.name }}</span>
            <div class="race-details-container-l">
              <div class="race-distance" *ngIf="eventEntity.racingFormEvent?.distance" data-crlat="raceDistance">
                <div class="label" [i18n]="'racing.distance'" data-crlat="label"></div>
                <div class="value" [textContent]='eventEntity.racingFormEvent?.distance' data-crlat="value"></div>
              </div>
              <div *ngIf="eventEntity.racingFormEvent?.going" data-crlat="raceGoing">
                <div class="label" [i18n]="'racing.going'" data-crlat="label"></div>
                <div class="value text-uppercase" [textContent]="going" data-crlat="value"></div>
              </div>
            </div>
            <div class="race-details-container-r">
              <race-timer [event]="eventEntity" [utc]="true" [displayTime]="false"></race-timer>
            </div>
            <div *ngIf="alertsVisible" class="notification-icon-wrapper" (click)="onBellClick()"
                 class="notification-icon-wrapper">
              <svg *ngIf="!bellActive">
                <use xlink:href="#bell-icon-off"></use>
              </svg>
              <svg *ngIf="bellActive">
                <use xlink:href="#bell-icon-on"></use>
              </svg>
            </div>
          </div>

          <!-- RACING POST Summary-->
          <div class="racing-post-container"
               *ngIf="sportName !== 'greyhound' && eventEntity.racingFormEvent?.overview" data-crlat="racingPostContainer">
            <div class="r-post-header">
              <svg class="r-post-logo" data-crlat="racingPost.logo">
                <use xlink:href="#racing-post"></use>
              </svg>
            </div>

            <div class="r-post-text">
              <span [textContent]="racingPostSummary" data-crlat="racingPost.text"></span>
              <span class="r-post-btn"
                    [i18n]="showLess ? 'sb.showMore' : 'sb.showLess'"
                    (click)="summaryMoreLess()"
                    data-crlat="racingPost.showSummary"></span>
            </div>
          </div>
          <!-- Media Type Buttons -->
          <div class="media-area-container"
               *ngIf="!isMarketAntepost">
            <div class="group-buttons media-buttons v2-media-buttons">
              <div class="group-btn">
                <div class="group-col" *ngIf="sportName !== 'greyhound' && eventEntity.isUKorIRE && !shouldShowCSBIframe && isActiveRangeForQuantumLeap">
                  <a class="btn toggled QL_goingDownButton"
                     [ngClass]="{'active' : filter === 'showLiveSim'}"
                     (click)="playLiveSim($event)" data-crlat="buttonWatchFree">
                    <span class=" btn-icon btn-spinner quantum-leap" *ngIf="spinner.isActive" data-crlat="spinner.loader"></span>
                    <svg class="btn-icon watch-free-icon">
                      <use xlink:href="#icon-logo-watch-free"></use>
                    </svg>
                    <span [i18n]="'sb.liveSim'"></span>
                  </a>
                </div>

                <div class="group-col" *ngIf="eventEntity.liveStreamAvailable">
                  <a class="btn toggled"
                     [ngClass]="{'active' : filter === 'showVideoStream'}"
                     (click)="playStream($event)" data-crlat="buttonPlayStream">
                    <svg class="btn-icon video-stream-icon">
                      <use xlink:href="#icon-watch-live"></use>
                    </svg>
                    <span [i18n]="'sb.liveStream'"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-area"
                 [ngClass]="{'media-area-space': filter !== 'hideStream' && !isWrapper}"
                 *ngIf="!isMarketAntepost && (showQuantumLeap && filter === 'showLiveSim' || eventEntity.liveStreamAvailable)">
              <quantum-leap [eventEntity]="eventEntity"
                            [spinner]="spinner"
                            *ngIf="showQuantumLeap && filter === 'showLiveSim' && isActiveRangeForQuantumLeap"
                            data-crlat="iframeWatchFree"></quantum-leap>

              <!-- Video Stream lazy component -->
              <lazy-component *ngIf="(filter === 'showVideoStream')"
                              moduleUri="src/app/lazy-modules/eventVideoStream/event-video-stream.module#LazyEventVideoStreamModule"
                              [inputs]="{eventEntity: eventEntity, preloadStream: preloadStream}"
                              [outputs]="['playStreamError']"
                              (event)="onPlayLiveStreamError($event)"
                              data-crlat="eventVideoStreamArea">
              </lazy-component>
            </div>
            <div class="item-inner item-legend"
                 *ngIf="!isMarketAntepost && showQuantumLeap && filter === 'showLiveSim' && isActiveRangeForQuantumLeap">
              <small>
                <svg class="btn-icon question-icon">
                  <use xlink:href="#icon-question"></use>
                </svg>
                <a (click)="showWatchFreeInformation($event)" data-crlat="linkWatchFreeLegend">
                  <span [i18n]="'sb.watchFreeInformation'" data-crlat="labelWatchFreeInfo"></span>
                </a>
              </small>
            </div>
          </div>
          <racing-specials-carousel [eventId]="eventId"
                                    (eventsLoaded)="handleSpecialsLoaded()"></racing-specials-carousel>
          <div class="tabs-panel" *ngIf="!isMarketAntepost">
            <div class="scroll-container" [scrollable] [rescrollOnChange]="selectedMarket">
              <ul class="scroll-inner"
                  [ngClass]="{'flex-tabs': eventEntity.sortedMarkets.length <= allowFlexTabs}"
                  data-crlat="panel.tabs">
                <li *ngFor="let marketEntity of eventEntity.sortedMarkets; trackBy: trackById;"
                    [ngClass]="{'active': marketEntity.label === selectedMarket}">
              <span class="tab"
                    (click)="change(marketEntity)"
                    draggable="false"
                    data-crlat="tab.tpTabs">
                <span class="race-time" [textContent]="marketEntity.label" data-crlat="tab"></span>
              </span>
                </li>
              </ul>
            </div>
          </div>

          <lazy-component *ngIf="selectedMarket === forecastLabel"
                          moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                          [inputs]="{event: eventEntity, marketEntity: forecastTricastMarket, selectedPoolType: forecastLabel }"></lazy-component>

          <lazy-component *ngIf="selectedMarket === tricastLabel"
                          moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                          [inputs]="{event: eventEntity, marketEntity: forecastTricastMarket, selectedPoolType: tricastLabel }"></lazy-component>

          <!-- Totepool tab-->
          <lazy-component *ngIf="selectedMarket === toteLabel"
                          moduleUri="src/app/ukTote/uk-tote.module#UkToteModule"
                          data-crlat="UKToteEvent"
                          [inputs]="{
                            pools: pools,
                            event: poolEventEntity,
                            fixedOddsEvent: eventEntity,
                            selectedPoolType: selectedMarketType,
                            selectedMarketTypePath: selectedMarketTypePath
                          }">
          </lazy-component>

          <!--- Market Container -->
          <div class="heuristic-container top-padding">
            <ng-container *ngFor="let marketEntity of eventEntity.markets; trackBy: trackById; let mIndex = index">
              <accordion [accordionTitle]="displayMarketHeader(marketEntity)"
                         [card]="true"
                         [isChevronToLeft]="true"
                         [isExpanded]="!marketEntity.collapseMarket"
                         [isHeaderHidden]="!displayMarketHeader(marketEntity)"
                         *ngIf="displayMarketPanel(marketEntity) && marketEntity.outcomes &&
                   !isGroupedRaceMarket(marketEntity)"
                         [ngClass]="{'sort-by-enabled': sortOptionsEnabledFn(selectedMarket === ewLabel, false)}"
                         data-crlat="marketOutcomes">
                <right-side>
                  <cashout-label *ngIf="marketEntity.cashoutAvail === 'Y'" [mode]="'md'"></cashout-label>
                </right-side>
                <accordion-body>
                  <!--Future/antepost event header card-->
                  <div class="terms-before-market" *ngIf="isMarketAntepost" data-crlat="raceMarketHeader">
                    <!--Market label-->
                    <div class="race-market-label" data-crlat="antepost.label">Antepost</div>

                    <!--Event time and title-->
                    <div class="race-market-event-title">
                      <span data-crlat="eventTitle" [textContent]="eventEntity.name"></span>
                    </div>

                    <!--Market terms-->
                    <div class="race-market-terms"
                         [innerHTML]="formatAntepostTerms(marketEntity.terms)"
                         *ngIf="marketEntity.isEachWayAvailable"
                         data-crlat="eachWayContainer">
                    </div>
                    <span class="class-value"
                          [textContent]="eventEntity.uiClass"
                          *ngIf="eventEntity.uiClass"
                          data-crlat="termsClass">
                    </span>

                    <div class="horse-racing-icons">
                      <span class="pull-right">
                        <cashout-label *ngIf="marketEntity.cashoutAvail === 'Y' || marketEntity.viewType === 'handicaps'"
                                       [mode]="'md'">
                        </cashout-label>
                      </span>
                    </div>
                  </div>

                  <div class="terms-before-market row row-no-gutter"
                       *ngIf="!isMarketAntepost && termsBeforeMarketAvailable[marketEntity.id]"
                       data-crlat="raceMarketHeader">
                    <div class="col-xs-8" data-crlat="terms">
                      <div class="term-value" [innerHTML]="formatAntepostTerms(marketEntity.terms)"
                           *ngIf="marketEntity.isEachWayAvailable"
                           data-crlat="eachWayContainer"></div>
                      <span class="class-value"
                            [textContent]="eventEntity.uiClass"
                            *ngIf="eventEntity.uiClass"
                            data-crlat="termsClass">
                      </span>
                    </div>

                    <div class="horse-racing-icons col-xs-4">
                      <!-- Promotional signposting -->
                      <promotion-icon [type]="'market'" [display]="marketEntity.drilldownTagNames" [mode]="'md'"
                        [cashoutAvailable]="marketEntity.cashoutAvail === 'Y' || marketEntity.viewType === 'handicaps'"
                        [isGpAvailable]="marketEntity.isGpAvailable && !isGreyhoundEdp" data-crlat="promotionIcons">
                      </promotion-icon>
                    </div>
                  </div>
                  <race-cards-controls class="sort-by-container race-cards-controls"
                    [sortBy]="sortBy"
                    [market]="marketEntity"
                    [isInfoHidden]="isInfoHidden"
                    [isGreyhoundEdp]="isGreyhoundEdp"
                    [sortOptionsEnabled]="sortOptionsEnabledFn(true, marketEntity)"
                    (toggleShowOptions)="toggleShowOptions(expandedSummary, mIndex, $event)"
                    *ngIf="isNotAntepostOrSpecials && !isSpOnly">
                  </race-cards-controls>
                  <!-- Racing Event -->
                  <div class="inner-container">
                    <div *ngFor="let outcomeEntity of marketEntity.outcomes; trackBy: trackById; let oIndex = index"
                    data-crlat="outcomeEntity">
                      <racing-outcome-card
                        [eventEntity]="eventEntity"
                        [marketEntity]="marketEntity"
                        [outcomeEntity]="outcomeEntity"
                        [showSummary]="expandedSummary.length && expandedSummary[mIndex][oIndex]"
                        (expand)="onExpandSection(expandedSummary, mIndex, oIndex);"
                        [isGreyhoundEdp]="isGreyhoundEdp">
                        <price-odds-button (click)="stopPropagation($event)"
                                           [event]="eventEntity"
                                           [market]="marketEntity"
                                           [outcome]="outcomeEntity"
                                           [nonRunner]="outcomeEntity.nonRunner"
                                           [gtmModuleTitle]="'racecard'">
                        </price-odds-button>
                      </racing-outcome-card>
                    </div>
                  </div>
                </accordion-body>
              </accordion>
            </ng-container>
            <!-- Grouped racing markets To Finish, Top Finish, Place Insurance-->
            <race-market-component
              *ngIf="isGroupedMarket() && !isSpOnly"
              [sortBy]="sortBy"
              [ngClass]="{'sort-by-enabled': sortOptionsEnabled}"
              [market]="marketEntity"
              [isInfoHidden]="isInfoHidden"
              [isGreyhoundEdp]="isGreyhoundEdp"
              [sortOptionsEnabled]="sortOptionsEnabledFn(true, marketEntity)"
              [eventEntity]="eventEntity"
              [expandedSummary]="expandedSummary"
              [sm]="selectedMarket">
            </race-market-component>
          </div>
        </ng-container>
        <racing-event-resulted *ngIf="eventEntity.isResulted"
                               [eventEntity]="eventEntity">
        </racing-event-resulted>
    </div>
  </div>
</div>

