<!-- Mobile video stream -->
<div *ngIf="!isDesktop" class="eventVideoStream clearfix">
  <div class="video-frame clearfix">
    <!-- Delay msg -->
    <div class="stream-msg-wrapper" *ngIf="showPlayer && streamingUrl">
      <span class="stream-msg" [i18n]="'sb.delay'" data-crlat="streamMsg"></span>
    </div>
    <video autoplay playsinline webkit-playsinline controls
           [attr.id]="eventEntity.id"
           [attr.src]="streamingUrl"
           [ngClass]="{ 'hidden': !(streamingUrl && showPlayer && !isWrapper) }"
           [ngStyle]="{ 'height.px': frameHeight, 'width.px': frameWidth }">
    </video>
  </div>
</div>

<!-- Desktop stream player -->
<div class="desktop-video-container" *ngIf="isDesktop">
  <div class="spinner-loader spinner-dark" *ngIf="!errorMessage && !showVideoPlayer" data-crlat="spinner.loader"></div>
  <div class="video-container" *ngIf="!errorMessage"
       [ngClass]="{ 'video-load': !errorMessage && !showVideoPlayer }">
    <video
      [attr.width]="frameWidth"
      [attr.height]="frameHeight"
      id="rtmpe-hls"
      class="video-js vjs-big-play-centered"
      controls>
    </video>
  </div>
  <div *ngIf="errorMessage && errorMessage.length > 0" class="error-message" data-crlat="videoStreamErrorMessage">
    <svg class="horseracing-info-icon">
      <use xlink:href="#info-icon"></use>
    </svg>
    <span [textContent]="errorMessage"></span>
  </div>
  <!-- Delay msg -->
  <div *ngIf="!errorMessage && !showVideoPlayer" class="stream-text" [i18n]="'sb.delay'"></div>
</div>
