<div class="event-name" data-crlat="oddsNames" [textContent]="outcome.name"></div>
<price-odds-button data-crlat="oddsRight"
                   [event]="event"
                   [market]="market"
                   [outcome]="outcome">
</price-odds-button>