<ng-container [ngSwitch]="componentName">
  <favourites-matches *ngSwitchCase="'favourites'"
                      [widget]="'favouritesWidget'"
                      [isWidgetColumn]="true"
                      data-crlat="favouritesWidget">
  </favourites-matches>

  <w-betslip *ngSwitchCase="'betslip'"></w-betslip>

  <w-match-centre *ngSwitchCase="'match-centre'"></w-match-centre>

  <next-races-module *ngSwitchCase="'next-races'"
                     [moduleType]="'horseracing'"
                     [raceIndex]="'next-races-right-column'"
                     [showLoader]="true"
                     [widget]="true">
  </next-races-module>

  <offer-section *ngSwitchCase="'offers'"></offer-section>
</ng-container>
