<div class="rpg-iframe-container" [ngClass]="{'visible': showContent}">
  <header class="rpg-iframe-header">
    <div class="rpg-title" [textContent]="rpgTitle"></div>
    <a class="more-link" data-crlat="moreLink"
       [i18n]="'sb.seeMore'"
       [href]="seeAllUrl"></a>
  </header>
  <iframe class="rpg-iframe" frameBorder="0"
          [style.height.px]="frameHeight"
          [src]="rpgUrl">
  </iframe>
</div>
