@import 'global.variables.less';

.rpg-iframe-container {
  background-color: @color-white;
  overflow: hidden;
  margin: 4px 0;
  height: 0;

  .rpg-iframe-header {
    font-size: @font-size-tablet;
    line-height: 16px;
    color: @color-gray-dark;
    position: relative;
    padding: 11px;
    display: none;

    .rpg-title {
      font-weight: bold
    }

    .more-link {
      margin: 0 7px 0 auto;
      font-size: @font-size-md;
      line-height: 16px;
      font-weight: 700;
      white-space: nowrap;
      padding-left: 5px;
      color: @brand-color-dark;
      text-transform: uppercase;
    }
  }
  
  &.visible {
    padding-bottom: 11px;
    height: initial;
    .rpg-iframe-header {
      .display-flex();
    }
  }

  .rpg-iframe {
    width: 100%;
  }
}
