@import 'global.variables.less';

@coupon-header-height: 45px;

coupons-details {
  display: block;
}

.top-title {
  height: @coupon-header-height;
  padding: 0 10px;
  line-height: 25px;
  font: @font-size-md @base-font-family;
  font-weight: bold;
  text-transform: capitalize;
  color: @color-white;
  width: 100%;
  background: @brand-color-secondary;
  .display-flex();

  &.coupons-top-title {
    position: -webkit-sticky;
    position: sticky;
    z-index: 6;
    top: @app-header-height + @top-bar-height;
  }

  &.active .coupon-selector .coupon-selector-arrow {
    .transform(rotateX(180deg));
  }

  .coupon-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .flex(1,1);
    .display-flex();
    .flex-direction(column);
    .align-items(flex-start);
    .justify-content(center);
  }

  .coupon-selector {
    .display-flex();
    .align-items();
    white-space: nowrap;
    padding-left: 10px;
    cursor: pointer;

    .coupon-selector-title {
      text-decoration: underline;
      font-weight: normal;
    }

    .coupon-selector-icon {
      height: 17px;
      width: 17px;
      fill: @color-white;
      margin-right: 5px;
    }

    .coupon-selector-arrow {
      height: 4px;
      width: 8px;
      fill: @color-white;
      margin-left: 5px;
    }
  }
}

.coupons-details-content {
  .sticky-market-selector {
    top: @app-header-height + @top-bar-height + @coupon-header-height;
  }
}

.coupons-list {
  position: relative;
  z-index: 6;
  overflow: hidden;
  display: none;

  &.active {
    display: block;
  }

  .coupons-wrap {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    background: @color-white;
  }
}
