@import 'global.variables.less';

.in-play-score {
  .display-flex();
  .align-items();
  .justify-content();
}

.in-play-scores-container {
  .display-flex();
  .align-items(flex-end);
  font-size: 14px;
  line-height: 14px;
  color: lighten(@color-gray-dark, 50%);

  span {
    margin: 0 0 0 7px;
  }

  span:last-child {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: @color-gray-dark;
  }
}

.in-play-score-reversed {
  .flex-flow(row-reverse);

  span {
    margin: 0 7px 0 0;
  }
}

.in-play-game-status {
  background: @color-red;
  border-radius: 2px;
  color: @color-white;
  font-family: @base-font-family;
  font-size: 8px;
  font-weight: bold;
  margin: 0 5px;
  padding: 1px 5px;
  text-transform: uppercase;
  line-height: 12px;
  display: inline-block;
  vertical-align: middle;

  &.in-play-game-status__bigger {
    font-size: 11px;
    margin: 0 10px;
    padding: 2px 4px;
  }
}
