@import 'global.variables.less';

.jackpot-receipt {
  font-size: 11px;

  .text-section {
    padding: 10px;
  }

  .bordered-row {
    padding: 10px 0;
    border-top: 1px solid @color-gray;

    &:first-child {
      border: none;
    }
  }

  .details-info {
    font-size: 11px;

    .label-text {
      font-size: 10px;
    }
  }

  .text-result {
    text-align: center;

    strong {
      padding: 0 5px;
    }

    .result-L { color : @color-red; }
    .result-V { color : @color-yellow; }
    .result-W { color : @color-green; }
  }

  .btm-block {
    color: lighten(@color-gray-dark, 50%);
    font-size: 10px;
    border-top: 1px dashed @color-gray;
    padding: 5px 0 0;
  }
}
