@import 'global.variables.less';

.private-markets {
  min-height: 45px;
  position: relative;


  .outcome-panel {
    padding: 10px 15px;
    border-bottom: 1px solid @color-gray;
  }

  .odds-panel {
    float: right;
  }

  .text-part {
    float: left;

    span {
      font-size: 10px;
    }

    strong {
      display: block;
      margin-top: 5px;
    }
  }

  .term-conditions-link {
    background: @color-gray-light;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
    overflow: hidden;
    padding: 10px 15px;
  }

  .private-market-icon {
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 26px;
    fill: @color-black;
  }
}
