@import 'global.variables.less';

.scorecast-container {
  margin: 2px 0 0;
}

.scorecast-subcontainer {
  margin-top: 5px;
  background-color: @color-white;
  border-radius: 3px;
}

.switchers-buttons.switchers-buttons--scorecast {
  padding: 10px 10px 0;
}

.scorecast-select-scorer-label {
  padding: 10px 10px 0;
  margin-bottom: 0;
  font: bold @font-size-md @base-font-family;
  color: @color-gray-dark;
}

.custom-select--scorecast-goalscorer {
  padding: 10px;
  .custom-select {
    margin: 0;
    select {
      border: 1px solid @color-gray;
      border-radius: 4px;
    }
  }
}

.custom-select--scorecast-score,
.team-col.custom-select--scorecast-score {
  .custom-select {
    margin: 0;
  }
}
