@import 'global.variables.less';

.sticky-market-selector {
  position: -webkit-sticky;
  position: sticky;
  top: @app-header-height + @top-bar-height;
  z-index: 4;
  display: block;
  transform: translate3d(0,0,0);
  margin-bottom: 3px;
  width: 100%;

  &.sticky-on {
    .custom-select {
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    }
  }
}
