<div class="container bet-slip-tabs-container full-height" id="bs-tabs-container" data-crlat="bsTabsContainer">
  <div class="full-height">
    <betslip [hidden]="mode !== MODES.betslip"></betslip>
    <betslip-receipt *ngIf="mode === MODES.betReceipt" data-crlat="betslipReceipt"
                     (winAlertsToggleChanged)="setWinAlertsBets($event)"
                     [winAlertsEnabled]="sysConfig.winAlerts && sysConfig.winAlerts.enabled && device.isWrapper"></betslip-receipt>
    <tote-bet-receipt *ngIf="mode === MODES.toteBetReceipt" data-crlat="betslipReceipt"></tote-bet-receipt>
  </div>
</div>
