@import 'global.variables.less';

:host {
  display: flex;
  flex: 1 1 auto;
}

.surface-bet-card {
  white-space: normal;
  border-radius: 2px;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: @color-white;
  letter-spacing: 0;
  font-stretch: condensed;
  flex: 1 1 auto;

  .word-break();
  .display-flex();
  .flex-direction(row);
  .justify-content(space-between);

  .surface-bet-header {
    padding: 6px 12px;
    min-height: 17px;
    border-radius: 1px;
    font-weight: bold;
    .display-flex();
    .justify-content(start);

    .bet-img-container {
      background-color: @color-yellow;
      margin-right: 6px;
      width: 17px;
      height: 17px;
      .display-flex();
      .justify-content(center);
      .align-items(center);

      > svg {
        display: block;
        max-height: 9px;
      }
    }

    .surface-bet-title {
      text-transform: uppercase;
      color: @brand-color-main;
      line-height: 17px;
      font-family: @base-font-family;
      font-size: @font-size-xs;
      max-width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .surface-bet-content {
    font-size: @font-size-tablet;
    padding-left: 12px;
    line-height: normal;
    color: @color-gray-dark;
    margin-bottom: 12px;
  }

  .price-odd-container {
    padding: 21px 12px 0;
  }

  .was-price {
    font-family: @base-font-family;
    color: @color-gray-dark;
    font-size: @font-size;
    font-weight: bold;
  }
}
