@import 'global.variables.less';

.bet-receipt {
  padding: 10px;
  .receipt-title {
    font-weight: bold;
    font-size: 18px;
    color: @color-blue-light;
    text-align: center;
    margin-top: 5px;
  }
  .ok-icon,
  .warning-icon{
    position: absolute;
    margin-left: -30px;
    margin-top: -6px;
    width: 22px;
    height: 22px;
    fill: @color-green;
  }
  .warning-icon {
    fill: @color-red;
    margin-top: 2px;
    margin-left: -40px;
    transform: rotate(180deg);
  }
  .receipt-msg {
    font-weight: normal;
    font-size: 12px;
    color: @color-gray-dark;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px dotted @color-gray;
    position: relative;
    &:before,
    &:after {
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      background: @color-gray;
      right: -17px;
      z-index: 1;
      border-radius: 10px;
      top: 22px;
    }
    &:before {
      left: -17px;
    }

    .failed-msg {
      color: @color-red;
    }
  }
  .odds-card {
    margin: 0;
    border-bottom: 1px solid @color-gray;
    border-top: none;
    &.active {
      border-bottom: none;
    }
    .odds-left {
      .toggle-icon {
        height: 10px;
        .plus-minus-icon {
          margin: -2px 0 0;
        }
      }
      .odds-names {
        font-weight: normal;
        margin-left: 5px;
      }
    }
  }
  .details-content {
    padding: 0 15px 10px;
    font-weight: normal;
    color: @color-gray-dark;
    font-size: 11px;
    border-bottom: 1px solid @color-gray;
    .event-title {
      font-weight: bold;
      font-size: 11px;
      color: @color-gray-dark;
    }
    .details-info {
      color: lighten(@color-gray-dark, 50%);
    }
  }
  .stake-label {
    font-weight: normal;
    color: lighten(@color-gray-dark, 50%);
    margin-right: 5px;
  }
  .rules-msg {
    font-size: 11px;
    color: @color-gray-dark;
    font-weight: normal;
    a {
      color: initial;
      text-decoration: underline;
    }
  }
  .total-stake {
    margin: 15px 0;
    text-align: right;
    font-size: 11px;
    strong {
      color: @color-gray-dark;
    }
  }
  .btn {
    margin: 15px 0 5px;
  }
}
