@import 'global.variables.less';

.tote-filters {

  /* Tote By Time styles */
  .odds-card {
    .odds-content {

      .odds-names {
        padding: 0;
      }

      .odds-teams {
        text-transform: uppercase;
      }

      .odds-btn-content {
        .odds-btn-wrapper {
          width: initial;
          text-align: initial;
          padding: 3px 10px 0 2px;
        }
      }

      .odds-icon-stream {
        width: 13px;
        height: 13px;
        margin-right: 5px;
      }
    }
  }

  .item-legend {
    background: @color-white;
    border-top: 1px solid lighten(@color-gray-dark, 50%);
    margin: -1px 10px 0;
    padding: 10px 0;

    .ico {
      width: 12px;
      height: 12px;
      margin: 0 0 -3px 3px;
    }
  }

  .stats-img {
    padding-left: 50px;
    .icon-stats:before {
      content: "\e90c";
    };
  }

}
