@import 'global.variables.less';

.my-bets-btn {
  line-height: 12px;
  font-size: 11px;
  padding: 7px 5px;
  text-shadow: none;
  background: @color-yellow;
  color: @color-gray-dark;
  text-transform: uppercase;
  font-weight: 700;
}
