@import 'global.variables.less';

@font-size-stake: 13px;

.bs-total-wrapper {
  padding: 16px 16px;
  font-size: @font-size-stake;
  font-family: @alt-font-family;

  .total {
    .display-flex();
    color: @lGray;
  }
  .total-lable {
    .flex(2);
    text-align: left;
  }
  .total-value {
    .flex(1);
    text-align: right;
  }

  .total-returns {
    margin-top: 8px;
    font-size: @font-size-stake;
    font-weight: bold;

    .total-value {
      color: @color-gray-darkest;
    }
  }
}

:host(.in-bs-footer) .bs-total-wrapper {
  padding: 0;
  margin: 16px;
}
