@import 'global.variables.less';

#dev-log-info {
  background: @color-yellow;
  right: 0;
  z-index: 1005;
  font-family: monospace, monospace;
  position: fixed;
  padding: 10px;
}
#dev-log {
  z-index: 1005;
  position: absolute;
  top: 0;
  width: 100%;
  background: @color-black;
  color: @color-white;
  padding: 10px;
  font-family: monospace, monospace;
  opacity: 1;

  .git-log {
    color: @color-yellow;
  }
  .environment-log {
    color: @caribbean-green;
  }
  .dev-log-modes {
    color: @color-black;
    margin-bottom: 20px;
    .custom-select {
      display: inline-table;
      width: 150px;
    }
    .select-arrow {
      top: 7px;
    }
  }
  select, button {
    background: @color-white;
    border-radius: 5px;
    height: 1.8em;
  }
}

#dev-log-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 30px;
  border-radius: 4px;
  background-color: @color-white;
  color: @color-black;
  text-align: center;
  cursor: pointer;
}

.env-change-container {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #fff;

  .col {
    margin-right: 10px;
    line-height: 32px;
  }

  select {
    color: #000;
    padding-left: 5px;
    width: 100%;
  }
}
