#free-bet-dialog {
  .modal {
    overflow: auto;

    .modal-body {
      overflow-y: auto;
      max-height: 380px;
    }

    .modal-footer {
      padding: 12px;
      background: #fff;
    }

    .modal-dialog {
      padding-top: 60px;
      margin: 0 auto;
    }

    .table-panel {
      line-height: 18px;

      span {
        display: inline-block;
      }
      span:first-child {
        padding-right: 4px;
      }
    }
  }
}
