<ng-container *ngIf="isModuleAvailable">
  <header class="header-panel">Featured</header>
  <ng-container *ngFor="let module of featuredModuleData?.modules; index as i; trackBy: trackByModules">
    <accordion [accordionTitle]="module.title"
               [card]="!isRace(module).racing"
               [isExpanded]="isExpanded(module)"
               [ngClass]="{'has-carousel' : featuredAccordion.isExpanded
                 && module.data.length > 0, 'race-card': module.dataSelection.selectionType === 'RaceTypeId' }"
               [isHeaderHidden]="isHeaderHidden(module)"
               (function)="manageSocketSubscription(module, $event)"
               *ngIf="isModuleHidden(module) && module['@type'] === 'EventsModule'"
               data-crlat="accordion"
               #featuredAccordion>

      <right-side *ngIf="badges[module._id]">
        <span class="pc-badge" [ngClass]="badges[module._id].className"
            [textContent]="badges[module._id].label" data-crlat="badge.label"
            *ngIf="badges[module._id]"></span>
      </right-side>

      <right-side *ngIf="module.dataSelection.selectionType === 'RaceTypeId'">
        <strong (click)="seeAllRaces(module)" [i18n]="'sb.seeAll'" class="see-all-link"></strong>
      </right-side>

      <accordion-body *ngIf="isExpanded(module)">
        <div class="spinner-loader small-loader spinner-dark"
             *ngIf="module.showModuleLoader" data-crlat="spinner.loader">
        </div>

        <ng-container *ngIf="module.data.length > 0">
          <odds-card-header *ngIf="!isHeaderHidden(module) && isOddsCardHeaderShown(module)" [events]="module.data">
          </odds-card-header>
          <ng-container *ngFor="let event of module.data; trackBy: trackByModuleData">
            <odds-card-component [featured]="{ isSelection: module.dataSelection.selectionType === 'Selection' }"
                                 [featuredModule]="module"
                                 [gtmDataLayer]="gtmDataLayer"
                                 [gtmModuleTitle]="'featured bet'"
                                 [event]="event"
                                 [eventType]="getEventType(event)"
                                 *ngIf="!isRace(module).racing && event.isDisplayed !== false"
                                 [attr.data-crlat]="'featured.type.oddsCard.' + module.dataSelection.selectionType">
            </odds-card-component>
          </ng-container>
        </ng-container>

        <race-card *ngIf="featuredAccordion.isExpanded && isRace(module).racingCard && module.data.length > 0"
                   [raceData]="module.data"
                   [fluid]="true"
                   [raceIndex]="i"
                   [trackGaDesktop]="true"
                   [raceMaxSelections]="module.maxSelections"
                   [gtmModuleTitle]="'featured races'"
                   [showTimer]="true"
                   data-crlat="featured.type.raceCard"
                   class="featured-races">
        </race-card>
        <racing-grid *ngIf="isRace(module).racingGrid"
                     [sportId]="module.dataSelection.selectionId"
                     [raceGridRaces]="raceGridRaces" data-crlat="featured.type.racingGrid">
        </racing-grid>
        <show-more-link *ngIf="module.footerLink?.url"
                        (function)="sendToGTM()"
                        [link]="module.footerLink.url"
                        [title]="getShowMoreText(module)">
        </show-more-link>
      </accordion-body>
    </accordion>
  </ng-container>
  <div class="spinner-loader spinner-dark" data-crlat="spinner.loader" *ngIf="showLoader"></div>
  <no-events *ngIf="noEventFound && (hubIndex !== undefined || sportId === 0)"></no-events>
  <request-error *ngIf="ssDown || !isConnectSucceed"
                 [loadFailed]="ssDown || !isConnectSucceed"
                  (reloadFn)="reloadComponent()">
  </request-error>
</ng-container>
