// ladbrokes new test colors
@red: #f01e28;
@red2: #c81a21;
@red3: #d81b24;
@red4: #d01b23;
@redDark: #7e0f11;
@redDarkest: #4f0b0c;
@redClear: #ff0000;
@lGray: #252835;
@lGrayLight: #efeff3;
@lGrayLightBg: #ebe8e8;
@lGraySemiLight: #d8d8d8;
@lGrayMedium: #202020;
@lGrayHard: #101010;
@lGrayDark: #dddde4;
@lGrayDarkest: #bebebe;
@lGray-bg: #f9f9f9;
@lBlack-light: #777;
/////////////

@brand-color-main: @red;
@brand-color-secondary: @red;
@brand-color-dark: @redDark;
@brand-color-darkest: @redDarkest;

@color-blue: #084D8D;
@color-blue-principal: #1E466C;
@color-blue-dark: #07294B;
@color-blue-darkest: #062745;
@color-blue-dark-2: #1e212b;
@lGrayMediumLight: #3a3d49;
@color-green: #8bbd23;
@color-orange: #F56B23;
@color-red: #EF3340;
@color-yellow: #FFCD00;
@color-yellow-alt: #FAC031;
@color-yellow-light: #fff270;
@color-gray-dark: #41494E;
@color-gray-dark-alt: #5a5a5a;
@color-gray-darker: #D7D7D7;
@color-gray-darkest: #2b2b2b;
@color-gray: #E0E2EB;
@color-gray-light: #F9FAFE;
@color-gray-lighter: #d1d6e3;
@color-gray-lightest: #EBEDF2;
@color-gray-rich: #C0C4CD;
@color-white-grey: #FFFFF0;
@color-gray-ghost: #c7c7cc;
@color-matterhorn: #4E4E4E;
@color-white: #FFFFFF;
@color-snow: #e8eaf2;
@color-black: #000000;
@color-black-soft: #333333;
@color-pink: #E763E2;
@color-tealish: #20ACCF;
@color-cobalt: #004696;
@color-violet-light: #c1c9db;

@brand-color-main: @red;
@brand-color-secondary: @red2;
@brand-color-dark:@redDark;
@brand-color-darkest: @redDarkest;

@color-blue-light: @red;
@color-blue-lighter: @red;
@color-blue-gray: @red;
@color-orange-light: #E5B800;
@color-bronze: #B78A37;
@color-blue-lightest: #d7eaff;
@color-platinum: #596e7b;
@madison: @redDark;
@color-nevada: #646668;

@caribbean-green : #0abfa1;
@pink-trendy: #8d5ba1;

/* Color palette */
@light-blue: @color-white;
@light-grey: #dcdcdc;
@dark-slate-blue-two: @redDark;
@color-gray-light-two: #e2e5f0;
@denim: @color-red;
@green: #09ac00;
@chalet-green: #506b32;
@gold-level-text: #494f66;
@menu-items-color: #fff;

/***** Designs colours *****/

@btn-bg-green-color: #8bbd23;

/* header colors */
@separator-color: #414141;
@gray-transparent: fade(@lGray, 80%);
@green-transparent: fade(@color-green, 80%);
@color-gray-darkest-alt: #282727;
@color-black-lighter: #121212;

@hover-bg: #3c3c3c;

/* market selector text color */
@blue: #4a90e2;
@gray: #e9e9e9;

/* sub-navigation menu */
@gray-color: #323649;

@warning-msg-color: #cff2f8;

/***** Banners Section Background *****/
@banners-section-color: @lGray-bg;

@list-arrow-icon-clr: #707070;
@color-table-header-bg: #eaeaea;
@color-horse-form-table-bg: #f7f7f7;