@import 'global.variables.less';

watch-label {
  .inline-flex();
  .align-items(center);
  color: @lGray;
  background: @color-yellow-alt;
  font-weight: bold;
  padding: 0 4px;
  text-transform: uppercase;
  font-size: @font-size-md;
  font-family: @base-font-family;
  line-height: 15px;
  min-height: 15px;

  live-label + & {
    .flex-order(-1);
  }
}
