<div class="free-bet-toggle">
  <span *ngIf="selected" class="label" (click)="removeFreeBet()" data-crlat="removeFB">
    &mdash; <span [i18n]="'bs.removeFreeBet'"></span>
  </span>
  <span *ngIf="!selected" class="label" (click)="useFreeBet()"
    [i18n]="'bs.useFreeBet'"
    [class.inactive]="!freeBets?.length" data-crlat="useFreeBet">
  </span>
</div>
