@import 'global.variables.less';

.free-bet-toggle {
  margin-top: 6px;
  font-size: 12px;
}
.label {
  color: #0076d6;
  font-weight: bold;
  cursor: pointer;
  &.inactive {
    color: @lGrayDark;
    cursor: not-allowed;
  }
}
