@import 'global.variables.less';

.event-header {
  .display-flex();
  .justify-content(center);
  .align-items(center);
  width: 100%;
  height: 42px;
  padding: 11px 14px;
  background: @color-green-tropical;
  color: @color-white;
  font-family: @base-font-family;
  font-size: 11px;

  .team-name-home, .team-name-away {
    min-width: 45%;
    padding: 0 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .team-name-home {
    text-align: end;
  }
  .team-name-away {
    text-align: start;
  }
  .wrapper-crests {
    .display-flex();
    .justify-content(center);
    .align-items(center);
    width: 65px;
    .oval {
      .display-flex();
      .justify-content(center);
      .align-items(center);
      width: 22px;
      height: 22px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.08);
    }

    svg {
      width: 14px;
      height: 16px;
    }

    .delimiter {
      margin: 0 7px;
    }
  }
}
