@import "global.variables.less";

:host.light-show-all {
  .show-all-button {
    background: @color-white;
    color: @madison;
    font-size: 11px;
    height: 38px;
    text-decoration: none;
    font-weight: normal;
  }
}
