<div [class]="'inner-container ' + betLocation" data-crlat="accordionsList">

  <div *ngIf="bets?.length">
    <div class="bet-item tooltip-container"
         *ngFor="let bet of bets; trackBy: trackByBet;"
         data-crlat="cashout.betItems">
      <div class="bet-container" data-uat="betDetails">
        <regular-bet-header
          [bet]="bet"
          [betHistoryHeader]="isBetHistoryTab"
          [gtmLocation]="'open bets'">
        </regular-bet-header>

        <bet-promotions *ngIf="bet.eventSource?.leg" [betEventSource]="bet.eventSource"></bet-promotions>

        <top-success-message
          *ngIf="bet.eventSource.totalStatus === 'cashed out'"
          [messageTranslateValue]="'bethistory.cashedOutLabel'"
          [value]="getCashedOutValue(bet.eventSource)"
          [currencySymbol]="bet.eventSource.currencySymbol">
        </top-success-message>

        <top-success-message
          *ngIf="bet.eventSource.totalStatus === 'won'"
          [messageTranslateValue]="'bethistory.youWonLabel'"
          [value]="bet.eventSource.potentialPayout"
          [currencySymbol]="bet.eventSource.currencySymbol">
        </top-success-message>

        <bet-leg-list [bet]="bet"
                      [betLocation]="betLocation"
                      [isUsedFromWidget]="isUsedFromWidget">
        </bet-leg-list>

        <div class="bet-card-bottom-block" [class.ema-history-bottom]="isBetHistoryTab">
          <stake-and-returns-header [stake]="bet.eventSource.stake"
                                    [legType]="bet.eventSource.legType"
                                    [stakePerLine]="bet.eventSource.stakePerLine"
                                    [estimatedReturns]="bet.eventSource.potentialPayout"
                                    [settled]="bet.eventSource.settled"
                                    [currencySymbol]="bet.eventSource.currencySymbol"
                                    [isEdit]="bet.eventSource.isAccaEdit"
                                    [initialReturns]="bet.eventSource.initialReturns === bet.eventSource.potentialPayout"
                                    data-crlat="sectionStakeAndReturns">
          </stake-and-returns-header>

          <cashout-error-message *ngIf="!isBetHistoryTab && isCashoutError(bet)"
                                 [message]="getCashoutError(bet)"></cashout-error-message>
        </div>

        <bet-receipt-info datePattern="HH:mm - dd MMM"
                          [receipt]="bet.eventSource.receipt"
                          [date]="bet.eventSource.date"
                          data-crlat="betReceiptInfo">
        </bet-receipt-info>

        <edit-my-acca-warning [bet]="bet.eventSource"
                              *ngIf="bet.eventSource.isAccaEdit">
        </edit-my-acca-warning>

        <edit-my-acca-confirm *ngIf="bet.eventSource.isAccaEdit" [bet]="bet"></edit-my-acca-confirm>

        <div class="ema-error-container" *ngIf="bet.eventSource.emaPriceError">
          <svg class="message-icon">
            <use xlink:href="#info-icon"></use>
          </svg>
          <span [i18n]="'bethistory.emaError'"></span>
        </div>

        <cashout-panel
          *ngIf="!bet.eventSource.isAccaEdit && !isBetHistoryTab"
          [data]="bets"
          [bet]="bet"
          [isPartialCashOutAvailable]="bet.eventSource.isPartialCashOutAvailable"
          [betLocation]="betLocation">
        </cashout-panel>

        <lazy-component *ngIf="betTrackingEnabled && bet.eventSource.bybType && bet.optaDisclaimerAvailable"
                        moduleUri="@bybHistoryModule/byb-history.module#LazyBybHistoryModule"
                        [inputs]="{optaDisclaimer: optaDisclaimer}"
                        entryComponent="OptaInfoComponent">
        </lazy-component>

        <partial-cashout-history *ngIf="!bet.eventSource.cashoutSuccessMessage"
                                 [terms]="bet.eventSource.betTermsChange"
                                 [currencySymbol]="bet.eventSource.currencySymbol">
        </partial-cashout-history>

        <bet-history-prompt *ngIf="bet.eventSource.cashoutSuccessMessage"
                            [prompt]="'success'"
                            [mode]="'cashout'"
                            [promptText]="bet.eventSource.cashoutSuccessMessage"></bet-history-prompt>

        <bet-history-prompt *ngIf="emaService.savedAccas[bet.eventSource.betId]"
                             [prompt]="emaService.savedAccas[bet.eventSource.betId]"
                             [mode]="'ema'"></bet-history-prompt>

        <edit-my-acca-history [bet]="bet" *ngIf="bet.eventSource.betGroupType === 'EDT' && !emaService.savedAccas[bet.eventSource.betId]"></edit-my-acca-history>
      </div>
    </div>
  </div>

  <no-bets-section
    *ngIf="!bets?.length"
    [noBetsMessage]="noBetsMessage"
    [showStartGamingButton]="!isUsedFromWidget"
  ></no-bets-section>
</div>
