<div class="bs-total-wrapper" id="bs-total-wrapper">

  <!-- Total stake -->
  <div class="total total-stake">
    <div class="total-lable" [i18n]="'bs.totalStake'"></div>
    <div class="total-value" data-crlat="totalStake">

      <free-bet-label *ngIf="totalFreeBetsStake"
                      [selected]="totalFreeBetsStake"
                      [plus]="isTotalStakeShown">
      </free-bet-label>

      <span *ngIf="isTotalStakeShown" [textContent]="totalStake"></span>
    </div>
  </div>

  <!-- Total returns -->
  <div class="total total-returns">
    <div class="total-lable" [i18n]="'bs.totalEstReturns'"></div>
    <div class="total-value" [textContent]="totalReturns" data-crlat="totalEstReturns"></div>
  </div>
</div>
