@import 'global.variables.less';

.bs-total-wrapper {
  padding: 12px;
  background: @color-gray-light;
  font-size: 12px;

  .total {
    .display-flex();
    color: @color-gray-dark;
  }
  .total-lable {
    .flex(2);
    text-align: left;
  }
  .total-value {
    .flex(1);
    text-align: right;
  }

  .total-returns {
    margin-top: 2px;
    font-weight: bold;
    font-size: 14px;
  }
}
