@import 'global.variables.less';

.col-bordered {
  .col-inner {
    position: relative;
    min-height: 78px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    height: 100%;
    overflow: hidden;

    .col-name {
      padding: 0 0 8px;
    }

    .btn-bet {
      min-width: 50px;
      min-height: 38px;
      position: static;
      margin-top: 0;
      transform: none;
    }

    &.col-vertical {
      height: auto;
    }
  }

  &:nth-child(2) .col-inner.col-vertical:last-child {
    border-bottom: 1px solid @color-gray;
  }
}

.odds-card {
  padding: 11px 12px 12px;
  border-bottom: none;
  border-top: 1px solid @lGrayLight;
  .odds-names {
    padding: 0;
    font-family: @alt-font-family;
    font-size: @font-size-tablet;
    font-weight: 500;
    color: @lBlack-medium;

    .odds-normal {
      font-size: @font-size;
    }
  }
  .odds-right {
    .btn-bet {
      min-width: 50px;
      min-height: 38px;
    }
  }
  .odds-left .odds-names {
    font-weight: 500;
    color: @color-gray-dark;
  }
  .odds-side {
    margin-right: 4px;
    font-size: @font-size-lg;
    font-family: @base-font-family;
  }
  .virtual-silk {
    margin-right: 13px;
  }
}

.odds-card-header {
  color: @color-gray-dark;
  padding: 12px 9px 12px 12px;
  height: 36px;
  .odds-header-title {
    font-weight: normal;
    text-transform: uppercase;
  }
}

.odds-card-column {
  .odds-card-header {
   .justify-content(center);
    border-bottom: 1px solid @color-gray;
  }
}
