<div class="pool-header" *ngIf="getFormattedPoolSize() as formattedPoolSize">
  <div>
    <span class="pool-size-label" [i18n]="'uktote.poolSizeLabel'"></span>
    <span class="pool-size-value" [textContent]="formattedPoolSize"></span>
  </div>
</div>
