<!-- RACING DETAILS -->
<div class="race-details-container race-result">
  <div class="race-event-container">
    <span class="race-event-time" [textContent]="eventEntity.localTime" data-crlat="value"></span>
    <b class="race-event-name" [textContent]="eventEntity.name" data-crlat="value"></b>
  </div>
  <div class="race-title" data-crlat="value">
    <span class="oval" [class.green]="eventEntity.isFinished"></span>
    <span [i18n]="eventEntity.isFinished? 'racing.settledResult' : 'racing.unconfirmedResult'"></span>
  </div>
  <div class="race-details-container-l">
    <div data-crlat="raceGoing">
      <div class="value" [textContent]="eventDateSufx" data-crlat="value"></div>
    </div>
  </div>
</div>
<!-- Each Way Text -->
<div class="section-container each-way-text space-top" data-crlat="racingPostContainer">
  <div *ngIf="antepostTerms" class="terms-before-market result-card">
    <div data-crlat="terms">
      <div class="term-value" [innerHTML]="antepostTerms" data-crlat="eachWayContainer"></div>
      <span class="class-value" [textContent]="eventEntity.uiClass" *ngIf="eventEntity.uiClass" data-crlat="termsClass"></span>
    </div>

    <div class="racing-result-icons" *ngIf="eventEntity.resultedWEWMarket.drilldownTagNames">
      <promotion-icon [type]="'market'" data-crlat="promotionIcons"
                      [display]="eventEntity.resultedWEWMarket.drilldownTagNames"
                      [cashoutAvailable]="isCashout"
                      [mode]="'md'">
      </promotion-icon>
    </div>
  </div>
</div>

<ng-container *ngIf="!eventEntity.voidResult && eventEntity.resultedWEWMarket?.hasPositions">
  <!--- Results list -->
  <div class="section-container results-list" *ngIf="eventEntity.resultedWEWMarket.outcomes?.length">
    <div class="section-header top-section">
      <strong [i18n]="'racing.raceResult'"></strong>
      <strong class="result-odds-col" [i18n]="'racing.oddsColumn'"></strong>
    </div>
    <div class="card-bordered" *ngFor="let outcomeEntity of eventEntity.resultedWEWMarket.outcomes"
        data-crlat="outcomeEntity">
      <racing-outcome-resulted-card
        *ngIf="!outcomeEntity.nonRunner && outcomeEntity.results"
        [eventEntity]="eventEntity"
        [marketEntity]="eventEntity.resultedWEWMarket"
        [outcomeEntity]="outcomeEntity"
        [raceType]="eventEntity.categoryCode">
      </racing-outcome-resulted-card>
    </div>
  </div>

  <!-- Rule 4 Deduction -->
  <div class="section-container dividends rules-deduction space-top" *ngIf="eventEntity.resultedWEWMarket.rulesFourDeduction?.length">
    <div [i18n]="'racing.deduction'" class="section-header text-bold"></div>
    <div class="result-card">
      <span class="name-col" [i18n]="'racing.rule4'"></span>
      <span class="bold-col" *ngIf="eventEntity.resultedWEWMarket.rulesFourDeduction[0].deduction"
          [textContent]="eventEntity.resultedWEWMarket.rulesFourDeduction[0].deduction + 'p'"></span>
    </div>
  </div>

  <!-- Dividends -->
  <div class="section-container dividends space-top" *ngIf="eventEntity.resultedWEWMarket.dividends?.length">
    <div class="section-header">
      <span [i18n]="'racing.dividend'" class="name-col"></span>
      <span [i18n]="'racing.result'" class="dividend-result-col"></span>
      <span [i18n]="'racing.dividend'" class="value-col"></span>
    </div>
    <div *ngFor="let dividend of eventEntity.resultedWEWMarket.dividends" class="result-card">
      <span [textContent]="dividend.name" class="name-col"></span>
      <span [textContent]="dividend.runnerNumbers" class="dividend-result-col"></span>
      <span [textContent]="dividend.value | number : '1.1-2'" class="value-col"></span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="eventEntity.resultedWEWMarket?.nonRunners?.length">
  <!-- Non runners -->
  <div class="section-container space-top">
    <div [i18n]="'racing.nonRunners'" class="section-header text-bold"></div>
    <racing-outcome-resulted-card *ngFor="let outcomeEntity of eventEntity.resultedWEWMarket.nonRunners"
                                  [eventEntity]="eventEntity"
                                  [marketEntity]="eventEntity.resultedWEWMarket"
                                  [outcomeEntity]="outcomeEntity"
                                  [raceType]="eventEntity.categoryCode"
                                  [nonRunners]="eventEntity.resultedWEWMarket.nonRunners">
    </racing-outcome-resulted-card>
  </div>
</ng-container>
<no-events *ngIf="resultsResponseError" [message]="'racing.noRacingResultsFound'"></no-events>
