@import 'global.variables.less';

.meetings-tabs-panel {
  ul.scroll-inner {
    > li {
      .inline-flex();
      .align-items(center);
    }
  }
}

.dividends {
  white-space: nowrap;

  .section-header {
    font-size: @font-size-md;
    .display-flex();
  }

  .result-card {
    font-size: @font-size;
    .display-flex();
  }

  .name-col {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    .flex(1, 1, auto)
  }

  .value-col {
    text-align: center;
    width: 56px;
    min-width: 56px;
    margin-left: 30px;
    display: inline-block;
  }

  .bold-col {
    text-align: right;
    font-weight: bold;
  }

  .dividend-result-col {
    text-align: center;
    width: 45px;
    min-width: 45px;
    display: inline-block;
  }
}

.section-container {
  padding: 0 4px;
  background-color: @color-gray;

  .section-header {
    background-color: @color-gray-light;
    padding: 0 12px;
    height: 35px;
    line-height: 35px;
    font-size: @font-size-md;
    .display-flex();
    .justify-content(space-between);

    &.top-section {
      height: 20px;
      line-height: 20px;
    }

    .result-odds-col {
      width: 36px;
      text-align: center;
    }
  }

  .result-card {
    padding: 11px 17px 11px 12px;
    border-top: 1px solid @color-gray;
    background-color: @color-white;
    min-height: 40px;
  }

  &.each-way-text {
    color: @color-gray-dark;

    .result-card {
      min-height: 30px;
      padding: 0 0 0 12px;
      .display-flex();
      .align-items(center);
      .justify-content(space-between);

      .racing-result-icons {
        .display-flex();
        .align-items();
        .justify-content(flex-end);
      }
    }
    .term-value,
    .class-value {
      display: inline-block;
      line-height: 30px;
    }
  }

  &.space-top {
    margin-top: 5px;
  }
}

.section-container.dividends {
  .result-card {
    padding: 11px 12px;
  }
}

.section-container.rules-deduction {
  .result-card {
    padding-right: 28px;
  }
}

.race-details-container.race-result {
  display: block;
  height: auto;
  min-height: 45px;
  margin-bottom: 0;
  padding: 15px;

  .race-event-container {
    font-size: @font-size-lg;
    color: @color-gray-dark;

    .race-event-time {
      padding-right: 5px;
    }
  }

  .race-title {
    font-size: @font-size;
    font-weight: bold;
    color: @color-gray-dark;
    margin: 5px 0;
  }

  .value {
    font-weight: normal;
    padding: 0;
    color: @color-gray-darkest;
    font-family: @alt-font-family;
  }

  .oval {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: @color-orange;
    margin: 0 8px 1px 0;

    &.green {
      background-color: @color-green;
    }
  }
}
