<!--- Page Header -->
<top-bar [title]="'promotions.promotions'" data-crlat="topBar"></top-bar>

<!--- Page Content -->
<promotion-details class="desktop-promotion-detail"></promotion-details>
<quick-links class="quick-links-container"></quick-links>

