@import 'global.variables.less';

@time-line-height: 19px;
racing-panel:host {
  display: block;
  background: @color-white;
  border-bottom: 2px solid @lGrayLight;

  &:last-child {
    border: none;
  }

  &.racing-tabs-panel {
    background: @color-gray-light;

    .scroll-inner {
      position: relative;
      min-width: 100%;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: @color-gray-rich;
        content: '';
      }
    }
  }

  .racing-panel-header {
    font-size: 14px;
    padding: 12px;
    color: @color-gray-darkest;
    font-family: @alt-font-family;

    ::ng-deep b {
      font-weight: normal;
      color: @lBlack-light;
    }

    ::ng-deep svg {
      float: right;
    }
  }

  .racing-time {
    font-size: @font-size-lgr;
    line-height: @time-line-height;
    font-weight: bold;
    display: block;
    padding: 0 0 3px;
  }

  .racing-name {
    display: block;
    color: @color-gray-dark;
    font: @font-size / @line-height-sm @alt-font-family;

    &.display-name {
      font-size: @font-size-sm;
    }
  }

  .scroll-container li.active {
    background: none;
    box-shadow: none;
  }
  .scroll-container .scroll-inner {
    margin: 0;
    padding: 0;
    border-bottom-width: 0px;
    .inline-flex();

    li {
      text-align: left;
      padding: 13px 0 10px;

      &.active {
        border-bottom: 3px solid @madison;
        position: relative;
        z-index: 2;
      }

      &:last-child .tab::before {
        display: none;
      }

      .tab {
        font-family: @base-font-family;
        color: @color-gray-dark;
        padding: 0 12px;
        position: relative;
        text-decoration: none;
      }
      &:not(.active):hover {
        .tab:not(.no-hover) {
          background: none;
          color: @lotto-font-color;
        }
      }
    }
  }
}
