<svg *ngIf="event.isResulted" class="racing-icon" data-crlat="raceGrid.iconRace">
  <use xlink:href="#event-result-icon"></use>
</svg>
  <svg *ngIf="event.isLiveNowEvent && event.categoryId !== HORSE_RACING_CATEGORY_ID" class="racing-icon">
    <use xlink:href="#event-live-icon"></use>
  </svg>
<span [className]="status.class" [textContent]="status.title" [attr.data-crlat]="status.class"></span>
