<div class="container-inner-content" [ngClass]="{'spinner-loader small-loader spinner-dark': loading}" data-crlat="spinner.loader">
  <div class="byb-league" *ngIf="events?.length">
    <div *ngFor="let event of events; trackBy: trackById;" class="byb-event" data-crlat="eventEntity">
      <div class="favourites" data-oc-lazy-load="favourites">
        <favourites-add-button [event]="event" [sportName]="'football'"></favourites-add-button>
      </div>
      <div class="event-content" (click)="goToEvent(event)">
        <div class="event-details" data-crlat="eventDetails">
          <div class="title" [textContent]="event.teamHome" data-crlat="teamHome"></div>
          <div class="title" [textContent]="event.teamAway" data-crlat="teamAway"></div>
          <div class="date" [textContent]="event.date" data-crlat="eventDate"></div>
        </div>
        <div class="event-link" data-crlat="goToEventLink">
          <svg>
            <use xlink:href="#next-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!events.length && !loading">
    <p class="no-data" [i18n]="'yourCall.leagueNoEvents'" data-crlat="noEventsLabel"></p>
  </div>
</div>
