<button class="btn btn-style1" [disabled]="disabled" data-crlat="oddsBoostButton">
  <span class="boost-indicator" data-crlat="boostIndicator">
    <svg>
      <use xlink:href="#boost-icon"></use>
    </svg>
  </span>
  <span class="boost-text" [i18n]="oddsBoostLabel">
  </span>
</button>
