@import 'global.variables.less';

:host {
  display: inline-block;
}

.btn.btn-style1 {
  height: auto;
  font-size: 11px;
  font-family: @base-font-family;
  padding: 7px;
  height: 30px;
  min-width: 68px;
  box-shadow: none;
  border-radius: 2px;
  border: solid 1px @color-blue-dark;
  background: transparent;

  .boost-indicator {
    width: 8px;
    height: 14px;
    position: relative;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    opacity: 1;

    svg {
      width: 8px;
      height: 14px;
    }
  }

  .boost-text {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    letter-spacing: 0.3px;
    color: @color-blue-dark;
    margin-left: 5px;
    text-shadow: none;
  }
}
