<div id="number-selector" data-crlat="numberSelector">
  <div class="number-picker" (click)="numDialog()">
    <div class="number-col" *ngFor="let number of numbers; index as i; trackBy: numbersTrackBy">
      <button class="btn btn-circle" [ngClass]="{'active': number.selected}" data-crlat="typeButton">{{ number.value }}</button>
    </div>
  </div>
</div>
