@import '../../../assets/styles/general.less';

.questions-carousel {
  margin: 0 -16px;
  overflow: visible;

  .slider-wrapper {
    position: relative;
    overflow: visible;
    .slide-btn {
      position: absolute;
      top: 60%;
    }
  }

  .swiper-container {
    min-height: 100%;
    width: calc(100% + 8px);
    overflow-y: auto;
    padding-top: 0;
    box-sizing: border-box;

    .carousel-slides {
      position: initial;
    }
  }

  .slide {
    text-align: center;

    &-wrap {
      padding: 0 24px 0 16px;
      box-sizing: border-box;
    }

    &-btn {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
      z-index: 9;

      &.inactive {
        opacity: .5;
      }

      &.prev {
        left: -20%;
      }

      &.next {
        right: -15%;
      }

      &:hover {
        text-decoration: none;
      }

      .btn-back__svg {
        width: 22px;
        height: 17px;
        margin-bottom: 10px;
      }
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
    white-space: normal;
    text-align: center;
    font-weight: bold;
  }

  &__signposting {
    white-space: normal;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__text {
    white-space: normal;
    font-size: 16px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__btn {
    min-height: 50px;
    border-radius: 1px;
    background-color: @color-blue-light;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    white-space: normal;
    padding: 0 5px;
    &.active {
      color: @color-blue;
      background-color: @color-yellow;
    }
  }
}

.qe-progress-bar {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-bottom: 30px;

  &__list {
    padding: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(92, 148, 184, 0.3);
    position: absolute;
  }

  &__item {
    display: inline-block;
    height: 2px;
    position: absolute;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;

    &:before {
      content: "";
      position: absolute;
      background-color: hsla(0, 0%, 100%, .1);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &.qe-progress-status {
      &:before {
        background-color: @color-yellow;
      }
    }
  }
}

/*
* Style for swipeTutorialDialog
*/
.qe-swipe-tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  box-sizing: border-box;
  margin: auto;

  &-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 9;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
  }

  &__svg {
    display: block;
    margin: 0 auto 20px;
    fill: white;
    width: 100%;
    height: 76px;
  }

  &__text {
    color: white;
    text-align: center;
    font-size: 14px;
  }
}

.questions-carousel {
  &__btn:hover {
    color: @color-blue;
    background-color: @color-yellow;
  }
}
