.racing-event-desktop {
  .tab-item {
    ::ng-deep .event-card-label-wrapper {
      &:last-of-type {
        margin-right: 5px;
      }
    }
  }

  .livesim-btn {
    .btn-spinner.quantum-leap {
      top: 0;
    }
  }
}
