<no-events *ngIf="!eventEntity" [message]="'sb.noMarketsAvailable'"></no-events>

<div class="racing-event-desktop" *ngIf="eventEntity" >
  <top-bar [title]="eventEntity.name" [event]="eventEntity" [sportName]="sportName" [innerContent]="true" class="racing-top-bar" data-crlat="topBar">
    <span [textContent]="eventEntity.filteredTime" class="date-info" data-crlat="eventTime"></span>
    <a [routerLink]="['/bet-finder']" *ngIf="(sportName === 'horseracing')" class="bet-finder-link" data-crlat="betFinderLink">
      <svg class="bet-finder-icon">
        <use xlink:href="#bet-finder-icon"></use>
      </svg>
      <span class="bet-finder-title" data-crlat="betFinderTitle" [i18n]="'bf.betFinder'"></span>
    </a>
    <drop-down-menu *ngIf="racingTypeNames.length"
                    [selectedItem]="'Meetings'"
                    [menuList]="typeNames"
                    (clickFunction)="selectEvent($event)">
    </drop-down-menu>
  </top-bar>

  <breadcrumbs [sportEvent]="eventEntity.typeName" [sportName]="sportName"></breadcrumbs>

  <!--- Page Content -->
  <div class="tab-content racing-content" [hidden]="!eventEntity" data-crlat="tabContent">
    <div class="container" [ngClass]="{'antepost-event' : isMarketAntepost}">

      <!--- Event Top Container -->
      <div class="top-event-panel" data-crlat="eventTopContainer">
        <div class="tabs-panel" *ngIf="!isMarketAntepost || racingInMeeting.length > 0">
          <action-arrows>
            <action-arrows-content>
              <racing-panel *ngIf="isNotHorseRacing; else elseBlock"
                (clickFunction)="goToEdpUrl($event)"
                [origin]="origin"
                [events]="racingInMeeting"
                [eventId]="eventEntity.id"
                [isShowName]="isRibbonEventName"
                class="racing-tabs-panel"></racing-panel>
                <ng-template #elseBlock>
                  <div *ngIf="eventEntity.categoryId !==  HORSE_RACING_CATEGORY_ID" class="scroll-container"
                    [rescrollOnChange]="racingInMeeting?.length ? eventEntity.id : null" [scrollable-racing]>
                    <ul class="scroll-inner" data-crlat="eventTimePanel.tabs">
                      <ng-container *ngFor="let racingInMeeting of racingInMeeting">
                        <li [ngClass]="{'active': eventEntity.id === racingInMeeting.id,
                            'race-on': !eventEntity.isResulted && (!eventEntity.isStarted || eventEntity.isLiveNowEvent)}"
                             data-crlat="raceGrid.event" *ngIf="showTab(racingInMeeting, eventEntity)">
                          <a class="tab time-ribbon" [ngClass]="{'race-resulted': racingInMeeting.isResulted}"
                            (click)="goToEdpUrl(racingInMeeting)"
                            [linkHref]
                            [link]="formEdpUrl(racingInMeeting)"
                            [click-link] data-crlat="tab">
                            <span class="race-time" [ngClass]="{'text-bold': isLpAvailable(racingInMeeting)}"
                              [textContent]="racingInMeeting.localTime"
                              data-crlat="raceGrid.raceTime"></span>
                            <svg class="race-icon" *ngIf="racingInMeeting.isFinished" data-crlat="raceIcon">
                              <use xlink:href="#result-post"></use>
                            </svg>
                          </a>
                          <div class="prom-icons-wrap">
                            <promotion-icon [type]="'event'" [display]="racingInMeeting.drilldownTagNames"
                                            data-crlat="promotionIcons"></promotion-icon>
                          </div>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </ng-template>
            </action-arrows-content>
          </action-arrows>
        </div>
        <div *ngIf="!eventEntity.isResulted && !isMarketAntepost && eventEntity.categoryCode !== 'HORSE_RACING'"
             class="race-details-container" data-crlat="raceDetailsContainer">
          <span class="event-title" *ngIf="!eventEntity.timeformData && !eventEntity.racingFormEvent" data-crlat="eventTitle">{{eventEntity.localTime}}
            {{eventEntity.name}}</span>
          <div class="race-details-container-l" *ngIf="eventEntity.timeformData">
            <div class="race-distance" data-crlat="raceDistance">
              <span class="label" [i18n]="'racing.distance'" data-crlat="label"></span>
              <span class="value" [textContent]="(eventEntity.timeformData.raceDistance + 'M')"
                    data-crlat="value"></span>
            </div>
            <div data-crlat="raceGrade">
              <span class="label" [i18n]="'racing.raceGrade'" data-crlat="label"></span>
              <span class="value" [textContent]="eventEntity.timeformData.raceGradeName" data-crlat="value"></span>
            </div>
          </div>
          <div class="race-details-container-l" *ngIf="eventEntity.racingFormEvent">
            <div class="race-distance" *ngIf="eventEntity.racingFormEvent?.distance" data-crlat="raceDistance">
              <span class="label" [i18n]="'racing.distance'" data-crlat="label"></span>
              <span class="value" [textContent]="eventEntity.racingFormEvent.distance" data-crlat="value"></span>
            </div>
            <div *ngIf="eventEntity.racingFormEvent?.grade">
              <span class="label" [i18n]="'racing.raceGrade'"></span>
              <span class="value" [textContent]='eventEntity.racingFormEvent?.grade'></span>
            </div>
          </div>
          <race-badge *ngIf="eventEntity.raceStage" event="eventEntity"></race-badge>
        </div>

        <div class="page-inner" data-crlat="accordionsList">
          <div class="page-segment">
            <ng-container *ngIf="!eventEntity.isResulted">
              <!--RACING DETAILS-->
              <div *ngIf="!isMarketAntepost && eventEntity.categoryCode === 'HORSE_RACING'"
                   class="race-details-container" data-crlat="raceDetailsContainer">
                <span class="event-title"
                      data-crlat="eventTitle">{{ eventEntity.localTime }} {{ eventEntity.name }}</span>
                <div class="race-details-container-l">
                  <div class="race-distance" *ngIf="eventEntity.racingFormEvent?.distance" data-crlat="raceDistance">
                    <div class="label" [i18n]="'racing.distance'" data-crlat="label"></div>
                    <div class="value" data-crlat="value">{{eventEntity.racingFormEvent.distance}}</div>
                  </div>
                  <div *ngIf="eventEntity.racingFormEvent?.going" data-crlat="raceGoing">
                    <div class="label" [i18n]="'racing.going'" data-crlat="label"></div>
                    <div class="value" [textContent]="going" data-crlat="value"></div>
                  </div>
                </div>
                <div class="race-details-container-r">
                  <race-timer [event]="eventEntity" [utc]="true" [displayTime]="false"></race-timer>
                </div>
              </div>

              <!-- Media Type Buttons -->
              <div class="media-area-container" *ngIf="isMediaAvailable">
                <div class="group-buttons media-buttons v2-media-buttons"
                     [ngClass]="{'live-stream-active' : filter === 'showVideoStream'}">
                  <div class="group-btn">
                    <div class="group-col" *ngIf="sportName !== 'greyhound' && eventEntity.isUKorIRE && !shouldShowCSBIframe && isActiveRangeForQuantumLeap">
                      <a class="btn livesim-btn toggled QL_goingDownButton" [ngClass]="{'active' : filter === 'showLiveSim'}"
                         (click)="playLiveSim($event)" data-crlat="buttonWatchFree">
                        <span class=" btn-icon btn-spinner quantum-leap" *ngIf="spinner.isActive"
                              data-crlat="spinner.loader"></span>
                        <svg class="btn-icon watch-free-icon">
                          <use xlink:href="#icon-logo-watch-free"></use>
                        </svg>
                        <span [i18n]="'sb.liveSim'"></span>
                      </a>
                    </div>

                    <div class="group-col" *ngIf="eventEntity.liveStreamAvailable">
                      <a [href]="'#'" class="btn toggled" [ngClass]="{'active' : filter === 'showVideoStream'}"
                         (click)="playStream($event)" data-crlat="buttonPlayStream">
                        <svg class="btn-icon video-stream-icon">
                          <use xlink:href="#icon-watch-live"></use>
                        </svg>
                        <span [i18n]="'sb.liveStream'"></span>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="media-area watch-live-widget"
                     *ngIf="!isMarketAntepost && (showQuantumLeap && filter === 'showLiveSim' || eventEntity.liveStreamAvailable)">
                  <quantum-leap [eventEntity]="eventEntity"
                                [spinner]="spinner"
                                *ngIf="showQuantumLeap && filter === 'showLiveSim' && isActiveRangeForQuantumLeap"
                                data-crlat="iframeWatchFree"></quantum-leap>

                  <!-- Video Stream lazy component -->
                  <lazy-component *ngIf="(filter === 'showVideoStream')"
                                  moduleUri="src/app/lazy-modules/eventVideoStream/event-video-stream.module#LazyEventVideoStreamModule"
                                  [inputs]="{eventEntity: eventEntity, autoPlay: true, preloadStream: true, cssClassesForStreams: cssClassesForStreams}"
                                  data-crlat="eventVideoStreamArea">
                  </lazy-component>
                </div>
              </div>

              <div class="tabs-panel" *ngIf="!isMarketAntepost">
                <action-arrows>
                  <action-arrows-content>
                    <div class="scroll-container" [scrollable]
                         [ngClass]="{'single-element': eventEntity.sortedMarkets.length === 1}">
                      <ul class="scroll-inner"
                          [ngClass]="{'flex-tabs': eventEntity.sortedMarkets.length <= allowFlexTabs}"
                          data-crlat="panel.tabs">
                        <li *ngFor="let marketEntity of eventEntity.sortedMarkets; trackBy: trackById;"
                            [ngClass]="{'active': marketEntity.label === selectedMarket}">
                        <span class="tab" (click)="change(marketEntity)" draggable="false" data-crlat="tab.tpTabs">
                          <span class="race-time" [textContent]="marketEntity.label" data-crlat="tab"></span>
                        </span>
                        </li>
                      </ul>
                    </div>
                  </action-arrows-content>
                </action-arrows>
              </div>

              <lazy-component *ngIf="selectedMarket === forecastLabel"
                              moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                              [inputs]="{event: eventEntity, marketEntity: forecastTricastMarket, selectedPoolType: forecastLabel }"></lazy-component>

              <lazy-component *ngIf="selectedMarket === tricastLabel"
                              moduleUri="@lazy-modules-module/forecastTricast/forecastTricast.module#ForecastTricastModule"
                              [inputs]="{event: eventEntity, marketEntity: forecastTricastMarket, selectedPoolType: tricastLabel }"></lazy-component>

              <!-- Totepool tab-->
              <lazy-component *ngIf="selectedMarket === toteLabel"
                              moduleUri="src/app/ukTote/uk-tote.module#UkToteModule"
                              data-crlat="UKToteEvent"
                              [inputs]="{
                                pools: pools,
                                event: poolEventEntity,
                                fixedOddsEvent: eventEntity,
                                selectedPoolType: selectedMarketType
                              }">
              </lazy-component>

              <div *ngFor="let marketEntity of eventEntity.markets; trackBy: trackById; let mIndex = index">
                <accordion [accordionTitle]="displayMarketHeader(marketEntity)" [card]="true"
                           [isExpanded]="!marketEntity.collapseMarket"
                           [isHeaderHidden]="!displayMarketHeader(marketEntity)" *ngIf="displayMarketPanel(marketEntity) && marketEntity.outcomes &&
            !isGroupedRaceMarket(marketEntity)"
                           [ngClass]="{'sort-by-enabled': sortOptionsEnabledFn(selectedMarket === ewLabel, false)}"
                           data-crlat="marketOutcomes">
                  <accordion-body>
                    <!--Future/antepost event header card-->

                    <div class="race-event-info" *ngIf="isMarketAntepost">
                      <!--Market label-->
                      <span class="race-market-label" data-crlat="antepost.label">Antepost</span>
                      <!--Event time and title-->
                      <span class="race-market-event-title" data-crlat="eventTitle"
                            [textContent]="eventEntity.name"></span>
                    </div>

                    <div class="terms-before-market" *ngIf="isMarketAntepost" data-crlat="raceMarketHeader">
                      <!--Market terms-->
                      <div class="race-market-terms" [innerHtml]="formatAntepostTerms(marketEntity.terms)"
                           *ngIf="marketEntity.isEachWayAvailable"
                           data-crlat="eachWayContainer">
                      </div>
                      <span class="class-value" [textContent]="eventEntity.uiClass" *ngIf="eventEntity.uiClass" data-crlat="termsClass">
                  </span>

                      <div class="horse-racing-icons">
                        <span class="pull-right">
                          <cashout-label *ngIf="marketEntity.cashoutAvail === 'Y' || marketEntity.viewType === 'handicaps'"
                                         [mode]="'md'"></cashout-label>
                        </span>
                      </div>
                    </div>

                    <div class="terms-before-market row row-no-gutter"
                         *ngIf="!isMarketAntepost && termsBeforeMarketAvailable[marketEntity.id]"
                         data-crlat="raceMarketHeader">
                      <div class="col-xs-8" data-crlat="terms">
                        <div class="term-value" [innerHtml]="formatEventTerms(marketEntity.terms)"
                             *ngIf="marketEntity.isEachWayAvailable"
                             data-crlat="eachWayContainer">
                        </div>
                        <span class="class-value" [textContent]="eventEntity.uiClass" *ngIf="eventEntity.uiClass" data-crlat="termsClass"></span>
                      </div>

                      <div class="horse-racing-icons col-xs-4">
                        <!-- Promotional signposting -->
                        <promotion-icon [type]="'market'"
                                        [display]="marketEntity.drilldownTagNames"
                                        [cashoutAvailable]="marketEntity.cashoutAvail === 'Y' || marketEntity.viewType === 'handicaps'"
                                        [mode]="'md'"
                                        [isGpAvailable]="marketEntity.isGpAvailable && eventEntity.categoryCode === 'HORSE_RACING'"
                                        data-crlat="promotionIcons">
                        </promotion-icon>
                      </div>
                    </div>
                    <race-cards-controls class="sort-by-container race-cards-controls"
                    [sortBy]="sortBy"
                    [market]="marketEntity"
                    [isInfoHidden]="isInfoHidden"
                    [isGreyhoundEdp]="isGreyhoundEdp"
                    [sortOptionsEnabled]="sortOptionsEnabledFn(true, marketEntity)"
                    (toggleShowOptions)="toggleShowOptions(expandedSummary, mIndex, $event)"
                    *ngIf="isNotAntepostOrSpecials && !isSpOnly">
                    </race-cards-controls>

                    <!-- Racing Event -->
                    <div class="inner-container">
                      <div *ngFor="let outcomeEntity of marketEntity.outcomes; trackBy: trackById; let oIndex = index"
                           data-crlat="outcomeEntity">
                        <racing-outcome-card [eventEntity]="eventEntity" [marketEntity]="marketEntity"
                                             [outcomeEntity]="outcomeEntity"
                                             [showSummary]="expandedSummary[mIndex][oIndex]"
                                             (expand)="onExpandSection(expandedSummary, mIndex, oIndex);"
                                             [isGreyhoundEdp]="isGreyhoundEdp">
                          <price-odds-button (click)="$event.stopPropagation();" [event]="eventEntity"
                                             [market]="marketEntity"
                                             [gtmModuleTitle]="'racecard'"
                                             [nonRunner]="outcomeEntity.nonRunner"
                                             [outcome]="outcomeEntity">
                          </price-odds-button>
                        </racing-outcome-card>
                      </div>
                    </div>
                  </accordion-body>
                  <right-side>
                    <cashout-label *ngIf="marketEntity.cashoutAvail === 'Y'"></cashout-label>
                  </right-side>
                </accordion>
              </div>
              <!-- Grouped racing markets To Finish, Top Finish, Place Insurance-->
              <race-market-component
              *ngIf="isGroupedMarket() && !isSpOnly"
              [sortBy]="sortBy"
              [ngClass]="{'sort-by-enabled': sortOptionsEnabled}"
              [market]="marketEntity"
              [isInfoHidden]="isInfoHidden"
              [isGreyhoundEdp]="isGreyhoundEdp"
              [sortOptionsEnabled]="sortOptionsEnabledFn(true, marketEntity)"
              [eventEntity]="eventEntity"
              [expandedSummary]="expandedSummary"
              [sm]="selectedMarket">
            </race-market-component>
            </ng-container>
            <racing-event-resulted *ngIf="eventEntity.isResulted"
                                   [eventEntity]="eventEntity">
            </racing-event-resulted>
          </div>

          <div class="widget-column"
               *ngIf="eventEntity.timeformData || sportName !== 'greyhound' && eventEntity.isUKorIRE || racingPostSummary">
            <!--- Timeform widget -->
            <timeform-widget *ngIf="eventEntity.timeformData" [timeformData]="eventEntity.timeformData"
                             data-crlat="timeformContainer"
            ></timeform-widget>
            <!-- racing post widget -->
            <racing-post-widget *ngIf="racingPostSummary"
                                [racingPostSummary]="racingPostSummary"
                                data-crlat="racingPostContainer"></racing-post-widget>
            <!-- about watch free widget -->
            <about-watch-free-widget
              *ngIf="sportName !== 'greyhound' && eventEntity.isUKorIRE"></about-watch-free-widget>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
