<div class="sk-container" [ngClass]="{'sk-loading': state.loading}">
    <outlet-status [state]="state" [isUsedFromWidget]="isUsedFromWidget" [skeletonType]="'GENERIC_BET'">
      <request-error [errorMsg]="errorMsg"
                     [loadFailed]="userStatus"
                     [loginNeed]="!userStatus"
                     [insertedPlace]="title"
                     [reloadMethods]="['SUCCESSFUL_LOGIN', 'EDIT_MY_ACCA', 'RELOAD_CASHOUT']"
                     (reloadFn)="reloadComponent()"
                     data-crlat="cashout.loadFailed">
      </request-error>
    </outlet-status>
    <ng-container *ngIf="!state.loading && !state.error">
      <div>
        <div class="container cashout-container" data-crlat="cashoutContainer">
          <cash-out-bets
            [data]="data"
            [area]="title"
            [isUsedFromWidget]="isUsedFromWidget"
            data-crlat="cashoutWidget">
          </cash-out-bets>
        </div>
      </div>
      <terms-conditions *ngIf="!data.mapState.isEmpty"></terms-conditions>
    </ng-container>
</div>
