<div class="sk-container lotto-container" [ngClass]="{'sk-loading': state.loading}" >
  <loading-screen [displayed]="state.loading"
                  [templateType]="'GENERIC_FULL'"
                  [skeletonOnly]="true"></loading-screen>

  <top-bar [title]="'lotto.lotto'"
           [iconId]="svgId"
           [iconSvg]="svg"></top-bar>
  <banners-section [page]="'lotto'"></banners-section>

  <loading-screen [displayed]="state.loading"
                  [onlySpinner]="true"></loading-screen>
  <ng-container *ngIf="!state.loading && !state.error">
    <carousel-menu
      [menuItems]="menuItems"
      id="lotto-menu"
      [activeMenuItem]="activeUrl"
      [isTopScroll]="true">
    </carousel-menu>
    <ng-info-panel [message]="lottoMessage.msg" [type]="lottoMessage.type"></ng-info-panel>
    <div id="lotto" data-crlat="tabContent">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <outlet-status *ngIf="state.error">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
</div>
