<div *ngIf="staticBlock" class="yourcall-static-block" data-crlat="yourcallStaticBlock">
  <div [innerHtml]="staticBlock.htmlMarkup" class="yourcall-static-text" data-crlat="yourcallStaticText"></div>
</div>
