<header class="top-bar" data-crlat="topBar" *ngIf="titleText || linkPath">
  <a *ngIf="!isHorseRacingDetailPage && (linkPath || titleText)" class="top-bar-title"  data-crlat="topBarTitle" [attr.href]="linkPath" (click)="titleClickHandler()">
    <span [textContent]="titleText" data-crlat="titleText" *ngIf="titleText"></span>
  </a>
  <ng-container *ngIf="isHorseRacingDetailPage">
    <div class="top-bar-title">
      <ng-content select="breadcrumbs"></ng-content>
      <ng-content select="quick-navigation"></ng-content>
    </div>
  </ng-container>
  <div *ngIf="innerContent">
    <ng-content select="top-bar-body"></ng-content>
  </div>
</header>

