@import 'global.variables.less';

@virtualMenuItemHeight: 63px;
@virtualMenuItemWidth: 62px;
@virtualMenuBg: #3a3d4a;

.virtual-carousel-menu.vc-menu {
  color: @color-white;
  background-color:@virtualMenuBg;
  z-index: 6;
  position: relative;

  .scroll-container {
    padding:0 5px;
  }
  .vc-item{
    .display-flex();
    .align-items(center);
    .flex-direction(column);
    .justify-content(center);
    background-color: @virtualMenuBg;
    text-decoration: none;
    height: @virtualMenuItemHeight;
    max-width: @virtualMenuItemWidth;
    width: 100%;
    min-width: 45px;
    position: relative;
    margin: 0 6px;
    color: @color-white;

    &.active {
      background-color: transparent;
      border-bottom: none;
      color: @color-yellow-alt;

      .vc-icon{
        fill: @color-yellow-alt;
      }
    }

    &:hover {
      text-decoration: none;
    }

    .sport-name {
      font-family: @alt-font-family;
      font-size: @font-size-pre-xs;
    }

    .vc-icon {
      fill: @color-white;
      height: 100%;
      width: auto;
      max-height: 30px;
      max-width: 30px;
      position: static;
      margin-left: 0;
      margin-bottom: 4px;

      .vc-svg {
        width: 100%;
        height: 100%;
        max-height: inherit;
      }
    }
  }
}
