@import 'global.variables.less';

.show-more-link {
  background: @color-gray-light;
  height: 35px;
  text-transform: uppercase;
  padding: 0 10px;
  .display-flex();
  .align-items();
  .justify-content(flex-end);
  font-size: 11px;
  cursor: pointer;
  font-weight: bold;
  color: @color-gray-dark;
  text-decoration: none;

  &:hover {
    background: @color-gray-light;
    text-decoration: none;
  }

  .yourcall-hash {
    color: @caribbean-green;
  }

  .arrow-icon {
    width: 4px;
    height: 8px;
    fill: @color-gray-dark;
    margin-left: 5px;
  }
}
