@import 'global.variables.less';

.race-market {
  margin-top: 0;
  box-shadow: 0 -1px 0 0 @lGrayLight, 0 1px 0 0 @lGrayLight;
  .race-market-header {
    .header-wrapper {
      .display-flex();
      .justify-content(flex-end);
      .align-items(center);
      background-color: @color-white;
      min-height: 30px;
      padding-right: 12px;
      margin: 0;

      li {
        min-width: 65px;
        list-style-type: none;
        text-align: center;
        margin-left: 6px;
        font-size: @font-size-md;
        color: @color-gray-dark2;
        font-family: @alt-font-family;
        text-transform: uppercase;
      }
    }
  }
  .previous-prices {
    font-family: @alt-font-family;
    font-size: @font-size-md;
    color: @color-gray-dark2;
  }
  .price-odds-wrapper {
    margin-left: 6px;

    .btn-bet,
    .btn.btn-bet {
      width: 50px;
      //disabled
      &.active[disabled], &.bet-up[disabled],
      &.bet-down[disabled], &.bet-dis[disabled],
      &[disabled] {
        width: 50px;
      }
    }
  }
  .odds-card {
    .odds-content {
      .align-items(center);
      .odds-side {
        min-width: auto;
        .label-text {
          color: @color-gray-darkest;
        }
      }
      .odds-right {
        padding-left: 0;
      }

      .odds-small {
        white-space: normal;
      }
    }
  }

  .new-race-card .odds-content .odds-left {
    .silk-img {
      margin-left: 0;
      width: 40px;
    }

    gh-silk {
      margin: 0 0 0 6px;
    }
  }

  @media(max-width: @mobilePoint) {
    .toggle-icon {
      display: block;
    }
  }
}
