<div class="race-market">
  <img *ngIf="!isSilkLoaded" class="visibility-hidden" [src]="spriteUrl" (load)="isSilkLoaded = true">
  <div class="race-market-content">
    <div *ngIf="marketEntity?.outcomes && isGroupedRaceMarket(marketEntity)" data-crlat="marketOutcomes">
      <race-cards-controls class="sort-by-container race-cards-controls"
                           [sortBy]="sortBy"
                           [market]="marketEntity"
                           [isGreyhoundEdp]="isGreyhoundEdp"
                           [sortOptionsEnabled]="sortOptionsEnabledFn(true, true, marketEntity)"
                           (toggleShowOptions)="toggleShowOptions(expandedSummary, $event)">
      </race-cards-controls>

      <div class="race-market-header" data-crlat="raceMarketHeader">
        <ul class="header-wrapper">
          <li *ngFor="let title of getHeader(marketEntity, eventEntity); trackBy: trackByIndex;"
              [textContent]="title" data-crlat="title"></li>
        </ul>
      </div>
      <div *ngFor="let outcomeEntity of uniqOutcomes; trackBy: trackById; let oIndex = index"
            data-crlat="outcomeEntity">
        <div class="odds-card race-card new-race-card"
             *ngIf="!outcomeEntity.isFavourite"
             (click)="onExpand(expandedSummary, oIndex, 0);"
             data-crlat="raceCard.odds">
          <div class="odds-content">
            <div class="odds-left">
              <div class="odds-side"
                   *ngIf="isNumber(outcomeEntity) && !outcomeEntity.nonRunner">
                <strong [textContent]="outcomeEntity.runnerNumber" data-crlat="runnerNumber"></strong><br/>
                <div class="label-text"
                     *ngIf="outcomeEntity.racingFormOutcome?.draw" data-crlat="outcomeDraw">
                  (<span [textContent]="outcomeEntity.racingFormOutcome.draw"></span>)
                </div>
              </div>
              <div class="silk-img" *ngIf="isGenericSilk(eventEntity, outcomeEntity) || getDefaultSilk(eventEntity, outcomeEntity)"
                   data-crlat="imageSilk">
              </div>
              <gh-silk *ngIf="isGreyhoundSilk(eventEntity, outcomeEntity)"
                [event]="eventEntity"
                [outcome]="outcomeEntity"></gh-silk>
              <div class="silk-img"
                [ngClass]="(eventEntity.isUKorIRE ? 'with-default': 'inter-silk') + ' '+ (!outcomeEntity.nonRunner && isSilkLoaded ? 'has-img' : '')"
                *ngIf="outcomeEntity.racingFormOutcome?.silkName" data-crlat="sectionSilkImg">
                <div *ngIf="!outcomeEntity.nonRunner" [ngStyle]="getSilkStyle(marketEntity, outcomeEntity)" data-crlat="imageSilk">
                </div>
              </div>
              <div class="odds-names odds-names-list" [ngClass]="{'odds-disabled' : outcomeEntity.nonRunner}"
                   data-crlat="horseInfoContainer">
                <strong class="odds-names odds-names-wrap" [textContent]="isGreyhoundEdp ? getFilteredName(outcomeEntity.name): nameWithoutNonRunner(outcomeEntity.name)"
                        data-crlat="horseName">
                </strong>
                <span class="odds-normal" data-crlat="jockeyAndTrainer" *ngIf="!outcomeEntity.nonRunner">
                  <span *ngIf="outcomeEntity.racingFormOutcome?.jockey" [textContent]="'J: '" class="text-bold"></span>
                  <span *ngIf="outcomeEntity.racingFormOutcome?.jockey"
                        [textContent]="outcomeEntity.racingFormOutcome.jockey"
                        data-crlat="jockeyName">
                  </span>
                  <span *ngIf="isJockeyAndTrainer(outcomeEntity)"> / </span>
                  <span *ngIf="outcomeEntity.racingFormOutcome?.trainer" [textContent]="'T: '" class="text-bold"></span>
                  <span *ngIf="outcomeEntity.racingFormOutcome?.trainer"
                        [textContent]="outcomeEntity.racingFormOutcome.trainer"
                        data-crlat="trainerName">
                  </span>
                </span>
                <span class="non-runner" *ngIf="outcomeEntity.nonRunner && !isGreyhoundEdp" [i18n]="'racing.nonRunner'" data-crlat="nr">
                </span>
                <span class="odds-small" *ngIf="!outcomeEntity.nonRunner">
                  <span class="racing-form" *ngIf="outcomeEntity.racingFormOutcome?.formGuide" data-crlat="racingForm">
                    <span>Form: </span>
                    <span class="text-bold" [textContent]="outcomeEntity.racingFormOutcome.formGuide"></span>
                  </span>
                  <span *ngIf="isShowMore(outcomeEntity)"
                              class="toggle-icon"
                              [ngClass]="{'active' : expandedSummary[oIndex][0]}"
                              (click)="addTrackEvent()"
                              data-crlat="toggleIcon">
                      <span *ngIf="expandedSummary[oIndex][0]" [textContent]="'Show less'"></span>
                      <span *ngIf="!expandedSummary[oIndex][0]" [textContent]="'Show more'"></span>
                      <svg>
                        <use xlink:href="#down-arrow"></use>
                      </svg>
                  </span>
                </span>
              </div>
            </div>
            <div class="odds-right odds-right-horizontal" data-crlat="oddsPriceButtons">
              <div class="price-odds-wrapper" *ngFor="let marketEntity of groupedMarket; trackBy: trackById;">
                <div *ngIf="displayMarketPanel(marketEntity) && marketEntity.outcomes" data-crlat="marketEntity.outcomes">
                  <price-odds-button *ngIf="getOutcomeForRaceMarket(marketEntity.outcomes, outcomeEntity.name)"
                                     (click)="$event.stopPropagation();"
                                     [event]="eventEntity"
                                     [market]="marketEntity"
                                     [nonRunner]="outcomeEntity.nonRunner"
                                     [outcome]="getOutcomeForRaceMarket(marketEntity.outcomes, outcomeEntity.name)">
                  </price-odds-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <lazy-component *ngIf="outcomeEntity.racingFormOutcome && expandedSummary[oIndex][0] && !outcomeEntity.nonRunner"
          moduleUri="@lazy-modules-module/runnerSpotlight/runner-spotlight.module#RunnerSpotlightModule"
          [inputs]='{ outcome: outcomeEntity, isUKorIRE: eventEntity.isUKorIRE, isGreyhoundEdp: isGreyhoundEdp }'>
        </lazy-component>
        </div>
    </div>
  </div>
</div>
