@import 'global.variables.less';

.tabs-panel .action-arrow {
  position: absolute;
  height: 100%;
  width: 25px;
  top: -10px;
  padding-top: 10px;
  background: @color-gray-dark;
  opacity: .6;
  cursor: pointer;
  .display-flex();
  .justify-content(center);
  .align-items(center);
  z-index: 10;
  &:hover {
    opacity: .85;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  .arrow-icon {
    width: 4px;
    height: 8px;
    fill: @color-white;
  }
}

.tabs-panel {
  a {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}
