@import 'global.variables.less';

.dropdown {
  background: @brand-color-dark;
  outline: none;

  &.expanded {
    .change-btn svg {
      &.dropdown-down-arrow {
        .transform(rotate(180deg));
      }
    }
    .dropdown-menu {
      display: block;
    }
    .overlay {
      display: block;
    }
  }

  .dropdown-header {
    height: 42px;
    color: @color-white;
    font-weight: bold;
    .label {
      display: inline-block;
      padding: 12px;
      max-width: 75%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top;
    }
  }

  .change-btn {
    position: relative;
    display: inline-block;
    padding: 12px 12px 12px 6px;
    color: @color-yellow;
    text-transform: uppercase;
    font-size: @font-size-md;
    vertical-align: bottom;
    svg {
      margin-left: 5px;
      margin-bottom: 2px;
      height: 5px;
      width: 8px;
      fill: @color-yellow;
      .transition(all, .3s);
    }
  }

  .overlay,
  .dropdown-menu {
    z-index: 10;
    position: absolute;
    display: none;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .dropdown-menu {
    width: 295px;
    max-height: 332px;
    background: @brand-color-secondary;
    overflow-y: scroll;
  }

  .overlay {
    height: 100vh;
    left: 0;
  }

  .menu-item {
    display: block;
    color: @color-white;

    &.active {
      background: @brand-color-dark;
      font-weight: bold;
    }

    &:last-child {
      .menu-title {
        padding-bottom: 24px;
      }
    }

    .menu-title {
      padding: 12px;
      display: block;
      white-space: nowrap;
      line-height: @line-height-sm;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: .9;
    }
  }
}
