@import 'global.variables.less';

:host(.betslip-keyboard) {
  .dk-key {
    font-family: @alt-font-family;
  }
}

.dk-keyboard {
  width: 100%;
  z-index: 9999;
  overflow: hidden;

  &.dk-keyboard-shown {
    display: inline-block;
  }

  &.keyboard-slide-up {
    opacity: 0;
    height: 0;
    padding: 0;
    display: flex;
    .transition(height, 0.3s, cubic-bezier(0.39, 0.58, 0.57, 1));
    border: none;
  }

  &.keyboard-slide-up.dk-keyboard-shown {
    opacity: 1;
    height: 170px;
    padding: 0 13px 16px 13px;
    .transition(height, 0.4s);
    border: none;
  }

  .dk-column {
    border-top: 1px solid @color-gray;
    border-bottom: 1px solid @color-gray;
  }

  .dk-column:first-child {
    border-left: 1px solid @color-gray;
  }

  .dk-column:last-child {
    border-right: 1px solid @color-gray;
  }
}

.dk-column {
  width: 25%;
  float: left;
  text-align: center;
}

.dk-column:not(:last-child) .dk-key {
  border-right: 1px solid @dk-border-color;
}

.dk-key {
  font-family: @base-font-family;
  background: @color-white;
  width: 100%;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-size: @dk-font-size;
  color: @dk-button-color;
  .display-flex();
  .justify-content(center);
  .align-items(center);

  svg {
    pointer-events: none;
  }
}

.dk-key + .dk-key,
.dk-quick-deposit .dk-key {
  border-top: 1px solid @dk-border-color;
}

.dk-key.dk-large {
  height: 114px;
  line-height: 114px;
}

.dk-key.disabled {
  opacity: 0.5;
}

.dk-key.enter {
  svg {
    height: 21px;
    width: 20px;
  }
}

.dk-key.delete {
  svg {
    height: 21px;
    width: 33px;
  }
}

.dk-active-input {
  border: 1px solid @lGray !important;
}

.dk-quick-deposit {
  margin-top: 6px;

  .dk-key {
    background-color: @lGray;
    color: @color-white;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    border-top: none;
  }

  .dk-column + .dk-column .dk-key {
    border-left: 2px solid @color-gray-light;
  }
}
