<div class="surface-bet-card" *ngIf="surfaceBet" data-crlat="surfaceBetCard">
  <div class="left-side">
    <div class="surface-bet-header" data-crlat="surfaceBetCard.header">
      <div class="bet-img-container" *ngIf="surfaceBet.svgId" data-crlat="surfaceBetCard.icon">
        <svg>
          <use [attr.xlink:href]="'#' + surfaceBet.svgId"></use>
        </svg>
      </div>
      <div class="surface-bet-title" [textContent]="surfaceBet.title" data-crlat="surfaceBetCard.title"></div>
      <div class="header-background"></div>
    </div>
    <div class="surface-bet-content" [textContent]="surfaceBet.content || ''" data-crlat="surfaceBetCard.content"></div>
  </div>
  <div>
    <div class="price-odd-container">
      <price-odds-button [event]="surfaceBet"
                         [market]="surfaceBet.markets[0]"
                         [outcome]="surfaceBet.markets[0].outcomes[0]"
                         [cssClass]="'surface-bet-btn'"
                         [isShowHistoricPrices]="false"
                         [gtmModuleTitle]="'surface bets'">
      </price-odds-button>
    </div>
    <div class="old-price" *ngIf="oldPrice" data-crlat="surfaceBetCard.oldPrice">
      <span [i18n]="'sb.wasPrice'" data-crlat="label"></span>&nbsp;
      <span [textContent]="oldPrice" data-crlat="value"></span>
    </div>
  </div>
</div>

