//Global styles
@import 'global.variables.less';

@qb-content-side-padding: 15px;
@footZindex: 1002;

.quickbet-panel {
  width: 100%;
  background: @color-white;
  font-family: @base-font-family;
  position: fixed;
  z-index: @footZindex + 2;
  bottom: 0;
  opacity: 0;
  .transform(translateY(100vh));
  .transition(transform, .3s, ease-in-out);
  overflow: hidden;

  &.quickbet-slide-up {
    opacity: 1;
    .transform(translateY(0));
  }

  .selection-undisplayed-error {
    padding: 15px;
    text-align: center;
  }

  /* Quickbet header */
  .quickbet-header {
    .display-flex();
    .justify-content(center);
    padding: 13px 0;
    background: @brand-color-main;
    height: 45px;
    width: 100%;

    .qb-header-title {
      text-transform: capitalize;
      margin: 0;
      color: @color-white;
      font-size: 16px;
      min-width: 64px;
      text-align: center;
      width: auto;
    }

    .qb-header-close-btn {
      border: none;
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 10px;

      svg {
        height: 12px;
        width: 12px;
        fill: @color-white;
      }
    }

    .qb-header-5-a-side-logo {
      height: 21px;
      width: 18px;
      margin-right: 10px;
    }
  }

  .betslip-deposit .item-inner > .row:last-child > div {
    visibility: hidden;
  }

  .betslip-deposit .item-inner > .row.pay-fields label:before {
    content: none;
  }

  .custom-select {
    margin: 0;
    display: inline-block;
    overflow: visible;

    .odds-select {
      &.crossed {
        text-decoration: line-through;
      }
    }
    svg {
      width: 11px;
      height: 7px;
      right: 7px;
      top: 6px;
      margin-top: 0;
    }
  }

}

/* Quickbet controls */
.quickbet-controls {
  background: @color-white;
  .display-flex();
  min-height: 45px;
  height: 45px;
  position: relative;

  .qb-left-cta-btn,
  .qb-right-cta-btn {
    display: block;
    border: none;
    width: 50%;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }
  .qb-left-cta-btn {
    background: @color-yellow;
    color: @color-gray-dark;
  }
  .qb-right-cta-btn {
    background: @color-green;
    color: @color-white;
    transition: .3s all;
    &:disabled {
      background: @color-green-light;
      color: @color-green-disabled;
      opacity: 1;
    }
  }
}

// fix to not overlap with Iphone X bottom software button.
@supports (height: constant(safe-area-inset-bottom)) {
  .quickbet-controls {
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    height: calc(45px + var(--safe-area-inset-bottom));
    padding-bottom: var(--safe-area-inset-bottom);
  }
}

@supports (height: env(safe-area-inset-bottom)) {
  .quickbet-controls {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    height: calc(45px + var(--safe-area-inset-bottom));
    padding-bottom: var(--safe-area-inset-bottom);
  }
}

.quickbet-opened {
  overflow: hidden;
}

@media only screen and (max-device-width: @mobilePoint) {
  // Header overlaps quickbet panel when cookie banner is opened
  .yourcall-bs-opened.cookie-banner-opened #header .header-inner {
    height: 0;
    padding: 0;
  }

  .yourcall-bs-opened {
    .quickbet-panel {
      max-height: 100%;
      overflow: auto;
    }
  }
}
