@import 'global.variables.less';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: @color-white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  margin: 10px 0 11px 0;
  height: 40px;

  .option-title {
    color: @color-gray-darkest;
    font-family: @alt-font-family;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 0 13px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .selector-wrapper {
    position: relative;
  }
}
