@import 'global.variables.less';
promotions {
  .tabs-panel {
    li {
      width: 50%;
      text-align: center;
      .tab {
        width: 100%;
      }
    }
  }
}

.betslip-receipt {
  .promo-icon {
    margin-top: -3px;
  }
}

single-promotion-page .promotion-container {
  .short-description {
    padding: 15px;
  }
}
