@import 'global.variables.less';

:host {
  height: 45px;
  z-index: 6;
  position: -webkit-sticky;
  position: sticky;
  top: @app-header-height + @top-bar-height;
  display: block;
}

.breadcrumbs_container {
  height: 45px;
  background-color: @brand-color-dark;
  padding: 0 15px;
  transition: 0s;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.breadcrumb_item {
  padding-right: 10px;
  position: relative;
  font-size: @font-size-tablet;
  font-family: @base-font-family;
  color: @color-yellow;
  line-height: 45px;

  .breadcrumb_link {
    display: inline;
    color: @color-yellow;
    &:first-letter {
      text-transform: capitalize;
    }
  }

  &:after {
    content: '/';
    position: absolute;
    top: 0;
    right: 2px;
  }

  &:last-child {
    overflow: hidden;
    &:after {
      display: none;
    }
    .breadcrumb_link {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .toggle-icon {
    display: inline;
    padding-left: 3px;
    svg {
      position: relative;
      padding: 0;
      margin: 0;
      left: 0;
      top: 0;
      fill: @color-yellow;
      height: 10px;
      width: 10px;
    }
    &.active svg {
      .transform(rotateX(180deg));
    }
  }
}


