<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [skeletonType]="'GENERIC_FULL'" [state]="state">
    <request-error *ngIf="state.error" [loadFailed]="state.error" (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <ng-container *ngIf="!state.loading && !state.error">
    <!--- top Bar -->
    <top-bar [title]="'sb.' + racingName"
            [iconId]="racingIconId"
            data-crlat="topBar"
            [iconSvg]="racingIconSvg"
            [path]="racingDefaultPath"
            [innerContent]="racingName === 'horseracing'"
            (titleFunc)="goToDefaultPage()"
            [isHorseRacingDetailPage]="isHRDetailPage"
            [ngStyle]="{'z-index': topBarIndex}">

        <breadcrumbs *ngIf="meetingsTitle"
                     [items]="breadcrumbsItems"
                     (navigationMenu)="showMeetingsList()"
                     [isExpanded]="showMeetings"
                     [menuItems]="quickNavigationItems">
        </breadcrumbs>
        <quick-navigation *ngIf="meetingsTitle"
                          [items]="quickNavigationItems"
                          [showMenu]="showMeetings"
                          (showMeetingsListFn)="showMeetingsList()"
                          [meetingsTitle]="meetingsTitle"
                          [eventEntity]="eventEntity">
        </quick-navigation>
      <top-bar-body class="top-bar-side" data-crlat="topBarContent">
        <a *ngIf="isBetFilterLinkAvailable" [routerLink]="'/bet-finder'" class="bet-finder-link" data-crlat="betFinderLink">
          <svg class="bet-finder-icon">
            <use xlink:href="#bet-finder-icon"></use>
          </svg>
          <span class="bet-finder-title" data-crlat="betFinderTitle" [i18n]="'bf.betFinder'"></span>
        </a>
      </top-bar-body>
    </top-bar>

    <div *ngIf="!isDetailPage">
      <div class="race-block" data-crlat="raceBlock">
        <!--- Banners Section-->
        <banners-section [page]="racingName" data-crlat="bannersSection"></banners-section>
      </div>

      <switchers
        class="tab-switchers"
        [type]="'scrollable'"
        [switchers]="racingTabs"
        [activeTab]="activeTab"
        [noPaddings]="true"
        [detectGTMLocation]="'location'"
      ></switchers>

      <!--- Navigation Points -->
      <lazy-component moduleUri="src/app/lazy-modules/superButton/super-button.module#SuperButtonModule"
                      [inputs]="{
                            type: 'sport',
                            categoryId: categoryId
                          }">
      </lazy-component>
    </div>
    <router-outlet></router-outlet>
  </ng-container>
</div>
