<div class="cashout-stake-and-returns">
  <div class="select-market-header unit-stake-row" *ngIf="legType === 'E'">
    <div class="single-left" data-crlat="unit_stake">
      <span class="stake-label"
            [i18n]="'bethistory.stake'"
            data-crlat="label">
      </span>
      <span class="stake-label stake-value"
            [textContent]="stakePerLine | currency:currencySymbol:'code'"
            data-crlat="value">
      </span>
    </div>
  </div>
  <div class="select-market-header">
    <div [ngClass]="{'single-left': settled !== 'Y'}"
         class="single-left"
         data-crlat="stake">
      <span *ngIf="legType !== 'E'"
            class="stake-label"
            [i18n]="isEdit && !initialReturns  ? 'bethistory.newStakePerLine' : 'bethistory.stakePerLine'"
            data-crlat="label">
      </span>
      <span *ngIf="legType === 'E'"
            class="stake-label"
            [i18n]="isEdit ? 'bethistory.newTotalStake' : 'bethistory.totalStake'"
            data-crlat="label">
      </span>
      <span class="stake-label stake-value"
            [textContent]="stake | currency:currencySymbol:'code'"
            data-crlat="value"
            data-uat="totalStake">
      </span>
    </div>
    <div [ngClass]="{'single-right': settled !== 'Y'}"
         *ngIf="estimatedReturns"
         data-crlat="estimatedReturns">
      <span [testContent]="isEdit"></span>
      <span [testContent]="estimatedReturns"></span>
      <span *ngIf="settled !== 'Y'" class="stake-label"
            [i18n]="isEdit && !initialReturns ? 'bethistory.newTotalReturn' : 'bethistory.totalReturn'"
            data-crlat="label">
      </span>
      <span *ngIf="settled === 'Y'"
            [i18n]="'bethistory.delimiter'"
            class="delimiter">
      </span>
      <span *ngIf="settled === 'Y'"
            class="stake-label"
            [i18n]="'bethistory.returns'"
            data-crlat="label">
      </span>
      <span class="stake-label stake-value estimated-returns"
            [textContent]="estimatedReturnsValue"
            data-crlat="value"
            data-uat="totalEstReturns">
      </span>
    </div>
  </div>
</div>
