@import 'global.variables.less';

.free-bet-tooltip {
  position: relative;
}
.tooltip-body {
  position: absolute;
  top: 10px;
  left: 0;
  width: 170px;
  background-color: @brand-color-dark;
  color: @color-white;
  padding: 11px;
  font-size: 13px;
  z-index: 10;
  margin-bottom: 5px;
}
.tooltip-arrow {
  position: absolute;
  left: 25px;
  top: -15px;
  border: 8px solid transparent;
  border-bottom-color: @brand-color-dark;
}
