<header class="accordion-header"
        *ngIf="!isHeaderHidden"
        (click)="toggled($event)"
        [ngClass]="headerClasses"
        data-crlat="containerHeader">
  <span class="header-title"
        *ngIf="accordionTitle"
        [textContent]="accordionTitle"
        data-crlat="headerTitle.centerMessage"></span>
  <ng-content select="left-side"></ng-content>
  <ng-content select="right-side"></ng-content>
</header>
<ng-content *ngIf="isExpanded" select="accordion-body"></ng-content>
