@import 'global.variables.less';
/* Container */
accordion {
  display: block;
  overflow: hidden;
  .user-select();

  &.is-expanded {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px 0 rgba(0, 0, 0, 0.05);

    & > .accordion-header:not(.inner-header):after {
      display: none;
    }

    & > .inner-header:after {
      .transform(rotate(-135deg));
      margin-top: -3px;
    }
  }

  &.accordion-margin {
    box-shadow: none;
    border-bottom: none;
    overflow: visible;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &[hidden] {
    display: none;
  }

  .accordion-header {
    font-family: @base-font-family;
    font-size: @font-size-tablet;
    line-height: 14px;
    color: @lGray;
    background: @lGrayLight;
    font-weight: bold;
    position: relative;
    border-top: 1px solid @lGrayDark;
    border-bottom: 1px solid @lGrayDark;
    min-height: 36px;
    padding: 10px 36px 10px 12px;
    text-transform: uppercase;
    .display-flex();
    .align-items();

    &:after {
      position: absolute;
      content: '';
      border: solid @lGray;
      border-width: 0 2px 2px 0;
      padding: 3px;
      .transform(rotate(45deg));
      top: 50%;
      margin-top: -6px;
      right: 15px;
    }

    &.inner-header {
      padding: 0 0 0 32px;
      font-family: @alt-font-family;
      font-size: @font-size-lg;
      line-height: 16px;
      color: @color-gray-darkest;
      font-weight: normal;
      text-transform: none;

      &:after {
        border-color: @color-gray-darkest;
        right: initial;
        left: 15px;
      }
    }

    .header-title {
      display: inline-block;
    }
  }
}
