@import '../../assets/styles/general.less';

@tabSwitcherBorder: rgba(92, 148, 184, 0.3);
@outerMargin: 16px;

.results-page {
  box-sizing: border-box;
  height: 100%;
}
.qe-header {
  padding-top: 0;
}
.btn-back {
   margin-bottom: 10px;
 }

.logo {
  box-sizing: border-box;
  margin: 0 auto 45px;
  max-height: 55px;
  display: block;
}

.result-page__wrapper {
  padding-bottom: 29px;
  border-bottom: 1px dashed white;
  margin-bottom: 29px;
}
.tabs-switcher-container {
  display: flex;
  font-stretch: condensed;
  .tab-item {
    justify-content: center;
    padding: 12px 0;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid @tabSwitcherBorder;
    border-bottom: 1px solid @tabSwitcherBorder;
    &--active {
      border-bottom: 2px solid @color-yellow;
      font-weight: bold;
    }
    &:last-child {
      border-left: 1px solid @tabSwitcherBorder;
    }
  }
}

.notificator {
  background-color: #88b923;
  max-height: 40px;
  font-size: 11px;
  transition: opacity 0.3s ease-in-out, max-height 1s linear;
  opacity: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  .notificator-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    .notify-icon {
      height: 15px;
      width: 15px;
      border-radius: 100%;
      margin-right: 10px;
    }
    .notify-content {
      ::ng-deep p{
        font-size: 12px;
        margin: 0;
      }
    }
  }
  &--hidden {
    opacity: 0;
    max-height: 0;
  }
}
.qe-endpage {
  &-container {
    text-align: center;
    margin-top: 50px;
  }

  &-title {
    font-size: 35px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
  }
  &-description, &-cta {
     font-size: 15px;
   }
  &-description {
    margin-top: 22px;
  }
  &-cta {
    margin-top: 30px;
    width: 100%;
    background-color: green;
    border: none;
    border-radius: 50px;
    padding: 15px 0;
    text-transform: uppercase;
    opacity: 1;
    .bg-gradient(@color-green, @color-green-dark, bottom);
  }
  &-cta:hover {
    opacity: 0.95;
  }
}
