@import 'global.variables.less';

@borderRadius: 9px;

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @ngdialog-zindex - 4;
}

.drawer.absolute {
  position: absolute;
}

.drawer.active {
  .drawer-overlay {
    opacity: 1;
  }

  .drawer-content {
    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.left {
      left: 0;
    }

    &:not(.custom-size) {
      &.right {
        right: 0;
      }
    }
  }
}

.drawer-overlay {
  transition: opacity .25s linear;
  background: @popup-overlay-color;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.drawer-content {
  position: absolute;
  transition: all .3s ease-in-out;
  background-color: @color-white;
  display: flex;
  flex-direction: column;

  &.top {
    top: -100%;
  }

  &.bottom {
    bottom: -100%;
  }

  &.left {
    left: -100%;
  }

  &.right {
    right: -100%;
  }

  &:not(.custom-size) {

    &.top,
    &.bottom {
      width: 100%;
      max-height: calc(100% - 120px);
    }

    &.left,
    &.right {
      height: 100%;
      max-width: calc(100% - 120px);
    }
  }
}

.drawer-header {
  position: relative;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
  color: @lGray;
  border-bottom: 1px solid @color-gray;

  .drawer-close {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    padding: 5px;
    background: none;
    border: 0;
    line-height: 0;

    svg {
      fill: @lGrayMediumLight;
      width: 16px;
      height: 16px;
    }
  }
}

.drawer-body {
  overflow: auto;
}

.edit-acca-history {
  .drawer-header {
    padding: @ema-history-drawer-header-padding;
    font-family: @alt-font-family;

    .drawer-close svg {
      width: 15px;
      height: 15px;
    }
  }

  &.drawer-content {
    background: @ema-history-background;
  }
}

.five-a-side {
  bottom: 0;
  left: 50%;
  height: 606px;
  max-height: calc(100% - 55px);
  width: 100%;
  max-width: 480px;
  transform: translate(-50%, 0);
  border-top-left-radius: @borderRadius;
  border-top-right-radius: @borderRadius;
  overflow: hidden;

  &.pitch {
    background-image: linear-gradient(@color-white 20%, @color-green-observatory);
  }

  &.player .drawer-header {
    color: @color-white;
    .rgba-color(#777, .9);
    background-image: linear-gradient(180deg, #777777 25%, @result 60%),
    url(../../../yourCall/assets/images/shield.svg);
    background-repeat: no-repeat,
      no-repeat,
      no-repeat;
    background-position: top left;
    padding: 16px 16px 14px;
  }

  &:not(.player) .drawer-header {
    padding: 0;
    background: transparent;
    border-bottom: 0;
    font-family: @alt-font-family;

    .drawer-close {
      top: 20px;

      svg {
        width: 13px;
        height: 13px;
      }
    }
  }

  .drawer-body {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    background: @color-gray-alabaster;
  }

  @media @mqStPoint {
    max-width: 740px;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-bottom-left-radius: @borderRadius;
    border-bottom-right-radius: @borderRadius;
  }
}
