<div class="free-bet-label" [class.margin]="margin">
  <div class="free-bet-icon" data-crlat="fbIcon">
    <svg>
      <use xlink:href="#free-bet-label"></use>
    </svg>
  </div>
  <div class="free-bet-value" [textContent]="value" data-crlat="fbValue"></div>
  <div *ngIf="plus">&nbsp;+&nbsp;</div>
</div>
