@import 'global.variables.less';

:host {
  display: inline-block;
  line-height: 15px;

  .free-bet-label {
    height: 15px;
    .display-flex();

    &.margin {
      margin-top: 8px;
    }

    .free-bet-icon {
      width: 18px;
      height: 15px;
      border-radius: 2px 0 0 2px;
      background-color: #ef3340;
      text-align: left;

      svg {
        margin: 0 0 1px 4px;
        width: 10px;
        height: 7px;
      }
    }

    .free-bet-value {
      font-weight: bold;
      padding: 0 4px;
      border-radius: 0 2px 2px 0;
      background-color: @color-glacier-white;
      font-family: @base-font-family;
      font-size: @font-size-md;
      color: @color-gray-dark;
    }
  }
}
