@import 'global.variables.less';

@live-status-color: #f00;

racing-status:host {
  font-size: @font-size-sm;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-black;
  display: block;
  margin: 6px 0 3px;

  .race-off {
    color: @live-status-color;
  }

  .live {
    color: @color-yellow-alt;
    background: @lGray;
    font-weight: normal;
    padding: 2px 4px;
  }

  .racing-icon {
    height: 8px;
    width: 8px;
    margin-right: 3px;
  }
}
