<div class="correct-score">
  <div class="correct-score-container">
    <div class="teams-group">
      <div class="team-col">
        <div class="correct-score-team-label" data-crlat="homeTeamLabel">
          {{ game.homeTeam.title }}
        </div>
        <custom-select>
          <select class="form-control"
                  [(ngModel)]="selectedValueHome"
                  (change)="onScoreChange()" data-crlat="homeTeamScores">
            <option *ngFor="let value of scoreHome">{{ value }}</option>
          </select>
        </custom-select>
      </div>
      <div class="team-col">
        <span class="team-col-divider"></span>
      </div>
      <div class="team-col">
        <div class="correct-score-team-label" data-crlat="awayTeamLabel">
          {{ game.visitingTeam.title }}
        </div>
        <custom-select>
          <select class="form-control"
                  [(ngModel)]="selectedValueAway"
                  (change)="onScoreChange()" data-crlat="awayTeamScores">
            <option *ngFor="let value of scoreAway">{{ value }}</option>
          </select>
        </custom-select>
      </div>
      <div class="team-col odd-right">
        <button class="one-row-btn btn-bet btn-act-bg"
                (click)="addToDashboard()"  data-crlat="betButton">
          <span [i18n]="'yourCall.addToBet'" data-crlat="betButtonTitle"></span>
        </button>
      </div>
    </div>
  </div>

  <show-all-button (click)="toggleShow()" [allShown]="allShown">
  </show-all-button>

  <div class="container-inner-content" data-crlat="containerInnerContent">
    <div [equal-column]
         class="row row-center row-no-gutter row-col-last row-pad"
         *ngIf="filterValueType === 'all'">
      <div class="col-xs col-bordered"
           *ngFor="let market of groupedMarkets; trackBy: trackByMarket;" data-crlat="market.outcomes">
        <div *ngFor="let selection of market; trackBy: trackBySelection" class="col-inner col-vertical" data-crlat="oddsCard">
          <button [ngClass]="{'active': isSelected(selection)}"
                  class="one-row-btn btn-bet"
                  (click)="selectValue(selection)"
                  data-crlat="betButton">
            {{ getScores(selection) }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
