@import 'global.variables.less';

.race-header {
  padding: 9px 10px 8px;
  background: @brand-color-dark;
  .race-distance,
  .race-going {
    font-size: 10px;
    color: @color-white;
  }
}
.race-header {
  .race-title {
    margin: 0;
  white-space: normal;
    color: @color-white;
    font-size: 12px;
    font-weight: bold;
  }
}
.icons-area {
  .race-next-link {
    color: @color-white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    .display-flex();
    .align-items();
    span {
      font-size: @font-size-sm;
    }
    svg {
      margin-left: 5px;
      height: 8px;
      width: 5px;
      fill: @color-white;
    }
  }
}
.race-distance {
  margin-right: 5px;
}
.text-area {
  .race-timer {
    display: inline-block;
    &:empty {
      display: block;
    }
    .label {
      color: @color-white;
    }
    .value {
      color: @color-yellow;
    }
  }
}
.odds-card {
  box-shadow: none;
}
.race-card-content {
  margin-bottom: 8px;
  overflow: hidden;

  gh-silk {
    margin: 0 10px 0 0;
  }
}
.race-sub-header {
  padding: 0 10px;
  height: 35px;
  background: @color-white;
  font-size: 11px;
}
.race-icon-stream {
  width: 11px;
  height: 11px;
  margin-left: 5px;
}
.watch-label {
  text-transform: uppercase;
  margin-left: 5px;
}
.race-header,
.race-sub-header {
  .display-flex();
  .align-items();
}
.text-area {
  .display-flex();
  .align-items();
  .flex-grow(1);
}
.icons-area {
  .display-flex();
  .align-items();
  .flex-grow(1);
  .justify-content(flex-end);
}
