<div class="qe-swipe-tutorial-overlay" *ngIf="toggleSwipeTutorialDialog && qeData?.quizConfiguration?.showSwipeTutorial">
  <div class="qe-swipe-tutorial">
    <svg class="qe-swipe-tutorial-svg">
      <use xlink:href="#swipe-icon"></use>
    </svg>
    <p class="qe-swipe-tutorial-text" [textContent]="swipeTutorialMsg"></p>
  </div>
</div>
<div class="questions-carousel">
  <div class="qe-progress-bar" *ngIf="qeData?.quizConfiguration?.showProgressBar">
    <ul class="qe-progress-bar-list">
      <li class="qe-progress-bar-item qe-progress-status" [ngStyle]="{'width': progressBarStepWidth}"></li>
    </ul>
  </div>
  <div
    class="swiper-container ng-carousel"
    [ngCarousel]
    [ngCarouselName]="carouselName"
    [ngCarouselWatch]="qeData.questionsList.length"
    [ngCarouselLoop]="false"
    [ngCarouselMoveThresholdPercentage]="ngCarouselMoveThresholdPercentage"
    [ngCarouselDisableRightSwipe]="ngCarouselDisableRightSwipe"
    (isCarouselInit)="onCarouselInit($event)"
  >
    <slidecontainer class="carousel-slides">
      <slide id="{{index}}" class="slide" *ngFor="let item of qeData.questionsList; let index = index;">
        <div class="slide-wrap">

          <h6 class="questions-carousel-signposting"
              *ngIf="(item.questionDetails.signposting || qeData.defaultQuestionsDetails.signposting) && qeData?.quizConfiguration?.showQuestionNumbering"
              [textContent]="item.questionDetails.signposting || qeData.defaultQuestionsDetails.signposting"></h6>
          <h3 class="questions-carousel-title"
              [textContent]="item.text"></h3>
          <h3 class="questions-carousel-text"
              *ngIf="(item.questionDetails.description || qeData.defaultQuestionsDetails.description)"
              [textContent]="item.questionDetails.description || qeData.defaultQuestionsDetails.description"></h3>

          <ng-container *ngFor="let answer of item.answers">
            <button
              *ngIf ="answer.text"
              class="questions-carousel-btn"
              (click)="nextSlide(answer.id, answer.nextQuestionId, answer.questionAskedId, item.nextQuestions)"
              [ngClass]="{active: currentAnswerId === answer.id} "
              [textContent]="answer.text"
            >
            </button>
          </ng-container>
        </div>
      </slide>
    </slidecontainer>
  </div>
</div>
