@import 'global.variables.less';

// *** Base ***

// Variables, mixins, reset, typography, etc.

// Fonts
@bh-header-font-size: 14px;
@bs-default-font-size: 11px;
@bs-title-font-size: 12px;
@bs-sub-title-font-size: 10px;

.bs-remove-outline() {
  outline: transparent 0;
  box-shadow: none;
}
