@import '../../assets/styles/general.less';
@import '../../../ladbrokesMobile/questionEngine/components/splashPage/splash-page.component.less';

.splash-page {
  .qe-btn-close {
    opacity: 0;
  }

  .strap-line {
    font-family: @alt-font-family;
    line-height: 1.31;
  }
}
