<top-bar *ngIf="isTopBarShown" [title]="'sb.liveStream'" data-crlat="topBar"></top-bar>

<lazy-component moduleUri="@inplayModule/inplay.module#InplayModule"
                entryComponent="InplayWatchLivePageComponent"
                [inputs]="{isLiveStreamPage: true}"
                [handleError]="true">
</lazy-component>

<quick-links class="quick-links-container"></quick-links>
