<aside class="quick-nav"
     [ngClass]="{'active': showMenu}" data-crlat="racingEventPage.subheader">
  <div class="quick-nav-holder" data-crlat="racingMeetingsContainer">
    <header class="quick-title">
      <strong [i18n]="'racing.meetings'" data-crlat="meetingsHeader"></strong>
      <button class="close-menu"
         (click)="closeMenu()" data-crlat="closeMenuButton">
        <svg class="item-next-arrow">
          <use xlink:href="#close-icon"></use>
        </svg>
      </button>
    </header>
    <div class="quick-nav-frame" data-crlat="racingMeetingBody">
      <div class="quick-section" *ngFor="let region of items; trackBy: trackById;" data-crlat="meetingSection">
        <div *ngIf="region.data.length">
          <strong [textContent]="titlesMap[region.flag]" class="quick-subtitle" data-crlat="sectionHeader"></strong>
          <ul class="links-list" data-crlat="sectionBody">
              <li *ngFor="let meeting of region.data; trackBy: trackById;" data-crlat="item">
                  <a class="list-link"
                     (click)="selectEvent(meeting.events)"
                     [linkHref]
                     [link]="getLink(meeting.events)"
                     [ngClass]="{'active-link': isActiveLink(meeting.events)}">
                  <span class="item-name" [textContent]="meeting.meeting" data-crlat="itemName"></span>
                  <svg class="item-next-arrow" data-crlat="nextArrow">
                    <use xlink:href="#next-arrow"></use>
                  </svg>
                </a>
              </li>
            </ul>
        </div>
    </div>
    </div>
  </div>
  <span class="overlay" (click)="closeMenu()"></span>
</aside>
