<!-- Sport Card -->
<odds-card-sport *ngIf="!isOutrightsCard && !isFeaturedOffer"
                 [event]="event"
                 [eventStartedOrLive]="eventStartedOrLive"
                 [sportType]="sportType"
                 [sportConfig]="sportConfig"
                 [selectedMarketObject]="selectedMarketObject"
                 [selectedMarket]="selectedMarket"
                 [featured]="featured"
                 [gtmDataLayer]="gtmDataLayer"
                 [gtmModuleTitle]="gtmModuleTitle"
                 [isFilterByTemplateMarketName]="isFilterByTemplateMarketName"
                 [eventType]="eventType"
                 [widget]="widget"
                 (marketUndisplayed)="changeCardView($event)">
</odds-card-sport>

<!-- Outrights -->
<list-card *ngIf="isOutrightsCard"
           [item]="event"
           [link]="goToEvent(true)"
           [title]="eventName"
           (clickFunction)="goToEvent(false, $event)"
           (goToEventCallback)="callGoToEventCallback()"
           [attr.data-eventid]="event.id"
           [gtmModuleTitle]="gtmModuleTitle"
           data-crlat="oddsCard.outrightsTemplate">
  <div class="live-card-label" *ngIf="eventStartedOrLive">
    <live-label data-crlat="liveLabel"></live-label>
  </div>
</list-card>

<!-- Enhanced Multiples Card-->
<odds-card-enhanced *ngIf="isEnhancedMultiplesCard"
                    [attr.data-eventid]="event.id"
                    [event]="event"
                    [gtmModuleTitle]="gtmModuleTitle"
                    data-crlat="oddsCard.enhancedMultiplesTemplate">
</odds-card-enhanced>

<!--Specials Card-->
<odds-card-specials *ngIf="isSpecialCard"
                    [event]="event"
                    [gtmModuleTitle]="gtmModuleTitle"
                    data-crlat="oddsCard.specialsTemplate"></odds-card-specials>

<!--Featured Offer Card-->
<odds-card-featured-offer *ngIf="isFeaturedOffer"
                          [event]="event"
                          [isStream]="isStream"
                          [featuredModule]="featuredModule"
                          [gtmModuleTitle]="gtmModuleTitle"
                          [isOutright]="isOutrightsCard || template.name === 'outrightsWithSelection'">
</odds-card-featured-offer>

