//Global styles
@import 'global.variables.less';

.coupon-container {
 overflow: hidden;
}

:host {
  .odds-card-header {
    padding-right: 12px;

    .odds-header-col {
      margin: 0 10px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.odds-card {
  .odds-content-panel {
    min-height: 10px;

    .odds-time {
      font-size: 10px;
    }
  }

  .select-arrow {
    margin: 0 10px 0 0;
    min-width: 50px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: @odds-button-big-size) {
      min-width: @price-odd-btn-min-width-1600;
    }

    @media (max-width: @odds-button-small-size) {
      min-width: @price-odd-btn-max-width-1599;
    }

    &.disabled {
      pointer-events: none;

      svg {
        fill: @color-gray-darker;
      }
    }

    svg {
      height: 6px;
      width: 10px;
      fill: @color-gray-dark;

      &.arrow-top {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }
    }
  }

  .btn-bet-spinner {
    .spinner-loader {
      display: inline-block;
      bottom: 15px;
      left: -8px;
    }
  }

  .odds-select {
    min-width: 50px;
    min-height: 40px;
    background: none;
    border: 1px solid @color-gray-darker;
    text-align: center;
    border-radius: 0;
    text-indent: 20px;
    -webkit-appearance: none;

    @media (min-width: @odds-button-big-size) {
      min-width: @price-odd-btn-min-width-1600;
      text-indent: 50px;
    }

    @media (max-width: @odds-button-small-size) {
      min-width: @price-odd-btn-max-width-1599;
    }

    //Firefox Hack
    @-moz-document url-prefix() {
      text-indent: 0!important;
      padding: 0!important;
    }

    &[disabled] {
      opacity: .5;
    }
  }
}
