<div class="sk-container" [ngClass]="{'sk-loading': state.loading}">
  <div *ngIf="!state.loading && !state.error"
       class="container bet-history-page open-bets"
       data-crlat="accordionsList">
    <switchers data-crlat="switchers"
               [filter]="filter"
               [switchers]="betTypes">
    </switchers>

    <div class="sk-container" [ngClass]="{'sk-loading': isLoading}">
      <loading-screen [displayed]="isLoading" [isUsedFromWidget]="isUsedFromWidget"
                      [templateType]="'GENERIC_BET'"></loading-screen>

      <ng-container *ngIf="!isLoading" [ngSwitch]="filter">
        <regular-bets *ngSwitchCase="regularType.viewByFilters"
                      [isBetHistoryTab]="false"
                      [regularBets]="bets"
                      [origin]="'openbets'"
                      [isUsedFromWidget]="isUsedFromWidget"
                      [area]="area"
                      data-crlat="betType.regular">
        </regular-bets>

        <lotto-bets *ngSwitchCase="lottoType.viewByFilters"
                    [lottoBets]="bets"
                    [isUsedFromWidget]="isUsedFromWidget"
                    data-crlat="betType.lotto">
        </lotto-bets>

        <pool-bet-history *ngSwitchCase="poolType.viewByFilters"
                          [poolBets]="bets"
                          [isUsedFromWidget]="isUsedFromWidget"
                          data-crlat="betType.pool">
        </pool-bet-history>

        <div class="container loader-spinner-container"
             *ngIf="betsLazyLoading.isLoadingMore">
          <div class="spinner-loader spinner-dark" data-crlat="spinner.loader"></div>
        </div>
      </ng-container>

      <terms-conditions *ngIf="!isLoading && bets.length > 0"></terms-conditions>
    </div>
  </div>
  <outlet-status [state]="state" [isUsedFromWidget]="isUsedFromWidget" [skeletonType]="'GENERIC_BET'">
    <request-error [errorMsg]="errorMsg"
                   [loginNeed]="!userStatus"
                   [insertedPlace]="'open-bets'"
                   [reloadMethods]="['SUCCESSFUL_LOGIN']"
                   (reloadFn)="reloadComponent()">
    </request-error>
  </outlet-status>
</div>
