<div class="yourcall-betslip" [overscroll-fix] [overscrollFix]="'always'">
  <div>
    <div *ngIf="selectionData && selectionData.selections.length">
      <lazy-component moduleUri="@quickbetModule/quickbet.module#QuickbetModule"
                      [inputs]="{title: panelTitle, selection: selectionData, leftBtnLocale: leftBtnLocale, ycOddsValue: ycOddsValue, bodyClass: bodyClass, isFiveASideBet: isFiveASideBet}"
                      [outputs]="['placeBetFn', 'closePanelFn', 'reuseSelectionFn']"
                      (event)="onQuickbetEvent($event)"
                      entryComponent="QuickbetYourcallWrapperComponent"
                      data-crlat="quickbetPanel">
      </lazy-component>
    </div>
  </div>
</div>
