@import 'global.variables.less';

.bs-receipt-container {
  padding: 14px 12px;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 17px;

  .receipts-counter{
    color: @brand-color-dark;
  }

  .fav-icon-svg {
    opacity: 1;
  }
}
