<live-events-carousel *ngIf="moduleConfig.typeId"
                      [carouselId]="moduleConfig.id"
                      [categoryId]="categoryId"
                      [typeId]="moduleConfig.typeId">
</live-events-carousel>

<accordion [accordionTitle]="moduleConfig.name"
           [isExpanded]="isExpanded"
           (function)="accordionHandler()"
           *ngIf="events.length">
  <right-side>
    <view-changer-icon [id]="moduleId" [viewType]="moduleViewType"></view-changer-icon>
  </right-side>
  <accordion-body>
    <div class="container-inner-content next-events-container">
      <list-view
        *ngIf="isListView"
        [sportConfig]="sportConfig"
        [events]="events"
        [maxDisplay]="moduleConfig.maxDisplay"
        [gtmModuleTitle]="moduleConfig.name">
      </list-view>
      <card-view-widget
        *ngIf="isCardView"
        [events]="events"
        [maxDisplay]="moduleConfig.maxDisplay"
        [viewType]="'prematch'"
        [gtmModuleTitle]="moduleConfig.name">
      </card-view-widget>
    </div>
  </accordion-body>
</accordion>
