<div>
  <div class="row">
    <div class="lotto-results-top-row col-xs-12" data-crlat="lottoResultsTop">
      <span class="pull-left">{{ draw.drawAtTime | date:'dd/MM/yy' }}</span>
      <span class="pull-right">{{ filter === 'byLotto' ? draw.description : draw.fullDescription }}</span>
    </div>
  </div>
  <div class="row">
    <div class="lotto-results-middle-row col-xs-12" data-crlat="lottoResultsMiddle">
      <span class="pull-left" [i18n]="'lotto.results'"></span>
      <span class="pull-right" 
            *ngIf="draw.bonusBall.ballValue"
            [i18n]="'lotto.bonusBall'"></span>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let ball of draw.separatedResults" class="lotto-results-ball-wrapper" data-crlat="lottoResultsBall">
      <div class="lotto-results-ball" [style.background-color]="ball.ballColor">{{ ball.ballValue }}</div>
    </div>
    <div class="lotto-results-ball-wrapper lotto-bonus-ball" *ngIf="draw.bonusBall.ballValue">
      <div class="lotto-results-ball" [style.background-color]="draw.bonusBall.ballColor">{{ draw.bonusBall.ballValue }}</div>
    </div>
  </div>
</div>
