@import 'global.variables.less';

.breadcrumbs__container {
  height: 30px;
  background-color: @color-gray-light;
  padding: 0 10px;
  margin-bottom: @componets-edge-gap;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.breadcrumb__item {
  display: inline-block;
  padding-right: 10px;
  position: relative;

  &:after {
    content: '\203A';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 3px;
  }

  &:last-child {
    overflow: hidden;
    &:after {
      display: none;
    }
    .breadcrumb__link {
      cursor: default;
      font-family: @base-font-family;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }
  }
}

.breadcrumb__link {
  display: block;
  font-size: 12px;
  color: @color-gray-dark;
  line-height: 30px;
  &:first-letter {
    text-transform: capitalize;
  }
}
