<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <outlet-status [skeletonType]="'GENERIC_FULL'" [state]="state">
    <request-error (reloadFn)="reloadComponent()"></request-error>
  </outlet-status>
  <loading-screen [skeletonOnly]="true" [displayed]="!isLazyComponentLoaded" [templateType]="'GENERIC_FULL'"></loading-screen>

  <ng-container *ngIf="!state.loading && !state.error">
    <!--- Top Bar -->
    <top-bar [title]="sportTitle || 'sb.' + sportName" [iconSvg]="sportIconSvg" [iconId]="sportIconId"
             [innerContent]="topBarInnerContent" (titleFunc)="goToDefaultPage()" data-crlat="topBar">
      <top-bar-body class="top-bar-side" data-crlat="topBarContent">
        <favourites-counter [listenerName]="'sportInplay'" data-crlat="counter.favourites"></favourites-counter>
      </top-bar-body>
    </top-bar>

    <ng-container *ngIf="!isSportDetailPage">
      <!--- Banners Section-->
      <banners-section [page]="sportBanner" data-crlat="bannersSection"></banners-section>

      <switchers
        class="tab-switchers"
        [type]="'scrollable'"
        [switchers]="sportTabs"
        [activeTab]="sportActiveTab"
        [noPaddings]="true"
        [detectGTMLocation]="'location'"
      ></switchers>

      <!--- Navigation Points -->
      <lazy-component moduleUri="src/app/lazy-modules/superButton/super-button.module#SuperButtonModule"
                      [inputs]="{
                            type: 'sport',
                            categoryId: categoryId
                          }"
                      (failed)="initLazyHandler()"
                      (init)="initLazyHandler()">
      </lazy-component>

      <router-outlet *ngIf="!isHomeUrl()"></router-outlet>
    </ng-container>
    <lazy-component *ngIf="isSportDetailPage"
                    moduleUri="@edpModule/edp.module#EdpModule"
                    [inputs]="{sport: sport}"
                    (failed)="initLazyHandler()"
                    (init)="initLazyHandler()"></lazy-component>
  </ng-container>
</div>
