<ng-container *ngIf="!state.error">
  <div class="spinner-loader spinner-dark" *ngIf="useLoader && (state.loading || isLoading)" data-crlat="spinner.loader"></div>
  <div [ngClass]="{'container': !removeContainer}" [innerHtml]="innerHtml"></div>
</ng-container>

<request-error *ngIf="state.error && !state.loading" (reloadFn)="reloadComponent()"></request-error>
