&:host {
  padding: 0 10px 10px;
  display: block;
}

.btn {
  width: 100%;
  height: 43px;
  border-radius: 0;
  padding: 14px;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 15px;
  text-shadow: none;
  span {
    vertical-align: middle;
  }
  .spinner-loader {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.timer {
  font-size: 13px;
  font-weight: bold;
  margin-left: 12px;
  opacity: 0.8;
}
