@import './../../../assets/styles/general.less';
@import '../../../../../../app/questionEngine/components/resultsPage/upsell/upsell.component.less';

.qe-upsell-container {
  overflow-x: hidden;
  padding: 15px 15px 20px;
  .qe-upsell-header {
    &-live {
      width: 37px;
      height: 19px;
      text-align: center;
      font-family: @base-font-family;
      font-weight: bold;
    }
    &-infobar {
      border: none;
      margin-left: -20px;
      div {
        padding: 2px 10px;
      }
    }
    &-filled {
      background: @color-black;
      color: @color-bright-yellow;
      transform: skew(-20deg);
      span {
        padding-left: 5px;
        transform: skew(20deg);
      }
    }
    &-normal {
      background: @color-bright-yellow;
      color: @color-black;
      transform: skew(-20deg);
      span {
        transform: skew(20deg);
      }
    }
    &-filled, &-normal {
      span {
        display: inline-block;
      }
    }
  }
  .qe-upsell-title {
    color: @brand-color-main;
    font-size: 30px;
    font-weight: bold;
  }
  button.qe-upsell-cta {
    height: 34px;
    margin-top: 25px;

    font-size: 12px;
    font-weight: bold;
    border-radius: 21px;
  }
}
