<ng-container *ngIf="!state.loading && !state.error">
  <banners-section [page]="'home'" *ngIf="showBanner" data-crlat="bannersSection"></banners-section>

  <module-ribbon *ngIf="ribbon" [ribbon]="ribbon"></module-ribbon>
</ng-container>

<outlet-status [state]="state">
  <request-error (reloadFn)="reloadComponent()"></request-error>
</outlet-status>

<ng-container *ngIf="!state.loading && !state.error">
  <router-outlet></router-outlet>
</ng-container>
