@import 'global.variables.less';

.left-column-menu {

  .left-menu-items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .left-column-title {
    .display-flex();
    .align-items();
    color: @color-white;
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    min-height: 36px;
  }

  .left-column-title, .left-menu-item {
    font-size: 12px;
  }

  .left-menu-item {
    .display-flex();
    .align-items();

    padding: 10px;
    margin: 0 0 1px;
    color: @menu-items-color;
    line-height: 12px;

    .left-menu-item-icon {
      fill: @menu-items-color;
      width: 16px;
      min-width: 16px;
      height: 16px;
      margin-right: 10px;
    }

    .left-menu-item-title {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    &:hover, &.active {
      text-decoration: none;
      background: @denim;
    }

    &.active {
      pointer-events: none;
    }
  }
}
