<list-card *ngFor="let qLink of quickLinks.data; index as i; trackBy: trackByLink"
           [item]="qLink"
           [title]="qLink.title"
           [link]="qLink.destination"
           (clickFunction)="clickOnLink($event, qLink)"
           data-crlat="quickLinkItem">
  <svg *ngIf="qLink.svgId" class="quick-link-icon">
    <use [attr.xlink:href]="'#' + qLink.svgId"></use>
  </svg>
</list-card>
