@import 'global.variables.less';

:host {
  display: block;
  margin: 0 -4px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px 0 rgba(0, 0, 0, 0.05);

  list-card {
    min-height: 39px;
    padding: 12px 30px 12px 12px;
    font-size: @font-size-tablet;

    ::ng-deep {
      .list-card-name {
        flex: 1 1;
      }
    }

    &:last-child {
      border-bottom: 1px solid @lGrayLight;
    }
  }

  .quick-link-icon {
    width: 16px;
    height: 16px;
    margin: -1px 8px -1px 0;
    flex: 0 0 auto;
    .flex-order(-1);
  }
}
