<switchers *ngIf="isHR"
           class="top-switchers"
           [filter]="filter"
           [switchers]="switchers">
</switchers>
<racing-panel *ngFor="let racesGroup of groupedRaces; trackBy: trackByGroupName"
              data-crlat="raceGrid.meeting"
              [events]="racesGroup.events"
              [groupFlag]="racingGroupFlag"
              [isShowName]="false"
              [title]="racesGroup.groupName">
  <div class="bog-signposting" header>
    <promotion-icon [isGpAvailable]="racesGroup.bogAvailable" [bogIconStyle]="true"></promotion-icon>
  </div>
  <watch-label header data-crlat="raceGrid.iconStream" *ngIf="racesGroup.liveStreamAvailable"></watch-label>
  <!-- Tote pools indicators -->
  <racing-pool-indicator list *ngIf="showUKToteIndicators()"
                         [events]="racesGroup.events">
  </racing-pool-indicator>
</racing-panel>
