@import 'global.variables.less';

.five-a-side-launcher {
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: @color-white;
  padding: 12px;
  &.no-padding {
    padding: 0;
  }
}

::ng-deep .five-a-side {
  .btn-back {
    padding-left: 0;
    font-size: @font-size-tablet;
    border: none;
    background: none;

    &:before {
      content: '';
      position: relative;
      display: inline-block;
      padding: 3px;
      top: -1px;
      margin-right: 3px;
      border-style: solid;
      border-width: 0 2px 2px 0;
      .transform(rotate(135deg));
    }
  }

  five-a-side-player-list {
    .btn-back {
      color: @color-blue-selected;

      &:before {
        border-color: @color-blue-selected;
      }
    }
  }

  five-a-side-player-page {
    .btn-back {
      color: @color-white;

      &:before {
        border-color: @color-white;
      }
    }
  }
}
