@import 'global.variables.less';

edit-my-acca-button:host {
  .ema-button {
    border: 1px solid @blue;
    color: @blue;
    border-radius: 2px;
    background: @color-gray-light;
    font-size: @ema-button-font-size;
    padding: @ema-button-padding;
    min-width: 85px;
  }

  ::ng-deep .tooltip {
    transform : translateY(7px) translateX(-8px);
    right: 0;
    width: 196px;
  } 
}
