@import '../../../../../app/oddsBoost/components/oddsBoostPrice/odds-boost-price.component.less';

.price-wrap {
  background-color: @color-yellow-alt;
  padding: 6px;
  height: 26px;
  .price-container {
    color: @lGray;
    font-size: 13px;
    padding-top: 1px;
    font-weight: 500;
  }
  ul.scroll-up {
    .transform(translateY(calc(-100% + 13px)));
  }
  ul.scroll-up.animate {
    .transform(translateY(0));
  }
  ul.scroll-down ul {
    .transform(translateY(0));
  }
  ul.scroll-down.animate {
    .transform(translateY(calc(-100% + 13px)));
  }
}
