// se - self exclusion
@se-input-pad: 3px 10px;
@se-input-mar: 15px 0;
@se-label-mb: 10px;
/*General*/


#content {
  background: @page-bg;
  min-height: 100%;
  position: relative;
  z-index: 1;
  width: 60%;

  .football-content-overlay &,
  .menu-opened &, .yourcall-bs-opened & {
    z-index: auto;
  }

  betslip-tabs, cash-out-page-wrapper, open-bets-page-wrapper,
  bet-history-page-wrapper, in-shop-bets-page-wrapper {
    display: block;
  }
}

.terms {
  text-align: center;
}

#push_iframe {
  display: none;
}

//Error message
.msg-error {
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 35px;
  position: relative;
  color: @color-red;

  .icon {
    position: absolute;
    left: 0;
    margin-top: -11px;
    top: 50%;
    width: 22px;
    height: 23px;
    fill: @color-red;
  }
}

// Duplicate Account & Frozen Account Error Message
.dublicate-error {
  margin-bottom: 10px;

  .error {
    display: block;
    color: @color-red;
    margin-bottom: 10px;
  }
}

//Error block
.error-block {
  color: @color-red;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  margin: 3px 0 0;
  clear: left;
}

//icon text
.icon-text {
  font-weight: bold;
  padding-left: 25px;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
  }
}

.text-section>.btn.full-width {
  margin: 10px 0 0;
}

.logged-tittle {
  font-weight: bold;
  margin: 8px;
}

.popup-buttons {
  padding: 2px 10px;
}

.popup-text>p {
  padding: 0px 30px;
  font-size: 13px;
}

.logoutBtn {
  font-size: 12px;
}

.max-width {
  max-width: 100%;
  height: auto;
}

.btm-text {
  color: @color-gray-light;
  text-shadow: none;
}

.ico-time-svg {
  width: 12px;
  height: 12px;
  fill: @clock-svg-color;
  vertical-align: top;
}

.split-header {
  padding: 0 10px;
  margin: 20px 0 12px;
  font-size: 11px;
  text-transform: uppercase;
}

// ICONS
.free-bet-ico {
  position: absolute;
  width: 18px;
  height: 18px;
  right: -6px;
  top: -6px;
}

.not-qualified {
  background-color: @card-h-bg;
}

@media (max-width: @mobilePoint) {
  .month-year-picker {
    .custom-select {
      select {
        padding: 0 5px;
      }

      .select-arrow {
        right: 5px;
      }
    }
  }
}

#agreements {
  position: fixed;
  z-index: @ngdialog-zindex + 4;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky-virtual-scroll {
  position: fixed !important;
  z-index: 6;
}

.sticky-virtual-scroll-placeholder:before {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 6;
}

.sticky-virtual-scroll-item {
  height: initial;
}

inplay-page {
  display: block;
}
.diagonal-shine-animation {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    background-image: linear-gradient(35deg,
    rgba(255, 255, 255, 0) 7%,
    rgba(255, 255, 255, 0.7) 12%,
    rgba(255, 255, 255, 0.7) 15%,
    rgba(255, 255, 255, 0) 20%
    );
    background-size: 300%;
    background-position: 40% 0;
    animation: slide-bg 2s ease-in-out infinite;
  }
}

@keyframes slide-bg {
  0%   { background-position: 40% 0  }
  100% { background-position: -60% 0 }
}
