.absolute_position() {
  position: absolute;
}

.default_top_property() {
  top: 0;
}

::ng-deep .tut-overlay-open {
  /* disable scrolling on mobile devices */
  overflow: hidden;
  /* required thing for ios */
  position: relative;
  max-height: 100%;
}

.device-mobile {
  #tutorial-overlay {
    .arr-div {
      p {
        font-size: .75rem;
      }

      &.arr1 {
        right: 226px;
        padding: 85px 0 0 0;
        height: 63px;
        width: 68px;

        p {
          text-align: left;
        }

        svg {
          .absolute_position();
          .default_top_property();
          left: 49%;
          width: 64px;
          height: 77px;
        }
      }

      &.arr2 {
        right: 125px;
        padding: 35px 0 0 0;
        height: 42px;
        width: 71px;

        svg {
          .absolute_position();
          .default_top_property();
          left: 55%;
          width: 26px;
          height: 33px;
        }
      }

      &.arr3 {
        height: 70px;
        width: 80px;
        right: 71px;
        padding: 97px 0 0 0;

        svg {
          .absolute_position();
          .default_top_property();
          left: 50%;
          height: 93px;
          width: 39px;
        }
      }

      &.arr4 {
        height: 56px;
        width: 64px;
        right: 6px;
        padding: 45px 0 0 0;

        svg {
          .absolute_position();
          .default_top_property();
          left: 52%;
          width: 18px;
          height: 39px;
        }
      }
    }
  }
}

#tutorial-overlay {
  .arr-div {
    p {
      font-size: .8125rem;
    }

    &.arr1 {
      right: 276px;
      padding: 93px 0 0 0;
      height: 63px;
      width: 68px;

      p {
        text-align: left;
      }

      svg {
        .absolute_position();
        .default_top_property();
        left: 37%;
        width: 69px;
        height: 87px;
      }
    }

    &.arr2 {
      right: 176px;
      padding: 70px 0 0;
      height: 42px;
      width: 71px;

      svg {
        .absolute_position();
        .default_top_property();
        left: 66%;
        width: 52px;
        height: 65px;
      }
    }

    &.arr3 {
      right: 95px;
      padding: 150px 0 0 0;
      height: 69px;
      width: 118px;

      svg {
        .absolute_position();
        .default_top_property();
        left: 49%;
        width: 77px;
        height: 144px;
      }
    }

    &.arr4 {
      right: 20px;
      padding: 50px 0 0 0;
      height: 56px;
      width: 64px;

      svg {
        .absolute_position();
        .default_top_property();
        left: 54%;
        width: 28px;
        height: 44px;
      }
    }
  }
}
