<div [ngClass]="{'device-mobile': isMobile}">
  <div id="tutorial-overlay" *ngIf="tutorialVisible" class="cookie-margin-top vn-smart-banner-margin-top" data-crlat="tutorialOverlay">
    <div class="arr-panel">
      <div class="arr-div arr1" data-crlat="arr1">
        <p>Cash Out<br />Open Bets<br />Bet History</p>
        <svg>
          <use [attr.xlink:href]="isMobile ? '#arr4' : '#arr8'"></use>
        </svg>
      </div>
      <div class="arr-div arr2" data-crlat="arr2">
        <p><span>Check your</span><br />Balance</p>
        <svg>
          <use [attr.xlink:href]="isMobile ? '#arr5' : '#arr9'"></use>
        </svg>
      </div>
      <div class="arr-div arr3" data-crlat="arr3">
        <p><span>Tap to <br *ngIf="isMobile" />open your</span><br />My Account<br /><span>Menu</span></p>
        <svg>
          <use [attr.xlink:href]="isMobile ? '#arr6' : '#arr10'"></use>
        </svg>
      </div>
      <div class="arr-div arr4" data-crlat="arr4">
        <p><span>Save bets<br />to your</span><br />Betslip</p>
        <svg>
          <use [attr.xlink:href]="isMobile ? '#arr7': '#arr11'"></use>
        </svg>
      </div>
    </div>
    <div class="text-panel" data-crlat="textPanel">
      <p>Quick Overview</p>
      <button class="btn btn-style1" (click)="closeTutorial()" data-crlat="closeTutorialBtn">Close</button>
    </div>
  </div>
</div>
