#tutorial-overlay {
  .rgba-color(@body-bg, .75);
  background: @result;
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1021;
  overflow: auto;
  color: @color-white;

  .arr-panel {
    width: 215px;
    float: right;
    position: relative;
    line-height: 16px;
  }

  .text-panel {
    position: relative;
    text-align: center;
    top: 270px;
    padding-bottom: 25px;

    .btn {
      padding: 8px 50px;
      margin-bottom: 30px;
    }
  }

  .arr-div {
    position: absolute;
    color: @color-yellow;
    font-weight: bold;
    text-align: center;
    top: 10px;

    span {
      color: @color-white;
      font-weight: normal;
    }

    &.arr1 {
      height: 70px;
      width: 150px;
      right: 80%;
      padding: 40px 50px 0 0;

      svg {
        position: absolute;
        right: 0;
        top: 0;
        width: 56px;
        height: 67px;
      }
    }

    &.arr2 {
      height: 70px;
      width: 150px;
      right: 40%;
      padding: 140px 60px 0 0;

      svg {
        position: absolute;
        right: 0;
        top: 0;
        width:71px;
        height: 143px;
      }
    }

    &.arr3 {
      height: 70px;
      width: 100px;
      right: 7%;
      padding: 200px 0 0 0;

      svg {
        position: absolute;
        right: 0;
        top: 0;
        width: 41px;
        height: 189px;
      }
    }
  }
}

.offset-sm {
  #tutorial-overlay {
    top: 44px;
  }
}
