@import "global.variables.less";
.badge-new {
  background: @red;
  color: @color-white;
  transform: skewX(-20deg);
  display: flex;
	justify-content: center;
	align-items: center;
  span {
    transform: skewX(20deg);
  }
  width: 20px;
  height: 11px;
  font-size: 7px;
  position: absolute;
  top: 1px;
  right: 2px;
}

:host {
  &.racing-switchers,
  &.my-bets-switchers,
  &.settled-bets-switcher{
    .switchers {
      padding: 0;
      margin: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px 0 rgba(0, 0, 0, 0.05);

      .switch-btn {
        font-size: 13px;
        text-transform: none;
      }
    }
  }

  &.tab-switchers .switch-btn {
    text-transform: uppercase;
    font-family: @base-font-family;
    border-bottom-color: @color-white;
  }

  &.top-switchers {
    .switch-btn {
      text-transform: none;
      font-family: @alt-font-family;
    }
    .switchers {
      padding-bottom: 0;
    }
  }

  &.btm-switchers {
    .switch-btn {
      text-transform: none;
      font-family: @alt-font-family;
      border-bottom-color: #fff;
      .btm-switchers();
    }
    .switchers {
      padding: 0;
      margin-bottom: 2px;
      box-shadow: @btm-switchers-shadow;
    }
  }
}
:host {
  &.my-bets-switchers {
    .switchers {
      margin: 4px 0 12px;

      .switch-btn {
        font-size: @font-size;
        font-family: @alt-font-family;
      }
    }
  }
  &.settled-bets-switcher {
    .switchers {
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);

      .switch-btn {
        font-size: @font-size;
        font-family: @alt-font-family;
      }
    }
  }

  &.five-a-side-switcher {
    .switchers {
      .justify-content();
      background-color: transparent;

      .switch-btn {
        padding: 10px;
        width: 110px;
        height: 35px;
        font-size: @font-size-tablet;
        font-family: @alt-font-family;
        border-radius: 17.5px;
        box-shadow: 0 0 2px 0 rgba(162, 162, 162, 0.26), 0 2px 2px 0 rgba(162, 162, 162, 0.26);
        background-color: @color-white;
        flex: unset;
        color: @color-gray-regular;
        border: none;
        text-transform: none;

        &.active {
          background-color: @color-blue-cornflower;
          border: solid 1px @color-blue-cornflower;
          color: @color-white;
          font-weight: normal;

          &:after {
            content: none;
          }
        }

        + .switch-btn {
          margin-left: 10px;
        }
      }
    }
  }
}
