@import 'global.variables.less';
@slider-line-height: 3px;

.scroll-container {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
}

:host:not(.five-a-side-switcher) .switchers {
  .user-select();
  .switch-btn {
    font-family: @base-font-family;
    font-size: @font-size;
    color: @lBlack-light;
    border-bottom: @slider-line-height solid @color-white;

    &.active {
      color: @lGray;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: @slider-line-height;
        background: @red;
        bottom: -@slider-line-height;
        left: 0;
      }
    }
  }

  &.no-paddings {
    margin: 0 0 12px;
  }
}

.radio-switchers{
  padding-top:8px;
}

.radio-switch-btn{
  display:block;
  cursor:pointer;
  color: @color-gray-darkest;
  position:relative;
  font-size: @font-size-tablet;
  font-family: @alt-font-family;
  padding: 7px 35px 7px 0;
  &:after{
    content: '';
    background: @lGray-bg;
    border-radius: 100%;
    border: 1px solid darken(@lGray-bg, 25%);
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    right: 0;
  }
  &.active{
    &:after{
      background-color: @lGrayMediumLight;
      box-shadow: inset 0 0 0 3px #ffffff;
    }
  }
}
