@import '../../../assets/styles/general.less';

.qe-footer {
  margin-bottom: 45px;

  &-list {
    margin: 0;
    padding: 0;

    &__item {
      text-decoration: none;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      background-color: rgba(7, 41, 75, 0.4);
    }

    &__link {
      width: 100%;
      cursor: pointer;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &:hover {
        text-decoration: none;
      }

       &.active {
         opacity: .5;
       }
    }

    &__svg {
      position: relative;
      height: 10px;
      width: 6px;
      &:after {
        content: '';
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-right-style: solid;
        border-right-width: 2px;
        border-radius: 2px;
        display: inline-block;
        height: 10px;
        left: -5px;
        position: absolute;
        top: 0;
        width: 10px;
        transform: rotate(315deg);
      }
    }
  }
}
