@import 'global.variables.less';

.container {
  &.padding-bottom-5 {
    padding-bottom: 5px;
  }
}

.meetings-tabs-panel {
  ul.scroll-inner {
    > li {
      .inline-flex();
      .align-items(center);
    }
  }
}

.race-details-container {
  display: block;
}

.dividends {
  white-space: nowrap;

  .section-header {
    font-size: @font-size-md;
    .display-flex();
  }

  .result-card {
    font-size: @font-size;
    .display-flex();
  }

  .name-col {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    .flex(1, 1, auto)
  }

  .value-col {
    text-align: center;
    width: 56px;
    min-width: 56px;
    margin-left: 30px;
    display: inline-block;
  }

  .dividend-result-col {
    text-align: center;
    width: 60px;
    min-width: 60px;
    display: inline-block;
  }
}


.section-container {
  background-color: @color-gray;

  .section-header {
    background-color: @color-gray-light;
    padding: 4px 12px 5px 12px;
    font-size: @font-size-md;
    .display-flex();
    .justify-content(space-between);

    .result-odds-col {
      width: 36px;
      text-align: center;
    }
  }

  .result-card {
    padding: 12px 17px 13px 12px;
    border-top: 1px solid @color-gray;
    background-color: @color-white;
  }

  .rules-deduction.result-card {
    .display-flex();
    padding-right: 28px;
    justify-content: space-between;
    font-weight: 700;
    font-size: @font-size;
  }

  &.each-way-text {
    color: @color-gray-dark;

    .result-card {
      min-height: 30px;
      padding: 2px 2px 2px 12px;
      .display-flex();
      .align-items(center);
      .justify-content(space-between);

      .racing-result-icons {
        .display-flex();
        .align-items();
        .justify-content(flex-end);
      }
    }

    .term-value,
    .class-value {
      display: inline-block;
      line-height: 30px;
    }
  }

  &.space-top {
    margin-top: 5px;
  }
}

.section-container.dividends {
  .result-card {
    padding: 11px 12px;
  }
}

.race-details-container.race-result {
  .align-items(center);
  height: auto;
  min-height: 45px;
  margin-bottom: 0;

  .race-event-container {
    font-size: @font-size-lg;
    color: @color-gray-dark;

    .race-event-time {
      padding-right: 5px;
    }
  }

  .race-title {
    font-size: @font-size;
    font-weight: bold;
    color: @color-gray-dark;
    margin: 2px 0 0;
  }

  .value {
    font-weight: normal;
    padding: 0;
    color: @color-gray-darkest;
    font-family: @alt-font-family;
  }

  .oval {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: @color-orange;
    margin: 0 8px 1px 0;

    &.green {
      background-color: @color-green;
    }
  }

  &::ng-deep .race-details-container-l {
    line-height: normal;
  }
}
