@import 'global.variables.less';

.cashout-error-message {
  .display-flex();
  .align-content(center);
  font-family: @cashout-error-font-family;
  font-size: @font-size;
  margin: 8px 8px 2px;
  padding: @cashout-error-message-padding;
  background-color: @cashout-error-message-background;
  color: @cashout-error-message-color;
  letter-spacing: @cashout-error-letter-spacing;
}
