<div *ngIf="loadComplete && !loadFailed" class="bs-receipt-wrapper" data-crlat="betslipReceipt">
  <div class="bs-content"
       [class.bs-content-height]="isDesktop">
    <div class="bs-selections-wrapper scrollable-content" data-crlat="betreceiptSectionsContainer">
      <ds-betslip-link></ds-betslip-link>

      <ng-container *ngIf="!isAllBetsDeclined">
        <receipt-header [betDate]="betDate"></receipt-header>

        <betslip-receipt-subheader [events]="allEvents"
                                   [isFootballAvailable]="isFootballAvailable"
                                   [counter]="receiptsCounter">
        </betslip-receipt-subheader>
      </ng-container>

      <betslip-singles-receipt *ngIf="isSingles()"
                               [singleReceipts]="allReceipts.singles"
                               (winAlertsToggleChanged)="toggleWinAlerts($event)"
                               [winAlertsActive]="winAlertsActive"
                               [winAlertsEnabled]="winAlertsEnabled">
      </betslip-singles-receipt>
      <betslip-multiples-receipt *ngIf="isMultiples()"
                                 [multiReceipts]="allReceipts.multiples"
                                 [winAlertsEnabled]="winAlertsEnabled"
                                 [winAlertsActive]="winAlertsActive"
                                 (winAlertsToggleChanged)="toggleWinAlerts($event)">
      </betslip-multiples-receipt>

      <betslip-banner></betslip-banner>
    </div>

    <!--- Bet Slip Footer -->
    <div class="bs-scrolling-fix-ios bs-footer-anchoring bs-anchoring-fix-ios">
      <div class="scrollable-content prevented-container">
        <div class="bs-footer" data-crlat="bsFoot">
          <bs-notification
            *ngIf="message && message.msg"
            [bsType]="message.type"
            [bsPosition]="'bottom'"
            [bsMessage]="message.msg">
          </bs-notification>

          <!-- Total panel -->
          <betslip-total-wrapper *ngIf="!isAllBetsDeclined"
                                 [totalFreeBetsStake] = "freeBetsStake"
                                 [totalStake]="(totalStake || '0.00' | currency:currencySymbol:'code')"
                                 [totalReturns]="(totalEstimatedReturns | currency:currencySymbol:'code') || 'N/A'">
          </betslip-total-wrapper>

          <div class="bs-buttons-wrapper">
            <button *ngIf="!overask.isInFinal"
                    class="base-btn reuse-selection-btn"
                    (click)="reuse()"
                    [disabled]="reusePending"
                    data-crlat="reuseButton">
              <spinner *ngIf="reusePending"></spinner>
              <span *ngIf="!reusePending" [i18n]="'bs.reuseSelection'"></span>
            </button>
            <button class="base-btn {{overask.isInFinal ? 'wide' : 'done'}}-btn" (click)="done()" data-crlat="doneButton">
              <span [i18n]="'bs.done'"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loadComplete" class="spinner-loader spinner-dark" data-crlat="spinner.loader"></div>

<request-error *ngIf="loadFailed" [loadFailed]="loadFailed"></request-error>
