@import 'global.variables.less';

.bs-content {
  &:not(.bs-content-height) {
    @media only screen and (min-width: @tabletPoint) {
      max-height: none;
    }
  }

  .bs-selections-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: none;
  }
}

.bs-content {
  max-height: @bs-content-max-height;
}

.sk-container {
  height: 100%;
}

@media @mqMobile {
  .bs-content {
    max-height: 100%;
  }
}

// ios scroll fix
.scrollable-content {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
