<accordion *ngIf="allEvents?.length"
           [accordionTitle]="sectionTitle"
           [isExpanded]="true"
           (function)="sendCollapseGTM()"
           data-crlat="outerAccordion"
           class="extra-place-carousel-section">
  <accordion-body data-crlat="race.enhancedRacesCarousel">
    <ng-container *ngFor="let key of raceKeys">
      <div *ngIf="groupedEvents[key]?.events?.length"
           [ngCarousel]
           [ngCarouselAmount]="slidesOnPage"
           [ngCarouselName]="key"
           [ngCarouselLoop]="false"
           [ngCarouselWatch]="groupedEvents[key]?.events?.length"
           [attr.data-crlat]="groupedEvents[key].title"
           class="extra-place-carousel ng-carousel">
        <div class="carousel-inner"
             [ngClass]="{'single-slide': groupedEvents[key].events.length === 1}">
          <slidecontainer class="carousel-slides">
            <slide class="slide"
                   *ngFor="let event of groupedEvents[key].events; trackBy: trackById"
                   data-crlat="raceCard.event">
              <div class="carousel-slide">
                <div class="slide-label">
                  <div class="title" data-crlat="raceCard.title" [textContent]="groupedEvents[key].title"></div>
                  <div class="timer" data-crlat="raceCard.timer">
                    <race-timer [event]="event" [utc]="true" [displayTime]="false"></race-timer>
                  </div>
                </div>
                <a (click)="goToEvent(event)"
                   [linkHref]
                   [link]="event.link"
                   class="slide-body">
                  <div class="selection-title">
                    <div class="meeting-name" [textContent]="event.originalName" data-crlat="raceCard.eventName"></div>
                    <div class="odds" *ngIf="event.odds" [innerHTML]="event.odds" data-crlat="eachWayContainer"></div>
                  </div>
                  <svg class="next-arrow" data-crlat="nextArrow">
                    <use xlink:href="#next-arrow"></use>
                  </svg>
                </a>
              </div>
            </slide>
          </slidecontainer>
        </div>
      </div>
    </ng-container>
  </accordion-body>
</accordion>
