@import 'global.variables.less';

/* No Events */
:host {
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
  color: @color-black;
  text-align: center;
  margin: 10px 0;
}
