@import 'global.variables.less';

.maintenance-container {
  height: 100%;
  background-size: cover;
  padding: 0 15px;
  .display-flex();
  .align-items();
  .justify-content();

  .container-content {
    background: @color-blue-light;
    border: 4px solid @color-white;
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    color: @color-white;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    min-width: 280px;
    max-width: 460px;

    @media screen and (max-height: 420px) {
      padding: 10px;
      line-height: 14px;
      font-size: 13px;
      max-width: 300px;
    }

    .logo-svg {
      margin-bottom: 15px;

      @media screen and (max-height: 420px) {
        margin-bottom: 5px;
      }
    }

    .photo-container {
      border: 4px solid @color-white;
      margin: 20px auto 25px;
      .aspect-ratio(16, 10);
      max-width: 395px;

      @media screen and (max-height: 420px) {
        max-width: 295px;
        margin: 10px auto;
      }

      @media screen and (max-height: 320px) {
        max-width: 200px;
      }

      @media screen and (max-height: 280px) {
        max-width: 150px;
      }

      .content-ratio {
        background: url(../../../../assets/images/photo.jpg) no-repeat;
        background-size: cover;
      }
    }

    .btn {
      text-transform: uppercase;
      height: 40px;
      font-size: 18px;

      @media screen and (max-height: 420px) {
        height: 35px;
        font-size: 16px;
      }
    }
  }
}

.temp-maintenance-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @color-black;
  z-index: 2000;

  .temp-maintenance-popup {
    max-width: 90%;
    max-height: 90%;
  }
}
