<section class="accordion"
         [ngClass]="{'is-expanded' : isExpanded, 'page-inner-container' : inner || card, 'no-header' : !accordionTitle}"
         data-crlat="accordion">
  <header class="accordion-header"  (click)="toggled($event)"
          *ngIf="!isHeaderHidden"
          [ngClass]="headerClasses"
          data-crlat="containerHeader">
    <div class="accordion-left-side">
      <ng-content select="left-side"></ng-content>
    </div>

    <h2 class="accordion-title" [textContent]="accordionTitle" *ngIf="accordionTitle" data-crlat="headerTitle.centerMessage"></h2>
    <div class="accordion-right-side">
      <ng-content select="right-side"></ng-content>
    </div>
    <div class="chevron"
         [ngClass]="isExpanded ? 'chevron-up' : 'chevron-down'"
         data-crlat="chevronArrow">
    </div>
  </header>
  <article class="container-content text-section"
           [ngClass]="{'text-section': pcTextBlock}"
          *ngIf="isExpanded" data-crlat="containerContent">
    <ng-content select="accordion-body"></ng-content>
  </article>
</section>
