@import 'global.variables.less';
//----------------------------------------------------------------------
// Chevron
//
@chevron-animation-time: 0.4s;

.chevron {
  .flex(0, 0, auto);
  width: 12px;
  height: 7px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  &:before,
  &:after {
    content: '';
    width: 7px;
    height: 1px;
    background: @color-gray-dark;
    position: absolute;
    top: 3px;
    border-radius: 1px;
    transition: transform @chevron-animation-time;
  }
  &:before {
    left: 5px;
  }
  &:after {
    left: 0;
  }
}

.chevron-up {
  visibility: visible;

  &:before {
    transform: rotate(35deg);
  }
  &:after {
    transform: rotate(-35deg);
  }
}

.is-expanded .chevron-up {
  visibility: visible;
}

.chevron-down {
  &:before {
    transform: rotate(-35deg);
  }
  &:after {
    transform: rotate(35deg);
  }
}
