@import 'global.variables.less';

// Icons styles
.accordion-icon-label {
  fill: @color-gray-dark;
  height: @accordion-header-icon-size;
  width: @accordion-header-icon-size;
  margin-right: 5px;
}

.accordion-freebets {
  margin-right: 5px;
  color: @color-red;
  font-size: 12px;
  font-weight: bold;
  .display-flex();
  .align-items();
}

.accordion-freebets-svg {
  width: @accordion-freebets-icon-size;
  height: @accordion-freebets-icon-size;
  margin-right: 5px;
}

.freebets {
  .accordion-header {
    padding: 10px 10px 10px 30px;
  }
}

.accordion-badge {
  margin-right: 5px;
  color: @color-white;
  background-color: @color-gray;
  font-size: 8px;
  text-align: center;
  line-height: 12px;
  height: 12px;
  border-radius: 2px;

  &.pc-badge--enhanced {
    min-width: 47px;
    background-color: @color-blue-lighter;
  }
  &.pc-badge--specials {
    min-width: 37px;
    background-color: @pink-trendy;
  }
}

.in-play-game-status {
  font-family: @base-font-family;
  font-weight: bold;
  background: @color-red;
  color: @color-white;
  padding: 1px 5px;
  border-radius: 2px;
  line-height: 12px;
  text-transform: uppercase;
  margin: 0 5px;
  font-size: 8px;

  &.in-play-game-status__bigger {
    font-size: 11px;
    margin: 0 10px;
    padding: 2px 4px;
  }
}
