@import 'global.variables.less';

//----------------------------------------------------------------------
// Accordion
//
//default content accordion styles
accordion, accordion accordion {
  padding: 0;
}

.accordion {
  overflow: hidden;
  margin: 0 0 @componets-edge-gap;

  .accordion {
    margin: 0;
  }

  .container-content {
    background: @color-white;
    overflow: hidden;
  }

  & > .accordion-header {
    background: @color-gray-light;
    color: @color-gray-dark;
    cursor: pointer;
    padding: 10px;
    height: @accordion-header-height;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background .4s;
    .display-flex();
    .align-items();
    .user-select();
    &:hover {
      background: @color-gray-light-two;
    }
    &.secondary-header {
      background: @brand-color-dark;
      &:hover {
        background: @brand-color-secondary;
      }
    }
    &.inner-header {
      background: @light-blue;
    }
    &.secondary-header, &.inner-header {
      color: @color-white;
      .left-title-text {
        color: @color-white;
      }

      .chevron:before, .chevron:after {
        background: @color-white;
      }

      svg {
        fill: @color-white;
      }
    }
    .accordion-left-side,
    left-side, let-side > [ng-if] {
      .display-flex();
      .align-items();
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .accordion-right-side,
    right-side, right-side > [ng-if] {
      .display-flex();
      .align-items();
      .flex-grow(1);
      .justify-content(flex-end);
    }
  }

  section.accordion {
    &.page-inner-container {
      margin-bottom: 0;
      border-bottom: 1px solid @color-gray;

      &.is-expanded {
        border-bottom: 0;
      }
    }
  }
}

.accordion-header {
  .accordion-title, .left-title-text {
    font: bold 12px/1.2 @base-font-family;
    text-transform: uppercase;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.has-margin {
      margin-right: 5px;
    }
  }
}

.secondary-header {
  .accordion-title, .left-title-text {
    text-transform: capitalize;
  }
}

.tennis-competitions {
  margin-bottom: 10px;
  accordion {
    padding-top: 0;
    padding-bottom: 0;
  }
  .accordion {
    margin: 0;
  }
}
