<section *ngIf="receipt" class="page-container is-expanded" data-crlat="pageContainer">
  <header class="container-header" data-crlat="containerHeader">
    <span class="left-title-text" [i18n]="'lotto.lottoReceipt'" data-crlat="headerTitle.leftMessage"></span>
  </header>
  <article class="container-content" data-crlat="containerContent">
    <div class="item-inner item-bordered row-panel">
      <div class="row">
        <div class="col-xs-12 label-text" data-crlat="receipt.name">{{ receipt.name }}</div>
      </div>
      <div class="row" *ngFor="let draw of receipt.draws">
        <div class="col-xs-12 label-text" data-crlat="eventName">
          {{ draw.description + ', ' + (draw.drawAtTime | date:'dd.MM h:mm a') }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 label-text" [i18n]="'lotto.betTypeDesc'"></div>
        <div class="col-xs-8 word-break">
          <strong data-crlat="betType">{{ receipt.betTypeDesc }}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 label-text" [i18n]="'lotto.betSelections'"></div>
        <div class="col-xs-8 word-break">
          <strong data-crlat="betSelections">{{ receipt.betSelections }}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 label-text" [i18n]="'lotto.betOdds'"></div>
        <div class="col-xs-8 word-break">
          <strong data-crlat="betOdds">{{ prices }}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 label-text" [i18n]="'lotto.betStake'"></div>
        <div class="col-xs-8 word-break">
          <strong data-crlat="betStake">{{ (receipt.betStakePerLine | currency: receipt.currency: 'code') + ' x ' + receipt.draws.length }}</strong>
        </div>
      </div>
    </div>
    <div class="item-inner item-bordered row-panel text-right">
      <div class="row" data-crlat="totalStake">
        <div class="col-xs-8 label-text" [i18n]="'lotto.totalStake'"></div>
        <strong class="col-xs-4 word-break">{{ (receipt.betStake | currency: receipt.currency: 'code') }}</strong>
      </div>
      <div class="row">
        <div class="col-xs-8 label-text" [i18n]="'lotto.betPotentialWins'"></div>
        <strong class="col-xs-4 word-break" data-crlat="potentialReturn">{{ (potentialReturns | currency: receipt.currency: 'code') }}</strong>
      </div>
      <div class="row">
        <div class="col-xs-8 label-text" [i18n]="'lotto.betPlaced'"></div>
        <strong class="col-xs-4 word-break" data-crlat="betPlaced">{{ receipt.date | date:'dd.MM h:mm a' }}</strong>
      </div>
    </div>
    <div class="item-inner row-panel">
      <button class="btn btn-style1 full-width" [i18n]="'lotto.done'" data-crlat="doneButton" (click)="redirectToPrevPage();"></button>
    </div>
  </article>
</section>
