@import '../../../../app/retail/assets/styles/main.less';

.retail-page {
  .vertical-menu {
    .list-item-link {
      font-family: @alt-font-family;
      padding: 22px 15px 22px 10px;
      .item-icon {
        width: 32px;
        height: 25px;
      }
      .item-next-arrow {
        width: 7px;
        right: 7px;
        height: 14px;
        margin-top: -5px;
        fill: @lBlack-light;
      }
    }
    .item-name {
      font-size: 11pt;
      font-weight: normal;
    }
  }
}