@import 'global.variables.less';

.upgrade-dialog {
  .modal-header {
    font-size: 13px;
    font-weight: bold;
    p {
      margin:0;
      padding: 0;
    }
  }
  .upgrade-text {
    color: @color-gray-dark;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.2;
  }
  .upgrade-button {
    text-align: center;
  }
  .upgrade-button .btn {
    width: 100%;
    height: 40px;
  }
  .upgrade-link {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  .upgrade-link a {
    font-size: 12px;
    color: @color-gray-dark;
    text-decoration: underline;
  }
}
