@import 'global.variables.less';

.tabs-panel-component.tabs-panel {
  box-shadow: none;
  .scroll-container {
    .scroll-inner {
      .display-flex();
      li {
        .flex(1);
        .justify-content();
        .tab {
          font-weight: normal;
          text-transform: uppercase;
        }

        &.active {
          .tab {
            font-weight: bold;
          }
        }
      }
    }
  }

  .action-arrow {
    position: absolute;
    height: 100%;
    width: 25px;
    background-color: fade(@color-black, 60%);
    cursor: pointer;
    .display-flex();
    .justify-content(center);
    .align-items(center);
    z-index: 10;

    &:hover {
      background-color: fade(@color-black, 80%);
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
    .arrow-icon {
      width: 8px;
      height: 14px;
      fill: @color-white;
    }
  }
}
