<div class="tabs-panel-component tabs-panel"
     (mouseover)="mouseOver()"
     (mouseleave)="mouseLeave()"
     data-crlat="panel.tabs"
     *ngIf="!hidden">
  <div class="scroll-container" [scrollable] [rescrollOnChange]="tpActiveTab?.id">
    <ul [ngClass]="{'flex-tabs': tbClass}"
        class="scroll-inner"
        data-crlat="tabs">
      <ng-container *ngFor="let tab of tpTabs">
        <li *ngIf="!tab.hidden"
            [ngClass]="{'active': setActiveClass(tab), 'disabled': tab.disabled}"
            data-crlat="tab.tpTabs">
          <a class="tab"
             (click)="clickFunction(tab, $event)"
             [attr.href]="tab.url"
             data-crlat="tab">
            <svg class="tab-icon" *ngIf="tab.iconId">
              <use [attr.xlink:href]="tab.iconId"></use>
            </svg>
            <span [textContent]="tab.title"></span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="action-arrow left row-middle"
       (click)="scrollLeft($event)"
       [ngClass]="{'hidden' : !isShowLeftArrow}">
    <svg class="arrow-icon prev-arrow row-center">
      <use xlink:href="#prev-arrow-alt"></use>
    </svg>
  </div>
  <div class="action-arrow right row-middle"
       (click)="scrollRight($event)"
       [ngClass]="{'hidden' : !isShowRightArrow}">
    <svg class="arrow-icon next-arrow">
      <use xlink:href="#next-arrow-alt"></use>
    </svg>
  </div>
</div>
