@import 'global.variables.less';

.inplay-module-container {
  margin: 0 0 8px;

  .in-play-header {
    .display-flex();
    .align-items();
    .justify-content(space-between);

    font-weight: bold;
    background: @brand-color-dark;
    height: 46px;
    padding: 10px;
    margin-bottom: 2px;

    a {
      .display-flex();
      .justify-content();
      .align-items();

      fill: @color-yellow;
      &:hover {
        text-decoration: none;
      }
    }

    .in-play-label {
      font-size: 13px;
      color: #FFFFFF;
    }

    .see-all-count {
      color: @color-yellow;
      font-size: 12px;
      text-transform: uppercase;
    }

    .next-arrow {
      width: 15px;
      height: 9px;
    }
  }

  .inplay-group-container {
    margin-bottom: 2px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .odds-card {
    box-shadow: none;
  }
}
