<p class="r-p-verdict__info" [textContent]="data.verdict" *ngIf="data.verdict" data-crlat="verdictInfo"></p>
<section class="r-p-verdict__rating-section" *ngIf="data.starRatings.length > 0" data-crlat="ratingSec">
  <h3 [i18n]="'racing.racingPostStarRating'" data-crlat="header"></h3>
  <div *ngFor="let item of data.starRatings; trackBy: trackByIndex;" data-crlat="item">
    <span [textContent]="item.name" data-crlat="itemName"></span>
    <star-rating [rating]="item.rating" data-crlat="starsContainer"></star-rating>
  </div>
</section>
<section class="r-p-verdict__tips-section" *ngIf="data.tips.length > 0" data-crlat="tipsSec">
  <h3 [i18n]="'racing.racingPostTips'" data-crlat="header"></h3>
  <div *ngFor="let item of data.tips; trackBy: trackByIndex;" data-crlat="item">
    <span [textContent]="item.name" data-crlat="label"></span>
    <span [textContent]="item.value" data-crlat="value"></span>
  </div>
</section>
<img *ngIf="showMap && data.imgUrl" [src]="data.imgUrl" data-crlat="map"/>
