@import 'global.variables.less';

:host {
  font-size: 12px;
}

.r-p-verdict__info {
  padding: 12px 15px;
  margin: 0;
  font-family: @alt-font-family;
  font-size: 12px;
  line-height: 12px;
  color: @color-gray-darkest;
}

h3 {
  display: inline-block;
  width: 100%;
  height: 40px;
  font-family: @base-font-family;
  background: @lGray-bg;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid @lGrayLight;
  border-bottom: 1px solid @lGrayLight;
  line-height: 40px;
  padding: 0 15px;
  margin: 0;
  font-size: @font-size;
}

section {
  & > div {
    display: flex;
    .flex();
    .justify-content(space-between);
    .align-items(center);
    padding: 0 15px;
  }
}

.r-p-verdict__tips-section {
  color: @color-gray-darkest;
  padding-bottom: 10px;
  span {
    line-height: 38px;
    font-family: @alt-font-family;
    &:first-of-type{
      font-size: @font-size-lg;
    }
  }
}

.r-p-verdict__rating-section {
  color: @color-gray-darkest;
  div:first-of-type {
    margin-top: 10px;
  }
  div:last-of-type {
    margin-bottom: 10px;
  }
  span {
    line-height: 26px;
    font-family: @alt-font-family;
  }
}

img {
  display: block;
  width: calc(100% - 30px);
  margin: 0 auto 15px;
  border: 1px solid @lGrayLight;
}
