.handle-opt-in {
  position: relative;
  margin-top: 5px !important;
  .checked {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 7px;
    height: 12px;
    border: solid @color-white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -moz-transform: rotate(45deg); /* Firefox */
    transform: rotate(45deg);
    top: 6px;
    animation: none; /* Fix for IE11 */
  }
}

.promotion-container {
  padding: 0;
  .page-container {
    & >.container-header {
      margin: 0;
    }
  }

  .container {
    .container-content {
      &.text-section {
        line-height: 14px;
        padding: 0;
        #promo-descr {
          padding: 15px;
        }
      }
      .btn {
        margin: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  #terms-and-cond {
    .btn.full-width {
      margin: 0;
    }
    padding: 2px 5px;
  }

  a {
    cursor: pointer;
  }
}

.promotion-container.grouped {
  background-color: transparent;
  .promotion-group {
    &-header {
      background-color: @color-gray-light;
      padding: 12px;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      border-top: 1px solid @color-gray;
      border-bottom: 1px solid @color-gray;
    }
  }
  .promotion-item {
    box-shadow: 0 3px 4px @color-gray-mid;
    h3 {
      color: @color-gray-dark;
      background: @color-gray-light;
      border-top: 1px solid @color-gray;
      border-bottom: 1px solid @color-gray;
    }
  }
}

.promotion {
  &-container {
    font-family: @base-font-family;
    font-size: 11px;
    line-height: 1.5em;
    background-color: @color-white;
    align-items: center;
    p {
      font-size: @font-size-md;
      line-height: 1.5em;
    }
  }
  &-item {
    @media @mqMobile {
      margin-bottom: 8px;
    }

    @media @mqTablet {
      display: inline-block;
      vertical-align: bottom;
      margin: 0 2px 3px 2px;
      width: calc(~"50% - 4px");
    }

    @media @mqDesktop {
      display: inline-block;
      vertical-align: bottom;
      margin: 0 2px 3px 2px;
      width: calc(~"33.33% - 4px");
    }

    h3 {
      padding: 0 15px;
      margin: 0;
      font-size: 11px;
      color: @color-white;
      text-transform: uppercase;
      font-weight: bold;
      background: @brand-color-dark;
      line-height: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media @mqTabletAndDesktop {
        padding: 0 10px;
      }

    }
    & > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &-content {
    .display-flex();
    .justify-content(space-between);
    .align-items(center);
    background: @color-gray-light;
    padding: 15px;

    @media @mqTabletAndDesktop {
      height: 80px;
      padding: 16px 10px;
    }

    & > * {
      margin: 0;
    }
    p {
      color: @color-gray-dark;
      padding-right: 15px;
      width: calc(~"100% - 110px");

      @media @mqTabletAndDesktop {
        padding-right: 10px;
      }

    }
  }
}

.clamp-lines {
  position: relative;
  max-height: 4.5em;
  overflow: hidden;
  font-size: @font-size-md;
  line-height: 1.5em;
  &:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 1.5em;
    background: linear-gradient(to right, rgba(234, 234, 234, 0), rgba(234, 234, 234, 1) 80%);
  }
}

@supports (-webkit-line-clamp: 3) {
  .clamp-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    &:after {
      display: none;
    }
  }
}

.promotion-footer-text {
  p.p1 {
    position: relative;
  }
  .s1 {
    background-color: transparent;
  }
  em {
    text-decoration: underline;
    font-style: normal;
  }
}
