.uk-tote-event {
  margin-bottom: 10px;

  .pool-header {
    height: 40px;
    font-size: 12px;
    color: @color-gray-dark;
    margin-bottom: 1px;
    .pool-size-label {
      font-size: 11px;
    }
  }
  .tote-switchers {
    margin-bottom: 5px;
    padding-bottom: 1px;
    display: block;
    .scroll-inner {
      padding-bottom: 0;
    }
  }
  .leg-switchers-wrapper {
    height: 50px;
    .switchers {
      padding-top: 1px;
    }
  }
}
