@import '../../../../assets/styles/modules/betRadar/bet-radar-mixin.less';
@import '../../../../assets/styles/modules/betRadar/bet-radar-colors.less';

::ng-deep {
  .sr-bb {
    background: @color-11;
    font-family: 'Roboto', 'Noto', 'Helvetica Neue', 'Helvetica', 'Arial',sans-serif;
    text-align: left;
  }
  .coral-theme {
    width: 100%;
    margin-bottom:10px;
    .bet-radar-layout(
      @color-1,
      @color-2,
      @color-3,
      @color-4,
      @color-5,
      @color-6,
      @color-7,
      @color-8,
      @color-9,
      @color-10,
      @color-11,
      @color-12,
      @color-13,
      @color-14,
      @color-15,
      @color-16,
      @color-17,
      @color-18,
      @color-19,
      @color-20,
      @color-21,
      @color-22,
      @color-23,
      @color-24,
      @color-25,
      @color-26,
      @color-27,
      @color-28,
      @color-29,
      @color-30,
      @color-31,
      @color-32,
      @color-33,
      @color-34,
      @color-35,
      @color-36,
      @color-37,
      @color-38,
      @color-39,
      @color-40,
      @color-41,
      @color-42,
      @color-43,
      @color-44,
      @color-45,
      @color-46,
      @color-47,
      @color-48,
      @color-49,
      @color-50,
      @color-51,
      @color-52,
      @color-53, 
      @color-3
    );
  }
}
