@import '../../assets/styles/general.less';
@import '../../../../../app/questionEngine/components/questionsPage/questions-page.component.less';

.qe-header {
  &-inf {
    align-items: stretch;
    transform: skew(-20deg);
    margin: 0 15px 30px 15px;

    &-item {
      span {
        transform: skew(20deg);
        font-weight: normal;
      }
    }
    .top-left-header {
      color: @brand-color-main;
      span {
        font-weight: bold;
      }
    }
  }

  .logo-small {
    height: 20px;
    margin: 0 auto 30px;
  }
}
