@import 'global.variables.less';

.btn-odds {
  @btn-bg-color: #8bbd23;

  .display-flex();
  position: relative;
  padding: 0;
  width: 100%;
  height: 44px;
  border: none;
  box-shadow: 0 2px 2px 0 @color-shadow;
  color: @color-white;
  font-family: @base-font-family;
  font-size: @font-size-bit-lgr;
  font-weight: bold;
  background-color: @btn-bg-color;

  &.addPlayer {
    border-radius: 6px;
  }

  &.placeBet {
    border-radius: 4px;
  }

  &[disabled] {
    opacity: 1;
    background-color: @color-green-sulu;
  }

  .odds-label {
    .spinner-loader.small-loader {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      position: relative;

      &:before, &:after {
        left: 0;
      }
    }
  }
}

.odds-label {
  font-size: @font-size-lg;
  line-height: @font-size-lg;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 10px 14px;

  .your-call-odds {
    font-size: @font-size;
    font-weight: normal;
  }
}

.place-bet-label {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
