@import '../../assets/styles/general.less';
@import 'global.variables.less';

.qe-btn-back {
  margin-bottom: 0;
}

.qe-header {
  padding-top: 0;
  margin: 10px auto 0;
  text-align: center;

  .logo-small {
    display: block;
    margin: 0 auto 10px;
    height: 32px;
  }

  &-inf {
    border: solid 1px white;
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;

    &-item {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      padding: 0 7px;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      &.top-left-header{
        background: white;
        color: @color-blue;
        border: 1px solid white;
      }

      &.top-right-header {
        color: white;
      }
    }
  }
}

@media @mqTabletAndDesktop {
  .header {
    margin-top: 85px;
    .logo-small {
      margin: 0 auto 15px;
      height: 22px;
    }
    &-inf {
      margin-bottom: 55px;
    }
  }
}
