@import 'global.variables.less';

.back-to-top {
  background: @color-yellow;
  opacity: 0.7;
  border-radius: 3px;
  height: 48px;
  padding-top: 10px;
  position: fixed;
  right: 40px;
  top: 90%;
  text-align: center;
  width: 62px;
  z-index: 3;
  cursor: pointer;
  line-height: 1.5;
  color: @color-black;

  .back-to-top-title {
    font-size: 10px;
    font-weight: bold;
    display: block;
  }
  &:hover {
    opacity: 1;
    svg {
      .transform(scale(1.2, 1.2));
    }
  }

  svg {
    height: 10px;
    width: 19px;
  }
}

