@import '../../assets/styles/general.less';
@import '../../../../ladbrokesMobile/questionEngine/components/questionsPage/questions-page.component.less';

.qe-btn-back {
  margin-bottom: 0;
}

.qe-close-btn-additional-place {
  height: 34px;
}

.middle {
  top: 50%
}
.qe-header {
  padding-top: 0;
  margin: 0 auto;
  text-align: center;

  .logo-small {
    display: block;
    margin: 0 auto 20px;
    height: 30px;
  }

  &-inf {
    border: solid 1px white;
    margin-bottom: 45px;

    &-item {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      padding: 0 8px;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      &.top-left-header {
        background: white;
        color: @color-blue;
        border: 1px solid white;
        span {
          font-weight: bold;
        }
      }

      &.top-right-header {
        color: white;
      }
    }
  }
}
.questions-page {
  height: 100%;

  .qe-container {
    padding-top: 50px;
  }
}
.qe-back-link {
  padding: 15px 0 0 0;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
