<div class="my-bets-list">
  <div *ngFor="let leg of bet.eventSource.leg; trackBy: trackByLeg; let i = index;"
       class="my-bets-list-item"
       data-crlat="cashout.betLeg"
       [attr.data-eventid]="leg.eventEntity?.id">
    <bet-leg-item *ngIf="leg && leg.status"
      [bet]="bet"
      [leg]="leg"
      [legType]="bet.eventSource.legType"
      [isUsedFromWidget]="isUsedFromWidget">
    </bet-leg-item>
  </div>
</div>
