<div class="tab-content heuristic-container" data-crlat="tabContent">
  <!--- Racing Page -->
  <div class="container sk-container" [ngClass]="{'sk-loading': applyingParams || (displayNextRaces && !nextRacesLoaded)}">
    <loading-screen [displayed]="applyingParams || (displayNextRaces && !nextRacesLoaded)"
                    [templateType]="'GENERIC'"></loading-screen>

    <div data-crlat="accordionsList">

      <!--- Sorting Panel -->
      <switchers *ngIf="!applyingParams && isRacingPanel"
                 data-crlat="switchers"
                 [filter]="filter"
                 [switchers]="switchers"
                 [detectGTMLocation]="'sublocation'">
      </switchers>

      <lazy-component *ngIf="display === 'today' || display === 'tomorrow'"
                      moduleUri="src/app/lazy-modules/racingFeatured/racing-featured.module#RacingFeaturedModule"
                      [hidden]="applyingParams"
                      [inputs]="{
                        sportId: categoryId,
                        racing: racing,
                        sectionTitle: sectionTitle,
                        sportName: sportName,
                        eventsOrder: eventsOrder,
                        filter: filter,
                        responseError: responseError,
                        displayNextRaces: displayNextRaces,
                        sportModule: sportModule,
                        display: display
                      }"
                      data-crlat="racing.greyhound">
      </lazy-component>

      <!-- Future events -->
      <div *ngIf="!applyingParams && display === 'future'" data-crlat="racing.future">
        <div *ngIf="!responseError && racing.events?.length" data-crlat="racing.futureEvents">
          <greyhound-future-tab [filter]="filter"
                                [isExpanded]="isExpanded"
                                [orderedEvents]="orderedEvents"
                                [orderedEventsByTypeNames]="orderedEventsByTypeNames"
                                [filteredTypeNames]="filteredTypeNames"
                                [racingEvents]="racing.events">
          </greyhound-future-tab>
        </div>

        <request-error *ngIf="responseError"
                       [loadFailed]="responseError"
                       (reloadFn)="reloadComponent()"></request-error>

        <!-- Show only when no events -->
        <no-events *ngIf="!responseError && !racing.events?.length"></no-events>
      </div>
    </div>
  </div>
</div>
