@import '../../components/eventTitleBar/event-title-bar.less';
@import '../../components/sportEventMain/sport-event-main.component.less';


@import '../../components/markets/correctScore/correct-score.component.less';
@import '../../components/markets/playerStats/your-call-player-stats.component.less';

.sport-event-tabs {
  display: block;
  width: 100%;
  .horseracing-info-icon {
    display: none;
  }
}
