<accordion *ngIf="allEvents?.length"
           [accordionTitle]="sectionTitle"
           [isExpanded]="true"
           (function)="sendCollapseGTM()"
           data-crlat="outerAccordion">
  <accordion-body data-crlat="race.enhancedRacesCarousel">
    <ng-container *ngFor="let key of raceKeys">
      <racing-panel *ngIf="groupedEvents[key]?.events?.length"
                    [events]="groupedEvents[key].events"
                    [title]="groupedEvents[key].title"
                    (clickFunction)="goToEvent($event)"
                    [attr.data-crlat]="groupedEvents[key].title">
        <div header class="racing-label">
          <svg class="racing-icon" [attr.data-crlat]="'promotionIcon.' + key">
            <use [attr.xlink:href]="groupedEvents[key].svgId"></use>
          </svg>
          {{ groupedEvents[key].name }}
        </div>
      </racing-panel>
    </ng-container>
  </accordion-body>
</accordion>
