@import 'global.variables.less';

.profit-loss-link {
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin: 0 0 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profit-loss-link a {
  font-family: @base-font-family;
  font-size: 13px;
  font-weight: normal;
  color: @color-gray-dark;
  padding: 12px;
  width: 100%;
  position: relative;
}

.profit-loss-link:after {
  position: absolute;
  content: '';
  border: solid @lGray;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-45deg);
  top: calc(50% - 5px);
  right: 15px;
  pointer-events: none;
}
