@import 'global.variables.less';

.enhanced-multiples-carousel-section {
  background: @color-gray;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.enhanced-multiples-carousel-wrapper {
  height: 126px;

  @media (max-width: @desktopLargePointLow) {
    height: 96px;
  }
}

.enhanced-carousel-container-many-slides.carousel-slides {
  width: 370px;
}

.slide.enhanced-slide.enhanced-single-slide {
  width: 100%;
}

.slide.enhanced-slide {
  width: 360px;
  margin-right: 10px;
}

.enhanced-slide-header {
  border-radius: 2px 0 0 0;
  background-color: @color-blue-lighter;
  margin: 0px;
}

.enhanced-slide-type-title {
  display: block;
  font-size: 10px;
  font-weight: bold;
  margin: 11px 10px 0 10px;
  color: @color-white;
  text-transform: uppercase;

  span + span {
    margin-left: 3px;
  }
}

.enhanced-slide-header-container {
  .display-flex();
  height: 31px;
  border-radius: 0 2px 0 0;
  background-color: @color-gray-light;
  border-bottom: 1px solid @color-blue-lighter;
}

.enhanced-slide-body {
  height: 95px;
  border-radius: 0 0 2px 2px;
  background-color: @color-white;
  color: @color-gray-dark;
  padding: 10px 0 0 15px;
  font-size: 12px;
}
.slide-body-top {
  .display-flex();
  padding-right: 15px;
}

.enhanced-slide-title {
  .inline-flex();
  margin: 0px;
  overflow: hidden;
}

.enhanced-title-event-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.outcome-name {
  font-size: 13px;
  line-height: 1.3;
  font-weight: bold;
}

.enhanced-single-slide {
  width: 100%;
}
.enhanced-multiples-carousel-section {
  .action-arrow:hover {
    opacity: 1;
  }

  .action-arrow.left {
    left: 0px;
  }

  .action-arrow.right {
    right: 0px;
  }

  .arrow-icon {
    width: 5px;
    height: 10px;
    fill: @color-white;
  }

  .action-arrow {
    .display-flex();
    .justify-content(center);
    .align-items(center);
    user-select: none;
    background-color: @brand-color-dark;
    opacity: 0.8;
    z-index: 1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 20px;
    cursor: pointer;
  }

  @media (max-width: @desktopLargePointLow) {
    .action-arrow {
      display: none;
    }
  }
}

.enhanced-multiples-mobile {
  padding: 5px 0 5px;
  margin: 0 2.5px;

  .carousel-slides.enhanced-carousel-container-many-slides {
    width: 250px;

    .slide.empty {
      width: 250px;
    }
  }
}

.slide.enhanced-slide-mobile {
  width: 250px;
  padding: 3px 2.5px 0;
  margin: 0;

  a {
    &:focus,
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }

  &.enhanced-single-slide {
    width: ~"calc(100% - 5px)";
  }

  .btn-bet {
    position: relative;
  }

  .enhanced-slide-title-mobile {
    color: @color-white;
    font-family: @base-font-family;
    text-transform: uppercase;
    font-size: 11px;
  }

  .enhanced-slide-header-container {
    height: auto;
  }

  .enhanced-slide-header {
    width: 100%;
    padding: 0 10px;
    height: 25px;
    font-weight: bold;
    background-color: @color-blue-lighter;
    font-family: @base-font-family;
    border-radius: 2px 2px 0 0;
  }

  .enhanced-slide-body {
    .display-flex();
    padding: 10px;
    height: 65px;
    .align-items(center);
    border-radius: 0 0 2px 2px;
    .justify-content(space-between);
  }

  .enhanced-slide-body-bottom-left {
    .align-items(center);
    .inline-flex();
    white-space: normal;
  }

  .enhanced-slide-body-bottom-right {
    margin: 0 15px 0 15px;
    .display-flex();
    .align-items(flex-end);
    .justify-content(flex-end);
  }

  .outcome-name {
    white-space: normal;
    font-family: @base-font-family;
    font-size: 11px;
    line-height: 1.4em;
    margin: 0;
    padding-right: 10px;
  }
}

racing-yourcall-specials + racing-enhanced-multiples {
  display: block;
  margin-top: 10px;
}
