@import 'global.variables.less';

.racing-content {
  .group-buttons {
    padding: 0;

    &.group-buttons-toggle {
      .justify-content(space-between);
    }

    .group-col {
      .flex-grow(1);
      padding: 0;
    }
  }
}
