@import 'global.variables.less';

.antepost-container {
  list-card {
    .live-card-label,
    .list-card-date {
      .flex-order(-1);
      text-transform: uppercase;
    }
  }
}

.antepost-event {
  font-family: @base-font-family;

  .page-container.page-inner-container .container-content .terms-before-market {
    background-color: @color-white;
    border-bottom: none;
    padding: 15px 10px;
  }

  .race-market-label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    color: @color-gray-dark;
    margin-bottom: 5px;
  }

  .race-market-event-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0;
    color: @color-gray-dark;
    margin-bottom: 5px;
  }

  .race-market-terms {
    font-size: 10px;
    letter-spacing: 0;
    text-align: left;
    color: @color-gray-dark;
  }

  .page-container.page-inner-container .race-card .odds-content .odds-right .btn-bet .previous-prices,
  .race-market .race-card .odds-content .odds-right .btn-bet .previous-prices {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    top: auto;
    line-height: 8px;
  }

  .horse-racing-icons {
    position: absolute;
    top: 18px;
    right: 10px;
  }
}
