@import 'global.variables.less';

.racing-content {
  .tabs-panel .scroll-container .scroll-inner li {
    .inline-flex();
    &>span {
      .inline-flex();
      .align-items();
    }

    .tab.time-ribbon {
      font-size: 13px;
    }
  }

  .tabs-panel .scroll-container .scroll-inner li .tab {
    padding: 11px;
    .race-time {
      width: 100%;
    }
  }

  .coupons-list {
    margin-top: 0;
  }

  .tabs-panel .scroll-container .scroll-inner {
    font-family: @base-font-family;
    li .tab {
      @media (min-width: @tabletPoint) {
        min-height: 43px;
        padding-top: 14px;
        font-size: @font-size;
      }
    }
    @media (min-width: @tabletPoint) {
      background: @tabs-front-clr;
    }
  }

  .horseracing-info-icon {
    width: 12px;
    height: 12px;
    fill: @color-gray-dark;
    position: relative;
    top: 2px;
    margin-right: 3px;
  }

  .horse-racing-icons {
    .inline-flex();
  }
}

.page-container.page-inner-container {
  @media (min-width: @tabletPoint) {
    margin-top: 0;
  }
  .container-content {
    margin: 0;
    border-radius: 0;
    .terms-before-market {
      font-family: @base-font-family;
      background-color: @color-gray-light;
      padding: 0 10px;
      .align-items(center);
      .term-value, .class-value {
        font-size: @font-size-sm;
        min-height: 12px;
        text-transform: capitalize;
      }
      svg.bpg-icon, .cashout-label-wrapper {
        margin: 0 0 0 10px;
      }
      @media (min-width: @tabletPoint) {
        min-height: 27px;
        .term-value, .class-value {
          text-transform: uppercase;
        }
      }
    }
  }
}
.page-container.page-inner-container,
.race-market {
  .new-race-card {
    padding: 8px 12px 8px 0;
    &.active {
      background-color: @color-gray-light;
    }
    &.type-tote {
      padding: 0;
      .odds-content .odds-right, .odds-content .odds-left {
        .align-items(center);
      }
    }
    .odds-content {
      .odds-left {
        .odds-side {
          width: 30px;
          min-width: 30px;
          font-size: @font-size;
          @media (min-width: @tabletPoint) {
            width: 50px;
          }
          .label-text {
            font-size: 9px;
            color: inherit;
          }
        }
        .silk-img {
          width: 30px;
          min-width: 30px;
          margin: 0 0 0 10px;

          &.has-img {
            margin: 0;
            width: 30px;
            min-width: 30px;
          }
        }
        gh-silk {
          margin: 0 0 0 10px;
        }
        .odds-names-list {
          line-height: 16px;
          margin-left: 10px;
          font-size: @font-size-md;
          @media (min-width: @tabletPoint) {
            margin-left: 15px;
            font-size: @font-size;
          }
          font-size: @font-size-md;
          .odds-names {
            font-size: @font-size;
            line-height: 17px;
            @media (min-width: @tabletPoint) {
              font-size: @font-size-tablet;
            }
          }
          .odds-small {
            color: lighten(@color-gray-dark, 50%);
            font-size: @font-size-md;
          }
        }
      }  
      .odds-right {
        .align-items(start);       
        .previous-prices {
          color: @color-gray-dark;
          font-size: @font-size-pre-xs;
          line-height: @font-size-pre-xs;
          margin-top: 4px;
          &.has-no-previous-price {
            margin-top: 6px;
          }
        }
      }
    }

    &.smart-boosts {
      padding-bottom: 10px;
      .odds-footer {
        margin-top: 2px;
      }
    }
  }
}
.course-distance {
  margin-left: 5px;
  padding: 0 5px;
  letter-spacing: 1px;
  color: @color-white;
  font-size: 9px;
  background-color: @color-green;
  border-radius: 2px;
}
.horse-racing-icons {
  text-align: right;
  .display-flex();
  .align-items();
  .justify-content(flex-end);

  svg, .cashout-label-wrapper {
    margin: 0 0 0 10px;
  }
}

.racing-content {
  transition: margin-top 300ms ease;

  &.top-padding {
    @media screen and (max-width: @landscapeTabletPoint) {
      padding-top: 45px;
    }
  }

  .stream-link {
    top: 15px;
  }

  .top-title {
    background-color: @brand-color-secondary;
    position: relative;
    color: @color-white;
    z-index: 7;
    transition: 0s;

    @media screen and (max-width: @landscapeTabletPoint) {
      position: fixed;
      margin-top: -45px;
    }

    .event-title {
      color: @color-white;

      .filtered-time {
        font-weight: normal;
        line-height: normal;
        font-size: @font-size-sm;
      }

      .meeting-title {
        line-height: normal;
      }
    }

    .coupon-selector {
      .coupon-selector-icon {
        width: 15px;
      }

      .coupon-selector-arrow {
        width: 6px;
      }
    }
  }

  .timeform-trainer {
    font-size: 11px;
    width: 160px;

    span {
      font-weight: normal;
    }
  }

  .timeform-odds-small {
    font-size: 11px;
    color: lighten(@color-gray-dark, 50%);
    font-weight: normal;
    .timeform-label {
      margin-right: 3px;
    }
  }

  .coupon-selector-title {
    margin-top: -3px;
  }

  .list-item-link {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    font-size: @font-size;

    svg.item-next-arrow {
      height: 6px;
      margin-top: -3px;
      margin-right: 10px;
    }
  }
}

.racing-event-desktop .top-event-panel .race-details-container {
  height: auto;
}

.top-event-panel {
  .race-details-container {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px 16px 10px;
    background: @color-white;
    font-family: @base-font-family;
    .race-details-container-l {
      .display-flex();
    }
    .race-distance {
      margin-right: 24px;
      .value.racing-post-distance {
        text-transform: uppercase;
      }
    }
    .label {
      margin: 0 0 3px;
      color: @color-gray-dark;
      font-size: @font-size-md;
    }
    .value {
      color: @color-gray-dark;
      font-size: @font-size;
      font-weight: bold;
      padding-left: 5px;
    }
    .race-timer {
      .label,
      .value {
        display: block;
        color: @color-gray-dark;
        text-align: right;
      }
    }

    .notification-icon-wrapper {
      width: 33px;
      height: 26px;
      svg {
        fill: @brand-color-dark;
        height: 100%;
        width: 100%;
      }
    }

    @media (min-width: @tabletPoint) {
      .race-details-container-r {
        .display-flex();
        .align-items(center);
      }
      .value,
      .label {
        display: inline-block;
      }
      .label {
        margin: 0 2px 0 0;
      }
      .race-timer {
        .label,
        .value {
          display: inline-block;
        }
      }
    }
  }

  .racing-post-container {
    background: @color-white;

    .r-post-header {
      padding: 0 10px;
      position: relative;

      .r-post-logo {
        width: 145px;
        height: 15px;
      }
    }

    .r-post-text {
      font: @font-size-md @base-font-family;
      color: @color-gray-dark;
      line-height: @line-height-sm;
      padding: 10px 10px 15px;

      .r-post-btn {
        text-decoration: underline;
      }
    }
  }
}

  .toggle-icon {
    display: inline-block;
    padding: 0px 0px 0 5px;
    height: 11px;
    font-size: 9px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Lato;
    color: @color-blue;
    position: relative;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
      svg {
        position: relative;
        top: 0px;
        left: 0;
        width: 10px;
        height: 6.2px;
        fill: @color-blue;
        margin: 0px 0px 0px 3px;    
      }
      &.active svg {
        .transform(rotateX(180deg));
      }
  }

  .uk-tote-event .page-container.page-inner-container .new-race-card .odds-content .odds-left .odds-side {
    @media (min-width: @tabletPoint) {
      width: 20px;
      min-width: auto;
    }
  }

  .uk-tote-event {
    .odds-left {
      width: 100%;
      position: relative;
      padding-right: calc(4% + 10px);
      padding-left: 12px;

      .odds-side {
        width: 30px;
        min-width: 30px;
        font-size: @font-size;
        @media (min-width: @tabletPoint) {
          width: 50px;
        }
        .label-text {
          font-size: 9px;
          color: inherit;
        }
      }
      .silk-img {
        width: 30px;
        min-width: 30px;
        margin: 0 0 0 10px;

        &.has-img {
          margin: 0;
          width: 30px;
          min-width: 30px;
        }
      }
      gh-silk {
        margin: 0 0 0 10px;
      }
      .odds-names-list {
        line-height: 16px;
        margin-left: 10px;
        font-size: @font-size-md;
        @media (min-width: @tabletPoint) {
          margin-left: 15px;
          font-size: @font-size;
        }
        font-size: @font-size-md;
        .odds-names {
          font-size: @font-size;
          line-height: 17px;
          @media (min-width: @tabletPoint) {
            font-size: @font-size-tablet;
          }
        }
        .odds-small {
          color: lighten(@color-gray-dark, 50%);
          font-size: @font-size-md;
        }
      }
      .odds-names-list {
        margin-left: 12px;
      }
      .odds-names {
        .odds-names {
          margin: 0 !important;
          line-height: 17px !important;
        }
      }
      .odds-side {
        line-height: 17px !important;
        margin-left: -6px;
      }
    }
    .page-inner-container {
      .new-race-card {
        .odds-content {
          .toggle-icon {
            svg {
              fill: @color-black;
              position: static;
              width: 10px;
              height: 6px;
              margin: 0;
              display: block;
            }
            &.active svg {
              .transform(rotateX(180deg));
            }
          }
          .odds-left {
            .toggle-icon {
              position: absolute;
              top: 50%;
              right: 4%;
              margin-top: -3px;
              height: 6px;
  
              > span {
                display: none;
              }
            }
            .odds-side {
              width: 23px;
              min-width: auto;
              @media (min-width: @tabletPoint) {
                width: 50px;
              }
            }
          }
          .odds-right {
            position: relative;
            .toggle-icon {
              position: absolute;
              top: 50%;
              right: 100%;
              margin-top: -3px;
              height: 6px;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
