@import 'global.variables.less';

.result-table {
  width: 100%;
  background: @color-white;
  table-layout: fixed;

  caption {
    background: @color-gray-darker;
    border-color: @color-white;
    border-style: solid;
    border-width: 1px 0 1px;
    padding: 5px 15px;
    color: @color-gray-dark;
    text-align: left;
    font-size: 11px;
  }

  thead {
    border-bottom: 1px solid @border-color;
  }

  tfoot {
    .each-way {
      background: @color-gray;
      vertical-align: top;
      font-size: 11px;
      height: 26px;

      td:first-child {
        white-space: nowrap;
        text-align: left;
      }

      td:last-child {
        text-align: right;
      }
    }

    td.dividends {
      text-align: left;
    }
  }

  td {
    padding: 7px 10px;

    &.result-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:first-child, &:last-child {
      text-align: center;
    }
  }

  .sign {
    display: inline-block;
    font-weight: bold;
    color: @color-white;
    background: @color-gray-dark;
    border-radius: 10px;
    padding: 3px;
    height: 20px;
    width: 20px;
    font-size: 9px;
    left: 3px;
    top: -2px;
    position: relative;
    text-align: center;
    line-height: 15px;

    &.sign-2F {
      background: @brand-color-main;
    }

    &.sign-F {
      background: @color-green;
    }

    &.sign-JF, &.sign-2JF {
      background: lighten(@color-gray-dark, 50%)

    }
  }

  .dividends {
    font-size: 11px;
    background: @color-white;
  }

  .dividends-item-label {
    font-weight: bold;
  }

  .dividends-item {
    padding: 2px 0;
  }
}
