@import 'global.variables.less';

.forecast-tricast-race-card {
  .odds-content {
    .display-flex();
    .align-items(center);
    .justify-content(space-between);
    height: 40px;
    background: @color-white;
    border-top: 1px solid @color-gray-lighter;
  }
  .odds-side {
    margin-right: 3px;
    font-size: @font-size-tablet;
  }
  .odds-left {
    padding-left: 19px;
  }
  .odds-names {
    margin-left: 1px;
    padding: 0;
    color: @color-gray-dark;
  }
}
