<div class="splash-page" *ngIf="qeData && qeData.splashPage">
  <div class="qe-container">

    <button class="qe-btn-close" (click) = "closeApp();">
      <svg class="close-svg">
        <use xlink:href="#close-icon"></use>
      </svg>
    </button>

    <header class="qe-header">
      <img class="logo"
           *ngIf="qeData.splashPage?.logoSvgUrl"
           [src]="qeData.splashPage.logoSvgUrl"
           alt="logo">
      <p class="strap-line" [innerHTML]="qeData.splashPage.strapLine"></p>
    </header>
    <div class="qe-main-section">
      <a
         (click)="onCtaButtonClick()"
         class="main-btn"
         [disabled]="loginProcessing"
         [textContent]="loginProcessing ? btnProcessingMsg : qeData.splashPage.ctaButtonText"
         href="javascript:void(0)">
      </a>
      <div class="qe-main-section-item" *ngIf="qeData?.splashPage?.showPreviousGamesButton && previousResults && isUserLoggedIn">
        <a class="qe-main-section-link"
          [routerLink]="['/correct4/after/previous-results']"
        >
          <span>Previous Results</span>
          <svg class="arrow-icon next-arrow qe-main-section-svg">
            <use xlink:href="#next-arrow"></use>
          </svg>
        </a>
      </div>
      <qe-footer></qe-footer>
      <img class="promo-logo"
           *ngIf="qeData.splashPage.footerSvgUrl"
           [src]="qeData.splashPage.footerSvgUrl"
           alt="promoLogo">
      <p class="bottom-text" [textContent]="qeData.splashPage.footerText"></p>
    </div>
  </div>
</div>
