@import '../../assets/styles/general.less';

.splash-page {
  box-sizing: border-box;
}

.qe-header {
  padding-top: 61px;
}

.logo {
  box-sizing: border-box;
  margin: 0 auto 20px;
  max-height: 45px;
  display: block;
}

.strap-line {
  font-size: 13px;
  text-align: center;
  margin-bottom: 35px;
}

.promo-logo {
  margin: 0 auto 25px;
  display: block;
  max-height: 55px;
}

.bottom-text {
  font-size: 10px;
  text-align: center;
}
.qe-main-section{
  &-item {
    text-decoration: none;
    margin-bottom: 5px;
    .display-flex();
    .align-items(center);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
  }

  &-link {
    width: 100%;
    cursor: pointer;
    padding: 12px;
    .display-flex();
    .justify-content(space-between);
    .align-items(center);
    position: relative;
    &:hover {
      text-decoration: none;
    }
    &.active {
      opacity: .5;
    }
  }

  &-svg {
    width: 6px;
    height: 10px;
    fill: white;
  }
}
