@import 'global.variables.less';

betslip-counter:host {
  .display-flex();
  min-width: 25px;
  height: 21px;
}

.bet-counter-container {
  .flex(1, 1, auto);
  .align-items(center);
  background-color: @brand-color-dark;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  height: 21px;
  line-height: 21px;

  &.has-bets {
    color: @brand-color-main;
    background-color: @color-yellow;
  }
}
