@import './components/cahout-icon.less';
@import './components/odds-boost-page.less';
@import './components/odds-card-header.component.less';
@import './components/horse-race-grid.component.less';
@import './components/price-odds-button.component.less';
@import './components/racing-event.less';
@import '../../shared/components/oddsCard/odds-card.component.less';

@import './modules/tabs-panel.less';
@import './modules/race-card.less';
@import './modules/showAllButton.less';
@import './modules/ema.less';
@import './modules/spinner.less';

@import '../../shared/components/oddsCard/odds-card.component.less';
@import '../../promotions/assets/styles/main.less';
@import '../../racing/assets/styles/main.less';
@import '../../retail/assets/styles/main.less';
@import '../../betslip/assets/styles/main.less';
@import '../../bf/assets/styles/main.less';

// Default styles for bma app
sidebar, .side-page {
  line-height: normal;
  color: @color-black;
}

#content {
  background: @lGray-bg;
}

#page-content, #page-content #page-wrap-content {
  background: @lGray-bg;
}

.split-header {
  margin: 16px 0 12px;
  font-size: 12px;
  font-family: @alt-font-family;
  color: @lBlack-light;
}

#page-content {
 background: @lGray-bg;
}

.list-container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
}
