@import 'global.variables.less';

.total-fee.total-fee-betslip {
  padding-top: 0;
  padding-bottom: 16px;
}

.total-fee.total-fee-place {
  text-align: left;
  padding: 0 16px 16px;
}

.bs-selections-wrapper {
  &.prevent-flickering {
    transform: translate3d(0, 0, 0);
  }
}

betslip:host {
  .bs-content {
    &:not(.bs-content-height) {
      @media only screen and (min-width: @tabletPoint) {
        max-height: none;
      }
    }

    .bs-selections-wrapper {
      overflow: auto;
      max-height: none;
    }
  }

  .sk-container {
    height: 100%;
  }
}

