@import 'global.variables.less';

/*
* Style for confirmDialogs: exit and submit
*/
::ng-deep {
  .confirm-dialog, .confirm-exit-dialog {
    .modal-dialog .modal-content .modal-body {
      color: black;
      font-size: 12px;
    }
    .modal-dialog {
      width: calc(100% - 40px);
      .modal-header {
        display: block;
        margin-bottom: 0;
        background: white;
        padding: 25px;
        img {
          display: block;
          margin: 0 auto 15px;
          max-height: 60px;
        }
        .btn-close {
          display: none;
        }
        span {
          font-size: 18px;
          font-weight: bold;
          display: block;
          margin: auto;
          color: @color-blue;;
          text-align: center;
          text-transform: none;
        }
      }
      .modal-content {
        width: 100%;
      }
      .modal-body {
        text-align: center;
        .btn-list {
          margin-top: 20px;
          .btn.btn-submit, .btn.btn-continue {
            width: 200px;
            height: 37px;
            border-radius: 22px;
            font-size: 12px;
            background-color: @color-green;;
            color: white;
            margin: 0 auto;
            display: block;
          }
          .btn.btn-submit__processing {
            width: 200px;
            height: 37px;
            border-radius: 22px;
            font-size: 12px;
            color: white;
            margin: 0 auto;
            display: block;
            background: @color-green-light;
            color: @color-green-dark;
          }
          .btn-handle {
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            color: @lBlack-light;
            background: transparent;
            padding-top: 10px;
            padding-bottom: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

@media @mqTabletAndDesktop {
  ::ng-deep {
    .confirm-dialog, .confirm-exit-dialog {
      .modal-dialog {
        width: 350px;
      }
    }
  }
}
