@import 'global.variables.less';

@carouselHeight: 64px;

:host {
  .carousel-menu {
    height: @carouselHeight;
    color: @color-white;
    position: relative;
  }

  .scroll-container {
    background: @lGray;
    width: 100%;
    position: relative;

    .scroll-inner {
      padding: 0;
    }
  }

  .carousel-menu {
    li {
      display: inline-flex;
      list-style: none;
      margin: 0;
      vertical-align: top;
      text-align: center;
      height: @carouselHeight;
      width: auto;
      min-width: 60px;

      .menu-item {
        padding-top: 5px;

        display: inline-block;
        color: inherit;
        position: relative;
        text-decoration: none;
        height: 100%;
        width: 100%;
        border: none;
      }

      .submenu-list-title {
        display: block;
        margin: 0 auto;
        padding: 0 4px;
        line-height: 10px;
        text-align: center;

        font-family: @alt-font-family;
        font-weight: normal;
        text-transform: none;
        font-size: 10px;
      }

      .submenu-list-icon {
        height: 32px;
        width: 32px;
        margin-bottom: 0;
        fill: #fff;
      }

      .count-label {
        text-align: center;
        border-radius: 30px;
        overflow: hidden;
        position: absolute;
        font-size: @font-size-xs;
        line-height: 15px;
        font-family: @base-font-family;
      }
    }
  }

  &.inplay-carousel {
    .carousel-menu {
      .scroll-container {
        background: @lGray;
      }

      .scroll-inner {
        padding-left: 8px;
      }

      li {
        .submenu-list-icon {
          margin-bottom: 4px;
        }

        .count-label {
          line-height: 13px;
        }

        &.active {
          .menu-item {
            color: @color-yellow-alt;

            svg {
              fill: @color-yellow-alt;
            }
          }
        }
      }
    }
  }
}
