<div class="sk-container" [ngClass]="{'sk-loading': state.loading}" >
  <loading-screen [displayed]="state.loading && !state.error" [templateType]="'GENERIC_FULL'"></loading-screen>
  <ng-container *ngIf="!state.loading && !state.error">
    <div class="promotion-container tab-content" data-crlat="tabContent">
      <div *ngIf="validPromotion; else noPromoBlock" class="container">
        <accordion [isExpanded]="isExpanded[0]"
                   [render]="true"
                   [pcTextBlock]="true"
                   (function)="changeAccordionState(0, $event)"
                   data-crlat="promotion.content">
          <left-side>
            <span class="left-title-text" [i18n]="validPromotion.title" data-crlat="headerTitle.leftMessage"></span>
          </left-side>
          <accordion-body>
            <p class="text-center">
              <img *ngIf="validPromotion.uriMedium" [attr.src]="validPromotion.uriMedium" class="max-width" data-crlat="uriMedium">
            </p>
            <div [innerHtml]="validPromotion.safeDescription" class="short-description" [attr.id]="'promo-descr'" data-crlat="promoDescription"></div>
          </accordion-body>
        </accordion>
        <accordion [isExpanded]="isExpanded[1]"
                   [render]="true"
                   [pcTextBlock]="true"
                   (function)="changeAccordionState(1, $event)"
                   *ngIf="!!validPromotion.htmlMarkup"
                   data-crlat="tac">
          <left-side>
            <span class="left-title-text" [i18n]="'promotions.termsAndConditionsLabel'" data-crlat="headerTitle.leftMessage"></span>
          </left-side>
          <accordion-body>
            <div [innerHtml]="validPromotion.safeHtmlMarkup" [attr.id]="'terms-and-cond'" data-crlat="promoDetails"></div>
          </accordion-body>
        </accordion>
      </div>

      <ng-template #noPromoBlock>
        <div class="item-inner text-center">
          <strong [i18n]="'promotions.noPromo'" data-crlat="noPromotion"></strong>
        </div>
      </ng-template>
    </div>
  </ng-container>
</div>
