<ng-container [ngSwitch]="componentName">
    <favourites-matches *ngSwitchCase="'favourites'"
                        [widget]="'favouritesWidget'"
                        [isWidgetColumn]="true"
                        data-crlat="favouritesWidget">
    </favourites-matches>

    <w-betslip *ngSwitchCase="'betslip'"></w-betslip>

    <w-mini-games-iframe *ngSwitchCase="'mini-games'"></w-mini-games-iframe>

    <w-match-centre *ngSwitchCase="'match-centre'"></w-match-centre>

    <next-races-module *ngSwitchCase="'next-races'"
                       [moduleType]="'horseracing'"
                       [raceIndex]="'next-races-right-column'"
                       [showLoader]="true"
                       [hostContext]="'featured-races'"
                       [widget]="true">
    </next-races-module>

  <offer-section *ngSwitchCase="'offers'"></offer-section>
</ng-container>
