@import 'global.variables.less';

@spinner-size: 17px;
@spinner-color: #fff;
@spinner-border: 2px;

spinner:host {
  position: relative;
  margin: -@spinner-border 5px;
  .rgba-color(@spinner-color, .4);
  border: @spinner-border solid @result;
  border-left-color: @spinner-color;
  display: inline-block;
  border-radius: 50%;
  width: @spinner-size;
  height: @spinner-size;
  line-height: @spinner-size;
  transform: translateZ(0);
  .animation(spinner 1.1s infinite linear);

  @-webkit-keyframes spinner {
    0% { webkit-transform: rotate(0deg); }
    100% { webkit-transform: rotate(360deg); }
  }
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
