<div class="quickbet-quick-stake" [ngClass]="{'disabled': disabled}" data-crlat="quickStakePanel">
  <div class="qb-quick-stake-item"
       *ngFor="let item of quickStakeItems; trackBy: trackByIndex;"
       (click)="setQuickStake(item)"
       data-crlat="quickStake.key">
    <span [textContent]="quickStakePrefix"></span><span [innerHTML]="item"></span>
  </div>
</div>
