//Global styles
@import 'global.variables.less';

/* Quick state section */
.quickbet-quick-stake {
  .display-flex();
  height: 40px;
  width: 100%;
  background: @color-white;
  padding: 0 0 15px 0;
  box-sizing: content-box;
  position: relative;

  .qb-quick-stake-item {
    width: 25%;
    background: @lGray;
    text-align: center;
    padding-top: 10px;
    color: @color-white;

    &:first-child {
      margin-left: 12px;
    }

    &:last-child {
      margin-right: 12px;
    }

    &:before {
      content: attr(data-currency);
    }
    & + .qb-quick-stake-item {
      margin-left: 2px;
    }

    span {
      font-weight: bold;
      font-size: 13px;
    }

    span:first-child {
      letter-spacing: 1px;
    }
  }
}
