@import 'global.variables.less';

.vn-bma {
  build-race-card {
    .build-card-top {
      padding: 15px 12px;
      height: 70px;
      background: @color-white;
      margin-bottom: 8px;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      .display-flex();
      .align-items();
    }

    .featured-racing-tab {
      position: relative;
    }

    .build-card-description {
      .flex-grow(1);
      color: @color-gray-darkest;
      .build-card-text {
        font-size: @font-size-lgr;
        font-family: @alt-font-family;
        margin: 0;
        line-height: initial;

        .build-card-text-highlighted {
          font-weight: bold;
        }
      }
      .build-card-additional-text {
        font-size: @font-size;
        font-family: @alt-font-family;
        margin: 0 10px 0 0;
        line-height: initial;
      }
    }

    .build-card-button {
      .align-items();
      .flex-grow(1);
      .justify-content(flex-end);
      text-transform: uppercase;
      background: @color-green;
      color: @color-white;
      font-size: @font-size-bit-lgr;
      line-height: 44px;
      font-weight: bold;
      padding: 0 10px;
      min-width: 150px;
      height: 44px;
      border: none;
      border-radius: 2px;
      &.exit-builder {
        color: @color-gray-darkest;
        background: transparent;
        text-decoration: underline;
        font-size: @font-size-bit-lgr;
        padding: 0;
        text-align: right;
        svg {
          width: 10px;
          height: 10px;
          margin-left: 10px;
        }
      }
    }

    .build-card-limit-message {
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 10px;
      background: @color-white;
      height: 48px;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      svg {
        width: 15px;
        height: 15px;
        min-width: 15px;
      }
      span {
        font-family: @alt-font-family;
        letter-spacing: 0;
        margin: 0 0 0 8px;
        font-size: @font-size-tablet;
        color: @lBlack-medium;
      }
    }

    .build-card-buttons-bottom {
      .display-flex();
      height: 54px;
      padding: 5px 12px;
      background: @color-white;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .build-card-button-bottom {
      .flex(1,1,50%);
      .align-items();
      text-transform: uppercase;
      height: 44px;
      border: none;
      background: transparent;
      font-weight: bold;
      color: @lBlack-light;
      border-radius: 2px;
      font-size: @font-size-bit-lgr;
      cursor: default;
      &.active {
        cursor: pointer;
        color: @lBlack-medium;
      }
    }
    .build-card-button-bottom-left {
      text-decoration: underline;
    }
    .build-card-button-bottom-right {
      background: @color-green-disabled;
      color:  @color-white;
      margin-left: 5px;
      &.active {
        background: @color-green;
        color:  @color-white;
      }
    }

    .build-card-bottom {
      margin-bottom: 10px;
      z-index: 11;
      &.sticky-on {
        position: fixed;
        top: 0;
      }
      &.sticky-on-hidden {
        display: none;
        top: 0;
      }
    }
  }
}
